[2018-05-22 05:35] #2808 closed

[2018-05-22 05:36] akallabeth commented on #4667
Which version did you use? Nightly/self compiled/...

[2018-05-22 07:18] 2f6465762f6e756c6c commented on #4663
@p-pautov
Thanks for the useful return code table link.
I don't have the permissions to modify the RAP of the Gateway myself, but I'll write to the people in charge.

[2018-05-22 07:53] sliencestorm-wyw opened #4669 "Unknown key with X keycode"
When I used a software（VNC protocol） to using freerdp. when I used local keyboard's input method.
It will print “Unknown key with X keycode xxxxxx”.Just use English input is right. The windows system code is unicode . But the linux is utf-8. Is it not incompatible with the unicode ? Or  it must use utf-8？

[2018-05-22 08:12] adityasood11 commented on #4666
I can see that after successful building my solution file.
The final build result is
44 Succeeded , 0 failed and 2 SKIPPED.

I am guessing that the build getting skipped might contain my wfreerdp-server file.

[2018-05-22 09:35] adityasood11 commented on #4666
The two projects that are getting skipped are
INSTALL AND PACKAGE (my guess is they are of root directory containing the main solution file)

[2018-05-22 10:31] akallabeth commented on #4667
Yes, this seems like a serious issue.
Still, the info about the client requested in the issue template would be highly appreciated as it cuts down time for analysis/fix/test etc.

[2018-05-22 10:40] VizXu commented on #4667
thank for you reply, I really appreciate you can fix the bug as soon as possible.

[2018-05-22 12:09] 2f6465762f6e756c6c commented on #4663
I can confirm that Channel error 800759da is due to the RAP  configuration of the Gateway.
The policy was temporary modified to allow any and it worked.

[2018-05-23 06:15] adityasood11 commented on #4666
I have somehow been able to build the remaining 2 projects.
 After successfully building all the projects , stll i am NOT able to generate SERVER file for WINDOWS.

[2018-05-23 07:09] adityasood11 commented on #4666
These are the files that are created after the final building of solution file

![image](https://user-images.githubusercontent.com/30553910/40408741-2d1d8dfe-5e86-11e8-9e4c-360c689c4962.png)

![image](https://user-images.githubusercontent.com/30553910/40408783-50cf66fa-5e86-11e8-89b2-9592c300a716.png)

[2018-05-23 08:51] Waltcap commented on #4337
Hello,
do you have found a solution on this problème ?
Because i have the same problem but i do not find the solution.

[2018-05-23 09:39] finepeilei opened #4670 "Some bug about remoteapp function on wfreerdp"
i have built wfreerdp.exe on vs2013，when i use the remoteapp function by wfreerdp.exe，the performance is bad，there are two picture about the app pictures, such like this

![wfreerdp bug](https://user-images.githubusercontent.com/39258785/40416003-d24097d6-5eae-11e8-8259-2a86977673cc.jpg)

then  the windows will close without any action in sometimes. And the mouse and keyboard is unuseable in the a

[2018-05-23 14:19] miibow opened #4671 "I want that copying text from windows to ubuntu is permitted but reversed is not,what should I do with the clipboard?"
## Found a bug? - We would like to help you and smash the bug away.
1. __Please don't "report" questions as bugs.__
  * We are reachable via IRC _#freerdp on freenode_
  * We are reachable via mailing list <freerdp-devel@lists.sourceforge.net>
  * Try our mailing list for discussions/questions
1. Before reporting a bug have a look into our issue tracker to see if the bug was already reported and y

[2018-05-23 16:17] sebastianuw commented on #4663
I've been getting the same

`[ERROR][com.freerdp.core.nego] - Protocol Security Negotiation Failure
[ERROR][com.freerdp.core] - freerdp_set_last_error  ERRCONNECT_SECURITY_NEGO_CONNECT_FAILED [0x0002000C]
[ERROR][com.freerdp.core.connection] - Error: protocol security negotiation or connection failure  `

when connecting to Windows 2016 RDS farms. I've experienced this on both Centos 7.4 and 7.5.

[2018-05-23 20:29] #4671 closed

[2018-05-24 02:01] finepeilei commented on #4666
i have not bulit the wfreerdp-server on windows,the server is deploy according to the windows rdp server!

[2018-05-24 05:50] adityasood11 commented on #4666
@finepeilei So you are just connecting your freerdp client to microsoft's server?

[2018-05-24 06:32] raid2000 commented on #4656
This is very common resolution of laptop, does anyone can confirm this problem and fix it?

thanks

[2018-05-24 07:25] giox069 opened #4672 "Compilation should stop when libavresample files are not found and -DWITH_FFMPEG=on is forced"
I'm using -DWITH_FFMPEG=on to ensure that the final compiled binaries for libfreerdp have the appropriate ffmpeg (libavcodec/libavutil/libavresample) support:

[code]

In this case, the error of missing libavresample is detected by the linker during the link phase, so the compilation process terminates with an error. And this is ok: a build script can detect it.

But
[code]

In this case there is

[2018-05-24 07:59] finepeilei commented on #4666
@adityasood11 yes~

[2018-05-24 08:02] adityasood11 commented on #4666
@finepeilei Any idea how to build wfreerdp-server on window 10 64bit ?|

I have already created wfreerdp(client) , freerdp-shadow-cli and sample server on my system.

[2018-05-24 08:39] informatimago commented on #2260
This is not an issue with FreeRDP, but as the error message clearly states, this is an issue with your certificate.  When you generate your own certificate, you must concatenate the CA chain, up to a known CA, or your self-signed CA root.

See for example: https://raymii.org/s/tutorials/OpenSSL_command_line_Root_and_Intermediate_CA_including_OCSP_CRL%20and_revocation.html

[2018-05-25 05:40] VizXu commented on #4667
it there any update of this issue?

[2018-05-25 08:01] informatimago opened #4673 "Devel: where is the script processing rdpSettings?"
Sorry to ask here; I subscribed to freerdp-devel@sourceforget.net, but my emails get rejected for "unknown user" (and yes, I checked that I was sending them from the same address as in my sourceforge account).  In the meantime, could you tell me:

In settings.h, there's a section of \#defines with a comment indicating that it is generated automatically by a script parsing the rdpSettings data stru

[2018-05-25 09:44] adityasood11 commented on #4666
![image](https://user-images.githubusercontent.com/30553910/40538076-427cd232-602e-11e8-91a2-c2697e8879b2.png)

[2018-05-25 11:03] mihaivirag commented on #4525
Will this bug be fixed soon?

[2018-05-25 11:07] informatimago commented on #4673
Note, if it doesn't exist, I just wrote one; it'll be commited soon and PR'ed later.

[2018-05-25 13:47] Zjemm commented on #4668
I have the same thing:

[2018-05-25 16:06] skummer101 opened #4674 "BadWindow"
**Describe the bug**
After running the following command and attempting to use the mouse scroll wheel; the following crash occurs.

Command:
xfreerdp +fonts +clipboard /sec:tls /cert-ignore /u:user@domain.com /v:server.domain.com /app:"||powershell"

Error:
X Error of failed request: BadWindow (invalid Window parameter)
Major opcode of failed request: 20 (X_GetProperty)
Resource id in failed reque

[2018-05-26 05:23] #4666 closed, assigned to nobody

[2018-05-26 05:54] adityasood11 opened #4675 "ContextNew callback failed. Failed to create new peer context"
[11:19:54:567] [25920:000073fc] [INFO][com.freerdp.server.windows] - screen id not provided. attempting to detect...
[11:19:54:567] [25920:000073fc] [INFO][com.freerdp.server.windows] - Detecting screens...
[11:19:54:569] [25920:000073fc] [INFO][com.freerdp.server.windows] - ID Resolution              Name (Interface)
[11:19:54:574] [25920:000073fc] [INFO][com.freerdp.server.windows] - 0  1536x864

[2018-05-26 11:07] goshavart opened #4676 "askina"
Здравствуйте. Давно слежу за продвижением вашего проекта, который мне сразу понравился.
и поскольку свой уже закончил решил дать вам несколько советов, которые, на мой взгляд,
вам помогут.

К сожалению, необходимо менять структуру проекта.
Вот например как сделал я:
1) BitBlt, CGContextDraw и прочее во внутренние хранилище (1600х900=5mg)
2) сверка изменений.
3) wic, gdi и прочее для кодирования в

[2018-05-28 01:34] VizXu commented on #4667
any updates？

[2018-05-28 06:44] akallabeth commented on #4673
No, currently there is none.
Would welcome a pull for your addition! Thx

[2018-05-28 06:45] akallabeth commented on #4669
This is #4215, there seems to be no proper solution.

[2018-05-28 06:45] #4669 closed

[2018-05-28 06:47] #4676 closed

[2018-05-28 06:50] #4675 closed

[2018-05-28 06:58] adityasood11 commented on #4675
@akallabeth Atleast give a reason before closing.

[2018-05-28 06:59] codemuse commented on #4668
I have the same issue, downgrading back to 2.0.0-rc1 didn't help for me either, so maybe it is a combination with another package upgrade. I'm on Arch Linux, if I can find what other upgrade broke it I'll report back.

[2018-05-28 07:00] akallabeth commented on #4668
Just did a diff between these versions (rc1 and rc2), the X11 client did not receive any keyboard related changes.

[2018-05-28 07:01] akallabeth commented on #4667
@VizXu Please stop spamming this thread, the issue will be fixed when there is time.

[2018-05-28 07:01] 2f6465762f6e756c6c commented on #4663
I think this issue should get added to the 2.0-rc3 milestone.
If i can do further tests to narrow the scope of the bug please let me know.
In my case the RDS SessionHosts, ConnectionBrokers and Gateways all run on Windows Server 2012 btw.

[2018-05-28 07:02] hardening commented on #4675
@adityasood11 could it be related to the fact that you've not provided infos as we suggest in the issue template....

[2018-05-28 07:03] akallabeth commented on #4663
So, is this issue resolved as 'not our fault' or do I misread this thread?

[2018-05-28 07:05] adityasood11 commented on #4675
@hardening Can you please elaborate?

[2018-05-28 07:06] akallabeth commented on #4525
@mihaivirag not on my high priority list, but pull requests are welcome. For the time being, it should suffice to force nla or tls authentication

[2018-05-28 07:07] 2f6465762f6e756c6c commented on #4663
@akallabeth I wouldn't say that, the error that me and 2 others received is due to RAP policy on the gateway. But the same policy doesn't fail when using 2.0.0-rc2 so a change to FreeRDP since then is at fault if you ask me.

[2018-05-28 07:13] adityasood11 commented on #4675
Steps to reproduce the error

Host System : Windows 10 64 bit
Visual Studio 15 2017

Uncommented add_subdirectory("Windows") in CMakeLists.txt in freerdp-2.0.0-rc2/server
After building solution i got the following errors
1. TAG undeclared identifier ( which i rectified by adding TAG MACRO DEFINITION in wf_mirage.c)
2. Some variables were not members of SURFACE_BITS_COMMAND ( i rectified it using

[2018-05-28 09:09] hardening commented on #4676
@goshavart spoken language for the FreeRDP project is English, please report issues in English.

[2018-05-28 09:13] goshavart commented on #4676
Hello. For a long time I've been following the progress of your project, which I immediately liked.
and since I've already finished I decided to give you some advice that, in my opinion,
you will be helped.

Unfortunately, it is necessary to change the structure of the project.
For example, as I did:

BitBlt, CGContextDraw and so on in internal storage (1600х900 = 5mg)
verification of changes.
wic

[2018-05-28 11:00] VizXu commented on #4667
@akallabeth  I added usleep and send_flow_control acknowledge in this thread and it seems work, but when I copy big file, for example 3GB，it also will be cut off. Besides, the mouse and keyboard input event will be delay and the windows seems to be frozen. So this maybe not a resolution but just a work-around.
Maybe your people have a well understand about rdp protocol and could give a resolution.

[2018-05-28 13:12] akallabeth commented on #4668
So, can this be closed?

[2018-05-28 13:16] codemuse commented on #4668
I would not think so, it seems that right ctrl ungrab doesn't work in combination with the latest xorg update. I guess that is not a bug in Xorg, but probably something that changed in Xorg that is problematic for FreeRDP, not?

I would propose someone else test with the latest Xorg to see if the issue is reproducable on other distributions. @charlesg99 seems to be on Arch Linux as well, what abou

[2018-05-28 13:33] akallabeth commented on #4672
@giox069 Thanks for the hint, have created a pull request to fix this (and sync the value to the actual state)

[2018-05-28 13:35] akallabeth commented on #4668
@codemuse wouldn't think that that is the case. We only check flags in xevents, so if that actually changed a lot of software is in deep trouble. Maybe some packaging issue with the latest version?

[2018-05-28 13:41] codemuse commented on #4668
Maybe. I filed https://bugs.archlinux.org/task/58756 in the Arch Linux bugtracker.

[2018-05-28 13:41] akallabeth commented on #4675
@adityasood11 So you try to compile something that was intentionally deactivated and are surprised that that does not work?
You're using something that is mostly a stub/relic/unused/unmaintained so I'd suggest firing up your debugger and fix the issues you encounter until it works for you.
We're happy to integrate fixes for every part of the project.

Side note: we are by no means wizards that can

[2018-05-28 13:54] simongebler opened #4678 "Touch input not working on lockscreen"
I stumbled across a problem with (multi)touch input across a RDP session
If the machine wouldn't be supposed to be touch only, this wouldn't be a big issue whatsoever

**What is the problem?**
As soon as the screen is locked, the touch input ceases to work completely.
This actually applies to UAC prompts as well, but disabling the Secure Desktop is a workaround for that

**To Reproduce**
1. Lock t

[2018-05-28 14:13] Zjemm commented on #4668
I'm also on arch and did a rollback xorg-server-common and rebooted my system. but it did not fix the issue

[2018-05-28 20:43] RaysonChacko commented on #4449
Hi Github team,
We have a terminal server and thinclients which uses ubuntu 14.0 connect to this terminal server using xfreerdp version 1.0.2 but after credssp latest update we are unable to get rdp sessions. our client is not feel secure to uncheck NLA authentication. is there any method to get rdp with current settings? i'm not a linux expert please guide me with detailed steps.

[2018-05-29 06:04] adityasood11 commented on #4675
I understand that. I wanted to share my issue so i can gain some insights on this from your team and i can work on my issue further.

[2018-05-29 06:20] hardening commented on #4675
@adityasood11 if you need help or want to ask questions please use IRC (#freerdp on freenode), this an issue tracker not a forum.

[2018-05-29 06:49] adityasood11 commented on #4675
I have entered IRC through mIRC software using #freerdp.

[2018-05-29 08:51] informatimago commented on #4675
Note, the correct url for irc channels is like : irc://irc.freenode.org/#freerdp
This has nothing in common with the links for email: mailto:user@domain
Sent from my iPad

[2018-05-29 09:37] adityasood11 commented on #4675
Thanks @informatimago :)

[2018-05-29 10:10] #4672 closed

[2018-05-29 12:04] timoc commented on #3602
Is htis merged into the nightlies?

[2018-05-29 12:23] andicheesi opened #4679 "/dynamic-resolution is broken"
The dynamic resolution feature is broken. Resizing windows results in unforeseen resize behavior. Especially at switching from fullscreen to smaller window and back.
One behavior are the drawing artifacts coming from resizing window from fullscreen to small resolution. So the screen content of fullscreen will stay in background
Other behavior is resizing from small resolution to fullscreen or othe

[2018-05-29 13:00] fnatter opened #4680 "freerdp2: /drive does not work with cmake"
**Describe the bug**

- I use freerdp-2.0.2-rc2 (I also tested with git master) to "tunnel" a linux directory into a windows (W7Pro) session:
xfreerdp -clipboard /drive:rdpnas2,/mnt/NAS2 /monitors:1 /multimon /v:MACHINE
- I assign a drive letter in the windows session:
  net use R: \\tsclient\rdpnas2
- I change to the drive:
  R:
- When I run cmake (on FreeRDP, see steps below), cmake tries to com

[2018-05-29 13:57] akallabeth commented on #4680
yes, the source is most likely in there.
would be interesting to find out why the file is not open in that instance.

[2018-05-29 14:18] akallabeth commented on #4679
Could you check if this is indeed a client error?
I've seen such a screenshot once and the reason was that the server side graphics driver was in a faulty state.
(we might have to tune the frequency of resolution updates if that is the case)

[2018-05-29 14:26] zlaxy commented on #2190
Same issue with Windows 2008 SP2 32 bit sessions. With latest freerdp2-x11_2.0.0~git201805221422-0+remmina201805230936.re90184c.d29dd283~ubuntu17.10.1_armhf on Armbian.
[code]
This error occurs in a random, sometimes several times a day.

Is there any known solution?

[2018-05-29 14:27] andicheesi commented on #4679
If I disable the the timer in xf_disp.c  and so I always call the  xf_disp_sendResize then I would get a much better behavior and display will be not distorted. The only problems then are :
- the slow performance
- if I cause a lot of resizing and then do fullscreen this event will come not as the last resize event

I fear the order of the x-events ( fullscreen and resize) is not garantueed.

[2018-05-29 15:00] hardening commented on #4679
and if you remove the timer it may also crash win2k12 (the server itself) when we send too many resizes.

[2018-05-30 04:00] raid2000 commented on #4585
same problem, but only with 1366x768 resolution

[2018-05-30 06:38] andicheesi commented on #4679
I see one bug now.
All events within the timeout will be blocked. And the problem is that all events after the last accepted resize events will be not done.  E.g. Resizing the the window several times and then press fullscreen --- very often the fullscreen will be ignored because it will be within the ignore timeout

[2018-05-30 07:07] hardening commented on #4679
@andicheesi yes I was not completely happy with the way I've managed resizes (so that we don't get too many of them). I guess I should have a look again on this.

[2018-05-30 08:45] andicheesi commented on #4679
I just did a rough prototype where I changed 3 things:
1. When I get a ConfigureNotify I do a XCheckTypedWindowEvent for this windows and just send out only the last one
2. I disabled all checks for timer and disabled all "delayed resize" code
3. I just sleep for 200ms after each xf_disp_sendResize if I am within the RESIZE_MIN_DELAY
Then everything works fine

[2018-05-30 09:52] informatimago opened #4682 "Compilation fails with CheckSymbolExists.c:8: undefined reference to `pthread_mutex_timedlock'"
**Describe the bug**

Compiling the latest commit fails finding pthread_mutex_timedlock
(while it can actually find it in pthread in the configuration phase).

**To Reproduce**
Steps to reproduce the behavior:
[code]
[cmake.log](https://github.com/FreeRDP/FreeRDP/files/2053386/cmake.log)
[CMakeError.log](https://github.com/FreeRDP/FreeRDP/files/2053389/CMakeError.log)
[CMakeOutput.log](https://git

[2018-05-30 10:15] akallabeth commented on #4682
@informatimago Looks like you misinterpreted the log files, the fix for your issue is in #4683 and has nothing to do with `pthread_mutex_timedlock`

[2018-05-30 10:17] ekorneechev opened #4684 "/drive and +drives dont work together"
If I use these keys together, only USB drives and gvfs are redirected. Home folder (or others)  not are redirected.

[code]

OS: Linux Mint 17.3
[code]
[code]

[2018-05-30 10:58] ekorneechev opened #4685 "xfreerdp doesnt start, if folder (in key /drive) doesnt exist"
**To Reproduce**
[code]
**Expected behavior**
Or as it was in 2.0.0-rc0: redirecting an empty folder and when copying files, creating it (if permissions are allowed). Or informing the user at startup xfreerdp that folder doesnt exist.

OS: Linux Mint 17.3
[code]
[code]

[2018-05-30 11:39] gnshkl1 opened #4686 "cmake not finding openh264 after commit 73588bc2b51a722d31acb81f905063cf896294c8"
OS:-ubuntu 12.04 _x86
cmake version 2.8.7

[2018-05-30 11:46] ekorneechev opened #4687 "Informing the user about error"
Add informing the user at startup xfreerdp when an error occurs in the option or a non-existent option
And do not just display usage....
Because if there are many options in the startup command, you have to delete one each to search for an error ...

[2018-05-30 14:14] hardening commented on #4685
IMHO, the best would be to print an explicit error message

[2018-05-30 14:24] trite2k3 commented on #4661
I'm sorry I cannot seem to figure out how to build nightly build.

[2018-05-30 14:32] rike50 opened #4688 "USB key detection"
Hi,

here is my configuration :

- Clients : different type of thin client igel, OS : Linux LX 10.04.100.01 (latest firmware) based on kernel 4.15.15, also tested with multiple previous firmware did not help
- Server : VM 2012 R2 Std (TSE)

- igelrdp 2.2 (shown with --version) is used (based on freerdp) with /usb:'rules:allow'. I can't use --buildconfig (maybe is there another option ?)

- Issue :

[2018-05-30 14:37] hardening commented on #4688
As you can guess we have enough with our bugs, we don't support the IGEL client even if it's based on FreeRDP.

[2018-05-30 14:37] #4688 closed

[2018-05-30 14:54] akallabeth commented on #4687
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2018-05-30 14:54] #4687 closed

[2018-05-30 15:12] ekorneechev commented on #4687
This is FR!! Please, reopen.

[2018-05-30 15:43] ekorneechev commented on #4685
And start without redirecting of this folder.

[2018-05-31 07:45] ekorneechev opened #4689 "[FR] Informing the user about command error details"
# Feature request
**Is your feature request related to a problem? Please describe.**
When an error occurs in the option or a non-existent option xfreerdp (any version)  doesnt informing user about this.

**Describe the solution you'd like**
Add informing the user at startup xfreerdp when an error occurs in the option or a non-existent option
And do not just display usage....
Because if there are m

[2018-05-31 10:10] zlaxy commented on #2190
It looks like running session with `-fast-path` parameter solves this problem in my case. 1,5days of stable working now.

[2018-05-31 10:53] adityasood11 commented on #4675
I was looking in the above error. Using VS Debugger i was checking for possible reasons behind the error.
The error which is produced above is in wf_peer.c

[code]

In the above code, ret variable should return 1 so that it will not enter the above section containing ContextNew Callback failed and Failed to create new peer context. But instead it is giving 0.

I added a breakpoint on this

`IFCALL

[2018-06-01 07:01] gnshkl1 commented on #4686
verified its fixed

[2018-06-01 07:09] akallabeth commented on #4685
@andycher11 what do you need that for? There is also hotplug support for external drives,

[2018-06-01 07:26] andycher11 commented on #4685
i use thinstation without GUI, and USB="/drive:'USB,/mnt/usbdevice/'" in freerdp.global for users who need usb drive redirection and CDROM="/drive:'CDROM,/mnt/cdrom0'"  who need cdrom. In rc2 this does not work, freerdp does not connect, if folder usbdevice does not exist. It appears if the user plug in the USB storage device. So user cannot connect to server without usb drive plugged

[2018-06-01 07:35] ganeshjkale opened #4690 "Freerdp-2.0.0-rc4 /video has graphics artifacts issue when used with /gdi:sw or /gdi:hw"
client OS :- ubuntu 12.04 x86
server OS :- windows 10 x64

How to reproduce:-
1:-do some heavy operation of graphics content

[2018-06-01 07:36] gnshkl1 commented on #4690
after removing /video from command line issue does not reproduce

[2018-06-01 08:30] ekorneechev commented on #4685
@akallabeth #4684 /drive and +drives dont work together...

[2018-06-01 09:20] akallabeth commented on #4685
@andycher11 `/drive:auto,*` should do the trick to automatically redirect freshly mounted drives
@ekorneechev I don't understand what these two options have to do with this issue

[2018-06-01 09:47] ekorneechev commented on #4685
@akallabeth "There is also hotplug support for external drives" -> i thought about '+drives'

[2018-06-01 09:55] ekorneechev commented on #4684
The same problem occurs with the following command (home folder not are redirected.):
`$ xfreerdp /v:server /u:user@domain /p:passwd -sec-nla /drive:home,/home/user /drive:auto,*`

[2018-06-01 11:37] informatimago opened #4691 "Developer Documentation: creation of a new test directory?"
**Is your feature request related to a problem? Please describe.**

I created a new test directory with a new test (eg. channels/smartcard/client/test/); I created a CMakeLists.txt file in there listing my test sources.  However, those tests don't get compiled and run. What shall I do to register them? (I tried to grep other test names or test directory parent names without finding obvious referen

[2018-06-01 11:45] informatimago commented on #4691
I found that adding:
[code]
in the CMakeLists.txt of the parent directory made it compile the tests.  Is that the right way to do it?

[2018-06-01 12:07] informatimago commented on #4691
Also needed in test/CMakeLists.txt specifying the library of the module to link with, eg. smartcard-client in this example:
[code]

[2018-06-01 14:04] nathankurtyka opened #4692 "ChromeOS (Crostini) multi-monitor not working"
Hello!

I'm attempting to use FreeRDP on ChromeOS/Crostini, and have found that multi-monitor support doesn't work. /monitor-list will correctly list the monitors, but I'm unable to get 2 displays.

I'm definitely in the minority using Crostini, but there will probably be more of us once Google promotes the feature from their Dev channel.

Let me know what data I can provide. But below are the ver

[2018-06-01 14:15] gnshkl1 opened #4693 "microphone issue with alsa and pulse backend commit:-73588bc2b51a722d31acb81f905063cf896294c8"
client OS :- Xubuntu  16.04 _x86
server OS :- windows 2016

xfreerdp /cert-ignore -toggle-fullscreen /title:xxxx  /bpp:32 /f    /sound /microphone:sys:alsa  /d:xxx /u:xxxx  /v:xxxx  /p:xxx
[14:11:05:269] [2967:2968] [INFO][com.freerdp.client.common.cmdline] - loading channelEx rdpdr
[14:11:05:269] [2967:2968] [INFO][com.freerdp.client.common.cmdline] - loading channelEx rdpsnd
[14:11:05:269] [2967

[2018-06-01 14:23] gnshkl1 commented on #4693
no microphone input working either with alsa or pulse backend
Floating point exception with pulse backend
it was working with commit version :-This is FreeRDP version 2.0.0-dev (git 2.0.0-rc0)

[2018-06-01 15:38] akallabeth commented on #4693
Nightly self compiled or system package? Output of /buildconfig?

[2018-06-01 15:39] akallabeth commented on #4693
Also check with nightly if already fixed (if not already done)

[2018-06-01 15:45] hardening commented on #4691
@informatimago there's some nice web interface for IRC...

[2018-06-01 21:21] hardening commented on #4692
Hum, for some reason both of your monitors are in (0,0), that may explain your issue...

[2018-06-02 01:44] nathankurtyka commented on #4692
Interesting! FWIW, I believe that 0,0 is how Crostini will report all displays.

Is there any workaround if that's the data returned by the OS?

[2018-06-02 07:30] hardening commented on #4692
well it looks like a crostini bug in their Xrandr or Xinerama implementation (don't know which one we're using in this case)

[2018-06-02 07:31] alexus26 commented on #4693
xfreerdp /buildconfig
This is FreeRDP version 2.0.0-dev3 (n/a)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=off HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIB=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK_SYMBOL= HAVE_SYSLOG_H=1 HAVE_SYS_EVENTFD_H=1 HAVE_SYS_FILIO_H= HAVE_SYS_MOD

[2018-06-04 08:08] akallabeth commented on #4693
Looks like a bug in `freerdp_dsp_encode_ms_adpcm`

[2018-06-04 08:17] akallabeth commented on #4690
could you add the output of `/buildconfig`?

[2018-06-04 09:22] gnshkl1 commented on #4690
@akallabeth
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIB=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK_SYMBOL= HAVE_SYSLOG_H=1 HAVE_SYS_EVENTFD_H=1 HAVE_SYS_FILIO_H= HAVE_SYS_MODEM_H= HAVE_SYS_SELECT_H=1 HAVE_SYS_SOCKIO_H= HAVE_SY

[2018-06-04 09:26] gnshkl1 commented on #4690
openh264 version 1.7.0 used

[2018-06-04 09:29] #4693 closed

[2018-06-04 10:08] andycher11 commented on #4685
with /drive:auto,* freerdp connects, but drive not redirects, +drives doesnt work too. I tried on ubunru 1804 and on thinstation.
This is FreeRDP version 2.0.0-rc2 (2.0.0-rc2)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLOC

[2018-06-04 10:08] gnshkl1 commented on #4660
@yoklmn screen recording does not showing any graphics artifacts issue.

[2018-06-04 10:17] gnshkl1 commented on #4536
@akallabeth , i think @jignesh-kumar is pointing the issue with rail remote appliations lauched from same server with single PID instead of muliple PID for multiple remote applications.
 i have also seen same issue before .
May be Freerdp is designed to work like this .

[2018-06-04 10:33] yoklmn commented on #4660
@gnshkl1 artifact shows on 01:04 on the tape. Here is screenshot from that screen recording http://prntscr.com/jqlt6w

[2018-06-04 10:35] gnshkl1 commented on #4690
@akallabeth  FFMPEG backend is only used for multimedia redirection right ?
i am testing with windows 10 x64 OS (windows 10 not support multimedia redirection as per RDP protocol
specification)
so is there any relation between openh264 with ffmpeg for such test case.

[2018-06-04 12:00] akallabeth commented on #4690
@gnshkl1 No, a FFMPEG backend has been added for the gfx (and video) channel as well as sound and microphone redirection

[2018-06-04 12:02] akallabeth commented on #4660
@yoklmn Could you run with `/lob-level:trace` and add the log? Would be interesting which operation is failing there.

[2018-06-04 12:31] gnshkl1 commented on #4690
@akallabeth
i have disabled ffmpeg and  gstreamer while compiling freerdp still my microphone and sound is working ,
also +gfx-h264 is working properly.

[2018-06-04 12:36] gnshkl1 commented on #4690
@akallabeth can you please explain how we will get optimized video playback using /video plugin
also is there any recommended command line for same.

[2018-06-04 12:46] akallabeth commented on #4690
@gnshkl1 FFMPEG is only one possible backend, there are others too ;)
Trying to figure out why you have artifacts, did not have them on my test machines and one of the first things that can produce issues is the H264 decoder used.

As for optimized video, you need a server supporting the channel and the video must be h264

[2018-06-04 13:02] PadreAdamo opened #4695 "Constantly getting disconnected from remote sessions"
This previous bug report was posted on Remmina issue tracker: https://github.com/FreeRDP/Remmina/issues/1494

I have used two different distros and both have the same issue with constantly getting disconnected from the remote session. Remmina just closes out my session. Windows RDP stays connected all day until I close it; Remmina just closes my session. This has been occurring for about two month

[2018-06-04 13:15] akallabeth commented on #4695
Duplicate of #2190, server side bug, sorry. You need to change your connection options.

[2018-06-04 13:15] #4695 closed

[2018-06-04 13:23] PadreAdamo commented on #2190
*POSSIBLE SOLUTION* Oddly enough "Disabled Fast-Path" is so far working for me over the past 30 minutes.

[2018-06-06 04:17] varunatarcon opened #4696 "Smart Sizing not working"
**Describe the bug**
Smart sizing not working with Ubuntu 16.04.3. With FreeRDP v1.1 it shows no error, yet smart sizing does not work. But with FreeRDP v2.0rc2 it shows Xrender not available, disabling smart-sizing. I am unable to resize window or maximize window.

**To Reproduce**
Use /smart-sizing

**Expected behavior**
Cannot resize rdp window. And maximize button is not available too.

** App

[2018-06-06 07:10] akallabeth commented on #4696
@varunatarcon do you use self compiled or nightly for 2.0? Output of `/buildconfig` please

[2018-06-06 07:15] varunatarcon commented on #4696
@akallabeth Here is output:

This is FreeRDP version 2.0.0-rc2 (2.0.0-rc2)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIB=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK_SYMBOL= HAVE_SYSLOG_H=1 HAVE_SYS_EVENTFD_H=1 HAVE_SYS_FILIO_H= H

[2018-06-06 07:17] akallabeth commented on #4696
then better compile with the randr extensions development package installed ;)

[2018-06-06 07:18] akallabeth commented on #4696
you seem to lack a few X11 related packages (xcursor, xfixes, ...)

[2018-06-06 07:18] #4696 closed

[2018-06-06 08:07] T3N4K4 commented on #4690
@gnshkl1 do you get the fragments / artifacts with the video or with other graphical content? I had the same problem some days / months ago with the desktop icons which would show up black or with artifacts.

@akallabeth I think any "moving" picture will do.

@hardening said that time it could be a server problem.

[2018-06-06 09:12] cubic599 opened #4697 "There is no way to ignore proxy in env.var"
I added "no_proxy" in env.var and tried use freerdp with "/proxy:" but i could not connect to the RDP Server.

My situation is:

I have a proxy in my LAN and I set it as env.var

admin@dt1:~$ cat /etc/environment
PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
no_proxy=127.0.0.1,localhost
http_proxy=http://192.168.2.253:3128/
https_proxy=http://192.1

[2018-06-06 09:47] oliverkasten opened #4698 "Reconnect with Multitouch-Support causes segmentation fault"
I started xfreerdp in the following way:

xfreerdp /v:<Server-IP> /u:<User> /p:<Password> /w:1280 /h:1024 +auto-reconnect /auto-reconnect-max-retries:1000 +multitouch

After establishing the connection, I removed the network cable for some seconds and re-attach it. Than I got a segmentation fault in channels/client/drdynvc_main.c:

static void VCAPITYPE drdynvc_virtual_channel_open_event_ex(LPVOID

[2018-06-06 12:01] hardening commented on #4697
Yeah we don't implement anything regarding the `no_proxy` env var.
I've always think that using http_proxy without specifing anything was not a good idea BTW. You can workaround the "behaviour" (bug ?) by unsetting the `http_proxy` and `https_proxy` env variables.

[2018-06-06 13:11] gnshkl1 commented on #4690
@T3N4K4 got artifacts with other  graphical content such as at time of reloading content in webpage ,fast tab switching

[2018-06-06 15:14] informatimago opened #4702 "static const literals used to initialize non-const, dynamically allocated fields."
There's a problem with the structure literals declared in
winpr/libwinpr/sspi/NTLM/ntlm.c: they have non-const fields that are
initialized with static const literals, and furthermore, there is a
deallocating function that calls free on those fields.  So instead of
initializing them with static literals, we should need a function to
initialize them dynamically, to be called early in the program
ini

[2018-06-07 08:16] akallabeth commented on #4690
@gnshkl1 Forgot to ask, normal windows 10 or insider?

[2018-06-07 09:01] gnshkl1 commented on #4690
@akallabeth windows 10 enterprise 2016 LTSB

[2018-06-07 11:11] informatimago commented on #4691
Hi!
I've added a wiki page documenting this procedure.
https://github.com/FreeRDP/FreeRDP/wiki/Add-a-new-test-subdirectory
I guess you may close the issue now.
Thanks.

[2018-06-07 12:40] varunatarcon opened #4703 "Guest to host file copy paste not working"
**Describe the bug**
Copying file from guest to host is not working. But working other way. Bidirectional copy paste is supported for text though

**To Reproduce**
1. Copy a file from guest machine.
2. Paste it on host machine

**Expected behavior**
File must be copied to host machine.

** Application details
* Version of FreeRDP: FreeRDP v2.0.0 dev3
* Command line used:
xfreerdp /v:<someip> /u:<s

[2018-06-07 12:44] licarigianluca opened #4704 "\multimon work but inverted display order"
Hi,

there is a way to change monitor order when we are connecting with the \multimon option?
I connect from Debian to Win 10 and the monitor order is inverted: windows first display is shown onlinux second display and windows second display is shown on linux first display.

Thank You,
G.

[2018-06-07 12:47] hardening commented on #4703
A run with `WLOG_LEVEL=Debug` could help us (we're not wizards that can guess bug source by just having your environment)

[2018-06-07 13:05] varunatarcon commented on #4703
@hardening can you help me how to this?

[2018-06-07 13:10] hardening commented on #4703
@varunatarcon I was asking to run xfreerdp wuth the `WLOG_LEVEL` env variable set to `Debug`

[2018-06-07 13:27] akallabeth commented on #4703
That is a feature request, only host to guest copy is supported.

[2018-06-07 14:54] #4691 closed

[2018-06-08 18:10] viridis-vir commented on #4337
Hi everybody,

I'm tying to switch to Linux as my daily driver.
Is all quite new to me so you could call me a noob.
So far I've managed to get things working exept rdp with the sam error as described in this topic.

The administrator told me to use MS or MAC but I don really trust those companies.
I hope you can help me out because #4547 and #4539 raise more questions for me than awnsers.

Thanks

[2018-06-11 03:08] finepeilei commented on #4074
@DevGoslinga have you fixed the remoteapp function in wfreerdp.exe, if you have finished it or you have some advice about the function, could you plz send the code or advice to my email finepeilei@qq.com?Thank you very much!

[2018-06-11 16:37] peimanja commented on #3993
This is still an issue. Having the exact same problem with 3 monitors. /monitors:1,2 has issue but /monitors:0,1 works as I expect

[2018-06-11 18:19] lccreech opened #4707 "New Style Options Not Parsing/Working"
xfreerdp --version
This is FreeRDP version 2.0.0-dev3 (dad6b7a)

**To Reproduce**
Steps to reproduce the behavior:
1)
[root@dhcp-172-24-191-200 build]# xfreerdp /f 10.0.3.213
[13:57:29:043] [3361:3361] [WARN][com.freerdp.client.common.cmdline] - Using deprecated command-line interface!
[13:57:29:043] [3361:3361] [WARN][com.freerdp.client.common.compatibility] - 10.0.3.213 -> /v:10.0.3.213
[13:57:2

[2018-06-11 18:23] lccreech commented on #4707
Nevermind.
Fixed
                     xfreerdp /sound:sys:alsa /f /v:10.0.3.213

[2018-06-12 08:19] #4707 closed

[2018-06-13 02:53] sherwinkh opened #4708 "XIO: fatal IO error 11 (Resource temporarily unavailable) on X server ":0.0""
I encounter this issue，and FreeRdp disconnected，log as below：
XIO:  fatal IO error 11 (Resource temporarily unavailable) on X server ":0.0"
      after 92945 requests (92945 known processed) with 0 events remaining.

- [rdp version： ]
commit dad6b7a5347a3d42228a82b92a2f49b76c387095
Merge: 73588bc 2d69e36
Author: David Fort <rdp.effort@gmail.com>
Date:   Mon Jun 4 11:29:01 2018 +0200

    Merge pul

[2018-06-13 07:02] akallabeth commented on #4708
hmm, is your system up to date? only references to this I can find is some x library issues

[2018-06-13 09:34] rgloor commented on #4698
I am NOT using a Multitouch-Device.
However, I am using freerdp in conjuction with REMMINA, and I am also experiencing a segmentation fault error. Could that be the same error?
On my REMMINA bug report  https://github.com/FreeRDP/Remmina/issues/1627  , user weberhofer feels, it might be a freerdp bug.

[2018-06-13 09:38] andicheesi commented on #4679
I wanted to hear about your opinion about such approach. And I have no clue what is "delayed resize" implementation is good for.
The problem with my solution is I will sleep always after getting a resize notification.

[2018-06-13 17:32] viridis-vir commented on #4337
Nevermind,
Found the solution, just use the ms.rdp file instead of manually filling in the connection.
Then I made a little Bash script to launch it.

[2018-06-14 02:09] sherwinkh commented on #4708
I have tried this：
git reset --hard commiID（the commitID is 2017/6,2016/6,2015/6）
in the 3 tests, also encounter the same error。

[2018-06-14 03:10] sherwinkh commented on #4708
@akallabeth ，BTW，can I know the Remote server version info（xp or win7 or server 2008 and so on）in FreeRDP？Maybe in Capabilities Exchange？

[2018-06-15 11:10] trite2k3 commented on #4661
It works if I use Remmina. I dont know why.
If I try to use the xfreerdp binary that comes with Remmina I get the same error as above so Remmina is doing something different that makes it works but I havent been able to figure out what.

[2018-06-15 11:31] trite2k3 commented on #4661
I found it:
xfreerdp /u:DOMAIN\USER /v:1.2.3.4
Doesnt work (and this has worked for me before)

And this:
xfreerdp /d:DOMAIN /u:USER /v:1.2.3.4
works.

Thanks I'm going to close this issue.

[2018-06-15 11:31] #4661 closed

[2018-06-16 06:16] akallabeth commented on #4698
The linked remmina issue suggests this was fixed by #4694

[2018-06-16 23:17] hedgeberg opened #4709 "Smartcard login results in IRP failure"
Hey guys,

Been debugging this for a bit now to try and pin this down. During an attempt to log in while running 2.0.0-rc2 (or any other release), I get to the log-in screen on the target, but the smartcard log in option does not appear on the target, despite the reader visibly becoming active on the client machine.

OS is Arch Linux. Here's a uname output in case that helps:

[code]

I'm running

[2018-06-16 23:20] hedgeberg commented on #4709
Should add that smartcard login works perfectly using the Windows RDP client, and I have this card provisioned etc. Neither rdesktop nor freerdp play nice with my setup though, and they dont play nice with any other smartcard that I have either. Thanks!

[2018-06-18 05:56] akallabeth commented on #4709
@hedgeberg smartcard login with nla is not implemented.

[2018-06-18 06:16] T3N4K4 commented on #4690
@gnshkl1 can you share your command line with us ? Maybe something else is set or missing

[2018-06-18 06:55] akallabeth commented on #4708
@sherwinkh so, what do you mean with the previous comment? The error suggests some issue with your X11.
as for remote server versions, sorry, there is no (reliable) way to get that info. not part of the protocol.

[2018-06-18 07:55] akallabeth commented on #4709
@hedgeberg Currently smartcard is only enabled for redirection (so everything that does not authenticate before you see a screen)
to enable smartcard authentication you need to implement the sections in `[MS-CSSP]` (`2.2.1.2.2 TSSmartCardCreds` and others).
Don't know how hard it is to translate the tokens from `pcsc-lite` to something `ms` compatible.

[2018-06-18 09:07] hedgeberg commented on #4709
Wouldn't it be possible to authenticate using smart card redirection after establishing securities? I.e. establish the connection without auths, bring up the login screen, then simulate a smart card plug-n-play event? At least as a workaround?

Forgive me if this is a dumb idea, I know remarkably little about RDP, up until now I'm mostly just a user. I'm more of an embedded developer than an app/O

[2018-06-18 09:08] hedgeberg commented on #4709
(side note, is there anywhere I can go to ask questions other than GitHub? I spent some time hanging out in #freerdp but it was pretty dead)

[2018-06-18 09:30] informatimago commented on #4709
Note that I have a patch with smartcard logon via RDP working nicely on this branch: https://github.com/informatimago/FreeRDP/tree/smartcard-logon-test
I'm waiting on #4701 to be merged to make the PR.
Have a look at: https://github.com/informatimago/FreeRDP/wiki/smartcard-logon
I'm currently working on making smartcard logon work with NLA too.

[2018-06-18 15:58] dodo040 commented on #4709
My PR #3946 is still pending. Lot of work have been done since its opening. You can find a more recent branch here (last rebase from FreeRDP master dated to 17 august 2017) : https://github.com/dodo040/FreeRDP-smartcardlogon/commits/master).
But a rebase is needed to be up-to-date since significant changes on smartcard have been done in the master at the end of year 2017. I'll try to allocate time

[2018-06-18 18:28] hedgeberg commented on #4709
@informatimago I'll give it a shot, but in your patch is the certificate transmitted in plaintext? does the connection remain plaintext/no security after initial response? Considering that PIV by nature is hardware-backed, this isn't a huge risk, but it does definitely leave me feeling a little queasy about the idea of remoting in to my home network with this.

@dodo040 got a summary on hand of wh

[2018-06-19 01:40] sherwinkh commented on #4708
@akallabeth  Thank you for the reply. Could you give me some suggestion for this X11 issue？

[2018-06-19 07:57] informatimago commented on #4709
@hedgeberg indeed, currently only smartcard thru RDP is implemented. You may still use it on an encrypted VPN (ssh tunnel, etc).

[2018-06-19 10:45] akallabeth commented on #4708
@sherwinkh found https://stackoverflow.com/questions/5560173/xlib-fatal-io-error-11-resource-temporarily-unavailable
so, to debug this it would be nice if you could add some information what you were doing (and what you expect as a result)

[2018-06-19 13:23] akallabeth commented on #4702
This should be fixed with your changes in #4711 correct?

[2018-06-19 15:23] #4702 closed

[2018-06-19 22:58] greenLeopard commented on #1473
sorry to hit this again. yesterday after some Ubuntu Software updates (Ubuntu 16.04) my xfreerdp had disappeared.
i re-installed xfreerdp (sudo apt-get install freerdp-x11), now i can't connect to remote desktop...
Command line I'm using: xfreerdp /u:[username] /p:[password] /v:[workstation] /g:[gateway]
Message I'm getting:
connected to [gateway]:443
connected to [gateway]:443
TS Gateway Connecti

[2018-06-20 03:28] sherwinkh commented on #4708
@akallabeth instead of starting Xorg，I startup Xfbdev,then start xfreerdp, solve this problem.

- [my cmd of starting Xfbdev]
Xfbdev  vt01 -br -mouse /dev/input/mice,5 -fp /work/cc/X11R6/lib/X11/fonts/misc/ -co /work/cc/X11R6/lib/X11/rgb &

[2018-06-20 04:15] #4708 closed

[2018-06-20 06:09] hedgeberg commented on #4709
@akallabeth forgive the nagging, when I run

[code]
I get a login window without requiring username, password, or domain, and I can then log on from the Windows login prompt. However, with ```/smartcard``` added, I still don't see a smartcard sign-in option appear. My assumption was that smartcard traffic would be forwarded over the tunnel, meaning that, to windows, the smart card should appear as

[2018-06-20 06:18] varunatarcon opened #4712 "Passwords are visible for sometime when using ps with grep"
**Describe the bug**

Passwords are visible during sometime at startup. One can run the below script and get the password.
We need a better masking for this.

**To Reproduce**

[code]
**Here is the output:**

You can see password is exposed in line number 44.

**Expected behavior**

Password must masked from stage 1.

**Application details**
* Version of FreeRDP:  2.0.0-dev3
* Command line used: x

[2018-06-20 06:47] akallabeth commented on #1473
@greenLeopard Try our nightly builds https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2018-06-20 06:49] akallabeth commented on #4709
@hedgeberg don't exactly know what has to be enabled on the windows server to allow smartcard redirection on the login screen, the tunnel needs a server side component enabled.
`nla` does authentication before establishing the connection, so you don't get a login screen.

[2018-06-20 09:07] akallabeth commented on #4712
use `/from-stdin` if you don't want that, otherwise there is no way to prevent this.

[2018-06-20 09:07] #4712 closed

[2018-06-20 16:54] speculzzz commented on #4684
Hello...
If you place `/drive:auto,*` before the other `/drive:` parameters in the command line, then all will be ok:
`$ xfreerdp /v:server /u:user@domain /p:passwd -sec-nla /drive:auto,* /drive:home,/home/user`

[2018-06-21 03:48] varunatarcon commented on #4712
But we don't have passwords! It comes from the another application. And we want to keep it secure?

[2018-06-21 09:15] akallabeth commented on #4712
then pass it via `stdin` instead of command line argument.
Like `echo foo | xfreerdp /v:<url> /u:<user> /from-stdin:force`, then the password is read from stdin (the `echo foo` in this case)

[2018-06-21 10:18] ekorneechev commented on #4684
@speculzzz yes, but if i remove the USB flash drive from PC - folder 'home' also will removed.

[2018-06-21 14:48] speculzzz commented on #4684
@ekorneechev as I see the version [2.0.0-rc1](http://pub.freerdp.com/releases/freerdp-2.0.0-rc1.tar.gz) without this problem. I think the issue is inside the `first_hotplug()` function

[2018-06-22 07:07] speculzzz commented on #4684
@ekorneechev as I see the version [2.0.0-rc1](http://pub.freerdp.com/releases/freerdp-2.0.0-rc1.tar.gz) without this problem. I think the issue is inside the first_hotplug() function

[2018-06-24 18:44] ilammy commented on #4703
Yes, this one is a _loooong_ standing feature for me. I hope to find some time for this in 2018.

[2018-06-25 03:22] ehoffman2 opened #4714 "Getting segfault when enabling home drive and printer simultanously"
Mixing _+home-drive_ along with _/printer_ cause segfault.

`xfreerdp /u:<user...> /p:<password...> /v:<ip...> +home-drive /printer`

xfreerdp v1.1.0-beta1 (in kubuntu 18.04)
Connecting to Windows 7.

Having any 2 of those options separately does work as intended.  Mixing them cause segfault.

Regards,
Eric

[2018-06-25 07:21] akallabeth commented on #4714
The version in ubuntu is rather outdated, I'd suggest using our nightly builds https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds or the remmina ppa snap or flatpak (they also ship a more recent version of `xfreerdp`).

[2018-06-26 07:08] #4698 closed

[2018-06-26 08:19] #4636 closed

[2018-06-26 08:35] akallabeth commented on #4684
The issue is that the automount/unmount will unmount all drives not part of mounted drives.
Needs a proper `do not touch` list for everything redirected by command line argument

[2018-06-26 14:52] mossyoak1101 opened #4715 "Remote Assistance"
I am trying to figure out how to use the /assistance feature to connect to a remote assistance invitation. I was just wondering if anyone has gotten this to work or if i just don't understand how to use it.

[2018-06-26 15:04] ET-Bent commented on #4326
![image](https://user-images.githubusercontent.com/5788982/41921313-df8d901e-7962-11e8-89aa-aca3f753684b.png)
How do we use anything above `GFX RFX (32 bpp)` on Linux at all?

Ubuntu 18.04, Nvidia GTX 970 (nvidia proprietary drivers installed).

What do I need to install to get these modes working on the client side?

[2018-06-27 07:12] akallabeth commented on #4326
@ET-Bent a build with h264 enabled?

[2018-06-27 08:08] andreatondelli commented on #4285
Probably I don't understand something but now it does not work with any version of the NDK. I have tried 14, 15 and 16 without success.
Why @aldopa says that it works with version 15c? It means that it has worked with that version only for a while? There is no chance to compile now the  Android version? Thanks.

[2018-06-27 08:10] akallabeth commented on #4285
@andreatondelli building quite fine here with 15c, so what are your settings?

[2018-06-27 09:58] andreatondelli commented on #4285
Sorry guys, you are right. I had a mistake with scripts and when you ask me to post configuration and i check all the toolchain i found the error (I was using the latest version of the NDK).
Thank you @akallabeth

[2018-06-27 12:43] nishkarshjain commented on #1315
When using smart-sizing, the changing resolution on macOS is really bad.
Since this is a very old request, is scrolling now available in the latest master?

Example: If the default size is set to "1600x900", during window re-size using smart-sizing, the resolution should not change and only the window size should change, by enabling vertical and horizontal scrollbar.

[2018-06-27 14:23] UttamAaseri opened #4716 "MediaCodec H264 not working on windows 7"
Hi,
I downloaded freerdp for windows from below link :
https://cloudbase.it/freerdp-for-windows-nightly-builds/

I am trying to take RDP of Windows server 2012.  When I run following command from windows 8 pc it works.
`wfreerdp.exe /v:<serverip> /u:<user> /p:<password>`

But when I run the same command from windows 7 pc, nothing happens. I got below logs when I run on windows 7 :
[code]
I can tak

[2018-06-27 17:04] laoyao commented on #4285
@andreatondelli I meet the same problem. What should I do?

➜  FreeRDP-2.0.0-rc2 ./scripts/android-build-freerdp.sh --ndk ~/Library/Android/ndk/android-ndk-r17b --sdk ~/Library/Android/sdk
[RUN] mkdir -p /Users/yaowu/Downloads/FreeRDP-2.0.0-rc2/scripts/../build
[RUN] bash /Users/yaowu/Downloads/FreeRDP-2.0.0-rc2/scripts/android-build-openssl.sh --src /Users/yaowu/Downloads/FreeRDP-2.0.0-rc2/script

[2018-06-27 17:04] laoyao commented on #4285
@andreatondelli Give me some advise! Thanks!

[2018-06-28 06:36] akallabeth commented on #4716
I assume you redirected `stdout` to a file? The solution is most likely `stderr` (and in your case the server certificate).
Try adding `/cert-tofu` or  `/cert-ignore`

[2018-06-28 06:38] akallabeth commented on #4715
Just use the file as first argument  and optionally `/assistance:<passrord>` if you require that afterward.

[2018-06-28 06:38] #4715 closed

[2018-06-28 06:56] UttamAaseri commented on #4716
Hi, Thanks for your reply. I have tried your suggestion. I am still not able to access remote server.

[2018-06-28 07:30] andreatondelli commented on #4285
@laoyao i think you are using latest NDK version (17b)

**From your post**

You must download the 15c version from here:

Click the button "I Agree to the terms", download the zip file of Android NDK Revision 15c (July 2017) for your platform and extract **where_you_want**.

Then, run the script using

[2018-06-28 13:54] mnowaksuse commented on #3325
This is fixed for me.

[2018-06-28 13:54] #3325 closed

[2018-06-28 14:09] mnowaksuse opened #4717 "ERRINFO_GRAPHICS_SUBSYSTEM_FAILED (0x0000112F): The server-side graphics subsystem is in an error state and unable to continue graphics encoding"
**Describe the bug**

Connection to Hyper-V 2016 (with latest updates) guest is sometimes dropped like this:
[code]

**To Reproduce**
Connect to Hyper-V 2016 guest:
`xfreerdp /u:Administrator /p:XXX /v:openqaw7-hyperv.qa.suse.de /cert-ignore /vmconnect:c10c0db0-e444-41e2-bbaa-4239b55261b1 /f /log-level:DEBUG`

**Expected behavior**

Connection is not dropped after a while.

**Screenshots**

N/A

*

[2018-06-28 14:54] akallabeth commented on #4717
This seems like a server configuration issue. Not much we can do about that.
You might want to add `/rfx`, `/gfx` or `/gfx:avc444` to get the new RDP graphics pipe (depends on remote os and if you build with h264 support)

[2018-06-29 05:11] nishkarshjain opened #4718 "MacOS window scrolling support by making resolution static."
**Is your feature request related to a problem? Please describe.**
- When using smart-sizing, the changing resolution on macOS is really bad.
- The text on smaller window is not visible at all, to continue working.
- Microsoft Remote Desktop app provides scrollbar when window size is changed.

**Describe the solution you'd like**
- Horizontal and vertical scrollbar can be enable along with 'smart-

[2018-06-29 06:03] cogidis opened #4719 "Protocol Security Negociation Failure"
Hello,
I read a lot of similar topics but I get an error trying to connect to a Windows10 host with all updates (through a SSH tunnel)  from a mageia 6 client with all updates. I choose to accept any RDP client on the Windows side (not only NLA). With the same options it works when I connect to a Windows 2008 server (without tunnel).
One year ago (no try since then), I used to work with the same h

[2018-06-29 07:23] akallabeth commented on #4718
So, what exactly is your issue? `/smart-sizing` does what it tells, if you want a static resolution just don't...
(you're using `xfreerdp` I assume from the screenshots?)

[2018-06-29 07:32] nishkarshjain commented on #4718
I'm looking to change window size along with static resolution. If I don't use smart sizing, I can't resize window.

MS RDP does that.

[2018-06-29 07:41] akallabeth commented on #4718
Ok, now I get it. Did you try `/dynamic-resolution`? Not exactly what you're looking for but maybe better than smart sizing in your case.

[2018-06-29 08:40] nishkarshjain commented on #4718
Also, I doubt that dynamic-resolution on macos does anything at all. Not able to understand it's use.
The resolution of the destination server also, cannot be changed.
![screen shot 2018-06-29 at 2 09 07 pm](https://user-images.githubusercontent.com/9007278/42082617-17cc6f32-7ba6-11e8-9aca-bac5d90da96f.png)

[2018-06-29 14:06] khaleids opened #4720 "Error when trying to build APK in Android Client"
Hello,

When I trying to build APK for Android client, I got these two errors, please I want the recommended environment tools to work with FreeRDP Android development
I have
Ubuntu OS with 16.04 LTS
Java
java version "1.8.0_171"
Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)
NDK
android-ndk-r15c
CMake 3.5.2

  | Correctness
-

[2018-06-29 14:18] akallabeth commented on #4718
ah, ok. windows 7 does not support resolution switch in rdp, so no for you it will not help.

[2018-06-29 15:47] akallabeth commented on #4717
you don't, by chance, have activated the option to drop idle connections?

[2018-06-29 17:45] hendwolt opened #4721 "new build warnings from gcc8 (mostly -Wstringop-truncation)"
When building the current master (version 2.0.0-dev3 (b34e3bcf7)
) for openSUSE Tumbleweed, which uses gcc in version 8 as the default compiler, I get a couple of new warnings. For details see the attached build log.

[   41s] [ 17%] Building C object winpr/libwinpr/CMakeFiles/winpr.dir/utils/trio/trionan.c.o
[   41s] In function 'trio_copy_max',
[   41s]     inlined from 'internal_duplicate_max'

[2018-06-30 06:10] nishkarshjain commented on #4719
Enabling TCP forwarding on your SSH server should resolve the 'Broker Pipe' error. Refer an old issue: "Pipe broken #3122"

Also, if that doesn't help, check your client and server algorithm(Ciphers, Macs and KexAlgorithms).

[2018-06-30 08:31] treakiandroid opened #4722 "ERROR: LeakSanitizer: detected memory leaks while trying to connect using gateway"
**Describe the bug**
Finally i wanted to be able to connect to my company using my linux box, but whatever i did faild. This time ive tried your freerdp nightlybuild on my debian testing (buster) but still was unable to connect...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ci.freerdp.com/job/freerdp-nightly-binaries/
2. Click on follow the instructions to install it
3. try

[2018-06-30 08:42] cogidis commented on #4719
Thanks for the hint. How do I do that (AllowTCPForwarding yes in /etc/ssh/sshd_config ?).

I forgot to tell that the same Windows 10 (as the rdp server) through the same mageia 6 server for the tunnel works perfectly under a windows client environment (tunnel established via cygwin, and windows msttsc.exe rdp client).
My tunnel command is :

ssh -f -o ExitOnForwardFailure=yes -o ServerAliveInterva

[2018-06-30 08:46] cogidis commented on #4719
And by the way, "Pipe broken #3122" refers to port forwarding, that is obviously working on the remote server (all ssh commands work well, including shell, sftp etc.)

[2018-07-01 13:56] oetiker commented on #98
any progress?

[2018-07-01 19:07] armin884 opened #4723 "connection timeout value"
**Is your feature request related to a problem? Please describe.**
When the remote host is offline or when rdp port is not open or any other network error freerdp stops connecting due to timeout. I am using freerdp under windows and time was about 15s the connection was closed.

**Describe the solution you'd like**
An option to increase the time before closing the connection. Remote Desktop Plus c

[2018-07-02 12:46] akallabeth commented on #4722
From a first glance this looks like a false positive from OpenSSL, but will investigate.

[2018-07-02 16:13] cogidis commented on #4719
Just to keep you updated, I do not have the broken pipe any more (I do not know why) but still the "Error: protocol security negotiation or connection failure". It works perfectly with remmina... that uses freerdp ! (as far as I know). And remmina is in charge with establishing the ssh tunnel. Weird.

[2018-07-02 19:22] trentasis commented on #4723
Try reconnect option

[2018-07-03 07:06] akallabeth commented on #4723
Agree with @trentasis to use autoreconnect instead. Increasing the tcp timeout has unwanted side effects (long hangs if the connection drops, ...)

[2018-07-03 07:06] #4723 closed

[2018-07-03 07:08] akallabeth commented on #4720
@khaleids The android java side code is quite old and would benefit from a refactoring to current android API.
As for the environment, that seems reasonable.

[2018-07-03 07:13] akallabeth commented on #4717
@mnowaksuse Did you have time to check your server settings?
I do remember a similar issue where there was a server side option active that was dropping idle connections.

[2018-07-03 09:59] Zjemm commented on #4668
so a patch is underway?

[2018-07-03 11:49] #4668 closed

[2018-07-04 08:50] #2617 closed

[2018-07-04 11:43] akallabeth commented on #2802
#4710 should have fixed the reconnection issue.
Gateway currently working after some pr have been merged, please reopen / create a new issue if there are still issues with gateway connections.

[2018-07-04 11:43] #2802 closed

[2018-07-04 11:44] akallabeth commented on #3477
Closing due to lack of feedback.
local tests successful so far.

[2018-07-04 11:44] #3477 closed

[2018-07-04 11:45] akallabeth commented on #1362
Closing as no longer reproducible.

[2018-07-04 11:45] #1362 closed

[2018-07-04 11:49] akallabeth commented on #3301
Closing as not freerdp specific.

[2018-07-04 11:49] #3301 closed

[2018-07-04 12:21] #4518 closed

[2018-07-04 12:23] #4550 closed

[2018-07-04 12:39] akallabeth commented on #4719
Sounds like you have a local configuration issue.
You're correct that remmina uses freerdp, specially it uses the current master, so the issue can not be in freerdp.

[2018-07-04 12:39] #4719 closed

[2018-07-04 19:13] hendwolt opened #4725 ""free(): invalid pointer" when using "-bitmap-cache""
With the current master as of 2018-07-04 I get:

xfreerdp /u:<username>  /f -bitmap-cache /v:192.168.0.75
No protocol specified
[20:50:01:216] [6457:6458] [INFO][com.freerdp.client.common.cmdline] - loading channelEx cliprdr
No protocol specified
Password:
[20:50:08:255] [6457:6458] [INFO][com.freerdp.gdi] - Local framebuffer format  PIXEL_FORMAT_BGRX32
[20:50:08:255] [6457:6458] [INFO][com.freerd

[2018-07-05 06:47] akallabeth commented on #4725
@hendwolt Ok, missed that spot. Thx for reporting.

[2018-07-05 07:50] #4725 closed

[2018-07-05 09:05] laoyao commented on #4285
@andreatondelli Thanks. Change NDK to 15c, it works.

[2018-07-06 08:22] Daintly commented on #4401
@aldopa @MjzDk My question is still this question. Can you solve it? Xcode 9.4

[2018-07-06 14:03] gnshkl1 opened #4728 "freerdp 2.0.0-dev3 (e326f71) microphone issue with windows 10"
Microphone not working on windows 10

Server OS:- en_windows_10_consumer_editions_version_1803_updated_march_2018_x64_dvd_12063379
Client OS :- Xubuntu 16.04_x86

# xfreerdpbin /buildconfig
This is FreeRDP version 2.0.0-dev3 (e326f71)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1

[2018-07-06 16:30] oliverav2cloud opened #4729 "compilation error"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-07-06 16:30] oliverav2cloud commented on #4729
- Looking for include file inttypes.h
-- Looking for include file inttypes.h - found
-- Looking for include file sys/modem.h
-- Looking for include file sys/modem.h - not found
-- Looking for include file sys/filio.h
-- Looking for include file sys/filio.h - not found
-- Looking for include file sys/sockio.h
-- Looking for include file sys/sockio.h - not found
-- Looking for include file sys/strti

[2018-07-06 16:30] #4729 closed

[2018-07-06 20:21] hardening commented on #4728
Just to be sure, when you connect with `mstsc` on the same host the microphone is working as expected ?

[2018-07-07 00:12] rhwssi commented on #4449
I just cloned from Git and I'm encountering this problem still.

[2018-07-07 10:46] jol64 opened #4730 "please show version in windows file properties"
when I select an application in windows explorer and display the properties and go to the details tab, then for many application it will show the product and file versions and sometimes additional information.
Unfortunatelty that information is missing for wfreerdp.exe. One only gets type "application", size and (download) date.
Can you please add information about the specific version (like it ou

[2018-07-07 18:55] jol64 opened #4731 "Length limit on title in wfreerdp?"
I am using wfreerdp.exe version 2.0.0-dev3 (b34e3bcf7) 64bit. I am using a commandline like the following:

as you can see the title is pretty long (generated by one of my programs).

The title is displayed as follows:
![image](https://user-images.githubusercontent.com/24666601/42413744-0d1b4306-8227-11e8-86e4-d7d897d9f6fd.png)
Looks like the tail of the title is somehow interpreted as another cha

[2018-07-08 17:14] ysnnzlcn opened #4732 "iOS 11 and lower iOS versions issue"
Hey everyone, when i create project for ios 11 i get these errors:
` no such sysroot directory:
invalid iOS deployment version -mios-simulator-version-min=11.3, iOS 10 is the maximum deployment target for 32-bit targets [-Winvalid-ios-deployment-target]
`
from cliprdr-client, encomsp-client, drdynvc-client libraries.

Also i don't want to build for iOS 11 but when i try to set `SDK_VERSION="9.3"`

[2018-07-09 02:46] amosbird opened #4733 "Pasting large images throught xfreerdp to Windows 10 crashes receiving applications"
**Describe the bug**
When pasting a large image (2 MB +) into an application that runs inside a remote Windows 10 box, it blocks and crashes the target application.

**To Reproduce**
Steps to reproduce the behavior:
1. using this command to connect to a Windows 10 box
[code]
2. Open Word 2016 or any editable area that allows pasting images into it.
3. Store a large image into the host's clipboard

[2018-07-09 04:59] gnshkl1 commented on #4728
@hardening I have tested from windows 10 to windows 10 remote session and microphone is working fine .
only through freerdp microphone is not working .

[2018-07-09 06:21] ganeshjkale opened #4734 "FreeRDP v2.0.0-rc2,v2.0.0-rc3,v2.0.0-rc4 Graphics Artifacts issue with Windows 2012 R2 using /gfx-h264 option"
Server OS :- windows 2012 R2
Client OS :- Xubuntu 16.04_x86

compiled with openh264 v1.7.0
recompiled with openh264 v1.8.0 but same issue.

How to reproduce:-
1:-Take windows 2012 R2 remote session
2:-open any image (zoom in and zoom out continously till issue got reproduced)
 Result:-Graphics artifacts issue

xfreerdp /buildconfig
This is FreeRDP version 2.0.0-rc2 (2.0.0-rc2)
Build configuration:

[2018-07-09 08:04] akallabeth commented on #4728
@gnshkl1 Does it work with nightly builds? Also, do you get some `audin` specific log messages when running with `/log-level:trace`?

[2018-07-09 08:06] akallabeth commented on #4728
@gnshkl1 Could be related to some encoding issues, then `WITH_DSP_FFMPEG=ON` might help (FFMPEG is the better tested path currently, but fixes are always welcome)

[2018-07-09 08:09] akallabeth commented on #4717
Closing as configuration issue.

[2018-07-09 08:09] #4717 closed

[2018-07-09 08:12] akallabeth commented on #4734
@gnshkl1 `AVC420` exposes some issues with all MS servers.
We can't exactly pinpoint the error but currently we assume it is some difference in the H264 stream to the spec.
Would appreciate it if somebody could dive into that.

[2018-07-09 08:13] akallabeth commented on #4733
@amosbird Since you're using an older build with some known issues, could you try to reproduce with a minimal command line?
Specially `autoreconnect` is known buggy in your release.

[2018-07-09 08:14] akallabeth commented on #4732
This is an issue tracker no support forum.
Please use the mailing list or IRC.

[2018-07-09 08:14] #4732 closed

[2018-07-09 08:16] akallabeth commented on #4730
Pull requests are welcome.

[2018-07-09 08:44] gnshkl1 commented on #4690
@T3N4K4 your commandline can also work, please share same.

[2018-07-09 08:50] gnshkl1 commented on #4690
@T3N4K4
 /usr/local/bin/xfreerdp  /cert-ignore-toggle-fullscreen /title:test /bpp:32 /f /sound:quality:medium /audio-mode:0  +clipboard +compression /network:lan -sec-tls -sec-nla /kbd:0x00000409 /gfx-h264 /gdi:hw -themes /microphone:sys:alsa /d:test.local /u:user /p:xxxx  /v:x.x.x.x /video

[2018-07-09 09:45] gnshkl1 commented on #4728
@akallabeth ok i will have a try with above options

[2018-07-09 10:51] akallabeth opened #4735 "`Authenticate`, `GatewayAuthenticate`, `VerifyCertificate`, `VerifyChangedCertificate` fail if respones time is > 15s"
All credential and certificate related callbacks only work if the underlying TCP connection did not already time out.
The handler code should check, if the connection was already terminated by a timeout and retry with the entered credentials/accepted certificate.

[2018-07-09 14:20] mnowaksuse commented on #4717
@akallabeth Do you have some particular configuration option in mind? This seems to me configured correctly:
![rdp](https://user-images.githubusercontent.com/16148464/42455774-73858a30-8393-11e8-9170-e65978994c15.png)

[2018-07-09 14:41] akallabeth commented on #4717
@mnowaksuse The second trace you posted suggests the server just discards the running session. (don't know the defaults, but I assume you sometimes see reconnecting 1/xx with mstsc too)
Adding `/auto-reconnect` with a very recent version of freerdp will fix that. (2.0.0-rc2 had a bug with that option)
The first trace you posted is typical for a session trying to run legacy RDP on a very recent ser

[2018-07-09 16:31] meetai opened #4736 "[Android] Mouse not working with x11rdp"
**Description:**
When using aFreeRDP (Android Client) with a x11rdp server mouse would be unusable, both with and without external usb-connected mouse -it won't click or won't click in the right spot (i.e.: trying to click on an active dialog opened through console would simply take the dialog's focus but the location of the registered click event itself can't be discerned).

Mouse works alright w

[2018-07-09 18:11] jol64 commented on #4730
I tried to build wfreerdp.exe with visual studio but bet a different build result than I obtained from https://ci.freerdp.com/job/freerdp-nightly-windows/. Local build result in wfreerdp.exe plus lots of .dlls (and at least that wfreerdp.exe has a version), and optionally an installer, whereas from https://ci.freerdp.com/job/freerdp-nightly-windows/ I get a wfreerdp.exe that runs directly (obvious

[2018-07-09 18:34] oliverav2cloud opened #4737 "Compilation error"
I use Ubuntu 18.04. I installed libgstreamer-plugins-base1.0-dev | libgstreamer-plugins-base0.10-dev
manually. I still get this error when trying to compile:

pkg-buildpackage: info: source package freerdp-nightly
dpkg-buildpackage: info: source version 2.0.0
dpkg-buildpackage: info: source distribution unstable
dpkg-buildpackage: info: source changed by FreeRDP <team@freerdp.com>
dpkg-buildpackag

[2018-07-10 07:14] akallabeth commented on #4730
`-T v120_xp -DCMAKE_WINDOWS_VERSION=WINXP -DBUILD_SHARED_LIBS=OFF -DMSVC_RUNTIME=static -DWITH_SSE2=ON` are the options we use for the build.

To add version information there is already `macro(add_channel_client_library _module_prefix _module_name _channel_name _dynamic _entry)` which adds a corresponding resource file for channel libraries.

[2018-07-10 07:19] akallabeth commented on #4736
you might want to try the F-Droid version, which is actually more recent than the play store.

[2018-07-10 07:20] akallabeth commented on #4737
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting
as a hint, read what `dpkg` is telling you

[2018-07-10 07:20] #4737 closed

[2018-07-10 18:49] oliverav2cloud opened #4739 "connection dns"
root@torvic-Inspiron-7737:/home/torvic/Project2/FreeRDP# xfreerdp /u:183PSMXJ\olivera /p:Olivera123$ /v:149.202.121.64:50959
[14:46:34:045] [29126:29127] [INFO][com.freerdp.client.common.cmdline] - loading channelEx cliprdr
[14:46:34:048] [29126:29127] [INFO][com.freerdp.core.proxy] - Parsed proxy configuration: http://proxy.contoso.com:3128
[14:46:34:104] [29126:29127] [ERROR][com.freerdp.core] -

[2018-07-11 09:10] akallabeth commented on #4739
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting
Please fill in the requested information, otherwise this is useless.

[2018-07-11 09:11] akallabeth commented on #4735
Fixed with #4738

[2018-07-11 09:11] #4735 closed

[2018-07-11 09:47] apath001 commented on #2190
I meet this issue too, it occurs in a random, sometimes several times an hour. My RDP Server is Win7 Ultimate SP1, 64bit.  Sometimes server send this pdu(ERRINFO_DECRYPT_FAILED, 0x00001192) before disconnection, sometimes server just cut connection directly without any notification.  I don't t think the  parameter -fast-path can slove this issue in my case.

[2018-07-11 10:22] akallabeth commented on #2190
@apath001 Could you post your command line? This issue is only affecting very old RDP protocol methods, so you seem to have an interesting one ;)

[2018-07-11 10:23] apath001 commented on #4695
hi akallabeth, you said " Duplicate of #2190(#4695), server side bug, sorry. You need to change your connection options."  -- could you tell me how to change my connection options to aviod this issue? thanks a lot.

[2018-07-11 10:38] akallabeth commented on #4695
@apath001 if you tell me what you're using yes ;)

[2018-07-11 10:42] apath001 commented on #2190
@akallabeth My FreeRDP is an old version  (12/2014). Is it the reason? Newer version has sloved this issue?  and I use FreeRDP in RemoteApp mode:  /v:server ip /u:username /p:password /bpp:32 /app:"||appname". My RDP Server is Win7 Ultimate SP1, 64bit.

[2018-07-11 10:53] akallabeth commented on #2190
@apath001 then I'd try the current nightlies. Adding `/rfx` for windows 7 could also help (as well as `/gfx:avc444` or `/gfx` for builds without h264)

[2018-07-11 12:31] oliverav2cloud commented on #4739
I am tryign to connect to remote compiuter with the ip above. Is there a way to disable the proxy?

[2018-07-11 13:30] abma commented on #4739
duplicate of https://github.com/FreeRDP/FreeRDP/issues/4697 ?

unset http_proxy / https_proxy should make it work.

also: is the provided username + password + server valid? if so you should change it ASAP! :-)

[2018-07-11 14:06] oliverav2cloud commented on #4739
I disabled the proxy, now I just get this error:

[10:03:42:533] [1679:1679] [DEBUG][com.freerdp.utils] - Registering signal hook...
[10:03:42:535] [1679:1679] [DEBUG][com.freerdp.client.common.cmdline] - windows: 0/1 posix: -1000/0 compat: -1000/0
[10:03:42:536] [1679:1680] [DEBUG][com.freerdp.channels.cliprdr.client] - VirtualChannelEntryEx
[10:03:42:536] [1679:1680] [INFO][com.freerdp.client.co

[2018-07-11 14:16] akallabeth commented on #4739
@oliverav2cloud Would be easier to guess if you could finally provide some information about your setup.

[2018-07-11 15:12] oliverav2cloud commented on #4739
What do you mean by setup?

[2018-07-11 15:31] oliverav2cloud commented on #4739
OS: Ubuntu 18.04
Rdp version: version 2.0.0
I triy to establish connection with: xfreerdp /u:183PSMXJ\Administrator /p:pass /v:vm6804.cloud.v2cloud.com:3389

I disabled proxy settings.

I get the folllowing error:

10:03:57:556] [1679:1680] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_CONNECT_FAILED [0x00020006]

[2018-07-11 15:50] akallabeth commented on #4739
There is no version 2.0.0, post the output of /buildconfig (as requested by the issue template and the bug report link)
Adfitionally the server os and configuration or all we can do is guessing...

[2018-07-12 06:47] akallabeth commented on #4739
ok, so your client is current, what about the rest?

[2018-07-12 16:34] gofish543 opened #4743 "SCARD_INSUFFICIENT_BUFFER error"
**Found a bug? - We would like to help you and smash the bug away.**
1) Attempt to RDP from Ubuntu 18.04 Desktop to Windows 2016 Server (Which has rdp enabled)
    xrdp version is 2.0.0-dev (git n/a)
2) Plugin Yubikey 4 Smart Card
3) Execute `xfreerdp /smartcard /d:GOFISH.COM /u:gofish543  -sec-nla /v:192.168.1.100`
4) Windows will detect card and then print the following false statement
[code]
5)

[2018-07-12 17:12] informatimago commented on #4743
The last messages are issued by `smartcard_irp_device_control_call` in smartcard_operation.c when Windows requests the card status (`SCardStatusW`).  The `SCARD_E_INSUFFICIENT_BUFFER` is returned by `PCSC_SCardStatus_Internal` in smartcard_pcsc.c.

In the version of the sources I have, cchReaderLen is either set to 0 or to SCARD_AUTOALLOCATE, so the error should not occur with it.  Check your vers

[2018-07-12 20:05] gofish543 commented on #4743
I implemented the change of 34 bytes from 32, but now simply receive a SCARD_E_CANCELED error with no additional information. The card is valid as I use it to log into the windows server and I verified it contains the certificates on the Linux host using yubico-piv-tool

[2018-07-13 07:16] Anagneia opened #4744 "pVirtualChannelOpenEx failed with CHANNEL_RC_ALREADY_OPEN"
Hi,
I'm running freerdp nightly-builds and since the last update, I am unable to establish a connection.

When I run the command, the RDP window even opens for a short time but before it can finish, the programm fails.

Here's the error messages:

[code]

* Version of FreeRDP:
$ /opt/freerdp-nightly/bin/xfreerdp --version
This is FreeRDP version 2.0.0-dev3 (4d0876fcc)
* Command line used
Gnome Ter

[2018-07-13 07:33] akallabeth commented on #4744
Could you please attach your command line?

[2018-07-13 07:51] Anagneia commented on #4744
The command behind the sh file:
`/opt/freerdp-nightly/bin/xfreerdp $HOME/.rdp/kar-rds.rdp`

The RDP file looks as follows (confidential information replaced by x)
[code]

[2018-07-13 08:23] akallabeth commented on #4744
Ah, ok, so this might be load balancer related.
Does it work if you do not use `redirectprinters`, `devicestoredirect` and `drivestoredirect`?

[2018-07-13 08:40] Anagneia commented on #4744
No, I removed all three lines and it still doesn't work.

[2018-07-13 08:45] akallabeth commented on #4744
Ok, then please add the address sanitizer output.

[2018-07-13 08:49] Anagneia commented on #4744
Ok, be prepared ...

[AddressSanitizerOutput.txt](https://github.com/FreeRDP/FreeRDP/files/2191961/AddressSanitizerOutput.txt)

[2018-07-13 08:56] akallabeth commented on #4744
Ok, that is less an issue as it sounded at first. (There seems to be a missing call to post disconnect for this error case)
Could you try a connection without the rdp file just with command line?

[2018-07-13 09:19] Anagneia commented on #4744
I've never used only the command line. The rdp file was provided by IT to us. So it might be that I'm missing some important setting. Here you go (confidential information replaced by x):
[code]

[2018-07-13 10:49] Anagneia commented on #4744
Ok, I've replaced the RDP with only your settings. I'm attaching the full log.

[NewRdpFile.txt](https://github.com/FreeRDP/FreeRDP/files/2192331/NewRdpFile.txt)

[2018-07-13 11:20] akallabeth commented on #4744
@Anagneia Ok, got the issue, looks like I introduced a bug with redirection in one of the last pull requests.

[2018-07-13 11:54] #4744 closed

[2018-07-13 12:08] akallabeth opened #4746 "Handle redirection and gateway certificates"
Currently freerdp is not able to properly handle certificates if the connection requires more than one to succeed.
This can occur under the following circumstances:
* Gateway is required
* The session is redirected

TODOS:
1. Extend all APIs handling certificates to allow type of certificate to be set

[2018-07-13 12:16] akallabeth commented on #4743
@gofish543 Which version of FreeRDP are you using? Could you attach the output of `/buildconfig`?
Can use my yubikey neo without issues here.

[2018-07-13 14:25] gnshkl1 commented on #4728
@akallabeth
compiled with gsm nad dsp ffmpeg ON ,now sometimes session gets disconnects when using 3cx softphone with double free curruption error.

Buildconfig is below :-1:-
This is FreeRDP version 2.0.0-rc2 (2.0.0-rc2)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_

[2018-07-13 14:33] gnshkl1 opened #4747 "Freerdp 2.0.0rc2 double free corruption issue"
@akallabeth
Server OS:- en_windows_10_consumer_editions_version_1803_updated_march_2018_x64_dvd_12063379
Client OS :- Xubuntu 16.04_x86

compiled with gsm and dsp ffmpeg ON ,now sometimes session gets disconnects when using 3cx softphone with double free curruption error.

Buildconfig is below :-
This is FreeRDP version 2.0.0-rc2 (2.0.0-rc2)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=

[2018-07-13 14:46] gofish543 commented on #4743
gofish@gofish-Ubuntu ~> xfreerdp /buildconfig
This is FreeRDP version 2.0.0-rc2 (n/a)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIB=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK_SYMBOL= HAVE_SYSLOG_H=1 HAVE_SYS_EVENTFD_H=1 HAVE_SYS

[2018-07-13 14:46] gnshkl1 opened #4748 "Freerdp 2.0.0.rc3 (7705535) compilation issue with WITH_DSP_FFMPEG=ON option"
Build OS :- xubuntu-16.04.2_x86

 68%] Building C object libfreerdp/CMakeFiles/freerdp.dir/core/gateway/ncacn_http.c.o
[ 68%] Building C object libfreerdp/CMakeFiles/freerdp.dir/core/gateway/http.c.o
[ 69%] Building C object libfreerdp/CMakeFiles/freerdp.dir/codec/dsp.c.o
[ 69%] Building C object libfreerdp/CMakeFiles/freerdp.dir/codec/color.c.o
In file included from /home/gk/FreeRDP_Github/libfre

[2018-07-13 16:29] akallabeth commented on #4747
Ok, does this also occur with current nightlies?

[2018-07-13 16:32] akallabeth commented on #4743
Ah, could you give the current nightlies a try?

[2018-07-13 16:34] gofish543 commented on #4743
Link?

[2018-07-13 16:43] gnshkl1 commented on #4748
Ubuntu 16.04.2 have ff Peg version 56 and installer is asking ffmpeg
version 57.
Freerdp should be compatible with existing ffmpeg of Ubuntu 16.04

On Fri 13 Jul, 2018, 9:58 PM akallabeth, <notifications@github.com> wrote:

[2018-07-13 16:45] gofish543 commented on #4743
[code]

[2018-07-13 16:52] gofish543 commented on #4743
Using master
[code]

[2018-07-14 06:56] akallabeth commented on #4748
The term experimental for the dsp encoder/decoder is there for a reason ;)

[2018-07-14 09:00] amosbird commented on #4733
I can no longer reproduce it.

[2018-07-14 09:00] #4733 closed

[2018-07-14 11:56] mirekphd opened #4749 "Unidirectionally Disable Clipboard Redirection in FreeRDP Client"
**The problem**
Our users are being moved to VMs and we want to prevent data leakage, so the crude solution was to disable clipboard redirection... but they need to copy data and code samples in one direction: towards the server, and only the potential data leakage away from the server should be blocked.

**The solution**
Add a setting to disable clipboard redirection in only one direction - away

[2018-07-14 12:03] speidy commented on #4749
If the clipboard redirection feature is disabled on the server side (using
group policy for example), I don’t think a client setting would help
בתאריך שבת, 14 ביולי 2018 ב-14:56 מאת mirekphd <notifications@github.com>:

--
Idan Freiberg

GPG FP: 8108 7EC9 806E 4980 75F2  72B3 8AD3 2D04 337B 1F18

[2018-07-14 13:55] meetai commented on #4736
That's the version I've got installed - 2.0.0-rc-1 (F-Droid).

[2018-07-14 14:37] mirekphd commented on #4749
The client could eliminate the need to disable the redirection on the server side, which is bi-directional and thus limits the users unnecessarily. We would switch off bi-directional server-side blocking and replace it with unidirectional client-side blocking (uninstalling the default Windows RDP client and replacing it with FreeRDP).

[2018-07-14 15:51] akallabeth commented on #4736
Ah, sorry mixed with the xfreerdp version you mentioned.

[2018-07-14 20:34] jol64 commented on #4730
I am using Visual Studio 2015 (and 2017). On 2015 I get the error message

C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.Cpp.Platform.targets(57,5): error MSB8020: The build tools for v120_xp (Platform Toolset = 'v120_xp') cannot be found. To build using the v120_xp build tools, please install v120_xp build tools.  Alternatively, you may upgrade to the current Visual Studio tool

[2018-07-15 08:41] akallabeth commented on #4730
@jol64 that part is only for backward compatibility with older windows versions, just skip these options

[2018-07-15 21:02] sh-dvl opened #4750 "connection to xrdp closes, when sound-rate is other than 22050 used and anything played"
filed an issue for remmina ( https://gitlab.com/Remmina/Remmina/issues/1690 ), but it's reproducible with xfreerdp:

connecting to a xrdp-enabled server (with xorgxrdp-modules) sound-redirection from server to client only works in mid-quality, any other will lead to a disconnect.

works:
- xfreerdp /v:ip_of_server /u:username /sound:rate:22050,channel:2

doesn't work:
- xfreerdp /v:ip_of_server /u

[2018-07-16 06:09] akallabeth commented on #4750
Could you please add log output from a run with /log-level:trace? The errors you mentioned sound like follow up issues.

[2018-07-16 06:11] akallabeth commented on #4750
Oh, sorry, missed that: your build has every sound related codec turned off, so that might actually be the reason.

[2018-07-16 06:13] gnshkl1 commented on #4748
@akallabeth  so is this means that we cannot use option WITH_DSP_FFMPEG=ON for ubutnu 16.04 ?

[2018-07-16 06:42] Anagneia commented on #4744
thanks @akallabeth, it's working again!

[2018-07-16 06:48] akallabeth commented on #4748
@gnshkl1 looks like that. You can use faad, gsm and lame options instead.

[2018-07-16 07:18] akallabeth commented on #4749
@mirekphd That does sound like snakeoil.
Imagine just the following:
* I connect with my own client to the server e voilà, I can copy in both directions again.

Sorry, the only way to achive this is patching the server.

[2018-07-16 07:18] #4749 closed

[2018-07-16 07:22] akallabeth commented on #4750
@sh-dvl I'd still be interested in the debug log of the connection as formats not supported should not be announced to the server.
This means some format is agreed upon but fails to decode properly.

[2018-07-16 07:36] sh-dvl commented on #4750
at least lame is active...

on stderr comes:
[code]

because of large output on stdout I filtered the trace with `fgrep -v -e MemBlt -e Bitmap -e Glyph -e Drawing` to drop any irrelvant graphical things:
[code]

[2018-07-16 07:37] akallabeth commented on #4743
@gofish543 Seems to be specific to your smartcard hardware, so I can't test (as I have another revision).
What does a run with `/log-level:trace` reveal?

[2018-07-16 07:48] akallabeth commented on #4750
@sh-dvl thx, looks like mp3 decoding has an issue. Could you check which line in `freerdp_dsp_decode_mp3` fails?

[2018-07-16 08:37] akallabeth commented on #4750
@sh-dvl Could you post your configuration for `xrdp`? Having trouble to get sound working here. Might be easier if I can debug myself.

[2018-07-16 08:52] mvankammen opened #4751 "FreeRDP / Remmina keeps disconnecting /crashing after update."
Hi,

Multiple of our users are randomly getting disconnected from their remote desktop sessions after the latest update:

libwinpr2-2:amd64 (2.0.0~git20170725.1.1648deb+dfsg1-7~bpo9+1, 2.0.0~git20180411.1.7a7b1802+dfsg1-2~bpo9+1), libfreerdp2-2:amd64 (2.0.0~git20170725.1.1648deb+dfsg1-7~bpo9+1, 2.0.0~git20180411.1.7a7b1802+dfsg1-2~bpo9+1), libfreerdp-client2-2:amd64 (2.0.0~git20170725.1.1648deb+df

[2018-07-16 08:56] akallabeth commented on #4751
@mvankammen Can you reproduce with `xfreerdp` and/or set log level to trace?

[2018-07-16 09:00] gnshkl1 commented on #4747
@akallabeth  from where to get freerdp nightly build for 2.0.0rc2

[2018-07-16 09:02] akallabeth commented on #4747
@gnshkl1 You should try with current nighty versions, that the older rc2 has this bug you've shown ;)
More interesting is if that has already been fixed or not.
Nighties are here: https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2018-07-16 09:03] akallabeth commented on #4747
@gnshkl1 Just be aware, the nightly packages install to `/opt/freerdp-nightly` so test with `/opt/freerdp-nightly/bin/xfreerdp`

[2018-07-16 09:15] sh-dvl commented on #4750
`./configure --with-gnu-ld --with-pic --enable-vsock --enable-xrdpdebug --enable-jpeg --enable-tjpeg --enable-fuse --enable-mp3lame --enable-pixman --enable-xrdpvr --enable-opus `

on ubuntu/mint following packages are needed: `libavformat-dev libfuse-dev libturbojpeg0-dev libopus-dev libmp3lame-dev` (and maybe others, which are installed due to other compilations)

additionally the pulse-sources

[2018-07-16 09:53] gnshkl1 opened #4752 "FreeRDP version 2.0.0-dev3 (7705535f9) on ubuntu-18.04_x64 with disp memery leak detected"
/opt/freerdp-nightly/bin/xfreerdp --version
This is FreeRDP version 2.0.0-dev3 (7705535f9)
Server OS :-en_windows_10_consumer_editions_version_1803_updated_march_2018_x64_dvd_12063379

https://ci.freerdp.com/job/freerdp-nightly-binaries/architecture=amd64,distribution=bionic,label=pkg-deb/lastSuccessfulBuild/artifact/freerdp-nightly_2.0.0+0~20180714014830.537~1.gbp770553_amd64.deb

How to reproduc

[2018-07-16 10:04] akallabeth commented on #4752
@gnshkl1 Do you have the `dbg` (or `-debug` packages on rpm based) packages installed? Might get a better trace.

[2018-07-16 10:10] akallabeth commented on #4752
@hardening could you have a look?

[2018-07-16 12:46] gnshkl1 commented on #4728
@akallabeth
/opt/freerdp-nightly/bin/xfreerdp --version
This is FreeRDP version 2.0.0-dev3 (7705535f9)

now tested with nightly build same issue microphone not working , details as below:-
/opt/freerdp-nightly/bin/xfreerdp /cert-ignore   /sound  /microphone /u:gk /p:xxx  /v:x.x.x.x    /gdi:hw /f

[2018-07-16 13:02] gnshkl1 opened #4753 "dynamic resolution issue with 2.0.0-dev3 (7705535) with nightly build same observed on self build"
Client OS:-Xubuntu-16.04_x86
Server OS:- en_windows_10_consumer_editions_version_1803_updated_march_2018_x64_dvd_12063379

/opt/freerdp-nightly/bin/xfreerdp --version
This is FreeRDP version 2.0.0-dev3 (7705535)

/opt/freerdp-nightly/bin/xfreerdp /cert-ignore /sound /microphone /u:gk /p:xxx /v:x.x.x.x /gdi:hw  /dynamic-resolution /gfx

How to reproduce:-
1:-take remote session
2:-maximize  then re

[2018-07-16 13:18] gofish543 commented on #4743
I should have done more reading, especially into log-level, before opening this so that I could more aptly verify the issue I'm having.
Regardless, here is the output for the smart card section.
[code]

[2018-07-16 13:35] akallabeth commented on #4743
@gofish543 Ok, so what I can tell is that the error is from `pcsc-lite`.
Does something similar happen with local access to the smartcard?

[2018-07-16 13:46] gofish543 commented on #4743
I do not have any issues connecting to the smart card. Is there a pcsc-lite tool I can use to verify that everything works?

[2018-07-16 13:54] akallabeth commented on #4728
@gnshkl1 Ok, then please do the following:
1. check if microphone redierection is enabled on your RDP server
1. If not run with `/log-level:trace`  and add the log here.

[2018-07-16 14:10] gofish543 commented on #4743
How about this...
[code]
I started messing around with the smartcard CCID list and giving different textual names to the IDs

[2018-07-16 14:15] akallabeth commented on #4743
@gofish543 Can you access the yubikey under linux without issues?
As for your debug output, looks wrong (as in you print uninitialized stuff)

[2018-07-16 14:19] informatimago commented on #4743
You can use opensc-tools: https://github.com/opensC/OpenSC/ <https://github.com/opensC/OpenSC/>
% opensc-tool --list-files

or pcsc_scan from pcsc-tools https://github.com/LudovicRousseau/pcsc-tools/releases/tag/pcsc-tools-1.5.1 <https://github.com/LudovicRousseau/pcsc-tools/releases/tag/pcsc-tools-1.5.1>

--
__Pascal J. Bourguignon__

[2018-07-16 14:22] gofish543 commented on #4743
opensc-tool --list-files is giving SELECT FILE failed: Not found

[2018-07-16 14:53] gnshkl1 commented on #4728
With 2.0.0rc2 and with ffmpeg dsp option ON microphone is working, but not
with current GIT version.
Ok i will provide trace log of current version

On Mon 16 Jul, 2018, 7:24 PM akallabeth, <notifications@github.com> wrote:

[2018-07-16 15:59] gofish543 commented on #4743
Just to give a little bit more insight. I did a fresh install of Ubuntu 18.04 onto a virtualized enviornment. I then ran apt-get update... upgrade... and dist-upgrade. After those finished I installed freerdp2-x11, pcscd, and opensc. I then get the exact same error as before.

[2018-07-16 16:51] gofish543 commented on #4743
Good news. I changed the pbAtr[32] value to be 100 (absurd I know, but did this just to make sure it wasn't going to buffer overflow) and replaced locations and the smartcard successfully forwarded through, but now in the RDP window it says the smart card does not have any valid certificates when I attempt to login via the rdp client

[2018-07-16 16:53] gofish543 commented on #4743
"I implemented the change of 34 bytes from 32, but now simply receive a SCARD_E_CANCELED error with no additional information. The card is valid as I use it to log into the windows server and I verified it contains the certificates on the Linux host using yubico-piv-tool"

[2018-07-16 17:03] gofish543 commented on #4743
After digging around and going back to the your first command, changing 32 -> 34 I get SCARD_E_CANCELLED
[code]

[2018-07-16 18:52] gofish543 commented on #4743
I did. I also tried it with v1.0-beta1, v2.0, the nightly build below, and master.
"Using nightly... https://github.com/FreeRDP/FreeRDP/tree/0ec9579013270dd648f1d5283727a03e6a814c88
[code]
"

[2018-07-16 19:46] akallabeth commented on #4743
Sorry, not self compiled but our nightlies. https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds as mentioned, installed on /opt

[2018-07-17 07:40] akallabeth commented on #4728
@gnshkl1 still waiting for the log ;)

[2018-07-17 07:46] gnshkl1 commented on #4728
@akallabeth
[freerdp.log](https://github.com/FreeRDP/FreeRDP/files/2200650/freerdp.log)

[2018-07-17 07:51] akallabeth commented on #4728
@gnshkl1 How did you optain this log? There seems to be something terribly wrong with the build you're using.

[2018-07-17 07:56] gnshkl1 commented on #4728
@akallabeth  attached new logs
/opt/freerdp-nightly/bin/xfreerdp /cert-ignore   /sound  /microphone /u:xx  /p:xxxx  /v:172.17.6.98  /gdi:hw /f  /log-level:trace >> freerdp_mic.log 2>&1

/opt/freerdp-nightly/bin/xfreerdp --version
This is FreeRDP version 2.0.0-dev3 (7705535f9)
[freerdp_mic.log](https://github.com/FreeRDP/FreeRDP/files/2200684/freerdp_mic.log)

[2018-07-17 08:05] akallabeth commented on #4728
@gnshkl1 build flags? for some mysterious reason it tries to log packets to some unwritable/invalid filename. Should be something in your `TEMP` path or `/tmp` as fallback.

[2018-07-17 09:14] akallabeth commented on #4728
Ah, ok. Your're in the non ffmpeg encoder paths with your build.
I´ve reviewed them and found a few issues, fixed them here:
https://github.com/akallabeth/FreeRDP/tree/dsp_fix

Still very buzzled by the file open failure on your temporary directory

[2018-07-17 09:21] gnshkl1 commented on #4728
@akallabeth yes /tmp has some wlog files

[wlog.zip](https://github.com/FreeRDP/FreeRDP/files/2201013/wlog.zip)

[2018-07-17 09:23] akallabeth commented on #4728
@gnshkl1 that is not the issue, but the failure to open and write these pcap files is. (see the recursion message caused by a failure to open/write the pcap and logging that)

[2018-07-17 09:44] gnshkl1 commented on #4728
@akallabeth
now  done  the same scenario with tracelog and not seeing this error.
what i have done:-
1:-delted /tmp/wlog folder  (which was created from root permission)
2:-may be i have run tracelog before with sudo permission.

[2018-07-17 09:58] gnshkl1 commented on #4747
@akallabeth not observed double free corruption issue with latest freerdp nightly build.
Freerdp nightly build are compiled with h264 options so cannot compare above issue exactly.

[2018-07-17 10:59] gnshkl1 commented on #4728
@akallabeth not tested yet will reply once done

[2018-07-17 13:21] gofish543 commented on #4743
[code]
Smartcard is forwarded through, but this is because I made changes to the underlying .so files (increasing the buffer size from 32 to 34). However, Windows is kind enough to tell me that "There are no valid certificates valid on the smart card". This is not true.

[2018-07-17 14:25] akallabeth commented on #4750
I'm working on some fixes for different sound backends https://github.com/akallabeth/FreeRDP/tree/dsp_fix and found a bug in the `freerdp_dsp_decode` function. If you could give that branch a try and post your feedback it would be appreciated.

[2018-07-17 14:57] akallabeth commented on #4728
@sh-dvl Ok, so far I can tell everything is working with `alsa` and `pulse` backends and their native formats.
`freerdp_dsp_endode` seems to basically work but the data sizes we feed differ from codec to codec, so there needs to be testing for each codec.
on the positive side AAC seems to work (although with a really long lag currently)

[2018-07-17 20:09] fread2281 commented on #2988
I'm having a similar issue, it seems to be https://serverfault.com/questions/220437/remote-desktop-connection-screen-is-totally-black-but-server-is-working-perfectl, not unique to freerdp. `-bitmap-cache` fixes it for me

[2018-07-18 05:57] gnshkl1 commented on #4728
@akallabeth mentioned branch does not fix my issue
https://github.com/akallabeth/FreeRDP/tree/dsp_fix
Tried on ubuntu 16.04 and ubuntu 18.04 with and without this options on/off one by one
-DWITH_DSP_FFMPEG=OFF -DWITH_GSM=OFF -DWITH_FAAC=OFF -DWITH_FAAD2=OFF -DWITH_LAME=OFF

[2018-07-18 07:09] andicheesi commented on #4753
I think the same like my problem [https://github.com/FreeRDP/FreeRDP/issues/4679]
I tried to discuss a solution but nobody takes care

[2018-07-18 07:10] akallabeth commented on #4728
@gnshkl1 Could you check which codec was chosen? `ADPCM` still has issues.

[2018-07-18 07:52] akallabeth commented on #4753
Did have a look and indeed, the requested resolution was not always updated in `xf_disp_handle_configureNotify`

[2018-07-18 08:37] sherwinkh commented on #4750
@akallabeth ，FreeRDP have Implemented the static virtual sound channel named RDPSND，does FreeRDP implement AUDIO_PLAYBACK_DVC? Could you give me some reference documentation?

[2018-07-18 09:08] gnshkl1 commented on #4728
@akallabeth how to determine which codec is currently being used for audio and microphone ?

[2018-07-18 09:42] akallabeth commented on #4728
@gnshkl1 The branch writes a debug log message whenever a sample is sent. Just run with `/log-level:debug`

[2018-07-18 09:50] gnshkl1 opened #4756 "Connection Bar for xfreerdp same as windows mstsc client"

[2018-07-18 10:11] gnshkl1 commented on #4728
@akallabeth yes its using ADPCM codec

Note :- https://github.com/akallabeth/FreeRDP/tree/dsp_fix compiled with -DWITH_DSP_FFMPEG=OFF
for test on Xubuntu 16.04_x86
anc compiled with -DWITH_DSP_FFMPE=ON on Ubuntu-18.04_x64 same log observed

xfreerdp /cert-ignore   /sound  /microphone  /u:gk /p:xxxx  /v:x.x.x.x  /f /log-level:debug | grep -i audin

[10:03:10:216] [7079:7086] [ERROR][com.winpr.timez

[2018-07-18 10:15] akallabeth commented on #4728
@gnshkl1 Ok, some more fixes, this time FFMPEG with AAC should work.

[2018-07-18 10:34] gnshkl1 commented on #4728
@akallabeth also facing issue with pulse backend on Xubuntu-16.04_x86 with branch  https://github.com/akallabeth/FreeRDP/tree/dsp_fix
same not observed on ubuntu-18.04_x64

xfreerdp /buildconfig
This is FreeRDP version 2.0.0-dev3 (n/a)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1

[2018-07-18 11:45] akallabeth commented on #4728
@gnshkl1 Checking branches not tested is useless ;) Already mentioned that it should work with the FFMPEG path and `AAC` codec.
As for this specific error, could you check your pulse is correctly working? This is only set during `rdpsnd_pulse_connect`

[2018-07-18 13:42] akallabeth commented on #4752
Looks like a716dc244ca147457520c9a92f96f7a917a1eed9 is at fault, should be fixed with #4755

[2018-07-19 05:48] gnshkl1 opened #4757 "dynamic resolution with full screen toggle support"
for example:-
/dynamic-resolution +toggle-fullscreen  is used without /f in commandline
then freerdp should support restore,maximize with ALT+CTRL+ENTER for fullscreen

[2018-07-19 07:19] mvankammen commented on #4751
We weren't able to reproduce it in xfreerdp, it seems to happen only in Remmina with the sound enabled.

[2018-07-19 07:34] akallabeth commented on #4757
And your issue is?

[2018-07-19 07:40] gnshkl1 commented on #4757
@akallabeth  feature request for display resolution update smoothness with above commandline

[2018-07-19 07:54] akallabeth commented on #4757
@gnshkl1 Please be a bit more specific, what do you mean by `smoothness`?
I'd interpret it as a duplicate of your own #4753, but I don't think that is your intention?

[2018-07-19 07:56] akallabeth commented on #4753
@gnshkl1 Does the pull request #4755 fix this issue?

[2018-07-19 07:57] akallabeth commented on #4752
@gnshkl1 Does the pull #4755 fix this leak for you?

[2018-07-19 08:01] akallabeth commented on #4751
I'm working on some sound/microphone related fixes but none of them are crashing bugs (just invalid/erroneous packets sent leading to no sound/sound distortions with microphone mostly)
The issue seems to be something with `pulse` audio backend.
You could test the following:
* Use another backend (alsa, oss, ...)
* Check if the local pulse installation is working correctly

[2018-07-19 09:29] akallabeth commented on #4750
@sherwinkh Sorry, what do you want to know? There are the rdp sound redirection specs (input and output) the channels are based upon. What do you mean with `AUDIO_PLAYBACK_DVC`?

[2018-07-19 09:29] akallabeth commented on #4750
#4758 implements the fixes for this.

[2018-07-19 09:31] akallabeth commented on #4746
#4754 fixes the issue for external certificate management.

[2018-07-19 09:31] #4746 closed

[2018-07-19 10:12] gnshkl1 commented on #4752
@akallabeth checking the same wait for my feedback

[2018-07-19 10:12] gnshkl1 commented on #4753
@akallabeth checking the same wait for my feedback

[2018-07-19 10:46] gnshkl1 commented on #4757
@akallabeth just tested your FreeRDP-dyn_resize_fix branch on ubuntu 18.04_x64 with windows 10 as remote server as below,
1:-dynamic resolution is working fine with maximize and restore button of window border
2:-after maximize use ALT+CTRL+ENTER for fullscreen mode
3:-then again use  ALT+CTRL+ENTER to exit full screen
4:-now maximize button is hidden from window border and use cannot update resol

[2018-07-19 10:59] gnshkl1 commented on #4757
@akallabeth now tested on Xubuntu-16.04_x86 and got same result
![accops_os_0 8 4_vxl-2018-07-19-16-28-49](https://user-images.githubusercontent.com/8046158/42938710-da39150a-8b70-11e8-9bc1-84fd22247509.png)

[2018-07-19 11:05] gnshkl1 commented on #4757
@akallabeth second screnario on Xubuntu-16.04_x86 as below
1:-take session
2:-maximize
![accops_os_0 8 4_vxl-2018-07-19-16-34-09](https://user-images.githubusercontent.com/8046158/42938943-b5c22ae4-8b71-11e8-9d94-a0e50138d150.png)

[2018-07-19 11:06] andicheesi commented on #4753
I will try to test asap

[2018-07-19 11:08] gnshkl1 commented on #4752
@akallabeth yes pull #4755 fixed this issue only remain #4757

[2018-07-19 11:09] gnshkl1 commented on #4753
@akallabeth pull #4755 fixes this issue only remain #4757

[2018-07-20 02:24] sherwinkh commented on #4750
This protocol is designed to operate over three transports:
 A static virtual channel, as specified in [MS-RDPBCGR] section 2.2.6 and 3.1.5.2. The virtual
channel name is "RDPSND".<1> The usage of a channel name when opening a dynamic virtual
channel is specified in [MS-RDPEDYC] section 2.2.2.1. The Remote Desktop Protocol layer
manages the creation, setup, and transmission of data over the virtu

[2018-07-21 09:40] mmattes commented on #4579
I am having similar issues on my notebook (one screen only) running Linux Mint 19 with Cinnamon 3.8.8 with both, the nightly Build and a self generated build from the PR #4600. I do start freerdp with `xfreerdp -u user@domain -f host`, trying to get out of the full screen mode by pressing CTRL+ALT+ENTER vanishes the freerdp window, but it seems to still grab all inputs as I am not able to do anyth

[2018-07-23 01:42] sherwinkh commented on #4750
In full screen size, playing the same video online, the sound quality is OK in win 7, but the sound is intermittent randomly in win server 2012 R2.when connectiong win 2012,I see the channel name "AUDIO_PLAYBACK_DVC",so I wonder  AUDIO_PLAYBACK_DVC can improving the sound quality in win 2012.

[2018-07-23 06:45] andicheesi commented on #4753
Fixed for me

[2018-07-23 15:30] shattars3d opened #4764 "Compiling FreeRDP for MACOSX"
Hey,

Where can I find the latest documentation to compile FreeRDP Mac OSX.

I noticed the instructions are for mountain lion?

thanks

[2018-07-24 01:40] supertin commented on #1528
I think I'm getting this in "Reckon Accounts 2018"... When I start entering a supplier in the "enter bills" section of Reckon, there's supposed to be a dropdown list of existing suppliers that match text being entered. Instead, I get an area that is transparent and shows the terminal behind the remoteapp window. Not an app killer because the first match is pre-filled in the still-visible text box

[2018-07-24 06:56] User9000 commented on #4593
Are there any plans on releasing Freerdp 2.0 for RHEL?

[2018-07-24 15:04] alfredeisenberg opened #4766 "shadow failure stops rendering to rdp client when user interacts with screen windows 10"
This looks to be different than issues #2267 and #3060.

Branch is master from 7/19

I am configuring build on windows 7 and windows 10 with the following command line:
(leaving SSE2 on gives compile issues, will ask in mailing list or irc about that one)

cmake .. -G"Visual Studio 11 Win64"  -DOPENSSL_ROOT_DIR=C:\OpenSSL-Win64  -DWITH_SERVER=ON  -DBUILD_SHARED_LIBS=OFF -DWITH_SSE2=OFF

Then build

[2018-07-25 02:36] qxlsz commented on #2115
How did this get resolved?

Thanks

[2018-07-25 11:08] J-l-F commented on #4716
Just in case it can help to drill down: Tried latest nightly builds (2.0.0-dev2 & 2.0.0-dev1), both fail the same way (h264 Failure) on plain Win2012 & Win2012R2 (client side, that is: where wfreerdp.exe is running).

[2018-07-25 13:25] piter1993vc opened #4767 "FreeRDP 2.0.0-dev3 The mouse pointer is doesn't appearing on windows server 2012"
Mouse cursor disappears with Windows 2012r2 Server OS.

Steps:
# Create a Windows 2012r2 Server VM
# Install tools on VM.
# Enable Remote Desktop Connection.
# Launch RDP session.
# Observer if mouse cursor appears or not?

Observation:
Mouse cursor disappears with Windows 2012r2 Server OS.

[2018-07-25 13:30] informatimago commented on #2115
This works in https://github.com/FreeRDP/FreeRDP/pull/4713
I use also Xiring card readers.

[2018-07-25 18:53] KenHolloway opened #4768 "Public-Signed Certificate Validation Error"
I recently upgraded to openSUSE Leap 15.0 on my laptop, and now I am getting a "certificate could not be verified" warning when connecting to servers that are using a public-signed certificate.

I redownloaded and recompiled on both openSUSE Leap 42.3 and openSUSE Leap 15.0 today - it works on 42.3, but not on the newer 15.0.

I am attaching the output from a strace for both operating systems. It

[2018-07-27 07:47] Mandar-Shinde commented on #4764
[Compilation is somewhat similar for latest version too.](https://github.com/FreeRDP/FreeRDP/wiki/Compilation#macos-specifics)
at least for me it is compiling on Mac 10.13.5 for version 2.0.0-rc2

[2018-07-27 10:00] Mandar-Shinde opened #4769 "Shift and Ctrl key have incorrect behaviour in some cases for MacOSX"
**Bugs**
1. Special character gets printed only after pressing shift key **twice** in remote windows machine.
2. "Ctrl+ C" do not copy text on remote windows machine.

**Expected behaviour**
1. Special character should print on pressing shift key once in remote. (works with mac mstsc)
2. "Ctrl+ C" key combination should copy text in remote machine. (works with mac mstsc)

**Observation**
1. If win

[2018-07-27 17:43] shattars3d commented on #4764
@Mandar-Shinde thanks,

What cmake version are you compiling the project with? also what Xcode version?

thanks

[2018-07-28 16:56] jol64 opened #4770 "domain on commandline of wfreerdp does not work?"
I am using command line  like the following:

`wfreerdp.exe /v:tom.my.dom "/t:joachim8-sandisk-ultra-ii-240gb-cc-e8-a3-86.20180728-020534-725-success.vhdx" /u:Joachim /p:** /vmconnect:78ACA787-66CF-434C-A3E5-09A629682CE8 /audio-mode:0 2>>"wfreerdp 20180728 181854.tracefile"`

this works as expected.

Now if I add /d:my or change /u to /u:joachim@my.dom or /u:my\joachim, then none of these work. In

[2018-07-30 02:41] lgenius777 commented on #4666
Hi, I have a same problem as your.
Since I modify sever part's  cmakelist "add_subdirectory(Windows)", and modify some define in windows server's source code. The wfreedp-server.exe can be compiled but can not run right.
How about yours? Can your server accept client and run right?

[2018-07-30 03:08] lgenius777 opened #4771 "Wfreerdp-server can not accept client"
The windows server may be unfinished, and I can not configure & make wfreerdp-server directly.
After modify the cmakelist under server dir ("add_subdirectory(Windows)"), and modify some defines which were changed from old version, I can make wfreerdp-server.
But when I run this server with cmdline " .\wfreerdp-server.exe 52000", server can not accept client right. The error info as following:
[10:

[2018-07-30 07:18] Mandar-Shinde commented on #4764
cmake: 3.11.3
xcode: 9.4- 9f1027a

Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_FLAG_SEARCH_PATHS_FIRST=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIB= HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIBS= HAVE_PTHREAD_MUTEX_TIMEDLOCK_SYMBOL= HAVE_SYSLOG_H=1 HAVE_SYS_EVENTFD_H= HAVE_SYS_FILIO_H=1 HAVE_SYS

[2018-07-30 07:47] akallabeth commented on #4764
Closing as this is not a bug. Please use IRC or mailing list for development discussions.

[2018-07-30 07:47] #4764 closed

[2018-07-30 07:47] akallabeth commented on #4750
@sherwinkh no, nothing to do with quality.

[2018-07-30 07:49] akallabeth commented on #4770
Is the machine domain joined? We do not implement kerberos support (only rudimentary support for non windows os is existing) that might explain the issue. Try to force different authentication modes, that might resolve your issue.

[2018-07-30 07:57] akallabeth commented on #4767
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting
Please try a bit harder with describing what is going on.

[2018-07-30 07:57] #4767 closed

[2018-07-30 07:59] akallabeth commented on #4716
@J-l-F Boils down to the h264 backend compiled in not being available on windows 7. No fallback provided currently, so you need to compile your own version for the time being.

[2018-07-30 08:00] akallabeth commented on #4768
@KenHolloway yes, we currently only implement certificate fingerprint matching, no check for authorities.

[2018-07-30 08:05] akallabeth commented on #4766
@alfredeisenberg Looks like the pointer callbacks are not implemented for the windows shadow server backend. See the X11 server for a sample, providing these should fix your issue.

[2018-07-30 08:08] akallabeth commented on #4593
@User9000 We only provide source releases and the nightlies, if someone wants it in RHEL then feel free to do so.

[2018-07-30 08:09] akallabeth commented on #4771
@lgenius777 yes, you're right. windows server is unfinished.

[2018-07-30 08:11] akallabeth commented on #1528
@supertin Could you try if it works when adding `/rfx /gfx:avc444` to your command line? There are some rare operations in legacy RDP that do not work 100% reliable, so maybe with modern drawing these are fixed for you.

[2018-07-30 09:37] lgenius777 commented on #4771
@akallabeth  Thanks~

[2018-07-30 10:28] #4679 closed, assigned to nobody

[2018-07-30 10:37] akallabeth commented on #4684
Fixed by #4773

[2018-07-30 11:31] #4757 closed

[2018-07-30 11:32] akallabeth commented on #4739
Closing due to lack of feedback.

[2018-07-30 11:32] #4739 closed

[2018-07-30 12:00] akallabeth commented on #4750
@sh-dvl I've been fixing various issues with sound encoding/decoding in freerdp, but I'm not entirely convinced this issue is freerdp only.
Could you check with a build with `--enable-fdkaac`? That should switch to AAC codec.
Reason I'm suspicious is the error message `unknown msgType` which happens before decoding sound related data.

[2018-07-30 12:02] akallabeth commented on #4750
@sh-dvl Sorry, forgot to add, reason for testing with AAC is that that path is working with https://github.com/FreeRDP/FreeRDP/pull/4758 applied against windows 8 and up, whereas I can not convince a windows 7 to send mp3 encoded data.

[2018-07-30 15:02] LinkingYou commented on #4722
I have exactly the same problem while trying to connect to WIndows Server 2012 through an RD Gateway server.

Testet right now with a new installation of linux mint 19 and the freerdp-nightly:
[code]

[code]

Let me know, if you need additional information for debugging this problem.

Thanks.

[2018-07-30 15:07] akallabeth commented on #4722
@LinkingYou Thank you, but this looks like a false positive. Keeping this issue until confirmed.

[2018-07-30 15:13] jol64 commented on #4770
client and server system are domain members, but I can also test with none-domain members. But my current undestanding is that if you do not use Kerberos (or CredSSP) than that should not be relevant.
Which authentication mode or more precise: which command line option(s) do you suggest?

[2018-07-30 15:30] gofish543 commented on #4743
Any updates on this?

[2018-07-30 17:37] jol64 commented on #4770
I just checked: it does not matter whether the client system is joined to the domain or not.

[2018-07-30 19:05] alfredeisenberg commented on #4766
Actually, I think this was a bit of a wild goose chase, but it got me to try a few more things.

The only place I see the pointer callbacks registered for any platform are in the client source, not in server.

I don't register the callbacks you mentioned, (when I did it crashed shortly after due to some other callbacks not being there) but I tried ignoring the false return status in ../libfreerdp/

[2018-07-31 08:57] akallabeth commented on #3666
Looks like no easy solution is available (thank you, nice little fullscreen mess with X11 window managers) without breaking something else.
Will delay this for the time being.

[2018-07-31 09:00] akallabeth commented on #2839
Closing this as new git tags are available.
Still not final 2.0, but at least something you can target.

[2018-07-31 09:00] #2839 closed

[2018-07-31 09:36] akallabeth commented on #4747
Fixed various sound and microphone related issues in #4758

[2018-07-31 09:36] #4747 closed

[2018-07-31 10:13] akallabeth commented on #4766
@alfredeisenberg Would suggest running the shadow server in a debugger and break before the call.
Check if the function pointer is set and if, where in the function it returns this error.

[2018-07-31 11:44] #4684 closed

[2018-07-31 14:30] thecrazyonestherebels opened #4775 "Microphone redirection is not working on Mac with latest master(2.0.0-dev3 (30626a5dc))"
Hi all,
I am using latest freerdp(as of now, https://github.com/FreeRDP/FreeRDP/commit/30626a5dc34a4e412babc7643c8da14780fca01d) from master to connect to remote windows machine from my Mac(with macOS 10.13.5, High Sierra).  Basically I wanted to make Skype calls from that remote machine, but microphone redirection is not working at all, I could hear the audio from the other end though.

I install

[2018-07-31 15:01] thecrazyonestherebels commented on #4775
Here is the build log, after running the command **cmake -D "CMAKE_OSX_ARCHITECTURES:STRING=x86_64" . && make**

-- The C compiler identification is AppleClang 9.1.0.9020039
-- The CXX compiler identification is AppleClang 9.1.0.9020039
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc
-- Check for working C compiler: /Applic

[2018-07-31 15:48] akallabeth commented on #4775
Could you check the build configuration for either ffmpeg dsp support or libgsm and faac?
Second, check the output of xfreerdp run with /log-level:trace to narrow down the issue
Third, preferred way is /microphone and /sound as parameters

[2018-07-31 21:38] sh-dvl commented on #4750
sorry, it'll take some days, before I can compile a new version - I'm on vacation until mid of august and most of the time neither online nor with access to the development-system.
please be patient.

[2018-08-01 01:56] supertin commented on #1528
That does solve the Reckon dropdown problem... Which is fantastic because it was the one concern I had for switching the entire business to Linux in the next few months :smile:
Thanks for the tip.

[2018-08-01 08:34] LinkingYou commented on #4722
If i explicitly set the /sec parameter to /sec:rdp or /sec:tls, i get the windows login screen for about 2 seconds.

After that i get a "detected memory leaks" message again:

[code]

[2018-08-01 09:48] akallabeth commented on #4722
@LinkingYou The error you get is `ERRCONNECT_SECURITY_NEGO_CONNECT_FAILED` (so the connection is aborted due to some negociation failure)
The `_strdup` and `StreamPool_Take` messages are interesting though, do you have the debug package (`-dbg` for debian based, `-debug` for rpm based) installed?

[2018-08-01 10:18] akallabeth commented on #4775
@thecrazyonestherebels There was indeed a configuration issue for the mac backend. Does #4776 improve the situation for you?
Note, please run with `/log-level:trace` or `/log-filters:com.freerdp.channels.audin.client:trace` to get some additional debug output from that channel.

[2018-08-01 11:01] akallabeth commented on #4775
@thecrazyonestherebels Would also suggest using the `ffmpeg` audio backend as that works more reliable at the moment than the custom format encoders.

[2018-08-01 12:56] akallabeth commented on #4722
@LinkingYou Could you add the contents of your rdp file here too? Seems like I'm missing some option to reproduce.

[2018-08-01 12:58] thecrazyonestherebels commented on #4775
Hi akallabeth,
Before I move on to #4776, I have the below update  using https://github.com/FreeRDP/FreeRDP/commit/30626a5dc34a4e412babc7643c8da14780fca01d

1) Could you check the build configuration for either ffmpeg dsp support or libgsm and faac? **I didnt verify it yet. Will consider as part of #4776**
2) Second, check the output of xfreerdp run with /log-level:trace to narrow down the issue.

[2018-08-01 13:02] akallabeth commented on #4775
@thecrazyonestherebels No need to post stuff already confirmed ;) That was the reason for #4776.

[2018-08-01 13:18] akallabeth commented on #4775
Tested on my mac, backend working. (Could record sound with AAC encoding, FFMPEG encoder)
If you still experience issues, please create a new issue with your build configuration (`/buildconfig`) and log attached.

[2018-08-01 13:18] #4775 closed

[2018-08-01 13:28] LinkingYou commented on #4722
Here is the content of the rdp file:

[code]
The last line is "signature:s:" that i have removed.

Please let me know, if i can give you additional infos for debugging. It's no problem to install the freerdp-nightly-dbg package. Please tell me what to do with this package.

[2018-08-01 14:11] thecrazyonestherebels commented on #4775
@akallabeth
Got the latest code(1c75854a3aca1b0069694d09a6eb709ed1d8cf63) from master and enabled FFMPEG.
unfortunately, its still not working with Skype calls from remote machine.

Will raise a separate issue with more details.

[2018-08-01 14:33] thecrazyonestherebels opened #4779 "Microphone redirection is not working on Mac with latest master(FreeRDP version 2.0.0-dev3 (1c75854a3))"
Hi all,
I am using latest freerdp(as of now, 1c75854a3aca1b0069694d09a6eb709ed1d8cf63) from master to connect to remote windows machine from my Mac(with macOS 10.13.5, High Sierra). Basically I wanted to make Skype calls from that remote machine, but microphone redirection is not working at all, I could hear the audio from the other end though.

**Compiling from sources, and generating Mac native

[2018-08-01 14:34] akallabeth commented on #4722
@LinkingYou Ok, seems the gateway path is not cleaning up some resources on shutdown.
If you run the command with the debug package installed, there might be more names in the stack trace (instead of funny numbers ;))

[2018-08-01 14:37] akallabeth commented on #4775
@thecrazyonestherebels Could you please post your `/buildconfig`?
Is the codec used `WAVE_FORMAT_AAC` or `WAVE_FORMAT_ADPCM`? (the latter one is from the non FFMPEG path and might be buggy)

[2018-08-01 14:39] akallabeth commented on #4779
Ok, this is because of a buggy `ADPCM` implementation. Try enabling the FFMPEG backend, then it will work. (`WITH_DSP_FFMPEG=ON`)

[2018-08-01 15:01] schadsey opened #4780 "sporadic screen redraw issues when display compositing is enabled"
I'm running xfreerdp from `freerdp-nightly 2.0.0+0~20180731014836.540~1.gbp88474a` on xubuntu 17.10, x86_64.  My window manager is Xfce. Occasionally when I am working in a remote desktop session, the screen will not be fully redrawn, leaving square artifacts of previous windows on the screen.  E.g. if I move a window, part of the window will still be drawn in the old location.  Sometimes launchin

[2018-08-01 15:05] akallabeth commented on #4780
@schadsey Does this also happen with `/rfx /gfx:avc444` enabled?

[2018-08-01 15:34] schadsey commented on #4780
@akallabeth It seems the `/gfx:avc444` option isn't recognized - when I add those two options to my command line, I get a usage message.
If I add `/rfx`, the issue remains.

I forgot to mention other flags I've tried in the past with no luck:
`/offscreen-cache`
`/bitmap-cache`
`/gfx +gfx-progressive`

Mostly these were just stabs in the dark.

[2018-08-01 17:47] wharthog69 commented on #4751
i had a similar problem.  Changing sound from "Local - {High|Medium|Low} Quality" to "Local" only seems to have fixed the problem.

[2018-08-02 13:47] x-yuri commented on #3466
@AdamFonagy Can you elaborate? If I'm running Amazon EC2 instance (Windows Server 2003 R2 Datacenter Edition SP2), do I have a gateway? How did you learn about gateway?

What I get is:

[code]

With the other (non-Amazon) server (Windows Server 2003 Standard Edition SP2) this command line works out.

[2018-08-02 14:29] AdamFonagy commented on #3466
@x-yuri I had a gateway error in the error message I've posted above. On the other hand they told me I need to config my connection as to connect through gateway.
I suggest you to check the available cli options of freerdp especially /sec: <rdp|tls|nla|ext>
See: https://github.com/FreeRDP/FreeRDP/wiki/CommandLineInterface

[2018-08-02 16:26] gofish543 commented on #4743
I went ahead and tried to use the nightly build (the one from yesterday), but received the same error from before.

Upon changing the buffer from 32 to 34 I can eliminate the buffer overflow error that continues to occur.
However, this results in an error on the Windows side. Windows detects the smartcard, but responds with a
[code]
![image](https://user-images.githubusercontent.com/10394554/43597

[2018-08-02 16:31] gofish543 commented on #4743
I went ahead and tried to do the nightly build as requested and here is the following output from the nightly build as of yesterday...

[2018-08-02 18:36] shattars3d commented on #4764
@Mandar-Shinde
ran, cmake -D "CMAKE_OSX_ARCHITECTURES:STRING=i386;x86_64" . && make

getting these errors?

Linking C shared library libwinpr2.dylib
Undefined symbols for architecture i386:
  "_ERR_remove_thread_state", referenced from:
      _winpr_CleanupSSL in ssl.c.o
  "_FIPS_mode", referenced from:
      __winpr_openssl_initialize in ssl.c.o
      _winpr_FIPSMode in ssl.c.o
  "_FIPS_mode_set"

[2018-08-02 19:13] thecrazyonestherebels commented on #4779
@akallabeth
thanks for your inputs, its working fine. However I have seen few issues when I was having voice call using Skype for business.
1) Some times I see a warning "Your device is causing poor audio quality" during the call, please find the attached SS. And in few cases, Microphone stopped working, though I didn't see any errors in the logs.
2) As the call duration progresses, I could see th

[2018-08-02 19:54] x-yuri commented on #3466
Thanks, at least I can now directly connect with `/sec:rdp`. That means a lot to me. But it still doesn't work with `/sec:tls`. So it seems to fail to negotiate. It might be related to [#2828](https://github.com/FreeRDP/FreeRDP/issues/2828). It might has something to do with the server identifying itself with an [invalid certificate](https://filedb.experts-exchange.com/incoming/2010/08_w35/342190/

[2018-08-03 06:02] akallabeth commented on #4779
@thecrazyonestherebels thx for the input, the logs from freerdp (/log-level:trace) would help a bit more ;)

[2018-08-03 06:04] akallabeth commented on #4764
@shattars3d seems you link against the wrong ssl library, check the path in CMakeCache.txt

[2018-08-03 07:03] akallabeth commented on #4743
@gofish543 So you no longer have the initial issue but you still can't access the reader?
Does it work within a session? (don't know if the login related stuff actually ever worked as it requires an extended protocol)

[2018-08-03 10:42] LinkingYou commented on #4722
I have tested freerdp in different version on different linux dists:

[code]

[2018-08-03 10:56] akallabeth commented on #4722
@LinkingYou Could you please elaborate what `works` means in this context? The leak warnings are from address sanitizer which might not be activated in distribution packages.

[2018-08-03 11:28] thecrazyonestherebels commented on #4779
@akallabeth,
I tried to reproduce the above issue#1, with 5-6 calls, but couldnt make it. Will share the log If I faced it again.
Regarding lag, I had call with Skype for business for approximately 1hour 20minutes, which has around 110MB of log data, which I couldn't upload here, but here is the dropbox link to download. https://www.dropbox.com/s/jnnhun31zpwhpey/SkypeForBusiness_Call_Log_1hour_18m

[2018-08-03 11:46] LinkingYou commented on #4722
"Works" means, that i could establish a connection to our rdp server. In all cases i use the same rdp-file and the same parameters

In example on the ubuntu machine - the nightly build version:

[code]
... and on the same machine the freerdp version shipped with the distribution:

[code]
It takes some time - but after that i am connected to my rdp-server and i can working on it.

[2018-08-03 12:02] akallabeth commented on #4722
@LinkingYou From the logs I can tell you that you're missing `/gp:<pass>` parameter (see `GatewayPassword:`)
Does it work, if you enter it again here with the current version?

[2018-08-03 12:05] akallabeth commented on #4779
@thecrazyonestherebels Thx for the log, as for the codec, just use ffmpeg if available for the time being. Should prefer AAC anyway (better quality/less bandwidth)

[2018-08-03 12:09] LinkingYou commented on #4722
Unfortunately that does not make a difference :-(

And the logs of both version looks exactly like before.

[2018-08-03 12:10] akallabeth commented on #4722
@LinkingYou Running with `/log-level:trace` might give you some hint in what is going wrong ;)

[2018-08-03 12:19] LinkingYou commented on #4722
Here is log for the not working nightly build version:

[code]

[2018-08-03 12:42] akallabeth commented on #4722
Great, looks like https://github.com/FreeRDP/FreeRDP/pull/1730 is back.
Changed that so that configurations with (internal) DNS are working, but looks like your setup requires the opposite...

[2018-08-03 17:09] schadsey commented on #4779
I noticed today that microphone redirection was not working with a recent daily build I was using on Xubuntu 17.10 x86_64, connecting to Windows 10 Enterprise.
Working version:
* `freerdp-nightly_2.0.0+0~20180405014917.508~1.gbp559732_amd64.deb`
* `This is FreeRDP version 2.0.0-dev2 (55973288f)`

Failing version:
* `freerdp-nightly_2.0.0+0~20180731014836.540~1.gbp88474a_amd64.deb`
* `This is FreeR

[2018-08-04 17:48] mmattes commented on #4756
I started to work on this. See https://github.com/mmattes/FreeRDP/tree/feature/fullscreen-bar for an initial version. It already can do close, minimize or toggle full-screen and resizing and dragging it around also works. I still do have stuff to do on it to get it ready to be pulled in e.g. auto-hide or make sure that i fulfill the coding guidelines of the project.

BTW: this is actually the firs

[2018-08-05 00:39] KenHolloway commented on #4768
I am not sure what the exact terminology is, but when I am running under openSUSE 13.1 or openSUSE 42.3, connecting to a server that is using a public-signed certificate just connects; when I try the exact same thing under openSUSE Leap 15.0, I get an error.

I was not trying to ask for a new feature - just help figuring out why it behaves differently under the different versions of openSUSE, and

[2018-08-05 07:57] akallabeth commented on #4768
Ok, did you accept keys previously? /cert-tofu does that on first connect

[2018-08-05 14:26] helgef commented on #4337
This issue is closed due to no feedback from reporter. However I'm experiencing this issue now and would like to assist in getting it fixed.

I have tried both the nightly build and also tried building from source with no effect. Please let me know how I can help.

Current output:
[16:25:44:882] [20647:20648] [INFO][com.freerdp.client.common.cmdline] - loading channelEx cliprdr
[16:25:44:889] [206

[2018-08-05 14:40] KenHolloway commented on #4768
No, I had not accepted the keys - known_hosts2 is empty on my openSUSE 42.3 machine that I am testing from, and I have never used /cert-tofu.

In the output from strace, I see that on both operating systems it is finding that the CA certificate exists:

stat("/var/lib/ca-certificates/openssl/4bfab552.0", {st_mode=S_IFREG|0444, st_size=1492, ...}) = 0

Under openSUSE Leap 42.3, it then opens the CA

[2018-08-05 18:50] helgef opened #4781 "Authentication fails when connecting through RD Gateway"
I commented under issue #4337 but since that is closed I suspect that will go unnoticed.

When attempting to connect to a connection that has worked in the past using remmina, I now suddenly got a generic "Could not establish RDP connection" error message.

In order to dig a little deeper and hopefully get a better error message I decided to install freerdp from the repository and attempt to conne

[2018-08-05 18:57] helgef commented on #4781
Worth mentioning that I have no issues connecting using mstsc from windows.

[2018-08-06 03:01] lizhisen opened #4782 "wfreerdp build(#502) starts very slow and exit with 131075"
version：Last build(#502)  https://ci.freerdp.com/job/freerdp-nightly-windows/

if using: wfreerdp64.exe /v:10.232.50.242 /cert-ignore   it prompt but exit after entering the user and password。

if using:  wfreerdp.exe /v:10.232.50.242 /u:administrator /p:xxxxx /log-level:trace > log.log

exit immediately, log here:

[10:23:43:215] [7140:00001f9c] [DEBUG][com.freerdp.channels.cliprdr.client] - Virt

[2018-08-06 03:34] akallabeth commented on #4781
Commandline please? Looks like you use the wrong gateway parameters, try /gt: options

[2018-08-06 03:36] akallabeth commented on #4782
You're missing 2>&1 and therefore the actual error message ;)

[2018-08-06 04:00] lizhisen commented on #4782
HI, here are the new log output:

**if using: wfreerdp64.exe /v:10.232.50.242 /cert-ignore /log-level:trace > log.log 2>&1**

[11:54:15:962] [5732:00001ff0] [DEBUG][com.freerdp.channels.cliprdr.client] - VirtualChannelEntryEx
[11:54:15:962] [5732:00001ff0] [INFO][com.freerdp.client.common.cmdline] - loading channelEx cliprdr
[11:54:15:963] [5732:00001ff0] [DEBUG][com.freerdp.core.nego] - Enabling

[2018-08-06 06:00] akallabeth commented on #4782
You're using windows 7? Compile without `WITH_MEDIA_FOUNDATION`

[2018-08-06 06:04] akallabeth commented on #4779
@schadsey I've updated the nightly builds in #4783

[2018-08-06 06:09] akallabeth commented on #4768
@KenHolloway Just checked, are there some OpenSSL related settings changed? We're verifying the certificate in `x509_verify_certificate` which is a wrapper creating a `X509_STORE` with additional lookup paths.

[2018-08-06 06:15] akallabeth commented on #4756
@mmattes Looks good overall, just 2 little hints:
* We try to stay compatible with older compilers, so no C++ comments or variable declarations mid code
* Use `./scripts/format_code.sh` (astyle) script which formats code according freerdp standards

[2018-08-06 06:28] lizhisen commented on #4782
yes, Windows 7 sp1 x64.

I will try to do.

[2018-08-06 06:28] #4782 closed

[2018-08-06 06:48] helgef commented on #4781
Thanks,

I tried several mutations of the command line, /gt did not seem to do anything.

I was however able to connect when using both the /gd and the /d parameter. I had first used them only as part of the /u and /gu parameter (DOMAIN\user). Setting them explicitly seems to work.

So now I'm able to connect through xfreerdp. That still leaves my issues with Remmina, but I assume this is the wron

[2018-08-06 06:50] akallabeth commented on #4781
Glad to hear. Well, then closing as resolved.

[2018-08-06 07:11] gnshkl1 commented on #4756
@mmattes Good work can you make it configurable from freerdp commandline

[2018-08-06 08:00] gerdneuman opened #4784 "Nigthly's microphone redirection crashes"
I am trying to set up a connection with audio and microphone redirection from Ubuntu 16.04 to Windows 10. Audio works fine, but microphone never worked -- neither in Remmina nor in Ubuntu's default freerdp packages. So I installed the latest Nightly version. It still not works but this time there's also a 100% reproducable crash:

**To Reproduce**
1. Execute the following command.
2. Then in the l

[2018-08-06 08:02] akallabeth commented on #4784
Duplicate of #4779

[2018-08-06 08:02] #4784 closed

[2018-08-06 13:59] KenHolloway commented on #4768
I have not ever made any OpenSSL configuration changes.

I just compared /etc/sll/openssl.cnf on the two systems. The only differences I see are that openSUSE Leap 42.3 had:

basicConstraints = CA:true
digests         = md5, sha1

and openSUSE Leap 15.0 has:

basicConstraints = critical,CA:true
signer_digest  = sha256
digests     = sha1, sha256, sha384, sha512

I tried copying openssl.cnf from the

[2018-08-06 18:08] KenHolloway commented on #4768
I am not sure how to tell. This certificate is from 27 December 2016. When I look at it in a browser (same certificate is used for IIS and RDP), it says Certificate Signature Algorithm is SHA-256.

[2018-08-06 18:31] gnshkl1 commented on #4756
@mmattes active by default and command line switch to disable it will be good option

[2018-08-07 06:03] akallabeth commented on #4768
@KenHolloway ok, so the cert is sha256. Could you check the ca signed with sha256 too? Or, inverse test does it work if you add sha1 to signer_digest? (Please remove again after the test)

[2018-08-07 13:48] mouchymouchy opened #4785 "Drive share error"
Hello

I have a bug on drive share fonctionnality since freerdp-1:2.0.0_rc3 on arch linux.

I can see on \\tsclient the share but when i try to access I have the message below :
*\\tsclient\partage is not accessible. You might not have permission to use this network resource. Contact the administrator of this server to find out if you have access permissions.
Attempt to access invalid address.*

!

[2018-08-07 14:12] akallabeth commented on #4785
@mouchymouchy Can access redirected drives here quite fine (fedora 28 that is)
Could you check the debug log (`/log-level:trace`) for errors/messages during the failed access attempt?

[2018-08-07 15:06] mouchymouchy commented on #4785
hello @akallabeth
Please find attach the log file.

[trace.log](https://github.com/FreeRDP/FreeRDP/files/2266934/trace.log)

[2018-08-07 15:13] akallabeth commented on #4785
@mouchymouchy Indeed, nothing relevant (not even access to drive)
Could you post the build configuration of your `2.0.0-rc3` build too? Maybe something is amiss there.
Btw, is `-v::3389 ` a typo or are you really connecting like this? syntax is `/v:<host|ip>[:port]`

[2018-08-07 15:18] mouchymouchy commented on #4785
@akallabeth here is the buildconfig : *xfreerdp /buildconfig*
[code]

Also, It's was mistake, I used -v:<ip>:port, and change this parameter to /v:<ip>:port but same problem

[2018-08-07 15:19] akallabeth commented on #4785
@mouchymouchy yes, but which host are you connecting to? localhost?

[2018-08-07 15:21] mouchymouchy commented on #4785
@akallabeth sorry I didn't understand the question.
I connect to a windows server 2012 ip address

[2018-08-07 15:36] fifothekid opened #4786 "Full-screen Multimonitor Bug"
I've been using the latest master version for months now to access my home computer with 3 monitors using the following command from Ubuntu 16.04:
xfreerdp +auto-reconnect /frame-ack:0 /bpp:16 -decorations /dynamic-resolution /f +fonts /gdi:hdi +home-drive -themes -wallpaper +clipboard /u:*** /multimon:3 /p:*** /rfx /rfx-mode:video +drives /disp /v:201.**.**.**:3389
It has been working perfectly b

[2018-08-07 16:37] hardening commented on #4786
do you get the same if you don't use `/dynamic-resolution` ?

[2018-08-07 16:40] fifothekid commented on #4786
removing /dynamic-resolution solved it

[2018-08-07 16:41] hardening commented on #4786
@akallabeth could it be related to you last changes in the dynamic channel ?

[2018-08-08 07:43] akallabeth commented on #4786
@hardening No, just checked. With the old version `/dynamic-resolution` did not work with fullscreen as the window was non resizeable.
It now is working but the restore fullscreen logic was never adapted to restore multimonitor fullscreen.

[2018-08-08 07:49] akallabeth commented on #4785
@mouchymouchy Ok, just wanted to be sure (sometimes these kind of things are actually the reason for something not working)
As for your issue, it is strange, as I can connect to my test machines (xrdp, ogon, windows xp to 10 as well as some server versions) work as expected.
What is strange though is that you have no log entries at all relating to drive redirection except the first line loading th

[2018-08-08 08:26] akallabeth commented on #4722
Ok, created https://github.com/akallabeth/FreeRDP/tree/redirect_fqdn_fix
There the `FQDN` supplied during redirection is checked first (tried to resolve) and only if that is successful used.
Does this fix this issue here?

[2018-08-08 08:28] akallabeth commented on #4722
@LinkingYou Sorry it took some time, but does that branch help you?

[2018-08-08 09:25] akallabeth commented on #4722
#4787 should address this issue.

[2018-08-08 14:10] hardening commented on #4786
@fifothekid does it work with @akallabeth 's fix applied ?

[2018-08-08 14:18] KenHolloway commented on #4768
Both the Intermediate and Root certificates are also SHA-256.

I copied the opensssl.cnf from my 42.3 computer to my 15.0 computer - no change. (strace still shows that it finds that /var/lib/ca-certificates/openssl/4bfab552.0 exists, but it never tries to open in. Under 42.3, it find that it exists, then opens it.)

[2018-08-08 15:12] akallabeth commented on #4785
@mouchymouchy Thank you for the feedback.
Closing this as resolved then, create a new one if you encounter it again.

[2018-08-08 15:12] #4785 closed

[2018-08-08 21:07] mmattes commented on #4756
@gnshkl1 have a look at https://github.com/mmattes/FreeRDP/commit/37d84751b331cac1e53f3bac66f2a0b382f1131c where i added a new option to disable the floatbar. But i got some queries.
- settings.h seems to be, at least partially, auto generated. I couldn't figure out in detail ho,  why i am not sure if the new option i added is correct?
- cmdline.h seems to be common for all clients, i have seen th

[2018-08-08 21:10] mmattes commented on #4756
Totally forgot, i have no devices to test if my floatbar implementation within the X11 client is working properly in multimonitor mode and not shown at all when it is a RemoteApp. Can anyone verify that?

[2018-08-08 21:40] schadsey commented on #4780
If this were a local configuration issue, then one thing I thought might make a difference was the video driver.  I was using the nvidia driver, `384.130-0ubuntu0.17.10.1`.  I removed it to use the nouveau driver.
[code]
After rebooting, I tried both xfreerdp and xtightvncviewer and although it's only been about 30 minutes, I haven't yet seen any screen drawing/redrawing/repainting issues with com

[2018-08-09 06:11] akallabeth commented on #4780
Ok, closing as we can't help with buggy drivers :/
Reopen if this assessment is wrong.

[2018-08-09 06:11] #4780 closed

[2018-08-09 07:14] LinkingYou commented on #4722
It works fine for me and without any warnings or errors. Great work!
Thank you very much!

[2018-08-09 17:30] NeiroNx opened #4790 "New command syntax do not work"
`xfreerdp /v:192.168.0.100 /f /u user /p password`
do not work, but
`xfreerdp -f -u user -p pasword 192.168.0.100`
is working, but prints wanings about deprecated command line syntax
some problem with parsing new syntax

[2018-08-09 19:16] akallabeth commented on #4790
Please read the manual a bit more careful, your syntax is wrong.

[2018-08-09 19:17] #4790 closed

[2018-08-09 21:23] thecrazyonestherebels opened #4791 "[RDPAI] audio lag for mic keeps increasing (>30s and beyond)"
**Description**
While connecting to Win 10 Desktop Skype call audio lag from mic keeps increasing.

**To Reproduce**
* Compile FreeRDP using WITH_DSP_FFMPEG=ON option on Mac.
* Connect with MacFreeRDP to Win 10 Machine and start Skype for Business (Basic) call.
* Audio lag (delay) keeps increasing immediately ( rate ~2s late/minute )

**Expected behavior**
Lag should not increase but remain consis

[2018-08-09 21:43] akallabeth commented on #4791
Does it help to add /gfx:avc444 /network:auto to reduce network bandwidt by 90%?

[2018-08-09 23:52] thecrazyonestherebels commented on #4791
The delay still keeps increasing even with ``` /gfx:avc444 /network:auto``` setting. FWIW the bandwidth between the machines should not be a problem.

@akallabeth is there some FFMPEG/ AAC setting which needs to be changed for streaming audio please?

[2018-08-10 02:03] weihaigang commented on #3887
都是英文看不懂  就一个中文顶起  让大神来拯救我们吧

[2018-08-10 05:46] weberhofer commented on #4573
This warnings still occur in 2.0.0-rc3

[2018-08-10 08:32] weihaigang commented on #4401
顶 同样的问题

[2018-08-10 21:58] burgertime14 opened #4792 "Smart card authentication causes seg fault - OSX"
Description:
Using OSX High Sierra making an RDP connection, using the /smartcard option causes Segmentation Fault: 11.  Tested with both Yubico Yubikey 4 and HID Global OMNIKEY 3x21 Smart Card Reader with an Oberthur card -- same behavior.

Steps to reproduce the behavior:
1. Insert smart card
2. Execute 'xfreerdp /cert-ignore /v:69.58.198.140 /smartcard:"Yubico Yubikey 4 OTP+U2F+CCID" /log-level

[2018-08-11 19:39] xsmile opened #4793 "Share access error"
**Describe the bug**
Accessing a shared home folder or shared directories inside the home folder does not work.

**To Reproduce**
1. Run the command listed below to connect
2. Open the shared drive in Explorer
3. Open the home folder

**Expected behavior**
The home folder is accessible.

**Screenshots**
Trying to access the home folder:
![home-dir](https://user-images.githubusercontent.com/920840/

[2018-08-12 09:09] giox069 commented on #4793
Same problem detected by a Remmina user, see Remmina [issue #1711](https://gitlab.com/Remmina/Remmina/issues/1711)

[2018-08-13 00:30] Lonniebiz commented on #4785
I'm having this problem too (downstream with [Remmina bug 1711](https://gitlab.com/Remmina/Remmina/issues/1711)).

[2018-08-13 06:14] akallabeth commented on #4792
Does it work if compiled with `-DWITH_PCSC=ON`?

[2018-08-13 06:26] akallabeth commented on #4791
@thecrazyonestherebels The server decides which codec to use. The client can only announce what it supports.
With `/log-level:debug`  you should get some messages informing about the chosen codec (which might change during usage)

[2018-08-13 06:32] akallabeth commented on #4793
So, it would be interesting if you can access the folder locally.
Please add `ls -lah /home` (should only list the folders of your users, redact if necessary) and `whoami` output for reference.

[2018-08-13 07:17] mouchymouchy commented on #4785
I'm not alone :)

[2018-08-13 07:42] giox069 commented on #4793
[code]
[code]
Then xfreerdp to a windows 10 Pro PC or a 2012 R2 server
[code]
I can see \\tsclient\xxx on network resources with window explorer, but when I click on it, the above error appears:

![immagine](https://user-images.githubusercontent.com/5477803/44018662-ce35eb3c-9edc-11e8-969c-bbcbc11c37ee.png)

So: am I using some kind of wrong commandline parameter (/drive:xxx,/home/giovanni/Documen

[2018-08-13 08:25] giox069 commented on #4793
Uhm... it does not happen with xfreerdp my laptop. Both my PC and laptop and my desktop PC have ubuntu 18.04, same cmake parameters, both 64bit intel cpu. I will try to apt-update both and see.

[2018-08-13 09:27] xsmile commented on #4793
@akallabeth I set up several users with different permissions for their folders, shared `/home`, tried to access them and these are the results:
[code]

- user: dialog 1 (see screenshots in the first post)
- user1: dialog 2
- user2: dialog 1
- user3: dialog 1
- user4: dialog 2
- user5: dialog 1
- user6: dialog 1
- user7: dialog 2

I created another folder `/home2` and it can be shared without issu

[2018-08-13 10:32] Lonniebiz commented on #4785
I'm seeing effort on this issue via issue [4793](https://github.com/FreeRDP/FreeRDP/issues/4793).

[2018-08-13 10:49] Lonniebiz commented on #4793
After reading @xsmile 's post, I tried renaming my current share folder, and then created a brand new folder with the exact same name as the previous share folder.

After this, I disconnected and then reconnected to the remote desktop (via Remmina). At first I could access the local share folder from the remote desktop; I even wrote a new file to the share.

However, after that, I click on another

[2018-08-13 11:28] akallabeth commented on #4793
@xsmile @giox069 @Lonniebiz Thanks for debugging, this was a tough one.

[2018-08-13 12:14] Lonniebiz commented on #4793
That makes sense, because,  when my share folder was empty, I could put something into it. But, as soon as it had one file in there, and I click away and came back, the error returned.

[2018-08-13 12:33] #4793 closed

[2018-08-13 12:47] giox069 commented on #4793
It seems that the fix works, thank you.

[2018-08-13 13:55] KenHolloway commented on #4768
Does FreeRDP just call OpenSSL to do the certificate checking? Is this a problem with OpenSSL instead of FreeRDP?

[2018-08-13 16:47] akallabeth commented on #4768
@KenHolloway Roughly yes, but `x509_verify_certificate` does some argument conversion/preparation before calling openssl

[2018-08-13 20:18] Lonniebiz commented on #4793
BTW, the workaround I'm currently using (in case someone else comes across this in the meantime) is this:

Inside my share folder I've added another sub-folder, and I've placed all existing files (that were directly in the share-folder) into this sub-folder instead. As long as there are only folders inside the share folder (and absolutely no files), you can transfer files back and forth (between l

[2018-08-13 21:25] burgertime14 commented on #4792
Behavior is now:
RDP session launches, checking smartcard, Connect smart card.  Logs now:
[16:23:23:237] [70567:0b73e000] [INFO][com.freerdp.channels.rdpdr.client] - registered device #1: SCARD (type=32 id=1)
[16:23:24:808] [70567:0bbd9000] [WARN][com.freerdp.channels.smartcard.client] - IRP failure: SCardStatusW (0x000900CC), status: SCARD_E_INSUFFICIENT_BUFFER (0x80100008)
[16:23:55:787] [70567:

[2018-08-14 06:17] gnshkl1 opened #4798 "Freerdp v2.0.0-rc3 session disconnect [audin: codec AAC] have invalid data"
Client OS:- Ubutnu 18.04_x64
Server OS:- Windows 10 pro x64
Freerdp version:-v2.0.0-rc3

Commandline:-
xfreerdp /u:xx  /p:xxx  /v:x.x.x.x  /sound:sys:pulse /microphone:sys:alsa /dynamic-resolution /f /gfx-h264 +fonts /log-level:trace /gdi:hw -themes

Buildconfig:-
This is FreeRDP version 2.0.0-rc3 (n/a)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_

[2018-08-14 06:36] akallabeth commented on #4792
@burgertime14 Looks like something entirely different now, you get logged off by the server for some reason.

[2018-08-14 06:43] akallabeth commented on #4798
@gnshkl1 and where is the crash?
Can only see a disconnect after receiving invalid data. (which might be an error, but have to check)

[2018-08-14 06:52] akallabeth commented on #4798
@gnshkl1 If you change the return code in `ffmpeg_encode_frame` after the log message `Error submitting the packet to the encoder` to `TRUE` does it survive such encoder errors?

[2018-08-14 07:14] gnshkl1 commented on #4798
@akallabeth  testing above changes

[2018-08-14 07:30] gnshkl1 commented on #4798
@akallabeth after changing return value of ffmpeg_encode_frame session is not disconnecting ,
still need more testing to confirm same.

[2018-08-14 07:49] akallabeth commented on #4798
@gnshkl1 Ok, but does the microphone continue working?

[2018-08-14 08:28] akallabeth opened #4799 "Wayland add shortcut inhibit support"
With wayland it is currently not possible to forward compositor shortcuts.
Supporting the (unstable) https://cgit.freedesktop.org/wayland/wayland-protocols/tree/unstable/keyboard-shortcuts-inhibit might fix that.

[2018-08-14 09:03] gnshkl1 commented on #4798
@akallabeth tested skype call for 25 minutes and session not disconnected and microphone and sound was working .
Microphone audin quality is not good
Sound quality is good.

[2018-08-14 09:48] akallabeth commented on #4798
@gnshkl1 does it work better with pulse backend?

[2018-08-14 10:47] gnshkl1 commented on #4798
@akallabeth with audin as pulse backend has lag and some noise

[2018-08-14 12:26] akallabeth commented on #4798
@gnshkl1 Need some more detailed information ;)
the encoder is always the same, but it is fed differently (buffer sizes, ...) from both backends (alsa/pulse)
Seems like there are some issues remaining in configuring them correctly to always send proper data.

[2018-08-14 13:35] burgertime14 commented on #4792
@akallabeth -- Thanks for your response.

It appears more, in my opinion, related to not being able to read the card.  You can see in the logs that the disconnect happens 30 seconds after the SCARD_E_INSUFFICIENT_BUFFER error.  My fault for including unnecessary logs. Also, may now be a duplicate of #4743, which seems to be the same behavior on Linux, although this case is open, but does not look

[2018-08-14 14:35] akallabeth commented on #4792
Just a stupid question, are you trying to use the smartcard for authentication? That feature is still not implemented ;)

[2018-08-14 14:37] burgertime14 commented on #4792
Yes.  Not implemented in 2.X?  Is it planned?  I know that it (usually) worked in 1.X.

[2018-08-14 15:45] akallabeth commented on #4792
It was never implemented in the first place...
At least not with nla (maybe rdp or tls security setting)

[2018-08-14 17:10] burgertime14 commented on #4792
I used this with the freeRDP plugin to Royal TSX through  2017 until about April this year, when it stopped working.  I am not using NLA, I get a blue windows login page. it tries to read the smart card and then fails with the SCARD_E_INSUFFICIENT_BUFFER.  I have been working on a large smart card implementation and have had multiple users using FreeRDP to RDP with their Macs and recently they all

[2018-08-14 20:59] thecrazyonestherebels commented on #4791
@akallabeth Here is the output over 30m call:

[code]

[2018-08-15 16:12] akallabeth commented on #4791
Ok, so you use a ffmpeg build without aac support, still the lag is strange.

[2018-08-15 16:14] akallabeth commented on #4792
Ok. There are some pull requests pending, getting testers and feedback could help ;)

[2018-08-16 10:50] gnshkl1 opened #4800 "microphone codec support G711 and G711.1 for SIP calling"

[2018-08-16 11:07] #4800 closed

[2018-08-16 12:06] gnshkl1 commented on #4798
@akallabeth audin with AAC codec audin audio not sound original as compared to WAVE_FORMAT_PCM codec.

[2018-08-16 14:08] RamblingCookieMonster opened #4801 "wfreerdp fails to connect using vmconnect from Windows Server 2016"
**Describe the bug**
Using wfreerdp on Windows Server 2016 (Core), I cannot connect to Windows, centos, or empty (no OS installed) VMs via `/vmconnect`, where I previously could.

**To Reproduce**

* Install Server 2016 Core'
* Enable Hyper-V
* Create a VM, even if empty
* Patch
* Attempt to connect to VM via wfreerdp, fail

**Expected behavior**

Connection should work

** Application details
* V

[2018-08-16 14:12] akallabeth commented on #4801
@RamblingCookieMonster Which version of OpenSSL do you compile against? Minimum security requirements have been raised by redhat and microsoft, so that older builds stop working.

[2018-08-16 14:18] RamblingCookieMonster commented on #4801
Hiyo!

I'm using the x64 bin from https://ci.freerdp.com/job/freerdp-nightly-windows - haven't compiled myself

I'll take a look at the wiki bits, might take a stab if I have the bandwidth (not something I've done too often).

Thanks!

[2018-08-16 15:34] leeryanrs opened #4802 "xfreerdp with TS brokers"
I'm trying to deploy an RDS farm with brokers to load balance. The application can connect and get the login page, however once you enter your credentials to login and press login, the app freezes on the "Welcome" page.

I've tested with the stable 1.1 and also with the 2.0 rc3.

I've been looking around old issues and I can see that some people have had this issue before, however no solid solutio

[2018-08-16 18:49] akallabeth commented on #4802
please use the mailing list or irc for support questions.

[2018-08-16 18:49] #4802 closed

[2018-08-16 20:01] thecrazyonestherebels commented on #4791
I tried re-installing brewed FFMPEG with `--with-fdk-aac --with-libvorbis` options, and also installed `lame`. I re-compiled FreeRDP with following options:

`cmake -D "CMAKE_OSX_ARCHITECTURES:STRING=x86_64" -DWITH_FFMPEG=ON -DWITH_DSP_FFMPEG=ON -DWITH_FAAC=ON -DWITH_LAME=ON -DWITH_FAAD2=ON . && make`

I still see only `WAVE_FORMAT_ALAW` codec getting selected.

Looking at server announced support

[2018-08-17 05:45] akallabeth commented on #4801
@RamblingCookieMonster Oh, then it is most likely time again to update the OpenSSL there ^^

[2018-08-17 06:35] akallabeth commented on #4791
@thecrazyonestherebels ok, weired, `aac` is the default codec used by windows 10...

[2018-08-17 07:52] leeryanrs commented on #4802
I'm reporting a bug..

[2018-08-17 08:07] akallabeth commented on #4802
@leeryanrs Since you do not provide any of the details requested in the issue form and I'm using freerdp with load balancers it seems to be a support question.

[2018-08-17 14:33] R030t1 opened #4803 "Make it easier to get WinPR threading primitives working with GUI toolkits."
**Is your feature request related to a problem? Please describe.**
It is often necessary to create more threads and write more threading code than I would like to because it is not readily apparent how I would interleave a cross platform GUI's event system with [`WaitForMultipleObjects`](https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-msgwaitformultipleobjects). This can be

[2018-08-17 15:00] ghost opened #4804 "Allow decoding to be disabled while connection is active."
**Is your feature request related to a problem? Please describe.**
Allow decoding to be turned off while the connection is active.

**Describe the solution you'd like**
Please allow decoding to be deactivated while the connection is active.

**Describe alternatives you've considered**
I'm not sure of any great alternatives. The solution as stated would would help reduce CPU load on the client whil

[2018-08-17 21:51] thecrazyonestherebels commented on #4791
It turned out that I was using Windows 10 'N' which even after installing using Media Codec Pack ( both 32 & 64 bit ) doesn't use AAC.

So I did connect to a proper Windows 10 Pro and `AAC` was supported.

Here's the log:

[code]

However, the delay persists - I was able to estimate many seconds of delay over 7m call.

[2018-08-17 21:53] thecrazyonestherebels commented on #4791
Now that I've heard with both `ALAW` and `AAC` codecs and seen increasing audio delays, it appears that somehow `FFMPEG` might be responsible for this.

Has anyone seen this behavior or any suggested fixes?

[2018-08-18 20:30] akallabeth commented on #4804
There is suppress output which is a server side feature allowing that. Stopping decoding client side has unwanted side effects (garbage on screen on resume, ...)

[2018-08-18 21:44] R030t1 commented on #4804
Does Microsoft's default implementation of RDP prevent draw events from being dispatched to applications when the server suppresses screen output? I am fairly sure it does, and that is the thing that I am attempting to work around with this feature request.

Is there no way to resynchronize the display stream? If not it would be fine to me to disconnect but leave the session running and then recon

[2018-08-20 07:28] akallabeth commented on #4801
@RamblingCookieMonster Just a thought, could you check if anything has changed regarding authentication settings server side? We do not support kerberos.

[2018-08-20 12:14] akallabeth commented on #4791
Looks like this is deeper, can reproduce with `PCM` codec too (which is only pass through from the recording backend).
Looks like we need to adjust the number of samples per packet or something similar for this to always work.
Anyone here that can give a hint in what such values could be?

[2018-08-20 14:01] RamblingCookieMonster commented on #4801
Hiyo!

Just to clarify:

Server: (what I'm connecting to) - empty VM, I just want console
Client: wfreerdp on Server 2016 (core) Hyper-V host

Not sure what protocol vmconnect uses - that said, I'm sure like the issue I mentioned, this might be related to a patch within the last few months!

I'm not particularly vested in this, feel free to close it if you can't reproduce or don't have the bandwid

[2018-08-20 14:04] akallabeth commented on #4791
@thecrazyonestherebels I think I've found a part of the issue.
Could you post your `/buildconfig` and hardware of the client? It might have to do with (disabled) optimisations and time required to encode the data.

[2018-08-20 17:48] sarangkarandikar1 commented on #4791
Here are the details:

[code]

From about this Mac:
[code]

[2018-08-20 17:51] thecrazyonestherebels commented on #4791
Here are the details:
[code]

From About This Mac:
[code]

[2018-08-20 22:56] thecrazyonestherebels opened #4806 "BIO_read() in tls_extract_pem() incorrect"
In function tls_extract_pem() line ~1275 while calling function BIO_read():

Code should be

[code]

Instead of

[code]

Since the latter would be a buffer overflow; the length of remaining buffer is ```length - offset.```

[2018-08-21 05:01] gnshkl1 opened #4807 "Freerdp 2.0.0-rc2 keyboard layout issue"
Client OS :- Ubuntu 12.04_x86
Server OS – Windows 10 Enterprise – 64 bit
Goal: Keyboard layout to be set from xfreerdp on Windows VM

Steps: Add languages from Settings on Windows VM

    Turkmen
    Fillipino

Working - Turkmen
Commandline - xfreerdp /u:admin /p:******* /kbd:0x0464 /d:xx /v:x.x.x.x  /log-level:debug >> turkmen.log

Not Working – Fillipino
Commandline - xfreerdp /u:ptpladmin /p:pr

[2018-08-21 07:10] akallabeth commented on #4806
@thecrazyonestherebels Thank you for the hint.

[2018-08-21 07:38] akallabeth commented on #4807
@gnshkl1 Ok, sorry missed the first hint.
With the `/kbd` parameter you set the desired layout (this value will be also send to the server)
Since in your example it is always `0x0464` it will always be the same (See https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/windows-language-pack-default-values for details)

[2018-08-21 07:38] #4807 closed

[2018-08-21 07:40] akallabeth commented on #4791
Ok, that was a dead end :/

[2018-08-21 07:41] mmorvai opened #4809 "3rd party virtual channels cause "double free or corruption""
We integrate different 3rd party virtual channel drivers. They worked fine with rc2, but cause "double free or curruption" crashes with rc3. Connecting to the server works, but immediately after initializing the channel freerdp crashes with:
`*** Error in `/opt/freerdp-nightly/bin/xfreerdp': double free or corruption (fasttop): 0xf07011b8 ***`

Bisection lead to the following commit:

[code]

Mult

[2018-08-21 07:48] akallabeth commented on #4809
Might need some adjustment as we fixed various issues with resource cleanup (in combination with the async mode and channels) between `rc2` and `rc3`.

[2018-08-21 08:01] #4806 closed

[2018-08-21 09:31] gnshkl1 commented on #4809
@akallabeth so 3rd party channels need to be modified according to new changes in rc3 ?

[2018-08-21 09:44] arc-nim commented on #4807
@akallabeth thanks for the update.
I have tried without /kbd parameter but did not work.
Steps are as below:
1. -bash-4.3# setxkbmap ph
2. -bash-4.3# setxkbmap -query
rules:      base
model:      pc105
layout:     ph
3. xfreerdp /u:abc /p:abc /d:abc /v:x.x.x.x /log-level:debug >> test2.log

I have checked the link, on my VM there is no key for keyboard layout for 0x0464.
Though, if I take mstsc of

[2018-08-21 09:56] akallabeth commented on #4809
@gnshkl1 Might be the case, depends on what is actually the cause for the segfault.
Is any of the channels available for review? Maybe it is possible do derive a solution without modification, but hard to tell without knowing why they crash.

[2018-08-21 10:04] akallabeth commented on #4807
@gnshkl1 @architav Ok, you seem to mix up locale identifier (`0x464`) with keyboard layout identifier.

[2018-08-21 10:29] gnshkl1 commented on #4809
@mmorvai can you provide the channel for review ?

[2018-08-21 10:37] mmorvai commented on #4809
I have no access to the source code. I forwarded this issue to the developers of the affected channel drivers.

[2018-08-21 12:14] gnshkl1 commented on #4809
@akallabeth i have also faced same issue with 3rd party channel ,dont have source code of it .Below are the logs
Client OS :- ubuntu 12.04_x86
Server OS :- Windows 2012R2
issue occurred with 3rd party printing channel
This is FreeRDP version 2.0.0-rc3 (2.0.0-rc3)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99

[2018-08-21 12:56] gnshkl1 commented on #4809
@akallabeth for current situation of this channel what you suggest .Modify the channel for rc3 or something else?

[2018-08-21 13:00] akallabeth commented on #4809
@gnshkl1 The commit you reference fixes a memory leak (and unifies the cleanup code for the queue).
So, I'd prefer changing the channel if possible as the old code distributed resource cleanup all over the place and was quite error prone.

[2018-08-21 13:01] gnshkl1 commented on #4809
@akallabeth  Thanks

[2018-08-21 14:10] akallabeth commented on #4807
@architav I've no idea what the keyboard identifier for filipino is, but `0x0464` is the language identifier...
they are NOT the same!

[2018-08-22 08:09] potatofamily commented on #3518
Any update?

[2018-08-22 09:11] akallabeth commented on #3518
@potatofamily As it stands it seems to be an issue with certain RDP server versions violating the spec.
Using `+auto-reconnect` might mitigate.

[2018-08-22 09:36] akallabeth commented on #1600
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:36] #1600 closed

[2018-08-22 09:36] akallabeth commented on #1515
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:36] #1515 closed

[2018-08-22 09:37] akallabeth commented on #966
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:37] #966 closed

[2018-08-22 09:37] akallabeth commented on #1614
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:37] #1614 closed

[2018-08-22 09:37] akallabeth commented on #588
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:37] #588 closed

[2018-08-22 09:37] akallabeth commented on #352
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:37] #352 closed

[2018-08-22 09:37] akallabeth commented on #969
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:37] #969 closed

[2018-08-22 09:38] akallabeth commented on #1408
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:38] #1408 closed

[2018-08-22 09:38] akallabeth commented on #1213
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:38] #1213 closed

[2018-08-22 09:38] akallabeth commented on #848
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:38] #848 closed

[2018-08-22 09:38] akallabeth commented on #856
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:38] #856 closed

[2018-08-22 09:39] akallabeth commented on #882
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:39] #882 closed

[2018-08-22 09:39] akallabeth commented on #943
Might be the same as #3518
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:39] #943 closed

[2018-08-22 09:40] akallabeth commented on #230
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:40] #230 closed

[2018-08-22 09:40] akallabeth commented on #1090
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:40] #1090 closed

[2018-08-22 09:42] #1283 closed

[2018-08-22 09:43] akallabeth commented on #798
Closing as impossible.
RDP expects the password in a usable form.
If you want to improve security pass it via stdin so it is not shown in the process details.

[2018-08-22 09:43] #798 closed

[2018-08-22 09:43] akallabeth commented on #1634
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:43] #1634 closed

[2018-08-22 09:43] akallabeth commented on #1372
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:43] #1372 closed

[2018-08-22 09:43] akallabeth commented on #1813
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:43] #1813 closed

[2018-08-22 09:44] akallabeth commented on #1827
Legacy RDP is phased out by MS just as @dbungert said.

[2018-08-22 09:44] #1827 closed

[2018-08-22 09:46] akallabeth commented on #1850
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:46] #1850 closed

[2018-08-22 09:47] akallabeth commented on #1886
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:47] #1886 closed

[2018-08-22 09:47] akallabeth commented on #1921
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:47] #1921 closed

[2018-08-22 09:47] hardening commented on #798
Side note: the `/pth` command line argument allow to "pass the hash".

[2018-08-22 09:48] akallabeth commented on #2059
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:48] #2059 closed

[2018-08-22 09:51] akallabeth commented on #2281
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:51] #2281 closed

[2018-08-22 09:51] akallabeth commented on #2293
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 09:51] #2293 closed

[2018-08-22 11:26] akallabeth commented on #2948
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 11:26] #2948 closed

[2018-08-22 11:26] akallabeth commented on #2863
Closing as not our fault :)

[2018-08-22 11:26] #2863 closed

[2018-08-22 11:27] akallabeth commented on #1818
Closing due to lack of activity.
Reopen/create a new issue if still relevant.

[2018-08-22 11:27] #1818 closed

[2018-08-22 12:03] akallabeth commented on #4680
#4794 fixed drive related issues.

[2018-08-23 05:26] fnatter commented on #4680
hi akallabeth,

thanks for the fix. With current freerdp git (d093189ac0876920a71feedcf6a3481990df0a99),
I cannot change the directory with "cd" on the /drive share:
[code]
I started freerdp like this:
~/freerdp2/FreeRDP/build2/client/X11]$ ./xfreerdp +clipboard /drive:home,/home/fnatter/freerdp2 /monitors:1 /multimon /v:<machine>

Cheers and Best Regards,
Felix

[2018-08-23 08:11] akallabeth commented on #4791
Ok, this is then most likely a configuration issue. (Streaming requires immediate encoded data output, but some codecs have options to compress better if no realtime is required)

[2018-08-23 08:14] akallabeth commented on #4798
Looks like FFMPEG needs better configuration options see #4791
Closing this one as it seems both are two sides of the same coin.

[2018-08-23 08:14] #4798 closed

[2018-08-23 08:30] mmorvai commented on #4809
@akallabeth This doesn't seem to be a bug then? One virtual channel developer confirmed that the problem was, that some resource free is now done by freerdp itself which was not the case in earlier versions.

Maybe this ticket can be closed, since it is not a bug?

[2018-08-23 08:38] akallabeth commented on #2149
Setting `/p` without `/gp` does use the same password for both, gateway and target.

[2018-08-23 08:38] #2149 closed

[2018-08-23 08:42] akallabeth commented on #4809
@mmorvai Well, it is a breakage and I'll let it stand until 2.0 is released. (Easier for people to find that way)

[2018-08-23 08:57] akallabeth commented on #4751
Sound and microphone have been heavily refactored.
There is #4791 but no crashes regardless of backend.
Create a new issue if this can be reproduced with additional information.

[2018-08-23 08:57] #4751 closed

[2018-08-23 09:35] akallabeth commented on #2369
Since a solution exists with @2868 closing.

[2018-08-23 09:35] #2369 closed

[2018-08-23 09:42] fnatter commented on #4680
hi akallabeth,

do you want to merge the last fix to master or shall I test branch 'drive_cmd_fix'?

Thanks and Best Regards,
Felix

[2018-08-23 09:51] akallabeth commented on #4680
@fnatter Have to wait for someone else to merge ;)
You can test the branch in the meantime. (Feedback usually speeds up a merge)

[2018-08-23 11:27] fnatter commented on #4680
@akallabeth : sorry, the cd problem is fixed. I was refererring to the original issue #4680 (https://github.com/FreeRDP/FreeRDP/issues/4680).

Cheers and Best Regards,
Felix

[2018-08-23 11:28] akallabeth commented on #4680
@fnatter Ok, good to know. The initial issue will most likely never work as `cmake` and other build tools are highly dependent on file times. They can not be properly mapped (there is nothing like a creation time on unix systems)

[2018-08-23 11:31] kfiresmith opened #4819 "~20 character password length limit?"
It appears that xfreerdp 1.0.2 on RHEL 7 has a password limit that is some number of characters higher than 19 but lower than 24.  A user reported to me that his 24 character password wasn't working from Vinagre or from xfreerdp on the command line.  We found the same type of bug reported for Vinagre here:  https://bugzilla.redhat.com/show_bug.cgi?id=1569552

I was not able to determine the exact

[2018-08-23 11:31] akallabeth commented on #4792
Closing, as initial issue is fixed (wrong build configuration)
The smartcard buffer bug is #4743

[2018-08-23 11:31] #4792 closed

[2018-08-23 14:10] akallabeth commented on #4819
@kfiresmith Are you sure it is not a simple timeout of the ssl socket waiting for completiong (it should be something about ~20 seconds if I remember correctly

[2018-08-23 14:14] kfiresmith commented on #4819
Hello @akallabeth  - that message seems to be something of an unintentional catch-all message that appears when nearly anything goes sideways.  The exact same environment & command with a 18char password works.  The fact that this is the last message that a user sees for many different unrelated problems points to the need for better error catching and messaging in the xfreerdp client in general,

[2018-08-23 14:41] akallabeth commented on #4819
@kfiresmith Agree with the error handling, but that is (mostly) a protocol issue...
(the error status is not very detailed, specially with invalid user and passwords - but that is a security feature, ssh is similar in that regard)
* Is this bug `1.0.2` only or does it also affect `2.0` release candidates?
* Are you sure this is not triggered by a timeout?
* Which authentication scheme are you usin

[2018-08-23 14:42] #4722 closed

[2018-08-23 14:47] akallabeth commented on #4791
@thecrazyonestherebels Just a question regarding server configuration:
I have not seen the sound/microphone redirection switching codecs so often, and I tested today on my fedora machine without any noticable delay (after hours the delay was still the same and quality excellent, with AAC and GSM codecs as well as PCM)
Since the mac client is in need of testing - Could you check the main loop is no

[2018-08-23 14:48] akallabeth commented on #4309
Backend options with FFMPEG and FAAD/FAAC available.

[2018-08-23 14:48] #4309 closed

[2018-08-23 14:51] akallabeth commented on #2230
`2.0.0-rc3` supports the setting.

[2018-08-23 14:51] #2230 closed

[2018-08-23 14:53] akallabeth commented on #2063
Working in `2.0.0-rc3`.
Reopen or create a new issue if there are still issues.

[2018-08-23 14:53] #2063 closed

[2018-08-23 14:53] kfiresmith commented on #4819
Hi @akallabeth  - thanks for the reply!
 - I'll have to see if I can find a pre-build of the 2x branch for RHEL 7
 - Everything is the same except for the actual password length so I'm going to assert no for now
 - NLA against WS2008, W10 Desktop

Thanks!

[2018-08-23 14:55] kfiresmith commented on #4819
AFAICT there are no builds for xfreerdp 2x branch for RHEL 7, and I actually don't have an easy way to test anyhow since I can't get an arbitrary AD account in my operating environment to set a 20+ char password.

[2018-08-23 14:56] hardening commented on #4791
I read [here](https://trac.ffmpeg.org/wiki/Encode/AAC) things about `-movflags +faststart` I guess this is the kind of options you're looking for...

[2018-08-23 15:08] akallabeth commented on #4819
@kfiresmith There is a `spec` file in the repo in `packaging/rpm` we use for our nightly builds. Don't know if that will work with RHEL 7, but the main dependencies should be compatible enough.

[2018-08-23 15:11] kfiresmith commented on #4819
@akallabeth  - unfortunately I won't be able to do further testing on this issue (I can't create the environment needed to test), I mostly wanted to raise the issue should others discover they cannot connect for the same reason.  We've already worked around the issue for the affected user.

Thanks again!

[2018-08-23 15:35] ondrejholy commented on #4819
By the way, there is an unofficial copr repository with freerdp 2 packages for RHEL which might be useful for testing:
https://copr.fedorainfracloud.org/coprs/mikedep333/freerdp-backport/

[2018-08-23 17:27] ondrejholy opened #4820 "Covscan defects"
I've fixed multiple defects reported by covscan as a part of https://github.com/FreeRDP/FreeRDP/pull/4813. However, there are still some remaining defects which I am unsure about their solution and thus I am not going to propose any fixes for them. Some of them look like false-positives, but some of them seem to be worth looking at, e.g. the one with `USE_AFTER_FREE`. Here is the list of important

[2018-08-23 17:29] ondrejholy commented on #4820
Btw there is also a list containing much more issues, which are not marked as important: [scan-results.err](https://github.com/FreeRDP/FreeRDP/files/2315551/scan-results.err.txt). There is also a lot of interesting defects, e.g. `NO_EFFECT`, `DEADCODE`. If I find some time I will propose a fix for some of those also.

[2018-08-24 05:16] gnshkl1 commented on #967
@nidelius can you verify this issue is fixed or not in Freerdp rc3

[2018-08-24 07:45] #4680 closed

[2018-08-24 07:48] #3238 closed

[2018-08-24 07:49] rajdeinno opened #4821 "Bypass Legal notice popup in windows server."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.  I am getting a legal notice every time when I log in to windows server through FreeRDP. Of course, there are some settings made in windows server. But how can I bypass this legal notice pop up through FreeRDP?

**Describe the solution you'd like**
I want to bypass this legal

[2018-08-24 08:16] akallabeth commented on #4821
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2018-08-24 08:16] #4821 closed

[2018-08-24 09:00] pingunaut commented on #4697
+1

[2018-08-24 10:08] #4697 closed

[2018-08-24 10:17] szlbwhj opened #4824 "minimized window not show"
**Describe the bug**
version: FreeRDP-2.0.0-rc3, wfreerdp for windows
remote server is windows server 2016
when I use below cmd:
 "wfreerdp.exe /d:xxx /u:xxx /p:xxx  /v:192.168.11.173 /size:1024x768 /echo /app:"||POWERPNT""
When I minimized the PPT, the minimized window disappeared. I can't restore the ppt window to the normal state, but windows server2012 does not.

**To Reproduce**
Steps to repr

[2018-08-24 10:40] akallabeth commented on #4824
Does it work with `/gdi:sw`?

[2018-08-24 10:42] akallabeth opened #4825 "Double free with multimon && nightlies"
* Fedora 28
* Nightly builds used
* Command line ```/opt/freerdp-nightly/bin/xfreerdp /v:hostname /network:auto /gfx:avc444 /multimon /sound /u:user /p:xxx```

[code]

[2018-08-24 11:09] akallabeth opened #4826 "Clipboard could not get data"
* Fedora 28
* Nightly builds
* Command line `/opt/freerdp-nightly/bin/xfreerdp /v:hostname /network:auto /gfx:avc444 /multimon /sound /u:user /p:pwd`

[code]

[2018-08-24 13:59] stilyan commented on #4309
@akallabeth thanks for your work. Please provide more info on usage.
Having laggy, robotic voice over Slack calls, Skype is fine with latest master.
How do I pass the decoder ? /multimedia:decoder:XXX ?
Any other suggestions on microphone param tweaks ? Like format? Dev?

[2018-08-24 14:04] akallabeth commented on #4309
@stilyan Compile time only so far, `WITH_DSP_FFMPEG=ON`

[2018-08-25 01:31] szlbwhj commented on #4824
I did not use this option, is it the default for windows server 2016?

[2018-08-25 21:48] mirekphd commented on #4749
Not possible in a corporate setting, where outgoing connections are granted for predefined applications only. But I get your point that it is safer done on server side. There was a failed pull request in XRDP that did just that.

[2018-08-26 04:13] szlbwhj commented on #4824
@akallabeth I know, I really didn't use this option.

[2018-08-26 09:41] akallabeth commented on #4824
And what happens if you use it?

[2018-08-27 00:47] szlbwhj commented on #4824
Same as not using this option,still no minimized window

[2018-08-27 06:34] akallabeth commented on #4749
@mirekphd Hmm, that application level firewall (that actually works without some simple string maniupulation) I'd like to see ;)

[2018-08-27 07:58] #1876 closed

[2018-08-27 09:15] akallabeth commented on #2978
Connection Broker setups are working with server 2016 setups we have running, assuming fixed.

[2018-08-27 09:15] #2978 closed

[2018-08-27 09:15] akallabeth commented on #4573
Fixed with #4828

[2018-08-27 09:17] akallabeth commented on #1583
`known_hosts2` format stores `<ip|dns>:port` which should already have address this.

[2018-08-27 09:17] #1583 closed

[2018-08-28 05:55] gnshkl1 commented on #4826
@akallabeth i am also facing same session disconnect  issue with 3rd party channel ,when clipboard is enabled

[2018-08-28 06:06] akallabeth commented on #4825
Source is most likely the function `xf_OutputExpose` which accessess `surface->invalidRegion` from the wrong thread without locking.

[2018-08-28 06:46] ropetry opened #4830 "Screen Artefacts / glitches - Ghosted Menu looks bold with default (gdi:hw rendering)"
We have a new Issue with Freerdp 2.0.0-rc2.
There are some screen / graphic glitches i think if we use a special screen resolution. Terminal Server is 2008r2.. Server 2016 looks o.k with this resolution..
If i start my RDP Session with 1920x1200 Screen resolution everything is fine. if i change the resolution via xrandr to 1920x1080 some menu´s settings ,which should be ghosted, appears bold and s

[2018-08-28 06:48] akallabeth commented on #4830
@ropetry Could you please answer the questions of the issue template? Hard to reproduce with half the information missing (specially which RDP mode you're using, aka command line)

[2018-08-28 06:49] ropetry commented on #4830
![freerdp-ghost](https://user-images.githubusercontent.com/2862409/44705530-30337200-aa9f-11e8-9139-d73bfab016bb.jpg)

[2018-08-28 06:56] akallabeth commented on #4830
@ropetry Ok, that is the glitch, which RDP mode (command line) are you using?

[2018-08-28 06:57] ropetry commented on #4830
@akallabeth  .. sorry.. of course..
command-line: xfreerdp /v servername

Build-Options:
~ # cat /tmp/buildconf.txt
This is FreeRDP version 2.0.0-rc2 (n/a)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_JOURNALD_H=TRUE HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLO

[2018-08-28 06:59] akallabeth commented on #4830
Thank you. Might be a known issue then, could you try:
* Does it disappear with `/gdi:sw`?
* Might be a good idea to switch to modern RDP (`/rfx` (windows 7) and `/gfx` (windows 8 and newer) or `/gfx:avc444` (windows 8 and newer, compiled with a H264 decoder))

[2018-08-28 07:26] akallabeth commented on #4830
Would suggest using `/gdi:sw` (already considering to make it default).
It is the more complete implementation (and there is little to no speed difference as most content is bitmap anyway)
`/gdi:hw` has some operations that can not be properly mapped to X11 counterparts (that is what you see)

[2018-08-28 08:06] ropetry commented on #4830
@akallabeth : o.k i will try to use this as new default setting. hopefully this setting don´t impact the performance on the "atom" driven thinclients or via c7 based machine too much.. cpu performance is "slow" compared to a i3 or so 8-)..so every cpu cycle hurts 8-)

[2018-08-28 08:18] akallabeth commented on #4830
@ropetry Didn't see much difference on a raspberry pi 2 ;)

[2018-08-28 09:53] ropetry commented on #4830
thanks.. @akallabeth if you like you can close this 8-)..

[2018-08-28 10:37] adam-birds-hwt opened #4831 "IRP failure: SCardStatusW (0x000900CC), status: SCARD_E_INSUFFICIENT_BUFFER (0x80100008)"
**Describe the bug**
We have a management server, which we then use to remote into all of the servers we manage. We have started using Yubikeys to two factor our connections to the management server and then from the management servers to some of the critical servers we connect to.

So the problem we run into is that the card is passed through, but upon launching mstsc.exe to remote into another s

[2018-08-28 10:39] adam-birds-hwt commented on #4831
See the output of a run with `/log-level:trace` on the end.

[code]

[2018-08-28 10:41] akallabeth commented on #4831
Duplicates #4743, please check the issue tracker first.

[2018-08-28 10:41] #4831 closed

[2018-08-28 10:46] adam-birds-hwt commented on #4743
**Describe the bug**
We have a management server, which we then use to remote into all of the servers we manage. We have started using Yubikeys to two factor our connections to the management server and then from the management servers to some of the critical servers we connect to.

So the problem we run into is that the card is passed through, but upon launching mstsc.exe to remote into another s

[2018-08-28 10:47] adam-birds-hwt commented on #4743
See the output of a run with `/log-level:trace` on the end.

[code]

[2018-08-28 10:48] adam-birds-hwt commented on #4743
Are there any updates on this, have you managed to track down what it the cause? The issue basically renders smartcard redirection useless with this not working.

[2018-08-28 10:59] akallabeth commented on #4743
@adam-birds-hwt authentication via smartcard is not supported. There is some work in progress by @informatimago for using it with non NLA authentication, but the NLA related stuff is simply not there.
Pull requests welcome!

[2018-08-28 11:10] adam-birds-hwt commented on #4743
I don't want to authenticate with the server I am logging into with the smart card. I just want to be able to use it after it has been redirected. I don't get why that would need anything special, surely once redirected, Windows can do the rest. Can you expand?

If you can't use it after it has been redirected, then whats the point in redirection? What would be required in the pull request?

[2018-08-28 12:08] akallabeth commented on #4743
@adam-birds-hwt So you want to log on using the smartcard. There is a difference (protocol wise) between simple redirection into a session and logon screen. Simple as that. Look at #4823 (which is not ready to merge) for some idea.

[2018-08-28 14:15] informatimago commented on #4743
@adam-birds-hwt Yes, if you don't log to windows with smartcard, the old /smartcard redirection is enough: windows sees the smartcards and uses them to do whatever it wants (such as further loggin on the windows network, or anything else).

#4823 activates Smartcard Logon thru RDP, which allows you to log on the windows system just inserting the smartcard, and typing the pin code.

[2018-08-28 14:38] adam-birds-hwt commented on #4743
@informatimago. Thanks. I understand what you are saying. Although I do want smartcard logon eventually which you are working on in #4823. That isn't my issue at the moment, my issue here though is that for some reason the old /smartcard redirection seems to have a bug somewhere, as Windows sees the smart-card but doesn't think there is anything on it and therefore I can't use it to further logon

[2018-08-28 14:46] adam-birds-hwt commented on #4743
@informatimago I believe from reading #4823 that my issue is the same as the one mentioned in the below quote by @gofish543.

That sounds like the same issue as I am having which should be resolvable separate to the whole smartcard-logon situation. But I'm unsure on where I'd change or set this to test, or if it can just be set on my system.

[2018-08-29 05:09] huazq commented on #4824
same question with me, and  it does not work with /gdi:sw

[2018-08-29 08:52] ondrejholy opened #4832 "Add kerberos single sign-on support"
It would be nice to support single sign-on experience over Kerberos in order to prevent the need password each time. I know that this was discussed earlier with the resolution that it is not possible, but it should be possible now over Remote Credential Guard, see:
https://social.msdn.microsoft.com/Forums/en-US/da074f0f-0887-4151-88ea-19a671ed91d9/is-it-possible-to-do-true-kerberos-sso-using-rdp-?

[2018-08-29 09:20] pgarrouste commented on #4793
Since 2.0.0-rc3 some directories in \\tsclient\ was not accessible, so I've downgrading to 2.0.0-rc2 and that works.
My OS : Archlinux.

[2018-08-31 08:20] informatimago opened #4833 "Code Quality: casting between RDPDR_DEVICE structures and SMARTCARD_DEVICE et al."
The following type casts are very wacky, because the destination structures have no relationship with the RDPDR_DEVICE structure.  They're just defined with similar header slots (they don't even have the same name, by the case).  This is quite brittle, and could break unnoticed by the compiler as soon as on or the other structure is modified.

Instead, we should either include the RDPDR_DEVICE str

[2018-08-31 10:51] akallabeth commented on #4833
@informatimago Just checked, what exactly do you mean? Each struct that is casted to uses a layout like this:

[code]

The `type` member of the base struct (`DEVICE`) identifies which struct it actually is, so I see no issue there.

It might be a good idea to provide a casting function for each type which automatically checks if the types match though.

[2018-08-31 11:12] informatimago commented on #4833
Oops, right.  Sorry for the confusion it's in settings.h, between RDPDR_DEVICE and its substructures.
I have been confusing both kinds of devices.  I'll edit the issue.

[2018-08-31 11:59] informatimago commented on #4833
Also guys, some consistency in naming, please!  in rdpdr_main.c you use a DEVICE type that has nothing in common with a RDPDR_DEVICE defined in settings.h!  😕

[2018-09-01 12:07] hendwolt commented on #4721
update:
Most of the warnings are gone, except the ones in:
winpr/libwinpr/utils/trio/triostr.c

[2018-09-02 12:35] rakesh1504 opened #4834 "iOS Build Error - Xcode 9.4.1"
I downloaded the source then following steps:
1) ./scripts/OpenSSL-DownloadAndBuild.command
2) cmake -DCMAKE_TOOLCHAIN_FILE=cmake/iOSToolchain.cmake -GXcode

After that when I open the xcode and try to compile it. It gives following error

clang: error: invalid iOS deployment version '-mios-simulator-version-min=11.4', iOS 10 is the maximum deployment target for 32-bit targets [-Winvalid-ios-deplo

[2018-09-02 21:35] lazyruss opened #4835 "RC3: fastpath_recv_updates fails when BeginPaint/EndPaint are not defined"
regression in RC3 vs RC2.
BeginPaint/EndPaint must be defined:

	if (!IFCALLRESULT(FALSE, update->BeginPaint, update->context))
		return -2;

should it be 	if (!IFCALLRESULT(TRUE, update->BeginPaint, update->context))
instead?

[2018-09-03 05:09] akallabeth commented on #4835
No, why? if it is not there it should fail.

[2018-09-03 05:13] lazyruss commented on #4835
@akallabeth i've got service that does not paint,  so it did not make sense.

[2018-09-03 05:39] akallabeth commented on #4835
@lazyruss ok, could you describe that a bit more? Might be a good idea to know the use case to avoid such issues.

[2018-09-03 05:39] hardening commented on #4835
I kinda agree, why `BeginPaint/EndPaint` are mandatory ?

[2018-09-03 06:29] akallabeth commented on #4835
@hardening Reopened, as mentioned, would be a good idea to write up what is required by the described scenario to take that into account for future error check enhancements.
Might also be a good idea to add a debug option to the `IFCALL` defines to print a error/warning when a callback is not set.

[2018-09-03 06:37] akallabeth commented on #4834
@rakesh1504
* You need to build OpenSSL with the correct SDK version and remove architectures no longer supported. (check the script, the variables are at the beginning)
* Check the CMake variables `CMAKE_OSX_ARCHITECTURES` and `CMAKE_OSX_DEPLOYMENT_TARGET` for the freerdp build.

Since we do not test iOS that often, it would be nice if someone using it could write up what has changed (pull reques

[2018-09-03 07:49] akallabeth commented on #4743
Just changing the buffer sizes will not work. See `[MS-RDPESC] 2.2.3.10` for the definition of the sizes.

[2018-09-03 12:51] maciex opened #4838 "Not able to list/enter some directories on mounted /drive"
**Describe the bug**
Using latest relase of xfreerdp (from Fedora 28) I'm not able to list/enter some directories on the mounted disk.
After downgrading to previous RPM package all works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Run xfreerdp with /drive, ex.: `xfreerdp /drive:user_home,/home/user`
2. Run Bash
3. List directories on the mounted drive
4. Some items I get are listed

[2018-09-03 14:03] akallabeth commented on #4838
This bug was already fixed upstream. Next release will contain the fix.

[2018-09-03 15:02] informatimago commented on #4743
@gofish543 Could you please run your 32/34 bytes use case with this patch to winpr/libwinpr/smartcard/smartcard_pcsc.c :  commit c94245fd689830452a3669ee28adc38f72c276af
https://github.com/FreeRDP/FreeRDP/pull/4837/commits/c94245fd689830452a3669ee28adc38f72c276af
(or this using this whole branch).
and copy the smartcard DEBUG logs (or at least, the PCSC_SCardStatus_Internal log lines).
If the bug

[2018-09-03 18:46] lazyruss commented on #4835
@akallabeth it's a service, like WebConnect.

[2018-09-04 06:56] akallabeth commented on #4835
@lazyruss Ok, got that much. Intended to get the information which callbacks are optional in your case. (WebConnect et al still need at least `EndPaint` callback if you want to support someting older than windows 8.1/10 (which were the first ones with h264 support)

[2018-09-04 08:11] lingfish commented on #4751
Hi, what was this fixed in, version-wise?

[2018-09-04 12:31] LeandroStanger opened #4841 "Add support for Flatpak packages"
https://github.com/flathub/flathub/wiki/App-Submission

[2018-09-04 12:40] akallabeth commented on #4841
@LeandroStanger Would suggest you look at https://remmina.org/
FreeRDP is client side a command line utility which does (currently) not really work great for that use case and server side needs access to stuff that is (currently) not exposed in the flatpak sandbox

[2018-09-04 13:02] stilyan commented on #4309
@akallabeth thanks.
While configuring
`
-- Looking for LIBAVCODEC_VERSION_MAJOR
-- Looking for LIBAVCODEC_VERSION_MAJOR - found
-- Looking for LIBAVCODEC_VERSION_MINOR
-- Looking for LIBAVCODEC_VERSION_MINOR - found
-- Looking for LIBAVCODEC_VERSION_MICRO
-- Looking for LIBAVCODEC_VERSION_MICRO - found
FFmpeg version detected .. is too old. (Require at least 57.48.101 for sound). Deactivating
-- S

[2018-09-04 13:17] #4835 closed

[2018-09-04 13:59] akallabeth commented on #4309
@stilyan you've most likely installed in `/usr/local`? Uninstall the system packages and add the new installation path to the search path for cmake.
As for `avresample` that is a good idea. Still need to figure out how to properly wrap ffmpeg (their API is more unstable than ours ^^)

[2018-09-04 17:43] akallabeth commented on #4781
@antenore does specifying /gt:<type> help? Autodetection sometimes does not work :/

[2018-09-04 18:05] antenore commented on #4781
@akallabeth I've tried with rpc and it didn't help, but I haven't tried with http yet, should I?

[2018-09-04 19:41] antenore commented on #4781
@akallabeth no, with `http` it doesn't

If you can help yes, I'll appreciate it, also because I don't know that much where to look. The error message it's quite generic, so it's hard to understand where is the problem.

Don't hesitate to ping me for any tests and if you need access to that gateway let me know, I'll see with the owner, but it should be feasible (maybe drop me an email in that case)

[2018-09-05 07:00] akallabeth commented on #4781
@antenore ok, looks like you have a configuration still not working :/
Well, then... Could you post the output with log-level debug or is it possible to connect with a demo account to the system?

[2018-09-05 08:39] stilyan commented on #4309
@akallabeth
Thanks. Installation path is default, yes, /usr/local.
I did remove the ffmpeg libs that were system packages.
During configuration I see the following:
`
-- Finding recommended feature FFmpeg for multimedia (multimedia redirection, audio and video playback)
--     Disable feature FFmpeg using "-DWITH_FFMPEG=OFF"
-- Checking for module 'libavcodec'
--   Found libavcodec, version 58.27.

[2018-09-05 10:03] akallabeth commented on #4781
@antenore Just a small question, your command line only contains user, domain and password for the gateway, is the host reachable without authentication?

[2018-09-05 10:27] antenore commented on #4781
@akallabeth I'm asking to share the user with you.

I think the host is not reachable.

We have a couple of issues opened for the same error, so I've asked a test account on an RD gateway (no need to access directhly the server).

One of them provided me an RD gateway with user and password to test, but no access to the final destination (we don't have an account) and I think it's probably behind

[2018-09-05 11:38] akallabeth commented on #4309
@stilyan ok, you just found a bug in my version check, pr incoming.

[2018-09-05 13:35] antenore commented on #4781
@akallabeth I've added you to the Remmina member on GitLab and created a snippet that only us (the members) can see, with those server/user/password to test.

[RD Gateway snippet](https://gitlab.com/Remmina/Remmina/snippets/1751383) .