[2018-09-05 13:39] akallabeth commented on #4781
@antenore ok, checking. really interested in what is going wrong.

[2018-09-05 14:51] akallabeth commented on #4781
@antenore Ok, have at least the place it fails.
The outgoing tls connection can not be authenticated (the incoming seems to work fine though)

[2018-09-05 15:27] antenore commented on #4781
@akallabeth I see the certificate is multi-domain (with * in the hostname), may be an issue somehow?

[2018-09-05 16:28] akallabeth commented on #4781
No, we use openssl validation and/or pinning. It fails after the tls connection is established and the ntlm tokens are exchanged

[2018-09-06 04:55] hymer-up opened #4845 "Freerdp audio"
Which solution please to enable audio in freerdp-shadow-cli debian server. I have no errors in compilation but can't hear any sound in pulseaudio backend or any win client.
new dsp ffmpeg mode :
`cmake -GNinja -DCHANNEL_URBDRC=ON -DWITH_DSP_FFMPEG=ON -DWITH_CUPS=ON -DWITH_PULSE=ON  -DWITH_JPEG=ON -DWITH_NEON=OFF  -DWITH_SSE2=ON  -DWITH_X264=OFF -DWITH_OPENH264=ON  -DWITH_DIRECTFB=OFF  -DWITH_ALSA=

[2018-09-06 07:16] adam-birds-hwt commented on #4743
@informatimago can you advise the steps required to test and to grab those logs you requested? I've never built this app from source if thats what needed.

[2018-09-06 09:27] informatimago commented on #4743
Here are the commands I use to perform this test:
[code]

Here are the resulting log extract:
[code]

Here is my full logs: https://gist.github.com/informatimago/7fcb0153c60cfa956b595111ea697c23 (I used
actually `export WLOG_APPENDER=CONSOLE` and then copy-and-pasted the output, since I run it in emacs shell).

If you have compilation errors for dependencies, here are the dependencies I installed

[2018-09-07 08:29] akallabeth commented on #4781
@antenore Are you sure the setup works? Connecting with `mstsc` yields the same error (authentication failed on gateway)

[2018-09-07 13:09] ropetry commented on #4830
thanks for help..

[2018-09-07 13:09] #4830 closed

[2018-09-07 15:35] mj-sakellaropoulos opened #4846 "X11 Client Black Border around remoteapp window that appears on all workspaces"
**Describe the bug**
Black border renders above (most) other windows and appears on all workspaces. Only occurs during remoteapp connection to Windows 10 host (Education) running Visual Studio 2017.

**To Reproduce**
1. RemoteApp Visual Studio 2017 setup on Windows 10 with RemoteAppTool
2. Execute command line
3. Splash screen has no border
4. Slightly after the main application window appears, th

[2018-09-08 11:46] gerdneuman commented on #4779
I still see this:
[code]

which fails with the following when I start to use the microphone on Windows (before starting Skype and Mic testing, I used freerdp for 1h without problems):
[code]

[2018-09-08 12:45] antenore commented on #4781
@akallabeth it's what the dude who gave us this gw have told me. I'm going to ask.

[2018-09-08 20:13] v-odin opened #4847 "Memory leaks: application memory usage grows until it crashes"
**Description**
The memory usage continuously grows using wfreerdp on WIndows.
As an example after around 30 minutes app occupied ~650MB.
It grows till it reaches 2GB and then crashes (32bit)

**To Reproduce**
On remote machine run the web browser with video. E.g some YouTube video.
./wfreerdp.exe -u:_user_ -p:_pass_ -w:1800 -h:900 -v:_IP_
Watch the memory usage of the app

**Expected behavior**
T

[2018-09-08 22:05] antenore commented on #4781
He have tested with mstsc and it works. He highlighted that we don't have access to the final windows server, but only on the RDP gateway. If needed he can give us the rights for that server as well.

[2018-09-10 06:56] stilyan commented on #4309
@akallabeth thanks.
Now while compiling with WITH_DSP_FFMPEG=ON from your branch https://github.com/akallabeth/FreeRDP/tree/avcodec_version_check_fix I got
`
[303/457] Building C object libfreerdp/CMakeFiles/freerdp.dir/codec/dsp_ffmpeg.c.o
libfreerdp/codec/dsp_ffmpeg.c: In function ‘freerdp_dsp_ffmpeg_decode’:
libfreerdp/codec/dsp_ffmpeg.c:596:24: warning: assignment discards ‘const’ qualifier fr

[2018-09-10 07:04] akallabeth commented on #4309
@stilyan Does this happen with a fresh checkout (or clean up after `git clean -xdf`)?

[2018-09-10 07:05] akallabeth commented on #4309
@stilyan btw, looks like your ffmpeg has only static libraries installed (`.a`)? That might explain it as we're either using full static (everything in one file) or dynamic linking.

[2018-09-10 07:07] akallabeth commented on #4847
@v-odin Does this also happen with `/gdi:sw`?

[2018-09-10 07:15] akallabeth commented on #4309
@stilyan better switch to mailing list or IRC the remaining stuff smells like compilation related and no issues in freerdp.

[2018-09-10 11:56] stilyan commented on #4309
@akallabeth thanks.
Static libs are default for typical ffmpeg installations
I recompiled with --enable-shared --enable-pic --disable-static
Afterwards I successfully compiled freerdp

Thanks.

[2018-09-10 11:58] hardening commented on #4731
I gave a quick look and from what I've seen the problem does not seem to be in FreeRDP core, perhaps in the windows specific part...

[2018-09-10 12:46] mfleisz commented on #4731
Currently the buffer used for the window title could only handle up to 63 characters. I increased the buffer size in #4848.

[2018-09-10 13:09] stilyan opened #4849 "Please explain sound and microphone options"
From manual

[code]

Please explain those parameters
sys is clear - alsa or pulse
dev? what does it mean?
format? what are acceptable values?
rate? again - what are acceptable border values and what syntax
channel? what it means, please clarify

latency is clear - in milliseconds, lower = risky
what about quality? what are acceptable values?

Also - how are audio codecs working?
Do we specify prio

[2018-09-10 19:33] akallabeth commented on #4849
@stilyan best ignore the options if you don't know what they do.
Should probably remove most of them as they don't make that much sense and are mostly confusing.

[2018-09-10 22:54] UnitedMarsupials commented on #4663
FWIW, upgrading to 2.0.0r3 helped me -- had to remove the `/sec:rdp` from the command line, though.

[2018-09-11 05:48] v-odin commented on #4847
@akallabeth, that changed the behavior completely. Now it is something around 80MB.
Are there valuable cons using /gdi:sw?

[2018-09-11 05:58] stilyan commented on #4849
@akallabeth thanks, but I'm still having little distortions and robotic voice after https://github.com/FreeRDP/FreeRDP/issues/4309 while using Slack.
Connecting with just /mic and /sound = quality of my voice as reported from the other side is very bad
Connecting with
`
/mic:sys:alsa,format:1,rate:44100
/sound:sys:alsa,format:1,quality:high,rate:44100,latency:50
`
Is great improvement but still so

[2018-09-11 06:47] akallabeth commented on #4849
There are still some issues mostly with microphone (#4791, #4779) so I'd just skip all the options for `/sound`.

Knowing your buildoptions might give a hint. Also check with `/log-level:debug` which codec is used for `audin` (the microphone channel) so that we know where to look.

[2018-09-11 08:48] mfleisz commented on #4731
Fixed with #4848

[2018-09-11 08:48] #4731 closed

[2018-09-11 12:26] stilyan commented on #4849
@akallabeth thanks. I'll open new issue if necessary as the purpose of this one was to request documentation.
Here's output from --buildconfig
`
This is FreeRDP version 2.0.0-dev4 (5bddbd1cf)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_JOURNALD_H=TRUE HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIM

[2018-09-11 12:44] akallabeth commented on #4849
@stilyan You have a weired build configuration (`WITH_GSM, WITH_FAAC, WITH_FAAD, WITH_LAME` are an alternative option to `WITH_DSP_FFMPEG`)

Anyway, you're using FFMPEG in your first example (`WAVE_FORMAT_AAC_MS` is used)
With the command line in 2. you're forcing the supported audio formats to `PCM/WAV` only, so no encoding necessary ;)

[2018-09-11 13:33] stilyan commented on #4849
@akallabeth thanks, this is how I configured
`cmake -GNinja -DCMAKE_INSTALL_PREFIX=/home/stilyan/xfreerdp1 -DWITH_DSP_FFMPEG=ON -DWITH_FAAC=ON -DWITH_FAAD2=ON -DWITH_PULSE=ON`
So I manually forced faac and faad2 thinking they must to go with FFMPEG as per https://github.com/FreeRDP/FreeRDP/issues/4309#issuecomment-415445619 , now after looking closely it's clear they are completely independent. Su

[2018-09-11 14:50] akallabeth commented on #4849
@stilyan You can only try to force a format by not announcing support for others.
If that format is also supported by the server it will be used, otherwise you'll have no working sound/mic.
Quality is mostly created by using a bandwidth estimation.
If you have sound issues there is not much use in playing around with other settings except trying to see if it works with the `PCM` codec.
 (That one

[2018-09-11 16:32] dagrha commented on #1473
I was getting those stub length errors too (Ubuntu 18.04). I uninstalled freerdp-x11 (and autoremoved dependencies), then instead installed `freerdp2-x11` (`sudo apt install freerdp2-x11`). All is working perfectly now.

Thanks to the FreeRDP team for this fantastic project.

[2018-09-11 18:20] v-odin commented on #4847
@akallabeth got it. Many thanks for your help!

[2018-09-11 18:20] #4847 closed

[2018-09-12 06:56] akallabeth opened #4851 "Make /gdi:sw default for windows client"
The windows client is in dire need of an update.
The old direct mapping of ROP is buggy and nobody cares to test, so drop it in favor of the platform independent (and therefore tested) `/gdi:sw` backend.

[2018-09-12 07:13] dollkillla commented on #4826
cliprdr_virtual_channel_client_thread reported an error. Error was 1359
4.17.0-3-amd64 #1 SMP Debian 4.17.17-1 (2018-08-18) x86_64 GNU/Linux
trying with command 'wlfreerdp /u:xx  /v:x.x.x.x:x'

[2018-09-12 11:53] akallabeth commented on #4826
@dollkillla you're victim of #3414 ;)

[2018-09-13 14:38] mj-sakellaropoulos commented on #4846
Update: Apparently each edge of the "border" is a window. Running ```xdotool windowunmap $border_part_win_id``` removes that edge of the border.

[2018-09-13 15:58] bmullan commented on #2363
I am encountering a very similar situation and was going to file a new issue but I'll put my notes here instead ... unless you want a new issue for my input.

= = = = = = = = = = =
Here are my notes:

FreeRDP Mouse click events for left key not working

**Ubuntu 18.04
freerdp-x11 installed out of repository**

$ **xfreerdp --version
This is FreeRDP version 1.1.0-beta1 (git n/a)**

NOTE: the "beta"

[2018-09-13 18:01] mj-sakellaropoulos commented on #4846
Cause: The bug is caused by the border windows being designated as "override redirect" windows. The only way to solve this is to properly detect these border windows and not apply the "override redirect" designation. ref /client/X11/xf_window.c function xf_SetWindowStyle.
I have dug as far as I can with my little experience, the rest is up to someone else.

[2018-09-13 18:42] mj-sakellaropoulos commented on #4846
Cause for being drawn on top of everything:
- The 4 VisualStudioGlowWindow (s) have the WS_EX_TOOLWINDOW style applied to them, which cause freerdp to set them as "override redirect" (xf_window.c line 648).
- They also have the style WS_POPUP, which triggers xf_SetWindowUnlisted to add the _NET_WM_STATE_SKIP_PAGER hint.
Cause for the border being larger than expected: I suspect those windows norma

[2018-09-14 03:12] loumt commented on #3944
I have this issue.
Not use RemoteApp.(RemoteApp is running normal.)
Just a normal application.
Such as Notepad.
#Command:
  xfreerdp /v:xxx /p:xxx /u:xxx /port:xxx /d:xxxx /app:c:\\windows\\system32\\notepad.exe /app-cmd:c:\\1.txt

Open file in 2008 but not in 2012R2

[2018-09-14 08:26] akallabeth commented on #4846
@mj-sakellaropoulos Thank you for the analysis, hope to find time to fix that

[2018-09-14 17:12] bberndt commented on #4793
Same on Fedora 28.
Remmina 1.2.31.3 (git n/a)
Freerdp isn't installed as such, but I do have:
freerdp-libs              x86_64    2:2.0.0-44.rc3.fc28      @updates

All installed from Fedora repo.  So, just wait for an update to repo?
thanks.

[2018-09-15 13:18] hakar011 opened #4856 "issue"
## Found a bug? - We would like to help you and smash the bug away.
1. __Please don't "report" questions as bugs.__
  * We are reachable via IRC _#freerdp on freenode_
  * We are reachable via mailing list <freerdp-devel@lists.sourceforge.net>
  * Try our mailing list for discussions/questions
1. Before reporting a bug have a look into our issue tracker to see if the bug was already reported and y

[2018-09-15 13:30] #4856 closed

[2018-09-16 16:32] MakoWish commented on #4801
I am having the same issue. Do you have any updates to the issue?

/buildconfig

`	This is FreeRDP version 2.0.0-dev4 (3c158299a)
	Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_EXECINFO_H= HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_SYSLOG_H= HAVE_SYS_FILIO_H= HAVE_SYS_MODEM_H= HAVE_SYS_SELECT_H= HAVE_SYS_SOCKIO_H= HAVE_SYS_STRTIO_H= HAVE_TM_GMTOFF= HAVE_UNISTD_H= WITH_CCACHE=ON WITH_C

[2018-09-16 17:55] MakoWish commented on #4801
With x64 build, I get exit code 131092 instead of 131087 with x86 build above.

[code]

Same command line as post above:

wfreerdp.exe /vmconnect:VmGUID /v:HOST.Domain.local /cert-ignore

[code]

[2018-09-17 07:06] akallabeth commented on #4801
Reading the thread again, does using `/admin` help for these console only sessions with no OS installed?

[2018-09-17 10:58] giox069 opened #4857 "[GFX/ClearCoded] Unable to reconntect to Windows server 2016 / Windows 10"
Using +auto-reconnect, when a RDP connection drops to Windows Server 2016 or Windows 10, xfreerdp is unable to reconnect to it.
**To Reproduce**:
Connect with +auto-reconnect to a Windows 2016 server ow windows 10, turn off your network connectivity and turn it back on.
I used the following command line.
```xfreerdp +auto-reconnect /v:myserver.my.lan /u:theuser /d:thedomain /gfx:avc444```

Attache

[2018-09-17 12:42] akallabeth commented on #4857
@giox069 Thanks for the report, does #4858 fix the issue for you?

[2018-09-17 13:16] giox069 commented on #4857
Unfortunately not. I compiled your branch autoreconnect_gfx_fix, but still getting
[code]

[2018-09-17 20:53] MakoWish commented on #4801
Hi akallabeth,
I will try again once I get home tonight, but I am pretty sure I already tried the /admin option with the same result.
Eric

[2018-09-18 08:47] Jagadeesh1210 opened #4860 "Enabling the (settings->AllowFontSmoothing in FreeRDP) or (/fonts in xfreerdp) does not reflected in remote Windows machine(ClearType)."
I am trying to connect to a windows 10 machine using the xfreerdp and it provides an option /fonts or +fonts which should enable the flag 'Turn on ClearType'. We can check this flag in control panel in which this setting named 'Adjust ClearType Text'.

Here is the command line used to connect:
xfreerdp /u:username /p:password /microphone /sound /fonts /g:gateway /v:hostname

by default font smooth

[2018-09-18 08:57] Jagadeesh1210 commented on #4860
I am trying to connect to a windows 10 machine using the xfreerdp and it provides an option /fonts or +fonts which should enable the flag 'Turn on ClearType'. We can check this flag in control panel in which this setting named 'Adjust ClearType Text'.

Here is the command line used to connect:
xfreerdp  /u:username /p:password /microphone /sound /fonts /g:gateway /v:hostname

by default font smoot

[2018-09-18 08:59] #4857 closed

[2018-09-18 09:17] akallabeth commented on #4860
@Jagadeesh1210 The flag works as expected (using it daily).
It is a RDP protocol feature and does not necessarily represent the default windows desktop settings.
You can check by connecting without the flag (fonts are really bad) and with the flag (fonts are smoother)

[2018-09-18 09:17] #4860 closed

[2018-09-18 09:19] gnshkl1 opened #4861 "Freerdp v2.0.0.rc3 session reconnect not working with /gfx or +gfx-progressive"
Client OS :- xubuntu 16.04_x86
Server OS :- windows 10_x64

Scenario:-
1:-connect to remote session over wifi
2:- created script to up and down wifi
#!/bin/bash
iface="wlp3s0"
while true;
do
ifconfig $iface up
sleep  60
ifconfig $iface  down
sleep  35
done

3:-run up_down.sh in terminal
4:-launch session from another terminal

Result:-
1:-auto reconnect should work smoothly

Note:-
1:-auto reconne

[2018-09-18 09:27] akallabeth commented on #4860
You might want to add `/network:auto` and/or `+aero` for newer windows versions as the protocol they use works different from older systems. They render more stuff server side so the flag might not do what you expect it does.

[2018-09-18 09:30] akallabeth commented on #4861
Duplicate of #4857

[2018-09-18 09:30] #4861 closed

[2018-09-18 09:49] Jagadeesh1210 commented on #4860
I have tried to connect to windows(10) machine from mac using the freeRDP in which i have enabled the flag(AllowFontSmoothing) and it is not worked. So used xfreerdp from mac in which i have added the option /fonts to enable font smoothing but not worked.

Just tried by adding the /network:auto | +aero . But no luck.

[2018-09-18 10:12] akallabeth commented on #4860
@Jagadeesh1210 check your server policy settings. As mentioned, the flags are sent to the server but it is up to the server to use them.
As for windows 10/server 2016 I'd recommend the `/gfx` series of flags as that enables the new graphics remoting (which might be what you're looking for as the 'old' RDP stuff is being phased out)

[2018-09-18 10:55] akallabeth commented on #4781
@antenore looks like a tough one, could not find anything wrong with the message sequence, might be some byte / lenght is off, but couldn't spot that so far :/

[2018-09-18 11:05] ukos-git commented on #4326
This is not related to the original issue but since the discussion was already started and I landed here searching for the same remmina error as @ET-Bent, I wanted to give some more information:

[standard remmina and also the ppa](https://launchpad.net/~freerdp-team/+archive/ubuntu/freerdp) are rather old. One should try the [the freerdp-nightly](https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds)

[2018-09-18 13:52] ukos-git opened #4863 "enable h264 support for ubuntu"
In ubunutu:bionic, remmina tries to allow the h264 option in the drop-down menu but it is not activated in the freerdp lib.

![screenshot from 2018-09-18 15-48-58](https://user-images.githubusercontent.com/16167358/45692240-98371e80-bb5a-11e8-9e9d-4a4acb2fe2eb.png)

selecting this option leads to the following error:

![screenshot from 2018-09-18 15-54-04](https://user-images.githubusercontent.com

[2018-09-18 14:19] Jagadeesh1210 commented on #4860
I have checked the Windows-10 policy details and remote access permissions are clear. And tried /gfx but no luck. And testing this with latest free rdp version(FreeRDP version 2.0.0-dev4 (0b7b9c0)).

Command used:
xfreerdp /gfx /fonts +aero /network:auto  /u:user /p:password /microphone /sound /g:gateway /v:hostname

[2018-09-18 15:54] akallabeth commented on #4863
We only provide nightly builds and disabled it there because of dependency issues 14.04 et al don't like it)

[2018-09-18 17:32] akallabeth commented on #4863
Are you talking about the deb from the official repos? Don't know their package policies, they use their own recipies ;) as for the nightlies, that might happen at some point (when all debian/ubuntu versions support ffmpeg recent enough)

[2018-09-18 17:34] kempniu opened #4864 "Black screen when connecting to Windows 7 using Vinagre since FreeRDP 2.0.0-rc3"
**Describe the bug**
Since updating FreeRDP to 2.0.0-rc3, Vinagre (a GNOME remote desktop viewer using FreeRDP for RDP support) only displays a black screen when connecting to a Windows 7 VM over RDP.  This was not happening with FreeRDP 2.0.0-rc2 and since no functional commits have been made to Vinagre's source repository in over a year, changes introduced in FreeRDP are my primary suspect for t

[2018-09-18 17:43] akallabeth commented on #4864
Seems like you don't register a pointer new function. That should be already fixed on master but fir the rc you need one.

[2018-09-18 18:34] kempniu commented on #4864
Thanks for a lightning fast response.

I am still observing this behavior with FreeRDP's current *master*, i.e. 24936c185815e0013a2124a86a4583d9913bf51d.  Please also note that I am neither a Vinagre developer nor someone familiar with the internals of RDP and/or FreeRDP, so while I will be happy to pass on your recommendations to the Vinagre team, I do not understand what a "pointer new function"

[2018-09-18 22:04] sebastianuw commented on #4663
I pulled in the latest, and the problem looks to be resolved. Thanks!

[2018-09-19 01:18] begroff commented on #3360
Using Ubuntu Xenial (16.04 LTS amd64) I noticed the same behavior when using `Control + Alt + Enter` to toggle during a multimon session with 3 monitors while using version **1.1.0-beta1**. It would successfully toggle out of full screen mode and when I did the keyboard combination to toggle back, it put all three monitors together very small and displayed it only on one of my monitors (it was all

[2018-09-19 05:11] tonix0114 opened #4866 "I Found Memory Leak Vulnerability"
freerdp 2.0.0- rc3 has a memory leak vulnerability that can read the client's memory.
This vulnerability occurs in channels / drdynvc / client / drdynvc_main.c.
Please email me if you need more details.
tonix0114@gmail.com

[2018-09-19 08:47] akallabeth commented on #4864
@kempniu Ok, then I mixed that up. `PointerNew` is a function that creates a new mouse pointer image that was sent from the server.
In the newer versions of freerdp we added a lot of return value checks and this seems to be a side effect of these.

As a reference, `xfreerdp` implements that in `xf_register_pointer`

[2018-09-19 08:50] akallabeth commented on #4860
@Jagadeesh1210 Are you sure your test case is correct? I can confirm the RDP flag is sent to the server, but I don't know if your assumption about the menu you check is correct.

[2018-09-19 08:59] #4663 closed

[2018-09-19 08:59] #3360 closed

[2018-09-19 09:37] lemonmojo opened #4868 "Commit #24936c1 breaks DISP channel resize when RDPGFX channel is also used"
Just updated to 24936c185815e0013a2124a86a4583d9913bf51d yesterday and found that afterwards session resize using DISP channel in combination with RDPGFX doesn't work any longer.

Here's the log output I get right after `gdi_resize`:
[code]

When not using the RDPGFX channel everything's fine. Also, downgrading to 0b7b9c0dc45222efc78152873797a284b6d6075a fixes the problem.

[2018-09-19 10:11] akallabeth commented on #4868
@lemonmojo Found some issue with the clear codec decoder, does that fix the issue in your case too?

[2018-09-19 10:11] akallabeth commented on #4866
@tonix0114 mail sent

[2018-09-19 11:12] akallabeth commented on #4868
@lemonmojo Ok, after some debugging try number 2 :)

[2018-09-19 11:40] tonix0114 commented on #4866
I will send you vulnerability information tomorrow.

2018년 9월 19일 (수) 오후 7:12, akallabeth <notifications@github.com>님이 작성:

[2018-09-19 11:41] tonix0114 commented on #4866
tomorrow

2018년 9월 19일 (수) 오후 8:40, 심기용 <tonix0114@gmail.com>님이 작성:

[2018-09-19 11:58] lemonmojo commented on #4868
@akallabeth While the resize actually works after those changes, there are visual artefacts and an onslaught of errors reported:
[code]

Afterwards, the session completely stalls.

[2018-09-19 12:21] akallabeth commented on #4868
@lemonmojo Yes, found something similar. Reason is that the reset of clear codec is no real reset but keeps the cache.
Updated the pull to destroy the codecs whenever the connection is lost and recreates it again on connect to fix the reconnect issue #4857 while keeping the reset but don't touch behavior of clear codec reset.

[2018-09-19 15:54] ukos-git commented on #4863
I just see that they have their own [debian/rules](https://salsa.debian.org/debian-remote-team/freerdp2/blob/master/debian/rules) file. Thank you for clarifying.

@bmiklautz Maybe the debian maintainers can do something about it at their repo, but I'm not sure how legal issues are for H264. Maybe only add it for ubuntu?

[2018-09-19 16:38] Jagadeesh1210 commented on #4860
@akallabeth  Thanks for the information. I can see the difference in font quality by using the /fonts as you  suggested.
But my requirement is that i need to enable the 'clearType' in remote machine from freeRDP.
I can do it by using the windows MSTSC. In which if we select the 'font smoothing' option then remote machine enables the 'clearType'
<img width="412" alt="screen shot 2018-09-19 at 10 02

[2018-09-20 00:57] tonix0114 commented on #4866
### Vulnerability Code : __channels/drdynvc/client/drdynvc_main.c#858__
[code]
`Stream_Read_UINT16(s, drdynvc->version);` Reads a wStream without performing a length value check.

### Send To Server Code : __channels/drdynvc/client/drdynvc_main.c#839__
[code]
As a result, there is a two-byte outbound reading vulnerability that causes a client memory leak.

Other code like this prevents this vulner

[2018-09-20 06:34] lemonmojo commented on #4868
@akallabeth Unfortunately, same problem as before. Missing cache entries, then after some time the connection breaks with the same logs as last try.

[2018-09-20 06:35] lemonmojo commented on #4868
@akallabeth Note that I'm not doing a full reconnect but using the DISP channel to set the new resolution using `SendMonitorLayout`.

[2018-09-20 07:05] akallabeth commented on #4868
@lemonmojo that is strange, the latest update resets everything to the state it was before the `clear_context_reset` change except the reconnection step. Are you sure you're on commit 7e8d128fc651f1a2c4e7e765f70d4e370ddb4284?

[2018-09-20 07:10] akallabeth commented on #4866
@tonix0114 Thank you for this. Hope the referenced fix eliminates this entirely for this channel.

[2018-09-20 07:14] akallabeth commented on #4868
@lemonmojo The mentioned commit works with my test machine (win10) and dynamic resizes as well as reconnect whereas the current master has the issues you mention.

[2018-09-20 07:15] lemonmojo commented on #4868
@akallabeth Now giving it another try. Maybe something went wrong while switching commits...

[2018-09-20 07:28] lemonmojo commented on #4868
@akallabeth Sorry, somehow failed to correctly switch the commit. Everything looks fine now!

[2018-09-20 07:43] sergey-suloev commented on #2989
Well, it is much easier to close the issue than investigate it, right?

[2018-09-20 07:54] akallabeth commented on #4860
@Jagadeesh1210 Just checked to my win10 test machine. The setting for cleartype also works when connecting without the RDP `+fonts` flag. Looks like your issue is something different (this setting is not influenced by that flag)

[2018-09-20 07:57] akallabeth commented on #2989
@sergey-suloev Read the comment. Not reproducible and no feedback from author/anyone.

[2018-09-20 07:57] akallabeth commented on #4868
@lemonmojo Ah, good to know :)
better this than a hidden flaw I've overlooked ;)

[2018-09-20 11:54] antenore commented on #4781
@akallabeth I see... If I can do anything let me know, and obviously no rush (as usual)

[2018-09-20 12:04] Jagadeesh1210 commented on #4860
@akallabeth I do understand from observations that the flag and cleartype setting are independent.
Is there any other way to set(clearType) from using freerdp. OR can i create seperate issue for that. Thanks.

[2018-09-20 12:47] akallabeth commented on #4860
@Jagadeesh1210 No, there is no other option specified in the (base) protocol.
Of course, RDP protocol is always evolving, so if you manage to find a spec that provides such a feature feel free to create an issue with a link to that.

[2018-09-20 12:59] akallabeth commented on #4781
@antenore Currently working on #4843 maybe I'll accidentally fix it while refactoring :)

[2018-09-20 13:17] antenore commented on #4781
Ah! Really cool !

[2018-09-21 10:16] sergey-suloev commented on #2989
@akallabeth
I am not sure if this is the same problem but I am periodically having issue with login: freerdp simplu hangs. I have to reboot into Windows to login.
Every time this problem happens I have to login from Windows and I see a screen on the remote machine asking to select a user to login with. This situation doesn't seem to be properly handled in freerdp.

[2018-09-21 10:58] akallabeth commented on #2989
@sergey-suloev No, they are not related. This issue is about freerdp not returning to shell after a disconnect.
What you describe seems like a RDP server issue (I assume with 'hang' you mean the screen stays the same?)
That might be related to server configuration (do you allow reconnection or multiple logins/sessions per user?)
That is just a guess though, if you have any more detailed informatio

[2018-09-21 11:02] #4851 closed

[2018-09-21 11:04] akallabeth commented on #4866
Fixed with #4871

[2018-09-21 11:04] #4866 closed

[2018-09-21 11:04] sergey-suloev commented on #2989
@akallabeth The  hang means it shows the remote screen but it is frozen with loading indicator in the middle of it. It does not allow to pass to the desktop.

[2018-09-21 11:06] akallabeth commented on #4838
Fixed with #4816

[2018-09-21 11:06] #4838 closed

[2018-09-21 12:31] akallabeth commented on #4781
@antenore Just a little question, during debugging the server announces `NTLM`, `Basic` and `Negociate` authentication method support.
We currently only try `NTLM`, is this allowed by the server?

[2018-09-21 12:35] akallabeth commented on #2989
@sergey-suloev So, the RDP session is working as intended and the server does not load the desktop?

[2018-09-21 13:09] sergey-suloev commented on #2989
@akallabeth yes, but only when I connect with freerdp. When I boot into my Windows I can connect from it but the first screen upon connection will be a list of users that I should select from to login. I select my user, enter my password and I can proceed to desktop.

[2018-09-21 13:40] akallabeth commented on #2989
Then please open a proper issue with a full description of client and server settings.

[2018-09-21 20:33] joeklo commented on #4793
I am also affected by this annoying bug. :(

Is there a schedule for a freerdp-rc4 to get this fix into the distro's repos?

[2018-09-21 23:53] sebastianuw opened #4875 "DNS gateway issue."
I found the following name resolution related bug with FreeRDP.

Our FreeRDP clients are on different networks than our RDS servers. Each network has a different DNS configuration. A firewall allows our FreeRDP clients to connect to our RDS gateways via RDP-HTTP. The session hosts behind the firewall do not have DNS entries on the FreeRDP clients' network.

With Microsoft's client and older FreeRD

[2018-09-22 14:36] akallabeth commented on #4875
There should be a new commandline switch to set preference of connection type.
This was necessary as different setups have incompatible requirements.

[2018-09-23 08:39] borisneubert opened #4876 "Copy to clipboard in remote windows 10 disconnects freerdp"
- Local host: Ubuntu 18.04 Bionic Beaver with X (not Wayland)
- Remote host: Windows 10 Professional
- FreeRDP: nightly, version 2.0.0-dev4 (3c158299a)

A remote desktop session to a windows 10 host crashes from time to time when copying something to the clipboard on the remote host.

To reproduce: start a RDP session to windows 10 host, fire up Excel, and start copying around cells or formats wit

[2018-09-23 10:57] akallabeth commented on #4876
Will have a look at it, if you don't require local to remote clipboard try with -clipboard for the time being.

[2018-09-23 17:31] MakoWish commented on #4801
Hi akallabeth,

Does not work with /Admin option either:

wfreerdp.exe /vmconnect:VmGUID /v:HOST.Domain.local /cert-ignore /admin

[code]

[2018-09-23 23:02] antenore commented on #4781
@akallabeth I'll ask. In the meanwhile I've tried with another GW server and I was able to connect to it with Remmina.
On our side the Gateway Transport Type was not fully implemented, and now it works as expected.

I'll come back to you with the answer to your question. Thanks!

[2018-09-24 06:32] shailendrapundhir opened #4877 "Broken compilation on freerdp android"
Tried compilation of freerdp on linux for android . Followed the steps in wiki. All mentioned dependencies installed.

When executing this command : ./scripts/android-build-freerdp.sh --ndk "path to ndk" --sdk "path to sdk",

the build fails while compiling openssl, giving the following error :
clang error: unknown argument '-mandroid'

This step was working around an year ago.
Environment : Fresh

[2018-09-24 06:45] shailendrapundhir commented on #4877
Any help / workaround in the scripts to make compilation work again would be appreciated. Need to do this because freerdp does not connect to windows 10 update 1803(released in march 2018), gives ERRCONNECT_PASSWORD_CERTAINLY_EXPIRED error code. However, to my knowledge reading the forums and issues in freerdp, it seems the issue has been fixed in freerdp, but to make it work in android we need to

[2018-09-24 06:58] akallabeth commented on #4877
@shailendrapundhir Android NDK 16 and up are currently not working, try with an older one.

[2018-09-24 07:16] fedsed opened #4878 "Environment values https_proxy and no_proxy"
Source 24.09.2014
Freerdp takes only environment variable https_proxy and ignores variable no_proxy. Very uncomfortable.

[2018-09-24 07:41] fedsed commented on #4878
Your patch does not work. Ubuntu 18.04

[2018-09-24 07:44] fedsed commented on #4878
environment variable no_proxy ignored

[2018-09-24 07:46] fedsed commented on #4878
Example no_proxy
no_proxy=localhost,127.0.0.0/8,.domain.local,172.16.0.0/16,.domain2.local,172.17.0.0/16

[2018-09-24 07:46] #4868 closed

[2018-09-24 07:51] shailendrapundhir commented on #4877
Thanks for the info. Will try with newer version and let you know. Thanks.

[2018-09-24 07:55] akallabeth commented on #4876
Started fixing the issues in your log in #4879
Don't have a office installed here, could you check if the fixes are sufficient for your issue?
(Excel is notorious for its clipboard handling)

[2018-09-24 08:06] akallabeth commented on #4878
@fedsed Then please check your versions.

[2018-09-24 08:09] akallabeth commented on #4875
@sebastianuw Just checked, the new command line is for redirection only.
Gateway should work as it did previously, so if you know how, could you do a `git bisect` to find the commit that caused this (or can you provide a test login)?
Don't have such a setup to test, so it is hard to figure out what exactly is going on.

[2018-09-24 08:11] fedsed commented on #4878
Source compiled on 21.09.2014
/opt/freerdp2/bin/xfreerdp --version
This is FreeRDP version 2.0.0-dev4 (n/a)

[2018-09-24 08:15] fedsed commented on #4878
If you specify one address in environment values no_proxy, then everything works. If the network, the there is no.

[2018-09-24 08:18] fedsed commented on #4878
export no_proxy=172.16.36.10,172.16.36.11,172.16.38.10 it's works.
export no_proxy=127.0.0.0/8,172.16.0.0/16,172.17.0.0/16 not works.

[2018-09-24 08:30] #4877 closed

[2018-09-24 08:38] akallabeth opened #4881 "[gateway] Add authentication methods beside NTLM"
Currently gateway authentication is `NTLM` only.
Provide additional methods such as `Negociate` and `Digest`

TODO:
- [ ] Make Negociate and Nla opaque
- [ ] Abstract the direct use of `rdpTransport` to allow a different transport layer (`http` for gateway)

[2018-09-24 08:48] akallabeth commented on #4878
@fedsed Ah, ok. So you're trying to set ip ranges in the no_proxy variable and that is ignored? Ok, reopening.

[2018-09-24 08:56] fedsed commented on #4878
Yes, range not works.

[2018-09-24 08:57] fedsed commented on #4878
I think that the domain names do not work either.

[2018-09-24 09:36] borisneubert commented on #4876
Will this be in the upcoming nightly build as of tonight? If so, I will test it next Friday and report back.

[2018-09-24 09:46] akallabeth commented on #4876
@borisneubert No, this will get into the nightlies when it is merged to master. You need to compile yourself with `ln -s packaging/deb/freerdp-nightly/ debian && dpkg-buildpackage` (As you mentioned ubuntu)
Might complain about some missing build dependencies, just install what is asked for.

[2018-09-24 09:54] akallabeth commented on #4878
@fedsed Added `CIDR` support in #4882
What do you mean with the domain names (as in example)
currently only `*domain.com` syntax is supported

[2018-09-24 10:05] fedsed commented on #4878
Firefox support `.domain.com`

[2018-09-24 10:30] akallabeth commented on #4876
Related to #4826

[2018-09-24 10:32] akallabeth commented on #3483
Not reproducible, no feedback.
Closing.

[2018-09-24 10:32] #3483 closed

[2018-09-24 10:40] akallabeth commented on #1895
Closing due to lack of feedback and successful connection attempts to (some) gateway configurations.
Look in referenced issues #4875 and #4781 for remaining issues.

[2018-09-24 10:40] #1895 closed

[2018-09-24 10:41] akallabeth commented on #2100
This specific issue seems to be fixed, reopen or create a new issue if you encounter it again.

[2018-09-24 10:41] #2100 closed

[2018-09-24 10:44] akallabeth commented on #2542
Closing this issue as resolved (`/gt:rpc`)
Reopen or create a new issue if it should really be detected by `/gt:auto`

[2018-09-24 10:44] #2542 closed

[2018-09-24 12:31] lpuglia opened #4883 "Can't connect using Remote App."
I'm Trying the remote app feature of freerdp:
[https://github.com/FreeRDP/FreeRDP/wiki/RemoteApp](https://github.com/FreeRDP/FreeRDP/wiki/RemoteApp)

on my Fedora 27 machine with the following client version:
[code]
but apparently i can't make it work, this is the error message:

[code]

The remote machine is a Windows 10 virtual machine (Virtual Box seamless feature is terrible on Fedora+Cinnamon

[2018-09-24 12:48] fedsed commented on #4878
Great! Working.

[2018-09-24 13:46] akallabeth commented on #4883
Did you allow the application to be run in remote app mode? The error suggests otherwise.
Please use the mailing list or irc for support.

[2018-09-24 13:46] #4883 closed

[2018-09-24 13:58] akallabeth commented on #1812
Closing due to lack of feedback.
Basic redirection is working, create a new issue if still not resolved.

[2018-09-24 13:58] #1812 closed

[2018-09-24 16:15] lpuglia commented on #4883
The applications are allowed, for that i used this tutorial:

[https://bmullan.wordpress.com/2012/09/17/howto-integrate-windows-apps-into-the-ubuntu-linux-desktop-using-windows-remoteapp/](https://bmullan.wordpress.com/2012/09/17/howto-integrate-windows-apps-into-the-ubuntu-linux-desktop-using-windows-remoteapp/)

In fact i can connect from a different machine that has an older version of xfreerdp

[2018-09-24 17:39] lpuglia opened #4886 "newer versions of freerdp do not allow remoteApp"
I setupt my remote machine using:

[https://bmullan.wordpress.com/2012/09/17/howto-integrate-windows-apps-into-the-ubuntu-linux-desktop-using-windows-remoteapp/](https://bmullan.wordpress.com/2012/09/17/howto-integrate-windows-apps-into-the-ubuntu-linux-desktop-using-windows-remoteapp/)

then i tried to connect to it using my Fedora 27 machine with `freerdp 2.0.0 rc2` with the following command:

[2018-09-24 20:26] akallabeth commented on #4886
You are always connecting to the same server? Sounds more like the app is not allowed to be redirected...

[2018-09-24 20:28] akallabeth commented on #4886
Note: using remote app regularily, so it is working with win 7 up to 10

[2018-09-25 07:59] akallabeth commented on #4886
Ok, just verified with current master to a windows 10 host with `xfreerdp /v:host /p:pass /u:user /app:"||Notepad"` is working, `xfreerdp /v:host /p:pass /u:user /app:"||Notepad.exe"` results in the error you describe.
So definitely a configuration issue server side.
Check `Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Terminal Server\TSAppAllowList\Applications` which a

[2018-09-25 07:59] #4886 closed

[2018-09-25 08:32] lpuglia commented on #4886
Of course i'm always connecting to the same server, the application is correctly set, otherwise i would be not able to connect from CentOS7, any suggestion?

[2018-09-25 09:09] lpuglia commented on #4886
Ok, this is definitvely some problem on the CLIENT side, i just copied xfreerdp from my CENTOS machine (it works on it) and put it on my Fedora machine:
[code]
then i run it and I got the SAME ERROR with a different format:

[code]
then i notice the missing library error and i did:
[code]
after that i got it working!!!!! this so weird that i need an explanation.

[2018-09-25 09:17] akallabeth commented on #4886
My guess is a broken build.

[2018-09-25 14:40] akallabeth commented on #4673
generator script `scripts/update-rdpSettings` in repo.

[2018-09-25 14:40] #4673 closed

[2018-09-25 18:04] MakoWish commented on #4801
@akallabeth

Here is the result with stderr:

[code]

I have tried with four different domain accounts that I know the password is not expired, and I am not sure what to make of the TLS v1 error.

I do not have a linux box to try xfreerdp from.

[2018-09-25 18:32] sss123next opened #4890 "crash on proxy environment set"
**Describe the bug**

`freerdp_connect` call cauising libfreerdp to crash if proxy is set in environment.

**To Reproduce**

[code]
**Expected behavior**
connection attempt result (ok or error)

** Application details
* Version of FreeRDP: 0b8a66188c77fa42561bf71f857464b24b292a4a

backtrace:

[code]

crash happened in `check_no_proxy` on `host_len = strlen(settings->ServerHostname);` where  `setti

[2018-09-26 00:45] mj-sakellaropoulos commented on #4846
I've been able to repro this on the official windows remoteapp client, the black border will appear on any window that has the "Metro Border" aka drop shadows, glows, etc. The only bug unique to FreeRDP is the border rendering above other windows. The broken alpha channel seems to be common to many platforms.

[2018-09-26 05:49] akallabeth commented on #4801
@MakoWish your xfreerdp version is recent? Older ones can no longer connect due to security related nla protocol changes

[2018-09-26 06:29] akallabeth commented on #4890
I assume you can not reproduce this with official clients?
You're passing an invalid settings structure with no server to connect to, so this issue is invalid.

[2018-09-26 06:29] #4890 closed

[2018-09-26 07:16] akallabeth commented on #4801
Sorry, overlooked your last line (never post before coffee)

[2018-09-26 07:52] akallabeth commented on #4876
Should be fixed with #4879 merged.
Reopen / Create a new issue if still not solved.

[2018-09-26 07:52] #4876 closed

[2018-09-26 07:52] akallabeth commented on #4826
Should be fixed with #4879 merged.
Reopen / Create a new issue if still not solved.

[2018-09-26 07:52] #4826 closed

[2018-09-26 09:20] fonk opened #4892 "Remote Desktop password field doesn't have focus on Server 2016"
Hi!

When connecting to a Windows Server 2016 Box (Version 1607; Build 14393.2485) with /sec:tls, the username field ist focused (with correct username prefilled). At least https://superuser.com/questions/1264343/remote-desktop-password-field-doesnt-have-focus states, that this can be fixed for Windows clients with a clientside patch. I would expect that also a freerdp patch is required to get the

[2018-09-26 09:29] akallabeth commented on #4846
I've tried to fix it with #4891 but don't know if all corner cases are fixed (or just my setup)
could anyone verify that?

[2018-09-26 09:30] akallabeth commented on #4846
Note, the fix should only remove the fact that the window is above the currently active one, the transparency issue is a harder beast.

[2018-09-26 09:34] akallabeth commented on #4892
@fonk could you please explain your issue in a little more detail? The referenced link is sparse with information and we have little control over where the server sets the initial focus in the rdp session.

[2018-09-26 11:04] akallabeth commented on #3128
Closing due to lack of activity.
Reopen or create a new issue if still applicable to current master.

[2018-09-26 11:04] #3128 closed

[2018-09-26 14:47] patmigliaccio commented on #998
As mentioned by @bmiklautz - adding a new `fAllowUnlistedRemotePrograms` DWORD key with a value of `1` at  `HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services` did the trick.

[2018-09-26 16:33] wenzorr opened #4894 "Pop-ups are closed immediately in seamless app"
Pop-ups are closed immediately in seamless app
After numerous attempts, the pop-up window sometimes remains on the screen.
I don't know how to reproduce this behavior.

On video i'm trying to open context menu by clicking right mouse.
https://vk.com/video_ext.php?oid=89077411&id=456239100&hash=90df638b41458dbc&hd=2

[2018-09-26 19:15] fonk commented on #4892
Well, unfortunately I don't have more information either... My concern is in fact the initial focus and I thought that it's servercontrolled unless I found that post, that a Client-Upgrade fixed the issue for Windows-Users... But if the protocol doesn't have controls for which field is focused on connect, i understand that you can't do a lot...

[2018-09-26 21:09] drocsid opened #4895 "clipboard broken on fresh build"
**Describe the bug**
clipboard doesn't work

**To Reproduce**
Steps to reproduce the behavior:
Build software via https://github.com/FreeRDP/FreeRDP/wiki/Compilation for debian
https://github.com/FreeRDP/FreeRDP/wiki/Compilation

./tmp/opt/freerdp-nightly/bin/xfreerdp +clipboard /u:my-username /v:remotehost.net /w:1400 /h:1000 /drive:schemas,/tmp/schemas

**Expected behavior**
Select text in appli

[2018-09-26 21:12] drocsid commented on #4895
A trace log gzipped but with personal information removed

[trace-log.gz](https://github.com/FreeRDP/FreeRDP/files/2421589/trace-log.gz)

[2018-09-26 21:15] drocsid opened #4896 "/drive redirect share broken on fresh build"
**Describe the bug**
drive share doesn't work

**To Reproduce**
Steps to reproduce the behavior:
Build software via https://github.com/FreeRDP/FreeRDP/wiki/Compilation for debian
https://github.com/FreeRDP/FreeRDP/wiki/Compilation

./tmp/opt/freerdp-nightly/bin/xfreerdp +clipboard /u:my-username /v:remotehost.net /w:1400 /h:1000 /drive:schemas,/tmp/schemas

**Expected behavior**
Use windows file e

[2018-09-26 21:15] drocsid commented on #4896
[trace-log.gz](https://github.com/FreeRDP/FreeRDP/files/2421592/trace-log.gz)

[2018-09-27 01:44] vp1981 opened #4897 "Use of deprecated ffmpeg library"
**Is your feature request related to a problem? Please describe.**
The commit "[Rewrite of sound and microphone channels](https://github.com/FreeRDP/FreeRDP/commit/f89c1857b9773fe0a472caf95bc533f43abad48d)" introduces to FreeRDP the deprecated library --- libavresample, see "[lavr: deprecate the entire library ](https://github.com/FFmpeg/FFmpeg/commit/c29038f3041a4080342b2e333c1967d136749c0f#diff-

[2018-09-27 06:28] akallabeth commented on #4897
FFMPEG / libav are really some pice of work regarding their API
Happy to accept a patch adding the option to use `swresample` though.

[2018-09-27 06:31] akallabeth commented on #4896
@drocsid Sorry if this sounds stupid, but what exactly is your error?
Is the share visible and there is some error accessing it or is it not visible at all?

[2018-09-27 06:41] akallabeth commented on #4895
@drocsid Seems I need some additional info regarding this and #4896
I can see you have started `/tmp/opt/freerdp-nightly/bin/xfreerdp` instead of `/opt/freerdp-nightly/bin/xfreerdp` which is the default path used by the nightly package build (I assume you used that one?)
If you didn't install it there might be issues with parts of the required libraries not being found.

[2018-09-27 06:43] akallabeth commented on #4890
@sss123next You did not initialize a proper settings struct.
The sample client provides a template on how to work with that, settings must be initialized and **validated** before this.
We only check the availability of it afterward, the consistency is your job

[2018-09-27 07:09] akallabeth commented on #4896
@drocsid btw, the path in windows explorer sould be `\\tsclient\sharename`

[2018-09-27 07:49] sinva commented on #2289
apt-get install libusbx-devel

[2018-09-27 08:30] wumoduo opened #4898 "ios client,Rdp will disconnect for about 15 minutes"
When I connect to rdp through the gateway，about 15 minutes，it will disconnect and i dont know why

freerdp version ------ freerdp-2.0.0-rc2
gateway service---------- windows 2012 r2

[15:46:24:990] [1629:6af9b000] [DEBUG][com.freerdp.core.update] - MemBlt Primary Drawing Order (0x0000000D) rop=S [0x00cc0020]
[15:46:24:991] [1629:6af9b000] [DEBUG][com.freerdp.core.update] - MemBlt Primary Drawing O

[2018-09-27 09:02] akallabeth commented on #4898
connection settings?

[2018-09-27 09:55] wumoduo commented on #4898
[[bookmark params] setValue:@"C:\\Program Files (x86)\\Notepad++\\notepad++.exe"  forKey:@"remote_program"];
    [[bookmark params] setValue:@"administrator" forKey:@"username"];
    [[bookmark params] setValue:@"****" forKey:@"password"];
    [[bookmark params] setValue:@"****" forKey:@"hostname"];
    [[bookmark params] setValue:@"3389" forKey:@"port"];
    [[bookmark params] setBool:YES forKey:

[2018-09-27 10:30] wumoduo commented on #4898
iFreeRDP[1629:1258163] ConnectionParams: {
    colors = 16;
    console = 0;
    "enable_3g_settings" = 0;
    "enable_tsg_settings" = 1;
    height = 0;
    hostname = "***********";
    password = "abc";
    "perf_desktop_composition" = 0;
    "perf_font_smoothing" = 0;
    "perf_gfx" = 0;
    "perf_h264" = 0;
    "perf_menu_animation" = 0;
    "perf_remotefx" = 0;
    "perf_show_desktop" = 0;

[2018-09-27 11:08] xoloxuwo commented on #2128
Updated in Sept.2018:
freerdp version 1.1.0 betal(git n/a) ,remote access to window 7 sever from local computer with Linux OS ,use command line as follows
it woks quite well:
commnad line1:
xfreerdp /sec:tls /v:192.168.1.1 /u:admin /p:123456789
commnad line2:
xfreerdp /sec:rdp /v:192.168.1.1/u:admin /p:123456789
both above are ok.

[2018-09-27 14:06] ekorneechev commented on #4685
In 2.0.0-rc3 same behavior...

[2018-09-27 15:20] mj-sakellaropoulos commented on #4846
![image](https://user-images.githubusercontent.com/36081545/46155961-73bc0000-c246-11e8-91e0-3fdf4e0d774e.png)
No improvements on my end
Not sure I'm doing this right? I'm testing (same build config) on the "rail_fixes" branch on the fork referenced by PR. I'm also getting intermittent crashes opening notepad with rail and this message is getting printed repeatedly: ` [INFO][com.freerdp.client.x11

[2018-09-27 16:18] sblive opened #4899 "floatbar cannot be hidden/unpinned via pin/buttons"
hi!
we are unable to disable the floatbar with "/floatbar:false" or "/floatbar:0" which I guessed should work looking at cmdline.h, but now I found "\"-floatbar\"" works.
no error is emitted as well, looking like it's getting parsed in all cases.
shouldn't the first two versions work as well or generate an error?

also users are very annoyed that the pin does not do anything.
in fact none of the b

[2018-09-27 16:26] PeteProms opened #4900 "FreeRDP consumes 100% CPU while scrolling"
Hi,

how to limit the CPU consumption in FreeRDP for example while scrolling on presenter site?

It's possible to throttle the data transfer from the presenter and reduce the amount of data and reduce the CPU consumption in FreeRDP? Is there any settings in FreeRDP for this?

Is there a pause-resume mode in FreeRDP?

I use the following settings:

rdpSettings* settings = mp_freerdp->settings;
sett

[2018-09-27 21:07] drocsid commented on #4895
Hi @akallabeth ,

I tried this 3X yesterday.

First with the debian package provided in debian buster.

Then with a daily package found on your build server.

Finally I built the daily because the one on your build server https://ci.freerdp.com/job/freerdp-nightly-binaries/ was not a daily but built a week ago. It looked like changes related to the clipboard had been pushed to git recently but not

[2018-09-27 21:09] drocsid commented on #4896
Hi,

I tried something like \\10.3.4.14\schemas and the error was that the share was not available.

[2018-09-27 22:14] hymer-up commented on #4897
So is this because of this library conflict I have no sound from the server?  Build an old Freerdp/FFmpeg version from 2017 would be a temp workaround for #4845 ?

[2018-09-28 00:32] vp1981 commented on #4897
@akallabeth , will do but not sure how quick it will be.

@hymer-up , I'm not sure. What OS do you use? What versions of libraries (are they distro provided or self-compiled)? Please answer in #4845.

[2018-09-28 02:41] hymer-up commented on #4845
Tried again to rebuild server on debian testing,sid and last ubuntu with FFmpeg/Libav library packages from official repo and git but same.
It seems there is no sound redirection between alsa/pulseaudio output and shadow server, also attempted unsuccessfully with full xrdp or only the xrdp sink output.
Still ready to provide further details if necessary.

[2018-09-28 06:29] akallabeth commented on #4899
@sblive No the first two examples are no valid command line syntax. The help output of `xfreerdp` also does not mention such a behaviour.
As for the buttons, do you use a custom build?
I can use it quite fine here with all buttons working just as expected (debian stretch and fedora 28, gnome3 mostly)

[2018-09-28 06:36] akallabeth commented on #4896
@drocsid Would need more information, I can not reproduce this here.
Whenever I redirect a drive with `/drive:name,path` I can access it the following ways:
* A new is mapped in `My Computer`
* Access via the afore mentioned `\\tsclient\sharename`

Could you give some details about your server configuration? Maybe you're using some configuration that is triggering this

[2018-09-28 10:34] akallabeth commented on #4845
@hymer-up shadow server is not fully implemented, so if you need sound support you'll need to fix a few glitches in the glue code.

[2018-09-28 10:42] akallabeth commented on #4895
@drocsid And you are sure clipboard redirection allowed by the server you connect to?

[2018-09-28 10:43] akallabeth commented on #4895
@drocsid FYI: Did a fresh build on my debian stretch today, clipboard is working flawlessly against windows 7, 8, 81. and 10

[2018-09-28 10:45] akallabeth commented on #4896
@drocsid Since you also have strange behaviour reported in #4895 I'd like to know also for this one if the redirection of drives is allowed by the server policy.

[2018-09-28 14:37] sblive commented on #4899
Thanks, I see, I was just assuming that it would work like /bpp:32 etc. and there was no error. Don't remember even seeing it in help, but not sure right now.
We don't want/need that bar anyway, so now I found how to disable it, it's OK for us, however as it's default on, it would be nice if it works.
Define "custom build"? It's Gentoo with the included 9999 (=latest git) ebuild which is what we h

[2018-09-28 17:20] drocsid commented on #4895
@akallabeth I wasn't aware that clipboard redirection could be disabled by the server. Then how do we check the windows server 2012 configuration to see if it's enabled or not?

[2018-09-28 19:48] drocsid commented on #4895
https://social.technet.microsoft.com/Forums/Azure/en-US/778e1cb3-f3d0-4143-9b03-67a50cb3a3de/windows-2012r2-remoteapp-amp-clipboard-redirection-doesnt-work?forum=winserverTS suggests that there is a gateway config that would define this policy. I'm not sure I have the authority to check it or how to do so. If you have a suggestion if I can check it from the host or if it requires greater AD access

[2018-09-28 19:55] akallabeth commented on #4899
Ok, I'm asking because all my builds work as they should. Don't use gentoo though.
Could you add your /buildconfig, maybe some build dep is missing

[2018-09-28 20:05] MakoWish commented on #4801
@akallabeth

Do you have any other ideas? I am stumped, and I would like to get this working again.

[2018-09-28 20:20] MakoWish commented on #4449
I have been posting to #4801 until I just found this. I will now be monitoring this thread for updates, but also chiming in with a "me too".

[2018-09-30 09:50] aijyo opened #4903 "I got a black window when I run freerdp-shadow-cli svr on Win7x64 ."
As the title,when I run freerdp-shadow-cli svr on my Win7X64 system, I got a black window,after debug,I got the error at:
win_wds.c:int win_shadow_wds_init(winShadowSubsystem* subsystem):
hr = subsystem->pSharingSession->lpVtbl->put_ColorDepth(subsystem->pSharingSession, 32);
hr is E_INVALIDARG One or more arguments are invalid.

I tryed replace 32 as 24 \16\8 only 16\8 is OK, I cannot found the d

[2018-10-01 05:52] akallabeth commented on #4897
Hi, best do a pull request. Testing is easy, just enable sound and redirection and listen to something.
Thank you for this.

[2018-10-01 07:48] akallabeth commented on #4897
@hymer-up Building without `WITH_DSP_FFMPEG` should be sufficient

[2018-10-01 08:55] akallabeth commented on #4899
Closing this as the remaining claims can not be reproduced.
(Tested all buttons on fedora 28 and debian stretch for gnome, cinnamon, xfce and openbox)

[2018-10-01 17:49] hendwolt commented on #4899
I experience the pin/button problem too. It happens when I start the client xfreerdp on KDE Plasma (openSUSE Leap15 and Tumbleweed). The buttons work, when I start it on IceWM.
target systems: Windows7 Prof., Windows 10 Insider Preview
build config:
This is FreeRDP version 2.0.0-dev4 (0b8a66188)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=OFF HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H

[2018-10-02 06:28] akallabeth commented on #4899
@hendwolt Ok, finally managed to reporduce on debian/kde plasma.
Looks like as if the focus setting of kde is stealing the mouse focus of the fullscreen bar in my case, so a second click is working.
Can you confirm this beahviour or is it something different you experience?

[2018-10-02 06:38] akallabeth commented on #4903
@aijyo sorry for the late reply, but windows shadow server was not tested for some time.
could you describe the issues remaining after the fix you mention?

[2018-10-02 06:59] akallabeth commented on #4895
@drocsid sorry, missed these posts.
Check `Computer Configuration -> Administrative templates -> Windows components -> Remote Desktop Session Host` in `gpedit.msc`

[2018-10-02 07:28] bmiklautz commented on #4896
@drocsid tested with latest master as well. Drive basically works. Can't reproduce your issue. So what @akallabeth said might be the issue.

[2018-10-02 07:28] #4896 closed

[2018-10-02 09:14] FeLvi-zzz opened #4905 "Japanese transration"

[2018-10-02 11:01] akallabeth commented on #4905
Since you already provided a patch I'll close the issue.

[2018-10-02 11:01] #4905 closed

[2018-10-02 11:46] rainerklier commented on #4793
as i am affected by this, i tried your workaround, and it works.
so currently i have 2 choices:

1. downgrade do 2.0.0-rc2
2. rearange directories and files so that everything is in a subfolder

i hope, this will be fixed in rc4

[2018-10-02 14:01] akallabeth commented on #4895
Closing this, assuming it is the configuration error.
Reopen/create a new issue if it is something else.

[2018-10-02 14:01] #4895 closed

[2018-10-02 18:45] akallabeth commented on #4899
Ok, then I'll close this then.
Tiling window managers are also affected, but then again it can be disabled in those cases

[2018-10-02 18:45] #4899 closed

[2018-10-02 21:55] sss123next opened #4908 "option to disable internal thread pool"
**Is your feature request related to a problem? Please describe.**
in high load multi-user applications using internal thread pool for each rdp instance is suboptimal

**Describe the solution you'd like**
thread pool created inside libfreerdp/codec/rfx.c in RFX_CONTEXT* rfx_context_new(BOOL encoder) function and already have option to disable it.
this optioin need to be accessible via rdpSettings

[2018-10-03 06:47] MarcelBB opened #4909 "FreeRDP crash on startup in Windows when started in service mode"
**Description of the bug**

When FreeRDP is started from a service (SYSTEM user) it crashes with access violation on startup.
The crash happens in function **wfreerdp_client_global_init** (client\Windows\wf_client.c) on

strcat(home, getenv("HOMEDRIVE"));

as getenv returns NULL.

As SYSTEM user there is no HOME, HOMEDRIVE, HOMEPATH environment variables by default.

**To Reproduce**
Steps to repr

[2018-10-03 06:58] akallabeth commented on #4909
Sounds like a bad idea to start a user process as service. (=root on unix ;))

Anyhow, the missing null check is definitely a bug.

[2018-10-03 07:07] akallabeth commented on #4908
Pull requests welcome

[2018-10-03 07:42] #3423 closed

[2018-10-03 08:15] akallabeth commented on #4875
@sebastianuw Any updates?

[2018-10-03 08:18] akallabeth commented on #4908
Ok, just had a look at the code, thread pool can already be configured. Just set your desired number of threads and you're done.

[2018-10-03 08:18] #4908 closed

[2018-10-03 12:00] akallabeth commented on #4897
@vp1981 Hi, any news on your patch?

[2018-10-03 13:18] akallabeth commented on #4410
Fixed with #4910

[2018-10-03 13:18] #4410 closed

[2018-10-03 13:43] akallabeth commented on #4863
Closing this as it is only relevant for building.

[2018-10-03 13:43] #4863 closed

[2018-10-04 02:58] vp1981 commented on #4897
Hello,
I'm not fan of github way to work with git repositories, I prefer plain patches and ML. I did all necessary steps to make a pull request but might do some errors. Please check my PR: #4911 .

[2018-10-04 06:34] antenore commented on #4781
Hey @akallabeth a good news, the issues seems to be solved, you can close this.

Regarding the reason why it works, we really don't have any clues...

Thanks a lot for your support!

[2018-10-04 07:57] #4781 closed

[2018-10-05 16:46] byteboon commented on #4801
Submitted PR #4918

[2018-10-08 02:02] aijyo commented on #4903
@akallabeth Sorry for the late reply due to the National Day,  after fix the color depth problem, I got a nego error , I donnot knonw how to fix it, but when I tryed at home, everything is okay, but a black window still, does the rdp support client&svr run at a screen？ or to test it, must have two computer?  follow is the info:
[09:57:07:603] [6632:00002044] [INFO][com.freerdp.client.common.cmdlin

[2018-10-08 02:40] aijyo commented on #4903
@akallabeth  I have tryed use wfreerdp-client connect sfreerdp-server, everthing is okay, according to the output info but client just got a gray window with a mouse as the freerdp icon:
**svr out put is(I changed the 3389 port as 5900 because of 3389 be used by others):**
[10:30:54:615] [6732:00001c34] [INFO][com.freerdp.core.listener] - Listening on :::5900
[10:30:54:615] [6732:00001c34] [INFO][

[2018-10-08 06:35] akallabeth commented on #4903
@aijyo could you post the command line of the client?

[2018-10-08 07:13] aijyo commented on #4903
**client command line is:** (I restore the port now)
wfreerdp.exe -w:800 -h:600  -cert-ignore -rfx -v:localhost:3389

**svr problem now is:**
0x75C5C54F (KernelBase.dll) (freerdp-shadow-cli.exe 中) first chance exception:  0x000006BA: RPC server not available。。

[2018-10-08 07:19] akallabeth commented on #4897
Closing as resolved (now prefer libswresample if it is available with fallback to avresample)

[2018-10-08 07:19] #4897 closed

[2018-10-08 07:32] aijyo commented on #4903
freerdp-shadow-cli  out put as follow(ignor the Chinese, that's the RPC error i'll find out):
[15:29:27:760] [7728:00001e34] [INFO][com.freerdp.server.shadow.win] - width: 0 height: 0
[15:29:27:760] [7728:00001f04] [INFO][com.freerdp.client.common.cmdline] - loading channelEx rdpdr
[15:29:27:760] [7728:00001f04] [INFO][com.freerdp.client.common.cmdline] - loading channelEx encomsp
[15:29:27:760] [

[2018-10-08 07:52] aijyo commented on #4903
I donnot got any breakdown, but "Protocol Security Negotiation Failure" and some times RCP not available.  when client connected, I can move mouse through client with a black client window.

[2018-10-08 08:39] aijyo commented on #4903
@akallabeth  When I run Remote Desktop Services at 3389 and start freerdp-shadow-cli at 5900,RPC problem resolved,  but the problem still, something must be wrong according to the output **" Protocol Security Negotiation Failure"**,
as the result of transport_read_pdu return -1 at
FreeRDP-master\libfreerdp\core\nego.c(547):	status = **transport_read_pdu**(nego->transport, s);
because of transport_

[2018-10-08 10:10] aijyo commented on #4903
Due to the  "Protocol Security Negotiation Failure"  error I wonder if there some problem with the RDP COM at my local machine, but I can receive **OnWindowOpen** and **OnWindowClose** at:
FreeRDP-master\server\shadow\Win\win_wds.c(246):static HRESULT STDMETHODCALLTYPE **Shadow_IRDPSessionEvents_Invoke**

Which is Invoked by the rdpcom, so the rdp is also okay?

 I wonder....  If freerdp-shadow-cl

[2018-10-08 10:14] bergmeister opened #4919 "Question: CredSSP fix for breaking change in March"
I am aware that there was a breaking change to CredSSP by a Windows update (March rollup [KB4088776](https://support.microsoft.com/en-us/help/4088776/windows-10-update-kb4088776)) this year that broke our private fork of freerdp v1.
Since an upgrade to the current v2 would be quite complex, we would ideally like to just cherry-pick the commit(s) that fixed it.
As far as I could see, this PR fixed

[2018-10-08 13:09] akallabeth commented on #4919
@bergmeister You're most likely better off checking a diff between current and before the change and creating a patch for v1 on that and the appropriate credssp spec as the code changed significantly between v1 and v2.
(Note: I remember that there were 2 or 3 pulls as in the first approach some issues were found)

[2018-10-08 13:09] #4919 closed

[2018-10-08 17:18] sebastianuw commented on #4875
I ran git bisect, but it wasn't helpful.

The last version I have that works is 103686e .

[2018-10-09 02:14] aijyo commented on #4903
Everthing is okay now, according to issue and code , I found out that windows server is not finished now...... so...

[2018-10-09 02:19] aijyo commented on #4903
According to the issue and coding, the windows RDP server seems to be not finished...  so...

[2018-10-09 06:50] aijyo commented on #4903
I got a runable RDP client && svr through codeproject,  i'll find out why ...

[2018-10-09 07:13] akallabeth commented on #4875
@sebastianuw so e1c00b878dfd7f4e1c0ff42a60012991269bebf3 was still working? Which commit fixes the issue you had?
Sorry, have to guess here as I can not reproduce this with our rds setup so that information might help enormously.

[2018-10-09 07:42] kempniu commented on #4864
I had a little time to look a bit deeper into what is happening here.  Apologies in advance if what I wrote below makes no sense - I am just trying to put the bits and pieces together without having a thorough understanding of either the RDP protocol, FreeRDP, *or* Vinagre :)

It seems to me that Vinagre does not support drawing any "custom" mouse pointer images sent by the server.  In fact, I thi

[2018-10-09 13:19] akallabeth commented on #4903
@aijyo could you please break down your issues?
* Authentication issues - try with `-auth` to disable authentication, check if it works
* Everything else: Please give some details, guessing does not help much here.

[2018-10-09 19:11] MakoWish commented on #4801
Latest nightly has corrected this issue. Thank you, @akallabeth !!!

[2018-10-10 02:04] aijyo commented on #4903
Need time to break down ...

And after various attempts， there are two problem left:

First:
hr = subsystem->pSharingSession->lpVtbl->put_ColorDepth(subsystem->pSharingSession, 32);
32 not available, so I comment it out

Second:
I got a black window at client with mouse move is okay

**Can U give me a runable client and server  param...**

I am currently running a runable  project(client&server)

[2018-10-10 05:03] #4801 closed

[2018-10-10 05:07] akallabeth commented on #4903
For the black screen try with another bit depth (24, 16, ...) instead of the not working 32 (you're commenting out your framebuffer source configuration there, so you'll never see anything)
As for auth, would need your /buildconfig

[2018-10-10 05:36] aijyo commented on #4903
I donnot known how to give U my buildconfig, I download the src code,  config it with cmake gui(generate with server, default config  server not include), and then got *.sln open it with vs2013 ... complie & run... so  what's the meanning of /buildconfig...

[2018-10-10 05:38] aijyo commented on #4903
![image](https://user-images.githubusercontent.com/7956449/46715214-ad9ef480-cc91-11e8-98db-07de4d0da838.png)

[2018-10-10 08:09] akallabeth commented on #4903
`wfreerdp.exe /buildconfig >somefile.txt`

[2018-10-10 08:14] aijyo commented on #4903
I got a empty file after run this cmd...
![image](https://user-images.githubusercontent.com/7956449/46722167-76d3d900-cca7-11e8-8d18-0908116706d2.png)

[2018-10-10 10:45] akallabeth commented on #4903
then you have a very old version of freerdp.

[2018-10-10 13:06] aijyo commented on #4903
I will confirm it tomorrow. Thanks

[2018-10-10 14:48] michael-newsrx opened #4920 "Major opcode of failed request: 18 (X_ChangeProperty)"
**Describe the bug**
Unable to run latest under x2go, previous versions worked fine.

**To Reproduce**
be inside an x2go session.
attempt to connect to windows server.

getting:
[code]

#### freerdp package list
[code]

### x2go package list:

[code]

[2018-10-10 16:03] akallabeth commented on #4920
Could you tell /buildconfig of your freerdp?
'Latest' seems like the distro package?
Does it work with our nightlies?

[2018-10-11 01:45] aijyo commented on #4903
follow is my build config , print by wfreerdp-client(wfreerdp.exe project):

This is FreeRDP version 2.0.0-dev4 (n/a)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_EXECINFO_H= HAVE
_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_SYSLOG_H= HAVE_SYS_FILIO_H= HAVE_SYS_MODEM_H=
HAVE_SYS_SELECT_H= HAVE_SYS_SOCKIO_H= HAVE_SYS_STRTIO_H= HAVE_TM_GMTOFF= HAVE_UN
ISTD_H= WITH_CCACHE=ON WITH_CHANNELS=ON

[2018-10-11 02:00] aijyo commented on #4903
at buildflags.h I found follow:
#define CFLAGS "/DWIN32 /D_WINDOWS  /Gd /W3"
#define COMPILER_ID "MSVC"
#define COMPILER_VERSION "18.0.40629.0"
#define TARGET_ARCH "x86"
#define BUILD_CONFIG "BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_EXECINFO_H= HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_SYSLOG_H= HAVE_SYS_FILIO_H= HAVE_SYS_MODEM_H= HAVE_SYS_SELECT_H= HAVE_SYS_SOCKIO_H= HAVE_SYS_STRTIO_H= HAVE_TM_GMTO

[2018-10-11 07:29] aijyo commented on #4903
I config it with cmake-gui ... now I donnot known what's wrong ... and how to fix it.   I'm reading the code, try to understand something ... I cannot find any doc about how to connect rdpsession, and negotiation proto.  without know much about OpenSSL also.  I don't want to give up freeRDP using rdp ocx in the next project.

[2018-10-11 08:38] akallabeth commented on #4903
@aijyo did you configure the `CMAKE_BUILD_TYPE`?

[2018-10-11 08:39] aijyo commented on #4903
@akallabeth
I debug the exe got something as follow...
I set a break point at **nego_attempt_tls**:**nego_recv_response**

1、when break down the net s**tate is 1**(tcp connect seems to be okay)

2、when break down at
freerdp2.dll!transport_read_layer(rdp_transport * transport, unsigned char * data, int bytes) line 545
**net state is 1**
WSAGetLastError() == 10035

3、After retry status = BIO_read(tr

[2018-10-11 08:44] aijyo commented on #4903
I cannot find CMAKE_BUILD_TYPE config entry in Cmake-gui, So  I use default CMAKE_BUILD_TYPE Configed in cmakelist.txt (as default It seems to be release, so it's okay? if necessary I‘ll change it to debug)’

[2018-10-11 11:38] aijyo opened #4921 "I got a Black window at win10X64...(not the same as the other black issue)"
As the title. I got a black window , with the latest master branch code.

client:
wfreerdp.exe -w:800 -h:600 /p:Shadow123 -cert-ignore -rfx -v:localhost:5900

svr:
freerdp-shadow-cli.exe (debug mode with out any modify & param)

There is some clue may help:

I set breakpoint in all places where **PointerNew** is assigned.  Breakpoints are not triggered...
before “transport_check_fds: transport->Re

[2018-10-11 12:29] aijyo commented on #4921
Bug not fixed,, I think the problem is the svr out put info tips. When I debug , I found **shw_client_thread** exit  because of "Fastpath update New Pointer [b] failed"...

[2018-10-11 14:56] akallabeth commented on #4903
@aijyo
* There are advanced cmake options, check the UI (I don't use it, cmdline only for me ;))
* check `shw_authenticate` if the authentication of the client succeeds (or if it is called at all)

[2018-10-11 16:03] skummer101 opened #4922 "rc2 to dev4 update broke /APP: feature; need revert help"
**Describe the bug**
When attempting to launch a remote app; freerdp crashes.

**To Reproduce**

michael@AMD:~$ bash powershell.sh
[09:51:27:831] [18554:18555] [INFO][com.freerdp.client.common.cmdline] - loading channelEx cliprdr
[09:51:27:832] [18554:18555] [INFO][com.freerdp.client.common.cmdline] - loading channelEx rail
[09:51:27:911] [18554:18555] [INFO][com.freerdp.gdi] - Local framebuffer f

[2018-10-11 16:31] skummer101 commented on #4922
Installed via:   sudo apt-get install freerdp2-x11

[2018-10-11 16:39] skummer101 commented on #4922
michael@AMD:~$ xfreerdp /buildconfig
This is FreeRDP version 2.0.0-dev (git n/a)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EVENTFD_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_JOURNALD_H=TRUE HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIB=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK_SYMBOL= HAVE_SYSLOG_

[2018-10-11 16:47] skummer101 commented on #4922
after purging all freerdp and remmina stuff (including remmina's PPA), I now have 2.0.0-dev (not dev4) installed.  It seems to work.  It looks like it is the (dev4) from remmina's ppa.

[2018-10-12 02:00] aijyo commented on #4903
I think it is a bit misunderstood about the problem,
shw_authenticate be breakpoint not triggered, as follow
![image](https://user-images.githubusercontent.com/7956449/46843156-0098b900-ce04-11e8-8ab1-00209eef7dd1.png)

**But the problem does not seem to be caused by authenticate**,just like the follow img show, after BIO_wait_read wait 100ms, the TCP disconnected(when I run same code at my win10

[2018-10-12 06:45] akallabeth commented on #3518
@potatofamily Which version? Fixed some autoreconnect related issues with #4880, #4885 and others.

[2018-10-12 06:46] akallabeth commented on #4903
@aijyo Ah, ok. Which version of OpenSSL do you use on these machines? Might be as simple as that they can not agree on a common cipher suite.

[2018-10-12 06:51] aijyo commented on #4903
That's also what I am worried about, I'm using OpenSSL Version: 1.1.2

[2018-10-12 06:52] akallabeth commented on #4922
#4891 already addresses this.

[2018-10-12 13:38] w0rhost opened #4923 "centos build error，，help！！！"
ninja: warning: phony target 'CheckIncludeFiles.c' names itself as an input; ignoring [-w phonycycle=warn]
[1/2] Building C object CMakeFiles/cmTryCompileExec217609347.dir/CheckIncludeFiles.c.o
FAILED: CMakeFiles/cmTryCompileExec217609347.dir/CheckIncludeFiles.c.o
/usr/bin/cc   -fPIC -Wall -Wno-unused-result -Wno-unused-but-set-variable -Wno-deprecated-declarations -fvisibility=hidden -Wimplicit-f

[2018-10-12 15:58] akallabeth commented on #4923
For support please use irc or the mailing list.
Don't forget to add some details, the ones provided here are not enough to diagnose.

[2018-10-12 15:58] #4923 closed

[2018-10-12 16:06] aijyo commented on #4921
@akallabeth  So, is there any code that can be run on windows(client connect and get img..)

[2018-10-12 21:56] sebastianuw commented on #4875
103686e is actually the last that I know was working. The problem is there was a show stopping gateway bug that wasn't fixed until recently, so bisect will miss the problem.

Do you have an e-mail I can send more detailed logs to?

[2018-10-13 13:53] akallabeth commented on #4875
Try the one used by my commits

[2018-10-14 15:13] openconcerto opened #4925 "color.c : freerdp_image_copy : unchecked memory bounds leads to crash"
If a server send wrong or out of client screen coordinates command parameters (which can be valid),
xfreerdp is seriously "garbarging" memory.

This issue causes serious issues of compatibility and can lead to exploit from a malicious server.

The problem is present in the master branch.
For example, the parameters in  freerdp_image_copy (codec/color.c) and other free_rdp functions MUST check thes

[2018-10-15 03:00] aijyo commented on #4903
@akallabeth I reinstall my system, okay  now everthing is "ok"  but the problem "ERROR][com.freerdp.core.fastpath] - Fastpath update New Pointer [b] failed, status 0" as I rementioned in another issue.......

[2018-10-15 03:00] #4903 closed

[2018-10-15 06:36] akallabeth commented on #4925
@openconcerto thank you for the report.
Do you have any further details you want/can share?
Will add some checks in the decoder.

[2018-10-15 08:40] openconcerto commented on #4925
@akallabeth I think you could add some tests on libfreerdp/gdi/test/
 and libfreerdp/codec/test to check negative parameters
and parameters greater than the screen/bitmap width or height.
I saw a lot of situations where the buffer manipulations can be "out of bound".

I saw gdi_get_bitmap_pointer calls (gdi.h)  using int32 instead of uint32,
in the case of gdi_LineTo, it seems safe from my point o

[2018-10-15 08:57] akallabeth commented on #4925
@openconcerto I've added checks in the lower layer for all primary orders in #4926 so the coordinates from the wire will be valid or the session is aborted if the server sends garbage.

[2018-10-15 09:55] akallabeth commented on #4925
@openconcerto The coordinates should be converted from relative format to absolute format correctly.
Would be interesting to see which orders have such invalid offsets and why they use them.
Do you have any logs from that? (that is, `/log-level:debug` or similar)

[2018-10-15 11:09] kavanst opened #4928 "Hang and jumbled display after running for a few hours"
The issue is that wfreerdp hangs and displays a jumbled desktop after running for a few hours. No mouse or keyboard input is able to restore the application to usable state. I had to close it and connect the rdp connection again.

Windows 10 Pro connecting to Windows Server 2016.
Running commandline: c:\wfreerdp.exe /v:192.168.33.20 /size:3820x620 /audio-mode:0
Using the rolling release downloaded

[2018-10-15 11:37] openconcerto commented on #4925
Here is the last lines of the client log

[04:33:25:672] [21269:21270] [DEBUG][com.freerdp.core.update] - Switch Surface Alternate Secondary Drawing Order (0x00)
[04:33:25:672] [21269:21270] [DEBUG][com.freerdp.core.update] - Switch Surface Alternate Secondary Drawing Order (0x00)
[04:33:25:672] [21269:21270] [DEBUG][com.freerdp.core.update] - MemBlt Primary Drawing Order (0x0000000D) rop=S [0x00c

[2018-10-15 12:55] akallabeth commented on #4928
There have been significant changes in default settings in the last month, is this still an issue with up to date nightly?

[2018-10-15 12:58] akallabeth commented on #4925
@openconcerto Could you add your command line for that?
Some features are no longer used and deactivated by default for a reason, just want to make sure this is not your issue.
(Those should be covered by the new checks in my pull too)

[2018-10-15 14:18] ng0177 opened #4929 "Centos 7.5 ninja: build stopped: subcommand failed."
On Centos 7.5 Linux 3.10.0-862.14.4.el7.x86_64, I get the below error when executing

`git clone git://github.com/FreeRDP/FreeRDP.git
cd FreeRDP
cmake -GNinja -DCHANNEL_URBDRC=OFF -DWITH_DSP_FFMPEG=OFF -DWITH_CUPS=OFF -DWITH_PULSE=OFF .
cmake --build .
cmake --build . --target install
`
.....
`[424/424] Linking C executable client/X11/xfreerdp
[th6mas@freckle75 FreeRDP]$
[th6mas@freckle75 FreeRDP]

[2018-10-15 14:36] akallabeth commented on #4925
@openconcerto Ok, now the pull is running smooth with address sanitizer and an XP.
Can you check if this works for you too?

[2018-10-15 14:47] akallabeth commented on #4929
Please use the mailing list or IRC for support questions.
The tracker is reserved for issues.

[2018-10-15 14:47] #4929 closed

[2018-10-15 20:03] jhonesk opened #4930 "[CrossCompiling] Fix build and update wiki for MinGW compilation"
I followed this instructions (https://github.com/FreeRDP/FreeRDP/wiki/Compilation) for cross compiling FreeRDP to be used on windows hosts. I'm running Arch Linux.

I compiled OpenSSL and MingGw just as the wiki suggests, and on the final step, when I try to cmake, the compilation fails and I receive the following message:

ps: Yes, I made sure that all the paths are correct before issuing the com

[2018-10-15 20:53] openconcerto commented on #4925
@akallabeth I switched to your branch in order to check, your patch fixes memory corruption, but corrupts the display...
I think that it deserves the writing of unit tests.

[2018-10-15 21:04] openconcerto commented on #4925
The displays is corrupted and after some minutes, it crashed... (I use valgrind).

[14:02:30:798] [26461:26462] [DEBUG][com.freerdp.core.update] - Primary Drawing Order [0x13] MemBlt rop=S [0x00cc0020]
[14:02:30:798] [26461:26462] [DEBUG][com.freerdp.core.update] - Primary Drawing Order [0x13] MemBlt rop=S [0x00cc0020]
[14:02:30:798] [26461:26462] [DEBUG][com.freerdp.core.update] - Primary Drawing

[2018-10-16 05:50] akallabeth commented on #4925
@openconcerto agree on some unit tests, tbat will require a lot of time though (there are a LOT of cases to cover:/)

[2018-10-16 06:57] akallabeth commented on #4925
@openconcerto Could you give some details:
1. You are testing with `xfreerdp` right? (there are some settings that can change the behaviour of the protocol completely, so to reproduce I need to know that)
1. What OS are you connecting to?
1. What did you do to cause the crash? (Move window, which app, ...)

[2018-10-16 07:30] potatofamily commented on #3518
@akallabeth I am using the September 4th version. I will try the newest version.

[2018-10-16 07:37] akallabeth commented on #4921
@aijyo you need to add some stubs for the function pointers, so not without modifications.
Currently working on different issues, so sorry no time to do that, but pull requests are always welcome ;)

[2018-10-16 07:41] aijyo commented on #4921
Thansk anyway. I  will to to something about it  and find out a way to run rdp server on windows...

[2018-10-16 09:22] weberhofer opened #4931 "Request for release of 2.0.0-rc4"
As you have integrated lots of important fixes since last RC it would be great to see another RC to be integrated in our openSUSE repository...

[2018-10-16 09:34] openconcerto commented on #4925
@akallabeth I still use xfreerdp, same options (ie no specific options), same session to same server (linux x11rdp).
Moving a window is causing the crash.

It's a regression from your last commits.
Please note that the display is completly corrupted (pixel jam).

As a software engineer myself, I still don't understand why the priority is not to write unit tests for gdi_BitBlt . I would be happy to

[2018-10-16 10:41] akallabeth commented on #4925
@openconcerto Thx. Managed to forget to push the last commit fixing the arguments to the checks (only had them locally) so sorry :/
As for unit tests, I'm all with you that it would be grea, only issue is (as always) time:
1. The GDI part is more or less deprecated (protocol wise)
   * I'm more inclined to add a compile flag to deactivate this old protocol stuff completely (except a minimal set th

[2018-10-16 11:15] akallabeth commented on #4925
@openconcerto Ok, added protocol checks to only support orders if we actually activated them. seems like `xrdp` (hope that is the same as the `x11rdp` you mentioned? has a few issues in that area too :/

[2018-10-16 11:57] openconcerto commented on #4925
I did a : git pull https://github.com/akallabeth/FreeRDP.git primary_order_checks

And issue are still here (pixel jam and crash) :

[04:53:54:283] [28470:28471] [DEBUG][com.freerdp.core.update] - Primary Drawing Order [0x10] OpaqueRect
[04:53:54:283] [28470:28471] [ERROR][com.freerdp.core.update] - [0x10] OpaqueRect - SERVER BUG: The support for this feature was not announced!
[04:53:54:283] [284

[2018-10-16 12:45] openconcerto commented on #4925
@akallabeth `xrdp 0.10.0`
The stackstrace is from the client (xfreedp), not the server.
We have no issue with the MS Remote Desktop application (Win7, Win 10...).
It's time for unit testing, not smoke testing :)

[2018-10-16 13:03] akallabeth commented on #4925
@openconcerto Thinking about a simple way (protocol fuzzer) but for your specific issue that won't help (as in it will only detect, not fix the issue)

[2018-10-16 14:07] openconcerto commented on #4925
The unsafe part is
[code]

You don't need to a fuzzer, but add tests for the 10 parameters, using negatives or "too big" values.
From my point a view, a test will help you to detect in which case it crash.

(ps : I'm not well informed about the FreeRDP organisation, if it's your company developing it and need some talented dev, I could help).

[2018-10-16 14:41] jhonesk commented on #4930
I do not see anything specifying dependencies neither I understand what you mean by  "which symbols are defined" in the CMakeCache file. Sorry for the ignorance, but I'm quite blind here!

[2018-10-16 14:49] jhonesk commented on #4930
Is there by any chance, a updated guide of some sort, to compile and use FreeRDP within Windows? I also tried compiling inside windows os using this tutorial (https://github.com/FreeRDP/FreeRDP/wiki/Build-on-Windows-Visual-C---2012-(32-and-64-bit)) but faced a bunch of errors as well.

[2018-10-16 14:53] akallabeth commented on #4925
@openconcerto Sorry, I know that it crashes in the image copy function, but adding those sanitation there is too expensive (it is in complexity similar to `memcpy` to get an idea)
Other than that I'm interested in the drawing issues you reported, which I can not reproduce here locally (these can not be fixed by such checks)

[2018-10-16 16:03] openconcerto commented on #4925
I suggest that you add all the debug trace you need in your primary_order_checks branch,
I git pull https://github.com/akallabeth/FreeRDP.git primary_order_checks
I retest and send you the trace

[2018-10-16 16:07] ng0177 commented on #4929
I subscribed to the mailing list but cannot see how to post or create a thread. Thanks!

[2018-10-16 16:12] akallabeth commented on #4929
Ng0177 write a mail to the list?

[2018-10-16 17:37] ng0177 commented on #4929
Sorry, my mistake: the welcome e-mail went into the wrong folder...

[2018-10-16 19:47] chrislong opened #4934 "In seamless mode, moving a window shrinks it 14x7"
When running in seamless mode, moving any window causes that window to shrink by 14 pixels horizontally and 7 pixels vertically. Each move causes this, until the window starts moving across the screen by itself (to the right) when it has focus.

**To Reproduce**
1. Start xfreerdp in seamless mode
2. Drag an application by its title bar, watching its size (preferably your window manager reports thi

[2018-10-16 22:43] drocsid commented on #4895
Thanks for sharing that. I will double check, but I assume you're correct that it's a configuration issue. Sorry for my lack of knowledge regarding that.

[2018-10-17 07:56] akallabeth commented on #4930
@jhonesk windows builds are quite easy nowadays, just compile/install openssl and use vs2017 (they support CMake natively)

[2018-10-17 08:40] openconcerto commented on #4925
@akallabeth I just updated from your branch, no more crash, no more display corruption, BUT
it closes the session after 2s...

[01:39:10:847] [32659:32660] [DEBUG][com.freerdp.core.update] - Primary Drawing Order [0x10] OpaqueRect
[01:39:10:847] [32659:32660] [DEBUG][com.freerdp.gdi.region] - Invisible rectangle 0x0-188x0
[01:39:10:847] [32659:32660] [DEBUG][com.freerdp.gdi.region] - Invisible rec

[2018-10-17 09:05] akallabeth commented on #4925
@openconcerto This is due to the newly added order sanitation.
Only orders that the client and server agreed upon are allowed and it looks like in your case `NEG_LINETO_INDEX` is deactivated by the server (it is set by the client in `xf_pre_connect`) but later on still used.

you can set `settings->AllowUnanouncedOrdersFromServer = TRUE` in `xf_pre_connect` to allow processing of such protocol vio

[2018-10-17 09:12] openconcerto commented on #4925
I understand that you need such checks to "debug" a server, but to reject unanounced orders by default will lead to a lot of bug reports (xfreerdp and remmina).

[2018-10-17 09:14] akallabeth commented on #4925
I've checked against windows servers from xp to 10 and it is working quite nicely. `xrdp` is the one that ignores capabilities completely (but adding `+glyph-cache` solves that issue for me)

[2018-10-17 09:18] akallabeth commented on #4925
I'm not entirely sure if I should export a command line option to allow such behaviour and remmina uses it's own client settings anyway.

[2018-10-17 09:33] #4846 closed

[2018-10-17 09:33] #4922 closed

[2018-10-17 09:37] openconcerto commented on #4925
I added a debug line to dump what orders capabilities support is received  :
TS_NEG_DSTBLT_INDEX, TS_NEG_PATBLT_INDEX, TS_NEG_SCRBLT_INDEX, TS_NEG_MEMBLT_INDEX,TS_NEG_MULTIOPAQUERECT_INDEX

As you mentionned, no TS_NEG_LINETO_INDEX  :(

The real question is : do you really want to make `freerdp` incompatible with `xrdp`
 by closing sessions when a (valid) unannounced order is received ?

[2018-10-17 10:41] mahmoodn opened #4935 "Requesting for password in the terminal or remote window?"
I use xfreerdp to connect to two windows 10 machines. All things are good. However, for one of them, I have to enter the password locally in the terminal while on the other, I have to enter the password in the in the remote window. Please see below

[code]
After that I can see the remote window. The other is:
[code]
and I see the remote window.

Is that normal?

[2018-10-17 10:43] akallabeth commented on #4935
yes. depends on the authentication mode. NLA requires authentication before connection, rdp and tls allow to connect first and authenticate later.
btw, you're using a deprecated command line syntax.

[2018-10-17 10:43] #4935 closed

[2018-10-17 10:53] openconcerto commented on #4925
I saw your flag, but I'm sure hundreds of sysadmins will hate you when they will update their xfreerdp or remmina... or when a new Ubuntu version will be released.

I would prefer a flag named : `enforce-order-checks` , false by default.

With your `relax-order-checks` proposal the situation is :
- you can use freerdp/remmina to connect to any windows server / worksation
- you cannot use freerdp/r

[2018-10-17 12:51] #4892 closed

[2018-10-17 13:00] akallabeth commented on #1210
No feedback, closing.

[2018-10-17 13:00] #1210 closed

[2018-10-17 13:38] openconcerto commented on #4925
@akallabeth could elaborate on "safe" ?

[2018-10-17 13:52] #4573 closed

[2018-10-17 14:07] akallabeth commented on #4925
@openconcerto Certain orders require the client to prepare internal structures and other stuff.

[2018-10-17 14:20] akallabeth commented on #4925
Checked with `xrdp` on debian and fedora, with `xfreerdp +glyph-cache /v:<server>` it is working.

[2018-10-17 14:53] jhonesk commented on #4930
Thanks for your help. I think was able to compile it succesfully with CMake GUI using vs2017, once I got no error messages of any kind. But I am not sure what I should expect now. I have this directory that was populated after the build, but I have no executable or CLI binary. What am I missing?

![capture](https://user-images.githubusercontent.com/34694158/47095017-b8620800-d202-11e8-9e4f-f87ab1d

[2018-10-17 15:16] #4756 closed

[2018-10-17 15:21] akallabeth commented on #4930
@jhonesk Better use the mailing list or IRC for support questions.
I'll keep this issue open as cross compilation and the wiki for that are definitely out of date.

[2018-10-17 21:29] openconcerto commented on #4925
I checked using `+glyph-cache` , xfreeredp close the session because `xrdp` sends a `LineTo`.
([ERROR][com.freerdp.core.update] - [0x09] LineTo - SERVER BUG: The support for this feature was not announced!)

[2018-10-18 09:17] akallabeth commented on #4931
Working on it.
The remaining issues and pull requests need some review, any help appreciated.

[2018-10-18 09:43] akallabeth commented on #4925
@openconcerto Ok, but adding `/relax-order-checks` works?
Anyway, closing this one as the issue reported is resolved.

[2018-10-18 09:43] #4925 closed

[2018-10-18 09:59] weberhofer commented on #4931
Thanks, @akallabeth. I know how much work a "simple" release is. I'm looking forward to update our sources in openSUSE as many issues have been fixed again!

[2018-10-18 11:28] openconcerto opened #4944 "BitBlt corrupted"
The display is corrupted since the latest patch related to order crash for BitBlt
![xfreerdp](https://user-images.githubusercontent.com/1234263/47151165-4a3c4480-d2d9-11e8-8cba-49ad1ce61435.png)
 See #4925

The patch is not correct.
Server used : xrdp
Client : xfreerdp /relax-order

[2018-10-18 12:35] akallabeth commented on #4944
@openconcerto could you give a short description of how you configured `xrdp`?
I've been running various sessions with current `0.9.8` and different backends without much problems so far (`0.9.8` that is), might help to have the same setup to check against.

[2018-10-18 13:21] akallabeth commented on #4875
@sebastianuw I've found a hint, could you check if it works if you set `settings->ClientAddress` in `freerdp_tcp_connect` to your desired client url/name?

[2018-10-18 13:31] akallabeth commented on #4944
@openconcerto Checked against very old versions too (ubuntu 14.04 and debian wheezy), can not reproduce your issue. (configuration default from installation) so definitely need some more information about the server configuration

[2018-10-18 13:36] akallabeth commented on #4849
Closing this as it is mostly 'support'

[2018-10-18 13:36] #4849 closed

[2018-10-18 13:39] akallabeth commented on #2946
Closing, no feedback.

[2018-10-18 13:39] #2946 closed

[2018-10-18 13:40] akallabeth commented on #2792
Closing, no feedback.

[2018-10-18 13:40] #2792 closed

[2018-10-18 13:42] akallabeth commented on #2052
Closing, no feedback and code changed significantly.

[2018-10-18 13:42] #2052 closed

[2018-10-18 14:42] openconcerto commented on #4944
It's not related to the server but the way you "sanitized" the parameter of the blit with negative values.

If you prefer smoke testing instead of unit testing, here are the interesting parts of the xrdp.ini
[code]

[2018-10-18 15:08] akallabeth commented on #4944
@openconcerto thx for the config, as for the tests, pull requests welcome.

[2018-10-18 16:12] openconcerto commented on #4944
@akallabeth I would be pleased to fix it, to write tests and to pull but I have no spare time yet. My daily job is software development and my employer is not convinced I should work for free during my day job.

[2018-10-18 16:45] akallabeth commented on #4944
@openconcerto Then you can understand why I'm not entirely convinced investing really a `LOT` of time figuring out the differences between spec and `xrdp` (and old ms servers for that matter) for parts of the protocol that are by all means legacy.

The pressing issue (memory corruption) is fixed and for everything else I will try to allocate time and fix it (but it is currently not the most import

[2018-10-18 20:59] imShara commented on #2792
Wow. Necropost. I forgot about this

[2018-10-19 09:08] bmiklautz commented on #4944
@openconcerto could you please provide us a client debug log?
[code]
In order to track your problem down could you also provide more information about your server side setup (we simply can't reproduce the issue easily aka at all):
* distribution
* xrdp version
* connection method (any brokers/gateways involved)?

[2018-10-19 11:01] bmiklautz commented on #4944
@openconcerto Thanks for your efforts.

As for "I don't understand why you stay focused on finding a server configuration to reproduce the issue". I do respect your opinion however we are trying to keep as close to the specifications as possible and we don't see this issue anywhere else (even not with the xrdp installation we tested with) except with your configuration/setup that's why we want to

[2018-10-19 11:39] openconcerto commented on #4944
Here is the addhoc patch which solves 100% of the display related issues I saw.

[code]

Of course, I removed the `freerdp_primary_adjust_rect` and `freerdp_adjust_point` from core/order.c

I would be please to know how you can validate fixes without having tests for them.
"it works here, I promise" is bad pratice and lead to huge long term issues, AFAIK FreeRDP has a long story with random crash

[2018-10-19 16:29] nitso commented on #4579
Same problem as @mmattes described earlier. Debug log shows nothing interesting, just drawing messages.

[2018-10-19 17:36] akallabeth opened #4954 "interleaved decompress missing length checks"
`RleDecompress16to16` does not validate source to destination length usage in `RLEDECOMPRESS`

[2018-10-19 20:03] mahmoodn commented on #4935
Thank you. May I know what is the latest options and syntax?

[2018-10-19 20:08] mahmoodn opened #4956 "SSL_read: I/O error"
I use xfreerdp command to connect to a Windows 10 machine from my centos. There are two users in the Windows machine. One is the admin and the other is a local and standard user.
When I connect with the following command, There is no problem and I can login to the windows machine.

However, when I user the same command with the non admin user, I get `SSL_read: I/O error` message right after enteri

[2018-10-19 22:07] sebastianuw commented on #4875
If I run:
$ xfreerdp ./rds.rdp /v:session-host-name

It can connect even if it can't resolve the name.

[2018-10-20 07:04] mahmoodn commented on #4956
So, the issue has been resolved by adding the user to the list of users who can connect with remote desktop. That should be configured in the windows 10 and has nothing to do with Centos.

[2018-10-20 07:04] #4956 closed

[2018-10-23 08:40] T3N4K4 commented on #3518
FYI: I created that bug while I was working at Rangee GmbH. I quit there this year. Therefore I am currently not able to provide further information to that. Maybe you should contact then anyone of the current devs there. Sorry for the inconvenience.

[2018-10-23 09:07] akallabeth commented on #4875
@sebastianuw two questions here:
1. Does the `rdp` file contain a IP or hostname as destination address?
1. Is session redirection activated on the RDS systems? (then you might want to try  `/redirect-prefer` to avoid resolution checks)

[2018-10-23 12:28] mgrandl commented on #4793
Still no solution to this bug? I am also affected :/

[2018-10-23 13:05] rainerklier commented on #4793
which distribution do you use?
for opensuse i know a working package.

[2018-10-23 13:15] mgrandl commented on #4793
I am on Solus using FreeRDP 2.0.0_rc3-9

[2018-10-23 13:59] Lonniebiz commented on #4793
This bug was solved about 1 or 2 days after it was first reported. I wonder if you guys can install Remina-Next on opensuse or solus?

I can't advise on that, but I stay current with the latest Reminna on Ubuntu installing like this:

sudo apt-add-repository ppa:remmina-ppa-team/remmina-next ; sudo apt-get update ; sudo apt-get install remmina remmina-plugin-rdp

I hope your distro has something s

[2018-10-23 14:55] hartois commented on #4793
fix https://github.com/FreeRDP/FreeRDP/commit/8b8e85271c4824e11b6d82ff9fc9b3fb664a8942 works for me, thanks

[2018-10-23 15:30] rainerklier commented on #4793
yes, i use Remmina and freerdp.
on opensuse i install latest freerdp packages from http://download.opensuse.org/repositories/home:/hendwolt/openSUSE_Tumbleweed
and Remmina from http://download.opensuse.org/repositories/X11:/RemoteDesktop/openSUSE_Tumbleweed/

this is like a "next" packge.
current freerdp version from this repo is 2.0.0~git20181019-1.1
current Remmina version is 1.2.32-78.1
works a

[2018-10-23 16:03] Lonniebiz commented on #4793
I figured out the problem.

Even though, that firestick (I told you about) is not hooked up anymore.
When it was hooked up I gave it the same IP that the tablo now has.

My router allowed me to assign two different mac addresses with that same
IP address. You'd think it would notify me "that's already taken", but it
didn't.

Anyway, as soon as I removed the firestick's mac address, from the same I

[2018-10-23 16:05] bberndt commented on #4793
Problem fixed!

installed freerdp-libs freerdp-libs-2.0.0-46.20181008git00af869.fc28.x86_64.rpm from the updaes-testing repo for Fedora 28.  Left the Remmina version the same, form the standard repo.

[2018-10-24 09:56] openconcerto commented on #4944
Nice to see UINT32 are gone, are you working on clipping?

[2018-10-24 09:58] akallabeth commented on #4864
Does #4950 fix the issue for you?

[2018-10-24 10:06] akallabeth commented on #4820
@ondrejholy We've fixed a lot of warnings (and bugs) in the last weeks, so I assume we can close this one?

[2018-10-24 10:08] akallabeth commented on #4931
@weberhofer looks like you'll get your wish

[2018-10-24 10:11] akallabeth commented on #4944
@openconcerto Currently not, got other stuff with more priority.

[2018-10-24 15:29] akallabeth opened #4965 "TimeZone generator script creates a file with >3000 compiler warnings"
The generated file `timezone.c` is missing initializer values for `SYSTEMTIME` structs.
See currently committed file for a proper initialization.

NOTE: All warnings are visible when using `-Wextra`

[2018-10-24 19:48] StewPedassle opened #4966 "Keys being "stuck" when switching desktops"
Hi All,

I'm rather inexperienced when it comes to reporting/tracing bugs, so please bear with me (feel free to treat me like a toddler when it comes to making/fetching logs etc.)

I've found a bug or two on my machine.  I am submitting these both under one because they appear to be intertwined behaviors.

First unexpected behavior: I can switch workspaces while xfreerdp is active using only "Lctr

[2018-10-25 04:36] kempniu commented on #4864
Sadly, no.  I am still observing the same symptoms with a263da002d441e6c628ef24056547141cd101f7e (and, for the record, also with d3c1db1746b99c05d515de626d2c515e49debfdd, i.e. current *master*).

[2018-10-25 08:57] gnshkl1 opened #4967 "Dynamic performance setting update in running session"
Dynamic performance setting update in running session such as remote session over LAN/WAN
if session is taken with default paramenters and not getting optimum performance.
user or program should able to change the setting such as disabling /gfx and enabling /gfx-h264 in running session.Is this possible?

[2018-10-25 08:59] akallabeth commented on #4967
Support or discussion please in irc or mailing list

[2018-10-25 08:59] #4967 closed

[2018-10-25 09:43] akallabeth commented on #4966
@StewPedassle
* Were did you get the idea only the right control is escaped? Currently some `<ctrl>+<alt>` combos are allowed too. (Does some documentation need an update?)
* I can't reproduce this here (debian 9 and fedora 28 with various window managers). Might be some optional feature? (Lets compare command lines ;))

[2018-10-25 10:43] ondrejholy commented on #4820
The scan based on the current master (commit d3c1db1746b99c05d515de626d2c515e49debfdd) revealed more issues than the previous one. There is still the `USE_AFTER_FREE` defect, which would be nice to fix, but I am not sure how. I don't see anything else very important. See [scan-results-imp.err](https://github.com/FreeRDP/FreeRDP/files/2514439/scan-results-imp.err.txt) and [scan-results.err](https:/

[2018-10-25 11:57] akallabeth commented on #4820
@ondrejholy looks like there were some socket leaks handling error cases of `tcp_connect`.
The `USE_AFTER_FREE` is currently harmless, but @hardening is changing the return there to a seat ID to avoid the confusion (both, developer and compiler)

[2018-10-25 12:44] nfedera commented on #4966
I can't reproduce it either, please post your command line and tell us which window manager and/or desktop environment you're using.

[2018-10-25 17:54] mailinglists35 commented on #1060
is there any way to authenticate using standard linux users, not via external SAM file?

[2018-10-26 01:04] jphein commented on #1252
I'm having this exact issue. When trying to record audio xfreerdp throws the error:
Warning audin_pulse_open (430): bad stream state (5)
I am using Ubuntu Bionic and the freerdp-x11 package from the official repos. The remote machine is a Windows2012r2 KVM virtual machine.
`
xfreerdp --version
This is FreeRDP version 1.1.0-beta1 (git n/a)
`
[code]
[code]
When I add your nightly repos, and try free

[2018-10-26 18:46] geiseri opened #4971 "Add support for [MS-RDPECAM]"
It is fairly new to Windows 10, but the UVC camera remoting is now an official specification.  It would be cool to support it instead of USB for webcam redirection.

I am not sure how this would be implemented outside of Linux, but in theory, it looks like gstreamer could be used to access the video device and then encode it into H.264.

Right now the only way to redirect webcams is via USB.  This

[2018-10-29 08:06] bmiklautz commented on #2039
Releated PR #4961

[2018-10-29 13:42] bmiklautz opened #4972 "remote application broken on master"
It seem that remote app is broken with the current master.

[2018-10-30 00:46] StewPedassle commented on #4966
@akallabeth @nfedera

I cannot recall exactly where I got it from.   It was likely some combination of Remmina's functioning, and forum discussions when I first started using FreeRDP.  I started RDP using Remmina, and switched to the nightlies a year or two ago when our admin set up an RD Gateway.  I haven't really had issues since then, so I haven't had to dive into documentation or further troub

[2018-10-31 06:03] weberhofer commented on #4931
Cool.

[2018-10-31 10:04] gnshkl1 opened #4978 "UDP support for Freerdp"
Needed UDP feature support in Freerdp same as microsoft RDP8

[2018-10-31 14:53] metametaclass commented on #4809
Double or incorrect free caused by https://github.com/FreeRDP/FreeRDP/blame/29d3fea3d787a2a9abd63a4b4269be8dd47b264d/libfreerdp/core/client.c#L98

pChannelOpenEvent->Data is set by FreeRDP_VirtualChannelWrite or FreeRDP_VirtualChannelWriteEx, called by virtual channels addon, so, arguably, cleanup should be performed also in addon code (in CHANNEL_EVENT_WRITE_COMPLETE handler, for example) and not

[2018-10-31 19:08] miminno commented on #4920
Same error here.

[14:58:28:300] [27291:27292] [INFO][com.freerdp.gdi] - Remote framebuffer format PIXEL_FORMAT_RGB16
X Error of failed request:  BadLength (poly request too large or internal Xlib length error)
  Major opcode of failed request:  18 (X_ChangeProperty)
  Serial number of failed request:  59
  Current serial number in output stream:  63

Version built from git: 2.0.0.rc3.r360.g7b0f4f

[2018-11-03 02:16] amosbird commented on #4966
same issue in Archlinux and bspwm. "c" gets stuck

[2018-11-03 02:29] amosbird commented on #4966
commenting out this fixes it https://github.com/FreeRDP/FreeRDP/blob/master/client/X11/xf_keyboard.c#L145

[2018-11-05 04:29] wwcy opened #4981 "xfreerdp Remote application,taskbar cannot display icon"
Who can help me, I do not know whether I set parameters or not.Please look at the next picture.

![s](https://user-images.githubusercontent.com/31535843/47978023-49d3e400-e0f6-11e8-8810-9979003fc9df.png)
No icon for this application is displayed.

[2018-11-05 10:07] bmiklautz commented on #4920
@michael-newsrx could you try our latest nightly package if the same problem exists there?
https://ci.freerdp.com/job/freerdp-nightly-binaries/

[2018-11-05 10:16] bmiklautz commented on #4981
Can you please provide more information? The issue doesn't say much...
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2018-11-05 15:37] informatimago opened #4983 "free(): invalid next size (fast) in aecc77cd77335526aeefcba1bb36727e9cbb117b"
**Describe the bug**

[code]
ends in:

followed by a SIGABORT.

[freerdp.log](https://github.com/FreeRDP/FreeRDP/files/2549319/freerdp.log)
[compile-freerdp.txt](https://github.com/FreeRDP/FreeRDP/files/2549352/compile-freerdp.txt)

**To Reproduce**
Steps to reproduce the behavior:
- checkout current HEAD (aecc77cd77335526aeefcba1bb36727e9cbb117b)
- compile with command in compile-freerdp.txt
- ru

[2018-11-05 15:58] informatimago commented on #4983
Compiling with  ` export CFLAGS='-fsanitize=address -fsanitize=bounds -fsanitize=object-size -fsanitize=null -g -g3 -ggdb -O0 '`
gives the following:

[2018-11-05 16:06] informatimago commented on #4983
So it's the same old bug of encrypting the hash for kerberos, and not allocating the right buffer size...

[2018-11-05 17:30] miminno commented on #4920
I can confirm that this problem still exists in the latest nightly:

./xfreerdp --version
This is FreeRDP version 2.0.0-dev4 (29d3fea3d)

[2018-11-05 22:14] bmiklautz commented on #4983
@informatimago you using kerberos for the connection?

[2018-11-05 22:36] informatimago commented on #4983
I have a kerberos token in the cache, but the command line options are only: `xfreerdp /v:${windows_host} /u:${user}`

[2018-11-06 02:56] wwcy opened #4984 "Remote application icon display error"
Hi,

   The taskbar of Ubuntu 18.04 can not display the icon of the Windows application.

Summary:

  1. The client is Ubuntu 18.04 and runs in VirtualBox.
  2. RDP host is Windows Server 2008 R2 x64.
  3. Internet Explorer is published as a RemoteApp (It is displayed on the Ubuntu taskbar, but the icon is wrong).
  4. The FreeRDP client was compiled on clean install of Ubuntu 18.04 from GitHub ma

[2018-11-06 02:58] #4981 closed

[2018-11-06 09:52] informatimago commented on #4983
See: https://docs.oracle.com/cd/E19683-01/816-1331/overview-85/index.html

and:

[2018-11-06 10:17] informatimago commented on #4983
So, I would propose this patch which seems to work, but in general, I find it unsatisfactory that the input buffers be overwritten by gss when the output can be of different size.  This SEC_BUFFER API looks dumb to me.
[k.patch.txt](https://github.com/FreeRDP/FreeRDP/files/2552682/k.patch.txt)

[2018-11-06 10:46] nkv16786 opened #4986 "How to execute a batch script that will perform UI tasks"
Hi,

I have a batch script that perform some UI tasks like opening chorme browser and then opening a page.
I need to execute this script using xfreerdp and also i need this task  of opening of browser and page to be seen in the rdp session.

Currently, is this possible??

**Version** :-
This is FreeRDP version 1.1.0-beta1

Note:- My batch script accepts page url as argument.

[2018-11-06 12:50] bmiklautz commented on #4986
While automation is technically possible it won't work out of the box. If xfreerdp needs to do the jobs you would need to do some coding and send the corresponding mouse clicks and inputs you need.

If you just want to open a browser and show a page (and nothing else) you might have a look on how remote apps work. This way you could run the browser as app and if it takes a URL as command line pass

[2018-11-06 12:50] #4986 closed

[2018-11-06 12:51] bmiklautz commented on #4986
And p.s.: For questions please use the mailing list or our irc channel.

[2018-11-06 12:55] bmiklautz commented on #4983
@informatimago thanks.

[2018-11-06 12:55] #4983 closed

[2018-11-06 14:29] informatimago commented on #4986
nkv16786 Perhaps there is some confusion.

RDP works mainly at the level of the pixels and low-level events (mouse movements, mouse clics, key presses).  It doesn't know what program or system runs on the remote side, and knows nothing about browsers.
What you seem to be wanting could be attained by an "out-of-band" communication.
If the remote system was a unix system, it would be a simple matter

[2018-11-06 14:59] ondrejholy commented on #4820
Thanks that you took look at those defects. The seat id defect is not still fixed, see my comment on https://github.com/FreeRDP/FreeRDP/pull/4970. I can confirm that some socket leaks disappeared. If you are interested see updated [scan-results-imp.err](https://github.com/FreeRDP/FreeRDP/files/2553667/scan-results-imp.err.txt) and [scan-results.err](https://github.com/FreeRDP/FreeRDP/files/2553665

[2018-11-06 16:51] fodinabor opened #4987 "Remote Assistance asks for credentials and does not connect"
FreeRDP does not connect when using Remote Assistance feature, but instead asks for NLA credentials.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a Remote Support Invitation from the windows control center
2. Send this file to another computer
3. Try to connect by using wfreerdp.exe invitation.msrcIncident /assistance:<Password>
4. NLA asks for credentials

**Expected behavior**

[2018-11-06 20:47] uhtechteam opened #4988 "Connection problems - Windows Server 2008 R2 with gateway"
I'm using FreeRDP version 2.0.0-dev4 (76c91ee51) on ThinStation (built on Crux Linux).

On an older build of xfreerdp, I would get frequent disconnects when accessing the Windows server through the gateway with a variety of error codes.  The developers of ThinStation suggested that I pull the latest version from git and compile that into my ThinStation build and now I've got a new issue:

When I t

[2018-11-07 08:40] akallabeth commented on #4988
Which page are you trying to load that has a body size >1GB?

[2018-11-07 12:16] akallabeth commented on #4988
As for the second log (the one with the segfault) would it be possible to recompile with `-DWITH_SANITIZE_ADDRESS=ON -DCMAKE_BUILD_TYPE=Debug (or RelWithDebInfo)` and post the stack trace?
Looks like we missed some issue there.

[2018-11-07 12:33] akallabeth commented on #4988
I've just checked, looks like the current `msrcIncident` files have changed a bit from older versions.
Could you post the content (sans all `TICKET` and `PassStub` data)?
If I'm not mistaken you won't find `RCTICKET` data in that file (and the parser currently does not allow that)

[2018-11-07 12:54] akallabeth commented on #4987
Just verified, there seem to be indeed 2 issues with remote assistance:
1. The one you described above (looks like a broken username / password initialization from the `msrcIncident` file)
1. The newer format for windows vista and newer with encrypted data in `LHTICKET` is not supported

[2018-11-07 13:24] MurzNN opened #4990 "Can't connect to remoteapp with error RAIL_EXEC_E_SESSION_LOCKED"
When I try connect to Windows 10 remoteapp from Linux using this cli agruments:
[code]
I got the error:
[code]
On Windows using same credentials and command name - I connects normally.

When I remove `--app` argument - I succesfully connects to full RDP session (full desktop).

FreeRDP version is 1.1.0~git20140921.1.440916e+dfsg1-15ubuntu1 on Ubuntu 18.10 system.

Maybe I need to set some addition

[2018-11-07 13:40] MurzNN commented on #4990
@akallabeth sorry, I add additional info to first post.

[2018-11-07 13:43] pikkmees commented on #4988
Have same issue, after upgrading(computer1) to https://ci.freerdp.com/job/freerdp-nightly-binaries/586/(and newer) version, cant connect anymore. Another computer(computer2) have not upgraded yet and there are version 2.0.0-dev (git 3b83526) what works well.
Both have installed from deb package.
Computer1 logs:
xfreerdp /u:ken.karma /d:_xxxxxxx_ /v:_xxxxxx_:3389 /g:_xxxxxxx_ +clipboard /size:1900x

[2018-11-07 13:43] MurzNN commented on #4990
If I convert `--data "cmd"` to `--data "||cmd"` - this error is disappear, I see that new X window created on short time, but after this - window disappear with no output to console.

[2018-11-07 13:52] pikkmees commented on #4988
Computer2 log, where it works brevious version:
xfreerdp --version
This is FreeRDP version 2.0.0-dev (git 3b83526)
 xfreerdp /u:ken.karma /d:_xxxxx_ /v:_xxxxx_ /g:_xxxxx_ +clipboard -size:1600x850 /log-level:TRACE
[15:34:35:034] [14899:14900] [DEBUG][com.freerdp.channels.cliprdr.client] - VirtualChannelEntryEx
[15:34:35:035] [14899:14900] [INFO][com.freerdp.client.common.cmdline] - loading channel

[2018-11-07 13:57] akallabeth commented on #4990
@MurzNN Ok, from what I see you should
* do what the log messages suggest (use the new command line syntax)
* Check your windows machine is configured appropriately (you need to `ALLOW` each single application and user!)
* check if it works with a newer version (be aware, there are currently some issues on master, but 2.0-rc tags work)

If you need further support, please use our mailing list or I

[2018-11-07 13:57] #4990 closed

[2018-11-07 14:15] MurzNN commented on #4990
Thanks, seems this issue is solved via adding `||` to app string, about nothing showed I'll try to debug and if will not solve - post new separate issue for investigate.

[2018-11-07 14:32] Arlington1985 commented on #4703
What is the conclusion of this report? Clipboard functionality completely not working for me (host > guest, guest > host). Here is my version:

This is FreeRDP version 2.0.0-dev4 (29d3fea)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_M

[2018-11-07 14:53] MurzNN opened #4992 "FreeRDP crash when try using app argument"
FreeRDP successfully connects to standard RDP session via those command line arguments:
[code]
But when I try to add `/app` argument:
[code]
- I got the crash, dump is attached here: [_usr_bin_xfreerdp.1000.crash.txt](https://github.com/FreeRDP/FreeRDP/files/2557764/_usr_bin_xfreerdp.1000.crash.txt)
[code]

`log-level:trace` output: [xrdp-trace.txt](https://github.com/FreeRDP/FreeRDP/files/2557819

[2018-11-07 14:56] akallabeth commented on #4988
I've created a branch relaxing the content length check here:
https://github.com/FreeRDP/FreeRDP/pull/4991

@uhtechteam @pikkmees Could you check if that works for you?
@uhtechteam Are you able to check the segfault as mentioned above? If not I need to set up a new test environment (the old one does not allow to reproduce this issue) so I'd really like to avoid this for now ;)

[2018-11-07 15:00] akallabeth commented on #4992
@MurzNN you're using a self compiled build, correct? Can't resolve the symbols so the stack trace does not help much :/
Would be nice if you could reproduce with our nightlies.

Anyway, closing as duplicate of #4972, please add any findings there.

[2018-11-07 15:00] #4992 closed

[2018-11-07 15:12] akallabeth commented on #4703
@Arlington1985 is it enabled server side? Anyway, support questions please in the mailing list or our IRC channel.

[2018-11-07 15:20] uhtechteam commented on #4988
@akallabeth I'm updating right now so I can rebuild with the new branch.  Considering the fact I'm using a pre-built script that builds for Crux for the ThinStation package system, I've got to figure out how to get that info in there for the compile.  It looks like it grabbed this new branch automatically though.  That will probably work only for the gateway connection.  There is no 1GB file as @p

[2018-11-07 15:28] akallabeth commented on #1252
@jphein I'd check with a more recent version ;)

[2018-11-07 15:31] Arlington1985 commented on #4703
Yes it's enabled. I think it's a bug

[2018-11-07 15:34] rpes opened #4993 "FreeRDP x64 crashes on null pointer in TLS and NLA negotiation"
Environment:
* Windows 10 Home 64-bit w/ OpenSSL 1.1.1
* Latest FreeRDP master code (2.0.0-dev4) downloaded on 6 Nov 2018.
* MS Visual Studio 2015 Community

Set up for 32-bit building under VS 2015 using:
  cmake.exe .

The project builds in VS 2015 without any issues. A connection to a Windows 10 Pro system running as local VirtualBox VM succeeds and works as expected:

  wfreerdp.exe /v:127.0.0

[2018-11-07 15:37] fodinabor commented on #4987
The decryption code for number 2 seems to be there though... LHTicket is just not used anywhere: https://github.com/FreeRDP/FreeRDP/blob/master/libfreerdp/common/assistance.c#L653

[2018-11-07 15:37] uhtechteam commented on #4988
OK.  My command to grab the new version was "prt-get update -fr freerdp -im -if" and it still grabbed the same one so I need to figure out how to get it to grab that branch.

The disconnect errors came up as "Application freerdp failed with an error (127)."  Viewing the log showed:
[WARN][com.freerdp.core.nego] - Error: SSL_NOT_ALLOWED_BY_SERVER
[WARN][com.freerdp.core.nego] - Error: SSL_NOT_ALLOW

[2018-11-07 15:53] akallabeth commented on #4864
@kempniu I've just tried to build vinagre (https://gitlab.gnome.org/GNOME/vinagre.git, master) against current freerdp.
There seem to be a few issues in vinagre (using old API stuff mostly).
Is there a `wip` branch somewhere? I can't get to the issues you have as it already aborts before.

[2018-11-07 15:55] akallabeth commented on #4988
@uhtechteam hmm, that sounds more like a openssl configuration issue to me, something quite different than the gateway related stuff. Do you have a real (non embedded/thinclient) setup to test (some linux machine/vm)?

[2018-11-07 15:56] akallabeth commented on #4987
@fodinabor thx for the hint, I'll have a look at it.

[2018-11-07 16:04] akallabeth commented on #4993
Looks like you found a `NULL` access in the cleanup routines. Fixed that in the references pull, please provide feedback so we can merge this more quickly.
Thanks!

[2018-11-07 16:09] akallabeth commented on #4703
@Arlington1985 No, working on all machines here flawlessly. Might be your build / environment.
Check with our nightly builds first, if it also does not work with these, create a new issue with details about your setup, then we might find the culprit.
Please do not use this issue for this discussion, it is unrelated to your issue.

[2018-11-07 16:35] uhtechteam commented on #4988
@akallabeth That would let it connect and then drop in the middle?

[2018-11-07 17:57] rpes commented on #4993
The app keeps crashing even after the fix though now in a different place:

wfreerdp /v:127.0.0.1 /log-level:trace

[18:49:28:896] [14204:000014a8] [DEBUG][com.freerdp.core.nego] - Enabling security layer negotiation: TRUE
[18:49:28:896] [14204:000014a8] [DEBUG][com.freerdp.core.nego] - Enabling restricted admin mode: FALSE
[18:49:28:897] [14204:000014a8] [DEBUG][com.freerdp.core.nego] - Enabling

[2018-11-07 18:13] kempniu commented on #4864
Thank you, I appreciate the effort!

This does not really surprise me.  As far as I can tell from commit history (I may be wrong, just sharing my impression), the project has basically been on life support for a few years now.

Sorry, I do not know of any.

So, I am aware this does not really help, but FWIW I am still observing the same symptoms with current *master* versions of both FreeRDP (cf43

[2018-11-07 18:46] Thinstation commented on #4988
You can run freerdp in the DevStation chroot, which is essentially a non-embedded full blown Desktop distro in a chroot.
FreeRDP port is cloned as follows, and should always pull the latests.

release=master
git clone git://github.com/FreeRDP/FreeRDP.git -b ${release}

[2018-11-07 18:52] uhtechteam commented on #4988
OK @akallabeth, here's what I get when I run the first command of

`xfreerdp /v:(my server) /cert-ignore /f /d:'(my domain)' /g:'(my gateway)' /log-level:TRACE`

[12:41:08:035] [5369:5370] [DEBUG][com.freerdp.channels.cliprdr.client] - VirtualChannelEntryEx
[12:41:08:035] [5369:5370] [INFO][com.freerdp.client.common.cmdline] - loading channelEx cliprdr
[12:41:08:047] [5369:5370] [DEBUG][com.freerd

[2018-11-07 18:59] uhtechteam commented on #4988
@Thinstation that pulls the full latest version which seems to have this issue.  I had to hack it a bit in order to incorporate the commit from @akallabeth .  In the chroot in DevStation it fails as well, very simply:

`[18:56:33:644] [19358:19359] [INFO][com.freerdp.core.gateway.rdg] - RD Gateway does not support HTTP transport.`

[2018-11-07 19:13] Thinstation commented on #4988
And these are the compile flags we are using.
	cmake .	-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_INSTALL_LIBDIR=lib \
		-DDOCBOOKXSL_DIR=/usr/share/sgml/docbook/xsl-ns-stylesheets \
		-DCMAKE_BUILD_TYPE=Release \
		-DWITH_PCSC=ON \
		-DBUILD_SHARED_LIBS=ON \
		-DWITH_CHANNELS=ON \
		-DWITH_CHANNELS_PRINT=ON \
		-DWITH_SERVER=OFF \
		-DWITH_CLIENT=ON \
		-DWITH_PULSE=ON \
		-DWITH_ALSA=ON \
		-DWITH_

[2018-11-07 19:14] uhtechteam commented on #4988
I added -DWITH_SANITIZE_ADDRESS=ON -DCMAKE_BUILD_TYPE=Debug in /ts/ports/opt/freerdp/Pkgfile as requested above before running this test.

[2018-11-07 21:36] ilammy commented on #4984
Some pointers for developers trying to implement this:

- xfreerdp receives application icon orders from the server, but [they are stubbed out at the moment](https://github.com/FreeRDP/FreeRDP/blob/cf43406dc30258bb0c3736bce07ce0ac4366ca26/client/X11/xf_rail.c#L534-L599) and do nothing.
- X11 property for window icons is called [_NET_WM_ICON](https://specifications.freedesktop.org/wm-spec/1.3/ar01s

[2018-11-08 01:06] wwcy commented on #4984
@ilammy Thank you for your help.

[2018-11-08 05:13] nkv16786 commented on #4986
I have a selenium script to do UI tasks(opening chrome and then a page in it). I just need a way in which i am able to see the tasks that script is performing on the particular rdp session i am starting.

[2018-11-08 06:49] qiandahao opened #4995 "Copy/paste issue under MAC RDP"
When I do copy/paste under mac RDP version (not the Prebuilt version), the last character of the copied content is missing. Did anyone get the same issue?

[2018-11-08 09:43] akallabeth commented on #4864
@kempniu Are you sure you're properly linking and using the correct includes and not the ones of some system installation of freerdp?

[2018-11-08 10:20] rpes commented on #4993
Can you pls provide some kind of explanation on why the issue got closed? The fix did NOT resolve the problem on my environment. It keeps crashing.

[2018-11-08 10:31] akallabeth commented on #4993
@rpes could you enable openssl debug symbols and check, if you're compiling and linking the correct version?
Currently it crashes in cleaning up SSL BIO and the paths should not allow half initialized variables there.

[2018-11-08 11:16] akallabeth commented on #4993
@rpes seems like I've found the issue, could you give #4997 a try?

[2018-11-08 12:45] rpes commented on #4993
I updated the files referenced in #4997 and I confirm it now works OK both for NLA and TLS. Thanks!

[2018-11-08 12:46] #4993 closed

[2018-11-08 14:06] kempniu commented on #4864
Just to be sure, I removed the FreeRDP package from my system and retried building both FreeRDP and Vinagre - both of them still build and I am getting the same results.  But your question got me thinking and I recalled I am applying an [Arch Linux patch][1] on top of vanilla Vinagre sources and that patch is very likely what makes it possible to build Vinagre against recent FreeRDP versions.  Can

[2018-11-08 16:46] uhtechteam commented on #4988
@Thinstation is there a way I can build with a previous version of freerdp that doesn't have this current issue?  And @akallabeth can we identify when the issue came up so I know what to revert to?

[2018-11-08 16:52] akallabeth commented on #4988
@uhtechteam your gateway configuration and server would be required to debug this further.

[2018-11-08 16:54] uhtechteam commented on #4988
Sure @akallabeth , just let me know what information you need!

[2018-11-08 17:00] akallabeth commented on #4988
Server os and settings used for setting up the gateway

[2018-11-08 17:02] uhtechteam commented on #4988
Server OS is Windows Server 2008 R2.  I didn't personally set up the gateway but if you tell me which settings or screenshots to grab off the Windows server, I will grab them.

[2018-11-09 10:58] #2039 closed

[2018-11-09 11:07] #4965 closed

[2018-11-09 11:44] akallabeth commented on #4721
ok, closing as the warnings in `triostr.c` are not really fixable.

[2018-11-09 11:44] #4721 closed

[2018-11-09 16:02] rpes opened #4999 "Attempt to copy file on guest crashes the app"
Environment:
* Host is Windows 10 Home, FreeRDP 2.0.0-dev4 compiled on MS Visual Studio 2015 Community
* Guest is Windows 10 Home with RDP enabled via rdpwrap

Steps to reproduce:

1. Connect to the guest system:

2. Open Windows Explorer on the remote desktop, select a file and press Ctrl+C. The application crashes with:

[code]
The stack:
[code]
Is copying of files from the remote system to the

[2018-11-09 18:50] miminno commented on #4920
Doesn't look like a FreeRDP problem after all. This issue occurs only when Big Requests extension is disabled. That's something x2go does, claiming it isn't properly implemented in NX engine.

Once it's re-enabled in NX agent config file, FreeRDP is happy.

[2018-11-09 22:53] bmiklautz commented on #4920
@miminno good to know! Thanks you for sharing this finding.

[2018-11-09 22:53] bmiklautz commented on #4920
@michael-newsrx can you verify if this is the same problem you have?

[2018-11-10 08:08] hardening commented on #4995
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2018-11-10 15:42] gabriel-sztejnworcel opened #5000 "Unable to build FreeRDP server on Windows"
Hi,

I would like to build FreeRDP server for Windows. The build instructions that appear in GitHub seem to be only for the client, running cmake will generate Visual Studio projects for the libraries and client, but not for the server. I tried creating the Visual Studio project by myself and adding the source files, and after settings all the include paths, I'm still getting compilation errors (s

[2018-11-11 08:46] qiandahao commented on #4995
My question is "Did u guys have this issue?". So you can give it a try and probably it takes 3 seconds. Then let me know if I posted a stupid issue. All I have to say about your comment is "Does it take 3 seconds to find and copy this link?" But w/e I am gonna collect more info to post here for u time saver.

[2018-11-11 15:50] ilammy commented on #4972
Uh... It seems to be working for me with c5c1bac31a25be5b0d13a20f483a978c36685a7d on my Linux machines connecting to the only Windows 7 Ultimate VM that I have (with fAllowUnlistedRemotePrograms workaround applied). At least, it does not crash, shows the application windows, I can more or less interact with them, etc.

[2018-11-11 15:53] ilammy commented on #4984
I've managed to get the icon display more or less working. I was also able to reproduce the issue with application name: Ubuntu 18.04 shows `RAIL:01234567` while Ubuntu 14.04 shows the correct name. Please stand by for a pull request.

The `/app-name` and `/app-icon` command-line arguments seem to be ignored as of now. I did not dig into git blame too deeply, but I kinda doubt that they ever worke

[2018-11-12 03:40] qiandahao commented on #4995
* a useful description of the bug: Copy/paste is not working functionally (Basically it's a clipboard issue)
  * the steps to reproduce the bug: 1) Copy a paragraph (like "Hello World") inside or outside the rdp 2) Paste the content inside the rdp 3) The last character is missing (so it shows "Hello Worl", 'd' is missing)
  * to what system did you connect to?: win10
  * freerdp version: FREERDP_V

[2018-11-12 07:13] akallabeth commented on #4995
@qiandahao sorry, took me some time, but checked on my available mac. (also 10.13.6) seems like you found a really interesting one. As for the comment from @hardening I assume it was due to you not specifying which client you're using (you can also use `xfreerdp` on mac ;))

[2018-11-12 07:38] akallabeth commented on #5000
The library itself is quite complete (and we're working on hardening it further) but the (windows) server components are not.

[2018-11-12 20:18] gabriel-sztejnworcel commented on #5000
Thanks for the reply.
Does this mean that it's impossible to build FreeRDP server for Windows at the moment?

[2018-11-12 21:42] akallabeth commented on #5000
Most likely it needs some love.
Might give current `master` a try, we're in a hardening phase trying to fix remaining issues for 2.0, so it might have been fixed.

[2018-11-12 22:33] ilammy commented on #4984
@wwcy, here you go: #5003. Could you please test that PR in your environment?

[2018-11-13 02:39] wwcy commented on #4984
@ilammy The icon has already been displayed. The name is still wrong.
![image](https://user-images.githubusercontent.com/31535843/48387191-bd49a700-e72f-11e8-82dd-56d836dc8462.png)
Is it because of this code?
![image](https://user-images.githubusercontent.com/31535843/48387329-5bd60800-e730-11e8-9bcf-3cb025168a1d.png)

[2018-11-13 10:45] akallabeth commented on #4984
@wwcy can not reproduce your issue, which os and window manager are you using? (ubuntu 18.04 defaults as mentioned initially?)

[2018-11-13 10:46] akallabeth commented on #4984
@wwcy Also check the server settings, from my tests with #5003 the name is set by RDP, but only if the server sends a name.

[2018-11-13 11:14] wwcy commented on #4984
@akallabeth 1.The client is Ubuntu 18.04 and runs in VirtualBox.
                     2.RDP host is Windows Server 2008 R2 x64.
                     3.Command line parameters.
                      `xfreerdp /u:Administrator /p:vesystem123! /v:192.168.50.160 /port:3389 /app:"iexplore"`

[2018-11-13 12:11] vjeson opened #5004 "The latest version build from master branch doesn't work on the mac mojave"
The latest version build from master branch doesn't work on the mac mojave (10.14)
when connected to win10 , the screen is black.
build with command : cmake -D "CMAKE_OSX_ARCHITECTURES:STRING=x86_64" . && make
call cmd: ./MacFreeRDP /cert-ignore /v:192.168.102.199 /u:test /p:123456 /w:1024 /h:800

![1542110434771](https://user-images.githubusercontent.com/2101082/48412287-315f6b80-e77f-11e8-8781-8

[2018-11-13 12:53] qiandahao commented on #4995
@akallabeth  Really appreciate it!

[2018-11-13 13:34] akallabeth commented on #5004
could you add a little more information about your build?
This can be anything from a configuration issue to a broken build...

[2018-11-13 14:23] akallabeth commented on #4875
@sebastianuw Any update on this?

[2018-11-13 14:38] michael-newsrx commented on #4920
Where is this config file and setting to test?

On 11/9/18 1:51 PM, Yuri Bilas wrote:

[2018-11-13 16:04] uhtechteam commented on #4988
@akallabeth Here are screenshots of our full gateway config.
![screenshot_1](https://user-images.githubusercontent.com/44818626/48426003-883b5580-e72b-11e8-9114-fb7710471be3.jpg)
![screenshot_2](https://user-images.githubusercontent.com/44818626/48426004-883b5580-e72b-11e8-9d6c-4c1798e2dbdc.jpg)
![screenshot_3](https://user-images.githubusercontent.com/44818626/48426005-883b5580-e72b-11e8-92bc-e50

[2018-11-13 16:06] uhtechteam commented on #4988
@akallabeth here are the screenshots of all our gateway settings:

![screenshot_1](https://user-images.githubusercontent.com/44818626/48426105-b751c700-e72b-11e8-9b3b-573b5ed601d4.jpg)
![screenshot_2](https://user-images.githubusercontent.com/44818626/48426106-b751c700-e72b-11e8-9441-fd22cf101d10.jpg)
![screenshot_3](https://user-images.githubusercontent.com/44818626/48426107-b751c700-e72b-11e8-85

[2018-11-13 16:09] akallabeth commented on #4988
@uhtechteam Thank you for the update. I've already found the issue in between. Could you check out pull https://github.com/FreeRDP/FreeRDP/pull/4964 and see if that works for you?

[2018-11-13 16:11] uhtechteam commented on #4988
@akallabeth Sorry to be dumb but what's the 1 step way to do that with the git command line?  I can edit the build command here on the DevStation side of ThinStation but I want to make sure I get the correct command.

[2018-11-13 16:13] akallabeth commented on #4988
@uhtechteam Maybe https://help.github.com/articles/checking-out-pull-requests-locally/ can help you

[2018-11-13 16:44] informatimago opened #5006 "`transport_bio_buffered_free` frees `BIO_next(bio)` just like BIO_free_all."
With the use of `BIO_free_all` everywhere, there's a double free due to the fact that `transport_bio_buffered_free` frees `BIO_next(bio)` just like BIO_free_all.

I'm using valgrind on ubuntu 14.04 to expose this bug, with this `../mc`script, but the same can be seen with sanitize and gcc 7 on 18.04.
[code]

[code]

[2018-11-13 17:23] akallabeth commented on #5006
@informatimago which revision are you using? Current master ca6d1d59196e22dd044add9c0d570b4e5e42f3ff does not have `BIO_next` in `transport_bio_buffered_free` and #4964 contains all necessary fixes for gateway related cleanups

[2018-11-13 17:50] jre-wine commented on #4920
@michael-newsrx:
Comment out/remove this line in /etc/x2go/x2goagent.options:
`X2GO_NXAGENT_DEFAULT_OPTIONS+=" -extension BIG-REQUESTS"`

We were also affected by this, and the change fixed it (and so far no x2go crashes).
Thanks everyone

[2018-11-13 18:12] michael-newsrx commented on #4920
The config file reads that these options can be overridden by the client on
connect? Where would I set that in the stock client?

On Tue, Nov 13, 2018 at 12:51 PM jre <notifications@github.com> wrote:

[2018-11-13 19:10] informatimago commented on #5006
Sorry, I don't have merged #4964 in my branch.
I rebased by branch from
[code]

 So we can close this issue, I'll rebase.

[2018-11-13 19:12] uhtechteam commented on #4988
@Thinstation Is there a way to incorporate this into the git pull for the package on the DevStation?

[2018-11-13 19:48] akallabeth commented on #5006
Ok, closing then.

[2018-11-13 19:48] #5006 closed

[2018-11-13 21:38] nonamebrand06 opened #5007 "/client-hostname doesn't appear to do anything."
/client-hostname argument doesn't appear to do anything.   Regardless of what I configure the Workstation name that appears in logs is the system hostname.

Current workaround is to launch FreeRDP in a UTS namespace.

OS: Debian
Version:2.0.0-rc2

[2018-11-13 21:44] CKD4XXH commented on #4646
So, does Remmina (and/or Rreerdp) support locales with encodings other than UTF-8?
(Or, is limited to UTF-8?)

It would be very welcome to support at least 8bit encodings (ISO-8859-*).

For example, via
G_FILENAME_ENCODING=UTF8,iso88592
environment variable.

The shared folder's file list, as seen through RDP, in the remote machine's file manager, is (silently, and even not necessarily apparently)

[2018-11-13 22:37] akallabeth commented on #4646
No, we only test utf8, everything else is a case of good luck.

[2018-11-14 06:41] MurzNN commented on #4972
Confirm that it's start working for me too on current daily build - it shows the application window, I can operate with them via keyboard, but not via mouse.

[2018-11-14 08:49] vjeson commented on #5004
No special configuration，I build on mac 10.14, With the build running on 10.13 is right

[2018-11-14 09:44] bmiklautz commented on #5007
@nonamebrand06 can you please give more information on your problem?
The argument does what it is supposed to do. To verify:
1. connect to a windows machine (I've tested with windows 10) with /client-hostname: set
1. start a cmd
1. echo %CLIENTNAME%
1. you will see the client name you have set

You can also see this when using the task manager: "Users" Tab (possibly you need to show the "Client Na

[2018-11-14 10:22] sherwinkh opened #5010 "Did Video Direction support on Windows Server 2016？"
Someone can tell me ：Win Server 2016 support Video Direction？

[2018-11-14 10:31] hardening commented on #5010
IRC or the mailing list is the place for such question (haven't you read the notice before submitting your issue ?).

[2018-11-14 10:31] #5010 closed

[2018-11-14 10:31] VenkateshPS opened #5011 "Could NOT find OpenSSL, try to set the path to OpenSSL root folder in the system variable OPENSSL_ROOT_DIR"
**Found a bug? - We would like to help you and smash the bug away.**

Getting error when execute **cmake -DCMAKE_TOOLCHAIN_FILE=cmake/iOSToolchain.cmake -GXcode**
CMake Error at /usr/local/Cellar/cmake/3.12.4/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find OpenSSL, try to set the path to OpenSSL root folder in the
  system variable OPENSSL_ROOT_DIR (missing:

[2018-11-14 11:19] akallabeth commented on #5011
`docs/README.ios`

[2018-11-14 11:19] #5011 closed

[2018-11-14 11:38] sherwinkh commented on #3336
@akallabeth  Does Multimedia Redirection support in Windows server 2016？

[2018-11-14 11:39] #4995 closed

[2018-11-14 12:50] VenkateshPS commented on #5011
I followed the document

executed (./scripts/OpenSSL-DownloadAndBuild.command )below command which works fine but when i run **cmake -DCMAKE_TOOLCHAIN_FILE=cmake/iOSToolchain.cmake -GXcode** I get the error.

cmake version 3.12.4

[2018-11-14 12:59] VenkateshPS opened #5014 "Can Free RDP be used to share screen from one iOS device to another"
**Is your feature request related to a problem? Please describe.**
**Can Free RDP be used to share screen from one  iOS device  to another.
I want to integrate this in an existing App so that I can share my screen with other users using the same app.**
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A cle

[2018-11-14 13:38] akallabeth commented on #5014
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2018-11-14 13:38] #5014 closed

[2018-11-14 15:18] akallabeth commented on #5000
@gabriel-sztejnworcel I've pushed some fixes in https://github.com/akallabeth/FreeRDP/tree/dsp_audio_server_api
This should bring windows server back to being compilable.

[2018-11-14 17:51] jre-wine commented on #4920
No idea, @michael-newsrx.

Forwarded this issue to x2go devs: https://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=1341

[2018-11-14 18:35] michael-newsrx commented on #4920
Changing that option (so far) has things working much better here. My
xrdp sessions and telegram app both work again when telecommuting.

On 11/14/18 12:51 PM, jre wrote:

[2018-11-14 19:46] nonamebrand06 commented on #5007
@bmiklautz
%CLIENTNAME% shows to configured hostname like it should.
Task manager also shows the client name correctly.
I didn't know to look there so I didn't see those two locations.

Where I'm seeing the incorrect client hostname is in the security logs.  EventID 4624 under workstation name.  The incorrect hostname is being sent somewhere and that's what is registering in the audit logs.  This

[2018-11-14 19:49] Thinstation commented on #4988
If the commit is on the master branch, just rebuild the port.

Sent from my iPhone

[2018-11-14 20:05] uhtechteam commented on #4988
@Thinstation It's not.  It's in a pull request `pull/4964/head:rdg_fixes` which isn't in the master branch.

[2018-11-14 20:11] hardening commented on #5007
@nonamebrand06 I've looked at the calls to `GetComputerNameA` and the 'real' hostname may come from the fact that the connection is done with NLA and NTLM, can you confirm that ?

[2018-11-14 21:01] nonamebrand06 commented on #5007
Yes, NLA and NTLM authentication.

[2018-11-15 07:47] akallabeth commented on #4988
If you have a little more time the pull is due to being merged along with the rest of `2.0.0-rc4` related stuff.

[2018-11-15 08:19] jc0456 commented on #3060
Hi,
I use the master branch and run freerdp-shadow-cli-exe on Windows 7 Ultimate with Service Pack 1 (x64)(Chinese-Simplified),then I got the same errors as @jkustosz indicated above.
I find the RDPSession was ok , The TCP link between shw_client and rdpsession has been established.but the Rdpsession has broken the TCP link after receiving the x.224 message sent by shw_client. I checked the x.224

[2018-11-15 08:55] akallabeth commented on #4984
Pull merged, remaining issue is mentioned in the comments there, case of a WM bug

[2018-11-15 08:55] #4984 closed

[2018-11-15 12:05] akallabeth commented on #5000
Created #5016 to allow compilation again.

[2018-11-15 12:43] Olen opened #5017 "Latest nightly build (> 20181110) segfaults"
**Describe the bug**
Have been testing the nightly builds for some days, and for some reason, all builds after 20181110 segfaults.

**To Reproduce**
Steps to reproduce the behavior:
1. /opt/freerdp-nightly/bin/xfreerdp $HOME/.config/rdp/server.rdp /u:username

**Expected behavior**
Should be able to connect to the server

**Screenshots**
When running with /log-level:trace I get the following:

[13

[2018-11-15 13:01] akallabeth commented on #5017
@Olen Thank you for the report, but without your server setup (os, gateway, session redirection?) and content of the RDP file (without passwords and such) it is hard to track.

[2018-11-15 13:03] akallabeth commented on #5017
Would also suggest to install the debug symbols (`-dbg` or similar, depends on your os) to get (some) useful stack traces

[2018-11-15 13:09] akallabeth commented on #5017
If you're using a gateway, please wait until #4964 is merged and retry.

[2018-11-15 13:11] Olen commented on #5017
Hi,

I understand that, however, I have no control over the server (it is a hosted environoment that I am not in charge of).

The reason I have been testing nightly builds is the problem with NLA that has been discussed in other threads.  Builds up to 20181110 did not segfault, but fails with the error
[14:06:26:823] [31788:31792] [ERROR][com.freerdp.core.nego] - Protocol Security Negotiation Fail

[2018-11-15 13:48] #4988 closed

[2018-11-15 14:20] akallabeth commented on #5017
@Olen ok, then I hope this one is fixed tomorrow.

[2018-11-15 15:53] akallabeth opened #5019 "Channel up/downsampling in freerdp_dsp_encode"
Implement channel number conversion in `freerdp_dsp_encode`

Use case:
* `freerdp_dsp_encode` is used by `audin` and server side `sound` channels.
* Input is ususally in a fixed format (e.g. `PCM 16bit, 44100Hz, 2 channels) but a client may request a different format (e.g. PCM 8bit, 22050Hz, 1 channel or PCM 16bit, 48000Hz, 5 channels)
* Currently only the conversion of sample rate and PCM 16bit t

[2018-11-15 16:16] mbudnek commented on #4972
I'm also seeing remote apps being broken with the latest nightly build.  Looks like it's a buffer overflow somewhere.  Sadly I can't seem to get asan to resolve symbols, so I'm not sure how useful this stack trace will be:

[code]

Since the asan trace didn't resolve any symbols, here's a trace from gdb:

[code]

[2018-11-15 16:17] uhtechteam commented on #4988
OK, I'll try a new build with the new version.  I didn't realize it was going to make it into the master branch that fast!

[2018-11-15 17:07] akallabeth commented on #4972
@mbudnek that one was fixed by a pull merged today, retry tomorrows nightly.

[2018-11-15 17:08] mbudnek commented on #4972
@akallabeth Excellent, thanks.

[2018-11-16 00:01] sebastianuw commented on #4875
I'm using the rdp files generated by the RD Web Access server. These do not include a destination address.Here is an example:

` cpub-Gateway-CmsRdsb,rdp

redirectclipboard:i:1
redirectprinters:i:1
redirectcomports:i:0
redirectsmartcards:i:0
devicestoredirect:s:*
drivestoredirect:s:*
redirectdrives:i:1
session bpp:i:32
prompt for credentials on client:i:1
server port:i:3389
allow font smoothing:i:

[2018-11-16 06:43] akallabeth commented on #4875
Does it work using /redirect-prefer and no hostname?
Looks like you use redirection over a gateway.
With yesterdays merges gateway related issues are (mostly) resolved but there might be some left in redirection.
Need to add the signscope element to the rdp parser to do this preference automatically.

[2018-11-16 08:35] Olen commented on #5017
I can confirm that the latest nightly has fixed the segfault.

However, I am still unable to log in to our rig with all new releases.

I can successfully log in with
freerdp-2.0.0-41.20180405gita9ecd6a (Fedora 28)

But any later release will error out with
[09:34:28:441] [9727:9729] [TRACE][com.freerdp.core.gateway.ntlm] - InitializeSecurityContext status SEC_I_CONTINUE_NEEDED [0x00090312]
[09:34:

[2018-11-16 08:39] mfleisz commented on #5017
@Olen this seems to be the same issue as mentioned in https://github.com/FreeRDP/FreeRDP/issues/4663#issuecomment-390757649

[2018-11-16 09:11] Olen commented on #4663
Getting the same error, even with latest nightly.

It works with freerdp-2.0.0-41.20180405gita9ecd6a.fc28.x86_64 but no rpms after that.

FWIW I also tried adding -sec-rdp to the command line but that seemingly does not change anything.

Unfortunately I am unable to change anything on the servers, as this is a hosted solution run by a 3. party.

[2018-11-16 09:48] MurzNN commented on #4972
Confirm that it becomes work again with current nightly, thanks!

[2018-11-16 13:32] akallabeth commented on #5017
Closing this as the segfault is resolved.
As for the connection issue, this is a server response (`E_PROXY_RAP_ACCESSDENIED` if I'm not mistaken) and therefore a configuration / setup issue.
Might need some better logging in gateway code.
If you're also using a broker setup behind the gateway, #4875 might be your issue.

[2018-11-16 13:32] #5017 closed

[2018-11-16 13:55] Olen commented on #4875
Testing out the /redirect-prefer options:
* ip - Same error as before
* fqdn: - Connection hangs for about 30 seconds (dns timeout?)
* netbios: Same as fqdn

[2018-11-16 16:50] sebastianuw commented on #4875
None of the redirect-prefer options help me either. The only way to connect is to manually specify the session server with /v:session-server

This is with fe1a797

[2018-11-16 17:12] sebastianuw commented on #4875
On a minor semi-related note, right now the command line help for xfreerdp gives this description for /redirect-prefer

" /redirect-prefer:... Override the preferred redirection order".

Could this be changed to:

 "/redirect-prefer:fqdn|ip|netbios Override the preferred redirection order"?

Not deal breaking, but I had to search the issue tracker for the flag's options.

[2018-11-17 09:01] akallabeth commented on #4875
@sebastianuw the referenced pull with the not resolve fqdn fix is not on master yet.
As for the description, looks like the code to print help is truncating this, will have a look

[2018-11-17 14:58] betterjason365 commented on #5004
I meet the same problem on mac.
client system version 10.14.1.
rdp system version winserver 2016 datacenter.

![image](https://user-images.githubusercontent.com/45125292/48662337-c33ae180-eabb-11e8-91bb-f7550a3d6423.png)

After connected, i type the keyboard,  i login in the win server 2016, i can see what i just typed.
But the screen is black

[2018-11-17 14:58] betterjason365 commented on #5004
freerdp version is master version

[2018-11-17 20:01] ileGITimo opened #5024 "/log-level:OFF doesn't suppress all messages"
If I run xfreerdp (on linux to windows) with "**/log-level:OFF**" I still get (at least) one [INFO] message (date/time tag removed):

    [INFO][com.freerdp.client.common.cmdline] - loading channelEx cliprdr

This comes from the line:

    WLog_INFO(TAG, "loading channelEx %s", name);

in _client/common/cmdline.c:freerdp_client_load_static_channel_addin_

I'm not sure I completely understand the r

[2018-11-17 20:03] gabriel-sztejnworcel commented on #5000
Hi @akallabeth,
Thanks for your help!

I'm still getting the same errors. Did you commit your changes? I've tried with the current master.

Thanks,
Gabriel

[2018-11-18 14:29] akallabeth commented on #5000
@gabriel-sztejnworcel it is still a pull request ;)

[2018-11-19 00:38] sfhacker opened #5026 "Building FreeRDP server & client on Windows"
Hi.

Just downloaded master branch as of the date of this post.
Using MSYS/MinGW on Windows 10 x64 with GCC 6.3.0 & cmake 3.8.1

There are several building, compilation and linking issues I'd like to report. (#5000 #4864)

![freerdp-error-1](https://user-images.githubusercontent.com/25817529/48680229-de6b2700-eb77-11e8-99ac-797fc6cc35ec.png)

![freerdp-error-2](https://user-images.githubuserconten

[2018-11-19 06:39] sherwinkh commented on #4690
![fuzzy](https://user-images.githubusercontent.com/18393259/48690262-c55e8680-ec08-11e8-92e3-bdec19fb924c.jpg)
Like this？

[2018-11-19 07:56] hardening commented on #4690
@sherwinkh using EVOR or not is up to the server...

[2018-11-19 08:17] sherwinkh commented on #4690
@hardening ，the picture above is in the case of EVOR working.

[2018-11-19 08:35] akallabeth commented on #5026
Hello and welcome :)

* We don't use mingw but native windows compilers. If you want to use the former, you'll have to patch the code to let it compile (mostly because of missing/duplicate define stuff)
* `wfreerdp` is the client. It does not provide a connection UI but is configured via command line arguments (mostly the same as `xfreerdp`). You need to use redirection to get the output of the cl

[2018-11-19 08:35] #5026 closed

[2018-11-19 08:56] akallabeth commented on #5024
@ileGITimo Yes, this is currently a bug in the implementation.
The reason is the following:
1. To speed up logging every logger caches the log level in case it is `INHERIT` after it is first used
1. Command line parser comes after the first one or two messages
1. The loggers used will not be updated to the new logger settings

As a workaround for the time being use `WLOG_LEVEL=OFF xfreerdp /v:<url

[2018-11-19 09:18] akallabeth commented on #2958
We've merged a lot of fixes regarding gateways and were able to connect to our test setups without any issues. (http/rdg)
Only remaining issue is fixed in #5022  (session broker with internal FQDN behind a gateway)

[2018-11-19 09:18] #2958 closed

[2018-11-19 12:52] bmiklautz commented on #4972
For my test cases works it works again with the latest modifications.

[2018-11-19 12:52] #4972 closed

[2018-11-19 13:02] fifothekid opened #5028 "Exiting Full Screen Mode When Network Has Reliability Issues"
I'm building from the latest master version and everything is working perfectly. The only problem that I always have is that my connection has some reliability issues and it frequently suffers from delays and dropped connections. Unfortunately, when that happens while I'm in full screen mode it would stop accepting any commands, not even Ctrl+Shift+F works. This would force me to restart the compu

[2018-11-19 14:16] akallabeth commented on #5028
The command to leave fullscreen mode is `ctrl + alt + enter` and works on current master. (In case of connectivity issues it might be handled with a short delay)
This is a freerdp internal key combination as it is similar to how virtualbox et al handle keyboard grabbing and therefore disable all window manager / system keybindings.

[2018-11-19 14:16] #5028 closed

[2018-11-19 14:19] akallabeth commented on #5007
@nonamebrand06 As the command line does what it is supposed to do I'll close this issue.
If you have questions regarding your use case please use the mailing list or join us in our IRC channel.

[2018-11-19 14:26] #2190 closed, assigned to nobody

[2018-11-19 14:40] ondrejholy commented on #4864
Any updates here?

Just a note that I've filed the following issue for Vinagre:
https://gitlab.gnome.org/GNOME/vinagre/issues/3

I can assist with testing of a fix, or help to push some changes to Vinagre if needed.

[2018-11-19 14:57] akallabeth commented on #4864
@ondrejholy I've managed to compile with the patch from arch @kempniu mentioned. Still can't reproduce with current master (the pointer callbacks should be optional again), so maybe I'm still missing something.

[2018-11-19 15:18] fifothekid commented on #5028
I meant to say Ctrl + Alt + Enter sorry
When I have network problems and timouts the application just hangs and I cannot exit full screen

[2018-11-19 15:43] ondrejholy commented on #4864
@akallabeth I've just tested with freerdp master on Fedora and still the black screen is shown.

[2018-11-19 16:00] ileGITimo commented on #5024
This works (and it doesn't add to the noise  in my xsession error log).  I'll sync and test once this is merged in.  Thanks!

[2018-11-19 16:30] akallabeth commented on #4864
@ondrejholy Could you post a debug output with `WLOG_LEVEL=debug` somewhere? I'd be interested to know if that is still the same issue. (pointer messages)

[2018-11-19 16:42] ondrejholy commented on #4864
Yes, it looks like as the same issue. Here is full output from `WLOG_LEVEL=debug vinagre`:
[vinagre.log](https://github.com/FreeRDP/FreeRDP/files/2596210/vinagre.log)

[2018-11-19 16:55] akallabeth commented on #4864
@ondrejholy I think I got it. The default return path in update_pointer_color is false instead of true. Can't test as I'm afk

[2018-11-20 08:07] akallabeth commented on #4864
@ondrejholy ok, got it now and can reproduce with `xfreerdp`. Commenting out `pointer_cache_register_callbacks` in `xf_post_connect` yields the same result.

[2018-11-20 09:01] ondrejholy commented on #4864
Thanks, yes, https://github.com/FreeRDP/FreeRDP/pull/5030 fixes the pointer issue. To fix Vinagre in Fedora completely, the patch from Arch is also needed...

[2018-11-20 09:15] akallabeth commented on #4864
@ondrejholy yes, that can not be avoided. Added https://gitlab.gnome.org/GNOME/vinagre/issues/5 for some changes that will be useful for future use. (newer servers start to get rid of the old GDI based protocol)

[2018-11-20 09:53] #4864 closed

[2018-11-20 10:12] #4944 closed

[2018-11-20 10:36] bmiklautz commented on #4931
Here we go #5032.

[2018-11-20 10:36] #4931 closed

[2018-11-20 11:54] nkv16786 opened #5034 "Not able to use Display Variable with freerdp"
Hi,

I have two containers, one is vnc container and other is simple centos container.

When i install freerdp in vnc container n execute freerdp command it is successfull.

Now i wanted to invoke this rdp session from centos container, as it doesn`t have gui i am not able to.

So, i found out that using DISPLAY variable i can divert freerdp session to vnc container.

So i ran the following comman

[2018-11-20 13:09] akallabeth commented on #5034
Please do not misuse the issue tracker for support questions.
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

As for using X11 application questions additionally please consult some X11 help resource.

For your specific question, just as the error message suggests, something in your setup is broken. `xfreerdp` respects the variable, using it here without issues.

[2018-11-20 13:09] #5034 closed

[2018-11-20 14:12] hardening commented on #5007
Reopening as I found that with NLA + NTLM

![getcomputernameexa](https://user-images.githubusercontent.com/3237998/48778891-aa5a4800-ecd6-11e8-832f-456dc37d7442.png)

[2018-11-20 14:13] hardening commented on #5007
In this case the provided hostname is not used, but instead we use the one from the host.

[2018-11-20 14:29] akallabeth commented on #5007
@hardening Is this the desired behaviour?
The `%CLIENTNAME%` variable set during a RDP session is not relevant for authentication, but changing it there too might break it due to some policies.
Agree on that being a nice feature though.

[2018-11-20 16:23] informatimago opened #5037 "ntlm_print_av_pair_list now takes a size_t parameter"
This patch is required to compile the latest commit 3cea4bfb559a3a19d3495c041d0849aa8fffd1e2 on master.
[code]

[2018-11-20 17:09] akallabeth commented on #5037
@informatimago Thx for the report, did not try with `-DWITH_DEBUG_NTLM=ON`, so disabling this additional debugging option should fix it for the time being.
Could you create a pull for that?

[2018-11-20 17:37] sarangkarandikar1 commented on #4791
Made code changes with `movflags` `faststart` options using `libavformat` APIs, still no luck.
@akallabeth don't think the main loop is stalled - using the reset above fixes it.

It still appears to be some sort of `libavcodec` buffers, specifically ones since calling `freerdp_dsp_context_reset()` ever so often also resets the lag to 0.

[2018-11-20 17:44] uhtechteam commented on #4988
Not such good news...it does connect and stays connected for a while but fails after 3 to 12 minutes with:

[com.freerdp.client.common] - Network disconnect!

only when connected through the gateway.  When we are not using the gateway this is perfect.

Is this a new issue or continuation of the old one?

[2018-11-20 17:52] akallabeth commented on #4988
Description is a bit vague but this sounds like something different. Might be some timeout setting, client heartbeets required?,...
A full log with log level debug could help, then we'll know who closes the connection.

[2018-11-20 17:53] uhtechteam commented on #4988
What’s the best way to generate that?  I can do it right now.

From: akallabeth [mailto:notifications@github.com]
Sent: Tuesday, November 20, 2018 11:52 AM
To: FreeRDP/FreeRDP
Cc: Jonathan (Yechiel) Pisem; Mention
Subject: Re: [FreeRDP/FreeRDP] Connection problems - Windows Server 2008 R2 with gateway (#4988)

Description is a bit vague but this sounds like something different. Might be some timeo

[2018-11-20 18:41] akallabeth commented on #4988
@uhtechteam `/log-level:debug` or `export WLOG_LEVEL=debug` should generate that.

[2018-11-20 20:10] uhtechteam commented on #4988
@akallabeth the file is too big to upload (35 MB!) so here's the link:
[](https://unityhospice-my.sharepoint.com/:t:/p/jpisem/EQsILFEsbWxNgzl-l6bHh5IBdTni5DNZs-kUW6c1DZEn1g?e=t19jgH)
The last error I see on the console (that didn't make it into the log...for some reason):
[com.freerdp.client.x11] - Failed to check FreeRDP file descriptor

[2018-11-21 06:53] gnshkl1 opened #5040 "Freerdp-2.0.0.rc4 floatbar should show /title:"
Client :- Xubutnu-12.04_x86
Server:- Windows 10_x64

Command line:-
xfreerdp /cert-ignore -toggle-fullscreen /title:TestClient  /bpp:32 /f   /gfx  /sound:quality:dynamic /audio-mode:0 /microphone  +clipboard +compression   /network:lan   /kbd:0x00000409 +auto-reconnect  /d:xyz /u:"xxxx" /v:x.x.x.x:3389

Result:-
1:- Floatbar is not showing title wich is mentioned in commandline as /title:TesetClie

[2018-11-21 10:40] akallabeth commented on #4734
@gnshkl1 Doubt that you can reproduce this with windows 7 as it does not support `gfx` at all.

[2018-11-21 11:05] gnshkl1 opened #5042 "Freerdp-2.0.0-rc4 sound sometimes not sync on windows 8.1"
Client OS :- Xubuntu-12.04_x86
Server OS :- Windows 8.1_x64
Monitor Size:- 17inch
Device :- intel dual core thinclient

Commandline:-
xfreerdp /cert-ignore -toggle-fullscreen /title:TestClient  /bpp:32 /f    /sound:sys:pulse     +compression  /network:lan   /kbd:0x00000409 +auto-reconnect  /d:xyz /u:"xxx" /p:xxxx /v:x.x.x.x  /gdi:hw  +auto-reconnect /auto-reconnect-max-retries:0  /gfx

Scenario:-

[2018-11-21 11:06] gnshkl1 commented on #4734
@akallabeth i have installed MSTSC RDP8.1 patch and enabled rdp8.1 protocol from group policy

[2018-11-21 11:07] gnshkl1 commented on #4734
Windows 7 RDP8 patch:-
Windows6.1-KB2592687-x64.msu
Windows6.1-KB2574819-v2-x64.msu

Windows 7 RDP8.1 patch:-
Windows6.1-KB2923545-x86.msu
Windows6.1-KB2923545-x64.msu

[2018-11-21 11:47] gnshkl1 commented on #5042
@akallabeth
-bash-4.3# xfreerdp /buildconfig
This is FreeRDP version 2.0.0-rc4 (2.0.0-rc4)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIB=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK_SYMBOL= HAVE_SYSLOG_H=1 HAVE_SYS_EVENTFD_H=1 HAV

[2018-11-21 11:51] gnshkl1 commented on #4690
Slow performance and sometimes graphics artifacts ,when /video is used with GFX options in Freerdp-2.0.0-rc4

Client OS :- Xubuntu-12.04_x86
Server OS :- Windows 8.1_x64
Monitor Size:- 17inch
Device :- intel dual core thinclient

Commandline:-
xfreerdp /cert-ignore -toggle-fullscreen /title:TestClient /bpp:32 /f /sound:sys:pulse +compression /network:lan /kbd:0x00000409 +auto-reconnect /d:xyz /u:"

[2018-11-21 12:02] akallabeth commented on #5042
@gnshkl1 Can reproduce a short time where the audio/video data is out of sync after a long time of package loss, but it recovers quite soon again.
Can you reproduce on other machines too? (12.04 and its ffmpeg are quite old)

[2018-11-21 12:02] gnshkl1 opened #5043 "Freerdp-2.0.0-rc4 sometimes segmentation fault when removed /gdi in session reconnect"
Client OS :- Xubuntu-16.04_x86 on vmware workstation
Server OS :- Windows 8.1_x64
Monitor Resolution:- 1366x768

Connect session with below commandline:-
xfreerdp /cert-ignore -toggle-fullscreen /title:TestClient /bpp:32 /f /sound:sys:pulse +compression /network:lan /kbd:0x00000409 +auto-reconnect /d:xyz /u:"xxx" /p:xxxx /v:x.x.x.x  +auto-reconnect /auto-reconnect-max-retries:0 /gdi:hw +gfx-progre

[2018-11-21 12:04] gnshkl1 commented on #5042
@akallabeth i have compiled new ffmpeg for xubuntu-12.04  and used gcc-6.2

-bash-4.3# ffmpeg --version
ffmpeg version n4.0.2 Copyright (c) 2000-2018 the FFmpeg developers
  built with gcc 4.6 (Ubuntu/Linaro 4.6.3-1ubuntu5)
  configuration: --enable-gpl --enable-nonfree --enable-libx264 --enable-libmp3lame --enable-libopencore-amrnb --enable-libopencore-amrwb --enable-librtmp --enable-libtheora --

[2018-11-21 12:10] gnshkl1 commented on #5043
again reproduced with below logs:-

"" [12:08:34:605] [10912:10923] [DEBUG][com.freerdp.codec.progressive] - PROGRESSIVE_WBT_TILE_UPGRADE
[12:08:34:605] [10912:10923] [DEBUG][com.freerdp.codec.progressive] - PROGRESSIVE_WBT_TILE_UPGRADE
[12:08:34:605] [10912:10923] [DEBUG][com.freerdp.codec.progressive] - PROGRESSIVE_WBT_TILE_UPGRADE
[12:08:34:605] [10912:10923] [DEBUG][com.freerdp.codec.progressi

[2018-11-21 12:12] akallabeth commented on #5043
Fixed with #4959

[2018-11-21 12:12] #5043 closed

[2018-11-21 12:14] gnshkl1 commented on #5043
issue not reproduce without /video

[2018-11-21 12:14] akallabeth commented on #5042
@gnshkl1 does this also happen if you enable bandwidth management? (`/network:auto`)?

[2018-11-21 12:17] gnshkl1 commented on #5042
@akallabeth yes

[2018-11-21 12:31] gnshkl1 opened #5044 "Freerdp-2.0.0-rc4 keyboard extra key mapping to remote server (audio keys)"
Client OS :- Xubuntu-12.04_x86
Server OS :- Windows 8.1_x64

Commandline:-
xfreerdp /cert-ignore -toggle-fullscreen /title:TestClient /bpp:32 /f /sound:sys:pulse +compression /network:lan /kbd:0x00000409 +auto-reconnect /d:xyz /u:"xxx" /p:xxxx /v:x.x.x.x /gdi:hw +auto-reconnect /auto-reconnect-max-retries:0 /gfx

Logs:-
[12:23:02:427] [10011:10012] [ERROR][com.freerdp.client.x11] - Unknown key wit

[2018-11-21 12:44] akallabeth commented on #5044
Might have to do with your command line forcing `/kbd:0x00000409`
Does it work without that one?

[2018-11-21 12:53] gnshkl1 commented on #5044
@akallabeth not working without /kbd option also

[2018-11-21 12:56] akallabeth commented on #5044
@gnshkl1 working here, so it might be your X11 configuration. Check `xev` and which key is reported when you press the keys

[2018-11-21 14:07] #5037 closed

[2018-11-21 15:07] #5000 closed

[2018-11-21 16:00] stilyan opened #5047 "Unable to exit fullscreen via CTRL+ALT+RETURN combination when running with -floatbar and using one monitor"
Running custom build of freerdp (master as of 18 Nov) with `-floatbar`, `/f` and `/multimon`
On dual monitor setups exiting from fullscreen via ctrl+alt+return works fine, no output in syslog
On single monitor setups exiting from fullscreen via ctrl+alt+return is not possible. The window tries resizing and then returns to fullscreen.

The following output is recorded in syslog:
`org.gnome.Shell.de

[2018-11-21 16:52] uhtechteam opened #5048 "FreeRDP disconnects in the middle of session on Server 2008 R2 only when using gateway"
I have found that xfreerdp crashes in the middle of my session (more quickly when it is inactive even for less than the Windows session timeout, less quickly when I'm actively using it, and seemingly not at all when it's minimized) when I connect to a 2008 R2 server **ONLY via a gateway**.  The version I have is a recent pull, **2.0.0-dev4 (b216520d5)** but I have seen this with a few previous ver

[2018-11-21 16:59] akallabeth commented on #5048
There is a gateway related pull awaiting review, might already fix your issue. Can you try that out?

[2018-11-21 17:02] uhtechteam commented on #5048
@akallabeth is it in the master branch? As you may recall from the other issue I'm on ThinStation and getting a specific git pull in there is really complicated apparently.

[2018-11-21 19:30] akallabeth commented on #5048
@uhtechteam you can try master, we've merged a lot for the `2.0.0-rc4` version, but the one I'm referring to is in #5022

[2018-11-21 19:58] uhtechteam commented on #5048
Pulling latest version today gave me 2.0.0-dev5.  Is that in there?

[2018-11-21 20:06] kapsh opened #5049 "2.0.0-rc4 doesn't build with libressl"
**Describe the bug**
FreeRDP 2.0.0-rc4 and master cannot be built against libressl (2.7.4 if it matters):

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build && cd build
2. cmake .. && make

**Expected behavior**
It worked in previous 2.0.0-rc3.

**Screenshots**
If applicable, add screenshots to help explain your problem.

** Application details
* Version of FreeRDP
* Command

[2018-11-21 22:05] uhtechteam commented on #5048
@akallabeth Today's 2.0.0-dev5 didn't fix :(

[2018-11-22 03:37] harigist opened #5050 "Installing FreeRDP and hit to make install error: field ‘des3_ctx’ has incomplete type"
I was trying to install FreeRDP server using the link : https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-16.04

I hit to the below error during

    [ 25%] Building C object libfreerdp-codec/CMakeFiles/freerdp-codec.dir/nsc.c.o
    [ 26%] Building C object libfreerdp-codec/CMakeFiles/freerdp-codec.dir/rfx_sse2.c.o
    [ 26%] Linking C shared library libfreerdp-codec.so
    [ 26%] Built ta

[2018-11-22 07:50] akallabeth commented on #5050
https://github.com/FreeRDP/FreeRDP/wiki/Compilation

Try the nightly package instructions first, it will complain about the dependencies missing.

[2018-11-22 07:51] akallabeth commented on #5050
Oh, btw, 1.0 is old, with that you better just use the provided packages from ubuntu.

[2018-11-22 07:51] #5050 closed

[2018-11-22 08:30] akallabeth commented on #5048
@uhtechteam And did it crash or disconnect? Please clarify, the messages in the log look like some disconnection issue, but due to the missing error messages I can't be sure.

[2018-11-22 08:36] akallabeth commented on #5047
@stilyan does it work with the nightly packages? Just tried this with gnome on xorg and gnome on wayland and it works here...

[2018-11-22 08:45] akallabeth opened #5052 "Update sample client to activate channels"
Current client sample does only initialize a minimal feature set without any channels.

[2018-11-22 10:01] akallabeth commented on #3429
Closing due to lack of feedback.

[2018-11-22 10:01] #3429 closed

[2018-11-22 10:03] akallabeth commented on #4536
Closing as duplicate of #3032

[2018-11-22 10:03] #4536 closed

[2018-11-22 10:04] akallabeth commented on #3575
Closing due to lack of feedback.

[2018-11-22 10:04] #3575 closed

[2018-11-22 10:06] akallabeth commented on #3424
Closing as the initially reported issue is a build problem and the mass storage discussion won't help as servers block this too.

[2018-11-22 10:06] #3424 closed

[2018-11-22 10:08] akallabeth commented on #2173
Closing, as `glyph-cache` is not required for operation and part of a (hopefully) soon to be phased out revision of RDP
We've disabled it by default and marked it `experimental`

[2018-11-22 10:08] #2173 closed

[2018-11-22 10:08] akallabeth commented on #2922
Closing, as `glyph-cache` is not required for operation and part of a (hopefully) soon to be phased out revision of RDP
We've disabled it by default and marked it `experimental`

[2018-11-22 10:08] #2922 closed

[2018-11-22 10:38] harigist commented on #5050
Hi @akallabeth,

I installed the package as per this link https://github.com/FreeRDP/FreeRDP/wiki/Compilation

after successful installation

I see an error performing following,

hari@hari-virtual-machine: /openuds/freerdp/FreeRDP$ which xfreerdp
/usr/local/bin/xfreerdp
hari@hari-virtual-machine: /openuds/freerdp/FreeRDP$ xfreerdp /buildconfig
**[16:05:12:862] [16468:16468] [ERROR][com.freerdp.cl

[2018-11-22 10:42] akallabeth commented on #5050
you must run the client in a `X11` environment of course.
For further support questions please use the mailing list or our IRC channel.

[2018-11-22 10:47] #4987 closed

[2018-11-22 13:43] uhtechteam commented on #5048
I used that redirect string but without the “tee”. It disconnected and showed the same connection error.  I’ll generate a log again.

[2018-11-22 13:53] akallabeth commented on #1285
closing for being ancient.
Create a new one if still an issue.

[2018-11-22 13:53] #1285 closed

[2018-11-22 13:54] akallabeth commented on #2003
closing for being ancient.
Create a new one if still an issue.

[2018-11-22 13:54] #2003 closed

[2018-11-22 14:02] akallabeth commented on #3551
Glyph cache is disabled by default now.

[2018-11-22 14:02] #3551 closed

[2018-11-22 14:04] akallabeth commented on #3539
As this is part of legacy GDI mode and not really required for operation (and the only use case `xrdp` is working acceptably) closing.
* Disabled glyph cache by default
* Marked feature experimental

[2018-11-22 14:04] #3539 closed

[2018-11-22 14:05] akallabeth commented on #2296
Fixed with #5023

[2018-11-22 14:05] #2296 closed

[2018-11-22 14:05] akallabeth commented on #2495
#4979 should address these issues.

[2018-11-22 14:05] #2495 closed

[2018-11-22 14:07] akallabeth commented on #1612
We've disabled `glyph-cache` by default now and marked it experimental.
Since it is part of legacy GDI mode we'll probably will have to live with it not being available, but it is not required for operation anyway.

[2018-11-22 14:07] #1612 closed

[2018-11-22 14:12] akallabeth commented on #5048
@uhtechteam the referenced pull #5022 has been merged, so you may want to try with that included.

[2018-11-22 14:14] akallabeth commented on #3315
Smartcard support has been basically rewritten,
closing as no longer applicable.

[2018-11-22 14:14] #3315 closed

[2018-11-22 14:15] akallabeth commented on #960
Not an issue.

[2018-11-22 14:15] #960 closed

[2018-11-22 14:17] akallabeth commented on #1744
Gateway support has been hugely improved with `2.0.0-rc4` and #5022
Closing as no longer applicable.
Create a new issue if still a problem.

[2018-11-22 14:17] #1744 closed

[2018-11-22 14:17] akallabeth commented on #1194
Gateway support has been hugely improved with `2.0.0-rc4` and #5022
Closing as no longer applicable.
Create a new issue if still a problem.

[2018-11-22 14:17] #1194 closed

[2018-11-22 14:20] #2410 closed

[2018-11-22 14:25] #142 closed, assigned to nobody

[2018-11-22 14:28] #1218 closed, assigned to nobody

[2018-11-22 14:30] #1131 closed

[2018-11-22 14:30] #1175 closed

[2018-11-22 14:30] #1184 closed

[2018-11-22 14:30] #1198 closed

[2018-11-22 14:30] #1228 closed

[2018-11-22 14:30] #1235 closed

[2018-11-22 14:30] #1309 closed

[2018-11-22 14:30] #1320 closed

[2018-11-22 14:31] #1381 closed

[2018-11-22 14:31] #1420 closed

[2018-11-22 14:31] #1590 closed

[2018-11-22 14:31] #1591 closed

[2018-11-22 14:31] #1594 closed

[2018-11-22 14:31] #1627 closed

[2018-11-22 14:31] #1637 closed

[2018-11-22 14:31] #1647 closed

[2018-11-22 14:31] #1717 closed

[2018-11-22 14:31] #1755 closed

[2018-11-22 14:31] #1878 closed

[2018-11-22 14:31] #2165 closed

[2018-11-22 14:31] #2363 closed

[2018-11-22 14:31] #2795 closed

[2018-11-22 14:31] #4343 closed

[2018-11-22 14:31] #4640 closed

[2018-11-22 14:31] #4819 closed

[2018-11-22 14:31] #442 closed

[2018-11-22 14:31] #469 closed

[2018-11-22 14:31] #518 closed

[2018-11-22 14:31] #549 closed

[2018-11-22 14:31] #563 closed

[2018-11-22 14:31] #634 closed

[2018-11-22 14:31] #681 closed

[2018-11-22 14:31] #689 closed

[2018-11-22 14:31] #709 closed

[2018-11-22 14:31] #727 closed

[2018-11-22 14:31] #728 closed

[2018-11-22 14:31] #747 closed

[2018-11-22 14:31] #795 closed

[2018-11-22 14:31] #797 closed

[2018-11-22 14:31] #839 closed

[2018-11-22 14:31] #852 closed

[2018-11-22 14:31] #881 closed

[2018-11-22 14:31] #888 closed

[2018-11-22 14:31] #967 closed

[2018-11-22 14:31] #979 closed

[2018-11-22 14:31] #1002 closed

[2018-11-22 14:31] #1077 closed

[2018-11-22 14:31] #1078 closed

[2018-11-22 14:31] #1080 closed

[2018-11-22 14:31] #1103 closed

[2018-11-22 14:31] #268 closed

[2018-11-22 14:31] #433 closed

[2018-11-22 14:33] #4714 closed

[2018-11-22 14:41] akallabeth commented on #4720
Since we're currently not building for play store the firebase errors are not an issue.

[2018-11-22 14:41] #4720 closed

[2018-11-22 14:41] #3303 closed

[2018-11-22 16:20] stilyan commented on #5047
Same with nightly as of 22 Nov.
Launching like with this script
`#!/bin/sh
/opt/freerdp-nightly/bin/xfreerdp \
-window-drag \
-menu-anims \
-themes \
+fonts \
/bpp:32 \
/f \
-decorations \
-compression \
/audio-mode:0 \
/mic:format:1 \
/sound:latency:50 \
/multimon \
-floatbar \
/v:$1 \
/u:$2 \
/p:$3
`

Will try smart-sizing later and let you know.

[2018-11-22 16:36] hendwolt opened #5059 "function static BOOL peer_free(t_peer* peer) in libfreerdp/core/tcp.c does not return a value"
Using the Open Build Service of openSUSE the build does not pass the checks after build:
 E: freerdp no-return-in-nonvoid-function /home/abuild/rpmbuild/BUILD/FreeRDP-master/libfreerdp/core/tcp.c:899

 I try to compile the current master 8d62ced6a.

The function in question is "static BOOL peer_free(t_peer* peer)" in libfreerdp/core/tcp.c, line 891 ff.

[2018-11-22 16:56] kapsh commented on #5049
Sorry, this didn't work. Looks like libressl has `#define OPENSSL_VERSION_NUMBER 0x20000000L` (very annoying of them) and proper fix could look like:
[code]

[2018-11-22 17:00] akallabeth commented on #5049
@kapsh thx for the info, indeed annoying. Will update tomorrow

[2018-11-22 19:21] uhtechteam commented on #5048
@akallabeth It still disconnects and the 2>&1 doesn't work on ThinStation for some odd reason.  It makes a zero length file and then just sits and does nothing.

[2018-11-23 01:01] akallabeth opened #5061 "freerdp_image_copy_from_pointer_data does not initialize buffer"
alpha data is not correctly initialized to transparent

[2018-11-23 06:55] stilyan commented on #5047
Works with /smart-sizing on single monitor setups
Using smart-sizing with dual monitor setups however minimizes the RDP screen to fit a single display instead of both displays when smart-sizing is not used.

[2018-11-23 08:20] akallabeth opened #5063 "Add fuzzing tests"
Use os-fuzz https://github.com/google/oss-fuzz or similar and write tests to fuzz every exported API function.

[2018-11-23 08:48] #5052 closed

[2018-11-23 09:36] gnshkl1 commented on #5044
@akallabeth its working with ubuntu 16.04 may be some configuration issue with ubuntu 12.04 xorg.
closing same for now

[2018-11-23 09:36] #5044 closed

[2018-11-23 09:46] akallabeth commented on #5048
@uhtechteam looks like there was a flaw in the last rdg pull that will be fixed with #5064
Hope to get this merged soon.

[2018-11-23 10:01] akallabeth commented on #5047
@stilyan Ok, the multimonitor smart sizing issue is another bug. Should restore to multiple screens if that was initially the case.
As for the single monitor case, looks like another interesting variation of the how to get a fullscreen window accross a variety of window managers opera :/
From what I can telly you is that in your case the WM thinks the application wants to be fullscreen (as the win

[2018-11-23 10:19] stilyan commented on #5047
Thanks @akallabeth , I presumed the same thing is happening.

Should I report or there's an existing issue ?

[2018-11-23 10:33] akallabeth commented on #5047
@stilyan Best open a new issue for that.
Tried it here locally and it restores to multimonitor fullscreen again when pressing `ctrl+alt+enter` even after resizing and moving the window around.
Might have something to do with your environment, so best add all these details there.

[2018-11-23 10:39] akallabeth commented on #2235
Mostly rewritten gateway code, therefore closing.
Reopen / create a new issue if this is still occurring.

[2018-11-23 10:39] #2235 closed

[2018-11-23 10:45] akallabeth commented on #4768
@KenHolloway You don't by chance have a link to a proper documentation of that? The API docs of OpenSSL are light on the workings of this one.

[2018-11-23 10:58] #2159 closed

[2018-11-23 11:00] akallabeth commented on #3441
Still an issue?

[2018-11-23 11:01] akallabeth commented on #3519
Licensing was refactored with #4979
Closing.
Reopen if still an issue.

[2018-11-23 11:01] #3519 closed

[2018-11-23 11:03] akallabeth commented on #1505
There have been a lot of gateway related fixes (protocol parsing, sanity checks, ...) up to `20.0.-rc4` and following.
Closing this, create a new issue if you still encounter something like this.

[2018-11-23 11:03] #1505 closed

[2018-11-23 11:05] akallabeth commented on #1623
Ok, assuming resolved?
Closing.

[2018-11-23 11:05] #1623 closed

[2018-11-23 11:12] akallabeth commented on #3907
This is an issue with mapping legacy RDP operations to X11 operations.
Just remove `/gdi:hw` and the issue is fixed.

[2018-11-23 11:12] #3907 closed

[2018-11-23 12:36] #4928 closed

[2018-11-23 15:52] uhtechteam commented on #5048
Yeah, I pulled 2.0.0-dev5 (8ae6b463e) and now I get “Error in GnuTSL initialization: Failed to acquire random data” and it won’t connect at all (Error: protocol security negotiation or connection failure). The version from 2 days ago was better.  I’ll wait for the next merge.

[2018-11-23 16:37] uhtechteam commented on #5048
Yeah LOL, sorry I was retyping from my other screen.  Here's the whole error:

Error in GnuTLS initialization: Failed to acquire random data.
[15:50:10:146] [10404:10405] [INFO][com.freerdp.client.common.cmdline] - loading channelEx cliprdr
[15:50:10:230] [10404:10405] [ERROR][com.freerdp.core.nego] - Protocol Security Negotiation Failure
[15:50:10:230] [10404:10405] [ERROR][com.freerdp.core] - fr

[2018-11-23 16:46] akallabeth commented on #5048
@uhtechteam still there are referenced a few things (e.g https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=759590;msg=30 which is a bit older but unresolved)
The TLS layer did not change in quite a while (except some changes for libressl and openssl 1.1)

[2018-11-23 16:56] uhtechteam commented on #5048
Do you think that's related to the whole gateway disconnect issue?

[2018-11-23 17:13] akallabeth commented on #5048
@uhtechteam might be. tested RDG and HTTP gateway functionality today after #5064 was merged.

[2018-11-23 17:43] kapsh commented on #5049
Thank you, it works now.

[2018-11-23 17:51] uhtechteam commented on #5048
Aargh @akallabeth same issue and "2>&1 |tee log.txt" on my command line just makes a zero length file and xfreerdp doesn't run.  Back to the drawing board.

[2018-11-23 17:58] akallabeth commented on #5048
@uhtechteam I'd suggest you try to find out if it works on a normal linux installation or not. if not, we can at least get some useful logging, otherwise we know it is your setup.

[2018-11-24 17:50] KenHolloway commented on #4768
Unfortunately, no. I too felt the documentation was a bit sparse. I found that code in a posting about a similar problem. I also found another posting that said:

store = X509_STORE_new();
verify_params = X509_Store_get0_param(store);
purpose = X509_PURPOSE_get_by_sname("sslclient");
X509_VERIFY_PARAM_set_purpose(verify_params, purpose)
...
PKCS7_verify(..., store, ...);

I don't know which way is

[2018-11-26 07:46] akallabeth commented on #3361
Closing for being inactive (and lots of referenced code changed)
Reopen or create a new issue if required.

[2018-11-26 07:46] #3361 closed

[2018-11-26 10:30] akallabeth commented on #4875
@sebastianuw All changes have been merged to master, is this still an issue for you?

[2018-11-26 11:08] akallabeth commented on #5042
Ok, looks like this is actually a duplicate of #3398

[2018-11-26 11:08] #5042 closed

[2018-11-26 12:48] Olen opened #5069 "[gateway] Authentication issues with Windows Server 2012 R2"
Opening a new issue, ref #5022

**Describe the bug**
When trying to connect to a farm of windows-servers, I get an ERRCONNECT_CONNECT_TRANSPORT_FAILED

Unfortunately, I am in no control over the servers, but they are running Windows Server 2012 R2.

I can connect using freerdp-2.0.0-41.20180405gita9ecd6a.fc28.x86_64.rpm
But no available build after that is able to connect (due to different issues

[2018-11-26 13:12] akallabeth commented on #5069
Just checked, might be an issue with `use redirection server name` which is ignored. Previously the redirection was always using the `IP` address provided, but now it tries to use the `FQDN` if it is available.
Could you check, if it works with `/redirect-prefer:ip` or something similar?

[2018-11-26 13:17] akallabeth commented on #5069
Another option could be that the username/credentials for the gateway are not properly set, could you try with `/bu:<user> /gd:<domain> /gp:<pwd>` explicitly set?

[2018-11-26 13:39] Olen commented on #5069
I assume you meant /gu: (not /bu:)

With only `/redirect-prefer:ip` the 1:30 wait is gone (but it it still not able to connect).
With /gu: /gd: and /gp: it fails much earlier in the connection:

[code]

Removing the domain `/gd:` (but still keeping username and password) brings me back to the same error as before:

[14:37:33:815] [31755:31756] [ERROR][com.freerdp.core.nego] - Protocol Security Neg

[2018-11-26 13:46] akallabeth commented on #5069
@Olen Very stupid question, you're using some kerberos setup locally?
If so, could you recompile the nightyly with `-DWITH_GSSAPI=OFF` and retest? (kerberos support is very basic at the moment)

[2018-11-26 13:59] Olen commented on #5069
Unfortunately no.  No special auth locally.

[2018-11-26 15:03] KenHolloway commented on #4768
This change did not fix the issue for me. I am still getting:

[code]

I added a call to X509_STORE_CTX_get_error - it is returning error 28:

[code]

[2018-11-26 15:32] akallabeth commented on #4768
@KenHolloway if you change to purpose server does that work?

[2018-11-26 17:02] sebastianuw commented on #4875
I just tested it, it works! No redirect-prefer flag needed. Thanks!

[2018-11-26 18:00] KenHolloway commented on #4768
I tried X509_PURPOSE_SSL_SERVER, and X509_PURPOSE_SSL_CLIENT - it did not make any difference.

Do we need to "X509_STORE_CTX_set0_param(csc,verify_param)"? (It seems like, after getting that param, we might need to set it back.) I tried adding that, but then got a different error (22):

[code]

[2018-11-26 20:08] ddombrowsky opened #5071 "Do not override window manager bindings (-K)"
**Describe the bug**

In https://github.com/FreeRDP/FreeRDP/issues/598 a user pointed out that the "-K" option was available but not documented.
In this commit:
https://github.com/FreeRDP/FreeRDP/commit/18f8d1a6b77d6756cad117641d58b03b67ff21a0
It was documented.

However, on `master`, the feature is no longer available and I can't find where or why it was removed.

**To Reproduce**
Steps to reprod

[2018-11-26 21:02] mcilloni opened #5072 "Cannot connect to xrdp"
I can't connect to an xrdp running on a Arch Linux machine (even localhost) using Remmina/xfreerdp 2.0.0-rc4 (shipped by Arch Linux, but compiling it myself didn't change anything - tried both `xfreerdp` and `wlfreerdp`). The connection simply disconnects a few instants after being established, with sometimes a window popping up for an instant.

I'm using xrdp 0.9.8, with xorgxrdp 0.2.8, which wor

[2018-11-26 21:58] akallabeth commented on #5072
Add +glyph-cache, xrdp uses that feature and does not care if it was activated or not.

[2018-11-26 21:58] #5072 closed

[2018-11-26 22:01] akallabeth commented on #4875
Good to hear, lets move on to fix the nexo one :)

[2018-11-26 22:01] #4875 closed

[2018-11-27 07:51] Olen commented on #4663
@gsacre Did you test the latest nightly?
Are you experiencing the same issue as i describe in #5069 ?

[2018-11-28 08:08] akallabeth commented on #5071
Are you looking for `-grab-keyboard`?

[2018-11-28 08:39] StewPedassle commented on #4966
Thanks Amos, but I'm way too green to be effective at following your comments.  I tried over the holiday, but even that didn't give me enough time.

I have no idea where to start with editing and compiling the source code.

I've also come to find that I have no clue how to properly install the release candidates.  Here's what I've managed to do so far:
-- I've downloaded and unpacked the tarballs

[2018-11-28 08:46] akallabeth commented on #3401
There were some autreconnect related issues that are fixed with `2.0.0-rc4` which could result in such a behaviour.

[2018-11-28 08:46] #3401 closed

[2018-11-28 08:50] akallabeth commented on #2424
Closing this as #4703 is tracking the remaining missing part and the client to server copy part has been merged.

[2018-11-28 08:50] #2424 closed

[2018-11-28 08:54] akallabeth commented on #3032
Duplicates #498

[2018-11-28 08:54] #3032 closed

[2018-11-28 08:55] akallabeth commented on #3587
Closing this for being stale, we're tracking the issue as #498

[2018-11-28 08:55] #3587 closed

[2018-11-28 08:57] akallabeth commented on #1522
Closing as a configuration issue.

[2018-11-28 08:57] #1522 closed

[2018-11-28 09:20] akallabeth commented on #4966
@StewPedassle Just use our nightlies https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds or follow the instructions to build a nightly package.

[2018-11-28 09:58] akallabeth commented on #3712
Closing due to lack of feedback.
Repoen / create a new issue if still reproducible.

[2018-11-28 09:58] #3712 closed

[2018-11-28 11:11] akallabeth opened #5076 "Implement missing features for wayland client"
The wayland client is currently a very poor proof of concept.
Any help to improve the current situation is welcome.

If you're interested the following features and fix existing issues are currently unsolved:
- [x] Mouse cursor support #3415
- [x] Display resizing support via display channel #5159
- [x] Window decorations #5165
  - [ ] Fallback to client side decorations
- [x] Clipboard support #3

[2018-11-28 13:51] akallabeth commented on #5071
Checked the argument, it is `-grab-keyboard`. FreeRDP 1.0 command line syntax is deprecated, use the new one.

[2018-11-28 13:51] #5071 closed

[2018-11-28 14:16] akallabeth commented on #3893
Codecs have been hardened, should artifacts still apply after `2.0.0-rc4` please reopen/create a new issue.

[2018-11-28 14:16] #3893 closed

[2018-11-28 15:04] ddombrowsky commented on #5071
@akallabeth That's it.  Thank you.
Now if I can only convince ubuntu to upgrade the distro version of xfreerdp....

[2018-11-28 15:06] akallabeth commented on #5071
@ddombrowsky they have a freerdp2 package, if your distro is not too old

[2018-11-28 16:23] argonym commented on #1612
@akallabeth : What about the `bitmap-cache`? Is it also part of the legacy GDI mode? Would disabling it be a separate issue?

[2018-11-28 21:54] gsacre commented on #4663
@Olen, I have tried with RC4 compiled on my machine: no luck.
I cloned the repository, use commit e7a44bc437258dd3734ea7a7a710d709d4c6e11b: **it worked!**

Well done guys, this is really fantastic! It's working, it's stable (with RC2, I was getting random disconnects, here, a whole hour without issue before I logged off).

Thanks!

[2018-11-29 02:58] aijyo commented on #3411
I also wondring now....
So, anyone can answer this question?

Because of the rdpserver cannot run correctly on the windows(If anyone run the rdp server & client success.. tell me). I have create the rdpsever locally...by the  windows rdpsession. But I need connect the server on the linux platform(i.e phone , mac osx)...

[2018-11-29 08:12] hualet opened #5078 "RAIL windows hidden once can never be shown again"
**Describe the bug**

Rail windows hidden once can never be shown again.

**To Reproduce**
Steps to reproduce the behavior:
1. make the test application attached a remote app and give it a fixed command line argument 5000 or time interval in milliseconds.
2. run the remote app with xfreerdp.
3. you can see the main window can show once, hide and never be shown again.

**Expected behavior**
The rai

[2018-11-29 08:16] anandsr4566 commented on #3781
What is required to be done to support Mass Storage usb redirection?
We have a requirement, and we would like to help add this support.

[2018-11-29 08:19] akallabeth commented on #3781
@anandsr4566 patching the server side, mass storage is blacklisted by windows.

[2018-11-29 08:52] akallabeth commented on #4663
@gsacre Good to know, thx for the feedback.

[2018-11-29 08:54] akallabeth commented on #5069
@Olen Looks like your issue is something quite different, could you give any additional details you can get a hold of?
Don't see an issue with the gateway protocol, we're now down to a case of authentication failure, maybe it is a specific setting that triggers this behaviour (but sadly there are many of these and we have to narrow it down first)

[2018-11-29 09:01] akallabeth commented on #1612
@argonym `glyph-cache` is actually buggy (client wise), but if I read this thread correctly `bitmap-cache` is only slower in some implementations?
Should use `rfx` or `gfx` anyway if you're interested in performance ;)

[2018-11-29 09:05] akallabeth commented on #5078
Added it to the future target. Rail support is currently tailored for specific use cases only lacking a lot of features of the protocol.
Would appreciate any pull requests fixing such issues, but I'm not too familiar with the specifics of that so I can't actually tell you if this window show/hide thing should work as you expect it, sorry.
(only note: orders are not delayed/reordered/whatever, they

[2018-11-29 09:13] anandsr4566 commented on #3781
Thanks for the reply. I have to look for a way, if there is to work around it.

In Windows, the USB disk is shown as a folder.
Is this possible to do?

[2018-11-29 09:18] aijyo opened #5079 "How to connect windows IRDPSRAPISharingSession by wfreerdp-client.exe"
Just as the title:
I'm now created a IRDPSRAPISharingSession listen on port(i.e 3389) with a invatation created as follow image:

![image](https://user-images.githubusercontent.com/7956449/49211471-9a3f1880-f3fa-11e8-85b1-71e620164f25.png)

Can anyone tell how to connect the invatation with twfreerdp-client.exe

![image](https://user-images.githubusercontent.com/7956449/49211524-ba6ed780-f3fa-11e8

[2018-11-29 09:30] akallabeth commented on #5079
@aijyo I'm not too familiar with that, but is it the same as the `.msrcIncident` files created for remote support? Then just use these as first argument to `wfreerdp.exe`

[2018-11-29 09:34] aijyo commented on #5079
It seems effective, but how...can  provide with a msrcIncident file and full command?...

[2018-11-29 09:50] akallabeth commented on #5079
@aijyo Well, how is the workflow for this API? Do you connect with user/password, can you create some kind of invitation file?
Would suggest you write to the mailing list or join us on IRC to discuss this ;)

[2018-11-29 10:00] aijyo commented on #5079
I'll learn how join IRC later...(not family with it)...
IRDPSRAPISharingSession work flow as follow(only connect string is needed when connect to server):

Init:
![image](https://user-images.githubusercontent.com/7956449/49213602-9c57a600-f3ff-11e8-931b-5f28e7aa4a15.png)

SetParam:
![image](https://user-images.githubusercontent.com/7956449/49213652-b8f3de00-f3ff-11e8-95bd-2a3961ab9585.png)

open:

[2018-11-29 10:03] aijyo commented on #5079
I use freerdp to connect IRDPSRAPISharingSession is because I find freerdp use it on windows(int win_wds.c::int win_shadow_wds_init(winShadowSubsystem* subsystem)). So I think is possible  use freerdp client connect to my RDPSession...

[2018-11-29 10:32] akallabeth commented on #5079
@aijyo Ah, so how does this string look like? Is it simply some RDP file format or what? (sorry, as already said, not familiar with that one)

[2018-11-29 10:55] Olen commented on #5069
Updated to the latest nightly again

And I see this as the last error:
[code]

This is FreeRDP version 2.0.0-dev5 (e7a44bc43)

So it should include the fix that made it work for @gsacre in #4663

I am also available on irc, if it makes conversation and testing different options easier.

[2018-11-29 11:03] akallabeth commented on #5069
@Olen Ok, `E_PROXY_RAP_ACCESSDENIED` means `Returned when an attempt to resolve or access a
target server is blocked by RDG server policies.`
Might be a good idea to not use the rdp file and just try to connect with a command line to find out which setting is at fault here.

[2018-11-29 11:14] bmiklautz commented on #5071
@ddombrowsky the argument should work with any version > 1.1.0 which is available in Ubuntu >= 16.04.

[2018-11-29 11:15] aijyo commented on #5079
when a create a invatation:
![image](https://user-images.githubusercontent.com/7956449/49218250-ec883580-f40a-11e8-985b-b700995dcffb.png)

connectstring as follow(some info relpaced by "**"):
<E><A KH="rNOdFflS6iHJn8KIM63ZXWGufhA=" KH2="sha256:/8PRsXHTSTSVmGsC/fr1jWfcX9ATvHAdkNy59vKsO0A=" ID="Trial"/><C><T ID="1" SID="0"><L P="9792" N="f**::e**0:2**a:3**8:4**9%3"/><L P="9793" N="f**0::1**b:d**8:5*

[2018-11-29 11:16] akallabeth commented on #5079
@aijyo And where is the `STRING`? You just call an API here, where is the output?

[2018-11-29 11:18] aijyo commented on #5079
github bug..connot show the following string:
![image](https://user-images.githubusercontent.com/7956449/49218483-7afcb700-f40b-11e8-9a8f-c016af420347.png)

![image](https://user-images.githubusercontent.com/7956449/49218459-70422200-f40b-11e8-82a4-5a2dd61221ab.png)

[2018-11-29 11:19] aijyo commented on #5079
full demo code as follow, I using outputdebugstring got the  connectionstring
![image](https://user-images.githubusercontent.com/7956449/49218524-95369500-f40b-11e8-9dd7-a5a0f91d9908.png)

[2018-11-29 11:20] akallabeth commented on #5079
@aijyo Ok, this is the assistance file format. Just save that invitation to a file and use it as first argument `wfreerdp.exe filename.msrcIncident` and it should work.

[2018-11-29 11:20] #5079 closed

[2018-11-29 12:07] akallabeth commented on #4832
Related #4311

[2018-11-29 12:08] akallabeth commented on #4525
Further tracking with #4311

[2018-11-29 12:08] #4525 closed

[2018-11-29 12:08] akallabeth commented on #5069
As discussed on IRC looks like issues with kerberos/gss.
Closing this one, tracking with #4311

[2018-11-29 12:08] #5069 closed

[2018-11-29 12:14] Olen commented on #5069
For others, running into the same (or similar) problems.

I had to rebuild the RPM and disable GSSAPI:
Change packaging/rpm/freerdp-nightly.spec and set
-DWITH_GSSAPI=OFF
Under cmake-flags

And then create a new rpm (rpmbuild -bb)

[2018-11-29 12:21] akallabeth commented on #5069
@ondrejholy you know who to contact for the fedora rpm? might be a good idea to deactivate GSSAPI/kerberos support for the time being as it is breaking more that fixing.