[2016-03-22 06:47] amater2048 opened #3253 "I still get error “Unfortunately, aFreeRDP has stopped.”"
Hi,
Thanks a lot for your nice application.
I need to make some change to your app to for many users (add some bookmarks and configurations by default).

1.	I download and install aFreeRDP to use it for Android Devices from Google Play:
https://play.google.com/store/apps/details?id=com.freerdp.afreerdp
I test our service, everything was ok.

2.	I download source from GitHub:
https://github.com/Fre

[2016-03-22 07:38] akallabeth commented on #3253
@amater2048 there is a readme for android in the docs folder ;) you have to run the build script for the native libraries in the scripts folder first.

[2016-03-23 07:59] akallabeth commented on #3253
@amater2048 Does this solve your issue?

[2016-03-23 19:24] macredash commented on #3239
OK, thank you for the response.  So, am I correct in my understanding that the username and password prompt is to establish the initial NLA "protected" connection?  If NLA were disabled on the server side would it skip the u/p prompts?

We use a variety of Gemalto and Safenet cards with Omnikey card readers.  And no, the Windows environment we are connecting to does not use the Windows base CSP.

[2016-03-24 11:43] ilammy commented on #3251
Maybe FreeRDP should provide an option to disable AVC444 while keeping AVC420 enabled.

There is another reason for this except for excess CPU usage. Windows 10 systems without [the update which adds AVC444 support](https://support.microsoft.com/en-us/kb/3118754) do not send AVC420 data when FreeRDP advertises AVC444 support.

[2016-03-24 14:59] akallabeth commented on #3251
@ilammy Just started working on that ;)

[2016-03-24 15:39] akallabeth commented on #3251
@ilammy Ok, #3254 implements what you are looking for ;)
Would be nice if someone could find the time to add accelerated H264 decoding in FreeRDP though. (sadly I don't have that)

[2016-03-25 00:17] scottsisco opened #3255 "xfreerdp not working for non-root users."
Hi,

I am running Ubuntu 14.04 Mate. I have followed the installation guide for Debian located at https://github.com/FreeRDP/FreeRDP/wiki/Compilation.

The issue I am having is a strange one. I can use xfreerdp without any issues as root our by using sudo to run the xfreerdp command. However, if I try to run xfreerdp as a normal user I get this error "xfreerdp: error while loading shared libraries

[2016-03-25 07:08] hardening commented on #3255
Well this is an issue tracker, not a help forum. But I'd bet that a directory in /usr/local/lib is not executable by other persons than root, or that the library itself cannot be read. a ldd /usr/local/bin/xfreerdp.
Go and ask on IRC or use the mailing list for that kind of help.

[2016-03-25 07:08] #3255 closed

[2016-03-25 23:00] sofar opened #3256 "Compile without any OpenSSL RC4 support"
In ClearLinux, we compile OpenSSL without rc4 support (it's not just disabled, we remove it) due to the inherent insecureness of that cipher.

I'd like to be able to compile FreeRDP without manually patching RC4 support out manually myself, bu just by doing a quick -DENABLE_RC4=off or similar.

Right now there are not many distributions removing RC4 support, but this will likely become a growing p

[2016-03-26 00:55] mike-jumper commented on #2839
@bmiklautz, does this mean that the API *following* 2.0 will be stable, or are you referring strictly to in-progress changes (and anticipate breaking backward compatibility post-release)?

Let's say, hypothetically, that I work on a downstream project which has historically been unable to support any unreleased / untagged version of FreeRDP because of the constantly changing API.

If I were to bri

[2016-03-26 16:11] lemonmojo commented on #2424
Is there any news about file transfers via clipboard redirection on OS X (or even Linux)?
It looks like the wfreerdp client supports it but the code doesn't look portable.

[2016-03-27 01:05] ilammy commented on #3251
@akallabeth, I ain't a SIMD wizard, but I spent a couple hours staring into the MS-RDPEGFX spec and the list of SSE2 instructions... Well, now 2xYUV420 → YUV444 and YUV444→RGBA888 conversions seem to be sort of straightforward (yet convoluted) to vectorize with SSE. I may give it a shot.

[2016-03-27 12:24] meanbunny commented on #2424
This would be awesome, sometimes when dealing with large file structures
doing drive passthrough takes forever to just copy one file

Thanks,
Steven Combs
Meanbunny LLC, Owner
423-799-0365

On Sat, Mar 26, 2016 at 12:12 PM, Felix Deimel <notifications@github.com>
wrote:

[2016-03-27 13:44] amater2048 commented on #3253
Thanks for your help, but I still have problems.

My try to run build-script in a windows system was unsuccessful so I provide another system.
I install Linux Ubuntu 15.10 and do all configuration as it must be!
Then I run ./scripts/android-build-freerdp.sh
everything builds successfully!

After that, I copy whole folder and then import it to «Android Studio» in a windows system. The error has gon

[2016-03-27 15:11] amater2048 commented on #3253
It looks happen because of screen Resolution conflict, by change the screen resolution; the error changes but still application closes suddenly every time!!!

[2016-03-28 15:30] akallabeth commented on #3253
@amater2048 android builds are currently linux only tested. feel free to provide a windows build script. as for your other issues, there are known issues with async transport. everything else build / usage related please ask on the mailing list and/or irc channel. thanks!

[2016-03-28 15:30] #3253 closed

[2016-03-28 16:57] akallabeth commented on #3251
@ilammy Would be a great addition!

[2016-03-29 07:59] ondrejholy commented on #3239
@macredash AFAIK It is as you said, username/password is needed by NLA in order to establish the secure connection with the server. Authentication just only using smartcards seems to work correctly without NLA, e.g. with -sec-nla option.

However RDP protocol seems to support smartcard authentication also with NLA, it just hasn't been implemented yet in FreeRDP. TSCredentials struct should contain

[2016-03-29 15:34] shaunsphere opened #3258 "crashes when screen rotates"
New build from Github, everything runs OK, Android Studio creates APK and installed to device, RDP session run ok until the device, table/phone rotates, it shows " Unfortunately, aFreeRDP has stopped "
and back to previous screen. Anyone help?

[2016-03-29 16:21] bmiklautz commented on #3258
@shaunsphere can you give more info. For example:
* git version
* Android version
* Android backtrace or log entries..

[2016-03-29 16:53] rkeene commented on #1358
This doesn't really help since if yo use "from-stdin" you are not able to accept the certificate of the remote host.

[code]

[2016-03-29 17:02] rkeene commented on #2904
This doesn't really help since if you use "from-stdin" you are not able to accept the certificate of the remote host.

[code]

[2016-03-29 17:11] Link-Satonaka commented on #2904
Granted, you need to use a terminal for that "first time setup" for every new host. Shouldn't be too difficult to detect that error, relaunch in a terminal.

[2016-03-29 17:12] Link-Satonaka commented on #2904
(that in my example shell script)

[2016-03-29 17:14] rkeene commented on #2904
A much simpler solution is to accept reading the password from the environment in a manner similar to OpenSSL:

[code]

[2016-03-29 18:09] shaunsphere commented on #3258
Compile environment: VMworkstation / Ubuntu15x64 / android-ndk-r10e/ android-sdk_r23.0.2-linux / git version 2.5.0. I ran the script as instruction and got Android/Studio Folder included lib files and then import to Android  Studio 2.0 Preview 9 --> build and install to tablets and phones OK. However, Async transport need disable to launch RDPsession successful.
Things are OK until devices rotate.

[2016-03-29 18:18] bmiklautz commented on #3258
@shaunsphere thank you. Regarding "git version" I was probably a little unclear. I meant the git commit you are using.

[2016-03-29 18:25] shaunsphere commented on #3258
@bmiklautz: here it is , thanks , plz let me know if this is the one

<shaun@ubuntu:~/FreeRDP_OLD$ git log
commit c5fd49c3a368e4f853df8434f8f599dc723b3c55
Merge: 05bcec4 6603039
Author: Bernhard Miklautz <bmiklautz@users.noreply.github.com>
Date:   Mon Mar 14 15:28:56 2016 +0100

    Merge pull request #3223 from comicfans/wayland_fix

    only compile wayland client when WAYLAND_FOUND

commit 05b

[2016-03-29 18:31] shaunsphere commented on #3258
commit c5fd49c3a368e4f853df8434f8f599dc723b3c55

[2016-03-29 18:48] bmiklautz commented on #3258
I removed the redundant information.

[2016-03-29 18:52] bmiklautz commented on #3258
@shaunsphere please re-test with the latest master (commit 75ae3f58df5a14b4a67439aca96061a9c2ea5040) . Your problem was probably already fixed.

[2016-03-29 19:04] shaunsphere commented on #3258
@bmiklautz: I tried, Same thing happened, even different devices.
commit 75ae3f58df5a14b4a67439aca96061a9c2ea5040
Merge: 14daecf 2cb3717

[2016-03-29 19:09] shaunsphere commented on #3258
@bmiklautz: Async transport need disable/unchecked to launch RDPsession otherwise, it crashes. Not sure if they're related.

[2016-03-30 06:35] T3N4K4 commented on #3085
Sorry for the late feedback,
it is working now.

[2016-03-30 06:35] #3085 closed

[2016-03-30 07:27] akallabeth commented on #3258
@shaunsphere The async transport part is known #3238 and not related to your issues. Looks like there are some code paths missing in the java components to handle screen rotation properly.

[2016-03-30 13:51] bmiklautz commented on #3256
@sofar it would be nice to completely disable RC4 however it's required by some parts of the protocol and it might not be possible to connect to some servers (when RDP security, or licensing is required) if disabled.

[2016-03-30 13:58] shaunsphere commented on #3258
@akallabeth : is there any clue to fix it? can it be with android code or should be before?

03-30 09:47:27.501 3951-5402/com.freerdp.afreerdp W/com.freerdp.client.android: [pid=3951:tid=b451b100] - Trying to unload unsupported channel rdpdr
03-30 09:47:27.501 3951-5402/com.freerdp.afreerdp A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 5402 (Thread-2927)

[2016-03-30 14:18] sofar commented on #3256
I'm perfectly okay with losing functionality to connect to some servers. As it stands, ClearLinux won't ever be able to run any FreeRDP session.

RC4 should be disabled everywhere, so this project can help by making it easy to disable.

[2016-03-30 17:08] melanholy opened #3261 "clipboard redirect on windows"
Recently I discovered that clipboard redirection in windows is actually working, half of it, at least. It works only one way: from remote desktop to me, not vice versa.
Is this a problem of FreeRDP or am I doing something wrong?

My command line is: wfreerdp.exe /v:[addr] /u:[user] /p:[pass] /cert-ignore +clipboard

[2016-03-30 18:02] akallabeth commented on #3261
@melanholy which git revision did you test and also which os? current master works both ways (x11) for basic text/html/image, have not tested the other clients recently.

[2016-03-30 18:06] akallabeth commented on #3258
this issue is in the java portion. rotation kills the view and the current implementation can not handle that.

[2016-03-30 18:19] melanholy commented on #3261
Latest master doesn't work either. I'm using windows 7.

[2016-03-30 19:05] shaunsphere commented on #3258
Is there any way to develop it? The previous version rotated well

[2016-03-31 09:51] ygqzwl opened #3262 "use xfreerdp core dumped,"
1.centos 6.5
2.download code use    git clone git://github.com/FreeRDP/FreeRDP.git
3.when i use the old code, it is running

./xfreerdp -u admin -p admin --plugin drdynvc --data tsmf -- 192.168.154.134
[17:40:09:699] [15435:15435] [WARN][com.freerdp.client.common.cmdline] - Using deprecated command-line interface!
[17:40:09:700] [15435:15435] [WARN][com.freerdp.client.common.compatibility] - -p **

[2016-03-31 10:02] akallabeth commented on #3258
@shaunsphere Android Studio is your friend ;) If the old version (I assume the one in google play?) is working, then you can do a diff of the java code and maybe find the culprit. Shouldn't have changed too much, most changes have been in the C library.

[2016-03-31 10:17] bmiklautz commented on #3262
@ygqzwl this might be related to the old command line syntax which is deprecated. I suggest using the new syntax. However a segfault shouldn't happen. Could you run provide a back trace?
Run it with
[code]
and once you get the segfault do the following in gdb:
[code]

[2016-03-31 10:27] ygqzwl commented on #3262
@bmiklautz
when i use  ./xfreerdp /u:admin /p:admin /multimedia:sys:alsa /v:192.168.154.134
it works well

[2016-03-31 11:08] giox069 commented on #3114
After many testing, I'm able to reproduce more frequently the problem by increasing the network latency and connecting (to a windows 7, not yet extensively tested to windows 2008R2).
It happens in WAN, LAN or between two machines directly connected with an ethernet cable
[code]
The problem seems to be appeared between these two commits:
7af1ec85f0823cbe50f18b83c665dcef2647e017    (problem!)
974d2e

[2016-03-31 11:35] BanHammor opened #3264 "Input speed regression when video buffer full"
When I try to play a fullscreen video on a remote machine with my ARM-based device as an xfreerdp client, I have to wait an indefinite amount of time (or however much it takes for the video i'm playing to become briefly static) in order for my keypresses and mouseclicks to have any effect.
The issue becomes much worse with bigger screen resolutions, as on a 640x480 screen the keypresses only have

[2016-03-31 14:05] shaunsphere commented on #3258
@akallabeth : the one in Google play does not have new features (no mic redirection). Some other version work for me with Sound and mic but not pass Google OpenSSL check. Can you tell which part in C handle rotation? can it be fixed then compile to work in Android?

[2016-03-31 16:34] akallabeth commented on #3258
@shaunsphere rotation is done entirely in java. the native api renders the desktop into a framebuffer that is then copied to a java bitmap to be drawn.

[2016-03-31 20:23] shaunsphere opened #3265 "How to upgrade openssl for afreeRDP"
Can I change OPENSSL version to pass Google verification?

[2016-03-31 21:17] mikhaXD commented on #3261
i also have problem with clipboard. used latest version from here https://ci.freerdp.com/job/freerdp-nightly-windows/

im using win 8.1 x64, tried x64 and x32 versions. Clipboard redirect  working when i copy text from my pc to rdp.
But after copying from rdp to my pc, - copying in both sides stop working. I cannot copy text from my pc to rdp, but all text is sucessfly copied from RDP to my pc. so

[2016-03-31 23:01] mikhaXD commented on #3261
Seems i found the source of this problem.

if opened teamviewer, other rdp connection, vmware or other software - using the clipboard - we will see the problems with two way clipboard transfering (only one way stay works).
also problem exists if freerdp.exe used to connect inside other rdp, clipboard also stops works.

if no other programs opened - clipboard redirection works in two ways long time

[2016-04-01 05:35] akallabeth commented on #3265
this is a issue tracker, fir such questions please use the mailing list or irc. for a start have a look at the android build scripts.

[2016-04-01 05:35] #3265 closed

[2016-04-01 06:19] #3262 closed

[2016-04-05 02:41] xiaoshzx opened #3266 "Connect to the window10 virtual machine， desktop stuck"
# ./xfreerdp /version

This is FreeRDP version 2.0.0-dev (git n/a)

Connect to the window10 virtual machine, using RFX to play video and found that frameId has been zero ，a period of time after the desktop stuck

[2016-04-05 08:01] akallabeth commented on #3266
@xiaoshzx Could you give some details (command line) and how you build freerdp?

[2016-04-06 01:43] xiaoshzx commented on #3266
build:

 cmake -DCMAKE_BUILD_TYPE=Release -DWITH_X11=ON -DWITH_XCURSOR=ON -DWITH_XEXT=ON -DWITH_XINERAMA=OFF -DWITH_XKBFILE=ON -DWITH_XV=ON -DWITH_XI=OFF -DWITH_XRENDER=ON -DWITH_XFIXES=ON -DWITH_DIRECTFB=OFF -DWITH_OPENSLES=OFF -DWITH_ALSA=ON -DWITH_PULSE=OFF -DWITH_PCSC=ON -DWITH_CUPS=ON -DWITH_FFMPEG=OFF -DWITH_GSTREAMER_1_0=OFF -DWITH_GSTREAMER_0_10=OFF -DWITH_GSM=ON

 cmd:

 ./xfreerdp /f /bp

[2016-04-06 01:47] xiaoshzx commented on #3266
Use the same command line, connecting the win7 virtual machine, frameid is normal

[2016-04-06 06:00] akallabeth commented on #3266
@xiaoshzx could you check, if it works when using /gfx?

[2016-04-06 06:22] HenryJacques opened #3267 "drivestoredirect parameter in rdp file is not correctly parsed"
Using latest master and a rdp file containing the `drivestoredirect`parameter.
As stated in MS' specifications, if no value is specified the client must not redirect any drives.
Using mstc, the following line has the effect to not redirect any drive:

However FreeRDP redirects the root "/" even if no drive is specified.

[2016-04-06 08:37] bmiklautz commented on #3267
@HenryJacques would you add the rdp file your resting with for reference?

[2016-04-06 08:58] HenryJacques commented on #3267
@bmiklautz of course:

redirectprinters:i:1
redirectcomports:i:0
redirectsmartcards:i:0
redirectdrives:i:0
drivestoredirect:s:
session bpp:i:32
prompt for credentials on client:i:1
span monitors:i:1
use multimon:i:1
remoteapplicationmode:i:1
server port:i:3389
allow font smoothing:i:1
promptcredentialonce:i:0
videoplaybackmode:i:1
audiocapturemode:i:0
gatewayusagemethod:i:0
gatewayprofileusagemeth

[2016-04-06 11:43] weberhofer opened #3268 "Can no longer build several modules since #3259"
In #3259 there were many cleanups in CMakeLists files.
Examples:
* channels/echo/client
* channels/tsmf/client/alsa
* channels/tsmf/client/gstreamer
* channels/tsmf/client/oss

All fails with messages like
[code]
Adding "freerdp" to the target_link_libraries fixes the issue, however, I don't know if this is intended.

[2016-04-06 14:03] hardening commented on #3268
freerdp ? isn't it winpr ?

[2016-04-06 14:37] bmiklautz commented on #3268
@weberhofer I wonder about echo and alsa (because I have those in my test build) but the the other two are possible. As @hardening mentioned there are missing dependencies to winpr. I'll have a look.

What cmake config are you using?

Thanks for the report.

[2016-04-06 14:43] bmiklautz commented on #3268
@weberhofer I just did a clean build with
```cmake -DWITH_SERVER=ON -DBUILD_TESTING=ON . -DWITH_ALSA=ON -DWITH_OSS=ON ``` and the issues you described didn't show up although echo and tsmf(alsa,oss,gstreamer) where build. Could you do a clean build (git clean -fdx when building from git)?

[2016-04-06 14:43] bmiklautz commented on #3268
Btw what version of cmake are you using?

[2016-04-06 16:04] hendwolt opened #3269 "build warning: WARNING: XML failed validation against built-in DTD"
For a little while I get these warnings:
[   83s] [ 76%] Generating xdg-shell-client-protocol.h
[   83s] Scanning dependencies of target audin-client
[   83s] %3Cstdin%3E:342: element entry: validity error : Element entry content does not follow the DTD, expecting (description)?, got (CDATA)
[   83s] %3Cstdin%3E:346: element entry: validity error : Element entry content does not follow the DTD, ex

[2016-04-06 16:43] akallabeth commented on #3269
could you give some details to your os and cmake configuration? pretty hard to guess without these details what could be wrong ;)

[2016-04-06 18:48] Thermaltake opened #3270 "compile error with openh264"
Hello.
An error occurred while compiling.

error log
https://gist.github.com/Thermaltake/b076bccc1535cc48b13536e1f9dcd92b

cmake https://gist.github.com/Thermaltake/a0016250c5aede6fb2cd9b12be1219dd#file-cmake-L39

without openh264 compilation goes without error.

use ubuntu-mate on raspberry pi 2.
and https://github.com/cisco/openh264/commit/eb9f56584fae81eab9be6ab999040ed5e4a7cfcd

What am I doin

[2016-04-06 19:36] hendwolt commented on #3269
I use SUSE's Open Build Service to build freerdp for different openSUSE versions and Arch Linux. I checked all build logs and these warnings occur only on openSUSE Tumbleweed. No other versions are affected.
For the configuration I attached my spec file.

[freerdp.spec.zip](https://github.com/FreeRDP/FreeRDP/files/207201/freerdp.spec.zip)

[2016-04-06 19:38] bmiklautz commented on #3270
@Thermaltake try using v1.5.1 of openh264.

[2016-04-07 02:30] hurongec opened #3271 "how to user /play-rfx:file-path"
I executed the command "-w test.pcap DST 172.168.0.236 and TCP port tcpdump 3389" and "xfreerdp /v:172.168.0.236 " to get the test.pcap file. But I can't use the command  "xfreerdp /rfx-mode:video /v:172.168.0.236" to play. How am I going to play the video? Or the way I get the pcap file is wrong?

[2016-04-07 04:21] weberhofer commented on #3268
Cmake is version cmake-3.3.2.
I'm building on the openSUSE build server using the following configuration. The builds are always clean as the system is completely new installed before every build. You can have a look at the complete build config at https://build.opensuse.org/package/show/home:weberho:UNSTABLE:RemoteDesktop/freerdp

[code]

[2016-04-07 06:46] weberhofer commented on #749
I have just tested with a recent version and don't get any artifacts using the following command-line:

[code]

[2016-04-07 08:42] bmiklautz commented on #3268
@weberhofer the culprit might then be -DSTATIC_CHANNELS=OFF

[2016-04-07 08:52] Thermaltake commented on #3270
Thanks for the help.
Good. Compile happened.

I tested a job /ghx-h264:AVC420 and AVC444.% CPU load close to 100% when playing youtube video in a small window. Videos with the brakes. Moreover, the load goes to the processor core, but they are not fully loaded.
http://s009.radikal.ru/i309/1604/7e/d26133af5c3d.jpg

If use /ghx:RFX, the CPU 300-350% load when playing the same video, the processor co

[2016-04-07 08:53] bmiklautz commented on #3268
@weberhofer I just tried building a0d9969a3030a8056eacbe8b2e7362274d0a9c4b (current master) exactly with the same parameters you are using but I couldn't reproduce the issue. Are you on the latest master?

[2016-04-07 09:01] bmiklautz commented on #3268
Tested with cmake 3.5.1 and as well as 3.0.2 in an out of tree.

[2016-04-07 09:09] bmiklautz commented on #3270
@Thermaltake as you initial issue seems to be resolved I'll close this issue. Regarding your question AVC444 was added recently and does currently don't have any optimized version. At least for h264 performance there are multiple open issues. If you have other questions visit us in the irc channel or contact the mailing list.

[2016-04-07 09:09] #3270 closed

[2016-04-07 09:12] bmiklautz commented on #3268
@weberhofer when looking at your opensuse build page for freerdp https://build.opensuse.org/package/show/home:weberho:UNSTABLE:RemoteDesktop/freerdp?rev=91 your description says "fork of rdesktop" however for the version you are using (>= 1.0.0) it was a complete re-write so the description isn't really fitting anymore.

[2016-04-07 09:41] xyz8808 opened #3272 "I can't build freerdp-android under mac osx"
I got the following error:
[  1%] Building C object winpr/libwinpr/CMakeFiles/winpr.dir/synch/wait.c.o
/android/FreeRDP-master/winpr/libwinpr/synch/wait.c:108:12: error: static declaration of 'pthread_mutex_timedlock' follows non-static declaration
 static int pthread_mutex_timedlock(pthread_mutex_t *mutex, const struct timespec *timeout)
            ^
In file included from /android/FreeRDP-master

[2016-04-07 10:43] bmiklautz commented on #3272
@xyz8808 without more information we won't be able to help. Have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2016-04-07 10:58] xyz8808 commented on #3272
The problem is solved.  Replace android ndk r10b to r9d ,and then it passed.

[2016-04-07 11:05] #3272 closed

[2016-04-07 11:40] weberhofer commented on #3268
@bmiklautz thanks for notifying me. I have updated this information which came from branching the project...

[2016-04-07 11:46] bmiklautz commented on #3268
@weberhofer  I think I found the problem. It seems that the default build flags openSUSE use -Wl,--no-undefined which causes the build to fail. I'll create a pull request to fix this when there is some time.

[2016-04-07 11:54] weberhofer commented on #3268
@bmiklautz thank you. FYI I have removed -DSTATIC_CHANNELS=OFF and collected the log entries again. I didn't see the first lines of failures earlier.

[code]

[2016-04-07 12:29] realjiangms commented on #3258
This is because we changed API level from Android2.3 to higher, and the manifest for orientation should be made as following:

android:configChanges="keyboardHidden|orientation|screenSize">

I'll submit an PR to fix

[2016-04-07 12:30] realjiangms commented on #3258
Submitted PR#3273

[2016-04-07 12:31] bmiklautz commented on #3258
@realjiangms thank you!
@shaunsphere can you verify if the PR also fixes your problem?

[2016-04-07 13:26] shaunsphere commented on #3258
@realjiangms, @bmiklautz :+1:  Yes, it works. Thanks

[2016-04-07 13:26] #3258 closed

[2016-04-07 13:36] bmiklautz commented on #3268
@weberhofer can you verify that #3274 also fixes your problem?

[2016-04-07 13:47] weberhofer commented on #3268
The error lines are the same, but the build-process stops now (before it continued building before stopping) showing the lines with:
[code]

[2016-04-07 13:53] bmiklautz commented on #3268
@weberhofer that's interesting. When testing with the source of my pull request using your spec file on a openSUSE Leap 42.1 (x86_64) it builds find. No error.

[2016-04-07 17:52] awakecoding commented on #3114
settings->SupportMonitorLayoutPdu = FALSE; fixes the problem. It is currently set to TRUE by default, which advertises support for the monitor layout pdu to the server. I don't have confirmation, but by advertising support for the monitor layout pdu, the sequence of messages in the connection sequence is likely altered, and the current code is not robust enough (too strict on a specific message se

[2016-04-07 21:18] bmiklautz commented on #3268
@weberhofer when using the tar.xz referenced here https://build.opensuse.org/package/show/home:weberho:UNSTABLE:RemoteDesktop/freerdp the problem still exists since it doesn't contain the fixes from PR #3274 (not yet merged to master).

[2016-04-07 21:19] bmiklautz commented on #3269
@hendwolt can you provide the link to obs project page?

[2016-04-07 21:23] bmiklautz commented on #3269
@hendwolt the reported error is related to wayland. I'd assume when the protocol is "compiled".
@hardening any ideas?

[2016-04-07 21:34] weberhofer commented on #3268
@bmiklautz thank you for this hint. I have now added the patch to the package and it builds nicely again. Great work!
The new package should soon be available on OBS.
Btw. if you have any suggestions to the packaging (splitting into the sub-packages, build-options, naming of the sub-packages) your input is highly appreciated. You can also contact me via mail.

[2016-04-07 21:34] #3268 closed

[2016-04-07 21:40] bmiklautz commented on #3268
@weberhofer thank you for the feedback. The fix should be on master soon as well ;).
Regarding packaging we have plans to update/create a freerdp2 package for Suse/Fedora/$RPM_BASED similar to the outline we use in the debian Package https://github.com/bmiklautz/debian-freerdp2 . The only think that might change is to remove rdtk (as it's not really used).

[2016-04-07 22:00] bmiklautz commented on #3264
@BanHammor what git version did you test with? Just to clarify the described behavior occurs when you test with xrdp on Linux? - Did you test against a Windows server as well?

[2016-04-07 22:02] bmiklautz commented on #3235
@CHERTS please add some additional infomation:
* system compiled on
* compiler and compiler version used
* cmake configuration

[2016-04-07 22:11] bmiklautz commented on #3201
If you want to implement it in plain python you might have to re-implement the whole RDP spec in python. However you could also use libfreerdp via ctypes in python. Have a look client/X11 to see how "authonly" is implemented in xfreerdp and just make the required calls from python.
For the future please ask questions like this on in the irc channel or use our mailing list.

[2016-04-07 22:11] #3201 closed

[2016-04-07 22:12] bmiklautz commented on #3236
@CHERTS please add some additional infomation:
* system compiled on
* compiler and compiler version used
* cmake configuration

[2016-04-07 22:14] bmiklautz commented on #3229
@ropetry  any update on this? - Could you add what scanner you are actually using?

[2016-04-07 22:18] bmiklautz commented on #3089
@SaibotCook did you test your setup with the Microsoft client without NLA as well. As @Hobby-Student wrote when no NLA is used no auth is done and the SSO only works when you already have a running session you re-connect to.

[2016-04-07 22:21] bmiklautz commented on #2996
Fixed with PR #3046.

[2016-04-07 22:21] #2996 closed

[2016-04-07 22:26] bmiklautz commented on #2965
Fixed with 6fa36081112c46951096cddfacc0f760e4728b25 for cmake > 2.8.11

[2016-04-07 22:26] #2965 closed

[2016-04-07 22:29] bmiklautz commented on #189
Closing this issue due to inactivity. If the problem still exists with the current master branch please re-open or create a new one.

[2016-04-07 22:29] #189 closed

[2016-04-07 22:31] bmiklautz commented on #560
Closing du to inactivity. Please re-open or create a new issue if this problem still exists on the current mater branch.

[2016-04-07 22:31] #560 closed

[2016-04-07 22:33] bmiklautz commented on #522
This should already be fixed on master. Please re-open or create a new issue if this problem still exists.

[2016-04-07 22:33] #522 closed

[2016-04-07 22:40] bmiklautz commented on #568
Closing du to inactivity. Please re-open or create a new issue if this problem still exists on the current mater branch.

[2016-04-07 22:40] #568 closed

[2016-04-07 22:41] bmiklautz commented on #571
Please re-open or create a new issue if this problem still exists on the current mater branch.

[2016-04-07 22:41] #571 closed

[2016-04-08 04:54] CHERTS commented on #3235
I compile freerdp from thinstation (master branch)
gcc (Thinstation) 4.8.4
cmake version 3.2.2

[2016-04-08 04:58] CHERTS commented on #3236
I compile freerdp from thinstation (master branch)
cmake version 3.2.2
gcc (Thinstation) 4.8.4

[2016-04-08 08:14] hardening commented on #560
I'm quite sure the issue is still there as we don't handle the message to handle the printer configuration

[2016-04-08 08:43] nfedera commented on #3089
@SaibotCook What @bmiklautz and @Hobby-Student wrote is right. IMHO no one seems to be sure if this is a bug or really by design.

However, if 1.) the credentials are not entered at the rdp client but in the windows session **and** 2.) the terminal server farm members are configured to participate in Connection Broker Load-Balancing ...

![image](https://cloud.githubusercontent.com/assets/670606/1

[2016-04-08 08:43] #3089 closed

[2016-04-08 09:00] hardening commented on #3264
I feel like if xrdp sends 25s of video stream without caring if the client can handle it, xrdp is to blame. I guess that xrdp have some tips that the client wants less frames, like blocking write and such (missing frame acks).

On the other side, perhaps that on the xfreerdp side we could limit the amount of packets we treat from the network when we're in the main loop, so that we would treat a bu

[2016-04-08 15:20] hendwolt commented on #3269
The project page:
https://build.opensuse.org/package/show/home:hendwolt/freerdp

[2016-04-08 15:57] hendwolt commented on #3269
"Somewhere on the internet" I found a wayland.dtd and found errors in xdg-shell.xml.

[xdg_shell_xml.patch.zip](https://github.com/FreeRDP/FreeRDP/files/210436/xdg_shell_xml.patch.zip)

[2016-04-08 19:14] ajupazhamayil commented on #733
Thank you soo much @olegon-ru .... It helped

[2016-04-11 16:31] wtfrank opened #3277 "debug wiki page is obsolete"
I haven't been able to find information about turning on debugging, and the wiki page concerning debugging is marked as obsolete.

https://github.com/FreeRDP/FreeRDP/wiki/Debug-System

[2016-04-11 18:06] micsutka commented on #433
Exactly the same error here.
Client: xubuntu 14.04 and freerdp 2.0.0~dev~git20160331+dfsg-0trusty1
Server: WinXP Pro SP3 32bit
The server os (winxp) is a virtual machine installed on qemu-kvm 2.0.0+dfsg-2ubuntu1.22
The both server and the client are on the same hardware (amd phenom II x4 965)

command line:
xfreerdp /v:192.168.122.102 +compression /u:john /p:doe +clipboard /size:1864x1080 /t:windo

[2016-04-11 21:35] ppanhoto78 opened #3278 "Windows console does not update correctly"
FreeRDP (1.0.2-9.1 on OpenSuSE leap) is showing problems both Windows or MinGW consoles (git bash, in my case). This happens a VirtualBox native RDP server and WindowsXP server, Remmina and KRDC, xFreeRDP were the clients with the same results.

Windows Console:
![freerdp-console](https://cloud.githubusercontent.com/assets/17730373/14442973/e36c6e10-0012-11e6-9129-554ebf7b0c24.png)

When the promp

[2016-04-11 21:38] hardening commented on #3278
xfreerdp 1.0 is really old, do you experiment the same kind of behaviour with last versions (hint: you can download pre-built packages) ?

[2016-04-11 22:02] ppanhoto78 commented on #3278
No. I haven't yet. Tried to compile the libraries and got stuck at this point, though:

CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
GSTREAMER_1_0_APP_LIBRARIES
    linked by target "tsmf-client-gstreamer-decoder" in directory /home/paulo/src/FreeRDP/channels/tsmf/clie

[2016-04-11 22:19] ppanhoto78 commented on #3278
Installed a nightly build and it appears to be working.

[2016-04-12 06:36] jinlong0813 opened #3279 "android afreerdp h264 connect win10 have many white blocks"
Dear ALL,
 I want to use android afreerdp connect to windows 10 with h264. I have checked on RemoteFX, GFX and H264. when I login the win10, there are many white blocks. If I turn off the H264, it works fine. I don't know where is wrong, need your help!
Thanks very much!
![h264](https://cloud.githubusercontent.com/assets/16506647/14451733/de1b6e08-00bb-11e6-84a1-3c57ee104a82.jpg)

[2016-04-12 06:56] akallabeth commented on #3279
color converstion for different codecs does not always respect the target order. I'm working on it but will take some time as it is a rather major change.

[2016-04-12 06:57] bmiklautz commented on #3277
@wtfrank that's obviously true. Basic debugging can be enabled by setting the environment variable WLOG_LEVEL=DEBUG or TRACE (in the latter case also packages are dumped (to /tmp/.wlog iirc).

[2016-04-12 06:57] #3278 closed

[2016-04-12 07:57] trentasis opened #3280 "compile error with latest version"
During compile we receive:

-- Finding recommended feature OSS for sound (audio input, audio output and multimedia redirection)
--     Disable feature OSS using "-DWITH_OSS=OFF"
-- Found OSS Audio
-- Finding recommended feature ALSA for sound (audio input, audio output and multimedia redirection)
--     Disable feature ALSA using "-DWITH_ALSA=OFF"
-- Found ALSA: /usr/lib/libasound.so (found versio

[2016-04-12 08:12] bmiklautz commented on #3280
@trentasis  have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting for the next time.
Anyway... You specified -DWITH_CUPS=ON  but you are missing the cups devel package
[code]
On Debian/Ubuntu install libcups2-dev, crm your CMakeCache.txt  and rerun cmake.

[2016-04-12 08:12] #3280 closed

[2016-04-12 09:12] wangchuanguo commented on #3261
i also have problem with clipboard. used the master.
i'm useing win7 x64, remote is win server2008.
It works only one way: from remote desktop to me.

[2016-04-12 09:14] wangchuanguo commented on #3261
i also have problem with clipboard. used the master.
i'm useing win7 x64, remote is win server2008.
It works only one way: from remote desktop to me.

[2016-04-12 09:56] wtfrank commented on #3277
Ok I've put a small note on that wiki page with your comment in.

[2016-04-12 17:29] wtfrank commented on #2802
I just got the latest build today, and added some debug logging to find out where exactly the problem is having. It seems to be that the openssl connection is closed for some reason.

[18:20:16:363] [14726:14727] [ERROR][com.freerdp.core.gateway.http] - BIO_should_retry failure (status=-1)
[18:20:16:363] [14726:14727] [ERROR][com.freerdp.core.gateway.rpc] - http_response_recv failure (2)
[18:20:16

[2016-04-12 18:28] hendwolt opened #3281 "merge #3274 missed the pulse directories"
When I build the latest source including #3274, and with "-DWITH_PULSE=ON" I get errors like "undefined reference to `WLog_Get'".

It seems this fix missed some directories.

[2016-04-12 19:32] bmiklautz commented on #3281
@hendwolt could you please add more information like:
* complete cmake options
* where exactly do you get the error?

[2016-04-13 02:47] guokai0828 commented on #3279
Try to change the uv order when yuv2rgb in H264 decompress maybe fix the color issue.
But how to display the right image in the white blocks area?

[2016-04-13 02:51] jinlong0813 commented on #3279
Dear akallabeth, we don't care the background color, it looks like the it should reverse the position of U and V on android. The most important problem for me it the white blocks. The white blocks looks like not from the Open H264 frame data. It's the most headache problem for us. Really need your help. Thanks.

[2016-04-13 06:37] akallabeth commented on #3279
is most likely clearcodec. but if you want to try https://github.com/akallabeth/FreeRDP/tree/color_conversion_fix
it is mostly done, except some issues with drawing orders and missing 8bit color legacy support.

[2016-04-13 07:26] akallabeth commented on #2802
@wtfrank Looks like some gateway related issue, could you use ```transport_bio_error_log``` to get the BIO error details?

[2016-04-13 08:22] seesky opened #3283 "Sound redirection delay error"
Hello ,i have a problem with sound redirection. i design a thin client to connect windows vm with freerdp:
        cpu:rk3288
        sound card:wm8960 with alsa
        os:linux
   In addition to the sound redirection,the others are perfect.When i connect win7 with command:
        xfreerdp /f /usb:auto /gestures /multitouch /sec:nla +async-update /v:'192.168.1.101' /u:administrator /p:"123456" /

[2016-04-13 08:48] andreasstieger commented on #3278
A note from your friendly distribution maintainers... As you just labeled your latest stable release as "really old"... why not make a bugfix release every once in a while to deliver your fixes to distros? Everything newer is "beta" and "tech preview" or "nightly".

[2016-04-13 08:59] wangchuanguo commented on #3261
i also have problem with clipboard. And i find a solution, add one line before
+ case WM_DRAWCLIPBOARD:
   case WM_CLIPBOARDUPDATE:

The reason is that:  xp have not AddClipboardFormatListener, can not get WM_CLIPBOARDUPDATE.
----My local OS is xp.

[2016-04-13 09:01] tigerfoot commented on #3278
Also what version 1.0 1.1 1.2 ?

[2016-04-13 09:04] bmiklautz commented on #3278
@andreasstieger easy to say ;). If you search the issue tracker there are multiple issues regarding a new release.  I'm aware that the current release "management" is a horror for distributions but starting with 2.0 we'll try to do bug fix releases or new more often. But we first need to get to a state where we can say this is stable (especially the ABI/API). We don't just want to define the curre

[2016-04-13 09:05] bmiklautz commented on #3278
@tigerfoot next, and current master is 2.0.

[2016-04-13 09:17] tigerfoot commented on #3278
@bmiklautz thanks for the informations.

[2016-04-13 09:23] tigerfoot commented on #3278
@ppanhoto78
With the package we have in oss for openSUSE (Tumbleweed) I can work with no trouble against xp, win7, win8.1, win2008 win2012 include sharing disk, having sound and on long cmd.exe terminal

![screenshot_20160413_112027](https://cloud.githubusercontent.com/assets/788864/14488752/fd34cd9e-0169-11e6-8682-d38fd7066f49.png)

So I can't even reproduce it.

[2016-04-13 14:44] ppanhoto78 commented on #3278
@tigerfoot Tumbleweed and Leap use different versions. Can you try that with git (or MinGW) bash?

[2016-04-13 15:02] hendwolt commented on #3281
This is my cmake configuration:
cmake \
    -DCMAKE_BUILD_TYPE=Release \
    -DCMAKE_INSTALL_PREFIX:PATH=%{_prefix} \
    -DCMAKE_INSTALL_LIBDIR:PATH=%{_lib} \
    -DCMAKE_SKIP_INSTALL_RPATH=ON \
    -DWITH_CUPS=ON \
    -DWITH_CLIENT=ON \
    -DWITH_PCSC=ON \
    -DWITH_ALSA=ON \
    -DWITH_PULSE=ON \
    -DWITH_DIRECTFB=OFF \
    -DWITH_FFMPEG=OFF \
    -DWITH_JPEG=ON \
    -DWITH_GSM=ON \
    -

[2016-04-13 15:10] tigerfoot commented on #3278
@ppanhoto78 nope 13.1, 13.2, 42.1 and tumbleweed all use 1.0.2 version (I know it because I'm doing the packaging :-)

I will try git bash but I need 2 days, I can't pollute a production machine I will try on my personnal windows 10.

[2016-04-13 17:50] ppanhoto78 commented on #3278
Leap appears as 1.0.2-_9.1_ and Tumbleweed appears as 1.0.2-_9.4_
http://download.opensuse.org/distribution/leap/42.1/repo/oss/suse/x86_64/freerdp-1.0.2-9.1.x86_64.rpm
http://download.opensuse.org/tumbleweed/repo/oss/suse/x86_64/freerdp-1.0.2-9.4.x86_64.rpm
Only difference I can tell is that one works and the other doesn't.

[2016-04-14 07:40] slackline commented on #931
I would like to see this too, its a minor inconvenience to have to take our hands off of the keyboard to move the mouse so that focus returns to the host desktop, but when switching lots it becomes a real bind.

Personally I switch lots because I edit my files on the host desktop then run them on the guest because of slight lag typing on the guest desktop.

[2016-04-14 11:53] wtfrank commented on #2802
[12:19:30:086] [17309:17310] [ERROR][com.freerdp.core.gateway.http] - BIO_should_retry returned a system error 104: Connection reset by peer

[2016-04-15 06:31] jdiazbb commented on #1539
i think you have no login rights to that machine (or incorrect password...)

[2016-04-15 06:40] hardening commented on #1539
@guxinglei this doesn't look like a bug report (missing a lot of details). If you have questions there's IRC or the mailing list. This is a bug tracker not a forum.

[2016-04-15 06:40] #1539 closed

[2016-04-15 07:48] bmiklautz commented on #1539
@guxinglei  https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2016-04-15 08:48] bmiklautz commented on #3281
@hendwolt with you cmake command line I can reproduce the problem. Pulse wasn't tested with -DSTATIC_CHANNELS=OFF (as our ci usually only builds with static channels). I'll prepare a fix.

[2016-04-15 09:11] melanholy opened #3286 "/gdi:hw in windows"
When /gdi:hw option is set(and this is default), colors on remote machines become strange. Also there is some buffering problems(changes on the screen doesn't show while there is few of them). And one very big problem is that sometimes remote machine stucks on welcome screen.
Here is some screenshots:

![untitled](https://cloud.githubusercontent.com/assets/10682553/14556858/b886a2ca-0313-11e6-8fbe

[2016-04-15 16:43] AlexDarkf0x opened #3288 "Problem building 2.0-dev"
Hi,

A little issue while building the 2.0-deb branch.

SO : Centos6
Cmake options :
`cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON -DWITH_MBEDTLS=ON -DWITH_CUPS=ON -DWITH_PCSC=ON -DWITH_JPEG=ON -DCHANNEL_URBDRC_CLIENT=ON -DSTATIC_CHANNELS=OFF -DWITH_LIBSYSTEMD=OFF -DWITH_WAYLAND=OFF -DWITH_OSS=OFF -DWITH_FFMPEG=OFF -DWITH_ALSA=OFF -DWITH_GSTREAMER_1_0=OFF -DWITH_GSTREAMER_0_10=OFF .`

CMAKE runs

[2016-04-15 16:45] ppanhoto78 commented on #3278
I've upgraded my packages to tumbleweed's and I've got different results than the first reported: if the  RDP server is an actual windows system, the terminals get correctly updated.
The problem still exists when the server is a VirtualBox' RDP server on linux.

[2016-04-16 11:47] lex148 commented on #2480
I just tried again with master. still not working. are you still waiting for feedback?

[2016-04-16 19:25] giox069 opened #3289 "Problem builiding with -DWITH_SANITIZE_ADDRESS=on"
After commit https://github.com/FreeRDP/FreeRDP/commit/8fe88acbf34bbe3f6911e47240b08881e8026b0d and when compiling with -DWITH_SANITIZE_ADDRESS=on, the link phase of libwinpr fails.

The commit enables "--no-undefined" flag for the linker, but this flag is poisonous in the link phase of libwinpr when used together with -fsanitize=address.

Here are some pieces of the link command which is failing:

[2016-04-17 22:34] Tacioandrade opened #3290 "Some programs do not work"
Hello everyone, this week made a FreeRDP test to run applications via RemoteApp on a Windows Server 2008R2, however even after publishing several applications in the same way, I could only make Winrar worked properly, the other gave an error message as if it was not published correctly.
The strange thing is that on a Windows computer 10 here in my lab, I could run via coretamente RemoteApp already

[2016-04-18 06:08] hardening commented on #3290
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2016-04-18 09:47] fadeer commented on #3229
We had same issue in freerdp 1.1.0, no test in freerdp 2.0.0-dev.

"missing double characters" happens because some USB scanner send two key_press and one key_release to rdp windows. *2_press*, *2_press*, *2_release*, so in windows, it show just one 2, some times.

Our workaround is, send *key_release* before 2nd key press. in `client/X11/xf_event.c`:

[code]

[2016-04-18 10:08] hombibi opened #3291 "host notifications break rdp session focus"
I had posted this bug already at ubuntu launchpad, as comment with an existing bug. But that one is idle for a long term. Probably I should have posted here in the first place.

I run Xfreerdp on Ubuntu Gnome, X64, 15.10. I use  standard xfreerdp to maintain a rdp session to a Windows 10 machine on the local network, primarily in full screen mode, for long periods of time. To start the session I u

[2016-04-18 10:13] DieselV opened #3292 "tried to enable ALSA but its not working.."
I am executing freeRDP on mac OS 10.11 and Xcode 7.3
I am tring to enable ALSA feature to be ON but its not working?

FreeRDP-master macmini$ cmake -DCMAKE_TOOLCHAIN_FILE=cmake/iOSToolchain.cmake -GXcode -DIOS_PLATFORM=SIMULATOR -DWITH_MBEDTLS=ON -DWITH_ALSA=ON
-- Could NOT find PkgConfig (missing:  PKG_CONFIG_EXECUTABLE)
-- FreeRDP GIT
-- Git Revision n/a
-- Skipping recommended feature libsystem

[2016-04-18 10:14] DieselV commented on #3292
If somebody have idea how to enable sound/audio and printer redirection then help me.
Thanks

[2016-04-18 10:51] meersjo commented on #2480
@lex148 , i'm wondering, are you using entire desktops, or Remote Apps? For me (and I've found similar bug reports confirming this) the problem only occurs with Remote Apps (the RAIL code); when I simply open a normal remote desktop, copy/paste does work as expected for me.

[2016-04-18 14:50] wtfrank commented on #2802
I am able to remain connected for hours when I connect from the windows remote desktop client from another laptop on the same internet connection, so I hypothesise that the connection is actively closed by the server because of something it doesn't like about what FreeRDP sends (or something that is missing).

In order to test this hypothesis, I attempted an active close by logging on two clients

[2016-04-18 17:40] ropetry commented on #3229
@bmiklautz : sorry, but i was in holidays: i tried again with our terminal servers and with a clean installed terminal server. just server 2008 and role terminal server added.. of 20 scan´s i get only 1 wrong. i´m just checking if we have changed something else at our server side.. but i don´t think so. in the meantime i will try to test the patch of @fadeer ..
anyway. could you please point me to

[2016-04-19 07:04] DieselV commented on #3141
@cloudecker do you have any idea how to enable sound redirection and printer device redirection?

[2016-04-19 07:12] #3205 closed

[2016-04-19 07:14] DieselV commented on #3197
you have to change it according to iOS 9

[2016-04-19 07:44] akallabeth commented on #3141
easiest way is to ditch the manual setting of settings struct and just use ```freerdp_client_settings_parse_command_line``` with the same command line options as xfreerdp / wfreerdp / ...

[2016-04-19 07:54] DieselV commented on #3141
I am working with freerdp iOS client(iFreeRDP)...your solution will work with iOS?

[2016-04-19 08:03] cloudecker commented on #3141
@DieselV sorry..i have no idea. IOS cilent can work without sound redirection.

[2016-04-19 08:10] DieselV commented on #3141
yeah..I works without sound redirection But i want redirect sound
But it shows message while compiling ...skipping disabled feature ALSA(sound redirection)

[2016-04-19 09:48] akallabeth commented on #3292
@DieselV alsa is the LINUX sound backend, you will not have much luck on OS X with that ;)

[2016-04-19 09:50] akallabeth commented on #3292
@DieselV Use ccmake or the GUI edition of cmake to find configuration options available to you. Sound (CHANNEL_RDPSND) and microphone (CHANNEL_AUDIN) redirection are what you are looking for.

[2016-04-19 09:50] #3292 closed

[2016-04-19 09:58] bmiklautz commented on #3141
@DieselV there isn't any alsa on iOS. What you are looking for is channels/rdpsnd/client/ios

[2016-04-19 10:42] bmiklautz commented on #3229
@ropetry Can you try to stick a debug message in libfreerdp/core/input.c functions input_send_keyboard_event and input_send_unicode_keyboard_event to see what is actually send client side.

[2016-04-19 12:38] bmiklautz commented on #3289
@giox069 would have been nice if we could have it enabled per default to find missing symbols or linker "problems" early on. However I've made it optional now like WITH_SANITIZE_ADDRESS that those two options don't conflict anymore.

[2016-04-19 12:40] DieselV opened #3295 "iFreeRDP:After compilation using cmake -DWITH_IOSAUDIO=ON ...audio redirection is not working"
os- mac OSX 10.11
Xcode 7.3
after compiling code using cmake command for sound redirection actually iFreeRDP supposed to redirect sound but its not working

[2016-04-19 13:21] #3281 closed

[2016-04-19 13:22] nfedera commented on #3281
@hendwolt fixed by @bmiklautz via #3287

[2016-04-19 13:32] #3289 closed

[2016-04-19 14:47] bmiklautz commented on #3291
@hombibi what version of FreeRDP are you using?

[2016-04-19 16:36] scottsisco commented on #2193
My organization is having this exact same issue. If there still no resolution? We also use +async-update to stop the endless scrolling through cells in Microsoft Excel.

[2016-04-19 18:18] hombibi commented on #3291
Ah, of course, apologies. I run the standard version from ubuntu repo:
"xfreerdp /version"
"This is FreeRDP version 1.1.0-beta1 (git n/a)"

[2016-04-19 18:18] WarheadsSE commented on #3283
Your problem is not FreeRDP, but with your re-sampling configuration for Pulse Audio.

[2016-04-19 18:24] WarheadsSE commented on #3264
Is this related to what might happen when you're doing a large about of putImage calls to X? We have seen things akin to this behavior (delayed input due to overwhelming the X stack with repaints) on multiple versions, and can reliably replicate it on systems with poor 2D GPU support in X. One such test case we have is connecting to a Windows 2003R2 server with Excel opening a very large sheet and

[2016-04-20 07:10] seesky commented on #3283
I get this error from alsa when I get little stutters every five second.
ALSA lib /home/phoenix/Deskpool/Client/Sabre/Yocto/new/build/tmp/work/cortexa9hf-vfp-neon-poky-linux-gnueabi/alsa-lib/1.0.26-r0/alsa-lib-1.0.26/src/pcm/pcm.c:7339:(snd_pcm_recover) underrun occurred
ALSA lib /home/phoenix/Deskpool/Client/Sabre/Yocto/new/build/tmp/work/cortexa9hf-vfp-neon-poky-linux-gnueabi/alsa-lib/1.0.26-r0/

[2016-04-20 08:21] AlexDarkf0x opened #3297 "Printer redirections always getting the "Publisher" driver"
Hi

I'm using freerdp to connect to a farm 2012, thru a broker2012.
Freerdp version is 2.0 branch, with all commits until Mar 31, 2016.

I've also read the issues bellow, so I think its supposed be fixed, but I'm still getting it.
#3165 Printer fix
[https://github.com/FreeRDP/FreeRDP/issues/2269](url)

Still, using the command bellow, still gets me the Publisher default driver.
`xfreerdp farmhcv.r

[2016-04-20 08:40] AlexDarkf0x opened #3298 "Some questions about freerdp options"
Hi,

Can someone help me with some questions, not sure if they are issues or not.

Using master 2.0 branch (commit a0d9969).

1) Using `/printer` alone, doesn't redirect all printers, in fact doesn't redirect any printer, should it ?
2) Using multiple /printer options only redirects the first one on the list. Can freerdp redirect more than 1 printer ?
3) On cable or network error, freerdp freezes

[2016-04-20 11:07] bmiklautz commented on #3291
@hombibi would you try one of our nightly builds and see if the problem still exists?
https://ci.freerdp.com/job/freerdp-nightly-binaries/

[2016-04-20 11:57] hombibi commented on #3291
@bmiklautz All right, I'll give that a try. I'll update this thread with my findings.

[2016-04-20 11:59] bjoernv opened #3299 "Segmentation fault with option /multimedia:codec:ffmpeg"
I tried to get multimedia (video) redirection working. xfreerdp crashes with a "segmentation fault" when using the option "/multimedia:codec:ffmpeg":

`gdb /usr/local/freerdp/bin/xfreerdp`
`(gdb) run run /u:myusername /v:mybox /cert-ignore /multimedia:codec:ffmpeg`
`[Thread debugging using libthread_db enabled]`
`Using host libthread_db library "/lib64/libthread_db.so.1".`
`[New Thread 0x7fffe83c2

[2016-04-20 21:54] tondahermankovi opened #3300 "error! Status Code: 0"
When connecting to Microsoft Server 2008 through TS gateway using command

xfreerdp  /v:server /d:domain /u:user /p:password

I get the following error

[23:38:11:377] [12402:12403] [WARN][com.freerdp.core.gateway.http] - http_response_recv: text/plain unexpected body length: actual: 13, expected: 0
[23:38:11:398] [12402:12403] [WARN][com.freerdp.core.gateway.http] - http_response_recv: text/plain

[2016-04-21 08:02] akallabeth commented on #3299
@bjoernv TSMF with FFMPEG did not see much attention lately, either use gstreamer or ditch multimedia redirection entirely and use /gfx (or /gfx-h264 if you compiled against openh264)

[2016-04-21 08:14] akallabeth commented on #3298
@AlexDarkf0x
1) Using ca2d015d7afab8af9523f0313b6846a3cd59f305 here with xfreerdp redirects all local printers as expected with ```/printer```
2) Using multiple ```/printer:name,driver``` options works as well. Could you check, if the required drivers are installed on your windows machines? It may take some time until windows recognises the printers.
3) Network connection issues should end the ses

[2016-04-21 08:15] hardening commented on #3299
@bjoernv if you ran it in gdb, it would have been nice to give us the stack trace (something like bt show all) :)

[2016-04-21 08:15] akallabeth commented on #3297
@AlexDarkf0x Your command line is wrong, should be ```/printer:nowhere,"Generic / Text Only"```

[2016-04-21 08:33] hombibi commented on #3291
@bmiklautz The nightly build installed 2.0.0-dev. So far, so good. An ubuntu "software updates available" notification has not affected the rdp session as it used to, so that's great. I'll keep using it to see if it holds up.
As a side note, the full screen mode now ignores ubuntu gnome's top left "hot corner" that displays all running applications. I very much appreciate that while working on a r

[2016-04-21 08:35] akallabeth commented on #3300
@tondahermankovi If it is a gateway maybe using the ```/g*``` options might help. Other than that you can test if it works using other authentication menthods (```/sec:XXX```)

[2016-04-21 08:38] hardening commented on #3291
We're currently freezing FreeRDP to release a 2.0, so the nighly you're running is very near from the final version, and most probably of better quality than the one that is shipped by you distribution.

[2016-04-21 08:39] akallabeth commented on #3295
did you actually activate the audio redirection? To my knowledge the iOS client does not implement that currently. You have to add the required settings yourself.

[2016-04-21 08:53] hombibi commented on #3291
I believe my issue is solved in that case. Thank you for your help.

[2016-04-21 09:37] #3291 closed

[2016-04-21 11:55] DieselV commented on #3295
I used cmake -DWITH_IOSAUDIO=ON ...static library is generated for it...I know iOS client currently doesn't have any UI to make sound enable...Is their cmake command to enable it manually or what parameters to be passed to session to enable sound?
Thanks

[2016-04-21 11:58] akallabeth commented on #3295
@DieselV Have a look at what the command line parser is doing with ```/sound``` and add these settings to the iOS client. Or you have a look at the Android client and update the iOS FreeRDP event loop with a similar one.

[2016-04-21 14:22] Boseley01 opened #3301 "RD Gateway / Session Host Issue (Server 2012 / Thin Clients)"
Hi,
Hopefully someone can help. We are using Fujitsu Futro S520 thin clients to connect to a 2012 RD Farm.

We are using FreeRDP on them to connect from the internal network, and this works fine.

We have a 2012 RDCB server and 5 Session Hosts and are using a session collection called "Full Desktop".

The command internally that works is as follows:
FreeRdpParams= /cert-ignore /v:rdp.ourdomain.com

[2016-04-21 16:14] hardening commented on #3301
Which version of freerdp are you using ?

[2016-04-21 16:38] Boseley01 commented on #3301
Hi,
The version listed is: 1.1.0-beta1 (git 1.1.0-beta+2013071101-236-ge840).

This is the package that comes with the elux thin clients, thanks.

Kind Regards,
Christopher Boseley

On Thu, Apr 21, 2016 at 5:14 PM, Hardening <notifications@github.com> wrote:

[2016-04-21 16:44] hardening commented on #3301
That was I was afraid of. So you should contact elux to get some support from them (as they don't ship their sources, we don't know which changes they have made to FreeRDP). Another solution would be to compile yourself xfreerdp for your thinclient.

Anyway 1.1 is quite old and we have done some improvements with connecting through TS gateway since.

[2016-04-21 16:52] Boseley01 commented on #3301
Ok well that's useful to know. I was trying to test it on my windows PC
using freerdp for windows but struggled to get it to display on the remote
screen. I did also try afreerdp on my android but it had the same response
and did not connect.

I've raised a support request with Elux, sadly they are quite slow to
respond. I appreciate the response though.

Kind Regards,
Christopher Boseley

On Thu,

[2016-04-21 18:09] Boseley01 commented on #3301
are you able to advise of the latest version of free rdp? I can see support
with elux for V1.1.0.2-6.

I would have to change a lot but I may be able to upgrade to that if it
would help.

Kind Regards
Chris Boseley
On 21 Apr 2016 17:52, "Christopher Boseley" <cboseley@gmail.com> wrote:

[2016-04-21 19:09] tondahermankovi commented on #3300
unfortunately neither /g* nor /sec: options solved the error. Every time I got the same error.

[2016-04-22 07:24] akallabeth commented on #3300
@tondahermankovi You can try ```/log-level:TRACE``` to get extended debug output (or ```/log-filters:<tag>:trace to only get output for a specific module. This might help to narrow down the issue.

[2016-04-22 08:50] AlexDarkf0x commented on #3297
Hello,

My mistake, i've tried it like that and works like a charm.
Tnx.

[2016-04-22 08:50] #3297 closed

[2016-04-22 08:58] AlexDarkf0x commented on #3298
I remake Q4 and Q5, they were a bit confusing. Hope it helps to better understand them.
About Q3, gonna retry it, till now our tests were made by removing the cable from the client machine, will give feedback later on.

[2016-04-22 09:19] lobojoy commented on #3141
@cloudecker How you  made following settings -Settings - > DeviceRedirection = YES;
Settings - > SupportDynamicChannels = YES;
Settings - > RemdeskVirtualChannel = YES;
Settings - > AudioPlayback = YES;
Settings - > AudioCapture = YES;
Settings - > RedirectClipboard = NO.
Settings - > RedirectPrinters = NO.
 means Have you used any cmake command for it or any coding changes?
If you have some clues

[2016-04-22 09:31] hardening commented on #3298
Q4: I had a quick search, andfound nothing that speaks of workspace id in the specs

Q5: is asked quite usually but I forgot the answer. IIRC there were some PR recently for CredSSP v3 that allows to distinguish this

[2016-04-22 10:01] AlexDarkf0x commented on #3298
Q4 : I'll try to add my colleagues from our windows admin team to this talk, as they can help you better than me in explaining or providing microsoft links about this item.
The best I can explain is : In win2012, you can have multiple rds pools (each pool has its own servers), using a single broker (Or HA broker), and the local RDS file defines to which pool of servers the client will be connected

[2016-04-22 11:54] AlexDarkf0x commented on #3267
I can confirm I have the same issue. Master with commit  a0d9969
Removing the line from .rdp file, works for me.

[2016-04-22 11:58] AlexDarkf0x commented on #3298
Forgot to push the update coment before. Q4 and Q5 updated on top.

[2016-04-22 12:22] AlexDarkf0x commented on #3298
Update on Q2 :
Still redirecting only 1st printer. Not sure if is because i'm using file uri's printers, but right now i dont have access to multiple physical printers on a physical system.

Printers :

[code]
[code]
Command used :
`xfreerdp farmhcv.rdp /f /log-level:DEBUG /d:JMS /heartbeat /cert-ignore /serial:COM3,/dev/ttyS0 /u:$usern /p:$userp /drive:"Removable Media",/media /smartcard /printer

[2016-04-22 12:50] akallabeth commented on #3141
@lobojoy You have to dig into the code in ```client/iOS/**`` and change the initialisation accordingly. Have a look at the android client for reference (the main loop and initialisation in that client was updated recently)

[2016-04-22 13:09] lobojoy commented on #3141
Did you mean 	android_channels_init() function ,I have to change accordingly for ios client?
Thanks!

[2016-04-22 16:26] akallabeth commented on #3141
there are a couple of functions, mainly the pre, post and disconnect functions as well as the main loop. oh and don't forget the function calling parse arguments ;)

[2016-04-22 16:28] akallabeth commented on #3298
freerdp uses cups for printer redirection, those are cups printers or not?

[2016-04-22 16:46] ubbe76 commented on #2128
At last.
Successfully connected to Win 7 (connected to a domain) with:
xfreerdp --no-nla -u [username] [hostname]

[2016-04-22 19:14] tondahermankovi commented on #3300
the trace log seems as follows

[21:08:59:046] [9233:9235] [DEBUG][com.freerdp.client.x11] - Searching for XInput pointer device
[21:08:59:046] [9233:9235] [DEBUG][com.freerdp.client.x11] - Pointer device: 10
[21:08:59:046] [9233:9235] [DEBUG][com.freerdp.core.nego] - Enabling security layer negotiation: TRUE
[21:08:59:046] [9233:9235] [DEBUG][com.freerdp.core.nego] - Enabling restricted admin mod

[2016-04-22 20:44] mnowaksuse commented on #2421
Is there any workaround for this issue? Is there a way with current master to connect to Hyper-V with FreeRDP? Or is the only workaround to use snapshot before commit 9c7b7ab?

[2016-04-24 11:46] mikhaXD opened #3302 "Files copying issue"
If copy file from PC to a RDP = its works fine. But when from RDP to PC - file is copied but size is 0bytes. No data inside.
Im using latest windows nightly build

[2016-04-25 07:09] akallabeth commented on #3300
[patch.txt](https://github.com/FreeRDP/FreeRDP/files/234034/patch.txt)
Could you apply the attached patch and rerun? Should improve output logging and give some details on what is actually missing.

[2016-04-25 09:12] maqiangddb opened #3303 "Use aFreeRDP connect remoteapp of win2012 server"
Hi all:
   Can aFreeRDP connect remoteapp? and How?

[2016-04-25 12:07] bmiklautz commented on #3302
Please have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting and add more information.

[2016-04-25 16:02] ThorbenJ commented on #2707
I am running Debian Stable (Jessie) which has KDE 4.14 and had the same problem.

I copied the steps from: cmsmith1977 comment on 21 Nov 2015 https://github.com/FreeRDP/FreeRDP/issues/2707#issuecomment-158584322 and multimon fullscreen now works again.

In addition: the reason I was running a newer version than the freerdp 1.1 in Debian stable, is because that version is even more broken under KDE

[2016-04-25 17:55] GreyGnome opened #3304 "Using the /multimon switch, /h is not honored"
I have a Fedora 22 laptop and run xfreerdp 1.2.0-beta1. My screen resolution is 1600x900.

When I connect a second monitor (resolution 1600x1200) and then use xfreerdp to connect to my remote machine like this:

xfreerdp /u:loginid /multimon /w:3200 /h:900

the window came in fullscreen, at 1200 pixels high, so that I could not open my Windows menu in my laptop screen.

I haven't been able to find

[2016-04-25 19:37] tondahermankovi commented on #3300
the result after applying the patch

[21:34:20:355] [12351:12352] [DEBUG][com.freerdp.client.x11] - Searching for XInput pointer device
[21:34:20:356] [12351:12352] [DEBUG][com.freerdp.client.x11] - Pointer device: 10
[21:34:20:356] [12351:12352] [DEBUG][com.freerdp.core.nego] - Enabling security layer negotiation: TRUE
[21:34:20:356] [12351:12352] [DEBUG][com.freerdp.core.nego] - Enabling restric

[2016-04-25 21:40] bjoernv commented on #3299
Here is the stack trace:
[ffmpeg-codec-crash.txt](https://github.com/FreeRDP/FreeRDP/files/235464/ffmpeg-codec-crash.txt)

[2016-04-25 21:53] bjoernv commented on #3299
The /gfx-h264 option seems to work. The image quality of a test video (1024x576, 2207 kBit/s, 25 fps) is relatively poor, but works. Is it possible to log encoding / decoding details?

[2016-04-26 05:58] akallabeth commented on #3299
@bjoernv you can play with the /log-level and /log-filters parameters for advanced log output. as for /gfx-h264, windows 10 defaults to a new mode currently less optimized, you can force the old one with /gfx-h264:avc420 (if I remember correctly)

[2016-04-26 06:28] akallabeth commented on #3304
@GreyGnome Try <ctrl>+<alt>+<enter>

[2016-04-26 07:10] akallabeth commented on #3300
Ok, looks like the http parser does not correctly fill in the content length.
I've attached another patch which will dump the whole http content.
Could you check if the raw http data contains a tag ```Content-Length```?
The debug output may contain sensitive information, so it would not be a good idea to paste it here (or send it to me, if it is a production environment)

[dump_http.patch.zip](htt

[2016-04-26 07:12] akallabeth commented on #3299
@bjoernv Oh, and the X264 cmake flag is useless right now, you have to compile against OpenH264.

[2016-04-26 07:23] hardening commented on #3299
I guess that accessing a null ListDictionnary easily explains the segfault ;)

[2016-04-26 07:53] AlexDarkf0x commented on #3298
@akallabeth

All printers are cups printers.

I'm gonna remake using latest master, and will see if the issue still exists after #ca2d015

@hardening
The best they could provide me about the pool conections (Collections they call it), was this [link.](https://community.spiceworks.com/topic/1241193-connection-broker-in-2012-r2)

[2016-04-26 08:48] AlexDarkf0x commented on #3288
Fixed with #commit 0ebc6f1

[2016-04-26 08:48] #3288 closed

[2016-04-26 09:14] hardening commented on #3299
Am I the only one to think that #3305 does not fix the real problem, as it's quite strange to call ListDictionary_GetItemValue on a NULL ListDictionnary, so adding checks in listdictionnary only hides the real problem...

[2016-04-26 09:18] bmiklautz commented on #3299
@hardening yes sure it "hides" the problem. But checking if the ListDictionnary is NULL is a good check nevertheless.

[2016-04-26 12:48] tweej commented on #931
+1
In my case, I'm looking for this feature while FreeRDP is in full screen mode.

[2016-04-26 14:26] lobojoy commented on #3141
I have added additional settings to freerdp iOS client e.g audio redirection ,Device redirection but still I facing problem related sound redirection. The audio at the Server side is enabled but it does not redirects sound.

[2016-04-26 15:48] akallabeth commented on #3141
hard to tell without you providing some code / wip branch to have a look at.

[2016-04-26 15:57] lobojoy commented on #3141
currently I am looking at the files channels/rdpsnd/client/ios/rdpsnd_ios.c ,TPCircularBuffer.c  ,
but not sure working properly or not?

[2016-04-26 16:51] tondahermankovi commented on #3300
thanks for your help. the result is as follows. I have substitute some of the sensitive information.

[18:43:40:513] [6797:6798] [DEBUG][com.freerdp.core.nego] - Enabling security layer negotiation: TRUE
[18:43:40:513] [6797:6798] [DEBUG][com.freerdp.core.nego] - Enabling restricted admin mode: FALSE
[18:43:40:513] [6797:6798] [DEBUG][com.freerdp.core.nego] - Enabling RDP security: TRUE
[18:43:40:

[2016-04-27 06:33] akallabeth commented on #3300
Hmm, looks like the access is denied. Is the setup working with other clients?

[2016-04-27 07:23] chandramouligoru commented on #3279
I am facing the same issue with aFreeRDP connecting to Win08 then I tried the color_conversion_fix_v3 branch to check how it looks. color conversion has gone haywire in this as well. Kindly check the screenshot.
![device-2016-04-27-124959](https://cloud.githubusercontent.com/assets/17047692/14844667/a445ec1e-0c76-11e6-8fdd-9a15c370425e.png)

@jinlong0813 For me Gfx pipeline wouldn't work without e

[2016-04-27 07:56] akallabeth commented on #3279
@chandramouligoru looks like I've mixed up the color initialisation. Should be ```PIXEL_FORMAT_RGBA32``` for ```gdi_init```, the clear codec stuff is not properly decoding anyhow.

[2016-04-27 08:03] akallabeth commented on #3279
@chandramouligoru Oh, and for the time being ```-DWITH_SSE=OFF -DWITH_NEON=OFF``` is required until the optimisations for colour conversion have been adapted.

[2016-04-27 08:55] abma commented on #2967
can't reproduce with current version.

https://github.com/FreeRDP/FreeRDP/commit/bd7ed27f92747adbd13f5f89e7abcf4cffa07386

[2016-04-27 09:14] bmiklautz commented on #2967
@abma can this issue be closed then?

[2016-04-27 09:20] abma commented on #2967
yep

[2016-04-27 09:20] #2967 closed

[2016-04-27 09:20] abma commented on #2922
as #2967 seems fixed... is this issue fixed, too?

[2016-04-27 10:55] tondahermankovi commented on #3300
Yes, the access works fine with the same setup from my Andriod based tablet with the Microsoft RD client

[2016-04-27 11:54] chandramouligoru commented on #3279
@akallabeth those flags dint work. Probably I should wait till you get it to master.

[2016-04-27 15:16] Enverex commented on #189
This is still an issue but not universally. Just had about 50 machines lose connection to the host. After ~5-10 minutes some machines closed off the client (which is still a surprisingly long time), others just stayed frozen indefinitely. Even worse is that xFreeRDP wouldn't release the keyboard so users couldn't actually type outside of xFreeRDP anymore either (or kill it off with keyboard comman

[2016-04-27 15:29] bmiklautz commented on #189
@Enverex seems quite long true but there shouldn't be any indefinite freezes anymore (as the issues says).
For completeness what version did you experience the this behavior with?

[2016-04-27 15:43] Enverex commented on #189
1.2.0-beta1 apparently. I can't update further because that brings in a new set of bugs regarding how multi-monitors are handled (or rather, how they aren't).

[2016-04-27 15:44] GreyGnome commented on #3304
The ctrl-alt-enter didn't work. Nothing happened.

Does /multimon imply full screen, so that the /h is not honored?

[2016-04-28 06:09] daiqifan opened #3306 "FreeRDP make failed"
I complied FreeRdp with cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON -DWITH_FFMPEG=ON .

Then an error came out when i did make:
/usr/bin/ld: /usr/lib/gcc/x86_64-redhat-linux/4.4.7/../../../libavcodec.a(allcodecs.o): relocation R_X86_64_32 against `ff_a64multi_encoder' can not be used when making a shared object; recompile with -fPIC
/usr/lib/gcc/x86_64-redhat-linux/4.4.7/../../../libavcodec.a: c

[2016-04-28 06:58] akallabeth commented on #3306
@daiqifan Hmm, looks like you're trying to link against a static build of FFMPEG?

[2016-04-28 07:02] akallabeth commented on #3304
@GreyGnome Ok, had to dig this up myself, but /multimon indeed implies fullscreen.

[2016-04-28 08:09] daiqifan commented on #3306
@akallabeth So what can i do to solve this problem?  That i have configured FFMPEG with --enable-pic.

[2016-04-28 09:30] lobojoy commented on #3141
@akallabeth @cloudecker  stuck at audio/sound redirection for freeRDP iOS client. Do you guys have any updates about files that I have mentioned in earlier comment rdpsnd_ios.c and tpcircularbuffer.c?

[2016-04-28 10:14] HenryJacques commented on #3114
@awakecoding what are the possible drawbacks of setting SupportMonitorLayoutPdu to FALSE?

[2016-04-28 12:43] akallabeth commented on #3306
@daiqifan Good question, never tried to link statically. You can of course always try to compile FFMPEG dynamically and link to the so.

[2016-04-28 13:19] zoccolo opened #3307 "Crashing of the static build of wfreerdp"
Hi all,

I make a static build of small project which use freerdp (for windows), OpenSSL also built statically (with /MTd flag). My project also use /MTd flag.

However, there are random memory freeing errors.

For example, in the function

`void freerdp_client_common_free (freerdp * instance, rdpContext * context);`

In this place:

`pEntryPoints-> ClientFree (instance, context);`

I have errors

[2016-04-28 15:56] GreyGnome commented on #3304
Thanks.

[2016-04-28 21:30] bmiklautz commented on #3306
@daiqifan your self compiled lib was installed in /usr/lib? So the one found by cmake is the correct one?

[2016-04-28 21:32] bmiklautz commented on #3307
@zoccolo what version of FreeRDP are you using? If you use your nightly binaries (also static) can you observe the same problems?

[2016-04-29 06:34] akallabeth commented on #3304
@GreyGnome Well, that will be the case if you leave out /multimon ;) Then you only get a window with the appropriate size. Multimon allows you to use multiple screens for a RDP session (so that the server knows there are multiple screens and can adjust its behaviour accordingly)

[2016-04-29 18:19] lemonmojo commented on #3114
I also have had several customers report this issue to me in the last few weeks. I can't reproduce it myself but they all mentioned it's happening with 2008 servers.
I don't want to disable SupportMonitorLayoutPdu as I (think I) need it to enable multi-monitor fullscreen connections but obviously if that's the only fix at the moment I will have to go that route. Any fix in sight?

[2016-04-29 19:43] mydigia commented on #3114
+1 for this issue, I experienced on Win 2008 servers too.

[2016-04-29 22:55] GreyGnome commented on #3304
I understand. But with two screens of different sizes, which one is appropriate...?

[2016-04-30 00:30] mindisfree commented on #2891
Hello any updates on this. New to smart cards and running MAC OS X 10.11.4 trying to run freeRDP. Here is the command i am running xfreerdp +sec-nla /f /d:us /smartcard: /v:IPhere
Get this error: (it takes the password)
loading channel rdpdr
loading channel rdpsnd
Warning xf_GetWindowProperty (177): Property 302 does not exist
connected to 10.217.72.248:3389
Password:
SSL_read: Failure in SSL libr

[2016-05-01 15:17] TaylorSMarks opened #3308 "Cannot connect. Getting SPNEGO failed with NTSTATUS: C000006D"
I'm on OS X 10.11.4 (El Capitan).

I'm trying to connect to a laptop running Windows 10 on my same local network (which has remote desktop enabled).

I'm trying to connect with:

[code]

(I've replaced my password with xxxx for obvious reasons... on the command line I'm just passing it straight in in the clear.)

Here's the output I get:

[code]

I've looked around and found that C000006D means ST

[2016-05-02 03:16] lewkowski commented on #950
I have the same issue as Gatesphere (although it does transmit the @#$%&*! characters). I have tried TruRdp and have the same issue, but from Windows 10 using stock Remote Desktop Connection all characters work. For the RDP host I am using Ubuntu 16.04 (Mate) with xrdp for the server. Any help much appreciated.

[2016-05-02 06:39] akallabeth commented on #950
@lewkowski Currently the android client sends keyboard events as unicode symbols. To my knowledge XRDP and others do not support that kind of input. I can't tell for TruRdp.

[2016-05-02 08:55] Olmer1st opened #3309 "FreeRDP clipboard issue"
Hi,

I have a trouble to make copy-paste on connecting server.
Connecting from Ubuntu 14.04 to CentOS 7.
xfreerdp /v:hostname /u:username /d:domain +clipboard

With mouse select an text in connected machine, make copy... the xfreerdp crashed with errors:
[11:46:32:730] [666:667] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[11:46:55:978] [666:668] [ERROR][com.freerdp.channel

[2016-05-02 10:50] bmiklautz commented on #3309
@Olmer1st what version of FreeRDP are you using?

[2016-05-02 11:12] Olmer1st commented on #3309
This is FreeRDP version 2.0.0-dev (git bd7ed27)
Compiled from git

[2016-05-02 13:39] bmiklautz commented on #3309
@Olmer1st can you add what host system you are connecting to with xfreerdp?

[2016-05-02 14:07] AlexDarkf0x opened #3310 "/printer and multiple printers not working"
Hi

Related to issue #3298, printers questions.

Using /printer, doesn't redirect any printer
Using multiple /printer:printer_name,'WIN_DRIVER_NAME' only redirects the 1st printer
Alone, I can redirect any of the printers successfully.

All printers are cups printers, I tested on USB Printers, Net Printers, File Printers, Null Printers, using RAW, PPD and HPLIP interfaces, same problem with any of

[2016-05-02 14:09] AlexDarkf0x commented on #3298
Update : Tested the printers issues with usb printers, problems remains, opened https://github.com/FreeRDP/FreeRDP/issues/3310 just for the printer issues, and will close this issue.

[2016-05-02 14:09] #3298 closed

[2016-05-02 14:28] Olmer1st commented on #3309
From Ubuntu 14.04   to CentOs 7

[2016-05-02 14:39] bmiklautz commented on #3309
@Olmer1st let me rephrase this what server are you connecting to? xrdp? VirtualBox?

[2016-05-02 14:45] Olmer1st commented on #3309
xrdp

[2016-05-02 18:29] bmiklautz commented on #3114
@giox069 thanks I can reproduce it now nicely with your tc command.

[2016-05-02 23:47] mindisfree commented on #2891
Hello any updates on this. New to smart cards and running MAC OS X 10.11.4 trying to run freeRDP. Here is the command i am running xfreerdp +sec-nla /f /d:us /smartcard: /v:IPhere
Get this error: (it takes the password)
loading channel rdpdr
loading channel rdpsnd
Warning xf_GetWindowProperty (177): Property 302 does not exist
connected to IPHERE .248:3389
Password:
SSL_read: Failure in SSL librar

[2016-05-03 05:24] HenryJacques commented on #2891
@mindisfree I suggest you open another issue instead of using an already opened post.
That said, your issue has nothing to do with smartcard redirection. First you have an authentication problem. You didn't put the user parameter (/u:user), why is that? By default it will take your session username and that's generally not what you want to do.

[2016-05-03 07:08] akallabeth commented on #3310
@AlexDarkf0x Could you give some further details as
* OS FreeRDP runs on
* RDP server (microsoft? XRDP? other?)

Tested here on debian jessie with 2 redirected printers (cups-pdf and a brother laser printer) works fine with just ```/printer```

[2016-05-03 07:25] sconstantine commented on #775
Any progress or updates to smart card redirection support with OS X?

[2016-05-03 07:26] sconstantine commented on #1220
Any progress or updates to smart card redirection support with OS X?

[2016-05-03 07:31] sconstantine commented on #2891
@HenryJacques, there are a number of open issues for smart card redirection however I'm not seeing much activity in them.  Would it be rude to open yet another issue or better to bump the existing ones?  I believe Felix & @lemonmojo team are aware of it with details, unsure what the hurdles or any plans are though...?

[2016-05-03 07:32] sconstantine commented on #2184
@lemonmojo, any knowledge of progress or updates to smart card redirection support with OS X?  Thx!

[2016-05-03 12:32] sephiroth4 commented on #2184
Yo sconstantine,

I just tried my smartcard this morning to a host and it works fine with osx 10.11.3, royal tsx 2.2.2.1000, and freerdp 2.2.1.1, omnikey 3121.

[2016-05-03 12:39] mindisfree commented on #2891
@HenryJacques  I will open a new issues. The reason why I don't username is I am using a smart card and I will never need to enter a username. It will take that from the smart card it self.

[2016-05-03 12:52] mindisfree opened #3315 "OS X El Capitan v10.11.4 I need to get smart card working with xfreerdp"
Here is the commands I have tried and the errors after. Maybe my syntax is wrong.

**xfreerdp -sec-rdp /f /d:us /smartcard:scard /v:IPHERE**
loading channel rdpdr
loading channel rdpsnd
Warning xf_GetWindowProperty (177): Property 296 does not exist
connected to IPHERE:3389
Password:
SSL_read: Failure in SSL library (protocol error?)
SSL_read: error:14094419:SSL routines:ssl3_read_bytes:tlsv1 aler

[2016-05-03 12:57] bmiklautz commented on #3315
@mindisfree please add the FreeRDP version/buildconfig you are testing with
[code]

[2016-05-03 12:58] HenryJacques commented on #3315
@mindisfree reading your last post in #2891 I see you want to do smartcart login directly from xfreerdp. That is not currently supported...

[2016-05-03 13:01] bmiklautz commented on #3315
@HenryJacques do you know it this is generally supported. I vaguely remember that at least the username is always required.

[2016-05-03 13:54] HenryJacques commented on #3315
@bmiklautz Well no, you can launch xfreerdo without the /u parameter, it will take your linux username by default. I've just tested it to connect to a Windows 7 with just the /p parameter. I had to create a Windows account with the same name as the linux account, though...

However what @mindisfree is trying to achieve is not supported at all!

[2016-05-03 14:03] bmiklautz commented on #3315
@HenryJacques thank for the answer. I'm aware that the linux username is used by default (it was me that added it :). What I was actually wondering is if smart card authentication without supplying any credentials at all is generally supported with RDP (I don't use smart card a lot).

[2016-05-03 14:05] mindisfree commented on #3315
@bmiklautz
xfreerdp /version
This is FreeRDP version 1.1.0-beta1 (git n/a)

[2016-05-03 14:09] mindisfree commented on #3315
I guess I am confused, normal windows rdp will take  smart card login name you type password and it will carry that over to the rdp session. So with MAC and xfreerdp that is not possible? What are other people doing when required to use smart card to rdp into windows servers from a MAC.

[2016-05-03 14:12] bmiklautz commented on #3315
@mindisfree just to re-check. You tried this with a windows client?

[2016-05-03 14:16] mindisfree commented on #3315
@bmiklautz With the native RDP client from windows not using xfreerdp. I now have a MAC and have to use a smart card to connect to windows servers and trying to get that to work.

[2016-05-03 14:18] bmiklautz commented on #3315
@mindisfree I think @HenryJacques is right and this is currently not supported with xfreerdp. However you could give the Microsoft Client (Microsoft Remote Desktop) on OS X a try (can be found in app store).

[2016-05-03 14:22] HenryJacques commented on #3315
@bmiklautz ouch sorry ;) I was wondering why a FreeRDP dev would ask me this!
Concerning your question about smart card authentication without supplying any credentials, yes it is supported with RDP. Well at least mstsc!

What it does, it that mstsc takes the first X.509 cert with the "Microsoft Smartcardlogin" X509 Extended Key Usage; It then uses the X509 Subject Alternative Name which has to be

[2016-05-03 14:23] mindisfree commented on #3315
@bmiklautz I have tried most if not all other rdp clients for OS X. I was told by activeclient that the only supported RDP client would be xfreerdp.. That has lead me here.
@HenryJacques is there a workaround like I have to use the username username@DOMAIN(this is what is does on windows.

[2016-05-03 14:30] bmiklautz commented on #3315
@HenryJacques thanks for the info ;). I really need to get some proper smart card test environment here. Maybe at some time if time permits.

[2016-05-03 14:39] HenryJacques commented on #3315
@mindisfree no there are no workaround.

[2016-05-03 14:44] HenryJacques commented on #3315
@bmiklautz you have an example here: [http://docplayer.fr/docs-images/18/887966/images/8-0.png](url)

It's in French but the essential is here. You can see the UPN extracted from a certificate in the smartcard (ending with "@cart..."). And it only asks for the card PIN code.

[2016-05-03 14:48] HenryJacques commented on #3315
@mindisfree I assume you also just want to enter the smartcard PIN code and not the Windows' password, right?

[2016-05-03 14:50] mindisfree commented on #3315
@HenryJacques Correct the PIN and username from smart card with auth into windows

[2016-05-03 15:28] hardening commented on #3264
@BanHammor @WarheadsSE would you mind give a try to this branch that limits the number of PDUs treated per loops, and should give you a smoother feedback of the inputs https://github.com/hardening/FreeRDP/tree/limit_frames ?

[2016-05-03 15:38] sconstantine commented on #2184
It seems to have 'partial' function, in that the Windows host recognizes a reader now, however unable to query card status.  For example, ActivClient and Remote Desktop clients sit at 'checking status'  indefinitely when trying to use for logon or state query.

Env: OS X v10.11.4 and FreeRDP plugin v3.0.0.8 (with Royal TSX v3.0.0.11 beta)

[2016-05-03 15:44] sconstantine commented on #3315
Appears my issue is the same or at least related (however using OS X, not Linux).  The FreeRDP build I am using is a plugin for the Royal TSX app by @lemonmojo.  It seems to have 'partial' function, in that the Windows host recognizes a reader now, however unable to query card status.  For example, ActivClient and Remote Desktop clients sit at 'checking status'  indefinitely when trying to use for

[2016-05-03 16:05] bmiklautz commented on #3315
@sconstantine for  Royal TSX  related issue please use their issue tracker.

[2016-05-03 16:38] sconstantine commented on #3315
I have; however, the issue is not with RoyalTSX but the FreeRDP plugin and it's capabilities so hoping to find traction here...  thanks~

[2016-05-03 16:49] mindisfree commented on #2184
Can I ask how you got Royal TSX to try smart card with freerdp? I have same version of Royal TSX and FreeRDP plugin and using activeclient as well.

[2016-05-03 16:56] sconstantine commented on #2184
I only require redirection to use my smart card from within the connected session (vs initial credential auth to the remote session) so I am choosing the checkbox for "Smart Cards" under the redirection properties of the connection.

[2016-05-03 17:11] mindisfree commented on #2184
@sconstantine Yeah I did the check box for smart cards but it still want my login and it should be grabbing the smart card login and asking for PIN. Did you have to do anything more than the check box in Royal TSX?

[2016-05-03 17:55] sephiroth4 commented on #2184
Edit the RDC settings.

On the connection settings:
**Common -> Credentials**
"Do not use any credentials"
**Advanced -> Advanced -> Authentication tab**
deselect "Network Level Authentication (NLA) check box
**Advanced -> Redirection**
select "Smart Cards" check box
 Save and merge try to connect with smart card after hovering over switch user (on server 2k8 anyway :))

[2016-05-03 18:34] mindisfree commented on #2184
So I get an error right away. I set up like listed above.
The connection failed. (Error Code: CONNECTERROR)

[2016-05-03 19:58] mindisfree opened #3317 "OS X 10.11.4 rdesktop v1.8.3 WARNING: Not compiled with smartcard support"
I install rdesktop v 1.8.3 as it stated support for smart card and windows 2012 r2. I could have missed some thing. I just ran sudo port install rdesktop no error on install and no broken files.

rdesktop -x m -r scard IPHERE
WARNING: Not compiled with smartcard support
Autoselected keyboard map en-us
Failed to connect, CredSSP required by server.

[2016-05-04 08:36] bmiklautz commented on #3317
@mindisfree you are in the wrong issue tracker this is the FreeRDP project and **not** rdesktop

[2016-05-04 08:36] #3317 closed

[2016-05-04 08:44] bmiklautz commented on #3114
I tried to pin point the real problem I didn't figure out why but it seems that windows 7 and Windows 2008 R2 Server don't send any updates if the early capability RNS_UD_CS_SUPPORT_MONITOR_LAYOUT_PDU is set and the "Font Map PDU" was received. I also did some testing with different versions of the Microsoft client also on Android against the sample server and none of them sent the support monitor

[2016-05-04 08:52] AlexDarkf0x commented on #3310
Centos 6, 32 bits.
RDP is microsoft  2012 farm + broker.

I no longer have the 2 printers there now, but can ask someone to connect another one, and do the tests and send you any logs you wish.

[2016-05-04 09:34] mfleisz commented on #3114
Just verified the problem with latest mstsc on Windows 10 (version 10.0.10586) using NEWT (Network Emulator for Windows Toolkit) to simulate network delay. When enabling multi-monitor support the client hangs after the connection sequence and doesn't receive any data from the server anymore. So this must be a MS server-side bug with Windows7/2008R2.

[2016-05-04 09:36] bmiklautz commented on #3114
@mfleisz thanks for testing. Really good to know. So we probably should really make this configurable.

[2016-05-04 09:37] mfleisz commented on #3114
@bmiklautz Yes - for now I think we can def. merge #3318 and make it configurable with another PR.

[2016-05-04 09:59] bmiklautz commented on #3114
It seems that disabling the bitmap cache resolves this issue (tested with mstsc and xfreerdp)
@giox069 could you verify if this solves the problem for you as well?
* use a current build without PR #3318
* run with -bitmap-cache

[2016-05-04 10:24] hardening commented on #3114
just wondering if we could have tip that would allow us to not announce this flag is the remote server is potentially buggy...

[2016-05-04 10:28] bmiklautz commented on #3114
@hardening good question. We probably could disable the bitmap cache capabilities but not sure if we can reliably detect only those two operating systems.

[2016-05-04 11:54] giox069 commented on #3114
@bmiklautz I tested the latest freerdp in the master branch with "-bitmap-cache", but the screen is still freezing.
With PR #3318 the prolem seems to be solved.

[2016-05-04 12:11] bmiklautz commented on #3114
@giox069 interesting. I haven't managed to get the freeze without bitmap compression :). Thanks for your feedback.

[2016-05-04 14:18] flega68 opened #3319 "Wrong time stamp"
Hi,

Every time I copy a file from the server to a redirected drive the modification date is set to 2011-07-15.
When I save a file directly to the share, time stamps are set correctly. This behaviour is relativly new. But I don't remember in wich version it first  occured.

FreeRDP version 2.0.0-dev (git f828595)

[2016-05-05 06:44] lucadistefano commented on #3058
tried with cmake version 3.5.1 and options
-DMONOLITHIC_BUILD=ON -DBUILD_SHARED_LIBS=OFF -DWITH_SSE2=ON -DWITH_CUPS=ON -DWITH_PULSE=ON -DWITH_JPEG=ON -DWITH_PCSC=ON -DWITH_OSS=OFF -DWITH_MBEDTLS=ON

....
CMake Error: install(EXPORT "FreeRDP-ClientTargets" ...) includes target "freerdp-client" which requires target "cliprdr-client" that is not in the export set.
CMake Error: install(EXPORT "FreeRDP

[2016-05-06 07:16] bmiklautz commented on #3058
@lucadistefano this is a "known" issue when you build with cmake > 3.4 and use -DBUILD_SHARED_LIBS=OFF

[2016-05-06 09:22] AlexDarkf0x commented on #3310
Logs (NLA lines removed)

Redirecting using /printer
Result : No printers redirected

[code]

Using 2 printers explicitly :
Result : In log i can see the 2 printers, but on rdp machine, only the 1st is redirected.
[code]

[2016-05-06 09:55] hombibi opened #3320 "Missing libxfreerdp-client.so in nightly build Ubuntu Xenial repo?"
A little while ago I had some issues with the default build for Ubuntu (Gnome, x64), hence I was suggested to move to the nightly builds.  That has been working very well but today I found I can not start an rdp session anymore.

The error message is "/opt/freerdp-nightly/bin/xfreerdp: error while loading shared libraries: libxfreerdp-client.so: cannot open shared object file: No such file or dire

[2016-05-07 02:33] docsmooth commented on #3320
`$ ldd /opt/freerdp-nightly/bin/xfreerdp
        linux-vdso.so.1 =>  (0x00007ffd2ebd0000)
        libxfreerdp-client.so => not found
        libfreerdp-client.so.2 => /opt/freerdp-nightly/bin/../lib/libfreerdp-client.so.2 (0x00007f2dbbb38000)
        libwinpr.so.2 => /opt/freerdp-nightly/bin/../lib/libwinpr.so.2 (0x00007f2dbb84b000)
        libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007f2db

[2016-05-09 05:58] Olmer1st commented on #3309
Hi,
any idea?

[2016-05-09 07:53] bmiklautz commented on #3320
@docsmooth thanks for your analysis but the "regular" packages don't have anything todo with the nightly packages. In fact they are not compatible that's why the nightly packages are installed into /opt.
@hombibi thank you for the report. I'll have a look.

[2016-05-09 08:50] Chrispy111 commented on #3286
I had this Problem too.  It appears that freeRDP Colors were switched to x11 Colors without any regard to Windows and the /gdi:sw is too slow and broken when it Comes to scaling.  It would be nice if the Colors were handled differently for each System.  If you want to put it back check out orders.c and Color.c, they both have inverted reading of Color and Bitmaps, plus in wf_gdi.c they switched to

[2016-05-09 08:58] bmiklautz commented on #3320
@hombibi once #3321 is merged and the nightly built is run the problem should be solved.

[2016-05-09 11:16] bmiklautz commented on #3320
Until the package is re-build just install freerdp-nightly-dev as work around for now. This should fix the issue.

[2016-05-09 14:31] #1871 closed

[2016-05-09 15:33] hardening commented on #3309
@Olmer1st would you mind trying with a master nightly build to see if the problem is still present upstream (14.04 is... well... old)

[2016-05-09 15:50] akallabeth commented on #3310
@AlexDarkf0x Sorry for the delay, I can see you are using quite a lot of other channels too? Could you post your command line, looks like there is some interaction issue involved (or test with just redirected printers without smartcard and others) to narrow down the issue.

[2016-05-09 19:22] AlexDarkf0x commented on #3310
Hi Akallabeth,
Most channels are variable, as the command itself is constructed based on the hardware of the machine, but its something like this :

[code]

I'm not sure if i tryied just the /printer options removing all the rest, but on my test vm i dont have usb and smartcard, so i tryied with :
`xfreerdp $HOME/farmhcv.rdp /f /log-level:DEBUG /d:JMS /cert-ignore /serial:COM3,/dev/ttyS0 /u:$usern

[2016-05-09 20:17] sergsalo opened #3322 "Does FreeRDP work with TLS 1.0 disabled?"
When I disable TLS 1.0 on my windows server 2012 R2, and enable NLA - I can't connect to that machine anymore. When TLS 1.0 is enabled and NLA is enabled FreeRDP v 1.1 (latest stable) seems to be working fine, but latest from master isn't working. If I disable NLA - and connect via /sec:rdp - latest from master works.

Client: Windows Server 2012 R2
Target: Windows Server 2012 R2
/sec:nla

--Lates

[2016-05-09 20:40] sergsalo commented on #3322
--Latest from master
NLA Disabled
TLS 1.0 Disabled (TLS 1.2 enabled)
Result: works

[2016-05-09 20:42] byteboon commented on #3322
Does it work if you try to connect using the machine's IP address instead of the hostname?

[2016-05-09 20:59] sergsalo commented on #3322
yes! works with IP. Is this a bug?

[2016-05-09 21:08] byteboon commented on #3322
I think so, but haven't filed it yet because I'm trying to see if I can figure out what's happening. The symptom for us is that it only happens when using hostname on a domain connected computer. Maybe I'll go ahead and file now so I can add more details.

[2016-05-09 21:13] sergsalo commented on #3322
yes, i have exactly the same symptoms - only for domain connected computers.

[2016-05-09 21:26] byteboon opened #3323 "NLA Connection fails when using hostname on domain connected machines"
If you use a hostname to attempt to connect to a domain connected machine from a domain connected machine on the same domain, the connection is dropped. If you attempt the same connection using the IP address, it succeeds.

Here's what we know so far:
- using the hostname in this scenario (two domain connected machines) causes SPNEGO to use Kerberos because the SPN is known to the domain controlle

[2016-05-09 21:27] byteboon commented on #3322
I have submitted a new bug with the details I know so far. #3323

[2016-05-09 21:55] sergsalo commented on #3322
cool, thank you! so, according to your findings NTLM is used instead of Kerberos when IP address is used instead of hostname?

[2016-05-09 22:26] byteboon commented on #3322
Yes, I can see the negoToken starts with NTLMSSP when using IP (or non-domain).

I found this page with a pretty graphic of the DC's decision tree: https://sqlactions.com/2013/10/22/lets-drill-why-you-cannot-generate-sspi-context/

[2016-05-09 22:57] sergsalo commented on #3322
thank you! this http://www.darkoperator.com/blog/2012/3/17/configuring-network-level-authentication-for-rdp.html also helped me to grasp some of this NLA stuff.

[2016-05-09 22:59] byteboon commented on #3308
STATUS_LOGON_FAILURE means "The attempted logon is invalid. This is either due to a bad username or authentication information."
https://msdn.microsoft.com/en-us/library/cc704588.aspx

[2016-05-10 06:45] Olmer1st commented on #3309
@hardening Done. Same behavior.

[2016-05-10 07:14] BrianChangchien opened #3324 "Build FreeRDP-Android on Ubuntu 14.04"
I want to build FreeRDP for android in Ubuntu14.04 64bit

my NDK : android-ndk-r11c and SDK : r24.4.1

I reference https://www.youtube.com/watch?v=vGOcPH5UXJM  the video to construct the library

so i git clone https://github.com/bmiklautz/android-external-openssl-ndk-static to /home/user/WorkPrj/android-external-openssl-ndk-static

and run ndk-build. then it generate libcrypto.a and libssl.o in /

[2016-05-10 07:15] akallabeth commented on #3310
@AlexDarkf0x Well, depends what the .rdp file contains ;) best would be without the .rdp file altogether.

[2016-05-10 07:34] akallabeth commented on #3310
@AlexDarkf0x Maybe you have an issue with the drivers used. by default cups redirection uses ```MS Publisher Imagesetter``` for all printers. If you require something more specific you should use ```/printer:<device>,<driver>``` (be careful to match the windows driver name exactly)
I've tried your settings and command line (without the broker setup) here against win 7, 8, 8.1 and 10 and it works a

[2016-05-10 07:45] akallabeth commented on #3304
@GreyGnome Sorry, forgot about this thread, mea culpa. If you have two screens you can just use ```/multimon``` without additional arguments and the local multimonitor setup will be reflected. (even different resolutions)

[2016-05-10 09:00] akallabeth commented on #3324
@BrianChangchien Have a look at ```docs/README.android``` in the FreeRDP git repo. There are already convenience scripts to generate the Android Studio project and all required native libraries. You have been following an outdated howto.

[2016-05-10 09:00] #3324 closed

[2016-05-10 11:59] BrianChangchien commented on #3324
Hi akallabeth

I have question about setting SCRIPT_PATH in android-build.conf problem

if my FreeRDP-master locate in /home/WorkPrj/FreeRDP-master/

how do i set realpath ?

SCRIPT_PATH=$(dirname "${BASH_SOURCE[0]}")

SCRIPT_PATH=$(realpath "$SCRIPT_PATH")

2016-05-10 17:01 GMT+08:00 akallabeth <notifications@github.com>:

[2016-05-10 12:34] AlexDarkf0x commented on #1812
Ok, using the above command doesn't redirect also.
Using Bellow command, no redirect also.

`xfreerdp /f /log-level:DEBUG /d:JMS /cert-ignore /u:XXXXX /p:XXXX /printer  /load-balance-info:"tsv://MS Terminal Services Plugin.1.FARMHCV" /v:FARMHCV.JMS.JMELLOSAUDE.PT`

Like i said before, manully putting multiple /printer:<prnname>,"driver", only the 1st gets redirected

Using /printer:<prnname> with

[2016-05-10 12:35] AlexDarkf0x commented on #3310
Ok, using the above command doesn't redirect also.
Using Bellow command, no redirect also.

`xfreerdp /f /log-level:DEBUG /d:JMS /cert-ignore /u:XXXXX /p:XXXX /printer  /load-balance-info:"tsv://MS Terminal Services Plugin.1.FARMHCV" /v:FARMHCV.JMS.JMELLOSAUDE.PT`

Like i said before, manully putting multiple /printer:<prnname>,"driver", only the 1st gets redirected

Using /printer:<prnname> with

[2016-05-10 12:41] mnowaksuse opened #3325 "Protocol Security Negotiation Failure while connecting to VM on WS2016 (TP5)"
I am unable to connect to a VM running on Hyper-V from Windows Server 2016 (tech preview 5) via `xfreerdp /u:Administrator /p:'password' /v:IP /cert-ignore /vmconnect:fc883f5f-0e4c-418f-aa3d-a07aa138e8a1` (xfreerdp is from https://build.opensuse.org/package/show/home:hendwolt/freerdp, gitrelease is "git20160504" on openSUSE Tumbleweed):

[code]

Non-vmconnect connection is fine.

This may be - par

[2016-05-10 13:02] akallabeth commented on #3324
@BrianChangchien Just leave it as it is ;) It will always point to the path of the file

[2016-05-10 13:24] BrianChangchien commented on #3324
So i don`t modify the file, is it right?
2016年5月10日 下午9:02於 "akallabeth" <notifications@github.com>寫道：

[2016-05-10 22:24] hombibi commented on #3320
@bmiklautz As work around I switched back to the package from the original ubuntu repo. That will do for now, looking forward to the next nightly build. Thank you very much for looking into the issue.

[2016-05-11 01:56] BrianChangchien commented on #3324
Hi akallabeh,

when i run ./scripts/android-build-freerdp.sh --ndk <ANDROID_NDK> --sdk
<ANDROID_SDK>
i can build openh264.so openssl.so libcrypto.so in jniLibs/armeabi
but when run Build and install the library , will show msgs

[RUN] cd /home/user/WorkPrj/FreeRDP-master
[RUN] mkdir -p ./scripts/../build/freerdp-build/armeabi
[RUN] cd ./scripts/../build/freerdp-build/armeabi
[RUN] export ANDROID_N

[2016-05-11 03:41] BrianChangchien opened #3326 "Run android-build-freerdp.sh error on Ubuntu 14.04"
Hi, All
when i run ./scripts/android-build-freerdp.sh --ndk <ANDROID_NDK> --sdk <ANDROID_SDK>
i can build openh264.so openssl.so libcrypto.so in jniLibs/armeabi
but when run Build and install the library , will show msgs

[RUN] cd /home/user/WorkPrj/FreeRDP-master
[RUN] mkdir -p ./scripts/../build/freerdp-build/armeabi
[RUN] cd ./scripts/../build/freerdp-build/armeabi
[RUN] export ANDROID_NDK=/hom

[2016-05-11 06:59] hardening commented on #1812
@akallabeth isn't it possible that on reconnect we reset data associated with the printer channel, and so printers aren't redirected as expected ?

[2016-05-11 07:41] bmiklautz commented on #3320
@hombibi @akallabeth merged the PR a minute ago and the nightly packages are building right now. Sorry for the delay.

[2016-05-11 08:00] akallabeth commented on #3326
@BrianChangchien Just tested on a fresh 14.04 installation:
* You need ```realpath```, ```cmake``` and ```git``` installed
* Just clone ```git clone https://github.com/freerdp/freerdp```
* Run ```./scripts/android-build-freerdp.sh --ndk <path to your NDK> --sdk <path to your SDK>```
* Continue with android studio

So best retry with a clean workspace.
If you still have issues, please use the FreeR

[2016-05-11 08:00] #3326 closed

[2016-05-11 08:05] BrianChangchien commented on #3326
Hello , akallabeth

Thanks your response
Could you show me how to set realpath, or how to edit a success cmd about
SCRIPT_PATH=$(realpath "$SCRIPT_PATH") plz.......

2016-05-11 16:00 GMT+08:00 akallabeth <notifications@github.com>:

[2016-05-11 08:21] hardening commented on #3309
Ok so it seems like xrdp violates the spec in another different way than mstsc and rdpsh (see code to understand)

[2016-05-11 08:40] Olmer1st commented on #3309
Please note,  it's not happens in version freerdp 1.1.
That mean this bug started from freerdp 2.0....

[2016-05-11 08:52] hardening commented on #3309
Well you says bug, I'd say we're doing more checks. So a malicious server can not trick us.

[2016-05-11 09:50] hombibi commented on #3320
Installed the new nightly build an hour ago, it appears to work great again. Thanks very much. Closing the issue.

[2016-05-11 09:50] #3320 closed

[2016-05-11 12:14] tsdh commented on #3121
@bmiklautz This is in fact the single problem why I keep on using rdesktop instead of freerdp.

I use a German Dvorak Type II layout (which is available by default on Linux/X11 but not Windows).  When I connect to some remote Windows machine, I think I get a US Dvorak layout where, e.g., the T and the R, are on different positions than in the German variant.  I can hardly type anything.

With rdes

[2016-05-11 12:56] akallabeth commented on #3326
```apt-get install realpath```

[2016-05-11 13:02] akallabeth commented on #1812
@hardening That would explain #3310

[2016-05-11 13:30] DatBewar opened #3327 "Possibility of embedding FreeRDP clients in custom application?"
Hi, i'm currently on the implementation of FreeRDP within a [Sip VoIP software](https://github.com/BelledonneCommunications/linphone-desktop/tree/dev_screensharing).
I would like to know if you plan to ship FreeRDP clients(xfreerdp, wayland) so that one can use them from within his/her own application like the shadow server?

[2016-05-11 13:54] bmiklautz commented on #3327
@DatBewar I'm not exactly what you mean with ship like shadow server. Currently you can use the xfreerdp functionality quite simply by running cmake with -DWITH_CLIENT_INTERFACE=ON -DCLIENT_INTERFACE_SHARED=ON  all you then need to do is add some "glue" code like in client/X11/cli/xfreerdp.c.

[2016-05-11 13:56] spimenov commented on #3309
wfreerdp.exe (master I got yesterday, built locally with VS2015) was used to connect from Windows 10 to Windows 2012R2:
"wfreerdp.exe /v:<target>" : clipboard doesn't work
"wfreerdp.exe /v:<target> +clipboard" : clipboard works from the target to the host only. Doesn't work other way.
Clipboard was used to copy plain text from notepad to notepad.

[2016-05-11 13:59] bmiklautz commented on #3309
@spimenov your issue is not related to this one.

[2016-05-11 14:20] BrianChangchien commented on #3326
Yes,thx
2016年5月11日 下午8:57於 "akallabeth" <notifications@github.com>寫道：

[2016-05-11 14:25] DatBewar commented on #3327
@bmiklautz I install FreeRDP library in a custom prefix first and then build my software, searching FreeRDP as a system dependency from that prefix.
But even with `-DWITH_CLIENT_INTERFACE=ON -DCLIENT_INTERFACE_SHARED=ON`, it seems that FreeRDP clients do not install their header files. For instance I believe that xFreeRDP should install `xf_client.h` but that's not the case.
Am I doing it wrong or

[2016-05-11 15:26] hardening commented on #3121
The supported RDP layout are there:
https://technet.microsoft.com/en-us/library/cc766503%28WS.10%29.aspx

Can you find yours here ?

[2016-05-11 15:35] hardening commented on #3121
it would be interesting to see the output of setxkbmap -print

[2016-05-11 15:54] tsdh commented on #3121
@hardening Nope, it's not on that list.  There's just US Dvorak and US Dvorak for right hand.  `xfreerdp /kbd-list` list also " United States-Dvorak for left hand" and "United States-Programmer Dvorak", so it seems freerdp already supports more layouts than those on this list.

And here's the `setxkbmap -print` output:

[code]

As you can see, I also made CapsLock a third Ctrl (Emacs user ;-)).  H

[2016-05-11 16:15] Olmer1st commented on #3309
@hardening  How I can help you? Additional tests?

[2016-05-11 17:03] hardening commented on #3309
@Olmer1st you could probably also report the bug to the xrdp team, as short formats length is supposed to be a multiple of 36.

[2016-05-11 17:41] byteboon commented on #3327
The source code for the clients (the code in the clients directory) is intended to create stand alone executables. These source files are not part of libfreerdp, but are consumers of it that may be used as examples for how you can create your own clients or embed a client within your own application. You will need to make extensive modifications to the client code to embed them in another applicat

[2016-05-11 19:54] awakecoding commented on #2421
I have a fix here: https://github.com/FreeRDP/FreeRDP/pull/3329

[2016-05-11 19:54] awakecoding commented on #3325
I have a fix here: https://github.com/FreeRDP/FreeRDP/pull/3329

[2016-05-11 22:27] sergsalo opened #3331 "FreeRDP clipboard MonitorReady event"
it seems to me that in FreeRDP v2.0xx event MonitorReady is not sent anymore. We used this event as an indicator that clipboard is ready to be used. Client and Server are both windows 2012 r2 hosts.

[2016-05-11 22:41] byteboon commented on #3331
We are using 2.0xx code and do receive the MonitorReady call.

We have a PubSub_SubscribeChannelConnected hook that watches for the channel name of CLIPRDR_SVC_CHANNEL_NAME and initializes the cliprdr context callbacks (including MonitorReady). After that, we get the event fine --- so I know it works.

Is this something you had working previously?

[2016-05-11 23:15] sergsalo commented on #3331
seems like that's exactly what we do.
yes, it worked with 1.xx
Good to know it works, so I'll keep digging

[2016-05-11 23:41] sergsalo commented on #3331
@byteboon what version of FreeRDP are you using? maybe i can try build that one and see if there is any difference.

[2016-05-12 00:06] byteboon commented on #3331
We're using an older version of 2.0 with patches in production, but I was able to test with master as of yesterday and it was still working.

[2016-05-12 03:25] daiqifan opened #3332 "freerdp connection failure"
[daiqifan@localhost freerdp]$ xfreerdp -f /bpp:32 /u:ygq /p:*****\* /v:10.15.60.77
[20:20:45:247] [3730:3731] [ERROR][com.freerdp.core.transport] - BIO_should_retry returned a system error 32: Broken pipe
[20:20:45:247] [3730:3731] [ERROR][com.freerdp.core.nego] - Protocol Security Negotiation Failure
[20:20:45:247] [3730:3731] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_SECURITY

[2016-05-12 05:41] akallabeth commented on #3332
@daiqifan did you just post your password? better change that quickly now!

[2016-05-12 05:44] daiqifan commented on #3332
@akallabeth thank you for your reminding.

[2016-05-12 06:44] BrianChangchien commented on #3326
Hi akallabeth

I can build aFreeRD.apk to install to android phone, thx your great help
but I meet connect failed issue now
I prepare a Win7 PC and open RDP protocal , the Win7 PC can remoted by
another PC
then I use aFreeRDP to  setConnectionInfo() and  connect
it will response event OnConnectionFailure(inst) ,How do i log what problem
to connectfailure , could you tell me how to find problem , t

[2016-05-12 07:01] akallabeth commented on #3332
@daiqifan Better also change the password of your RDP account. As for your issue, could you give some details on FreeRDP version and RDP server?

[2016-05-12 07:22] daiqifan commented on #3332
@akallabeth I don't how to check FreeRDP version.  I complied the source code from github yesterday. RDP Server is Win7_64.

[2016-05-12 08:12] DatBewar commented on #3327
Thanks for the confirmation, i will do like that.

[2016-05-12 08:12] #3327 closed

[2016-05-12 08:54] mnowaksuse commented on #2421
I confirm this is fixed (tested with WS 2012 R2).

[2016-05-12 09:01] mnowaksuse commented on #3325
I don't see any output with current tip (9b7c53c), `xfreerdp` exits immediately:
[code]

[2016-05-12 09:15] vp1981 opened #3334 "Session problem since commit a0630de"
Hello,
I see some strange problem: previously (yesterday) I was using freerdp compiled from commit f828595 and it worked fine, today I have built freerdp from commit 967c53c and remmina segfaults when I'm scrolling a web page in Firefox on Windows box (Windows 2012 r2 server).

I compiled freerdp with `CMAKE_BUILD_TYPE=Debug` and ran `xfreerdp` in `gdb`, opened a web page and `xfreerdp` window was

[2016-05-12 09:20] hardening commented on #3334
@vp1981 interesting, would you mind running in valgrind so that we have a more precise idea of what's going on ? (BTW it's rather strange that gdb doesn't resolve symbols)

[2016-05-12 09:21] hardening commented on #3334
@awakecoding I think https://github.com/FreeRDP/FreeRDP/commit/a0630dee07ecf3f84686eb5f77b126fd45f9f457 is yours isn't it ?

[2016-05-12 09:43] bmiklautz commented on #3327
@byteboon what you say is not entirely true. It is in fact possible to use (when built with the above's cmake defines)  libxfreerdp-client by using the RdpClientEntry entry point. That's why I referred to client/X11/cli/xfreerdp.c because it's basiaclly the same what the cli does.

[2016-05-12 09:55] bmiklautz commented on #3332
@daiqifan
[code]

[2016-05-12 10:00] daiqifan commented on #3332
@bmiklautz Thank you.
@akallabeth Freerdp detail information below:

This is FreeRDP version 2.0.0-dev (git c5940d8)
Build configuration: BUILD_TESTING=OFF HAVE_AIO_H=1 HAVE_EVENTFD_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=1 HAVE_SYSLOG_H=1 HAVE_SYS_FILIO_H= HAVE_SYS_MODEM_H= HAVE_SYS_SELECT_H=1 HAVE_SYS_SOCKIO_H=

[2016-05-12 10:04] bmiklautz commented on #3332
@daiqifan the server is reachable and you can connect from another machine? Please also let us know what host you are connecting to.

[2016-05-12 10:11] daiqifan opened #3336 "Multimedia Redirection didn't work well."
Multimedia redirection has some problem:  it is just show a blank video and its error is:
[03:01:33:017] [5219:5220] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[03:01:33:017] [5219:5220] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpsnd
[03:01:33:019] [5219:5220] [INFO][com.freerdp.client.common.cmdline] - loading channel drdynvc
[03:01:33:214] [5219:5220] [

[2016-05-12 10:12] vp1981 commented on #3334
@hardening thank for suggestion to run under `valgrind`, I forgot to do so.

I was eager and ran `xfreerdp` with six different parameters (as `valgrind` suggested):
1. without any parameters https://gist.github.com/vp1981/c2cf8e7995645f222914bf8d7c112bb8 ;
2. with `--track-origins=yes` https://gist.github.com/vp1981/af0df267d77a8e19575bb7f33c62eae4 ;
3. `2.` + `--leak-check=full` https://gist.gith

[2016-05-12 10:39] akallabeth commented on #3336
@daiqifan TSMF is buggy and needs some love. If you just need videos playing properly you can use ```/gfx``` or ```/gfx-h264``` (the latter requires a build against OpenH264)

[2016-05-12 11:24] hardening commented on #3334
@vp1981 Sorry I forgot to tell to compile with valgrind helpers option, or the valgrind traces are unusable.

[2016-05-12 12:45] awakecoding commented on #3334
@hardening yes it is mine, but I fail to see what could cause such issues. It is a relatively simple commit, the main difference being that we now correctly reset the context on PACKET_FLUSHED. Maybe there is something wrong with the context flushing itself.

[2016-05-12 12:47] ropetry commented on #3229
@bmiklautz : hello bmiklautz, tried this now but my messages doesn´t appear. i compiled it and freerdp works..
after that i did a make clean , changed some code and made again a new compiler run, but my changes are not in the generated code.. is make clean not the right thing ?
 i think he still uses some cached code/objects..
thanks roman

[2016-05-12 12:52] vp1981 commented on #3334
@hardening , okey, next round. Now I compiled freerdp with following additional options:
[code]
Now I have run `xfreerdp` on other host but still it segfaults. These are results:
1. running bare `xfreerdp` in terminal, output: https://gist.github.com/vp1981/1517d1f166808d2855bc26a6808d728b ;
2. running `xfreerdp` in `gdb`:
  https://gist.github.com/vp1981/f0d55f17d5a26605d53cd8ae8cfc1b75 ;
3. (the

[2016-05-12 12:58] ropetry commented on #3229
@fadeer : i tried to change your patch to match the new "objects/methodes" style. but had no luck so far.. still trying.to figure it out

[2016-05-12 13:15] ropetry opened #3338 "freerdp Windows Server 2008 R2 - Excel - infinite scroll --> session unusable"
Hello we are facing some performance issues with freerdp. i can reproduce the behavior verry easy, perhaps you to.it was already there with 1.1 and 2.0 has it also.
i use a thinclient with Atom D525 @1,80GHz,m 4 GB Ram: Resolution 1680x1050 or 1920x1200.
Connect in fullscreen mode to a server 2008 r2. start excel.
How to reproduce:
if i have several rows on the screen with some entrys in every col

[2016-05-12 13:24] awakecoding commented on #3334
@vp1981 I have a temporary fix here: https://github.com/FreeRDP/FreeRDP/pull/3339

[2016-05-12 13:40] vp1981 commented on #3334
@awakecoding , yes, that "fix" fixes the problem.

[2016-05-12 14:24] bmiklautz commented on #3229
@ropetry what was your exact change?

[2016-05-12 14:38] akallabeth commented on #3338
yes, yours is a duplicate. closing for that reason.

[2016-05-12 14:38] #3338 closed

[2016-05-12 15:15] byteboon commented on #3327
Ah thanks, @bmiklautz ... I learned something new 👍

[2016-05-12 15:30] ropetry commented on #2193
As my other issue is closed: #3338 . should we try to use this issue to try to solve. the issue is still around in freerdp 2.0 git as of last week. anything we an do to get this down? i will try to verify the +async.update option tomorrow, but today i tested it with the option and the behavior is the same.

[2016-05-12 18:37] byteboon commented on #3322
Just found this today... http://serverfault.com/questions/691247/how-do-i-disable-tls-1-0-without-breaking-rdp which links to a Sept 2015 patch from Microsoft for Win7 and 2008 for TLS >1.0 (https://support.microsoft.com/en-us/kb/3080079)

[2016-05-12 18:46] Rondom commented on #2158
This seems to be a duplicate of #1636 doesn't it?

[2016-05-13 00:22] vp1981 commented on #3334
I confirm that freerdp after commit a75d89d works as usually fine.

[2016-05-13 01:51] daiqifan commented on #3332
@bmiklautz The server is reachable and I can connect from a Win 7 host. But when i use CentOS 6.5, the error occured in probility.

[2016-05-13 02:07] daiqifan commented on #3336
@akallabeth I need multimedia redirection properly.  I used the option  /multimedia:sys:alsa which called TSMF.  Is there any more proper option?  I am look forward to your reply.

[2016-05-13 03:10] jinlong0813 opened #3342 "video not clear with openh264"
Dear Developers,
I use openh264 to login windows 10. When I play high-definition video, the picture is very fuzzy. It's not as clear as it should be. Are there any settings on client or on server side can make it more clear?
![img_20160513_105524](https://cloud.githubusercontent.com/assets/16506647/15236834/3cc02a8c-18fb-11e6-833d-fe75bafd276a.jpg)

[2016-05-13 03:20] byteboon commented on #3323
In the server's RemoteDesktopServices-RdpCoreTS/Operational event log I see:
`The server security layer detected an error (0x80004005) in the protocol stream and the client (Client IP:10.200.1.15) has been disconnected.`

[2016-05-13 05:41] ropetry commented on #3338
@akallabeth : no problem, but all workarounds listed so far are not working.  (+async-update )and this is an issue for 2.x version. is there a way we can work on it.
thanks
roman

[2016-05-13 06:18] #3334 closed

[2016-05-13 06:21] hardening commented on #2193
Hello all,
some time ago I did a test branch to see if limiting the packets treated per loop would improve the input latency, would you mind give a try ?

https://github.com/hardening/FreeRDP/tree/limit_frames

[2016-05-13 06:25] hardening commented on #3338
As noted in #2193 I did an experiment in https://github.com/hardening/FreeRDP/tree/limit_frames Does it improve things for you ?

[2016-05-13 06:32] ropetry commented on #2193
@hardening  i will try.. one question: on which version of freerdp is it based on ? so i can see what other issues are not fixed 8-)..
thanks again for pointing me to this..

[2016-05-13 06:37] hardening commented on #3266
I find it rather strange that the frameId 0 is used twice, although the spec doesn't say anything about frame ids.
@xiaoshzx do you have the same without any sound redirection (in case alsa would freeze us) ?

[2016-05-13 06:41] hardening commented on #2193
2.0 of course, 1.1 is not developed or maintained actively :)

[2016-05-13 06:42] akallabeth commented on #3336
you need to compile with gstreamer support (ffmpeg success varies) and a debugger in case it does not work stable. last time I checked clang scanbuild gave some hints on errors.

[2016-05-13 07:43] ropetry commented on #2193
@hardening : just downloaded and compiled a static version with the following options:
#!/bin/bash
cmake \
        -DCMAKE_BUILD_TYPE=Debug \
        -DCMAKE_C_FLAGS="$RPM_OPT_FLAGS" \
        -DCMAKE_INSTALL_PREFIX=/opt/freerdp \
        -DCMAKE_SKIP_INSTALL_RPATH=ON \
        -DSTATIC_CHANNELS=OFF \
        -DWITH_ALSA=OFF \
        -DWITH_FFMPEG=ON \
        -DWITH_GSTREAMER_0_10=ON \
        -

[2016-05-13 08:18] hardening commented on #2193
@ropetry you can try to lower the value here (let's say 5 instead of 10):
https://github.com/hardening/FreeRDP/commit/00fdc456df3303f592409577bc2c8fd0c117bed7#diff-a8013058ed4679c2ebad5273167deebaR235

I think the best approach would probably be to limit the time spend in that function instead of counting packets...

[2016-05-13 09:52] shekhu025 opened #3343 "rdp_read_bitmap_cache_v2_capability_set getting failed"
I am using lync client 2010 with RDP to share content. When lync client try to share content it set some capabilities according to client . At that time , rdp_read_bitmap_cache_v2_capability_set capability is getting failed because it expect length 40 but it receive the length 28. Due to length mismatch it getting failed.
This capabilities are present in /libfreerdp/core/capabilities.c
My query is

[2016-05-13 11:17] meersjo commented on #2158
@Rondom : It seems so. I believe this is a pretty important feature, which now seems to be outstanding since 2013... For me, it's the only reason I still have a citrix client installed.

[2016-05-13 11:56] wapsi commented on #2158
@meersjo :+1:  I strongly agree.

[2016-05-13 16:27] jocull commented on #1036
CTRL-ALT-Enter also conflicts with the VMware fullscreen hotkeys in my case.

[2016-05-13 19:32] WarheadsSE commented on #3264
@hardening While this does prevent the session from freezing on my client, the delay in further input can still be quite significant. (I test on: 2003 R2, Outlook 2007, Inbox with > 10K items, holding down the scroll space between the scroll bar and the down arrow)

[2016-05-14 05:04] byteboon commented on #3323
I found the bug... will submit a patch soon.

[2016-05-14 06:36] sergsalo commented on #3323
that's great! we implemented workaround to resolve to IP, but it would be much better when we don't need to hack around it! thanks

[2016-05-14 23:00] sunweaver opened #3345 "wlfreerdp does not have a man page"
The Wayland FreeRDP client is probably very identical to the X11 FreeRDP client regarding information provided on their man pages.

Currently, the Wayland FreeRDP client does not have a man page. My recommendation is to ship one man page for both packages and symlink wlfreerdp -> xfreerdp. The man page would only need minor changes, e.g. in the NAME field, the SYNOPSIS field,  the DESCRIPTION fiel

[2016-05-14 23:02] sunweaver opened #3346 "winpr-utils man pages missing"
The winpr-utils executables currently don't have man pages. It was highly appreciated by disto-maintainers if upstream could provide those man pages.

[code]

[2016-05-14 23:03] sunweaver opened #3347 "freerdp-shadow-cli does not have a man page"
The executable freerdp-shadow-cli does not have a man page. I'd highly welcome having one provided by upstream.

[code]

Thanks!

[2016-05-16 15:35] chandramouligoru commented on #3279
@akallabeth do you have any update on this?

[2016-05-16 16:23] alexmela78 opened #3348 "FreeRDP process freezed when I used SSL connection"
Hi guys I have freerdp installed on windows 2012r2.
I'm doing a lot of testing before I put it in production.
but I have some problem to use ssl connection

If I use HTTP, no problem... everything it's ok
if I use HTTPS first connection is established but screen is blocked and from that moment I have to kill wsgate.exe process to be able to use it again.
I try with default port, alternative port,

[2016-05-16 17:50] byteboon commented on #3322
@sergsalo does my patch on #3323 resolve this for you?

[2016-05-16 18:31] mbroadst commented on #3058
@bmiklautz is there a workaround for it then?

[2016-05-16 18:48] sergsalo commented on #3322
yes, it works!

[2016-05-17 07:32] akallabeth commented on #3279
@chandramouligoru My work has been delayed by other duties. Will need some time to be finished.

[2016-05-17 08:10] bmiklautz commented on #3058
@mbroadst for now the workaround is to use cmake < 3.5. I'll have a look once I get around do it.

[2016-05-17 12:52] bmiklautz opened #3350 "static builds with cmake 3.5"
building with _-DBUILD_SHARED_LIBS=OFF_ causes problems with cmake 3.5

[code]

[2016-05-17 12:52] bmiklautz commented on #3350
Older version of cmake don't report this error but the exported targets might be incomplete.

[2016-05-17 12:53] bmiklautz commented on #3058
@mbroadst I've created an issue for that #3350

[2016-05-17 13:00] bmiklautz commented on #3268
@weberhofer I started working on splitting up the sub-packages and adding build options based on your OBS package similar to the Debian package. Maybe you can contact me via email (for address see FreeRDP commits ;) or drop by in IRC.

[2016-05-17 13:03] mbroadst commented on #3350
@bmiklautz thanks for opening this, please let me know if I can help in any way

[2016-05-17 13:07] bmiklautz commented on #3350
@mbroadst thanks for the offer. I'm already found the problem and know how to fix it but haven't had the time to do it yet ;).

[2016-05-17 14:54] bmiklautz commented on #2695
Basically done. Followup #3350

[2016-05-17 14:54] #2695 closed

[2016-05-17 18:42] Conan-Kudo commented on #2839
@mike-jumper I believe it refers to the latter case (the API should be stable up to the 2.0 release, and after 2.0, they will be more willing to break the API). Unless I'm misinterpreting @bmiklautz, you should be in the clear until after 2.0 is released.

[2016-05-18 06:45] Olmer1st commented on #3309
As I see xrdp teem not so responsive. Might be it can be resolved from your side? Currently I can't work remotely... Or I should disable clipboard synchronization or install older version of FreeRDP, which have other clipboard issues....

[2016-05-18 07:40] DatBewar commented on #3332
Wouldn't be a missing of security option on your CentOs 6.5?

[2016-05-18 08:32] awb99 opened #3351 "feature request: hidpi client"
I am on a hidpi display (Lenovo Yoga 3)  and rdp into a win7 virtual machine. The windows are really small; it would be great feature to have a zoom in, so say you double all pixels, so that the
remote screen is better readabe.

[2016-05-18 09:00] maqg opened #3352 "How to compile afreerdp with multimedia redirection support?"
I want to compile an android apk with multimedia redirection, what should I do?

[2016-05-18 09:26] #3348 closed

[2016-05-18 09:39] bmiklautz commented on #2839
@mike-jumper @Conan-Kudo the split of the libraries (server, client, ...) won't change any more but the  API itself can't be considered as (completely) stable until the 2.0 release. There will be some changes but not that kind of completely renaming libraries or moving around everything..

Once we've released we'll try to maintain the stable API. If breaking changes are necessary we'll split of a

[2016-05-18 12:32] bmiklautz commented on #3309
@Olmer1st I haven't had time to look into this issue in detail yet. However if it is a protocol violation or implementation problem as @hardening stated I don't think it's a good idea to implement a work around for a specific server.

[2016-05-18 13:33] Olmer1st commented on #3309
@bmiklautz Thanks. Anyway something changed between versions of FreeRDP. xrdp not changed... :(

[2016-05-18 14:09] bmiklautz commented on #3309
@Olmer1st as described above haven't looked into the details.. but we did a lot of code hardening and added many protocol checks..

[2016-05-18 15:20] bmiklautz commented on #1650
When specifying the gateway with /g it is also possible to specify the port. As --help describes:
[code]

[2016-05-18 15:20] #1650 closed

[2016-05-18 15:21] bmiklautz commented on #1582
@macarthor 1.1 won't get any updates. We are working towards 2.0

[2016-05-18 15:21] #1582 closed

[2016-05-18 15:30] #3350 closed

[2016-05-18 16:25] akallabeth commented on #3352
it is not implemented. use gfx or you need to port the channel to android.

[2016-05-18 16:25] #3352 closed

[2016-05-19 00:29] iammyownalterego commented on #2128
I uninstalled and reinstalled the "freerdp" package and all was well.
Unfortunately, the version was still "freerdp-1.0.2-5.el7_1.1.x86_64" (unchanged) when I reinstalled, so updated anything is out. My best guess is maybe weird linking as mentioned earlier in this thread???

[2016-05-19 06:21] akallabeth commented on #3342
@jinlong0813 the video quality highly depends on processing latency.  windows 10 also introduces a new video mode (AVC444) which is currently less optimised. you can switch between the two modes with /gfx-h264:avc420 and /gfx-h264:avc444 (check the command line help, pulled this from memory)

[2016-05-19 06:45] hardening commented on #3309
I will have a deeper look.
@bmiklautz BTW we're already doing a lot of workaround for ms servers (with violation of their own protocols), so I think we could add one for xrdp...

[2016-05-19 07:46] Olmer1st commented on #3309
@hardening Thanks!

[2016-05-19 08:00] jk1conan opened #3354 "iOS rotate screen issue"
When I rotate the screen left，everything goes well, but when I click the keyboard, then click done.The desktop disappear and the screen become black, like this.
![8f1e1001-09b7-482d-b664-e4d46b02fc49](https://cloud.githubusercontent.com/assets/18161007/15386451/8a2eacf6-1dda-11e6-92d4-005b6396a463.png)

[2016-05-19 11:02] bmiklautz commented on #3309
@hardening I don't disagree with you on that but usually they all "violate" the protocol in the same way as in it's not documented properly ;)

[2016-05-19 11:21] m0ntana opened #3355 "unclosed file descriptors"
How to reproduce:
freerdp_new();
freerdp_context_new();
freerdp_client_load_addins();
freerdp_connect();
freerdp_disconnect();
freerdp_context_free();
freerdp_free();

No memory leaks but freerdp leaves opened file descriptors.
"too many opened files" error occurs if in loop.

[2016-05-19 13:15] #3354 closed

[2016-05-20 08:38] Hobby-Student commented on #3351
try "/f /smart-sizing:1920x1080" or another desired resolution...

[2016-05-20 08:57] bmiklautz commented on #3355
@m0ntana would you please add more information? https://github.com/FreeRDP/FreeRDP/wiki/BugReporting at least the version you are testing with is required.
Also can you give a running example?

[2016-05-20 11:47] m0ntana commented on #3355
Using freerdp as library for my own project
I have a loop
http://www.heypasteit.com/clip/2O22

Building my project on
Linux m0ntana-lu 3.19.0-15-generic #15-Ubuntu SMP Thu Apr 16 23:32:01 UTC 2015 i686 i686 i686 GNU/Linux
DISTRIB_DESCRIPTION="Ubuntu 15.04"
and
Linux nothing 4.4.0-22-generic #40-Ubuntu SMP Thu May 12 22:03:46 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
DISTRIB_DESCRIPTION="Ubuntu 16.04

[2016-05-20 13:12] bmiklautz commented on #3355
@m0ntana it seems like on each iteration two fds are leaked. As it seems they are eventfd related I'd guess some thread doesn't cleanup correctly.

When running in a loop having a high CPU load like that shouldn't surprise you. You doing a lot of initialization work each time, connect and disconnect without any break..

[2016-05-20 13:16] m0ntana commented on #3355
Yeah, a saw that is eventfd related. But I didn't find what does not close this fds inside freerdp lib

In my loop QThread::sleep() present. But it does not make sense. freerdp_connect() makes high CPU usage.
Maybe, is there any way to not initialize many things in freerdp_connect? So it just try to login and return immidiatly? instance->settings->AuthenticateOnly=true does not help.

[2016-05-20 13:18] m0ntana commented on #3355
By the way. The same code running windows 7 x64 does not have unclosed fds as I can see in task manager

[2016-05-20 14:15] bmiklautz commented on #3355
@m0ntana could you give my branch https://githhub.com/bmiklautz/FreeRDP/tree/eventfd_leak a try. The last commit on this branch ce2554310970e2a7896660987bdfaba2845ea556 fixed the behavior. It's not a clean fix yet but at least we know where the leak happens.

[2016-05-20 15:06] m0ntana commented on #3355
okay! I'll try it in an hour

[2016-05-20 16:43] spimenov opened #3358 "Clipboard doesn't work from the client to the server"
wfreerdp.exe (master built locally with VS2015) was used to connect from Windows 10 to Windows 2012R2:
"wfreerdp.exe /v:<host> +clipboard" : clipboard works from the server (Windows 2012R2) to the client (Windows 10) only. Doesn't work other way.
Clipboard was used to copy plain text from notepad to notepad.

[2016-05-20 16:48] m0ntana commented on #3355
Seems to be ok now.
Letting it run for all night. I'll tell you result tomorrow.

[2016-05-20 20:11] bmiklautz commented on #3355
@m0ntana if this fixes the problem I'll have a look next week to see how to properly fix this.

[2016-05-20 21:00] m0ntana commented on #3355
yep. I think it is 99% fix problem.

[2016-05-20 22:30] bmiklautz commented on #3355
@m0ntana I'm fairly sure there are multiple todos in the code. If you remember at some point what exact problem you fixed we can have a look.. In case it crashes again a gdb backtrace would be interesting.

[2016-05-23 09:48] akallabeth commented on #2193
@hardening What is the loop exactly for? This works quite fine without this blocking while in transport.c...

[2016-05-23 11:38] #3355 closed

[2016-05-23 16:41] byteboon commented on #3323
Fixed is now merged to master.

[2016-05-23 16:41] #3323 closed

[2016-05-23 18:25] #3322 closed

[2016-05-24 01:48] TheOpenDevProject opened #3360 "/multimon Not resizing correctly"
When I enter Multimon mode the initial connection is perfect but when I press `<ctrl>+<Alt>+<Enter>` and then again try to re-enter full screen mode during the same session the screen fails to resize and stays miniature.

![image](https://cloud.githubusercontent.com/assets/6072108/15489694/663de7d4-21a5-11e6-85e9-c8f08e017ec2.png)

Sorry for the blackout I was not able to show the contents of my d

[2016-05-24 07:04] lumm commented on #2802
I have the same question too, but I think I have reproduce the question. Here is my reproducing process。
You have computer A and computer B，which are connected the same route。For instance, you use computer A   to connect rdp server(not computer B rdp server)，then you set compute B mac address  with computer A. After a few seconds, you disconnect computer B network, and reconnect, and repeat three

[2016-05-24 08:33] m0ntana opened #3361 "sigsegv in multithreading"
Using freerdp as library for my own project
I have a loop
http://www.heypasteit.com/clip/2O22
Building my project on
Linux m0ntana-lu 3.19.0-15-generic #15-Ubuntu SMP Thu Apr 16 23:32:01 UTC 2015 i686 i686 i686 GNU/Linux
DISTRIB_DESCRIPTION="Ubuntu 15.04"

OpenSSL ver
ii  openssl                              1.0.1f-1ubuntu11                    i386         Secure Sockets Layer toolkit - cryptograp

[2016-05-24 09:38] bmiklautz commented on #3361
Looks like a multi threaded problem related to SSL.
Are you initializing ssl for winpr?
If not try adding the following somewhere in the beginn of your program.
[code]

[2016-05-24 09:41] bmiklautz commented on #3360
@TheOpenDevProject you are using the package thac comes with Ubuntu 15.10?
If so could you give our nightlpy packagees a try and see if this fixes your issue? https://ci.freerdp.com/job/freerdp-nightly-binaries/

[2016-05-24 09:42] bmiklautz commented on #3323
@byteboon thank you.

[2016-05-24 11:02] mnowaksuse opened #3362 "Viewport is not changing in fullscreen when VM changes it's resolution (WS 2008 R2)"
I connect to a VM running on Hyper-V from Windows Server 2008 R2 via `/vmconnect:GUID`:

[code]

First the resolution is set by the Hyper-V BIOS to 640x480 px, then Grub loads and changes it to 800x600 px but the viewport of xfreerdp does not change, so the output is cropped to 640x480 px. Then resolution is changed in Grub manually to 1024x768 px but the viewport is kept as well so the output is

[2016-05-24 13:06] m0ntana commented on #3361
It now has sigsegv on another place:
#0  0xb7fdbbe0 in __kernel_vsyscall ()
#1  0xb7388057 in __GI_raise (sig=6) at ../sysdeps/unix/sysv/linux/raise.c:55
#2  0xb7389699 in __GI_abort () at abort.c:89
#3  0xb73c619e in __libc_message (do_abort=1, fmt=0xb74c0444 "*** Error in `%s': %s: 0x%s ***\n") at ../sysdeps/posix/libc_fatal.c:175
#4  0xb73cbde7 in malloc_printerr (action=<optimized out>, str=0x

[2016-05-24 13:13] bmiklautz commented on #3361
@m0ntana haven't seen this segfault with any of the official client(s) yet. You are using the latest master?

[2016-05-24 13:16] m0ntana commented on #3361
and one more catched:
(gdb) where
#0  0xb7fdbbe0 in __kernel_vsyscall ()
#1  0xb7388057 in __GI_raise (sig=6) at ../sysdeps/unix/sysv/linux/raise.c:55
#2  0xb7389699 in __GI_abort () at abort.c:89
#3  0xb73c619e in __libc_message (do_abort=1,
    fmt=0xb74c0444 "*** Error in `%s': %s: 0x%s ***\n") at ../sysdeps/posix/libc_fatal.c:175
#4  0xb73cbde7 in malloc_printerr (action=<optimized out>,
    s

[2016-05-24 13:17] m0ntana commented on #3361
currently i'm using
commit ca2d015d7afab8af9523f0313b6846a3cd59f305
Merge: 8110435 8917a3d
Author: Hardening <rdp.effort@gmail.com>
Date:   Tue Apr 19 17:57:53 2016 +0200

[2016-05-24 13:19] m0ntana commented on #3361
also, i make builds for windows (fully statical, does not need any additional libarries or frameworks).
So windows version of my app does not crush on windows (windows 7, windows 2008 server, windows 10 tested).

[2016-05-24 13:27] TheOpenDevProject commented on #3360
@bmiklautz Will do tomorrow. :+1:

[2016-05-24 13:27] TheOpenDevProject commented on #3362
Maybe #3360 related?

[2016-05-24 13:42] m0ntana commented on #3361
made "git pull"
up to
commit cf127ebfb9c7ebf0c8c57c8da6746d481e08d6db
Merge: a722fbf 444b678
Author: akallabeth <akallabeth@users.noreply.github.com>
Date:   Mon May 23 16:21:49 2016 +0200

now it does not build
http://www.heypasteit.com/clip/2OB1

[2016-05-24 13:58] m0ntana commented on #3361
Sorry. Needs to be reconfigured before rebuild.

Still crashes on some "random" places. I'll try now to find conditions to replace.

[2016-05-24 14:02] hardening commented on #3361
@m0ntana valgrind is your friend (and don't forget to compile FreeRDP with valgrind helpers). Apart from that using FreeRDP multi-threaded must be done very carefully.
In my experience, most of the time multi-threading is not needed and just adds complexity.

[2016-05-24 14:03] m0ntana commented on #3361
The most common cases:
1)
(gdb) where
#0  0xb7fdbbe0 in __kernel_vsyscall ()
#1  0xb7387057 in __GI_raise (sig=6) at ../sysdeps/unix/sysv/linux/raise.c:55
#2  0xb7388699 in __GI_abort () at abort.c:89
#3  0xb73c519e in __libc_message (do_abort=1,
    fmt=0xb74bf444 "*** Error in `%s': %s: 0x%s ***\n") at ../sysdeps/posix/libc_fatal.c:175
#4  0xb73cade7 in malloc_printerr (action=<optimized out>,

[2016-05-24 14:09] m0ntana commented on #3361
Second common case:
(gdb) where
#0  0xb7fdbbe0 in __kernel_vsyscall ()
#1  0xb7387057 in __GI_raise (sig=6) at ../sysdeps/unix/sysv/linux/raise.c:55
#2  0xb7388699 in __GI_abort () at abort.c:89
#3  0xb73c519e in __libc_message (do_abort=1,
    fmt=0xb74bf444 "*** Error in `%s': %s: 0x%s ***\n") at ../sysdeps/posix/libc_fatal.c:175
#4  0xb73cade7 in malloc_printerr (action=<optimized out>,
    str

[2016-05-24 14:13] realjiangms commented on #2796
Almost a year later, I start to implement a fix. Sorry for late.
The problem could be easily reproduced on client-server where ping reply time > 200ms

[2016-05-24 16:12] bmiklautz commented on #3361
@m0ntana could you please try with the current git master.

[2016-05-24 16:23] m0ntana commented on #3361
commit 53de4b81a6bb43b92411f08cb770731de949de0d
Merge: cf127eb 386d290
Author: akallabeth <akallabeth@users.noreply.github.com>
Date:   Tue May 24 15:41:45 2016 +0200

    Merge pull request #3363 from nfedera/fix-mutex-implementation

    winpr/synch: fix mutex implementation

still getting:
(gdb) where
#0  0xb7fdbbe0 in __kernel_vsyscall ()
#1  0xb7387057 in __GI_raise (sig=6) at ../sysdeps/unix

[2016-05-24 22:48] PhibreOptix opened #3366 "Toggling fullscreen causes hang"
Hi,

I'm using version 1.1.0-beta1 on ubuntu mate 16.04.
Connecting to laptop with the following switches:
xfreerdp \
        /cert-ignore \
        /multimon \
        +fonts \
        /bpp:32 \
        /sound \
        -themes \
        -wallpaper \
        +decorations \
        /u:xxxx \
        /d:xxx
        /p:xxx \
        /v:192.168.0.198

This correctly loads full screen across both my m

[2016-05-25 07:07] hardening commented on #3264
I have updated my patch to limit the time spent, instead of the number of PDU, would you mind give a try ?
https://github.com/hardening/FreeRDP/tree/limit_frames

[2016-05-25 07:46] bmiklautz commented on #3366
@PhibreOptix could you try our nightly builds and see if this problem still happens:
https://ci.freerdp.com/job/freerdp-nightly-binaries/

[2016-05-25 07:48] bmiklautz commented on #2678
#2839

[2016-05-25 07:48] #2678 closed

[2016-05-25 09:01] bmiklautz opened #3367 "GDI color conversion"

[2016-05-25 09:38] RexFan opened #3368 "it needs long time to connect to terminal server by gateway"
Hello, I find it should wait a long time (15 ~ 25s)while connecting to microsoft windows 2012r2 terminal server by gateway.

I use raspberry pi 3 as client, rasbian jessie (debian jessie version 8) with kernel 4.4.9.

xfreerdp version: 2.0.0-dev (git 4e66df7)

xfreerdp command:
xfreerdp /sec:rdp /cert-ignore /u: /f /fonts /drive:*,hotplug /network:modem /sound:sys:pulse /microphone:sys:pulse /v:10

[2016-05-25 09:38] bmiklautz commented on #2922
@volth still happens with the latest master?

[2016-05-25 09:44] HenryJacques commented on #2967
@abma does it still work with the different caches enabled?
(with +bitmap-cache  +glyph-cache +offscreen-cache)

[2016-05-25 10:02] bmiklautz commented on #1811
Closing du to inactivity. Please re-open or create a new issue if this problem still exists on the current mater branch.

[2016-05-25 10:02] #1811 closed

[2016-05-25 10:33] akallabeth commented on #3367
WIP branch: https://github.com/akallabeth/freerdp/tree/color_conversion_fix_v3

[2016-05-25 12:06] hardening commented on #3368
And do you experiment something different using the official MS client ?

[2016-05-25 12:06] PhibreOptix commented on #3366
Issue is not occurring with nightly build, functioning as expected.

[2016-05-25 12:06] #3366 closed

[2016-05-25 12:19] bmiklautz commented on #3366
@PhibreOptix thank you for your feedback.

[2016-05-25 15:29] realjiangms commented on #2796
@psumbera I just checked in fix for this issue. Can we close it?

[2016-05-26 03:01] freerdp-github commented on #1972
@bmiklautz, we kind of got side tracked during this discussion. If I may refresh your memory about this problem. I ended up changing the TCP_KEEPINTVL to 0 which I believe disables it. This or changing it to 75 also works.  I believe we got side tracked just as you were asking @vworkspace if he would change this to use the system values (which are correct in my case) instead of overriding them in

[2016-05-26 03:08] freerdp-github commented on #3030
I don't believe this is related to my problem because we are on the LAN and TCP issues like this should not be occurring. I believe the problem is caused because I was using both the /rfx and /gfx command line option simultaneously which I believe is not correct.

[2016-05-26 06:53] dhavalkamble commented on #733
@yurii-github Yes, it worked for me too. Thank you so much.

[2016-05-26 07:06] akallabeth commented on #3030
@freerdp-github Those options do not interfere with each other. They merely enable support for different features which are only activated if both, client and server support them.

[2016-05-27 03:11] RexFan commented on #3368
Sorry, it should be the server issue. I tested it with another server and it works fine. Thanks.

[2016-05-27 03:11] #3368 closed

[2016-05-27 13:05] ropetry commented on #2193
@hardening : did some more tests and still haven´t found an issue. did you try to get this included in master. perhaps with a "command line argument" option to enable it ?
+1 and thanks so far..

[2016-05-27 22:00] bmiklautz commented on #1972
@freerdp-github just to make sure you are the initial author of this issue (as it seems your account was deleted)?

[2016-05-28 17:02] freerdp-github commented on #1972
Yes I am. Long story why the account was deleted.

[2016-05-30 13:24] nfedera opened #3378 "Maximum number of static virtual channels"
Some quotes from the specs:

1.) [1.3.3 Static Virtual Channels](https://msdn.microsoft.com/en-us/library/cc240461.aspx)

2.) [2.2.1.3.4 Client Network Data (TS_UD_CS_NET)](https://msdn.microsoft.com/en-us/library/cc240512.aspx)

Now what we have in FreeRDP (current master):

[winpr/include/winpr/wtsapi.h#L69](https://github.com/FreeRDP/FreeRDP/blob/69f738f4bc6d981502b814cd73b06684f4f7ddce/winpr/i

[2016-05-31 05:28] langazov commented on #3286
I had the same problem also.
Regards,
Emil

[2016-05-31 10:10] bmiklautz commented on #2128
@julianjm not quite sure what rdesktop has todo with this issue?

[2016-05-31 12:42] crsll commented on #3361
Exacly same for me, same errors.
Just tryed with lastest master.
With winpr_InitializeSSL(WINPR_SSL_INIT_ENABLE_LOCKING)

#0  0x00007ffff71f5295 in raise () from /usr/lib/libc.so.6
#1  0x00007ffff71f66da in abort () from /usr/lib/libc.so.6
#2  0x00007ffff7230d50 in __libc_message () from /usr/lib/libc.so.6
#3  0x00007ffff7236546 in malloc_printerr () from /usr/lib/libc.so.6
#4  0x00007ffff7236d1e

[2016-05-31 12:55] bmiklautz commented on #3361
@crsll can you paste the complete code e.g. as gist? - The once above doesn't compile.

[2016-05-31 13:06] bmiklautz commented on #3361
@crsll @m0ntana looks like the current channel handling code isn't save when used from multiple instances as it uses global variables.

[2016-05-31 13:41] m0ntana commented on #3361
I think we need some system of signals back from freerdp so we can know when non-safe processes finished. Could it be implemented in any way in freerdp code?

[2016-05-31 13:49] bmiklautz commented on #3361
@m0ntana I'm not exactly sure what you mean with "some system of signals.." but with the current code it isn't possible to create a client that has multiple running freerdp instances simultaneously.

[2016-05-31 14:00] crsll commented on #3361
Well, in some cases it's a broken openssl locking mechanism, in other cases global variables as i think, i desided to use fork instead of threads for a while

[2016-05-31 14:08] crsll commented on #3361
As other solution i tryed to compile with mbed_tls support instead of openssl, in this case no problem with openssl locking occures, but mbed_tls support is not complete and i got several problems with protocol negotiation and so on... no techincal details, sorry

[2016-05-31 14:09] bmiklautz commented on #3361
@crsll I don't think that the openssl locking is the main issue in this case. More like that the design itself isn't capable of handling multiple freerdp_instances at the moment.

[2016-05-31 14:21] crsll commented on #2989
Got this problem too, when server begins shutdown process during logon, we got ERRINFO_LOGOFF_BY_USER (0x0000000C) and permanent hang in freerdp_connect()

[2016-06-01 07:25] Alexander-Philipp opened #3380 "Date modified gets lost when File is copied on RDS Host"
Hi,
we are using freerdp 2.0.0.4 and whenever a File is copied on a Windows 2012 R2 RDS Host the modified date gets lost (not visible anymore on Windows Explorer). File Properties Shows 1.1.1970 01:00:00 for modified date.
Users a connecting from CentOS 7 through a Windows 2012 RDS Gateway.

Is this bug already known?

Thanks in advance!
Alexander

[2016-06-01 10:56] rdlaitila commented on #2158
+1 clipboard works in traditional session but not in RAIL

Version:

~$ /opt/freerdp-nightly/bin/xfreerdp --version
This is FreeRDP version 2.0.0-dev (git n/a)

Using:

/opt/freerdp-nightly/bin/xfreerdp +fonts +clipboard /cert-ignore /u:<user> /p:<pass> /app:"||cmd" /v:127.0.0.1

[2016-06-01 13:43] Enverex commented on #2863
Ok, I've just rebuilt from GIT to test this and it's still broken but in a very weird way. Slightly different from Kal above:

If the monitors are different resolutions then FreeRDP appears on the monitor that I've asked it to appear on.

If the monitors are the same resolution then it always just appears on the left (first) monitor, regardless of which monitor it was asked to appear on. This is w

[2016-06-01 15:58] WarheadsSE commented on #2863
@Enverex  is the left monitor also Primary in xrandr?

[2016-06-01 15:59] Enverex commented on #2863
Yes.

[2016-06-01 16:07] WarheadsSE commented on #2863
@Enverex please switch which monitor is primary, and try again. If it follows the Primary monitor, then I have seen a similar behavior in xfwm4 & Citrix. xfwm4 makes use of the GTK monitors list, which is different from the Xinerama/XRandR layouts.

[2016-06-01 16:24] Enverex commented on #2863
I can't test that unfortunately, as I've had to roll-back the systems that were being tested. These machines are running XFCE4 (thus XFWM) though so it sounds like the same issue.

[2016-06-01 16:34] WarheadsSE commented on #2863
@Kal42 this behavior you describe is due to window placement policy in xfwm4. I can attest that it is the exact case I have w/ XFCE bug open.

[2016-06-02 07:44] bmiklautz commented on #3380
@Alexander-Philipp I'm not aware of version 2.0.0.4. Do you have a git tag or similar?

[2016-06-02 08:00] Alexander-Philipp commented on #3380
version 2.0.0-dev (git n/a)

Sry for the mix-up

Von: Bernhard Miklautz [mailto:notifications@github.com]
Gesendet: Donnerstag, 2. Juni 2016 09:45
An: FreeRDP/FreeRDP <FreeRDP@noreply.github.com>
Cc: Alexander Philipp <alexander.philipp@ssw-trading.com>; Mention <mention@noreply.github.com>
Betreff: Re: [FreeRDP/FreeRDP] Date modified gets lost when File is copied on RDS Host (#3380)

@Alexander-P

[2016-06-02 09:09] Enver-Yilmaz opened #3383 "Wrong keymapping of Turkish keyboard on Mac"
Hi,

I like to use FreeRDP on mac. I recently download and build macfreerdp and I have keyboard mapping problem. I new on mac and I don't know the proper way to describe problem but simply two key on Turkish keyboard are mutually wrong. This is a macbook pro and the exact keyboard setting is "Turkish QWERTY PC". The keys are reported as BACKQUOTE and DANISH_DOLLAR on event viewer of Karabiner whic

[2016-06-02 13:15] Enverex commented on #2707
Just adding a note as this is still an issue as of current GIT and renders multi-monitor unusable in OpenBox (for anyone else that doesn't find this bug before spending hours trying to find out why it doesn't work).

[2016-06-02 13:28] Enverex commented on #2707
Same issue in Fluxbox.

[2016-06-03 10:18] DatBewar opened #3385 "Crash in shadow_server_uninit on Mac"
Hello, i have a crash on the mac shadow server when i uninit the server.
You can reproduce it with freerdp-shadow-cli using attached patch on mac only.
Working as expected on Debian 7.

Config :
MacBook Pro
OS X El Capitan
version : 10.11.5 (15F34)

Crash:

[code]

Patch:

[code]

[2016-06-03 18:51] spimenov commented on #3331
We run into similar problem with the new FreeRDP version. MonitorReady was not sent and clipboard didn't work. Problem was in our ServerCapabilities function that returned 1. It looks like old FreeRDP version ignored the return value and our code worked fine. Now FreeRDP checks the returned values and MonitrReady was not sent after that. The fix was simple - ServerCapabilities returns 0. As all ot

[2016-06-03 18:53] #3331 closed

[2016-06-06 08:31] m0ntana commented on #3361
It seems to work on windows 7.
I can make additional tests on windows xp and windows 2008 server

[2016-06-06 10:14] flega68 commented on #3380
Hi,

Same Problem here. All tough my date gets set to xx.07.2011.
xfreerdp version 2.0.0-dev (git 42d2b69)

[2016-06-06 10:18] flega68 commented on #3319
Seems related  #3380

[2016-06-06 10:55] ropetry commented on #3338
@hardening : yes.. big difference on my thinclients 8-).. Thanks..
Just to crosslink for others.. this is the pull request to fix this so far..
#3364

[2016-06-06 10:56] ropetry commented on #2193
Cross Reference for pull request which fixes this for me. on my thinclients.
#3364

[2016-06-06 11:52] #3319 closed

[2016-06-07 07:46] m0ntana commented on #3361
So, i made static build of application on windows 7 x64.
It has all libraries statically linked. Size of executable is about 5MB.
Started my app on windows 2008 server in threading mode. It works and does not crash at all.

[2016-06-07 15:24] anthraxx commented on #2893
any developer comment on this one? Its quite annoying not being able to get a result of an authentication attempt

[2016-06-07 16:09] bmiklautz commented on #2893
I'd guess that you see the login screen when the attempt isn't successful. So if connected without +auth-only do you get a login screen?
Can/did you also already try with +sec-nla?

[2016-06-07 23:23] crsll commented on #3361
m0ntana, i think the problem is in the winpr lib, which one tries to emulate WINAPI on non-Windows platforms

[2016-06-08 07:53] hardening commented on #2893
If the authentication succeeds you may receive a SaveSessionInfo PDU, but it's not guaranteed. So you have no deterministic way to know that the authentication failed or succeeded.

[2016-06-08 08:48] sotho commented on #2707
I think I have the same issue: the first screen is shown, but the second one isn't.
My command line:
 xfreerdp /v:... /d:... /u:... /p:...  /multimon
I bisected it to commit 48be081. So for me current master (a0520f8) and reverting that commit fixes the issue. Both screens are used now.
I am using KDE and kwin 5.6.4 from Debian/unstable.

[2016-06-08 09:17] Enverex opened #3395 "Fullscreen Mode Appears on Wrong Monitor"
I'm not sure if this is a bug with Marco (MATE's Window Manager) or FreeRDP so I'll log it here first.

In a multiple monitor situation (whilst using FreeRDP on only one monitor), under certain circumstances, FreeRDP will appear on the wrong monitor.

The specific situation I've encountered where this happens: If you have 2 monitors connected, with the left as the primary and the right as the seco

[2016-06-08 09:20] Enverex commented on #2841
This isn't happening as of current GIT so can now be closed as resolved.

[2016-06-08 09:20] #2841 closed

[2016-06-08 14:43] dcatonR1 opened #3396 "multimon on Windows, and Windows support in general"
/multimon doesn't work on Windows, and unless I'm missing something, the code to make it work simply isn't there.  The /list-monitors and /monitors switches do nothing either.  Shouldn't they at least print something like "not supported on this platform" to the log if that's the case?

There seems to be a general lack of support (or interest ?) for Windows platforms in general.  There are labels f

[2016-06-09 12:54] ilammy opened #3398 "Synchronizing media playback via rdpegfx and rdpsnd"
Hi,

Currently with `/gfx` enabled it is possible to get audio and video desynchronized during multimedia playback. This happens mostly due to latency of drawing order processing.

There is such thing as [[MS-RDPEVOR]: Remote Desktop Protocol: Video Optimized Remoting Virtual Channel Extension](https://msdn.microsoft.com/en-us/library/hh554658/) which should allow FreeRDP to synchronize H.264 vide

[2016-06-10 10:09] tomarch commented on #1972
Is this issue has been fixed in lastest master ?
Or is here anything that can resolv it (without recompil) ?

[2016-06-10 15:38] qwipx94 commented on #733
Thanks to all above.
-Adding the -sec rdp parameter alone didn't work.
-Putting the address at the end alone didn't work.
-Doing both worked like a charm.
:)

[2016-06-11 13:09] maximkelasnce opened #3400 "Windows and menu element not always render"
Also creates 2 scrollbasrs when connect to smaller screen frome bigger one.
In Firefiox under windows 7 non't render right top menu at all, some windows didn't get rendered after been focused.

[2016-06-11 13:10] maximkelasnce commented on #3400
Also entire rdp session feels laggy and unstable.
Don't render corner of windows when drag (as original ms client)

[2016-06-12 10:08] urtus opened #3401 "Local machine desktop freezes"
Thank you for making this great piece of software. I am using xfreerdp for a year now. I did come across this software to connect the server with a gateway (of my former employer).  I am using it now for a regular RDP-session.

Here's my problem:
When I want to return to my local machine I use [CTRL] + [ALT] + [ENTER]. That works just fine.
But after a few minutes I can't use my local desktop envi

[2016-06-12 23:03] tristan-k commented on #142
I can confirm the issue. Unable to connect to Win XP SP3 with Debian and `This is FreeRDP version 2.0.0-dev (git n/a)`.

[code]

And then nothing happens.

[2016-06-13 09:16] bmiklautz commented on #3400
@maximkelasnce thanks for your report but would you please add more and detailed information. It's not much I take from your issue.
Have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2016-06-14 13:23] dcatonR1 commented on #3396
Nobody?

[2016-06-14 15:33] akallabeth commented on #3396
@dcatonR1 window has been neglected for some time, but @nfedera is currently improving the pull request tester/unit test stuff. maybe he can give you a hint.

[2016-06-14 15:46] bmiklautz commented on #3396
@dcatonR1 I don't know what you mean with "there are labels" but I can assure you that there definitely is interest for the Windows platform (library wise) and it is actively worked on (just have a look at the last commits).
As you correctly state there isn't any support for multimon in the windows client yet. If you want to add it you only need to implement it in the windows client (wfreerdp) its

[2016-06-14 16:12] dcatonR1 commented on #3396
@akallabeth Thanks.

@bmiklautz Re "labels"... On the FreeRDP page in GitHub, click on the Issues tab and then click on the Labels button.  There is no label pertaining to Windows-specific issues, although there are labels for other platforms.  That's why I thought there may be little interest in Windows.

I haven't done anything on Linux for well over 10 years, but I just now got FreeRDP compiled

[2016-06-15 08:02] bmiklautz commented on #3396
@dcatonR1 ahh ok. You are referring to those labels - haven't thought about them ;). We've created labels on the fly when it was necessary or for visualizing things. As on Windows mostly the native functions are used (when available) instead of winpr the running code base is much smaller so there where less issues. Also it seems that people don't use the windows client that much.

I've tried the w

[2016-06-15 12:52] cpalludetti opened #3409 "Screen sharing with Microsfot Application"
I´m developing an application to share my Desktop with the MS Application.
I´m using the branch stable-1.1 (hash commit = 770c67d340d5f0a7b48d53a1ae0fc23aff748fc4).
When I use 32-bit and NSCCodec, MS Application receives the presentation and shows my desktop, but, after some random time (minutes) the RDP connection is dropped with the reason = 3080.
When I use 16-bit and NSCCodec, MS Application r

[2016-06-15 13:46] bmiklautz commented on #3409
@cpalludetti there are a some issues in stable-1.1 that are already fixed on the master branch (upcoming 2.0). I'd recommend using master instead of 1.1 as there won't be any updates.

[2016-06-16 14:00] dcatonR1 commented on #3396
@bmiklautz After some tinkering, it appears that our internal DNS server is not properly resolving www.freerdp.com.  When I changed the DNS server address to our ISP's server, it resolves correctly to the new web page.  Maybe it's having trouble with the .io TLD.  In any event, it's our problem, not yours.

[2016-06-16 14:16] bmiklautz commented on #3396
@dcatonR1 thanks for debugging.

[2016-06-16 18:39] vcordes79 opened #3411 "Connect via Connectionstring"
Hello,

I was wondering if it is possible to connect to a session created by the RDPSession class (https://msdn.microsoft.com/en-us/library/mt446078%28v=vs.85%29.aspx) via a connectionstring or if this could be implemented. That would be great.

Thanks,
Volker

[2016-06-17 15:02] ondrejholy opened #3412 "FreeRDP crashes on system in FIPS mode"
I enabled FIPS mode on Red Hat Enterprise Linux [1] and configured Microsoft Window Server to require FIPS-compliant encryption [2]. Consequently, xfreerdp crashes with the following error, when I try to connect to the server regardless of used security protocol:
`md4_dgst.c(74): OpenSSL internal error, assertion failed: Digest MD4 forbidden in FIPS mode!`

I see several occurrences of MD4, MD5, R

[2016-06-17 15:42] hardening commented on #3412
I guess you have done your tests with master ?

[2016-06-17 16:14] ondrejholy commented on #3412
Yes, I did the tests with master and freerdp-1.0, both versions fail in the same way...

[2016-06-18 11:16] cheech1440 opened #3413 "How to set old style -n <hostname> option in new style options ?"
Hi !

How to set old style option `-n <hostname>` with a new style options ?

I'm using FreeRDP version 1.1.0-beta1 in Ubuntu-mate 16.04 and I trying various settings:
`-n <hostname>` - not working
`/n:<hostname>` - not working
`--n <hostname>` - not working

Please help me.

[2016-06-18 14:29] hendwolt commented on #3269
fixed with #3408

[2016-06-18 14:29] #3269 closed

[2016-06-19 08:40] hendwolt commented on #3413
Try: `/client-hostname:<name>`

[2016-06-19 11:24] Olmer1st commented on #3309
Hi again,

Anew news about the issue?

Thanks

[2016-06-19 15:32] hendwolt opened #3414 "Wayland Clipboard support"
The full version:

`wlfreerdp /u:<myusername> +clipboard  /v:192.168.0.59
[17:21:46:392] [6451:6451] [ERROR][com.winpr.library] - LoadLibraryA: /usr/lib/freerdp2/libcliprdr-client.so: cannot open shared object file: No such file or directory
`

This happens with the current version in HEAD on openSUSE Tumbleweed with Gnome 3.20 "on Wayland".

The file libcliprdr-client.so does not exist.
The wlfre

[2016-06-19 15:48] hendwolt opened #3415 "wayland client: mouse does not work (crash or invisible)"
On openSUSE Tumbleweed with Gnome 3.20 "on Wayland" wlfreerdp crashes as soon as I move the mouse pointer over the remote window:
`wlfreerdp /u:<myusername> -clipboard  /v:192.168.0.59
Password:
listener function for opcode 5 of wl_pointer is NULL
Aborted (core dumped)`

On Plasma5 "on Wayland" wlfreerdp does not crash, but the mouse pointer is invisible in the remote window. I can only guess wher

[2016-06-19 17:38] cheech1440 commented on #3413
/client-hostname:<hostname> - not working

[2016-06-19 21:24] hardening commented on #3415
Oh yeah, cursors aren't implemented in UWAC.

[2016-06-20 01:25] #2351 closed

[2016-06-20 09:23] bmiklautz commented on #3415
@hardening it's one thing if it isn't working but another if it segfaults ;(

[2016-06-20 09:48] bmiklautz commented on #3413
@cheech1440 /client-hostname:<hostname> is the correct parameter from 1.1 onward. Just verified and on master this works as expected. I also tried with the legacy command line and it works too.

Here the command lines used for testing

[code]
[code]

Could you try our nightly packages if the problem exists there for you as well?
https://ci.freerdp.com/job/freerdp-nightly-binaries/

[2016-06-20 18:28] cheech1440 commented on #3413
@bmiklautz thanx for your answer !

Okey, just see the video: [https://youtu.be/znBC2MgBteo](url)

https://ci.freerdp.com/job/freerdp-nightly-binaries/

I add this line to end of sources.list file: `deb http://pub.freerdp.com/repositories/deb/DIST/ freerdp-nightly main`, then I enter the command in mate-terminal: `wget -O - http://pub.freerdp.com/repositories/ADD6BF6D97CE5D8D.asc | sudo apt-key ad

[2016-06-20 19:09] bmiklautz commented on #3413
@cheech1440 the video returns a 404.
Did you replace "DIST" in the url with the actual distribution you are using as described?

[2016-06-20 19:35] cheech1440 commented on #3413
@bmiklautz thanx for your answer !

Sorry ( I correct the link.

OMG. Sorry for my inattention (
I replace "DIST" with xenial and completely install freerdp-nightly ! Thnx ! And more:
nightly package works fine with option: `/client-hostname:<hostname>`

[2016-06-20 19:40] bmiklautz commented on #3413
@cheech1440 also did you try with my above's snippets? - In you video it seems you do have a space between /client-hostname and the hostname itself but this should be a ':'

[2016-06-20 19:42] bmiklautz commented on #3413
@cheech1440 also can you please paste your the **exact** you are using?

[2016-06-20 19:44] bmiklautz commented on #3412
@ondrejholy i might be mistaken but I think when you enable FIPS compliant security this applies only to the transport itself. MD4, MD5, .. might still be used/required in different other parts like for generating ntlm credentials.

[2016-06-20 21:33] cheech1440 commented on #3413
@bmiklautz copy-paste from my command line:
`xfreerdp /bpp:16 +compression +fonts /client-hostname:ADS11001 +smart-sizing /cert-ignore -themes -wallpaper /gdi:sw /audio-mode:1 +clipboard /drive:DuckBook,/home/cheech/RDP_Shared /size:1358x720 /d:MEDKAM /u:pikalov.dv /v:10.37.10.40` where option `/client-hostname:ADS11001` - not working.

And command with using freerdp-nightly package:
`/opt/freerdp

[2016-06-21 07:32] bmiklautz commented on #3413
@cheech1440 ok so if it works with the nightly package it's a problem with the package ubuntu ships.

In the video it looked like there is a space in between. So I was wondering ;).
I'd recommend to either use our nightly packages for now and/or file an upstream report with Ubuntu.

[2016-06-21 19:20] #3413 closed

[2016-06-21 19:22] cheech1440 commented on #3413
@bmiklautz thank you for your help !

[2016-06-22 00:00] ivebeenlinuxed commented on #3332
I have the same issue built from master branch today. Works with xfreerdp 1.1.0-beta1 (Ubuntu package) fine.

[code]

Build Config:

[code]

[2016-06-22 00:20] ivebeenlinuxed commented on #3332
As soon as I comment I fixed it! It looks like 2.0 resolves the DNS again, rather than using the IP provided in TargetNetAddresses[0]. This, therefore, breaks the connection if the DNS resolves wrong - whereas v1.1 wouldn't try to resolve and therefore continues.

Thank goodness for Wireshark!

[2016-06-22 07:33] bmiklautz commented on #3332
@daiqifan did you try without the '-f'?

[2016-06-22 14:03] cpalludetti commented on #3409
It is working very well with the master branch.
When the 2.0 will be released?

[2016-06-22 14:07] bmiklautz commented on #3409
@cpalludetti we don't have a fixes schedule but I think Q4 is resonable.

[2016-06-22 14:07] #3409 closed

[2016-06-23 03:32] ygtzf opened #3420 "multimedia issue with freerdp"
Hello,
I encountered some difficult issues, when I use the freerdp:
1、platform: ubuntu 14.04
2、freerdp version：version 2.0.0-dev (git e86f7c2)
3、I use this command:
 xfreerdp /u:Administrator /v:x.x.x.x  -sec-nla /cert-ignore +fonts  /bpp:32 +clipboard /rfx  /f /sound:sys:pulse /drive:*,hotplug
I play a 720P video screen, the CPU utilization from 120% - 260% with the size of window changed, I use

[2016-06-23 07:36] aarmea opened #3421 "Interactive authentication"
I really don't feel comfortable putting my password in as a command line argument (i.e. `xfreerdp /p:hunter2 ...`) where it can be inadvertently stored in plaintext in my shell history. Please consider adding an interactive prompt for the password, much like in SSH.

[2016-06-23 07:47] aarmea commented on #3421
Never mind - [this post](http://unix.stackexchange.com/questions/119880/make-freerdp-prompt-user-for-username-and-password) suggests that this is already implemented and that I need to put the `/p` at the end to use it, like:

    $ xfreerdp /v:farm.company.com /d:company.com /u:oshiro /g:rds.company.com /p

That said, this wasn't at all mentioned in `man xfreerdp`. It may be worth adding this the

[2016-06-23 07:47] #3421 closed

[2016-06-23 11:57] T3N4K4 opened #3422 "rdpgfx or tsmf | freerdp session crashing with all local video formats"
FreeRDP Master - Git Revision 0d7a6b5
Applied patches http://nopaste.narf.at/show/330331/

All cmake Options:
http://pastebin.com/fwQbSPZx

Connection server -> Windows Server 2012 R2 Standard 64-Bit
Client system -> Linux vagrant-ubuntu-trusty-32 3.13.0-85-generic #129-Ubuntu SMP Thu Mar 17 20:50:41 UTC 2016 i686 GNU/Linux

Local video formats tried: mp4, AVCHD-Video, divx (videoclip), wmv
(playe

[2016-06-23 21:26] JTJackson08 opened #3423 "Host system freezes when target network connectivity is lost."
Hello,

Just wanted to report my findings.  I am running Ubuntu 16.04 x64, and RDP to a Windows 7 desktop for reference.

Whenever there is a loss of connectivity to the target machine, the host machine completely freezes up, forcing me to have to hard shutdown my computer.  It seems there is no safe-disconnect or cancel upon a certain number of reconnect tries on accidental network connectivity l

[2016-06-24 08:33] bmiklautz commented on #3423
@JTJackson08 would you please add the version of FreeRDP you are using?

[2016-06-24 13:40] JTJackson08 commented on #3423
1.1.0-beta1 according to xfreerdp /version.   I have the nightly repo installed and stay updated daily.

[2016-06-24 14:46] rene51 opened #3424 "USB redirection not working Fedora 24; liburbdrc-client.so not found"
I run Fedora 24 and freerdp-2.0.0-5 and cannot redirect usb. Old probel seems to persist. Is there any work around?

[rene@V2-PH1 ~]$ xfreerdp /u:rene /sound:sys:alsa /usb:id,dev:091e:2459 /v:192.168.178.19
[16:41:29:423] [2972:2973] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[16:41:29:423] [2972:2973] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpsnd
[16:41

[2016-06-24 14:48] akallabeth commented on #3424
@rene51 which version did you use and which compile flags? usb support needs to be compiled in.

[2016-06-24 19:53] rene51 commented on #3424
went back to Fedora 23. same problem.
used latest version from Git. cmake -DWITH_PCSC=ON -DWITH_SSE2=ON -DCHANNEL_URBDRC_CLIENT=ON

[2016-06-24 19:55] rene51 commented on #3424
also used this (and some other variations) but none worked for usb redirection
cmake -DWITH_SSE2=ON -DCHANNEL_URBDRC_CLIENT=ON -DCHANNEL_URBDRC=ON

[2016-06-25 23:17] crabouif commented on #3300
Hi, I have the same problem with the last git commit 0d7a6b5. From a Windows client and Microsoft RDP client it works fine, but with FreeRDP it fail.

Do you have any suggestion? Thanks!

I put the patch with special trace and the result is:

[01:06:49:464] [29275:29276] [DEBUG][com.freerdp.client.x11] - Searching for XInput pointer device
[01:06:49:465] [29275:29276] [DEBUG][com.freerdp.client.x1

[2016-06-27 07:08] ChandrasekharSurathi opened #3425 "In Windows we can get frerdp through connection broker."
Hi,
I'm using windows machine, From windows machine i want to get remote  desktop from collection through connection broker in windows by passing the collection name as a parameter to load-balance-info.

"Is it possible to get freerdp of the collection desktop through connection broker in windows".

Pls provide the your suggestion ASAP.

[2016-06-27 08:39] akallabeth commented on #3424
@rene51 Looks like there have been some issues with the cmake find scripts, can you give https://github.com/akallabeth/FreeRDP/tree/uuid_find_fix a try?

[2016-06-27 10:53] rene51 commented on #3424
[root@v2-ph1 FreeRDP]# cmake -DWITH_SSE2=ON -DCHANNEL_URBDRC_CLIENT=ON -DCHANNEL_URBDRC=ON
-- The C compiler identification is GNU 5.3.1
-- The CXX compiler identification is GNU 5.3.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detectin

[2016-06-27 11:02] T3N4K4 commented on #3422
I guess the crashing is because of gfx.
If I remove the parameter /gfx I get the error messages from above but my session stays alive.

[2016-06-27 11:54] rene51 commented on #3424
[CMakeError.txt](https://github.com/FreeRDP/FreeRDP/files/334748/CMakeError.txt)
[CMakeOutput.txt](https://github.com/FreeRDP/FreeRDP/files/334749/CMakeOutput.txt)

[2016-06-27 12:05] akallabeth commented on #3424
@rene51 looks like you're missing some development libraries. check if you have all required ```-devel``` packages installed. Should be in the README and the spec file for the RPM package.

[2016-06-27 12:59] bmiklautz commented on #3425
This is an issue tracker. For questions like this please use irc or our mailing list. Thank you.

[2016-06-27 12:59] #3425 closed

[2016-06-27 13:53] ChandrasekharSurathi commented on #3425
Ok , Thanks for your support.

[2016-06-27 15:51] rene51 commented on #3424
all required -devel packages are installed.  Only after I commented out this line:
#list(REMOVE_DUPLICATES CHANNEL_STATIC_CLIENT_ENTRIES)
in /channels/client/CMakeLists.txt
I could run 'make install'.
CMakeError.log gives still errors (not well understood by me) see: attached file
running xfreerdp now gives this error: (everything works apart from usb!)
[root@v2-ph1 FreeRDP]# xfreerdp /u:rene /usb

[2016-06-27 15:56] bmiklautz commented on #3424
@rene51 would you please add the cmake version that is used on Fedora 24?

[2016-06-27 17:22] rene51 commented on #3424
I did not compile under F24 but installed freerdp from fedora repo. Started compiling only when same error appeared under F23.

[2016-06-27 17:28] bmiklautz commented on #3424
Can you give our nightly packages a try. We don't provide them yet for F24 but F23 is available. https://ci.freerdp.com/job/freerdp-nightly-rpm-mock/

[2016-06-27 17:53] rene51 commented on #3424
[root@v2-ph1 ~]# /opt/freerdp-nightly/bin/xfreerdp /u:rene /usb:id,dev:091e:2459 /v:192.168.178.19
[19:51:50:570] [20714:20715] [INFO][com.freerdp.client.common.cmdline] - loading channel drdynvc
Password:
[19:51:55:792] [20714:20715] [INFO][com.freerdp.channels.drdynvc.client] - Loading Dynamic Virtual Channel urbdrc
[19:51:55:793] [20714:20715] [ERROR][com.winpr.library] - LoadLibraryA: /opt/fre

[2016-06-27 17:56] rene51 commented on #3424
directory  ' /opt/freerdp-nightly/lib64/freerdp2/  '  does not exist

[2016-06-28 09:46] RubenKelevra opened #3427 "Very long lags on filetransfers"
We use a OpenVPN tunnel over a 10/1 mbit/s dsl connection. Over this connection we establish some rdp connections with Remmina.

First of all, this isn't a network issue, we use cake with traffic shaping on the router and fq_codel on the client, so there is no bufferbloat on the network-side.

The rtt to the rdp server is min/avg/max/mdev = 44/55/170/16 msec.

Everything works fine with around one

[2016-06-28 10:21] HenryJacques commented on #3427
I confirm that I have the same issue as well (FreeRDP 2.0 on a Ubuntu 14.04 64 bits)

[2016-06-28 10:49] akallabeth commented on #3300
@crabouif 404 not found from the server, sure you have the correct command line? And please don't post sensitive information on a public accessible forum!

[2016-06-28 11:28] RubenKelevra commented on #3427
cc @kevin-olbrich

[2016-06-28 15:22] lemonmojo commented on #3427
I'm also seeing these issues on macOS 10.11 El Capitan and 10.12 Sierra DP using https://github.com/FreeRDP/FreeRDP/commit/0d7a6b5596d2fa2cf7350ff91548fc80b39dd144.

[2016-06-29 08:15] hardening commented on #3415
My error, it has nothing to do with cursors. It's related to some input callback being not implemented. Patch coming for that.

[2016-06-30 08:45] ipeacocks commented on #2431
Have you tried another colour depth? For example 16?

[2016-07-01 06:50] CS-JS opened #3429 "Getting Stuck at Welcome Screen"
I have an issue, that seems to occur quite randomly. When I log in to different machines (Windows 7 x64, Windows Server 2008) sometimes, xfreerdp gets stuck at the Windows "Welcome Screen". As a test, I closed the xfreerdp window after a few minutes without any reaction.

My connection string is pretty straightforward:
`jschoen@NB-CS-JS:~$ xfreerdp /v:*IP address* /u:Admin`

I also tried different

[2016-07-01 07:32] bmiklautz commented on #3429
@CS-JS on which distribution are you on? Can you reproduce this also with our nightly builds? https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2016-07-01 09:15] kevin-olbrich commented on #3427
@RubenKelevra and I can confirm that this is reproducible for Win 2012 and 2012 R2.
Using built-in Windows RDP (Windows 10, which supports Proto 10.0) as the client to 2012 or 2012 R2 also shows some small lags but UI remains responsive where FreeRDP freezes up. FreeRDP starts uploading the file, the UI freezes and disconnect is only possible by killing the process.

[2016-07-01 11:41] CS-JS commented on #3429
Kubuntu 16.04,
I installed the freerdp-nightly package, but autocomplete only suggests xfreerdp, which still is
[code]

How do I confirm that I run the nightlies? Sorry for the question...

[2016-07-01 11:51] aildermi opened #3430 "aFreeRDP RemoteApp shows black screen"
Hi,
I am trying to run a RemoteApp on a Windows Server 2012 R2. After connection established, LogonUI appears, and then, only desktop background (black screen) is shown, without any errors or anything! Taskbar and Desktop Icons are not shown, and also remote application is not executed.
I can connect to then server without RemoteApp option, but when adding "app=||[app-name]" screen goes black!
I t

[2016-07-01 11:57] bmiklautz commented on #3430
@aildermi just to make sure: you trying to run RemoteApp on Android (aFreeRDP is the Android client)?

[2016-07-01 11:59] aildermi commented on #3430
@bmiklautz I forgot to mention that. Yes, I am trying to use RemoteApp on Android.

[2016-07-01 11:59] bmiklautz commented on #3429
@CS-JS the binaries from the nightly package are installed into /opt/freerdp-nightly/bin/ to not conflict with the distribution native package. So to test run
[code]

[2016-07-01 12:19] bmiklautz commented on #3430
@aildermi the Android client doesn't support RemoteApp as it doesn't implement the client side part of the rail channel.  Initially the "app" parameter you pass with the URI was used to set the an alternative shell but seems that mistakenly got changed at some point.

[2016-07-01 12:19] #3430 closed

[2016-07-01 12:31] aildermi commented on #3430
@bmiklautz Thanks for your fast reply. What I wanted was to run an application right after connection. So I was mistakenly using "app" instead of "shell" parameter. Your last response was very helpful.
Thanks :+1:

[2016-07-01 13:01] CS-JS commented on #3429
Thanks, I could not reproduce the error in my last connections with the nightly builds.
On the other side, this issue only occured from time to time - so when I run into the problem again, I will switch to the nightlys and try them.

Maybe we can put this issue on hold until then? Thanks so far :)

[2016-07-01 17:55] mclark1129 commented on #3360
I just installed the latest nightly on Ubuntu 16.04 and this issue was resolved for me.  I experienced the same behavior installing the xfreerdp package.

[2016-07-01 19:38] pgconlin commented on #2802
I have an additional datapoint which will hopefully be useful:  I recently switched from CentOS 7 to Fedora 24 on my desktop (no change in hardware), while continuing to connect to the same RDP server (win2k3) over the same connection (firewall-to-firewall IPSEC over public internet, all wired, no wifi).  The xfreerdp client on CentOS 7 remained connected to the RDP server indefinitely--only had a

[2016-07-01 19:42] wtfrank commented on #2802
Any chance you can find out the versions of freerdp that you used in CentOS 7 and Fedora 24?

[2016-07-01 20:10] pgconlin commented on #2802
Yeah sorry about that.

CentOS 7: freerdp-1.0.2-5.el7_1.1.src.rpm
Fedora 24: freerdp-2:2.0.0-5.git.b02943a.fc24

Patrick

On 07/01/2016 12:42 PM, wtfrank wrote:

[2016-07-01 22:05] pgconlin commented on #2802
Also, in my case the message at disconnect is:

[code]

But of course I haven't logged off, and the timeout settings on the server are the same as they were when I was using the CentOS version of xfreerdp.

[2016-07-01 23:46] Cheb57 commented on #3429
Hello,

I have a got the similar problem as described on this discussion thread. Note: i'm using a reverse ssh socks proxy to access from home to an office laptop running on Win7 x64 Enterprise edition. It is a first try to connect rdp using FreeRDP under Linux (Debian x86). I built FreeRDP from sources, using stable-1.1 and master branches. Login by using both revisions can not continue more than

[2016-07-02 16:25] Nazdravi opened #3431 "smartcard SCARD_E_UNKNOWN-error (W2012R2-server)"
Within a freerdp session I get an SCARD_E_UNKNOWN error and smartcard is not usable in terminal session. On client side with pcsc_scan (as same user) all seems ok and smartcard is detected and read.
The terminal server is W2012R2, client is Arch Linux with current versions of smartcard-drivers and tools installed:

[code]
##

[code]
##

Also if the specific smartcard is defined (as below) the same

[2016-07-03 08:47] caengcjd commented on #457
just sudo  it

[2016-07-03 21:43] virtman opened #3432 "Windows 10 Professional + Hyper-V = KO"
Hello,

Let's make example, downloaded image
http://www.pwrusr.com/downloads
CentOS 6.2 X64 minimal VHD…
it is 187 MB -- Centos-6.2-x86_64-minimal-dist.7z
And imported this machine and than started with
wfreerdp.exe /cert-ignore /u:myuser /p:mypass /vmconnect:A6B9BF58-27DA-4633-9C0F-CA5FE9CA9805 /v:127.0.0.1:2179

It looks like it is
1. passing preconnection blob successfully
2. passing ntlm auth

[2016-07-04 06:12] T3N4K4 commented on #2495
@dbungert, could you please send me a reference to your code where you tried to save off a copy?
I have a similar problem and want to try if your experiment helps me.

[2016-07-04 06:49] T3N4K4 commented on #3431
Depending on the version of FreeRDP you are using I guess there is always the chance to debug it with the flag:
/log-level:[OFF|FATAL|ERROR|WARN|INFO|DEBUG|TRACE]  Set the default log level

And / or (I don't know if it is still needed) a
WLOG_LEVEL=[OFF|FATAL|ERROR|WARN|INFO|DEBUG|TRACE] in front of your command line [e.g. WLOG_LEVEL=DEBUG xfreerdp ....]. But.. the amount of messages can be quite

[2016-07-04 07:32] Oliver-Luo commented on #2893
I think by definition the security protocol rdp/tls does not check the correctness of username/password, while protocol nla/ext does check. The following part is from MS ducoment(Remote Desktop Protocol: Basic Connectivity and Graphics Remoting):

So if you input the wrong username/password, in rdp/tls mode the connection is established and you will see a new GUI window informing that the username

[2016-07-04 09:50] akallabeth commented on #2802
@pgconlin Your error messages look like they were actualy initiated by the server and are not caused by the TCP issue mentioned above. (See ```libfreerdp/core/rdp.c:336``` and following)

[2016-07-04 10:52] T3N4K4 commented on #3422
It even crashes with the last nightly binary -> Build i386,trusty,pkg-deb (Jul 1, 2016 3:48:55 AM)

[2016-07-04 11:22] bmiklautz commented on #3422
@T3N4K4 how do you play the content on the server side?

[2016-07-04 11:44] T3N4K4 commented on #3422
With the windows media player -> 12.0.9600.17031
I just tested without gfx, but with /rfx /multimedia:decoder:gstreamer and this works like a charm.
(Note: On the windows server 2012 r2 one has to enable the 32bit limitation with gpedit.msc in the remote desktop services host session)
This could be a workaround..

[2016-07-05 00:30] virtman commented on #3432
From what I saw, after succeed precblob and ntlm auth Microsoft seems to dislike some passed parameters (which one???) and send forced end of session with ERRINFO_RPC_INITIATED_DISCONNECT

When I set in sent bitmap caps desktopResize to 0 and
in rdp.c -> rdp_recv_tpkt_pdu
continue to read packets instead to exit, I get conitnuous image from that hyper-v instance, but I can not send mouse events an

[2016-07-05 06:07] #3197 closed

[2016-07-05 10:16] peltzi commented on #2158
+1

**Version (built from Github):**

[code]

**Using:**

`$ xfreerdp /d:DOMAIN /u:USER /app:'C:\Program Files (x86)\Microsoft Office\Office16\excel.exe' /v:SERVER +clipboard +fonts`

**RemoteApp Host:** Windows Server 2012 R2 with latest patches

[2016-07-05 12:42] devilock76 opened #3434 "SAM file location"
I was wondering if there is a way to specify another location for the SAM file than /etc/winpr.  I would like to put mine in my home directory instead of /etc.  So far the only option I can come up with is creating a sym link from the original location to the one in my home.  But I don't like that as a solution at the moment.

[2016-07-05 12:52] akallabeth commented on #3434
Currently this is hard coded, so no way to change without recompiling.
Of course we always appreciate pull requests ;)

[2016-07-05 12:55] devilock76 commented on #3434
My C skills are a bit lacking these days, but noted.  Let me ask another question.  When I first started using xfreerdp the only way I could negotiate a TS gateway was by creating the SAM file.  But is that really a requirement?  In short must there be a SAM file or have I taken it for granted that that was the solution to whatever else I might have been doing wrong?

[2016-07-05 12:56] akallabeth commented on #3424
@rene51 Looks like the USB channel has an issue with ```BUILTIN_CHANNELS=OFF```. Don't have that error when enabled.

[2016-07-05 13:01] akallabeth commented on #3434
Looks like the SAM file is not really used at all (that is assuming you're using latest nightly builds)

[2016-07-05 13:01] bmiklautz commented on #3434
@devilock76 if you using xfreerdp as client there a SAM file shouldn't be required. For gateway there are command line parameters.

[2016-07-05 13:06] devilock76 commented on #3434
I am using stable 1.1 at the moment.  I think perhaps the reason I needed it is I was trying to use just one password field /p and that it would hit both, and then I think somewhere in there I tried both...  At the time I was new to using it and trying to get set up fast at one point I got the SAM error, google-fu'd it and got to the point of it was working and said done.  I will do some experimen

[2016-07-05 13:12] devilock76 commented on #3434
OK yes SAM is not required if both password fields explicitly specified at the CLI.  Ok so that takes care of my previous stupidity.  Again thank you everyone.

[2016-07-05 21:29] pgconlin commented on #2802
Right, this is why I'm posting here.  Keep in mind that this is FreeRDP
reporting this reason for disconnection, not the server.  I believe this
to be in error.

I am the admin for the server I'm connecting to and have complete
control over the RDP settings.  Disconnected, Active, and Idle session
limits are all set to Never.

As I mentioned previously, the version of FreeRDP packaged for CentOS 7

[2016-07-06 07:53] bmiklautz commented on #2802
@pgconlin at the line you referring to in rdp.c the connection is already disconnecting the code is an additional approach to figure out the reason for the disconnect.
From the information we have it looks like you are actively disconnected from the server but it's not clear why (it does send a disconnect provider ultimatum)
Is there anything useful you can find in the server logs?

[2016-07-06 07:53] #3434 closed

[2016-07-06 11:39] darkweaver87 opened #3437 "Remoteapp not reparented"
Hello,

It seems that using together /parent-window:<xid> and /app:<path_to_exe> is not working as expected (app launched in the parent window). I'm trying to write a patch but I never did X11 programming :-(

Thanks for your help.

Rémi

[2016-07-07 12:34] bmiklautz commented on #3437
@darkweaver87 reparenting is only supported for regular (desktop) windows but not for RemoteAPP. One of the reasons is that remote apps might have multiple windows.

[2016-07-07 12:34] #3437 closed

[2016-07-07 13:17] nshustov opened #3439 "multiple issues with fullscreen mode on two monitors"
xfreerdp /multipon /u:&lt;skipped&gt; /v:&lt;skipped&gt;

Ubuntu 16.04 LTS (Kubuntu) x64
2 monitors

Both in  the latest stable and nightly builds of freerdp:

freerdp-nightly          2.0.0+0~20160707014830.282~1.gbp89c252       amd64
freerdp-x11              2.0.0~dev~git20160331+dfsg-0xenial3                   amd64
1. Client does not span on multiple monitors in full screen mode - it just stic

[2016-07-10 19:55] rene51 commented on #3424
compiled with:
[root@V2-PH1 FreeRDP]# cmake -DWITH_SSE2=ON -DCHANNEL_URBDRC_CLIENT=ON -DCHANNEL_URBDRC=ON -DBUILTIN_CHANNELS=ON -DCMAKE_BUILD_TYPE=Debug

error still comes up:
[root@V2-PH1 FreeRDP]# xfreerdp /u:rene  /usb:id,dev:091e:2459 /v:192.168.178.29
[21:46:31:273] [20214:20215] [INFO][com.freerdp.client.common.cmdline] - loading channel drdynvc
Password:
[21:46:34:423] [20214:20215] [INFO][

[2016-07-11 07:15] akallabeth commented on #3424
@rene51 Looks like I shouldn't post before coffee, confused ```ON``` with ```OFF```. With ```BUILTIN_CHANNELS=OFF``` the desired so file is build.

[2016-07-11 09:56] darkweaver87 commented on #3437
Then, users have to specify multiple parentWindows or application will throw an error in those case :-)
But I understand your point :-)

Rémi

[2016-07-11 16:59] rene51 commented on #3424
Haha, one shouldn't even work before coffee!
liburbdrc-client.so file is now generated.
However get some errors on the USB devices:
[18:49:44:177] [9813:9814] [INFO][com.freerdp.client.common.cmdline] - loading channel drdynvc
Password:
[18:49:49:346] [9813:9814] [INFO][com.freerdp.channels.drdynvc.client] - Loading Dynamic Virtual Channel urbdrc
[18:49:49:347] [9813:9814] [ERROR][com.freerdp.chan

[2016-07-11 17:00] rene51 commented on #3424
[root@V2-PH1 FreeRDP]# lsusb
Bus 001 Device 010: ID 091e:2459 Garmin International GPSmap 62/78 series
Bus 001 Device 009: ID 1307:0165 Transcend Information, Inc. 2GB/4GB/8GB Flash Drive
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation
Bus 005 Device 003: ID 0cf3:3005 Atheros Communications, Inc. AR3011 Bluetooth
Bus 005 Device 001: ID 1d6b:0001 Linux Foundation
Bus 004 Device 002: ID 04d9:2517

[2016-07-11 17:02] rene51 commented on #3424
This was the xfreerdp command:
[root@V2-PH1 FreeRDP]# xfreerdp /u:rene  /usb:id,dev:091e:2459 /usb:id,dev:1307:0165 /v:192.168.178.30

[2016-07-12 06:39] akallabeth commented on #3424
@rene51 mass storage devices are blocked by the plugin. either use drive redirection for that (faster) or patch out the filter for the vid.

[2016-07-12 15:40] chandramouligoru commented on #3279
@akallabeth I am still kinda looking for an update on this. Do you have one?

[2016-07-12 15:42] akallabeth commented on #3279
@chandramouligoru Sorry, this will still take some time.

[2016-07-13 06:12] Olmer1st commented on #3309
Hi,

Any news?
Thanks

[2016-07-13 07:58] bmiklautz commented on #3309
@Olmer1st no one has yet looked into it. As this doesn't happen when using FreeRDP against Microsoft servers this isn't high priority at the moment. But be assured it isn't forgotten ;)

[2016-07-13 13:07] zuriy opened #3440 "View bug"
I'm use 1.2.0-rcgit.14 (git n/a) and ubuntu 16.04(x86) FreeRDP version 2.0.0-dev (git n/a)

When i'm working on windows 2008 r2 on RDP I have visualuzation problem:
http://storage1.static.itmages.com/i/16/0707/h_1467914793_1005195_25b72a7ef8.png
This is not very big problem, but when insert end line. On video
https://yadi.sk/i/vLEI6mZEt6apw
and
https://yadi.sk/i/Ys5ROpxXt6aqA
When I connect to thi

[2016-07-13 15:24] Vladimir-csp opened #3441 "Xfreerdp client hangs when remote administration is used"
Problem is observed with freerdp versions:
1.1.0~git20140921.1.440916e+dfsg1-4
2.0.0~dev~git20160331
And in remmina too.
xfreerdp with slave session hangs when remote administration ends.
xfreerdp with master session may hang when RA starts, and always hangs when RA ends.

This is the output of xfreerdp with /log-level:trace from connected to master session after I press ctrl+tab (to end remote ad

[2016-07-13 16:18] bmiklautz commented on #3441
@Vladimir-csp would you try without compression (option -compression) or with /compression-level:0 or /compression-level:1

[2016-07-13 16:55] Vladimir-csp commented on #3441
with `-compression` client with master session works fine, but client with slave session (without any compression arguments) crashes (or disconnects) when RA ends:
[code]

...after some testing this is evident: client on any side launched with any compression argument (`-compression`, or `/compression-level:0`, or `/compression-level:1` ) works fine. Client without compression argument hangs or cr

[2016-07-14 06:43] T3N4K4 commented on #3422
Update: With /gfx:rfx it does not crash, but shows the message:

[08:41:10:572] [9655:9692] [ERROR][com.freerdp.channels.drdynvc.client] - Protocol error: Duplicated ChannelId 6 (Microsoft::Windows::RDS::Graphics)!
[08:41:10:572] [9655:9692] [ERROR][com.freerdp.channels.drdynvc.client] - dvcman_channel_new failed!

Any ideas what is going wrong here ?

[2016-07-14 09:28] bmiklautz commented on #3441
@Vladimir-csp thanks for the feedback. I have seen something like this a while ago and it seems that there is a problem with compression when a session is shadowed.

[2016-07-14 09:42] giovannitarter commented on #3431
I am facing the same problem.
I am running freerdp 5d7027a8bc22312e042517ccb59f731e4d34bc7c compiled with "-DWITH_DEBUG_SCARD=ON".

I start the session with the command line:

/tmp/freerdp_bin/bin/xfreerdp /u:***  /d:*** /p:***  /smartcard /cert-ignore  /v:***

When the session is started, I launch a program called Dike6
https://www.firma.infocert.it/prodotti/dike6.php
https://rinnovofirma.infocer

[2016-07-15 06:49] tscat opened #3442 "How to use android afreerdp connect to windows without password?"
Dear ALL,
I want to use android afreerdp connect to windows ,but this computer just have username,no password.
If I connect it,afreerdp alert a dialog "Please enter your credentials" .How to ignore this dialog,and connect my computer.
My English is very pool,but I need your help!
Thanks very much!

[2016-07-15 07:05] tscat commented on #3442
I build aFreeRDP version is stable-1.1 ,Thanks!

[2016-07-15 12:21] anoteng opened #3443 "BIO_read returned an error: error:14094438:SSL routines:ssl3_read_bytes:tlsv1 alert internal error"
I am in the process of switching to Linux on my work computer. So far it looks like connecting to one of the terminal servers is the only remaining issue. Most of the RemoteApps work ok, but the last one is on another server and I'm unable to connect. I'm using the latest package from the nightly ppa.
Also attached is the failing rdp file
[fs.zip](https://github.com/FreeRDP/FreeRDP/files/365926/fs

[2016-07-15 12:23] anoteng opened #3444 "Popup window not showing"
One of the remoteapps I'm using is a webapp I have to use internet explorer for. The server is win2012. When I try to view documents in the webapp I would normally get a popup asking which program to open the pdf in. This popup shows as a black square when running through xfreerdp, and I'm unable to choose anything, thus also unable to do anything besides killing the connection.

[2016-07-15 12:41] bmiklautz commented on #3443
@anoteng which ppa are you using?

[2016-07-15 13:02] anoteng commented on #3443
ok. I was under the impression that I used you recommended PPA, but it turned out I was using the winconn PPA. I switched now, the error message changed, but now I can't connect to any servers. Looks like there's an auth. error now. FreeRDP no longer asks for username and domain. If I specify user and domain in the command line I still get the same auth error:

connected to RDBROKER01.UHAD.NO:3389

[2016-07-15 14:35] bmiklautz commented on #3155
Enabled since a while now. Closing.

[2016-07-15 14:35] #3155 closed

[2016-07-17 14:48] ardichoke commented on #2302
This is still listed as open and I'm still having the exact problem listed under Fedora 24 running freerdp v 2.0.0-dev. Has anyone confirmed that the above commit actually fixes the issue?

[2016-07-18 06:53] bsagal commented on #2302
from what i can tell (I do not know much about fedora packaging) Fedora 24 uses the tree at commit b02943a, which is before commit 23fea16.

Please try building from source to see if the problem is fixed

[2016-07-18 07:28] tscat commented on #3442
I found the reason in myself.when you add connection,shuld set Advanced--->Security--->RDP

[2016-07-18 15:53] akallabeth commented on #3203
@realjiangms I've began work on color fixes for software render path, https://github.com/FreeRDP/FreeRDP/tree/color_conversion_fix_v4
It already contains great improvements for image quality and reduced artifacts.
I'm currently testing against windows xp, 7, 8, 8.1 and 10 (in all GDI, RFX and GFX modes)

[2016-07-18 15:54] akallabeth commented on #3279
@chandramouligoru So, started working on that branch again https://github.com/FreeRDP/FreeRDP/tree/color_conversion_fix_v4
It is already quite usable but needs testing (some GDI quirks are currently bugging me)

[2016-07-19 10:14] Cheb57 commented on #3429
The problem i had seems to be related to a win7 server issue. The error log off received is sent by the server even if i'm already disconnected (or session locked) using my account from host. Unfortunately, at home i only have a windows 8 basic edition without RDP server. So exept at work no other possibility to test. Anyway, compiled the win32 bin wfreerdp is working at work by using the same tar