[2015-07-24 07:42] bmiklautz commented on #2128
@iy-propeller I wonder what command line you've used?

[2015-07-24 16:31] lemonmojo commented on #2184
Just wanted to give anyone on this thread a short update regarding PCSC on El Capitan.
The framework is luckily not going anywhere. See this post for more info: http://ludovicrousseau.blogspot.fr/2015/06/pcsc-framework-will-stay-in-mac-os-x.html

[2015-07-25 15:33] antiflu commented on #455
I'm on Linux Mint and the Ctrl-Alt-Del as well as the Ctrl-Alt-End buttons are taken by the OS as shortcuts. Only after you remove them in Preferences-Keyboard, FreeRDP will pick them up.

[2015-07-27 12:11] wangfuda opened #2805 "ifreerdp crash and found that the struct 'PCtxtHandle' was null when run in arm64 phone(ok in armv7)"
the ifreerdp run normal in armv7,such as iphone 5c,iphone 5, but crash when run in arm64,such as iphone 5s, iphone 6p.
and I found the crash cause by pointer's address is null, now show the crash code:
![v t nsw xi l3nfi 04gh2](https://cloud.githubusercontent.com/assets/3206178/8905684/e94c7ee0-349a-11e5-82a7-e37b48c4d3d9.jpg)

I follow the func stack and the code,found the null pointer's address

[2015-07-27 14:26] gareks opened #2806 "+gfx-h264 Error, Fail to create h264 codec context"
I currently using latest master 1.2.4.dev and I'm not able to use +gfx-h264
The screen became crappy and on the console:
ERROR com.freerdp.core.codecs - Failed to create h264 codec context.

Please help

[2015-07-27 15:35] bmiklautz commented on #2806
@gareks in order to use h264 you need the openh264 library (https://github.com/cisco/openh264) during compile and runtime. At the moment it is possible to build without libopenh264 and still have the command line option available. In this case the error you are describing is reported.

[2015-07-27 15:35] #2806 closed

[2015-07-27 15:38] bmiklautz commented on #2805
@wangfuda although arm64 is out there for quite some time the FreeRDP iOS port still doesn't officially support it.  Please have a look to issue #2685

[2015-07-27 15:38] #2805 closed

[2015-07-27 19:27] frazier-evans commented on #2780
I am seeing the same thing when using Windows 2008 R2.  It could be the "Monitoring" message not being handled properly.  Unfortunately I do not have a server I can test this idea with.

[2015-07-27 23:54] gareks commented on #2806
Could you please give me some hints the steps on getting the openh264 work with freerdp?
How to compile openh264 and which commend to be use during freerdp compile?

[2015-07-27 23:56] gareks opened #2807 "Slow mouse or keyboard input with +gfx during YouTube playback"
I found that when the option +gfx is on.
Mouse and keyboard input getting slow during YouTube playback.
But there's no error show on console
Version is 1.2.4.dev

[2015-07-28 02:04] wangfuda commented on #2805
why the version of ifreeRDP(iOS) in offical web site (http://www.freerdp.com/) can run normal in arm64 such as iphone 5s, iphone 6p?

[2015-07-28 02:09] wangfuda commented on #2685
why the version of ifreeRDP(iOS) in offical web site (http://www.freerdp.com/) can run normal in arm64 such as iphone 5s, iphone 6p?

[2015-07-28 08:38] rassie opened #2808 "Support for Remote Desktop Gateway PAA"
There is something called [Remote Desktop Gateway Pluggable Authentication and Authorization](https://code.msdn.microsoft.com/windowsdesktop/Remote-Desktop-Gateway-517d6273), which seems to be unsupported by FreeRDP, but becomes more common. In my case, our private cloud provider uses Azure Pack, which is like Azure Cloud but on-premise, and has PAA enabled, which leads to the following `.rdp` fil

[2015-07-28 09:41] bmiklautz commented on #2808
@rassie there are no plans on that as far as I know.

[2015-07-28 09:43] bmiklautz commented on #2685
@wangfuda what do you exactly mean? As far as I know there wasn't any official release (play store and app store) that supported 64 bit.

[2015-07-28 09:46] bmiklautz commented on #2806
Compile libopenh264 and install it for example in /opt/h264 (or whatever you prefer).
When you configure FreeRDP add the cmake parameter -DWITH_OPENH264=ON. In order to make cmake find the library you might need to also set a search path for cmake like -DCMAKE_PREFIX_PATH=/opt/h264

[2015-07-28 09:48] bmiklautz commented on #2807
@gareks per default FreeRDP handles input and gfx in one thread which might have the effect that input processing is "slower".  Can you try if the options  +async-input +async-update (maybe also +async-channels and +async-channels) improve that problem?

[2015-07-28 12:41] fcharlier commented on #2542
Encountered this issue too, using `/gt:rpc` seems to work fine for now

[2015-07-28 16:09] gareks opened #2809 "CMAKE commend and required lib for 1.2.4"
Could you guys give us (noob) some hints on which CMAKE option and required lib is necessary to run 1.2.4?
Many Thanks

[2015-07-28 16:35] BUGgs opened #2810 "option /cert-ignore not working anymore"
On today master, the option /cert-ignore seems to not be applied, the mismatche certificate is always prompted to be accepted or refused...

[2015-07-28 19:29] YoussF commented on #729
Same for me. Remote is a Windows 8.1

[2015-07-28 20:39] bmiklautz commented on #2809
@gareks if you just run cmake without any options you will get an error if something required for basic operation is missing. The exact requirements are depending on the distribution and on the features you want to enable. A basic overview about compilation can be found at https://github.com/FreeRDP/FreeRDP/wiki/Compilation (although possibly a little outdated).

If you have further questions plea

[2015-07-28 20:39] #2809 closed

[2015-07-28 20:57] bmiklautz commented on #2810
@BUGgs can you add more information or a test case for you problem?
I just tried to reproduce this with master without success. My simple command line was
[code]
When I added /cert-ignore I wasn't prompted for the certificate (on a new connection) and when I changed the fingerprint in ~/.config/freerdp/known_hosts2 to not match the hosts fingerprint it worked as well. I also tried different combin

[2015-07-28 22:00] BUGgs commented on #2810
It seems that the issue is with .rdp files, like:
xfreerdp myfile.rdp /cert-ignore

[2015-07-29 01:14] wangfuda commented on #2685
@bmiklautz  this version from app store(https://itunes.apple.com/us/app/ifreerdp/id604813768) can run normal in iphone5s,iphone

[2015-07-29 07:16] heroxbd commented on #505
I am voting for this issue.  Please support sending local X keyboard customizations (by xmodmap) over RDP.

[2015-07-29 16:20] c64cosmin opened #2812 "Send unicode not working."
I have a problem with the API call freerdp_input_send_unicode_keyboard_event(...);

I'm using it as so
freerdp_input_send_unicode_keyboard_event(rdpInput, KBD_FLAGS_DOWN, 49);
freerdp_input_send_unicode_keyboard_event(rdpInput, KBD_FLAGS_RELEASE, 49);

I should get a '1' character on the other side, but I'm getting a 'n' character instead.
49 is the unicode for '1' character.
Looking up on the sca

[2015-07-29 16:40] bmiklautz commented on #2685
@wangfuda that's right but it's not compiled/published as a 64 bit application. As far as I'm aware of old apps could be published without 64 support.

[2015-07-29 17:04] bmiklautz commented on #2812
@c64cosmin where do you use it like that? freerdp_input_send_unicode_keyboard_event doesn't do any conversions and sends it directly out to the server.
Did you try with specifying the hex code?

[2015-07-29 17:14] bmiklautz commented on #2812
I've just tested with master as well as with stable-1.1 when calling the exact code from above
[code]

I get 1 on the server side. Tested with a notepad on Windows 7.

[2015-07-29 18:29] c64cosmin commented on #2812
I use it with Hyper-V on a Windows Server VM and a Ubuntu VM, both of them have the same result. Could it be that the Hyper-V is doing something to the RDP event request?

[2015-07-29 20:10] c64cosmin commented on #2812
I've did a test using a bare-metal machine and seems to work fine. Apparently this is not a issue with freeRDP but it's a Hyper-V issue.

[2015-07-29 20:29] rchildress87 opened #2813 "FreeRDP drops redirected session"
Client: xfreerdp from freerdp-nightly_1.2.1+0~20150729014846.148~1.gbpdfa298_amd64.deb running on Debian 8.

Servers: Terminal server farm made of two Windows Server 2008 R2 servers with RDS role enabled. One additional Windows Server 2008 R2 servers with RDS TS Session Broker role service enabled.  Configured according to https://technet.microsoft.com/en-us/library/Cc772418(v=WS.10).aspx.

When a

[2015-07-29 22:22] niutech commented on #2520
Does the color inversion on big endian still exist? I wanted to build FreeRDP on my Mac PPC, but if it is not fixed, it will be a waste of time.

[2015-07-30 01:05] wangfuda commented on #2685
@bmiklautz thanks for your help. hope the 2.0 come soon.：）

[2015-07-30 06:39] akallabeth opened #2814 "known_hosts file prone to synchronisation errors"
When using multiple FreeRDP instances the ```known_hosts``` file is prone to synchronous modification issues.

Need to implement file locking to ensure the file is not modified in an illegal way (ending up with duplicate entries)

[2015-07-30 08:15] hardening commented on #2812
IIRC there's a capability stating if the server supports unicode input, is it set with Hyper-V ?

[2015-07-30 09:14] bmiklautz commented on #2812
@hardening very good point. However FreeRDP doesn't use/evaluate this client side at the moment.
@c64cosmin If you add the following to your code you will see if unicode is generally supported. If so and you still have issues with Hyper-V that might really be a problem there then ;(.
[code]

[2015-07-30 17:56] c64cosmin commented on #2812
@bmiklautz Thanks a lot.

Apparently this is a issue just with the Linux VMs. Thanks people, this helped a lot, the issue can be closed.

[2015-07-30 18:48] #2812 closed

[2015-07-30 18:49] bmiklautz commented on #2812
@c64cosmin just out of interest you only have problems if linux installed in a Hyper-V?

[2015-07-30 18:51] c64cosmin commented on #2812
@bmiklautz Yes, sending unicode behaves as described above.

[2015-07-31 02:48] RexFan commented on #2807
@bmiklautz I work with @gareks . I have tried +async parameters but it doesn't help. Any other suggestions? The command we use is xfreerdp -sec-nla /cert-ignore /u: /f /drive:*,hotplug /network:modem /rfx /gfx +gfx-h264 +gfx-thin-client -offscreen-cache +fonts /v:192.168.0.1. Please advise. Thanks.

[2015-07-31 04:40] RexFan opened #2819 "OpenH264 error during YouTube playback"
Hello, I found some OpenH264 error prompt up in console during YouTube playback.

### 1. It will keep prompt below error during YouTube playback.
[code]
After a few minutes (or more),  the remote desktop session will be crashed. And i will see one more error like below. (The remote site CPU loading is very high.)
[code]
### 2. While watching the video on YouTube, the screen will fuzzy suddenly (a

[2015-07-31 07:42] bmiklautz commented on #2812
@c64cosmin and does Hyper-V report back that it supports unicode?

[2015-07-31 09:51] fulcop commented on #2542
Same problem (with or without /gt:rp) for one user with xfreerdp compile yesterday (version 1.2.4-dev git dfa2980)
I don't have the pb with my account on his computer (Debian 7) (to connect to a Windows 2012 R2 Standard)

[2015-08-01 18:47] IQAndreas commented on #2715
I still haven't been able to track down the source of the problem; I'm not sure if it's an issue with my particular driver, a problem with FreeRDP, or a problem with the remote server. The odd thing is everything worked just fine before my upgrade to Ubuntu 15.04.

How would I go about debugging this issue further? Is there any way to set up a "ersatz printer" that just sends the information strai

[2015-08-02 22:28] bmiklautz commented on #2715
@IQAndreas the Unkown PacketId shouldn't be a problem. Did you try just to use /printer without the name and driver? - Just for testing?

[2015-08-04 03:04] RexFan opened #2822 "Num Lock and Caps Lock issues while using gfx feature"
Hello, i face some problems about Num Lock and Caps Lock issues while enabled gfx features.
### Num Lock

If i enabled gfx features (i.e. /gfx, +gfx-thin-client or +gfx-h264), the Num Lock will always off by default in remote session whatever it is on or off before remote. So sometimes it may be opposite.

But if i don't use gfx features, there is no problem.
### Caps Lock

If i enabled gfx featur

[2015-08-04 09:46] bmiklautz commented on #2822
@RexFan what server are you connecting to and testing with? I just tried to reproduce your reported behavior with the latest nightly build against different windows version but couldn't observe any problems.

[2015-08-04 10:01] RexFan commented on #2822
@bmiklautz I test this with windows server 2012 R2. And I compile freerdp with only -DTARGET_ARCH=ARM parameter. Maybe there are something confused you what i mentioned above. With gfx features, if my Num Lock LED is on before remote, the LED is still on after remote to server 2012 R2. But the function is same as Num Lock off even the LED is on in remote session. Any advice? Thanks.

[2015-08-04 10:09] bmiklautz commented on #2822
@RexFan are you doing a cross compilation or native? - In the later case I think you don't need DTARGET_ARCH=ARM.

I don't think there is a confusion however here how I've tested (for example CAPS Lock):
* Turn CAPS Lock on
* connect to a remote
* check in notepad if caps lock is really on
* disconnect

* Turn CAPS Lock off
* connect to a remote
* check in notepad if caps lock is off
* disconnect

[2015-08-04 10:18] RexFan commented on #2822
@bmiklautz I am sorry my English is not good. The Num Lock button on my keyboard has a "light" on it. I think i use wrong word.
I use raspberry pi 2 which is ARM architecture. So i use cmake to compile freerdp. Below is my script.

cmake -DTARGET_ARCH=ARM -DCMAKE_INSTALL_PREFIX:PATH=/home/pi/freerdp

[2015-08-04 22:00] bjcollins commented on #2760
https://github.com/FreeRDP/FreeRDP/pull/2824

[2015-08-05 01:40] RexFan commented on #2822
@bmiklautz I found there were some warnings occurred while compiling freerdp, which were related to gfx.
[code]
And some other warnings may cause issues.
[code]
Please advice. Many thanks.

[2015-08-05 09:30] bmiklautz commented on #2822
@RexFan the warnings shouldn't be related to your problem. As said before I couldn't reproduce your problem. Maybe it's an arm specific issue but I can't test since I don't have any arm device around at the moment.

[2015-08-05 11:33] dd-jacks commented on #2822
I don't know how about Caps but for Num I think I've got the same.
Nettop with Intel Atom D2700. Since the chip is provided with a GMA 3600 (дай бог им здоровья \*russian sarcasm\*), I have to use ubuntu 12.04 i386. I don't have any display managers, all I do is
`exec startx`
~/.xinitrc:
`/usr/local/bin/xfreerdp /bla:bla +bla`

So if I add *numlockx on* at first line...
with gfx:
Num led is on, nu

[2015-08-05 12:02] dd-jacks commented on #2822
kernel version is 3.2

[2015-08-05 12:02] bmiklautz commented on #2822
@dd-jacks thanks for the feedback. What FreeRDP version and server side do you use?
If this is in fact a problem it would be nice if I could properly reproduce it.

[2015-08-05 12:04] dd-jacks commented on #2822
@bmiklautz
git pull a few hour ago
server-side is Windows 2012 R2

[2015-08-05 12:09] bmiklautz commented on #2822
@dd-jacks thanks. Also tested with the latest master and against Windows 2012 R2. No problem ;(.
Did you try if the problem also exists if you don't start a regular window manager and start xfreerdp manually?

[2015-08-05 12:17] sriram-kakarala commented on #1992
Any updates if these changes were merged to the master? I see the same issues with the latest code as well.

Thank you.

[2015-08-05 12:44] dd-jacks commented on #2822
@bmiklautz
tty1:
[code]
push numlock button at vt7 (now led is on)
tty2:
[code]
everything works, closing xfreerdp
[code]
num led is on, numbers are off

[code]
I can't test another kernel now, but at my PC workstation with ubuntu 14.04 and kernel 3.13 it worked well (with/without GNOME)

[2015-08-05 12:56] bmiklautz commented on #2822
@dd-jacks the kernel shouldn't (hopefully) influence this.
The test above is without any window manager right?
How do you "close" xfreerdp between the tests?

[2015-08-05 12:57] dd-jacks commented on #2822
@bmiklautz
Yes, without window manager, closing by "Esc"

[2015-08-05 13:00] dd-jacks commented on #2822
Fedora 22
kernel 4.1.2-200.fc22.x86_64
Gnome
from gnome-terminal problem exist

[2015-08-05 13:51] HenryJacques commented on #2733
Fixed in #2793

[2015-08-05 13:51] #2733 closed

[2015-08-05 13:53] HenryJacques commented on #2810
With latest master, using rdp file, xfreerdp doesn't warn me about the certificate, *never* (with or without /cert-ignore). And yes I don't have already the fingerprint in ~/.config/freerdp/

[2015-08-05 14:34] HenryJacques opened #2826 "Unused variable in RegQueryValueExA()"
Hi,

I didn't want to pull a unjustified request for that, but I don't think the **reg** variable in *winpr/libwinpr/registry/registry.c* is of any utility because it is not used in the rest of the function any more

[code]

Bye

[2015-08-05 15:11] fulcop commented on #2542
I solve my problem by adding users/groups in the Windows 2012 group "remote desktop"

[2015-08-05 16:32] bmiklautz commented on #2826
@HenryJacques pull requests are always welcome.

[2015-08-05 16:35] HenryJacques commented on #2826
all right ;)

[2015-08-05 16:40] HenryJacques commented on #2826
PR #2827

[2015-08-05 16:40] #2826 closed

[2015-08-10 09:42] lemonmojo opened #2828 "TLS 1.2"
I'm currently trying to get a TLS 1.2 only connection working using FreeRDP.
The target machine is Windows Server 2012 R2 Core and I've deselected TLS 1.0 and TLS 1.1 using IIS Crypto (https://www.nartac.com/Products/IISCrypto).

I'm able to connect from a Windows 8.1 box using mstsc and I've verified that TLS 1.2 is indeed being used by enabling Schannel logging on the target machine (https://sup

[2015-08-10 14:54] dbungert commented on #2828
Hey Lemonmojo,

A small tweak to libfreerdp/crypto/tls.c should do it.
You could do this to force it to 1.2

    diff --git a/libfreerdp/crypto/tls.c b/libfreerdp/crypto/tls.c
    index b33bb51..91a4330 100644
    --- a/libfreerdp/crypto/tls.c
    +++ b/libfreerdp/crypto/tls.c
    @@ -753,7 +753,7 @@ int tls_connect(rdpTls* tls, BIO* underlying)
             */
            options |= SSL_OP_DONT_I

[2015-08-10 16:19] lemonmojo commented on #2828
@dbungert: First of all, thanks for the pointers!

I can confirm that using the first version (forcing TLS 1.2) does indeed work, but obviously kills compatibility with all other TLS versions (most RDP servers).

So I'd like to get the second variant (negotiate TLS version) going.
I'm having issues with the linker however. It seems like the `TLS_client_method` method is newer than the current Open

[2015-08-10 16:50] dbungert commented on #2828
@lemonmojo I should have clarified that this was pure speculation on my part, that I didn't actually compile either variant.  :smile: You may well need to adjust the one in schannel_openssl_client_init as well.

So while this document references TLS_client_method https://www.openssl.org/docs/ssl/TLSv1_server_method.html, that also fails to compile for me.  I think your best bet for now is to force

[2015-08-10 16:53] dbungert commented on #2828
"TLS_server_method and TLS_client_method were introduced in OpenSSL 1.1.0."

OK, there's your answer.  Upgrade to OpenSSL 1.1.0 or for TLS1.2.

[2015-08-10 17:06] lemonmojo commented on #2828
@dbungert Bummer! Since I need this for my clients who need to be able to connect to all kinds of RDP servers It's not feasible to compile for TLS 1.2 only.
But I'll give 1.1.0 a shot! If I can get it to compile on OS X, that is... ;)

Thx for looking into this and all the pointers!

[2015-08-10 17:47] lemonmojo commented on #2828
FYI: Just successfully compiled OpenSSL 1.1.0. Unfortunately there are lots of linker errors when compiling FreeRDP against it. Looks like the OpenSSL guys removed a lot of previously deprecated functions which are still in use by FreeRDP.

The only other feasible option for me would be to make this a user-configurable setting (Force TLS Version 1.0, 1.1 or 1.2). But obviously this would only be k

[2015-08-11 02:16] mjhca commented on #2819
What are your config.txt settings for the rpi2?  Since you mention it occurs when watching HD video, have you tried increasing the GPU memory allocation?

In the rpi2 config.txt, try setting **gpu_mem_1024=256** or **gpu_mem_1024=512** to see if it stops the crashes.

[2015-08-11 02:40] RexFan commented on #2819
@mjhca The setting **gpu_mem_1024=512** is in my config.txt. And i finally find out that it doesn't cause by watching HD video. The error will prompt in random time(maybe a few minutes or more than half an hour) during watching video(not only HD). I have tested with latest freerdp (1.2.4-dev git e45ebd8) and still have this problem.
Please advice, thanks.

[2015-08-11 07:23] RexFan commented on #2819
Hello, I also test same settings on fresh install debian 7.7 and find the same problem. (Remote to server 2012r2)
Below is my build command.
[code]
Can anyone help?
Thank you.

[2015-08-11 09:49] AurimasF commented on #433
We have the same problem with Win2k3 and FreeRDP master.
Is it possible to somehow capture FreeRDP RDP communication and see what exactly causes this issue?

[2015-08-12 01:07] Hopedream opened #2830 "afreedrp complile error when run make . error log:"
/root/backup/FreeRDP/winpr/libwinpr/synch/wait.c:108:12: error: static declaration of 'pthread_mutex_timedlock' follows non-static declaration
 static int pthread_mutex_timedlock(pthread_mutex_t *mutex, const struct timespec *timeout)
            ^
In file included from /root/backup/FreeRDP/winpr/libwinpr/synch/synch.h:50:0,
                 from /root/backup/FreeRDP/winpr/libwinpr/synch/wait.c:44

[2015-08-12 09:40] akallabeth commented on #2830
@Hopedream Hmm, strange. The custom implementation for ```pthread_mutex_timedlock``` is only compiled in, if ```check_library_exists(pthread pthread_mutex_timedlock "" HAVE_PTHREAD_MUTEX_TIMEDLOCK)``` does not find the function in the library. Looks like the detection went wrong, could you check / post the output of CMake?

[2015-08-12 10:03] RexFan commented on #2822
@bmiklautz  i deployed a debian 7.7 x64 vm and do above testing. The problem is still there. So it may not caused by arm architecture. May i know your freerdp compile command and have a try?

[2015-08-12 11:31] Hopedream commented on #2830
hi akallabeth，
I couldn't find anything,Did I make a mistake ?
log as follows：
[root@xmchen FreeRDP]# cmake -DCMAKE_TOOLCHAIN_FILE=cmake/AndroidToolchain.cmake -DCMAKE_BUILD_TYPE=Debug -DPKG_CONFIG_EXECUTABLE="/usr/local/pkgconfig/bin" -DANDROID_NDK="/usr/local/ndk" -DFREERDP_EXTERNAL_SSL_PATH="/usr/local/external_ssl" -DANDROID_NATIVE_API_LEVEL:STRING=L -DANDROID_BUILD_JAVA=OFF  -L .
CMake Warnin

[2015-08-12 11:32] Hopedream commented on #2830
hi akallabeth,
hi akallabeth，
I couldn't find anything,Did I make a mistake ?
log as follows：
[root@xmchen FreeRDP]# cmake -DCMAKE_TOOLCHAIN_FILE=cmake/AndroidToolchain.cmake -DCMAKE_BUILD_TYPE=Debug -DPKG_CONFIG_EXECUTABLE="/usr/local/pkgconfig/bin" -DANDROID_NDK="/usr/local/ndk" -DFREERDP_EXTERNAL_SSL_PATH="/usr/local/external_ssl" -DANDROID_NATIVE_API_LEVEL:STRING=L -DANDROID_BUILD_JAVA=OFF  -L

[2015-08-12 13:42] Rexilion commented on #433
@lemonmojo The initial issue mentions redirected disks. Not the disconnect on w2k3 machines.

[2015-08-12 13:45] lemonmojo commented on #433
@Rexilion Yes but I think this is just a coincidence... Anyway, that's up for @bakytn to answer.

[2015-08-12 14:25] akallabeth commented on #2830
hmm, looks like the detection fails for some reason.

[2015-08-13 14:10] HenryJacques commented on #2742
@meanbunny : did you enable RemoteFX on the Windows 8.1 VM (in local computer group policies)?
It is mandatory to redirect USB devices such as your phone.
(see https://technet.microsoft.com/fr-fr/library/Ff817578%28v=WS.10%29.aspx)

[2015-08-13 16:40] HenryJacques commented on #2722
@hardening: concerning your work on URBDRC are you talking about your mhchannel branch?

[2015-08-13 16:42] HenryJacques commented on #2722
I'm closing this issue. Like I said, it is necessary to create a new rules.d file with a permission of 0666 for the specific USB device you want to redirect.

[2015-08-13 16:42] #2722 closed

[2015-08-13 16:53] HenryJacques opened #2832 "Can't use redirected USB devices"
Hello,

I am using the latest master from a Ubuntu 14.04 64 bits to connect to a Windows 7 SP1 32bits.
I am redirecting an USB device using the /usb:id,dev command line.
The device is correctly redirected (I had to first enable RemoteFX on the target), the driver is correctly installed and the device appears in the Device Manager.

However, I noticed that the device appears to be connected from a

[2015-08-13 19:30] bmiklautz commented on #2828
@lemonmojo the warning should only appear when compiling on OS X with the version they ship. or?

[2015-08-13 19:34] bmiklautz commented on #2822
@RexFan with libopenh264 installed I just the following in the cloned FreeRDP directory:
[code]

[2015-08-14 03:08] RexFan commented on #2822
@bmiklautz I try your command and try without installing openh264. But both have this issue. (Local host: Debian x64; Remote side: 2012R2)
[code]
The remote command i used is given below.
[code]
Do you have any other suggestions?

[2015-08-14 07:30] lemonmojo commented on #2828
@bmiklautz Not sure which warnings and which version you're referring to...
I've previously used a pre-compiled OpenSSL through MacPorts (version 1.0.2d and 1.0.2a) which works perfectly fine, just not with TLS 1.2.

Then I compiled the current development snapshot of OpenSSL 1.1.0 to get the TLS negotiation feature as suggested by @dbungert. The OpenSSL build is fine, but compiling FreeRDP agains

[2015-08-14 13:17] HenryJacques commented on #2832
In fact my lead was wrong. I've tested it this morning again. This time, the redirected devices appeared to be connected from the Port number 0006 which is something more regular but the behaviour remains the same: the device is redirected (or "half-redirected" - you'll see later why), the driver is correctly installed and the device appears in the device manager.

I've tested this with several US

[2015-08-14 13:25] zonywhoop commented on #2828
@lemonmojo @dbungert Just my .02 as this problem is affecting us as well, PCI DSS 3.1 is requiring that TLS 1.0 and sometimes (auditor preference it seems) TLS 1.1 be disabled by default.  This currently breaks all but the latest RDP client on windows (MS Mac Client does not currently work with TLS 1.2 - probably for the same reason FreeRDP is having issues).  Having a check box to force TLS 1.2 w

[2015-08-14 13:31] HenryJacques commented on #2742
see also #2832

[2015-08-14 13:34] HenryJacques commented on #2413
@LGLumi what do you mean by "it's working" ?
As for myself it is not, see #2832

[2015-08-14 13:36] HenryJacques commented on #2113
@dd-jacks what do you mean by "device redirected successfully"?
Can you *really* use it in the remote session?
(see #2832)

[2015-08-17 03:51] Hopedream commented on #2830
I have got it . NDK there is a problem, the lack of some things

thanks for your help !

[2015-08-17 03:51] #2830 closed

[2015-08-18 07:32] elangelo opened #2833 "Multimonitor issue"
I have 3 monitors connected to my linux machine (xrandr) with which i connect to my windows rdp session: one 17 inch, one 24 inch and then another 17 inch
So the resolutions are: 1280*1024 - 1920*1200 - 1280*1024.
When i just tell xfreerdp to use all monitors and calculate the size all by itself it gets something of a 4480*1024. (see picture attached)

![multimonxfreerdp](https://cloud.githubuserc

[2015-08-18 08:24] Hopedream opened #2834 "xfreeRDP connect by gateway error FreeRDP-e45ebd871e23152661babfacddd0fb4179a767d3"
* 1.commit code:FreeRDP-3b332e7829c165aae59ee026a53dece723cccee9,Connected  through gateway successful .
* 2.commit code:FreeRDP-e45ebd871e23152661babfacddd0fb4179a767d3 can't connect through gateway . only error log :
[15:55:04:752] [12831:12832] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_CONNECT_TRANSPORT_FAILED [0x2000D]
[15:55:04:752] [12831:12832] [ERROR][com.freerdp.client

[2015-08-18 10:00] Hopedream opened #2835 "xfreerdp how to run application program ? how to open file ?"
1.xfreerdp /v:192.168.2.33 /u:adv_007 /p:ux%1c6f7 /d:vsotest.com /app:"C:\\Windows\\system32\\mspaint.exe",can not run mspaint .

error log:
[17:58:27:273] [24561:-425416960] [INFO][com.freerdp.client.common.cmdline] - loading channel rail
[17:58:35:008] [24561:-433809664] [ERROR][com.freerdp.client.x11] - RAIL exec error: execResult=RAIL_EXEC_E_NOT_IN_ALLOWLIST NtError=0x15

Are the parameters fi

[2015-08-18 22:11] meanbunny opened #2836 "OSX - Invalid RDP Key File"
Hey All,

I am getting the following error when trying to run freerdp-shadow on a mac as a server and then try to connect from my ubuntu machine with FreeRDP as a client.. This is the latest code.

`Unable to open RSA key file /Users/meanbunny/Library/Application Support/freerdp/freerdp/shadow/shadow.key No such file or directory`

Any hints as to what this could be? The file is indeed missing.

[2015-08-19 05:43] Hopedream opened #2837 "xfreerdp display issues remote open an application,"
**1.xfreerdp remote open an application(mspaint),The desktop display is not correct, but the coordinates are correct and the image appears to be offset.**

**2.afreerdp && ifreerdp is ok !**

**3.xfreerdp remote desktop,operation mspaint has no problem .**

ps;xfreerdp os->linux && Mac
![11](https://cloud.githubusercontent.com/assets/13480468/9354740/9a9f8d9c-46a5-11e5-9df3-39ace743afe0.png)
![222

[2015-08-19 05:45] Hopedream commented on #2835
update,
3.xfreerdp /v:192.168.2.33 /u:adv_007 /p:ux%1c6f7 /d:vsotest.com /app:"||mspaint" /app-cmd:"c:\users\adv_007\test.png",can not open the png file,is ok

[2015-08-19 07:18] i92guboj commented on #2269
Is this officially solved? I am still getting this problem and I have been hitting against the wall for weeks, thinking that it was Windows 2012r2 acting up again as it always does, until I thought "oh well lets look somewhere else".

Is there a proper way to work around this issue without having to recompile a custom  client for each pos workstation?

[2015-08-19 15:55] Conan-Kudo opened #2839 "Please make a release of FreeRDP based on git master for applications to target against"
Could you guys please make a release of FreeRDP 1.2.x-dev that applications can target, specifically applications like [Guacamole](http://guac-dev.org/), who won't update their code because [your API changes too much for them to track git master](https://glyptodon.org/jira/browse/GUAC-1130). Without a release, it's not possible to update FreeRDP for other programs that share usage of the FreeRDP l

[2015-08-19 19:48] hardening commented on #2839
@Conan-Kudo I'm adding your issue to the 2.0 milestone

[2015-08-19 21:48] justbalance commented on #2429
+async-transport is very buggy on my arm linux boxes. I have found that if I set the LAN connection to 10/half duplex and use the +async-update +async-input switches that the clients do not freeze anymore but video and audio streaming have glitches.

[2015-08-20 02:29] Hopedream opened #2840 "freerdp test on display problems"
### 1.Remote Desktop --CentOS7
**here operation and display are normal, the effect is shown below**
![open_desktop_maya](https://cloud.githubusercontent.com/assets/13480468/9374022/5fbc1d0c-4723-11e5-8816-3758553d49a1.png)

### 2.Remote Application --CentOS7
**application program interface displays deletion, click on the menu, the drop-down list can not be displayed properly !as shown**
![11](http

[2015-08-20 02:30] #2837 closed

[2015-08-20 10:20] DejavuDmitry commented on #2331
Any suggestions?

[2015-08-20 14:03] Enverex opened #2841 "Null Character Appearing at the End of Copied Strings"
A user is reporting that when they copy and paste text from a remote Windows box (to their local Linux client) it's not working correctly.

After some investigation it appears that for some reason when the text is copied from the Windows server and then pasted to the Linux client, a null character (%00) is appended to the end of the string (it's not there if they paste within the RDP session, only

[2015-08-20 20:33] ilammy commented on #2841
Actually, sometimes it's not a single character, but a bunch of them (see #2287). I have no idea why Windows does this, but apparently UTF8_STRING format must not include terminating null characters. At least, according to [this draft spec](http://www.pps.univ-paris-diderot.fr/~jch/software/UTF8_STRING/UTF8_STRING.text) (we all know how _well_ X11 is standardized).

I am working on some clipboard

[2015-08-21 03:00] xiaoshzx opened #2842 "sandisk USB Mass Storage device redirecting not working"
[06:29:24:620] [6035:6113] [ERROR][com.freerdp.channels.urbdrc.client] - transfer->status=4,handle event status=0,transfer_type=2,BufferSize=8
[06:29:24:638] [6035:6114] [ERROR][com.freerdp.channels.urbdrc.client] - transfer->status=4,handle event status=0,transfer_type=2,BufferSize=512

libusb_udev_bulk_or_interrupt_transfer function  ，
 transfer->status ==LIBUSB_TRANSFER_STALL，

Dear developers!

[2015-08-21 06:10] HenryJacques commented on #2842
How are you (which parameters) redirecting your USB mass storage?
What version and OS are you using?
Bye

[2015-08-21 09:21] DejavuDmitry commented on #2269
Also not work from the first run of the instance. Here is screencast of my tries to redirect driver:
[![IMAGE ALT TEXT](http://img.youtube.com/vi/ZBJx65Kd52Q/0.jpg)](https://www.youtube.com/watch?v=ZBJx65Kd52Q "FreeRDP Printer redirection driver  issue")

[2015-08-21 10:13] Enverex commented on #2841
Have you submitted that as a pull-request?

[2015-08-22 08:38] xiaoshzx commented on #2842
freerdp： #define FREERDP_VERSION "1.2.2"
#define FREERDP_VERSION_FULL "1.2.2-dev"

[2015-08-22 08:39] xiaoshzx commented on #2842
os ： arm+linux ， kernel version: 3.10.0

[2015-08-22 08:41] xiaoshzx commented on #2842
cmd line: ./xfreerdp  ./xfreerdp /f /bpp:32  /rfx  /usb:auto   /u:shengyun /p:shengyun  /v:192.168.0.100

[2015-08-22 08:46] xiaoshzx commented on #2842
Another Kingston USB storage device redirecting ok

[2015-08-22 16:26] ilammy commented on #2841
Not yet. I am going to submit this together with other clipboard-related changes from that branch so that they can be reviewed in one place.

[2015-08-22 22:08] czo commented on #2520
Yes, it's currently still exists.

But it's seems more strange than i see it before. When i try to connect to Windows XP SP3 with rdp without NLA, with the following command:
xfreerdp /u:czo /p:******* /v:192.168.1.11
The logon process stopping with invalid password error, and my username displaying boxes instead of readable characters: http://homokozo.czo.hu/freerdp-xpsp3-logon.png
When i type my

[2015-08-24 01:15] Hopedream commented on #2830
Hi，

https://github.com/FreeRDP/FreeRDP/issues/2840

Unable to connect to remote desktop through gateway with the latest code(FreeRDP-e45ebd871e23152661babfacddd0fb4179a767d3)

Use old code , connect to remote desktop through gateway  is ok ,but display is bad !!

BR

[2015-08-24 07:19] #2840 closed

[2015-08-25 00:35] Hopedream commented on #2808
I have tried many versions of the code, and found that the code is all in support of March 26, 2015, after that, until now are not supported, I do not know what is the reason

![1](https://cloud.githubusercontent.com/assets/13480468/9455962/e5e0bca6-4b03-11e5-8430-83023222f997.jpg)

[2015-08-25 02:35] #2835 closed

[2015-08-25 04:03] coreline opened #2843 "Use unicode to correct work"
To correct work in any languages the fields Domain, Username, Password and ServerHostname must be in unicode.
	ALIGN64 char* ServerHostname; /* 20 */
	ALIGN64 char* Username; /* 21 */
	ALIGN64 char* Password; /* 22 */
	ALIGN64 char* Domain; /* 23 */
must replace on
	ALIGN64 wchar_t* ServerHostname; /* 20 */
	ALIGN64 wchar_t* Username; /* 21 */
	ALIGN64 wchar_t* Password; /* 22 */
	ALIGN64 wchar_t*

[2015-08-25 07:39] akallabeth commented on #2808
@Hopedream So, ```29e2b1f763c01bbf05edeadc86bc581d3e2ff384``` is the last commit working for you and ```aa2181dcf2dd98693767ba738c5b2ad8c3d742d4``` the first one broken?

[2015-08-25 07:40] Hopedream commented on #2808
yes !

[2015-08-25 07:41] Hopedream commented on #2808
@akallabeth  Yes !!!

[2015-08-25 07:46] akallabeth commented on #2808
@Hopedream Are you sure? The diff only shows changes in error code to string conversions (only used for debug output). Maybe you could post the output of a connection attempt with ```WLOG_LEVEL=trace``` set to get more detailed error information.

[2015-08-25 07:50] bmiklautz commented on #2808
@Hopedream how is you list related to this initial issue "Support for Remote Desktop Gateway PAA"?
And can you give more details on how you are testing..

[2015-08-25 07:51] Hopedream commented on #2808
@akallabeth  Ok,I will test again with  WLOG_LEVEL=trace now .

[2015-08-25 07:52] bmiklautz commented on #2843
@coreline can you give some information on what "the error" this fixes is?

[2015-08-25 08:01] bmiklautz commented on #2833
@elangelo did you use master for your tests?

[2015-08-25 08:01] coreline commented on #2843
If login or password has not latin chars you can't logon. For example login will be админ (russian).

[2015-08-25 08:02] Hopedream commented on #2808
@bmiklautz I just test the connection through gateway whether it can be sucessed .

[2015-08-25 08:02] bmiklautz commented on #2843
@coreline are you entering the password/username on the prompt or passing it as option with /p or /u?

[2015-08-25 08:03] bmiklautz commented on #2808
@Hopedream so your problem is rather a new issue than related to this one, or?

[2015-08-25 08:04] coreline commented on #2843
@bmiklautz i enter in code

	settings->ServerHostname = strdup("host");
	settings->Username = _wcsdup(L"админ");
	settings->Password = _wcsdup(L"123456789");

[2015-08-25 08:05] elangelo commented on #2833
Afaik I'm using master. (might be a couple of days old now)

$ xfreerdp --version
This is FreeRDP version 1.2.4-dev (git e45ebd8)

On Tue, Aug 25, 2015 at 10:01 AM, Bernhard Miklautz <
notifications@github.com> wrote:

[2015-08-25 08:09] bmiklautz commented on #2843
@coreline ok. I see the problem you are having but did you try simply with xfreerdp as well?

[2015-08-25 08:13] Hopedream commented on #2808
@bmiklautz  yes,I'm sorry. I think I'm wrong,my problem is that the gateway connection failed

[2015-08-25 08:15] coreline commented on #2843
@bmiklautz what is the xfreerdp? I use FreeRDP in Visual studio 2013.

[2015-08-25 08:19] bmiklautz commented on #2843
@coreline ok so you use FreeRDP as library and create you own client?

[2015-08-25 08:20] coreline commented on #2843
@bmiklautz yes

[2015-08-25 08:23] coreline commented on #2843
@bmiklautz I made a version that takes the Cyrillic alphabet. It works, but it is bad. I can send it to you for analysis to understand what the problem is.

[2015-08-25 08:25] Hopedream commented on #2808
@akallabeth How to uses this parameter WLOG_LEVEL=trace ?

[2015-08-25 08:28] bmiklautz commented on #2808
@Hopedream please open a new issue on your problem.

[2015-08-25 08:45] Hopedream commented on #2808
@bmiklautz  I have done,but no ones browing .[my problem](https://github.com/FreeRDP/FreeRDP/issues/2834)

[2015-08-25 08:55] akallabeth commented on #2843
@coreline FreeRDP mostly uses UTF-8 internally, so you could check if it works for you to just use ```ConvertFromUnicode(CP_UTF8, 0, wchar_string, -1, &utf-8-string, 0, NULL, NULL)``` (from the top of my mind, check arguments if they are correct)

[2015-08-25 09:26] coreline commented on #2843
@bmiklautz it work. Thank you.

[2015-08-25 10:51] akallabeth commented on #2836
@meanbunny you have to create a server certificate. have a look at the ```winpr-makecert``` tool.

[2015-08-25 17:36] colemickens commented on #2302
Ping again. This is unusable with libinput becoming the standard. There's no way to disable horizontal scroll events with this new input driver.

[2015-08-26 07:11] avollmerhaus commented on #2707
I am experiencing this, too.
This is FreeRDP version 1.2.1-dev (git n/a) and Fluxbox 1.3.7

[2015-08-26 08:41] Vladimir-csp commented on #428
/workarea should account for window decoration.

[2015-08-26 08:59] Vladimir-csp commented on #2104
Why isn't it already merged after almost a year? Switching desktops away from xfreerdp window results in stuck Super key inside RDP session.
I will test the patch...

[2015-08-26 09:57] Vladimir-csp commented on #2104
I've applied the patch to version 1.1.0~git20140921.1.440916e+dfsg1-4 (Debian jessie), replacing "xf_keyboard" with "xf_kbd". But Super key is still stuck when returning to freedesktop window after swithcing from it with keyboard.

[2015-08-26 10:02] leoluk commented on #2104
Remmina had a similar issue, see https://github.com/FreeRDP/Remmina/issues/7#issuecomment-126452716

[2015-08-26 10:08] Vladimir-csp commented on #2104
does [this](https://github.com/FreeRDP/Remmina/commit/cc427c785726594bbdfbcdaf36601f4f82b66fe1) commit help? if so, how it can be adapted for xfreerdp?

[2015-08-26 14:29] dd-jacks commented on #2113
@HenryJacques
Yes, I successfully use my web-camera!
I've got some troubles with epson scanner, but I have the same troubles with mstsc.

[2015-08-26 15:12] HenryJacques commented on #2113
@dd-jacks
Thanks for your feedback. Can you give me your exact version of xfreerdp? (commit)

[2015-08-26 15:15] dd-jacks commented on #2113
e45ebd8

[2015-08-26 15:24] HenryJacques commented on #2113
Great thanks!

[2015-08-26 15:53] cleric333 opened #2845 "a lot of errors during connecting"
I followed the build instruction to make XfreeRDP and I have

I5 4670T + AMD R7 250 + 8G for the host (Hyper-V) with remotefx setup correctly

tow cores with 2GB for the virtual machine and all needed scripts installed

but during the connecting session a lot of errors posted on command line screen and sometime it breaks the connection (That's why I could find out). and the experience was very bad

[2015-08-26 15:54] cleric333 commented on #2845
forgot to say the virtual machine runs windows 7 ultimate

[2015-08-26 20:48] bmiklautz commented on #2845
@cleric333 could you add the command line you are using?

[2015-08-27 01:06] jojonewnew commented on #2845
Could you try this method?
https://github.com/SBoyNumber1/FreeRDP/commit/f8c9f7a486bdbbb951eb2aa4991dbc8e0946592b

[2015-08-27 02:26] cleric333 commented on #2845
I use something like, xfreerdp /u:111.111.111.111 /p:password /f /rfx, nothing special

[2015-08-27 07:13] bmiklautz commented on #2845
@cleric333 just to make sure you are connecting directly to the virtualized windows or to hyper-v?

[2015-08-27 07:54] Hopedream opened #2848 "freerdp connect fail through gateway"
I don't know if it's a bug，here are some of my problems and solutions .

* 1.I can't connect through gateway with the latest code(e45ebd871e23152661babfacddd0fb4179a767d3)
![1](https://cloud.githubusercontent.com/assets/13480468/9514801/ac02c394-4ccf-11e5-9184-51842bdd6579.jpg)

* 2.but connect through gateway with old code is ok(3b332e7829c165aae59ee026a53dece723cccee9)
![2](https://cloud.githubu

[2015-08-27 09:23] akallabeth commented on #2848
@Hopedream Thx for the detailed analysis, but this 'fix' was introduced to prevent possible endless loops when SSL errors occur. Looks like this needs some more brainpower to resolve for gateway connectivity. So, if this fix works for you please use the patched version for the time being until a proper fix can be introduced.

[2015-08-27 09:27] Hopedream commented on #2848
Ok,thank you very much !

[2015-08-27 10:45] cleric333 commented on #2845
yes I connect directly from client ( Celeron 1037U, 1G, Ubuntu 14 with newest XfreeRDP) to virtuallized windows 7

[2015-08-27 10:50] cleric333 commented on #2845
to make clear

Host: I5 4670T, 8G with windows server 2012 enterprise with Hyper-V and RemoteFX setup

virtual machine: 2 cores with 2G with windows 7 ultimate and RemoteFX graphic card, dxdiag shows all 3D accelerations are OK

client: Celeron 1037U with 1G with Ubuntu 14 and XfreeRDP setup followed build up instruction and works without errors without /rfx

[2015-08-27 11:00] akallabeth commented on #2845
@cleric333 Hmm, looks like some specific settings on your machine cause this. The error message you get tells that the RFX frame from the server does not contain any update regions, therefore it tries to update the whole screen (which can be quite time consuming). Just tried to connect to a Win7 Ultimate machine and I don't get these errors. (used FreeRDP 9101135e522e4023a3975dddd132afb2f6f34fe7)

[2015-08-27 12:05] Hopedream opened #2849 "ifreerdp build compilation environment issues with OpenSSL-DownloadAndBuild.command"
## scripts/OpenSSL-DownloadAndBuild.command has some problems ##
* 1.There is no openssl-1.0.2a on this site [openssl](http://www.openssl.org/source),but the script reads as follows
![1](https://cloud.githubusercontent.com/assets/13480468/9519904/7517214c-4cf5-11e5-8f3c-4e613ce4799c.jpg)

* 2.I have change it to 1.0.2d and mark the following script
[code]
I hope you are concerned

[2015-08-27 12:46] akallabeth commented on #2849
@Hopedream The sources for all versions of OpenSSL can be found here: ftp://ftp.openssl.org/source/
As for the (not current) version, if you prefer a newer one just change the ```OPENSSLVERSION``` and ```MD5SUM``` values according to the version you prefer.
The scripts do not always contain the most recent versions as they are only updated when used ;)

[2015-08-27 12:57] cleric333 commented on #2845
only /gfx without /rfx?

[2015-08-27 13:00] cleric333 commented on #2845
and I tried raspberry Pi 2, exactly the same problem, it seems the error is from the server end

[2015-08-27 13:00] cleric333 commented on #2845
where should I check for the server end?

[2015-08-27 13:02] akallabeth commented on #2843
@coreline So if this is solved for you, could you close the issue?

[2015-08-27 13:16] akallabeth commented on #2845
@cleric333 both options, ```/gfx /rfx``` This enables the GFX channel. As for the server I can not help there :/

[2015-08-27 13:42] Hopedream commented on #2849
I see,but /scripts/OpenSSL-DownloadAndBuild.command'code as follow
[code]
you can check it,commit code(e45ebd871e23152661babfacddd0fb4179a767d3)
Whether the link is wrong?

[2015-08-27 13:49] akallabeth commented on #2849
@Hopedream Yes, you are right. OpenSSL project just has the most recent versions on their http site. The link is OK, you just have to change the version to one of the currently supported ones (including MD5SUM)

[2015-08-27 14:38] #2843 closed

[2015-08-27 14:43] akallabeth opened #2850 "[GFX H264] decoder issues"
* connect to Win8.1 RDP using h264 (openH264)
* resolution preferrably ```640x480``` (with this resolution the error occurs most often)
* ```DecodeFrame2``` fails with ```dsDataErrorConcealed``` bit set. (not always but often)

[2015-08-28 00:10] #2849 closed

[2015-08-28 00:10] #2848 closed

[2015-08-28 00:10] #2834 closed

[2015-08-28 07:29] ilammy commented on #2845
By the way, this _is_ documented now, with the latest RDP spec update for Win 10:

[2015-08-28 08:45] bmiklautz commented on #2845
@ilammy nice! Thanks for the hint I've update the comment in the code and removed the warning. Should be on master once #2852 is merged.

@cleric333 except the "no rects. clip whole session." do you still have other errors?

[2015-08-28 08:50] giovannitarter opened #2853 "Default behavior wallpaper cmdline option"
On the linux client, the

-wallpaper (default:on)     Wallpaper

option is not on by default.
If I launch xfreerdp without any option, the wallpaper is disabled. To enable it I have to launch xfreerdp with +wallpaper option.

Thanks

[2015-08-28 09:09] bmiklautz commented on #2853
@giovannitarter you are right the help documentation is wrong and in reality Wallpaper is disabled per default. I'll create a pull request that enables the wallpaper per default as the documentation says.

[2015-08-28 09:22] hyacinthes commented on #2842
Did the USB format with NTFS?

[2015-08-28 15:37] cleric333 commented on #2845
too many lines of the same errors, I can only find what I reported.

AND

today I have reloaded windows 2008 enterprise, setup remoteFX, used the same client machine with XfreeRDP without any fix, everything went OK, and the experience of using the virtual machine is much much better

AND

I reloaded windows 2012 again, the problem remains

[2015-08-29 01:49] xiaoshzx commented on #2842
FAT32 format

[2015-08-29 19:32] hendwolt opened #2856 "Segmentation fault with +clipboard"
I downloaded and compiled the current master version (git commit a700d1d02d) on a 32-bit system.
There I get:

xfreerdp /u:mytestuser /f +clipboard  /v:192.168.0.59
[21:06:59:859] [20081:20082] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
Password:
Segmentation fault

The same version works on a 64-bit system.

In the build log of the 32-bit system I find some warnings about

[2015-08-30 06:14] hendwolt commented on #2856
some more information:
I am building on Linux (openSUSE Tumbleweed 32 bit) with obs (Open Build Service).

[2015-08-30 07:47] hendwolt commented on #2856
Sorry for the noise. I managed to mix different library versions.
Fixed by a clean reinstallation.

[2015-08-30 07:47] #2856 closed

[2015-08-30 18:33] cleric333 commented on #2845
it seems the problem is only for windows 2012

[2015-08-30 18:34] cleric333 commented on #2845
it seems the problem is only for windows 2012 host

[2015-08-30 20:31] #2853 closed

[2015-08-31 01:49] cleric333 opened #2857 "X_Putlmage problem"
when I use XfreeRDP to connect Hyper-V, if I add /rfx, the system gives a error

major opcode of failed request ：72（X_Putlmage）

Serial number of failed request : 126

Current serial number in output stream :637

I have found somethings related from FreeRDP's issues page

https://github.com/FreeRDP/FreeRDP/issues/694

but I am not able to find libxrendr-dev in Raspbian as they suggested in the pos

[2015-08-31 01:51] hyacinthes commented on #2842
Did you have the same format and partition with the working one "Kingston USB storage device"?

[2015-08-31 03:02] xiaoshzx commented on #2842
In arm Linux system, USB storage device information：

Kingston：

[147989.671124] usb 3-1.1: USB disconnect, device number 3
[147992.674732] usb 3-1.1: new high-speed USB device number 5 using usb20_host
[147992.777836] usb 3-1.1: New USB device found, idVendor=0930, idProduct=6545
[147992.784720] usb 3-1.1: New USB device strings: Mfr=1, Product=2, SerialNumber=3
[147992.792010] usb 3-1.1: Product

[2015-08-31 03:02] xiaoshzx commented on #2842
The two device format is FAT32

[2015-08-31 05:30] hyacinthes commented on #2842
As I know, the CLASS_MASS_STORAGE is in the denied list (/channel/urbdrc/clietn/libusb/libusb_udevice.c), so the unexpected results would occurred when you use mass storage in URBDRC channel.

You can use the drive redirection for mass storage alternatively.

[2015-08-31 07:22] akallabeth commented on #2857
don't you mean ```libxrandr-dev```? According to http://archive.raspbian.org/raspbian/pool/main/libx/libxrandr/ it is part of raspbian ;)

[2015-08-31 09:28] cleric333 commented on #2857
then that is super weird... any suggestion?

[2015-08-31 09:43] akallabeth commented on #2857
@cleric333 did you check the spelling? you have written it wrong ;)

[2015-08-31 10:31] uforgetmenot opened #2858 "FreeRDP graphic acceleration?"
I'm using xfreerdp in gfx mode on ubuntu pc based on a intel celeron N2807 cpu, then find it is really slow when playing a 1080p video on the remote side.
I notice that the cpu's usage is very high but the gpu almost does nothing.
I think that using glx or opengl may help.
How can improve the performance？ Any ideas?
Thanks!

[2015-08-31 11:01] akallabeth commented on #2858
@uforgetmenot FreeRDP currently uses software decoding for all GFX modes.
 To use the GPU to do decoding it would be necessary to implement the drawing callbacks.
This is quite some work, so if you are interested, have a look at the following routines (no gurantee for completeness):

* GDI and RFX 7.1 modes:
 * ```update->SurfaceBits```
 * ```update->SurfaceFrameMarker```
 * ```update->altsec->Fra

[2015-09-01 00:43] uforgetmenot commented on #2858
Thanks for your advice!

[2015-09-01 09:08] mvogt1 commented on #2173
The option -glyph-cache removes the "bug".
I have verified that current git, still has the problem, and then started with -glyph-cache.

==> Problem gone

At least I cannot reproduce it in "some" tries. Usually it needs 1-3 "tries".

[2015-09-02 02:32] FreeRDPDerek opened #2860 "evor question"
Hi everyone,
      I found a phenomenon about evor.
      when OS turns on and plays video by the media player or VLC player first time, the player will be showed up late. and sometimes, there is an error "cannot find the file" happened.
      but after first time, OS opens the player immediately and there is no that error happened.
      why is there this difference?

Thanks,
Derek

[2015-09-02 08:57] bmiklautz commented on #2860
@FreeRDPDerek I'm not aware of evor how is this related to FreeRDP?
For questions please use our irc channel or the mailing list but not the issue tracker.

[2015-09-02 08:57] #2860 closed

[2015-09-02 09:05] HenryJacques commented on #2842
I agree, you have to use the /drive parameter with the disk previously mounted.
I wasn't aware of the "auto" usage with /usb. What's the behaviour of "auto" and how did it even worked with your Kingston drive?

[2015-09-02 09:06] akallabeth commented on #2850
Update:
This only applies to ```RDPGFX_CAPVERSION_81```. With ```RDPGFX_CAPVERSION_8``` the frames get decoded properly.

[2015-09-02 09:07] ghsatpute opened #2862 "Protocol Security Negotiation Failure"
I cloned the latest repository and built the source locally as mentioned  [here] (https://github.com/FreeRDP/FreeRDP/wiki/Compilation)

I have done that successfully. Now I'm trying to connect to Hyper-V VM

My command is

[code]

Output I get is
[code]

I'm sure username and password are correct.

[2015-09-02 09:24] jojonewnew commented on #2862
Use +nego, -nego will disable protocol security negotiation

[2015-09-02 13:05] ganeshsatpute commented on #2862
@jojonewnew Sadly that doesn't work :(. Any else guess.

I have this another VM on which I have played a lot with installation on that it is working. On newly created VM it doesn't work. Any way I can find out the culprit.

[2015-09-02 13:32] jojonewnew commented on #2862
From your output it looks like protocol security negotiation failed.
You can try with the following command:
xfreerdp +nego +sec-rdp +sec-tls +sec-nla /u:<domain>\<user> /p:<pass> /v:10.44.96.117 /vmconnect:b510551d-1aed-4946-8f7b-9a5e0bcbc9be
or
xfreerdp +nego +sec-rdp +sec-tls +sec-nla /d:<domain> /u:<user> /p:<pass> /v:10.44.96.117 /vmconnect:b510551d-1aed-4946-8f7b-9a5e0bcbc9be

[2015-09-02 13:48] ganeshsatpute commented on #2862
@jojonewnew  Nah. Doesn't work that way either

[2015-09-02 15:51] Enverex opened #2863 "Monitor Detection and Size Issue (GIT)"
The "/monitors" flag in xfreerdp didn't historically appear to follow XOrg's own ordering. For example if I have VGA1 to the left of HDMI1, in xfreerdp HDMI1 will be monitor 0 and VGA1 will be monitor 1 (where as in XOrg the better connection always takes priority, so HDMI1 will have been the leftmost monitor and VGA1 will have been on the right). As of current GIT this has changed and freerdp now

[2015-09-02 19:12] hardening commented on #2862
what about with just +sec-tls, I think we have some problems with VM access and NLA (not sure of that)

[2015-09-03 00:25] xiaoshzx commented on #2842
first， need run udevd ， and command lsusb

[2015-09-03 00:32] xiaoshzx commented on #2842
second，  Understanding urbdrc_search_usb_device function

[2015-09-03 06:07] ganeshsatpute commented on #2862
@hardening Believe me, in lack of any idea what is going wrong I have tried all possible combination.

Another thing is same command runs perfectly on another machine.

[2015-09-03 10:37] DejavuDmitry opened #2866 "Printing on redirected XEROX printer"
When I print to my redirected (with specific driver) printer Xerox WC5740 I got some strange XML text on each sheet of paper:

[code]

But when I switch it to default MS Publisher Imagesetter everything is OK....

[code]

![2015-09-03-142726_1920x1080_scrot](https://cloud.githubusercontent.com/assets/9697445/9657276/3f65688a-5248-11e5-86a2-2548a8fa4fe4.png)
![2015-09-03-144434_1920x1080_scrot](htt

[2015-09-03 22:55] MrObvious commented on #2158
Confirmed, it's not working in the nightly builds.

[2015-09-04 18:29] Supermathie commented on #2755
Please re-open, I just built from master version 1.2.5-dev (git 17834af) and am getting this same problem.

Even after reducing CLI options down to:

    xfreerdp /u:michael@realm /v:target

The cursor is unchanging.

It changes properly with the system version of freerdp (1.1.0~git20140921.1.440916e+dfsg1-2ubuntu1)

[2015-09-04 22:44] jpmorris commented on #2128
Also getting the same with windows 10.  A workaround is to disable Network Level Authentication on the windows side, but annoying nonetheless considering freerdp is one of the few clients that is supposed to support it.

[2015-09-05 02:38] TheElf commented on #1474
I just experienced the same issue on a ubuntu Trusty in a crouton chroot (Chromeos host)

disabling manpages didn't do the trick. I'm debugging it right now

[2015-09-07 08:39] bmiklautz commented on #2755
@Supermathie for xfreerdp can you add some notes how you've tested? - I tried to reproduce this against windows 7 and windows 10 but couldn't find any problem.
If you've compiled yourself did you compile with xcursor support (WITH_XCURSOR, package libxcursor-dev on debian and ubuntu).

My test scenario:
* connect to the machine
* open notepad
* put the focus on notepad
  * the cursor should change

[2015-09-07 12:21] hardening commented on #2755
@Supermathie a commit improving mouse cursor in some situation has just been committed. Would you mind give a try with last master ?

[2015-09-08 02:47] binki commented on #2585
+1

[2015-09-08 09:53] bmiklautz commented on #2585
@meanbunny just to get it right you are using xfreerdp on Ubuntu to connect to a windows 8.1?
Disabling keyboard grabbing with "-grab-keyboard" doesn't help you?

[2015-09-08 15:25] Supermathie commented on #2755
@hardening Tried updating to latest (4626f17) and it didn't affect anything - the problem was actually I missed XCURSOR as @bmiklautz noted.

After installing the dev library and doing some cursory tests it works just fine! Thanks.

[2015-09-08 17:25] binki commented on #2585
I think the OP likes the keyboard grabbing (because his window manager responds to ALT+TAB and without grabbing it would be impossible/hard to send ALT+TAB to the RDP server) but wants to be able to ungrab without using the mouse. For example, VirtualBox’s viewer allows pressing the “host key” once to ungrab the keyboard. Does xfreerdp have a shortcut to accomplish this?

[2015-09-08 17:44] cleric333 opened #2875 "two issues relate to ARM and full screen"
I think it's better to have two issues with one post

issue one:

I am now trying to use Raspberry as a thin client, but the actual performance are very very bad

I use

Raspberry Pi2 B+ with 1GB RAM
Ubuntu Mate
as client

Windows 2008 Enterprise plus Hyper-V as Host and Win7 Ultimate as the virtual machine

Problem: when I play a video, the video is very slow at the beginning and become better in

[2015-09-09 02:05] colemickens opened #2876 "Connecting after a reboot fails consistently"
[code]

If I login to the machine and then try to connect, it simply works, after closing the FreeRDP window, the complete output is:

[code]

[2015-09-09 02:05] colemickens commented on #2876
I don't know how to get more debugging info or more verbose output, but am happy to do so if it's possible...

[2015-09-09 03:17] uforgetmenot commented on #2875
You can try to use  graphic acceleration to impove xfreerdp performance!
https://github.com/FreeRDP/FreeRDP/issues/2858

[2015-09-09 07:02] akallabeth commented on #2876
@colemickens You can set the environment variable ```WLOG_DEBUG=trace``` (or  ```WLOG_DEBUG=debug``` for a bit less) debug output.

[2015-09-09 07:16] colemickens commented on #2876
Hm, that didn't get me any additional output in my scenario.

[2015-09-09 07:19] akallabeth commented on #2876
@colemickens So, what OS is the remote machine running?

[2015-09-09 07:21] colemickens commented on #2876
It's Windows 10, and I'm trying to RDP into an account from the domain the machine is joined to.

[2015-09-09 07:24] akallabeth commented on #2875
@cleric333 FreeRDP currently only supports software decoding, so if you are running 1080p (just assuming ;)) then the raspberry will be too slow.

[2015-09-09 07:37] akallabeth commented on #2876
Ah, sorry just now realized my typo, should be ```WLOG_LEVEL``` and not ```WLOG_DEBUG```, should not write before first coffee ;)

[2015-09-09 08:26] colemickens commented on #2876
So, I'm getting more output with that. With a custom built version, I see the actual NTLMSSP tokens printed out. With xfreerdp from Arch repos, I get less output, but it stills fails. On my custom build, the plaintext readable portions of the NTLMSSP tokens seem to be the same between a bad login and a good one.

Also, rdesktop is able to connect, but it doesn't count as a "first login". I still h

[2015-09-09 09:42] bmiklautz commented on #2585
@binki what's the OP? FreeRDP does have some functionality to run a command/script on keypress (it's called action script) but currently there is no configurable way to ignore or pass key sequences otherwise.

[2015-09-09 10:45] giox069 commented on #2776
Hi, I can unfortunately see that Pull#2710 has not been merged and cannot longer be merged.

The problem is currently the following:

when an old hostname is left on the old "known_hosts" file, and its certificate changes, xfreerdp refuses to connect with the following misleading error:

[code]

The workaround of deleting the host from ~/.config/freerdp/known_hosts works fine.

[2015-09-09 10:56] giox069 commented on #2776
whoops... .wrong cut & paste, will repost in few minutes :-1:

[2015-09-09 11:02] giox069 commented on #2776
The problem is currently the following:

when
1. an old hostname is left on the old "known_hosts" file
AND
2. the same hostname is not in known_hosts2
AND
3. host certifcate has changed

xfreerdp refuses to connect with the following misleading error (ERRCONNECT_CONNECT_CANCELLED):

[code]

The workaround of deleting the host from ~/.config/freerdp/known_hosts works fine.

[2015-09-09 11:14] bmiklautz commented on #2776
@giox069 I'd assume this behavior is correct. If the certificate is in one of the known_host files and has changed no connection should be made. The error is on the other hand absolutely miss leading. I'd suggest opening a new issue on this subject.

[2015-09-09 11:43] giox069 commented on #2776
Suppose a user is migrating from freerdp 1.1 (known_hosts based) to 1.2 (known_hosts2 based). He has a lot of expired certs on known_hosts file (like I have): he will not be able to connect to all of these hosts.

Yes, with a better error description and a google search, a user can come here and find to delete the known_hosts file... but it's a bit uncomfortable.

[2015-09-09 14:56] bmiklautz commented on #2776
@giox069 no doubt that the error is not suitable. But still imho the behavior is correct. If the certificate is invalid/changed/expired (regardless of which known_host file is used) the connection attempt shouldn't get through. Otherwise this would render the known_host file(s) useless. If a newer version lives in known_hosts2 this should be used.

If the certificate is expired it needs to be remo

[2015-09-09 15:02] binki commented on #2585
[OP expands to “Original Poster”](http://www.catb.org/jargon/html/O/thread-OP.html).

How do I get xfreerdp to grab/ungrab the window while it’s running with the keyboard? I know that, for example, ctrl+alt+enter switches to/from fullscreen, and that is even findable in the source code. How do these action scripts work and where are they defined?

[2015-09-09 15:28] cleric333 commented on #2875
I know a project called RPiTC (Rpitc.blogspot.hk). It puts XfreeRDP into it's system, and a video about playing a 3D game with Raspberry, but I am not able to make it work ( it should, cause there isn't any configure to do)....

[2015-09-10 07:30] akallabeth commented on #2776
@giox069 For changed certificates there is the ```VerifyChangedCertificate``` callback, which is currently not implemented for ```xfreerdp```.

[2015-09-10 08:10] giox069 commented on #2776
Yes, I was investigating and I came to the same callback. Remmina (and maybe the Android FreeRDP client) use VerifyChangedCertificate callback to alert the user of the changed certificate. And there is no VerifyChangedCertificate call inside xfreerdp sources.
So my tests with xfreerdp are not very useful here.
I will do some other testing with remmina: it seems that when the expired cert is in the

[2015-09-10 09:56] bmiklautz commented on #2776
@giox069 Have a look at https://github.com/FreeRDP/FreeRDP/pull/2710

[2015-09-11 03:05] coreline opened #2881 "Problem with EmbeddedWindow"
Hi,

I use EmbeddedWindow and set ParentWindowId in other application. Image and mouse working correct but the keyboard not work on the remote machine.

[2015-09-11 07:19] mvojjala opened #2882 "Printer redirection on Android ?"
Hi,

Would like to know if FreeRDP has support for printer redirection on Android. I went through various posts and here are my observations.

1) We need to build with -DWITH_CUPS=ON while generating make files using cmake.
2) We need to populate the printer name and printer driver to rdpSettings Structure. Went thorugh the command line usage.

Want to know if remote printing works on Android devi

[2015-09-11 08:44] bmiklautz commented on #2882
@mvojjala I don't thine anyone tried that yet. If cups is working on Android it might work but isn't exposed via the GUI.

[2015-09-11 10:16] GothicIII commented on #2875
Coincidentally I was working on exactly such problem. I conclude that raspberry+virtualisation with a rdp-session is not a good choice performance wise.

You will have two major problems, which slows the rdp-session down:
- The graphics acceleration on the raspberry
- The graphics acceleration on the virtualizationserver

The first problem is not very simple to handle because xfreerdp uses the X11

[2015-09-11 12:16] akallabeth commented on #2875
@GothicIII Client side there is also the GFX-H264 extension to RDP allowing the client to more or less just play a H264 video. Requires more recent remote RDP server implementations (8.0 and up) but should be easily accelerateable on the raspberry. Of course this does not solve the server side performance issue.

[2015-09-11 14:41] cleric333 commented on #2875
thank you very very much GothicIII

I actually use a separate server for the virtualization server running Hyper-V, and my Raspberry is only for connecting to the VPSes, I will have a look for Wayland.

But for RPiTC, I am not able to have it running (screen turns to black for one sec and goes back to system when use freeRDP integrated in its system) but there is a video that he plays a 3D game on

[2015-09-11 15:10] cleric333 commented on #2875
http://blog.pi3g.com/2013/07/high-performance-rdp-on-the-raspberry-pi/
stopped?
https://www.raspberrypi.org/forums/viewtopic.php?f=63&t=28294
stopped?
https://wiki.tizen.org/wiki/Weston_RDP_access
stopped?

[2015-09-11 18:33] giox069 commented on #2776
Tested again, and I can reproduce the problem:
when all the following contitions are true
a) the hostname of the server is in ~/config/.freerdp/known_hosts
b) the hostname of the server is not in ~/config/.freerdp/known_hosts2
c) the key in known_host has been changed

VerifyChangedCertificate callback is not called and libfreerdp retunrns ERRCONNECT_CONNECT_CANCELLED

PR #2710 does not help.

[2015-09-11 18:44] Scordy opened #2884 "remoteapps, mouse doesn't work correctly"
I've recently installed Ubuntu Gnome and it is working great, however there are certain Windows applications that I still need to use on a day-to-day basis.

I had an 'older' computer laying around, on which I installed windows 10.
I Then came across a webpage which explained Remoteapps on ubuntu.

Using internet acquired knowledge, I used this command to try and connect to my remote computer:
xfr

[2015-09-11 19:01] giox069 commented on #2776
The 1st half of the problem is at line193 of libfreerdp/crypto/certificate.c
[code]
should be fixed with
[code]
but it's not enough...

[2015-09-11 19:20] giox069 commented on #2776
The second part is that certificate_data_replace() in ./libfreerdp/crypto/certificate.c is unable to add a new certificate line at the end of know_hosts2 when the hostname is missing from known_hosts2 (because it was on known_hosts).
Should I try to do a pull request ?

[2015-09-11 20:33] antenore commented on #2776
On 09/11/2015 09:21 PM, Giovanni Panozzo wrote:

Ti serve una mano (tecnica, politica, mediatica, ...) ?

[2015-09-11 21:39] giox069 commented on #2776
Mah. Vediamo cosa dicono. Ho già preparato la fix nel mio repo giox069/FreeRDP, sono 4 righe. Se mi chiedono la pull request, si tratta di premere un bottone.

Scusa ma non sono riuscito a testare la tua roba ssh. Mi sembra che hai fatto già il merge, bene. Testerò semplicemente... usandolo ! :) (non prima di domani)

Il 11 settembre 2015 22:33:31 CEST, Antenore Gatta <notifications@github.com> ha

[2015-09-11 21:42] antenore commented on #2776
On 09/11/2015 11:39 PM, Giovanni Panozzo wrote:

Non ho fatto il merge... troppo rischioso.

Meglio cosi, sto cercando di aggiungere l'autenticazione vi
ssh_userauth_agent. Sperando che funzioni perché ho sonno.

[2015-09-12 04:04] piovisqui opened #2885 "pdutype bad still happens"
I still get "pdutype bad" when connecting to Windows 2012 R2 Remote Desktop Gateway. It happens after I type the password. Please, solve it =]

xfreerdp -d faculdade -u username example.com
Password:
pduType bad

^C

[2015-09-12 11:02] bmiklautz commented on #2885
@piovisqui can you please give as some more information about the FreeRDP version you are using?

[2015-09-12 11:09] piovisqui commented on #2885
xfreerdp  --version
This is FreeRDP version 1.0.2
 cat /etc/issue
Welcome to openSUSE 13.2 "Harlequin" - Kernel \r (\l).

[2015-09-12 11:10] piovisqui commented on #2885
@bmiklautz My lame bug report is better now

[2015-09-13 19:24] bmiklautz commented on #2885
@piovisqui you can try our nightly packages for SUSE (https://ci.freerdp.com/view/Packaging/job/freerdp-nightly-rpm-build/). Those are based on the latest master and I think they fix your problem.

[2015-09-13 22:06] alantm2 commented on #2819
Hi, are there any updates please?

Experiencing the same issue on at least 3 (2 x physical, 1 x virtual hw) Ubuntu systems with freerdp/remmina/openh264 compiled from source code as of 28.08.15. Also, tested with all openh264 releases starting from 1.0 -- the first two releases did not work, the latter ones all gave the same result (disconnect) though. Also, tried using x264 (source code from 28.0

[2015-09-13 22:10] alantm2 commented on #2850
Hi, are there any updates please?

Please note that https://github.com/FreeRDP/FreeRDP/issues/2819 appears to be the same issue although the target system is a windows server.

[2015-09-13 22:20] alantm2 commented on #2451
Hi, I am getting the same error (Failed to check FreeRDP file descriptor) under similar circumstances.

Please note that #2819 appears to be the same issue although the disconnects occur shortly after starting playing back video (youtube) -- the same issue I am having.
Please note that #2850 appears to be the same issue although the target system is a windows client.

[2015-09-13 23:33] piovisqui commented on #2885
I tried. After I type the password, I don't see "pdutype  bad", but this:
[20:31:53:952] [29068:29069] [ERROR][com.freerdp.core] - WSAEventSelect returned 00002734
[20:31:53:952] [29068:29069] [ERROR][com.freerdp.core] - WSAEventSelect returned 00002734

[2015-09-14 05:48] bmiklautz commented on #2885
@piovisqui if you use a gateway I wonder why you don't use the "gateway parameters" like /gu or /g

[2015-09-14 07:19] akallabeth commented on #2850
Workaround implemented with #2865, MS RDP 8.1 implementation sends invalid H264 data :/

[2015-09-14 07:20] akallabeth commented on #2819
@alantm2 #2850 was fixed with #2865, updated now.

[2015-09-14 07:21] #2850 closed

[2015-09-14 07:21] akallabeth commented on #2819
@alantm2 As for your errors, could you set ```export WLOG_LEVEL=trace``` and have a look at the debug output?

[2015-09-14 07:39] akallabeth commented on #2776
@giox069 No need for that, updated the pull with a fix for your issues.

[2015-09-14 07:58] giox069 commented on #2776
Ok thank you.
Please check your new certificate.c at line 476 you added a "goto end;" inside the loop which rewrites the full known_hosts2. Will this leave known_hosts2 incomplete and delete all certificates store after the line to replace ?

[2015-09-14 08:11] akallabeth commented on #2776
@giox069 Thx, did break that part. Updated with a new commit, should work now.

[2015-09-14 08:59] RexFan commented on #2819
Hi, i have tested with latest freerdp but the screen still fuzzy with lots of errors below.
[code]
Any advices?
Thank you.

[2015-09-14 09:30] akallabeth commented on #2819
@RexFan What is your remote system and which resolution do you use? The reason for pull #2865 was that the server side implementation of Windows 8.1 (have not tested current Win10 builds) is buggy and sends broken H264 frames. Your debug messages indicate just that.

[2015-09-14 09:55] RexFan commented on #2819
@akallabeth My remote system is Windows 2012 R2. I use 1280 x 1024 resolution.

[2015-09-14 10:26] akallabeth commented on #2819
@RexFan So it seems that Windows 2012 R2 is affected by this bug too. I can only recommend disabling H264 until this is fixed by ms.

[2015-09-14 20:22] piovisqui commented on #2885
The /g option produces the same results.

[2015-09-14 23:19] bmiklautz commented on #2885
@piovisqui you tried with /g:"your gateway ip" ?

[2015-09-16 16:15] LordPicard opened #2891 "Smartcard sharing to Windows 2012"
Hello there,

I'm using the Remmina to connect from a Ubuntu 15.04 to a Windows 2012 Server (and a 2016 Technical Preview 3, just for testing of thie issue, but none work).

Steeps to reproduce:

1 - device is correctly attach and configured, and I can use it localy; check with dmesg also
2 - try to connect to a RDP using Windows 2012 or 2016 TP 3 (I don't have any licencing for 2008, so I can't t

[2015-09-17 03:20] piovisqui commented on #2885
@bmiklautz wow, it worked.

/opt/freerdp-nightly/bin/xfreerdp -u user -d domain -g 200.x.x.x rds.com.br
/opt/freerdp-nightly/bin/xfreerdp -version
This is FreeRDP version 1.2.5-dev (git n/a)

Using the ip adress instead of the hostname even works with the older version.
xfreerdp --version
This is FreeRDP version 1.0.2

Can you still fix it to work with the hostname?

[2015-09-17 03:27] Hopedream commented on #2885
@piovisqui, It is ok to make the following revision
FreeRDP- xxx\libfreerdp\crypto\tls.c
## 1、static int bio_rdp_tls_write(BIO* bio, const char* buf, int size)
case SSL_ERROR_SYSCALL:
BIO_set_flags(bio,(BIO_FLAGS_WRITE|BIO_FLAGS_SHOULD_RETRY));
//BIO_clear_flags(bio, BIO_FLAGS_SHOULD_RETRY);

## 2、static int bio_rdp_tls_read(BIO* bio, char* buf, int size)
case SSL_ERROR_SYSCALL:
	BIO_set_flags(bio

[2015-09-17 04:54] IBqZWEBoGMqa7 opened #2893 "+auth-only option not woking with windows xp and windows server 2003"
Hi, I want to  write a python script to brute force rdp username and passwrod using freerdp.
so i user following command to check  username and password is correct or not  in kali linux. just auth only.
/usr/bin/xfreerdp /v:192.168.237.138 /u:administrator  /p:123456  +auth-only /cert-ignore

when i test in windows server 2008 and windows 7. if the username and password is correct.
the output is :

[2015-09-17 07:49] Hopedream opened #2894 "aFreeRDP can't disconnect"
## Disconnect application error, the following figure(In the picture red word is translated)
![1](https://cloud.githubusercontent.com/assets/13480468/9927741/9cd09bbe-5d53-11e5-96e0-487c0411a909.png)
![2](https://cloud.githubusercontent.com/assets/13480468/9927742/9cea1fb2-5d53-11e5-8d90-b7ab0c29a24a.png)

[2015-09-17 10:16] bmiklautz commented on #2885
@Hopedream I'm not convinced that this is still required with the latest master did you try?
@piovisqui ".. fix it tow work with the hostname?" That should work if your DNS works.

/opt/freerdp-nightly/bin/xfreerdp /u:user /d:domain /g:your.gateway.domain /v:rds.com.br

If you use a version > 1.0 I'd suggest using the new command line syntax style.

[2015-09-17 10:17] bmiklautz commented on #2891
@LordPicard you could reproduce this problem also if you used xfreerdp directly?

[2015-09-17 11:22] LordPicard commented on #2891
Hello,

I'm not sure how can I do it, because I don't quite know how to launch xfreerdp from the console with what I need.

Could you give me an example? Reading --help didn't get me anywhere, as I don't know if I must enter the address to connect in the command line or not.

Thanks.

LP.

[2015-09-17 21:42] piovisqui commented on #2885
@bmiklautz The DNS are working, Windows clients on the same network does not have any problem.

I tried today and got the error again (with and without hostname) :\

[18:37:45:672] [18994:18995] [INFO][com.freerdp.client.x11] - Do you trust the above certificate? (Y/N)
y
Password:
[18:38:08:969] [18994:18995] [ERROR][com.freerdp.core] - WSAEventSelect returned 00002734
[18:38:08:969] [18994:18995]

[2015-09-18 00:47] Hopedream commented on #2885
@bmiklautz I have try,it's ok  with the latest master

[2015-09-18 08:36] HenryJacques commented on #2891
@LordPicard : how do you know that you can indeed use the smartcard on Linux? What do you mean by "I can use it locally"? Using dmesg only shows that the smartcard has been in some way "seen" by the kernel, that's all.

Do you have the following packages installed: pcscd, libpcsclite1, libccid?
(in console, just type
$ dpkg -l | grep -E "ccid|pcsc"
and past here the output)

Regards

[2015-09-18 08:53] ondrejholy commented on #2648
This bug can be reproduced easily also without the necessary hardware. Software emulation over spice can be used to test this, see how to use software smartcard:
http://www.spice-space.org/page/SmartcardUsage

ESC Smart Card Manager can be used to prove functionality:
http://directory.fedoraproject.org/docs/389ds/FAQ/esc-guide.html

It is possible to overcome the SCARD_E_INSUFFICIENT_BUFFER errors

[2015-09-18 09:07] LiarBing commented on #2893
with markdown.

Hi, I want to write a python script to brute force rdp username and passwrod using freerdp.
so i user following command to check username and password is correct or not in kali linux. just auth only.
[code]

when i test in windows server 2008 and windows 7. if the username and password is correct.
the output is :
[code]
the exit status is 0

if the username and password is not corr

[2015-09-18 10:04] LordPicard commented on #2891
Hello,

Here is the result:
$ dpkg -l | grep -E "ccid|pcsc"
ii  libccid                                             1.4.18-1                                       i386         PC/SC driver for USB CCID smart card readers
ii  libpcsclite1:i386                                   1.8.11-3ubuntu1                                i386         Middleware to access a smart card using PC/SC (library)
ii  pcs

[2015-09-18 11:32] HenryJacques commented on #2891
All right, I see.
Maybe another silly question but I have to ask it: directly on your Windows Server 2012 (without FreeRDP) can you sign documents using the smartcard?

Another thing: does it work from a Windows workstation using the mstsc client? (if it works with mstsc, it should work with FreeRDP. It also allows to check that smartcard redirection is allowed on your 2012 server).

Using FreeRDP

[2015-09-18 12:47] LordPicard commented on #2891
Hey @HenryJacques thanks for the quick reply.

Regarding your questions:
I can't say if it works using a Windows 2012 Server directly as this is a virtual machine (both KVM and VMware have the same problem with the card on Linux)
However I can guarantee you that I can use it using a Windows 7 and 8 with the defaut MS client.

Prior to the update I did following the information on https://github.co

[2015-09-18 13:12] HenryJacques commented on #2891
If you can use your smartcard on Linux (with Thunderbird as you did for example), then it is ok to say that it is a FreeRDP-related problem.
Yes, Linux (the daemon which allow to communicate with the card - pcscd) use a driver which is shipped with libccid.

DId you install freerdp from https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/remmina-next (1.2.0~git20150207)?

You should definitely

[2015-09-18 14:22] LordPicard commented on #2891
Hello agains.

What should be the value on xxxx:xxxx for /smartcard?
It's the ID I get from dmsg when I connect the smartcard?

I will try it as soon as I got that tiny thing figure out.

About the version I have, its version 1.2.1-dev (git n/a). I use what I got frtom standart Ubuntu 15 and then update with the instructions here for end users: https://github.com/FreeRDP/Remmina/wiki

Should I try

[2015-09-18 14:56] HenryJacques commented on #2891
You can use literally the string "xxxx:xxxx". It is not really taken into account by freerdp because it counts on libpcsc to enumerate the readers and in the end it will redirect all the readers you have connected (even if you only specify one - which isn't your problem anyway)
In theory xxxx:xxxx should be the USB vendorID and productID as shown by the command "lsusb"

No don't try to update xfre

[2015-09-18 22:02] bjcollins commented on #2648
@ondrejholy submitted PR for buffer size issue after reviewing protocol. What OS are you running with? I have no problems seeing certificates, but I am currently using real smartcards and have not tried your same test. I would look for errors in pcsc and ccid also as they are not exactly robust themselves.

[2015-09-19 07:10] LordPicard commented on #2891
Hello,

I got this error, but

[08:08:03:434] [2791:-1236235456] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[08:08:03:435] [2791:-1236235456] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpsnd
[08:08:03:436] [2791:-1236235456] [INFO][com.freerdp.client.x11] - No user name set. - Using login name: lordpicard
[08:08:03:654] [2791:-1236235456] [ERROR][com.freerd

[2015-09-21 19:32] ssieb commented on #2813
This happens for me as well.  Unfortunately, TLS is not supported here.  Rdesktop works fine with the redirect.  The last log lines I get are:
[code]

[2015-09-21 20:49] ssieb commented on #2813
I tried with the latest version from git and this is what the log shows now:
[code]

[2015-09-21 22:10] hardening commented on #2813
@ssieb I've just merged https://github.com/FreeRDP/FreeRDP/pull/2899, and I feel like it could solve your problem. Would you mind give a try with the last master ?

[2015-09-21 22:31] ssieb commented on #2813
I just spent a bunch of time finding the same thing. :-)

Although I think you need to fix another spot as well.
https://github.com/FreeRDP/FreeRDP/blob/master/libfreerdp/core/redirection.c#L362

I needed to disable both checks before it worked.

[2015-09-22 09:16] gnumdk commented on #2515
You just need to hide file starting with a dot (default behaviour in rdesktop)

[2015-09-22 13:17] DejavuDmitry commented on #2515
Yes. This will work great!

[2015-09-22 13:56] ondrejholy commented on #2648
@bjcollins thanks for the PR. I tried this on Fedora 22 host and guest with freerdp master to Window Server 2008 SP2 (and Windows 7).

I have to mention that I see following messages in the log with the smartcard emulation, but I suppose it is unrelated...

[2015-09-22 15:39] bjcollins commented on #2648
@ondrejholy That does seem like an unrelated problem to me. I think you should open a new issue with your current problem details so that this one can be closed. If your are interested in looking at this yourself then you can review MS-RDPESC for that message against the source code. It is interesting that you are getting SCARD_E_INVALID_PARAMETER, do you see any other errors at all? I assume you

[2015-09-22 21:24] ssieb commented on #2813
I tested latest git master and it quits as before.  That second change is needed as well.  Maybe it's a difference with Windows Server 2003 where it doesn't include that padding either before dropping the connection.

[2015-09-22 22:05] colemickens commented on #2876
Interesting!

I've noticed that if I log in from another machine that is in the domain... after a reboot, it forces me to manually enter my password instead of using the stored one... and then subsequent logins use the stored password.

Still can't figure out why `rdesktop` will work but `freerdp` doesn't, but my workaround is working well enough of logging in with rdesktop, killing it after 10 se

[2015-09-23 08:29] Fathardie commented on #2128
Getting the following error from Elementary OS (pantheon terminal) with freerdp version 1.0.2 to Windows Server 2012 R2 with NLA enabled.

:~$ xfreerdp -u username 80.xxx.xxx.xxx
connected to 80.xxx.xxx.xxx:3389
Password:
SSL_read: Failure in SSL library (protocol error?)

Turning off NLA on the server works. 100% sure the credentials match as I copy-pasted them.

Also tried with:
:~$ xfreerdp --s

[2015-09-23 13:12] ondrejholy commented on #2648
@bjcollins I've fetched master and recompiled and now I can see the certificates using ESC (though it takes some time), so not sure why it doesn't work before (there were missing few smartcard related patches for last month, but not sure they are relevant)...

Actually I can see one more warning (shown when connecting):

But all of those warnings might be just limitation of the software smartcard,

[2015-09-23 13:50] HenryJacques commented on #2891
Yes this is not related the the smartcard. You're not even connected yet.

Try with
$ xfreerdp /v:YOUR_SERVER_IP /u:WINDOWS_LOGIN /sec:nla /smartcard:xxxx:xxxx
(and add a "/d:YOURDOMAIN" if the server is in a domain)

Bye

[2015-09-23 21:46] bjcollins commented on #2648
@ondrejholy Cool. I believe there are valid reasons to get a SCARD_E_CANCELLED and I see them with my smartcards when I have multiple clients wanting to interact with them, so I would not worry too much about that since you can actually read certificates from the card now.

[2015-09-23 23:26] cmotionless opened #2902 "xFreeRDP session stops responding to mouse clicks"
Hi there,

Recently at my company we started using Intel NUC's running Ubuntu 15.04, with FreeRDP to connect to our Server with RDP - a Windows Server 2008R2 Enterprise server. xFreeRDP has proved very good for our users, running multimonitor setups, however since version 1.1 they have experienced an issue where, completely randomly, the session will appear to freeze - however the user is not disc

[2015-09-24 10:03] PPed72 commented on #1949
I can confirm that basic connection works.

[2015-09-24 11:54] hardening commented on #2813
@ssieb could you submit a PR of this change ?

[2015-09-24 19:18] #2813 closed

[2015-09-25 04:29] jasonblewis opened #2904 "no way to securely handle passwords from the command line"
there should be a way to securely pass the login password from the command line. if you use the /p:password option this can leave the password visible in the process list.

would it be possible to have a way of passing the password via stdin or another file descriptor perhaps?

[2015-09-25 08:18] mecalectro91 opened #2905 "keyboard /kbd:French FR UTF8 OR ISO-8859 ?"
Hello, I have a problem with a barcode scanner and keybord mapping freerdp. I am French and I think freerdp uses fr_FR.utf8 when I add the options / kbd: French. but I like to use ISO-8859-1 en_US, how can we do?

[2015-09-25 08:59] akallabeth commented on #2904
@jasonblewis You could try using the command line argument ```/from-stdin```

[2015-09-25 09:27] hardening commented on #2905
I have not checked but in my memory /kbd was expecting a RDP keymap code not a string name.

[2015-09-25 09:34] mecalectro91 commented on #2905
CommandLineInterface the documentation says:

/ kbd: 0x <layout id> or <layout name> Keyboard layout

I was wrong in my previous message!

I like to use ISO-8859-1 fr_FR  instead of fr_FR.utf-8, but I do not know how ... there is an option?
I think he must miss an additional layout for France

[2015-09-25 11:10] hardening commented on #2905
So at the end it's not an issue. Next time, go and ask (and wait a significant time for an answer) before submitting an issue.

[2015-09-25 11:10] #2905 closed

[2015-09-25 14:08] HenryJacques opened #2906 "Master failed with SOCKS"
Hello,

I am using the latest Master from today on a Ubuntu 14.04 64 bits.
I can't connect anymore!!
I always get the ERRCONNECT_SECURITY_NEGO_CONNECT_FAILED error.

I've tested it against a Windows7, 8.1 and 2012R2 with or without nla (in nla mode it doesn't ask for the password!)

[code]

Using the master from 8th August works perfectly! Below I immediately logged off but it works!

[code]

Can

[2015-09-25 14:15] HenryJacques commented on #2906
Hum, it seems it is related to SOCKS because I use xfreerdp with a SOCKS tunnel (OpenSSH).
On a machine without SOCKS it seems to work...

[2015-09-25 15:40] HenryJacques commented on #2906
All right, I've found the culprit.

Starting from commit 188fe4ed2bb87d2e412aacc62e5dfb7fd90f69d5 I cannot use xfreerp with SOCKS anymore.

The commit before that 17834af7bb378f85a3b3cc4dcadaa5125a337e16 still works

For information I am using tsocks from the Ubuntu repositories which has always worked fine until now...

Thanks!

[2015-09-25 15:54] HenryJacques commented on #2906
Well I made it work again with SOCKS:
- tsocks doesn't work anymore
- dante client (socksify) does work

[2015-09-27 08:00] hendwolt commented on #2648
As this issue is fixed now with #2898, I'd like to close this one. If no one objects I will do it soon.

[2015-09-28 10:15] bmiklautz commented on #2648
@hendwolt if your initial reported issue is fixed please close it. Thank you

[2015-09-28 10:19] bmiklautz commented on #2904
@jasonblewis what version of FreeRDP are you using? The password shouldn't be visible on the command line but instead be replaced with '*'.

[2015-09-28 18:19] hendwolt commented on #2648
closed as "solved"

[2015-09-28 18:19] #2648 closed

[2015-09-29 22:13] janhieber commented on #2800
Hi.
Sorry, did not try plain zsh because in bash it works. I think this can be closed.
if you still want to investiage further why its not working in my zsh, i can do more testing, let me know.

Best regards
Jan

[2015-09-29 22:13] #2800 closed

[2015-09-30 08:53] jun66j5 commented on #2606
Same here. The AdvancedKeyboardView doesn't work.

[2015-09-30 11:24] lemonmojo opened #2907 "Passwordless (blank password) login with NLA"
With Microsoft's Remote Desktop Clients it is possible to use both, NLA and a passwordless (blank password) login.
This doesn't seem to be the case for FreeRDP though as all my attempts to authenticate with such a user failed.

Is this supposed to be supported and broken right now or has there never been support for this scenario in FreeRDP?

[2015-09-30 11:37] HenryJacques commented on #2907
See #2783

[2015-09-30 11:39] lemonmojo commented on #2907
@HenryJacques Thx for the pointer!
I'm closing this issue as it's a duplicate of the mentioned #2783.

[2015-09-30 11:39] #2907 closed

[2015-09-30 11:41] lemonmojo commented on #2783
I ran into the same issue today and can confirm that passwordless logins with NLA seem to be unsupported by FreeRDP at the moment. It's possible to work around this with /sec:rdp if the remote host is configured to allow non-NLA connections though.

[2015-09-30 12:24] shattars3d commented on #2606
You might have to through the code and find out where it is giving the issue.  Try a different iOS  try iOS 6 or iOS 7. Could be iOS version issues.

[2015-09-30 15:24] muhammadsufiyan commented on #733
@olegon-ru thanks your answer works like charm... `--sec rdp` :)

[2015-10-02 21:09] bjcollins commented on #2833
@elangelo Can you provide the command line you use in the broken and working cases? Is the only difference between the two adding the extra size parameter or did you also remove some other options as well?

Also, please provide what linux distribution you are using as that could have an impact on the behavior that you are seeing.

[2015-10-02 21:31] bjcollins commented on #2832
@HenryJacques I have tested about 5 different webcams with this(2 form Microsoft and 3 from Logitech) and only one of the Microsoft cameras actually works for me. So, I know it can work. I have attributed my problems with the others to trying to use raw usb redirection with webcams which need high bandwidth and use isochronous transfers.

I have set "#define HAVE_NEW_LIBUSB 1" inside of "channel/u

[2015-10-04 05:18] elangelo commented on #2833
@bjcollins I just updated my freerdp (running now 1.2.5-dev (git 2d641c4)) and everything works as expected. So I no longer need to add the /size parameter.

For reference I was using following commands:

xfreerdp /v:SERVER /d:DOMAIN /u:USERNAME /p:PASSWORD /g:GATEWAY_SERVER /gd:GATEWAY_DOMAIN /cert-ignore /gu:GATEWAY_USERNAME /gp:GATEWAY_PASSWORD /multimon:force /f /gt:rpc +multitransport
This re

[2015-10-04 05:18] #2833 closed

[2015-10-05 05:51] HenryJacques commented on #2832
@bjcollins thanks for your feedback.

However one camera working out of 5 is not a satisfactory behaviour for me...
I do not understand the difference between the one that works with freerdp and the 4 others. How do know it has something to do with "raw usb redirection which need high bandwidth and isochronous transfers"?
How do you know if a USB device use isochronous transfer? I presume you also

[2015-10-05 06:46] HenryJacques commented on #2906
I'll close the issue for now since it is not really a bug in freerdp but still a commit broke the way I used it with tsocks.

[2015-10-05 06:46] #2906 closed

[2015-10-05 10:19] tuomasw opened #2911 "aFreeRDP hangs after WIFI disconnect/reconnect"
if you lose your WIFI connection even briefly the active RDP session just hangs. No information about the connection status is displayed and it seems the session never recovers and needs to be manually disconnected.

[2015-10-05 11:53] HenryJacques commented on #2832
I'm answering to myself concerning the USB transfer types. By using lsusb -vvv you get the bmAttributes which tells if the device works in Bulk or Isochronous transfer mode.
All the USB devices (except the webcam) I'm using are working with Bulk mode...

[2015-10-05 12:41] avollmerhaus commented on #1949
So ipv6 support will be included in the next release? I'm using 1.2.1_pre20150326 and ipv6 does not work

[2015-10-05 12:47] bmiklautz commented on #1949
@avollmerhaus what distribution you are on? I don't now this release.

[2015-10-05 12:52] avollmerhaus commented on #1949
This is Gentoo, it seems like the ebuilds (Gentoo packages) just point to some commit.
Quoting from the ebuild:

        COMMIT="aa2181dcf2dd98693767ba738c5b2ad8c3d742d4"
        SRC_URI="https://github.com/FreeRDP/FreeRDP/archive/${COMMIT}.tar.gz

[2015-10-05 12:57] bmiklautz commented on #1949
@avollmerhaus this commit should work with ipv6 basic connectivity. But if the ip isn't used directly (via /v:[xxxx:xxx:..]) and a hostname is used that also has ipv4 entries those are given preferences (for now) even if there is an ipv6 dns entry.

[2015-10-05 13:02] avollmerhaus commented on #1949
Ah, the [ ] got interpreted away by my z-shell. Sorry for the nuisance and thanks for the quick answers!

[2015-10-05 15:57] bjcollins commented on #2832
@HenryJacques I am no expert in this area. but here are some answers to your questions.

I was not trying to say that I thought that 1 of 5 webcams working was satisfactory, I just wanted to let you know that at some level things were not completely broke with the USB redirection code. The webcam that I see work is a Microsoft Lifecam VX-3000. By working I meant works at all. Other webcams just be

[2015-10-05 16:21] HenryJacques commented on #2832
@bjcollins Many thanks for your answer and for the time you took.

I agree with you with the fact that the USB redirection code is at some point working. Indeed, my first post was about the fact that some part of the code is working (I can see the redirected devices in Windows) and the other not (I can't really use the devices I'm interested in).

My webcam is a Fujitsu WebCam 130 HD Portable whic

[2015-10-07 02:51] SeethalakshmiAR opened #2915 "Compilation error FreeRDP Android"
I am trying to compile FreeRDP stable 1.1
I have followed the same steps as in Readme.Android

When I execute the "make" command I get the below error

[ 18%] Built target winpr-input
[ 18%] Building C object winpr/libwinpr/rpc/CMakeFiles/winpr-rpc.dir/rpc.c.o
/Users/lakshmi/Documents/FreeRDP1.1/FreeRDP-stable-1.1/winpr/libwinpr/rpc/rpc.c:31:26: fatal error: openssl/rand.h: No such file or directo

[2015-10-07 07:20] bmiklautz commented on #2915
@SeethalakshmiAR it seems you are missing openssl. Have a look into docs/README.android on how to install openssl.

[2015-10-07 07:20] #2915 closed

[2015-10-07 15:22] bjcollins commented on #2833
@elangelo Good news. I am not sure what changed between your last checkout that fixed this issue, but glad to hear it is no longer causing you problems.

[2015-10-07 21:46] SeethalakshmiAR opened #2916 "Latest openssl version in FreeRDP"
I am trying to compile freeRDP stable1.1 using latest version of openSSL for my Android client.
When I try to follow the steps in README.Android, it works for fine for the openssl in the link given.

Could anyone let me know on how to compile the latest openssl and use it in FreeRDP?

[2015-10-07 23:04] bmiklautz commented on #2916
@SeethalakshmiAR first of please use the mailing list or our irc channel for questions.
Regarding openssl:
You can basically use every statically build version of openssl that can be used with android. A lot of descriptions and howtos on how build openssl for android are floating around in the Internet.
The openssl repositories and script referenced in README.Android are "prepared" to build exactl

[2015-10-07 23:04] #2916 closed

[2015-10-07 23:36] SeethalakshmiAR commented on #2916
When I build FreeRDP master, while trying to build the openSSL using the script in FreeRDP master scripts folder I get the following error.

----------------------------------------
MBP-Retina-13-Mavericks:FreeRDP-master lakshmi$ ./scripts/android_setup_build_env.sh
Missing command line argument, current directory as root.
Using '/Users/lakshmi/Documents/OpenSSLCompile1/FreeRDP-master/external' as

[2015-10-07 23:47] bmiklautz commented on #2916
@SeethalakshmiAR I think the script was only used and developed on Linux. On OS X either install wget or replace wget uses with curl.

[2015-10-08 01:11] SeethalakshmiAR commented on #2916
Thanks a lot for the support. I had tried the script with both FreeRDP master and stable 1.1, It works perfectly fine.

[2015-10-08 06:19] realjiangms commented on #2771
Fixed in #2913

[2015-10-08 07:42] hardening commented on #2662
@tristan-k if I'm not mixing up with something else, I think we have some rail associated patch that have been commited recently. Could you test with latest master ?

[2015-10-08 07:53] hardening commented on #2884
@Scordy can you give us which version of FreeRDP you're running ? And giving the page with the instructions you followed could help us too.

[2015-10-08 11:17] MarcusMoeller opened #2918 "Unable to connect through Gateway"
I am trying to connect through a Gateway using this command:

xfreerdp cpub-....rdp /w:1600 /h:1200 /u:myuser /d:d.ethz.ch /p:"..." /gu:myuser /gd:mydomain /gp:"..." /gt:rpc

which leads to the following error:

[13:10:52:909] [23120:23121] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[13:10:52:909] [23120:23121] [INFO][com.freerdp.client.common.cmdline] - loading channel rdps

[2015-10-08 18:25] realjiangms commented on #2783
I ran into same issue with Win7 as server which is configured as allow empty password. The non-NLA sec works. However it is definitely a regression as the freerdp 1.0.1 - 1.0.2 don't have this issue.
It seems stable-1.1 also have this issue.

I can understand that it try to find password in SAM if a password is not specified, but it doesn't make sense to try to access SAM file if an empty password

[2015-10-08 18:31] realjiangms commented on #2783
It works after running winpr-hash with empty password.
winpr/tools/hash/winpr-hash -f sam -u <username> -p '' -v 1 > /etc/winpr/SAM

However it doesn't make sense as I've already specified the empty password in command line:
xfreerdp /cert-ignore /u:<username> /p:'' /v:<server ip>

[2015-10-09 08:08] MarcusMoeller commented on #2918
I digged a bit deeper and it does not seem to be related to the gateway directly but to the connection broker.

When I try to connect using the rdp file like:

xfreerdp cpub-TST_Desktop-TST_Desktop-CmsRdsh.rdp /u:myuser /d:mydomain /p:"mypass" /gu:mygwuser /gd:mygwdomain /gp:"mygwpass" /gt:rpc

I got the error above. The connection does not seem to go through the gateway.

When I connect directly

[2015-10-09 08:49] MarcusMoeller commented on #2918
Sorry I meant /v:servername not collectionname

[2015-10-12 09:04] lumm opened #2921 "The issue of multimedia redirection"
There is a issue of mutimedia redirection.
When I connected my rdp server of windows 2008 server, played a mp4 media source. it could work well. I forced to disconnect the network, then re-login the rdp server. playing the same mp4 media source. it could not work well and the windows system sound can't be used. After I logout the windows server and login again. It could work well then.

[2015-10-12 09:13] bmiklautz commented on #2921
@lumm in order to get help you must provide us more information. Please have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting.
We at least need to know the following:
* What version are you using?
* What command line?
* Are you using ffmpeg or gstreamer?

[2015-10-12 09:23] lumm commented on #2921
1、I am using freerdp version 1.2.4-dev (git e45ebd8).
2、Command line is "xfreerdp -offscreen-cache /cert-ignore /f /network:lan /u:administrator /p:smartcloud +wallpaper +window-drag +menu-anims +themes +bitmap-cache /kbd:0x00000409 +compression /multimedia:sys:alsa /bpp:24 /printer /sound:sys:alsa,format:1 /microphone:sys:alsa /v:192.168.10.3（this is my rdp server）"
3、I am not sure ffmpeg or gstr

[2015-10-12 09:28] bmiklautz commented on #2921
@lumm gstreamer and ffmpeg just two different "backend" implementation for the media redirection. If you build yourself check your build log what you've enabled and compiled in.

On the windows side what are you using for playing the mp4 back?

[2015-10-12 09:42] lumm commented on #2921
I think default is using ffmpeg.  I am not very sure because it was't built by myself.

On the windows side, I am using Windows Media Player which version is 12.0.7601.18840.

[2015-10-12 11:07] lumm commented on #2921
I am very sory for my mistake. The issue I posted a few hours ago. I said the command line is "xfreerdp -offscreen-cache /cert-ignore /f /network:lan /u:administrator /p:smartcloud +wallpaper +window-drag +menu-anims +themes +bitmap-cache /kbd:0x00000409 +compression /multimedia:sys:alsa /bpp:24 /printer /sound:sys:alsa,format:1 /microphone:sys:alsa /v:192.168.10.3".
 Actually, I am wrong. The com

[2015-10-12 22:55] volth opened #2922 "Misplaced glyphs (linux xfreerdp client and Win2008R2 server)"
Many times I have seen glyphs misplaced few pixels left from their proper position.
It happened in the console-like programs (windows build-in console, conemu, putty) if their window is wide enough (more than 120 columns) and a TrueType font is in use (LucudaConsole or PragmataPro).

Example here, please have a look at the bottom-right corner. (the window with blue header despite its window-stylin

[2015-10-13 03:28] jojonewnew commented on #2921
Specified "sys:alsa" parameter would clearly let tsmf plugin to choose using ALSA as it's audio process device.

[2015-10-13 03:33] lumm commented on #2921
@bmiklautz @jojonewnew  Thank you very much for soluting my question. :)

[2015-10-13 08:18] #2921 closed

[2015-10-13 11:04] areal23 opened #2923 "rdp freezes"
Hello! sorry for my English...

When working in the FreeRDP sometime happened freezes pictures. That unfreezes need press ctrl+alt+del (task manager).

Our structures:
ON the thinclient 5.4 is a programs: freeRDP and vuescaner. FreeRDP connected to WindServer 2008.
That to go to the Scanner need press ctrl+alt+F4, after scanning scan, that to go to the FreeRDP neeed press ctrl+alt+F5....sometimes

[2015-10-13 13:28] volth commented on #2922
Reversing the commit https://github.com/FreeRDP/FreeRDP/commit/2a9610bbfeeb153ca1902b1bac7a9fad7e2ed863 did not solve the problem: now I may simetimes see glyph shifted right.

Command-line switch `-glyph-cache` solves the problem but it degrades performance

[2015-10-13 13:30] bmiklautz commented on #2923
@areal23 what version of FreeRDP are you running on the thin client and what brand is it?

[2015-10-13 13:38] areal23 commented on #2923
i enter the command by Putty: xfreerdp -version:
print:
....  [ERROR] com.freerdp.client.x11]....
This is FreeRDP version 1.2.1-dev (git d86124f)

[2015-10-13 14:33] bmiklautz commented on #2923
@areal23 could you paste the complete error?

[2015-10-13 14:40] #2783 closed

[2015-10-13 14:54] areal23 commented on #2923
xfreerdp -version
[18:54:01:610] [6207:6207] [ERROR][com.freerdp.client.x11] - failed to open display:
[18:54:01:610] [6207:6207] [ERROR][com.freerdp.client.x11] - Please check that the $DISPLAY environment variable is properly set.
This is FreeRDP version 1.2.1-dev (git d86124f)

[2015-10-14 06:26] areal23 commented on #2923
@bmiklautz
I left only option config rdp: /cert-ignore, freezes is not observed.  why?

[2015-10-14 19:21] marblenix commented on #505
Dear googlers of the future: here's how I got my DasKeyboard to recognize a keymap over xfreerdp (I'm on Arch Linux).

Resources:

* https://bbs.archlinux.org/viewtopic.php?id=177533

* https://bbs.archlinux.org/viewtopic.php?id=170915

* https://wiki.archlinux.org/index.php/Map_scancodes_to_keycodes

* https://ask.fedoraproject.org/en/question/46201/how-to-map-scancodes-to-keycodes/

Steps I took

[2015-10-14 20:20] dbungert commented on #2922
@volth Would you try https://github.com/dbungert/FreeRDP/tree/glyph and see what happens?

[2015-10-14 23:56] SeethalakshmiAR opened #2925 "Change mouse pointer in Android"
In my Android app, which uses freeRDP for remote desktop connection. The app is working fine, except for rendering the change in mouse pointer. For example, in a excel sheet when we hover over the corner of the cells, we can see change in mouse pointer. I want to view the same cursor change in my app.
Would anybody please help me understand how this is to be implemented?

[2015-10-16 08:25] volth commented on #2922
The same as with `master`. No wonder if [this](https://archive.is/dxyYU) is the only difference. Or did I miss something?

[2015-10-17 13:51] ghost opened #2931 "Microphone redirection doesn't work"
I am using FreeRDP (1.2.0_beta1+android9-1) on an Arch-based Linux distribution, GNOME 3 desktop environment and using Pulseaudio sound server. I am trying to connect to Windows 10 Enterprise RDP server. Audio redirection works fine after a while. Remote Audio is displayed both for audio recording and audio playing device. The microphone redirection is enabled in the group policy of the target mac

[2015-10-17 16:35] glitchphan commented on #2606
It might be an iOS version issue because this doesn't happen on iPad 3 iOS 6.1.2, but it happens on iPad Air 2 iOS 8.4 and 9.0.2. Both running same version from the App Store. Also I can't type non-alphanumeric characters into Pidgin for some reason, but that's probably a separate issue. I wish bt keyboard fully worked and was enabled all the time :).

[2015-10-17 16:53] glitchphan commented on #1568
I have this problem typing into certain applications using the iOS FreeRDP connected into Windows systems. For example, I can type everything into Skype, but only alphanumeric characters into Pidgin. I can't type any punctuation or space. This issue exists with many other RDP clients (maybe they use this code?), but not all.

[2015-10-17 16:55] glitchphan commented on #1338
+1. Would be cool if it was a hideable tiny toolbar in the center.

[2015-10-17 16:59] glitchphan commented on #1204
There's some way other rdp clients keep input from physical keyboards enabled all the time, not requiring the onscreen one to be brought up. Those usually have working shift and ctrl too. This is my favorite rdp client on iOS but the keyboard thing is a huge annoyance.

[2015-10-17 17:02] glitchphan commented on #950
I think this affects more than just Android version. Also, someone duped this issue in #1568.

[2015-10-18 23:10] SeethalakshmiAR commented on #1052
Hi

I have the same issue. I am running make command with  -DWITH_SERVER=on.
I dont have debug folder at all.

Any help would be highly appreciated.

$ cmake -DWITH_SERVER=on -DWITH_WIN8=on -G "Visual Studio 11" -DMONOLITHIC_BUILD=ON -Tv110_xp -DMSVC_RUNTIME=static -DWITH_SSE2=ON -DCMAKE_BUILD_TYPE=Debug
-- Could NOT find PkgConfig (missing:  PKG_CONFIG_EXECUTABLE)
-- FreeRDP GIT
-- Git Revision n

[2015-10-19 07:25] DejavuDmitry commented on #2529
Any suggestions?

[2015-10-19 07:41] bmiklautz commented on #2529
@DejavuDmitry I haven't observed this behavior yet. What version of windows and word are you using?

[2015-10-19 11:41] DejavuDmitry commented on #2529
Okay, everything looks good with latest build. Thks.

[2015-10-19 13:33] xgimp opened #2935 "Laggy video FreeRDP not responding"
Hello, and sorry for my english

I have installed version 1.2.5-dev (git-d277346). sefcompiled with

cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_X11=ON -DWITH_XINERAMA=ON -DWITH_CUPS=ON -DCHANNEL_PRINTER=ON . on Raspberry Pi 2 with Raspbian (ex. 2015-09-24-raspbian-jessie)

when I play YouTube video, picture is very laggy and freerdp not responding until end of video.

my script is:
xfreerdp /u:user /p:

[2015-10-19 16:06] sconstantine commented on #1424
Any progress or updates to smart card redirection?

[2015-10-19 16:06] sconstantine commented on #1220
Any progress or updates to smart card redirection?

[2015-10-19 16:06] sconstantine commented on #2184
Any progress or updates to smart card redirection?

[2015-10-19 16:07] sconstantine commented on #2780
Any progress or updates to smart card redirection?

[2015-10-19 16:08] sconstantine commented on #2891
Any progress or updates to smart card redirection?  (different from authentication which works fine for me, talking about the actual redirection of the card services into the RD session)

[2015-10-19 16:10] sconstantine commented on #626
Any progress or updates to smart card redirection?  (different from authentication which works fine for me, talking about the actual redirection of the card services into the RD session)

[2015-10-19 18:06] volth commented on #2802
I had the same problem and solved it by increasing [TCP_USER_TIMEOUT's value in tcp.c](https://github.com/FreeRDP/FreeRDP/blob/1e1983b7daf88375684854a977549d64f791173f/libfreerdp/core/tcp.c#L1030) from 4000ms to 60000ms.

From the manual: *When the value is greater than 0, it specifies the maximum amount of time in milliseconds that transmitted data may remain unacknowledged before TCP will forcib

[2015-10-19 18:06] sephiroth4 commented on #2184
It's been working for me in version 2.2.0.1000 (stable)

On Mon, Oct 19, 2015 at 11:07 AM, Sean C <notifications@github.com> wrote:

[2015-10-19 22:07] thefonzz2625 opened #2937 "FreeRDP disconnects Immediately after auth"
After successful auth, I recieve this message after I see the session launch for half a second.

I know this as I've tried with dummy credentials and I don't get this far.

[18:06:34:593] [25666:25667] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[18:06:34:593] [25666:25667] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpsnd
[18:06:34:593] [25666:25667] [INFO][

[2015-10-20 07:52] bmiklautz commented on #2937
@thefonzz2625 please have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting and add more details.

[2015-10-20 07:55] bmiklautz commented on #2529
@DejavuDmitry if master works can we close the issue?

[2015-10-20 08:15] DejavuDmitry commented on #2529
@bmiklautz Yes.

[2015-10-20 08:15] #2529 closed

[2015-10-20 09:25] frispete commented on #626
Well, I do this since ages - but I'm still on 1.0 with the applied workaround using a pretty common USB device (here in Germany) called mIDentity. For reference, you can find my builds here:
https://build.opensuse.org/project/show/home:frispete:RemoteDesktop
Be aware, that the 1.1 and 1.2 codebase is outdated. Every time, I tried to went upstairs, hard to track down stability problems dropped me b

[2015-10-20 12:57] thefonzz2625 commented on #2937
Invoked as:

xfreerdp *rdp file from RDP server* /u:*username* /d:*domain* +clipboard /size:1600x850 /p:$(zenity --entry --title="Domain Password" --text="Enter your _password:" --hide-text) /cert-ignore /v:*host*

Connecting to Windows server 2013

[andrew@localhost ~]$ xfreerdp --version
This is FreeRDP version 1.2.5-dev (git 7aca1e0)

Linux x64

cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON -DW

[2015-10-20 13:27] wtfrank commented on #2802
Nice one, this solves the problem for me.

I initially doubled the value to 8000, but I still got disconnected quite quickly. I doubled it again to 16,000 and my remote desktop session has stayed connected for hours. This is a personal best!

[2015-10-20 15:14] bmiklautz commented on #2802
@wtfrank can you tell me what type of connection setup are you using?

[2015-10-20 15:21] wtfrank commented on #2802
Windows servers with a gateway server. The command I'm using to connect is: "xfreerdp /g:gateway.xxx /v:ts-xxx.xxx /d:DDD /u:UUU /p:PPP /workarea +clipboard  +home-drive"

Is this the info you were after @bmiklautz?

[2015-10-20 15:25] bmiklautz commented on #2802
@wtfrank I was more thinking about your network connection. Is this gsm/ethernet/..?

[2015-10-20 15:34] wtfrank commented on #2802
@bmiklautz ethernet via business DSL over the internet to the datacentre.

There aren't any noticeable problems with the connection - steady ping, no dropped packets. Maybe there are occasional glitches though?

[2015-10-21 04:22] lumm commented on #2113
I have tried to use root user that can solve this problem.

[2015-10-21 08:52] jojonewnew commented on #2937
Hi, have you tried disable printer option?
cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON -DWITH_DEBUG_RDP=ON -DCHANNEL_PRINTER=OFF -DCHANNEL_PRINTER_CLIENT=OFF

[2015-10-21 12:35] thefonzz2625 commented on #2937
I hadn't. But I did just now. Even removed the old build, cloned a fresh build and tried it. Still tries to load the printer-client library for some reason. Although I'm not sure that's the source of the problem. I've seen it complain about that previously on other working systems and then load successfully.

Output is identical to first post.

[2015-10-21 12:46] bmiklautz commented on #2937
@thefonzz2625 if you see
[code]
a later error like
[code]
can safely be ignored.

[2015-10-21 12:57] thefonzz2625 commented on #2937
Alright. The real problem is that the RDP session comes up for about half a second and then q

[2015-10-21 20:54] rchildress87 commented on #2813
Thanks!  Much appreciated.

[2015-10-22 07:00] abma commented on #2935
for me disabling bitmap-cache with: -bitmap-cache made it a lot more responsive and heavily reduced cpu load. does that help?

[2015-10-22 11:45] areal23 commented on #2923
freezes due to option - /rft

[2015-10-22 15:07] John1984 opened #2942 "RDP protocol auth"
sorry for posting in issues.
i'm trying to understand how RDP protocol works.

can u tell me at what moment of connection sequence it's possible to understand that auth (user/passwd from CLIENT INFO PDU, auto-logon flag) failed?

i specify absolutely any data there and RDP servers eats it with no problem and give me response.

[2015-10-22 18:18] hardening commented on #2942
As someone told you on IRC there's a mailing list for such questions, the issue tracker is not the place.
The answer can be found by reading the RDP specs, and "it depends". If you're doing NLA the authentication is done at the transport level so a failure will be notified by the fact that you can not establish the lower layer. With other transports, it's a little after during the negociation.

[2015-10-22 18:18] #2942 closed

[2015-10-22 21:44] tenspd137 opened #2943 "RemoteApp mode seg faults after connection, fails to connect in debug mode"
Hello,

I seem to be having trouble with app mode connecting to Windows 7.  I set up Windows 7 following http://geekswithblogs.net/twickers/archive/2009/12/18/137048.aspx and configuring the registry on my laptop for cmd.exe.

On my desktop Linux box (Gentoo amd64) when I try:

xfreerdp /u: <uname> /p: <pass> /app:"||cmd" or xfreerdp /u: <uname> /p: <pass> "/app:||cmd"

the session starts, I see t

[2015-10-23 07:20] xgimp commented on #2935
thank for your response.
Yes it's little bit better. But still not ideal. I think it's maybe because of Raspberry Pi 2 performance?

[2015-10-23 07:38] Hopedream commented on #2935
没看懂

[2015-10-23 07:38] Hopedream commented on #2935
没看懂

[2015-10-23 07:38] Hopedream commented on #2935
没看懂

[2015-10-23 07:38] Hopedream commented on #2935
没看懂

[2015-10-23 07:43] xgimp opened #2944 "urbdrc-client.so on ARM"
Hello,

I'm using FreeRDP version 1.1.0-beta1 (git n/a) on Raspberry Pi 2 under Raspbian Wheezy.

Linux raspberrypi 4.1.7-v7+ #817 SMP PREEMPT Sat Sep 19 15:32:00 BST 2015 armv7l GNU/Linux

It work well, but if I use /usb:auto, FreeRDP return this:

LoadLibraryA: /usr/lib/arm-linux-gnueabihf/freerdp/urbdrc-client.so: cannot open shared object file: No such file or directory

and yes. This library

[2015-10-23 16:35] hardening commented on #2943
This bug smells like something we have fixed some time ago, would you mind give a try with latest master ?

[2015-10-25 07:53] ariscop opened #2946 "RemoteApp window minimizes when on an inactive deskop"
[video](https://youtu.be/PFNzbvk2wUM), Command line:
`./xfreerdp /v:[server] /clipboard /u:[domain user] /app:C:\\Windows\\System32\\cmd.exe`
Tested with the version in fedora 22 and current master

This happens for all applications, not just powershell
Interestingly though, while a command is writing to powershell it wont minimize

[2015-10-26 02:00] lumm opened #2947 "When I open /rfx and /multimedia at the same time, I play the video with windows mediaplayer of version 12.0.7610.18840, and the screen will flicker"
When I open /rfx and /multimedia at the same time, I play the video with windows mediaplayer of version 12.0.7610.18840, and the screen will flicker. The FreeRDP's git number is "16069e6", branch is master.

[2015-10-26 02:12] lumm opened #2948 "When I open /rfx and /multimedia at the same time, I play the video with windows mediaplayer of version 12.0.7610.18840, and the screen will flicker"
When I open /rfx and /multimedia at the same time, I play the video with windows mediaplayer of version 12.0.7610.18840, and the screen will flicker. The FreeRDP's git number is "16069e6", branch is master.

[2015-10-26 02:12] #2947 closed

[2015-10-26 04:04] lumm commented on #2944
you need to make sure that you have install the usb library to compile, like libudev and libuuid.

libudev stable: 1
-- Found UDev: /usr/local/lib/libudev.so
-- include: /usr/local/include
-- Found UUID: /usr/lib/i386-linux-gnu/libuuid.so
-- Found libusb-1.0:
-- - Includes: /usr/include/libusb-1.0
-- - Libraries: /usr/lib/i386-linux-gnu/libusb-1.0.so
-- Found all URBDRC dependencies

only you find

[2015-10-26 04:25] coreline opened #2949 "Scroll button does not work"
Scroll up/down works correctly but middle button on the scroll does not work.

[2015-10-26 11:15] dd-jacks commented on #2944
All necessary libs are listed in #2667

[2015-10-26 12:36] thefonzz2625 commented on #2937
Do you need any other output?

[2015-10-26 16:47] tenspd137 commented on #2943
Sure - when I get a chance I'll get the latest source and do a build and give it a try.  I'll let you know what happens.

[2015-10-26 17:10] tenspd137 commented on #2943
Aha - latest stuff works - thanks!

[2015-10-26 17:10] #2943 closed

[2015-10-26 17:25] tenspd137 commented on #2943
Quick question though - is there a way to run multiple remote apps?  It appears that when I connect to a second, it wants to stop the first.

[2015-10-26 22:47] puneet101 opened #2950 "Poor audio performance on Mac"
Audio performance for simple youtube playback is poor. With local LAN, we see jerky audio playback; video works much better so something is off.

We used standard WITH_MACAUDIO #define enabled with no other tuning. Is this a known issue?

[2015-10-27 12:41] bmiklautz commented on #2949
@coreline please have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting and add more information.

[2015-10-27 20:20] hisaruki commented on #2662
I also suffer from the same problem.
I tried the latest master 1.2.5-dev (git fa2c39f).

https://vimeo.com/143782751

[2015-10-28 03:26] avnermiz commented on #2862
@hardening I'm fairly new to ubuntu (not a programmer), so bear with me if I am describing things incorrectly.  I'm accessing a Windows MultiPoint Server via xfreerdp from Ubuntu 14.04.  For it to work, I need to put in ignore-certificate.

xfreerdp --ignore-certificate -u UserN -f IpAddress -p

That works fine, but the clipboard doesn't work, so I can't copy and paste between my rdp session and m

[2015-10-28 08:00] hardening commented on #2862
@avnermiz I guess you're using the xfreerdp that is shipped with Ubuntu 14.04, which is really old. You should give a try with the latest master (compilation instructions are easily found on the FreeRDP wiki).

[2015-10-28 10:16] bmiklautz commented on #2862
@avnermiz for testing you can try our nightly package to see if this fixes you problem. Have a look to  https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2015-10-28 10:34] avnermiz commented on #2862
@hardening @bmiklautz - you guys are amazing.  I got it to work!  Thank you so much.

Some thoughts:  I had no idea how to do this:

I'm not even sure I did it right, but it does seem to have worked.  I just created those directories with the "mkdir" command and than created the filename with the "touch" command.

Also, this command no longer worked:

It just pulled up instructions, but from them

[2015-10-28 11:18] bmiklautz commented on #2862
@ghsatpute you still have problems with the latest master?

[2015-10-28 17:12] ghsatpute commented on #2862
@bmiklautz with new problems seems to be solved. Thanks :+1:

[2015-10-28 17:12] #2862 closed

[2015-10-28 21:01] krichter722 opened #2953 "make fails due to "/mnt/richtercloud/sources/FreeRDP/channels/tsmf/client/ffmpeg/tsmf_ffmpeg.c:135:43: error: ‘AV_CPU_FLAG_MMX2’ undeclared (first use in this function)""
`cmake . && make` fails with

[code]

experienced with 1.2.0-beta1+android9-1998-g9520017 on Ubuntu 15.10

[2015-10-29 08:16] bmiklautz commented on #2953
@krichter722 1.0.0 is really old. This problem should already be fixed in a more recent version.
If you compile yourself try the latest master from github.
You can also use one of our pre-built packages (https://ci.freerdp.com/job/freerdp-nightly-binaries/)

[2015-10-29 09:57] krichter722 commented on #2953
`1.0.0-7730-g9520017` is the output of `git describe` of the current `master`, but `1.2.0-beta1+android9-1998-g9520017` of `git describe --tags` is more useful. Yet, they both refer to the current HEAD of master (see `man git describe` for an explanation).

[2015-10-29 11:41] bmiklautz commented on #2953
@krichter722 it wasn't obvious that you are referring to a git commit - distributions versions often look rather similar. The git commit id itself would have been good as well ;).

What version of ffmpeg/libav you are linking against? The nightly builds on 15.10 we are doing don't show this problem.

[2015-10-30 11:34] frp opened #2956 "XFreeRDP: graphic output hangs, but mouse and keyboard input still works"
## My system

[code]

This is the version from Fedora 22 repository.

Connecting to Windows 7 Professional with all last updates, using the following command:

[code]

(this is the minimal set of options with which I run it, adding clipboard and sound redirection options which I often use don't make any difference)
## The problem

Xfreerdp graphic output randomly hangs (sometimes it works all day

[2015-10-30 22:42] puneet101 commented on #2950
Any feedback on this? Thanks!

[2015-10-31 19:10] sthen commented on #2828
You can just use SSLv23_client_method. Despite the name this will connect using the best version available (TLSv1.2 if supported by the server). If you want to explicitly disable SSLv2/3 (though libraries are moving to disable these anyway) you can use SSL_OP_NO_SSLv2 and SSL_OP_NO_SSLv3 options.

[2015-11-01 03:06] cmsmith1977 commented on #2707
I'm having this same problem - only get video on the primary display.  If I compile eb14ab15f5bca5751d8a71965f31509d4c3b176b from April 14 fullscreen on dual monitors works, but when I add in bad2f138c183b84c996ec16b4f2e0aaf77b54d7c, it breaks.

[2015-11-01 11:55] oblique commented on #2282
I just tested the lasted master and it works. You can close this issue.

[2015-11-01 16:55] ThomasCr opened #2958 "Gateway without RPC over HTTP"
Hi,

it will be nice, when you can add support to use rd gateway without RPC over HTTP, because trough a existing conflict with Exchange 2013 support got lost.

read also: http://www.focusedit.co.uk/89-exchange-2013-and-server-2012-remote-desktop-gateway-coexistence-issues/

that's output from xfreerdp (1.2.0~git20150207+dfsg-0utopic2) I get:

[17:45:18:962] [7729:1278813952] [INFO][com.freerdp.cl

[2015-11-01 16:58] ThomasCr commented on #2958
above output is with /gateway-usage-method:direct, this is without:

[17:56:26:226] [7888:1213327104] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[17:56:27:688] [7888:1213327104] [ERROR][com.freerdp.core.gateway.rpc] - error! Status Code: 401
[17:56:27:689] [7888:1213327104] [ERROR][com.freerdp.core.gateway.http] - HTTP/1.1 401 Unauthorized
[17:56:27:689] [7888:1213327104]

[2015-11-01 19:45] cmsmith1977 commented on #2707
I was able to rollback client/X11/xf_window.c to eb14ab15f5bca5751d8a71965f31509d4c3b176b and recompile to make FreeRDP start in fullscreen mode across all monitors again.  Not sure what all ramifications that might have - perhaps @nfedera could weigh in on this?

[2015-11-02 07:59] hardening commented on #2282
@lemonmojo Did something changed for you with this issue ? I tend to suggest to close this issue, and that you open a clean new one if the bug is still there. Any comment ?

[2015-11-02 08:59] lemonmojo commented on #2282
@hardening Still have several issues with TSG. Opening new issues for them is fine for me though.

[2015-11-02 09:27] #2282 closed

[2015-11-02 10:19] lemonmojo commented on #2828
@sthen That's an awesome find! I just tested this and it seems to work fine. Are you aware of any other consequences switching to this method might have?

[2015-11-03 02:34] cmsmith1977 commented on #2748
I posted this on the other thread (https://github.com/FreeRDP/FreeRDP/issues/2707#issuecomment-152856281) - thought you guys may find it useful also:  I was able to rollback client/X11/xf_window.c to eb14ab15f5bca5751d8a71965f31509d4c3b176b and recompile to make FreeRDP start in fullscreen mode across all monitors again. Not sure what all ramifications that might have - perhaps @nfedera could weig

[2015-11-03 05:18] jawz101 opened #2960 "is it possible to use Linux as a FreeRDP server?"
I see vague reference to it and very sparce instructions on various Ubuntu forums.  If it's even possible the instructions I've seen (elsewhere) are several years old.  If it is indeed possible- even in an experimental state- can some documentation be written up somewhere?  Not "read the source code" I mean legitimate documentation.  Even if it isn't up to snuff it would be nice to see how it does

[2015-11-03 09:21] bmiklautz commented on #2960
@jawz101 for questions please don't use the issue tracker but rather our mailing list or the irc channel.

Anyways. FreeRDP comes with a shadow server that can be used to share a already running X11 session. But it is not a full featured RDP server that also launches x11/... session.
There are currently two projects xrdp and FreeRDS that (partially) use FreeRDP and are a full RDP server for Linux.

[2015-11-03 09:21] #2960 closed

[2015-11-03 11:52] nfedera commented on #2707
@cmsmith1977 please ...
- output of xfreerdp --monitor-list
- what window manager ?
- full xfreerdp command line used

[2015-11-03 16:47] rbellamy commented on #2862
I just installed the Arch package `freerdp-git` which pulls directly from master before building, and I am having this symptom. I've tried with all the security switches turned on and adding an entry in `/etc/ld.so.conf.d/freerdp.conf` pointing to `/usr/lib/freerdp` (which really shouldn't be necessary since it's in the normal load path), as well as ignoring the cert - still no worky with a Window

[2015-11-03 18:14] thefonzz2625 commented on #2937
It runs with the latest commit if I sudo it.

[2015-11-03 20:57] bmiklautz commented on #2937
@thefonzz2625 that sounds weird. So latest master works for you but only as root?

[2015-11-03 22:28] thefonzz2625 commented on #2937
That is correct.

[2015-11-04 10:12] bmiklautz commented on #2937
@thefonzz2625 would you re-paste your complete command line please?

[2015-11-04 11:57] thefonzz2625 commented on #2937
xfreerdp rdesktop.rdp /u:*Myusername* /w:1224 /h:650 /v:*rdphostname*

On Wed, Nov 4, 2015 at 5:12 AM, Bernhard Miklautz <notifications@github.com>
wrote:

[2015-11-04 12:00] thefonzz2625 commented on #2937
I have that in a .sh file, then I sudo rdeskop.sh .

Also, I have

xfreerdp /version
This is FreeRDP version 1.2.0-beta1 (git 1.2.0-beta1+android7-108-g9e17)

on another computer that does not suffer from this limitation. It was
cloned from git several months ago.

On Wed, Nov 4, 2015 at 6:57 AM, Andrew Villano <thefonzz2625@gmail.com>
wrote:

[2015-11-04 12:05] bmiklautz commented on #2937
@thefonzz2625 for me it sounds more like there is some installation/build problem on that particular computer. Could you also paste the content of your .sh file and the .rdp file for completeness?

[2015-11-04 13:39] nfedera commented on #2707
@giovannitarter and @cmsmith1977 - Here is what happened:
@bjcollins created the nice pull request #2426 (commit d4a9a2d) which provided many fullscreen and multimon enhancements. This commit removed the override_redirect approach (which worked with basically all window managers) and used the modern way using NET_WM_STATE_FULLSCREEN  and NET_WM_FULLSCREEN_MONITORS for multimon support.
This means

[2015-11-04 13:42] nfedera commented on #2748
@cmsmith1977 see my answer in https://github.com/FreeRDP/FreeRDP/issues/2707#issuecomment-153721965

[2015-11-04 14:35] bjcollins commented on #2707
@nfedera Your synopsis makes sense to me. Although my PR made improvements for WMs which support NET_WM_FULLSCREEN_MONITORS, it broke support on the WMs which do not support it. I did not take this into account and I do not know if @awakecoding was aware of the "regression" from the PR. I think handling this case should be relatively simple as I believe you can query whether NET_WM_FULLSCREEN_MONI

[2015-11-04 14:45] nfedera commented on #2707
@bjcollins you are absolutely right. NET_WM_FULLSCREEN_MONITORS can be queried which means that we could autodetect the requirement for the override_redirect fallback.

[2015-11-04 15:22] thefonzz2625 commented on #2937
[andrew@Andrew-PC ~]$ cat desktop.sh
#!/bin/bash
 xfreerdp rdesktop.rdp /u:*username* /w:1224 /h:650 /v:*hostname*
[andrew@Andrew-PC ~]$

[andrew@Andrew-PC ~]$ cat rdesktop.rdp
redirectclipboard:i:1
redirectprinters:i:1
redirectcomports:i:0
redirectsmartcards:i:1
devicestoredirect:s:*
drivestoredirect:s:*
redirectdrives:i:1
session bpp:i:32
prompt for credentials on client:i:1
server port:i:3389
a

[2015-11-04 17:25] hardening commented on #2707
\<stupid comment\>
@cmsmith1977 @nfedera sounds obvious that commit https://github.com/FreeRDP/FreeRDP/commit/bad2f138c183b84c996ec16b4f2e0aaf77b54d7c is bad :)
Ok I'm ===> [ ]
\</stupid comment\>

[2015-11-05 02:07] jawz101 commented on #2960
Thanks.  Sorry for the improper question

[2015-11-05 11:53] bmiklautz opened #2965 "Cleanup "static channels""
Static channels currently build all enabled channels and links them together into libfreerdp-client. Static in that means that they are "statically" linked into the client library.
When installing the channels are also installed as archives (.a) which doesn't make much sense if they all are already linked and installed.

[2015-11-05 11:55] bmiklautz opened #2966 "command line: disable not compiled in arguments"
For example if usb is not compiled in it shouldn't show up in the help.

[2015-11-05 14:06] abma opened #2967 "corrupted text with long lines / duplicate lines (glyph-cache)"
xfreerdp sometimes corruptes screen / char(s):

screenshot taken from xfreerdp from the host:
![screen-corruption](https://cloud.githubusercontent.com/assets/301564/10970371/861bbb3c-83ce-11e5-9513-f9ca6fd75a23.png)

thats how it should look like (screenshot taken from inside session)
![screenshot-insidesession](https://cloud.githubusercontent.com/assets/301564/10970378/8d85469a-83ce-11e5-83a1-20b

[2015-11-05 14:41] bmiklautz commented on #2967
@abma what version you are reporting this issue for?

[2015-11-05 15:05] abma commented on #2967
16069e69e5f0bcae76f280c4bdde89a825d1f8c1, but seems to happen in current master version, too.

[2015-11-05 15:14] bmiklautz commented on #2967
@abma could you re-try with the different caches disabled?
[code]

[2015-11-05 15:20] abma commented on #2967
with -glyph-cache it seems to work without curruption, the other parameters have no effect.

[2015-11-05 15:45] coreline commented on #2949
I do the following:
1. Connecting to 7 win / win 2008
2. I opened the Google Chome
3. Open multiple tabs on Google Chome
4. Press one of the tabs on the middle mouse button. I expect that the tab should be closed, but not locked.
5. On some website click the middle mouse button. The mouse cursor should take the form of a cross. If you keep the mouse up or down, the page will start soon scrolls. Bu

[2015-11-06 10:41] bmiklautz commented on #2949
@coreline what version of freerdp are you using?
I've tested the above's procedure with the latest freerdp-nightly against windows 7 and the wheel button on my mouse worked fine.

[2015-11-06 14:40] abma opened #2969 "(minor) memleak in /libfreerdp/core/orders.c:1815"
addresssanitizer reports a small memleak on exit:

==2884==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 24 byte(s) in 1 object(s) allocated from:
    0 0x7f871fbc5d2a in realloc (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x98d2a)
    1 0x7de1fb in update_read_polygon_cb_order FreeRDP/libfreerdp/core/orders.c:1815
    2 0x7f2747 in update_recv_primary_order FreeRDP/libfreerdp/core/order

[2015-11-06 15:39] bmiklautz commented on #2969
@abma thanks for the report but unfortunately this is not really helpful for us without the version (git), command line (maybe also valgrind) and the server you are connecting to. Often the leaks happen only in special situations or combinations..

[2015-11-06 15:40] abma commented on #2969
thats from the most recent commit in master branch...

[2015-11-06 15:41] bmiklautz commented on #2969
@abma not something one could guess from the report though ;)

[2015-11-06 15:43] abma commented on #2969
yeah, sorry, to make it useful in the future with a git hash:
https://github.com/FreeRDP/FreeRDP/blob/b83356a0b3a6cd6d82588824c5b428638337934a/libfreerdp/core/orders.c#L1815

[2015-11-06 15:58] bmiklautz commented on #2969
@abma thanks. Can you give some details on how to reproduce this. I just tried to reproduce this leak somehow but without success.

[2015-11-06 16:48] #2393 closed

[2015-11-06 19:30] abma commented on #2969
to reproduce, i have to start it:

    $ xfreerdp /v:server /sec:tls -glyph-cache

and then logout inside the session.

[20:26:54:177] [5676:5677] [ERROR][com.freerdp.core] - ERRINFO_LOGOFF_BY_USER (0x0000000C):The disconnection was initiated by the user logging off his or her session on the server.
[20:26:54:177] [5676:5677] [ERROR][com.freerdp.core.rdp] - DisconnectProviderUltimatum: reason: 3

[2015-11-06 19:31] abma commented on #2969
"long" is a minute

[2015-11-09 09:58] Hubbitus commented on #2839
Hi.
Sorry, but do you have any milestone date estimations? When 2.0 should out?

[2015-11-09 12:33] bmiklautz commented on #2839
@Hubbitus no fixed schedule. The version will be increased the next days. The API as it is on master will be further stabilized and cleaned up but for the core the shouldn't be much changes.

[2015-11-10 22:20] IQAndreas opened #2974 "fatal error: gst/gstconfig.h: No such file or directory"
When [trying to compile from source](https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.04-and-14.10), I get the following error message:

[code]

The file `gstconfig.h` can be found on my system in the following locations:
[code]

I have compiled without errors several months ago, but when I updated to commit b5f8900bc45abbb36a03f58eed105c17a68e0516, it would no longer compile (I also u

[2015-11-10 22:44] IQAndreas commented on #2974
I forgot a developer's number 1 rule: if it doesn't work, run `clean` and try again.

[code]

The problem may also have been solved because I did a few other steps such as updating and reinstalling items with `apt`, but the changes probably weren't picked up until I ran `make clean`.

There were a few warnings and error messages during compilation, but nothing related to `gstreamer` or fatal, and

[2015-11-10 22:44] #2974 closed

[2015-11-11 08:54] Hobby-Student opened #2975 ""/smartcard" with "/drive:*,hotplug" crash"
Hey there,

I have a problem with current master. I try to get away from
[code]
to
[code]

For its own, it's working. But whenever I combine with
[code]

it's crashing:
![freerdp](https://cloud.githubusercontent.com/assets/6012744/11087185/7630ef1a-8858-11e5-9b3a-6482d7bf90b6.png)

Had no time for DEBUG compile... Will do this later, but perhaps someone has an idea before.

Compiled with
[code]

[2015-11-11 09:29] Hobby-Student commented on #2975
ok... faster than I thought. Compiled with debug, but no more infos...

(tried freerdp 3 times... as you can see in the pic. ERROR because I cancelled login on server)

![freerdp-debug](https://cloud.githubusercontent.com/assets/6012744/11087982/ffffe376-885e-11e5-8b15-da1af1c5701b.png)

[2015-11-11 19:26] Fred1979 commented on #2744
I'm having the same issue, any update on this ?

[2015-11-11 19:35] Fred1979 commented on #2744
@bmiklautz When activating compression with the -z switch the problem seem solved.   Thanks a lot !

[2015-11-11 19:36] awakecoding commented on #2744
@Fred1979 this actually disables it. I found out experimentally that the problem only affects RDP6.1 compression, using /compression-level:2 should also work.

[2015-11-16 09:16] lemonmojo commented on #2434
Also, when using a Remote Desktop Gateway, there's currently no way of knowing whether the gateway or destination host credentials have been rejected (apart from looking at the log which isn't feasible in GUI-only applications).

[2015-11-16 15:51] davidleake opened #2977 "Dual Screen not working correctly"
I recently updated the version of FreeRDP that we are using.  In the process I found that Dual screen operation is broken.  The 2nd monitor does not show what should be on the desktop.  I can drag an Icon or window on to the other screen but it is not visible.  I found that the check in 719a0fd3e9877cc9f0c2031d0e68fc5680834c9c  (Thu Mar 12 07:27:29 2015 -0400) is where the break happens.

[2015-11-16 16:08] bmiklautz commented on #2977
@davidleake did you test with the latest master already? There were recent changes regarding multimon.

[2015-11-16 16:11] nfedera commented on #2977
@davidleake in case it fails with current master please also let us know which window manager you're using, to which rdp server you're connection (the remote Windows version/edition) and your exact xfreerdp command line.

[2015-11-16 17:18] davidleake commented on #2977
I have tried it with the current master.  We are using a derivative of the icewm as our WM.  I have connected to Server 2008R2, Windows 8, and Server 2012 all with the same results.

command line is
xfreerdp /t:rdp-win8fx /v:win8fx -grab-keyboard /gdi:hw /sound:sys:alsa /microphone:sys:alsa /cert-ignore -sec-nla -toggle-fullscreen /drive:TCshare-sdb1,/media/sdb1 /bpp:24 /network:lan +aero +window-

[2015-11-16 21:25] antiflu commented on #2802
Does your connection hang as well before finally disconnecting?
And do you know which option to set for more verbose debugging?

[2015-11-16 21:45] antiflu commented on #2802
More information from me: I am using a steady and fast network connection, the latest git master version of XFreeRDP built with "make", I am connecting from Linux Mint 17 64 bit to Windows Server 2012 R2, and I am having the problem that the session hangs before disconnecting. After hanging, subsequent keyboard and mouse output does not arrive remotely anymore. Hanging occurs randomly, sometimes a

[2015-11-16 22:14] antiflu commented on #2802
Correction... the cable network connection that I used was not stable. Other programs also suffered disconnections. Probably an issue with my network card drivers. Now using Wifi and is going better. I did however see the problem on other Wifi connections before, so will investigate more.

[2015-11-16 23:57] nfedera commented on #2977
@davidleake I think this is a dulicate of issue #2707. Icewm does not support the NET_WM_FULLSCREEN_MONITORS property.
For a detailed explanation see https://github.com/FreeRDP/FreeRDP/issues/2707#issuecomment-153721965)

[2015-11-17 06:22] sconstantine commented on #2184
Still crashes upon connection when set to redirect the smart card; running Royal TSX and Remote Desktop (FreeRDP) v2.2.1.1 beta with SCR3310 USB Smart Card Reader.

Suggestions or new FreeRDP plugin beta to try?

[2015-11-17 07:18] #2977 closed

[2015-11-17 12:15] thefonzz2625 commented on #2956
Yeah. I'm having the same problem. I have another issue open where I need to sudo in order to connect.

Version: This is FreeRDP version 1.2.5-dev (git b83356a)

Can't attach strace -- even after tar.gz'ing it -- 55mb.

[2015-11-17 12:19] bmiklautz commented on #2956
@frp @thefonzz2625 can you verify if this problem also exists with the current master. Package for Fedora is available from https://ci.freerdp.com/job/freerdp-nightly-rpm-mock/

[2015-11-17 13:19] thefonzz2625 commented on #2956
So far so good. The real test is whether it will last between several
reboots. I'll be sure to let you know.

Thanks :)

On Tue, Nov 17, 2015 at 7:19 AM, Bernhard Miklautz <notifications@github.com

[2015-11-17 13:20] niu-cbeard opened #2978 "Issue with Connection Broker Redirection Windows Server 2012 R2 Remote Desktop Services"
Hello,

We have identified an issue with freerdp when connecting to a Windows Server 2012 R2 RDS Cluster. In our environment we are connecting from a RHEL6.7 server to two Server 2012 servers in a collection, serving a number of remoteapps. Whenever a redirect event occurs due to a load balancing decision or to connect a user to an existing cached session we see the connection establish followed b

[2015-11-17 13:40] bmiklautz commented on #2978
@niu-cbeard what version of FreeRDP are you using?

[2015-11-17 13:50] niu-cbeard commented on #2978
Hi, Originally we were using the version in RHEL's yum repo 1.0.2-2. We have upgraded to the latest pre-release 1.1.0-beta1 but we are still seeing the same issue.

[2015-11-17 16:03] sconstantine commented on #775
Loading SmartCard Services (https://smartcardservices.macosforge.org) the SCR3310 is working for me in OS X 10.11.x.

However, FreeRDP still crashes upon connection when set to redirect the smart card.  I'm running Royal TSX and Remote Desktop (FreeRDP) v2.2.1.1 beta with SCR3310 USB Smart Card Reader.

Suggestions or new FreeRDP plugin beta to try?

[2015-11-17 16:14] sconstantine commented on #626
Thanks for the reply @frispete; is there a way I can use your builds on OS X?  Pardon my inexperience here...

[2015-11-17 16:31] sephiroth4 commented on #2184
Yoooo!

I'm using the same beta version and the omnikey 3121 usb smart card
reader.  Might want to try a different reader??

On Tue, Nov 17, 2015 at 12:22 AM, Sean C <notifications@github.com> wrote:

[2015-11-17 17:25] frispete commented on #626
Well, I'm not experienced enough for this kind of stuff in the OS X eco system. Sorry.

[2015-11-17 20:03] bmiklautz commented on #2978
@niu-cbeard if you compiled yourself give master a try. We currently don't have any nightly RHEL packages due to the lack of RHEL build machines ;(

[2015-11-18 13:51] lemonmojo commented on #2958
+1
I'm running into the same issue with my log looking almost exactly the same.

[2015-11-18 14:06] aaronssh commented on #2958
+1
I have the same issue too.

[2015-11-19 12:14] niu-cbeard commented on #2978
@bmiklautz Ok, we'll give that a go. We have put a work around in place in the short term by configuring each RDS server as a connection broker with their own collections and sending requests directly to each node. To do this we have implemented some very basic load balancing within our application, this isn't as scalable as we would like it to be though. I'll post again once we have some results

[2015-11-19 12:18] YangLi20 commented on #2614
When compiling the iOS code, I met a mistake does not support architecture，Have met or know?The following is the error log

-- Configuring incomplete, errors occurred!
See also "/Users/yangli/Documents/src/FreeRDP-1.1.0-beta1-ios4/CMakeFiles/CMakeOutput.log".
See also "/Users/yangli/Documents/src/FreeRDP-1.1.0-beta1-ios4/CMakeFiles/CMakeError.log".

yangli:FreeRDP-1.1.0-beta1-ios4 yangli$ cat /Use

[2015-11-19 12:19] YangLi20 commented on #2775
When compiling the iOS code, I met a mistake does not support architecture，Have met or know?The following is the error log

-- Configuring incomplete, errors occurred!
See also "/Users/yangli/Documents/src/FreeRDP-1.1.0-beta1-ios4/CMakeFiles/CMakeOutput.log".
See also "/Users/yangli/Documents/src/FreeRDP-1.1.0-beta1-ios4/CMakeFiles/CMakeError.log".

yangli:FreeRDP-1.1.0-beta1-ios4 yangli$ cat /Use

[2015-11-19 12:21] YangLi20 commented on #1571
When compiling the iOS code, I met a mistake does not support architecture，Have met or know?The following is the error log

-- Configuring incomplete, errors occurred!
See also "/Users/yangli/Documents/src/FreeRDP-1.1.0-beta1-ios4/CMakeFiles/CMakeOutput.log".
See also "/Users/yangli/Documents/src/FreeRDP-1.1.0-beta1-ios4/CMakeFiles/CMakeError.log".

yangli:FreeRDP-1.1.0-beta1-ios4 yangli$ cat /Use

[2015-11-19 12:25] YangLi20 commented on #1234
When compiling the iOS code, I met a mistake does not support architecture，Have met or know?The following is the error log

-- Configuring incomplete, errors occurred!
See also "/Users/yangli/Documents/src/FreeRDP-1.1.0-beta1-ios4/CMakeFiles/CMakeOutput.log".
See also "/Users/yangli/Documents/src/FreeRDP-1.1.0-beta1-ios4/CMakeFiles/CMakeError.log".

yangli:FreeRDP-1.1.0-beta1-ios4 yangli$ cat /Use

[2015-11-19 14:10] bmiklautz commented on #2775
@YangLi20 I don't see the dependency between you problem and the issue. Can you please explain?

[2015-11-19 14:11] bmiklautz commented on #2614
@YangLi20 please stop adding the same comment on different issues. If you got a problem create a new issue *once*.

[2015-11-19 15:46] shattars3d commented on #1571
i think your missing the cmake software, your project is not compiling the freerdp libraries.

[2015-11-20 01:19] YangLi20 commented on #1571
my cmake version is 2.8.12,it can't compiling  freerdp ?thank you

[2015-11-20 01:20] YangLi20 commented on #2614
ok,thank you

[2015-11-20 01:29] YangLi20 commented on #2775
I am using cmake to compile the xcode project, appear a mistake, tip me  check dependencies and write auxiliary
/bin/mkdir -p /Users/yangli/Documents/src/FreeRDP-1.1.0-beta1-ios4/CMakeFiles/CMakeTmp/CMAKE_TRY_COMPILE.build/Debug/cmTryCompileExec3869754871.build/Objects-normal/i386   thank you.

[2015-11-20 01:45] nitomartinez opened #2982 "Add support for use of existing socket in client connections"
The idea is to be able to create the socket externally and pass that socket FD to FreeRDP so that it can be used there.

The idea suggested is to use the following interface:

settings->ServerHostname = "|"
settings->ServerPort = SocketFD

Related issues are: #609 and  #2577

[2015-11-20 08:36] hardening commented on #1571
I looks like cmake has detected eventfd support but it can't find it during compilation. Do you have the same with last master ?

[2015-11-20 08:37] hardening commented on #2614
closing as it was solved.

[2015-11-20 08:37] #2614 closed

[2015-11-20 08:39] hardening commented on #2775
Cleaning out-of-context comments from @YangLi20

[2015-11-20 08:39] YangLi20 commented on #1571
no,I am a first contact with the code.I looked up some information that may be configured commands related questions, but did not find.

[2015-11-20 08:41] YangLi20 commented on #2614
ok,

[2015-11-20 09:55] YangLi20 commented on #1692
I also met the same problem, you have a solution,my cmake version is 3.3.2,thank you

[2015-11-20 10:08] magicdmer commented on #1692
I don't know ,I didn't build wfreerdp-server any more,  I only build the wfreerdp client.  you can change your cmake's version and test it

[2015-11-20 11:34] Faflu commented on #2431
My experience is that as long as I do something in the remote desktop, there are no isssues. Only after some period of inactivity I experience the same issue. The gateway and TS are on Win2k12. FreeRDP is compiled from sources pulled from git.

[2015-11-20 14:16] frp commented on #2956
Seems good, I didn't get a problem in a while. Thanks :+1:

[2015-11-20 15:19] antiflu commented on #2802
Did not see the problem anymore over WiFi, so I'm blaming my cable network card and its packet loss.

[2015-11-21 03:24] cmsmith1977 commented on #2707
@nfedera - a little late on the response, sorry.

* output of xfreerdp --monitor-list

[code]

* what window manager ?
** LXDE 0.7.2 in lubuntu 15.04

* full xfreerdp command line used

[code]
* exact remote server os
** Windows 2012 R2 Standard with ThinStuff XP/VS

[2015-11-21 03:48] cmsmith1977 commented on #2707
and I want to re-iterate, that if I do the following, I am able to run in fullscreen across 2 monitors in LXDE.

[code]
Update line 901 to this:
[code]

[2015-11-21 11:47] YangLi20 commented on #1692
i change my cmake version is 3.3.2 and build it ,but it also error , the reason is  ''Error in configuration process, project files may be invalid'',thank you

[2015-11-23 03:50] YangLi20 commented on #1113
hello,i met also error  when i build iOS  code , the reason is " Unknown CMake command "set_complex_link_libraries" ", Before you is how to solve? thank you.

[2015-11-23 06:59] YangLi20 commented on #2593
hello,when i user cmake build freerdp,i met a error ,the reason is " unknown cmake command "set_complex_link_libraries" " , why ?  thank you,my cmake version is 3.3.2

[2015-11-23 07:35] hardening commented on #1113
@YangLi20 There's no point to add your comment on a closed issue. Continue your investigations before asking !

[2015-11-23 08:21] bmiklautz commented on #2775
@hardening thx!

[2015-11-23 12:24] nfedera commented on #2707
@cmsmith1977 this seems to be caused by openbox's special way of handling the size hints in combination with _NET_WM_STATE_FULLSCREEN.
If you comment line 492 and 495 in current master like this ...
[code]
... openbox will also work, but other legacy window managers still won't work.
So the correct way is still implementing @bjcollins' proposal for autodecting _NET_WM_FULLSCREEN_MONITORS support a

[2015-11-23 18:56] shattars3d commented on #2593
if your using the mac OS X el captian, the cmake will give you issues. theres a local folder the el captian has removed. i had an issue with that but i fixed it by coping the folder that  cmake writes in the yosemite local folder.. that could be an issue.

also i am using came 2.8.12.1 for freerdp..  not using the latest cmake

[2015-11-24 12:35] bsagal commented on #2302
The horizontal scroll register with X as buttons 6 and 7

[2015-11-24 13:09] bmiklautz commented on #2302
@colemickens what version of FreeRDP are you using?

[2015-11-24 13:12] bsagal commented on #2302
the following patch removes the problem (it affects master, not sending a pull request as the patch is only a workaround and not a real solution)
[code]

[2015-11-25 02:08] OxyOss opened #2985 "Cannot install package with vlc on Ubuntu 14.04"
Hi there,

I'm having an issue where I want the latest FreeRDP from the PPA, and I can either install that or the VLC packages from Ubuntu - but not both.

I'm continually seeing that there is a dependency issue between FreeRDP packages and vlc-nox - libfreerdp1 is not able to be installed due to the available versions.

Can this be fixed easily?  My Google foo has been poor with this. :(

This is

[2015-11-25 13:33] bmiklautz commented on #2985
@OxyOss that's nothing we can do much about. I doubt the PPA you are using is official and if it does daily builds dependencies will break.
If you don't have any special requirement for this special PPA you can use your nightly builds (https://ci.freerdp.com/job/freerdp-nightly-binaries/). Those are based on master and are installed in /opt/freerdp-nightly and therefore shouldn't cause any depende

[2015-11-25 13:33] #2985 closed

[2015-11-25 13:59] macias opened #2986 "Fullscreen resets the server sreen size"
Thank you for a great program. I am using its Windows build to connect in such setup:

* server -- Linux running VBox
* client -- Windows

I try to connect with fullscreen turned on ("/f") but it does not work -- instead fullscreen VBox running on server is reset to small size window, then wfreerdp uses this size as its own fullscreen resulting in pretty small window on client computer.

For compa

[2015-11-25 14:38] bmiklautz commented on #2986
@macias just to clarify you are connecting with wfreerdp to virtualbox (vrdp)?

[2015-11-25 16:35] macias commented on #2986
@bmiklautz, yes, exactly, this is the case. However small correction, the other client I tested (2X RDP) "cheated" -- I rechecked it and it also resets the screen size on server, but on client it runs fullscreen by scaling the display. So it is not true fullscreen really.

[2015-11-25 17:39] bjcollins opened #2987 "xfreerdp rdpsnd alsa plugin may require many seconds of audio buffered before playback"
This was noted with xfreerdp from the master branch. Using "/sound:sys:alsa" on the command line and connecting to Windows 7 desktops.

I encountered an issue where audio playback does not occur until relatively large amounts of audio have been buffered.

What I am seeing is that if I log into a Windows desktop then typically I will hear the login sound, but subsequent system sounds do not playbac

[2015-11-25 20:10] bjcollins commented on #2987
Ok, I am closing this. It turns out that my problem is a bug in my alsa plugin for pulseaudio. So, it looks like my issue is invalid.

[2015-11-25 20:10] #2987 closed

[2015-11-25 22:44] Utini2000 opened #2988 "RemoteApp gives me only a black screen (RemoteDesktop works fine)"
Hey there, I am on Arch Linux running a Windows 7 Ultimate VM in QEMU/KVM.
FreeRDP version: https://www.archlinux.org/packages/community/x86_64/freerdp/

I can connect to it with the following command just fine:
sudo xfreerdp /u:Vbox /p:pw_here /admin /cert-ignore +clipboard /v:192.168.122.149

But this gives me only a big black screen:
sudo xfreerdp /u:Vbox /p:pw_here /admin /cert-ignore +clipboa

[2015-11-26 08:04] bmiklautz commented on #2988
@Utini2000 may I ask why you are using sudo? I'd also suggest to use ' (single quotes) around the app like /app:'||calc'

Also could you add what version of xfreerdp you are using?

[2015-11-26 08:05] bmiklautz commented on #2986
@macias what do you have installed inside VBox? - Are the guest utils installed or not? Also the VBox version would be interesting.

[2015-11-26 08:56] #2982 closed

[2015-11-26 09:07] RexFan opened #2989 "xfreerdp will random hang when it faces network disconnect or sign out from the terminal server"
Dear all,

I have some problems about xfreerdp hang.

Here is my environment.
### Client

[code]
### Terminal Server

[code]
### xfreerdp command

[code]

Sometimes, when I disconnect from the terminal server or the client face the network disconnect issue, the xfreerdp will hang and will not close even I wait for a long time.

The console shows below lines which almost same as xfreerdp not hang.

[2015-11-26 09:44] Utini2000 commented on #2988
You are right, I shouldn't use sudo and don't even know why I used it. Thanks !
Version: freerdp 1:1.2.0_beta1+android9-1 ... from: https://www.archlinux.org/packages/community/x86_64/freerdp/

Running: xfreerdp /u:Vbox /p:lala /admin /cert-ignore +clipboard /app:'||calc' /v:192.168.122.149
Still gives me the same problem.
I made a video showing what is happening: http://files.bestmail.ws/simplesc

[2015-11-26 10:28] hardening commented on #2989
which xfreerdp version ?

[2015-11-26 11:28] macias commented on #2986
@bmiklautz , I have Windows 7 inside VBox. The guest additions are installed. I tested older VBox 4.3.x version, and then I installed the newest 5.0.10. Both versions behave the same. Just in case, host system for VBox is openSUSE 13.2.

[2015-11-27 01:49] RexFan commented on #2989
Sorry for missing the most important thing.

### xfreerdp version
[code]

[2015-11-27 06:17] RexFan commented on #2989
Hello, I find something new today.

If sign out from the terminal server, the console should show below info which i think it is normal.

[code]

But I find new error today. I am not sure they are related. And I only get this error a few times.

[code]

Thanks.

[2015-11-27 10:20] ygqzwl opened #2990 "xfreerdp give me a black screen"
the client
1. xfreerdp -version
This is FreeRDP version 2.0.0-dev (git c63928f)

2.uname -a
Linux localhost.localdomain 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
3. linux system is centos7

4.use Multimedia Redirection, gstreamer_0_10

the server
1.system is  windows_7_enterprice on kvm-qemu
2.use windows media player,   playbak xxx.wmv

when i run the

[2015-11-27 10:23] ygqzwl commented on #2990
add

when i run the command : ./xfreerdp -u usename -p password --plugin drdynvc --data tsmf -- ip

and used window media player playback xxx.wmv, it only gives me a black screen

[2015-11-27 10:45] hardening commented on #2990
Hum it's possible that the remote codec is not supported locally, would you mind activate the TSMF debug in your build ?
Other possibility: a bug with gstreamer_0_10, it's the old version isn't it ?

[2015-11-27 10:50] ygqzwl commented on #2990
1.how to activate the TSMF debug on my build? where can search the debug logs?

2.when I use gst-launch playback xxx.wmv, it works,so i donot think it is the gstreamer problem...

[2015-11-27 11:07] ygqzwl commented on #2990
when I playbak the xxx.wmv, appear debug errors:

[ERROR][com.freerdp.channels.tsmf.client] - VIDEO: (PLAYING) GST_STATE_CHANGE_ASYNC.
[19:06:26:904] [3715:3780] [ERROR][com.freerdp.channels.tsmf.client] - VIDEO: (PAUSED) GST_STATE_CHANGE_ASYNC.
[19:06:26:904] [3715:3780] [ERROR][com.freerdp.channels.tsmf.client] - VIDEO: (PLAYING) GST_STATE_CHANGE_ASYNC.
[19:06:26:904] [3715:3780] [ERROR][com.fre

[2015-11-27 22:03] Utini2000 commented on #2988
@bmiklautz nothing? :(

[2015-11-27 22:03] Utini2000 commented on #2988
Oh und liebe grüße aus wien 22 ;P

[2015-11-29 08:47] Prostu2 opened #2992 "freerdp making me crazy,tried everything ..."
[ 44%] Building C object libfreerdp/locale/CMakeFiles/freerdp-locale.dir/keyboard_xkbfile.c.o
/home/x/freerdp/FreeRDP/libfreerdp/locale/keyboard_xkbfile.c:41:36: fatal error: X11/extensions/XKBfile.h: No such file or directory
compilation terminated.
make[2]: *** [libfreerdp/locale/CMakeFiles/freerdp-locale.dir/keyboard_xkbfile.c.o] Error 1
make[1]: *** [libfreerdp/locale/CMakeFiles/freerdp-locale

[2015-11-29 12:22] emssik opened #2993 "Problems with /dualmon after ctrl + alt + enter"
Hi,

From:
Ubuntu 15.10,
4.2.0-18-generic #22-Ubuntu SMP Fri Nov 6 18:25:50 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
NVIDIA binary driver 352.63
FreeRDP version 1.1.0-beta1 (git n/a)

To:
Windows 10 Pro

By:
xfreerdp /u:xxx /multimon /v:yyy /network:broadband-low -wallpaper -themes /bpp:16bit /compression
or only xfreerdp /u:xxx /multimon /v:yyy no matter really.

Connection is ok, I can work corre

[2015-11-30 01:23] ygqzwl opened #2994 "VIDEO: (PAUSED) GST_STATE_CHANGE_ASYNC"
the client
1. xfreerdp -version
This is FreeRDP version 2.0.0-dev (git c63928f)

2.uname -a
Linux localhost.localdomain 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
3. linux system is centos7

4.use Multimedia Redirection, gstreamer_0_10

the server
1.system is windows_7_enterprice on kvm-qemu
2.use windows media player, playbak xxx.wmv

when i run the co

[2015-11-30 10:37] hyacinthes commented on #2975
Try "/smartcard:" with "/drive:*,hotplug"

[2015-11-30 10:43] bmiklautz commented on #2988
@Utini2000 I did a similar test against windows 7 with the latest nightly (the machine runs in Hyper-V but that shouldn't actually matter):
[code]
 Worked for me as expected.

[2015-11-30 10:45] bmiklautz commented on #2993
@emssik can you please redo your test with the latest nightly builds (https://ci.freerdp.com/job/freerdp-nightly-binaries/)?

[2015-11-30 10:47] bmiklautz commented on #2992
@Prostu2 I don't know what version you are trying to compile and on what distribution but I'm fairly sure you miss a build dependency. On Debian/Ubuntu the required package is called libxkbfile-dev.

[2015-11-30 10:47] #2992 closed

[2015-11-30 11:07] emssik commented on #2993
Now is ok, thx,

Regards

Daniel Roziecki

2015-11-30 11:45 GMT+01:00 Bernhard Miklautz <notifications@github.com>:

[2015-11-30 11:15] #2993 closed

[2015-11-30 12:13] Utini2000 commented on #2988
@bmiklautz well I tried it again today:

xfreerdp /u:Vbox /p:lala /admin /cert-ignore +clipboard /app:'calc.exe' /v:192.168.122.149

gives me just a big black screen... did you set/change anything in windows 7 itself ?

Thanks !

[2015-11-30 12:23] hardening commented on #2994
I have tested here, and I can't reproduce the black screen (video playing normally).
Anyway, if I pause and stop the video, I can't get rid of the last picture, the only way is to kill window media player. Perhaps that's related to what you're experimenting ?

[2015-11-30 12:28] bmiklautz commented on #2988
@Utini2000 no stock windows 7. No change at all. But as said I've tested with the latest nightly build that  I guess is more recent than the 1.2.x in arch.

[2015-11-30 13:06] Utini2000 commented on #2988
@bmiklautz  Hmm I asked the arch package maintainer to update the package.. maybe he will do it. Anything else I can try or help troubleshooting ? :/ Thanks again !

[2015-11-30 14:09] bmiklautz commented on #2988
@Utini2000 unfortunately we don't have any nightly packages for Arch. But you could try to compile yourself and test if the latest master fixes the problem for you.

[2015-11-30 19:53] Hobby-Student commented on #2975
@hyacinthes don't know how you got this, but the simple ":" makes it working 1 out of 20 times... Without the ":" it never works.

Did just some quick tests. Not reliable for production. Will try more next weekend and report back.

[2015-12-01 01:03] ygqzwl commented on #2994
@hardening   can you tell me how to test it?
1.what gstreamer plugins need to installed if i want to use the gstreamer to playback???
2.makefile or cmakelist is need to modify???
3. what is "the run error VIDEO: (PLAYING) GST_STATE_CHANGE_ASYNC.  " means???

can you provide me your test steps and installed rpms ?(the more detailed the better)

thanks a lot.

[2015-12-01 01:14] ygqzwl commented on #2994
@hardening
can you share me the detail steps you tested???
1.which rpms need to install?
2.which code source or makefile need to modify?
3.which rpms need to install on the server?
thanks a lot for you help

[2015-12-01 01:29] ygqzwl opened #2995 "xfreerdp--- Multimedia Redirection---running errors"
the client
1. xfreerdp -version
This is FreeRDP version 2.0.0-dev (git c63928f)

2.uname -a
Linux localhost.localdomain 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
3. linux system is centos7

4.use Multimedia Redirection, gstreamer_0_10

the server
1.system is windows_7_enterprice on kvm-qemu
2.use windows media player, playbak xxx.wmv

when i run the co

[2015-12-01 01:38] internetstaff commented on #2828
Any progress on this?  This is a major concern now that we're in the final days of TLS 1.0 and 1.1.

Thanks.

[2015-12-01 07:03] lemonmojo commented on #2828
@internetstaff I'm using the tweak @sthen suggested since a few beta versions of my product now and have had only positive feedback.
That being said, I don't know if it's the right way to "fix" the issue and whether it needs to be applied to additional places, like [`here`](https://github.com/FreeRDP/FreeRDP/blob/master/winpr/libwinpr/sspi/Schannel/schannel_openssl.c#L78).

[2015-12-01 08:45] hardening commented on #2994
@ygqzwl I'm running (the client) on Ubuntu so I don't have the rpm list in mind, but you may find what is needed on the FreeRDP wiki. Configuration is done by either giving flags to cmake (-Dflags=value) or (my favorite method) by using ccmake.
Are you sure you have a compiled backend in your FreeRDP, that would explain easily the black screen ;)

[2015-12-01 10:49] ygqzwl commented on #2994
@hardening
 today, I use it to playback xxx1.mp4, it can works, but it is very nonfluency.
when i play another xxx2.mp4, it gives me the black screen.
i feel it so difficult to use Multimedia Redirection...

[2015-12-02 13:49] imp1sh opened #2996 "tls 1.2 only server - protocol security negotiation or connection failure"
Hi,

I'M using version 1.2.5-dev git 13f710b and trying to connect to a RDP Server that supports TLS 1.2 only for security reasons.

Since we disabled TLS 1.0 and 1.1 I cannot connect any more.

This is how I connect:
[code]

Also with /sec:tls it doesn't work.

This is the message I'm getting:
[code]

[2015-12-02 13:51] lemonmojo commented on #2996
@imp1sh See https://github.com/FreeRDP/FreeRDP/issues/2828

[2015-12-02 14:39] imp1sh commented on #2828
How do I use SSLv23_client_method ?

[2015-12-03 10:53] meddi opened #2997 "Unable to load pulse plugin with error 4317"
client is actual git version 2.0.0-dev (git 8ba1b1c) (older versions shows the same error)

FreeRDP was compiled on the small Linux distro Thinstation.

I have tried it with pulseaudio libraries 4.0 and 6.0

command:  xfreerdp /sec-rdp /rfx /sound:sys:pulse /v:_server_

[10:49:21:750] [8696:8697] [INFO][com.freerdp.core.capabilities] - 	bitmapCodecCount: 1
[10:49:21:750] [8696:8697] [INFO][com.fre

[2015-12-03 10:59] savingschampion commented on #2937
Getting same error on Arch Linux using freerdp-git

[2015-12-03 20:17] bjoernv opened #2998 "openh264 compilation error: UNSPECIFIED_BIT_RATE undeclared"
If FreeRPD is compiled against openh264 library (tested with version 1.1) I get the following error:

$ cmake -DWITH_SSE2=ON -DWITH_CUPS=on -DWITH_WAYLAND=off -DWITH_PULSE=on -DWITH_JPEG=ON -DWITH_X264=ON -DWITH_OPENH264=ON -DWITH_PCSC=ON .
[...]
$ make
make
[ 41%] Built target winpr
[ 41%] Built target winpr-hash
[ 42%] Built target winpr-makecert-tool
[ 42%] Built target winpr-makecert
[ 42%] Bu

[2015-12-04 04:51] jjgalvez opened #2999 "smartcard not working when trying to connect to windows 2012 server"
I am on Linux 14.04
using libccid version 1.4.20 and the nightyly build of freerdp (currently 2.0.0+0~20151204024832.193~1.gbpb58807)
I am trying to connect with the following command: /opt/freerdp-nightly/bin/xfreerdp /d:<domain> /u:<user> /size:1920x1130 /smartcard: /v:<url>

when I connect I am given the option to sign with with my smartcard which works, it read the credentials and logs me in,

[2015-12-04 09:42] bmiklautz commented on #2998
@bjoernv openh264 1.1 is rather old. Please retry with a more recent version.

[2015-12-04 19:54] irozhkov commented on #2421
Any updates?

[2015-12-06 19:31] Hobby-Student commented on #2975
damn... not working... I use the mentioned command line options and sometimes it connects to the server, but as soon as I connect an USB-stick, it crashes with "Speicherzugriffsfehler" (segfault?)

so... It is not working with smartcard and "usb hotplug".

[2015-12-06 22:15] admiralakber opened #3000 "RemoteApp not working with MATE"
### Background

OS: Arch Linux
DE: MATE
Kernel: `4.2.5-1-ARCH #1 SMP PREEMPT Tue Oct 27 08:13:28 CET 2015 x86_64 GNU/Linux`
FreeRDP version: `This is FreeRDP version 1.2.0-beta1 (git n/a)`
RDP Host: Windows 7 Ultimate 64 bit in KVM
### Issue

Command: `xfreerdp /u:user /p:pass /app:'explorer.exe' /v:server`

Command works and gives a nice explorer window in desktop environments: GNOME 3, i3, and '

[2015-12-06 22:18] admiralakber commented on #2988
@Utini2000 What desktop environment are you using? I am using the same set up as you, and can repeat this issue if I use MATE - other desktop environments work for me. See: https://github.com/FreeRDP/FreeRDP/issues/3000

[2015-12-06 22:44] Utini2000 commented on #2988
@admiralakber oh please let this be the key to this problem... I am on Arch + GNOME.. Is GNOME causing the troubles? :(

[2015-12-06 23:11] Utini2000 commented on #3000
I have exactly the same issue on Arch + GNOME :/ I also have bumblebee installed if that changes anything.

[2015-12-07 02:05] hyacinthes commented on #2975
I'm still digging it. I'll report back if any new information.

[2015-12-07 08:45] sconstantine commented on #2975
Excited you guys are focused on smartcard debug.... would this be a related/same issue when trying to use the FreeRDP plugin on TSX?  When set to redirect a smartcard the connection establishes but the plugin crashes; doesn't happen with the same profile and smartcard redirection disabled.   Thanks again for the dev focus!

[2015-12-07 09:33] zafarsustbd opened #3001 "undefined reference to `X11_ShadowSubsystemEntry(_RDP_SHADOW_ENTRY_POINTS*)'"
I am trying to run a freerdp shodow server for application sharing with Lync. In order to initiate shadow server I am using-
[code]

and declared `sadow_subsystem_set_entry` as-
[code]
Eclipse command for building my test project-
[code]

But I am getting the following error-
[code]

[2015-12-07 09:56] ygqzwl opened #3002 "xfreerdp--gstreamer---playback is not smooth"
the client
1. xfreerdp -version
This is FreeRDP version 2.0.0-dev (git c63928f)

2.uname -a
Linux localhost.localdomain 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
1. linux system is centos7

4.use Multimedia Redirection
1. use gstreamer_0_10

the server
1.system is windows_7_enterprice on kvm-qemu
2.use windows media player, playbak xxx.mp4

when i run

[2015-12-07 15:15] Hobby-Student commented on #2975
Tested some more, but not getting useful output. Also had to switch back to an older build, because the smartcard plugin is crashing after pulling the smartcard out. Pushing it back in ends in no smartcard found... Will open another issue with more details. (No smartcard is a showstopper in this environment)

Unfortunately I have no more time to look closer at "smartcard" and "USB hotplug". Perhap

[2015-12-07 16:06] HenryJacques opened #3003 "Error message for an expired password with NLA"
Hello,

When connecting to a Windows host using NLA and if the password has expired, the error is the same as if the password was wrong.
That seems "reasonable" because the authentication happens at the network level even before the session starts.

However, wouldn't it be possible to get a more specific message if the password has expired? Is the error code received from the Windows host at least

[2015-12-07 16:29] daklaus commented on #931
+1 for me too! I would like to be able to switch to another desktop (on most distros with Ctrl+Alt+Up|Down|Right|Left) without having to exit fullscreen mode in my FreeRDP session.

[2015-12-07 21:20] bjoernv commented on #2998
FreeRDP compiles with openh264 1.5.0. Because of missing documentation I currently can not test, if H264 functions work with openh264 1.5.0.

[2015-12-08 08:22] hardening commented on #3003
Looks like https://github.com/FreeRDP/FreeRDP/pull/2824 is related, as we possibly get a different SSL error code in this case.

[2015-12-08 09:45] cleric333 opened #3004 "USB redirection error processing arguments"
system shows

com.freerdp.channels.urbdrc.client error processing arguments

somebody experienced the same issue? Some ideas?

[2015-12-08 09:45] HenryJacques commented on #3003
I'm using compiled version of xfreerdp and the patch in #2824 but when connecting to a Windows 7 or 2012-R2 with an account that has an expired password I got the following error:
ERRCONNECT_CONNECT_TRANSPORT_FAILED [0x2000D]

[2015-12-08 09:46] HenryJacques commented on #3004
What was the command line you've used?

[2015-12-08 09:48] cleric333 commented on #3004
nothing special just add /usb:auto

[2015-12-08 09:50] cleric333 commented on #3004
the USB device was mounted automatically, and I am able to control all data in the folder

[2015-12-08 09:51] cleric333 commented on #3004
![20151208175039](https://cloud.githubusercontent.com/assets/13984061/11652712/3bdda7b8-9dd4-11e5-9223-505acf87c72b.jpg)

[2015-12-08 10:00] HenryJacques commented on #3004
I am not sure that /usb:auto is authorized (in fact I'm 99% sure it's not).
If it is a USB drive you're trying to redirect, use the /drive parameter and not /usb which is reserved for all USB "raw" devices like scanners, webcams, etc.

Try using /drive:*,hotplug
See issue #1648

[2015-12-08 11:02] Hobby-Student opened #3005 "smartcard stopped working"
Hey guys,

don't know when smartcard stopped working, but this is the current output:
![wp_20151206_004](https://cloud.githubusercontent.com/assets/6012744/11653921/f7aa1f7c-9da1-11e5-9f8c-c94794c55dc3.jpg)

when Smartcard is not plugged in before connecting

[code]

is repeated until smartcard is plugged in

This is the last version working (for me):
![wp_20151206_005](https://cloud.githubusercon

[2015-12-08 12:31] xgimp commented on #2944
Thank you @dd-jacks. Now It works

[2015-12-08 13:46] hardening commented on #3003
@HenryJacques could modify the patch to print the error in libfreerdp/core/transport.c (ssl callback), so that we possibly have more values for the ret arg ?

[2015-12-08 15:07] HenryJacques commented on #3003
@hardening I'd love to but I'm really not sure where to put this... :(

[2015-12-08 22:13] giox069 commented on #2434
@lemonmojo: I'm closing this issue thanks to PR #2824 merged. For Remote Desktop Gateway, test it and reopen a new one if the problem is still here.

[2015-12-08 22:13] #2434 closed

[2015-12-08 22:14] giox069 commented on #2760
@itsmikeeng: I think it's fixed with merged PR #2824.

[2015-12-09 04:24] pvgoran commented on #2712
@guitar1 Did you resolve your issue? I have a few suggestions that may help investigating it.

[2015-12-09 05:01] pvgoran commented on #998
Setting registry value didn't help me in a similar situation. What helped was setting the corresponding group policy (Computer Configuration/Administrative Templates/Windows Components/Remote Desktop Services/Remote Desktop Session Host/Connections/Allow remote start of unlisted programs) to "Enabled".

[2015-12-09 05:25] zafarsustbd commented on #3001
Solved that problem by using
[code]
around the method call

[2015-12-09 05:25] #3001 closed

[2015-12-09 06:35] HenryJacques commented on #3003
@hardening All right, I think i get it. In ```transport_ssl_cb``` you want me to print the ```transport->LastError``` value?

[2015-12-09 09:36] hardening commented on #3003
@HenryJacques nope, in _transport_ssl_cb_ I'd like to see the _where_ and _ret_ values.

[2015-12-09 09:54] lemonmojo opened #3006 "Detect Remote Desktop Gateway authentication failure"
PR https://github.com/FreeRDP/FreeRDP/pull/2824 helped a lot with detecting authentication errors.
However, the very same error code (ERRCONNECT_AUTHENTICATION_FAILED) is also returned when connecting with invalid credentials to an RDG.
So basically it's currently impossible to distinguish between gateway and destination machine authentication errors.

[2015-12-09 09:56] scaronni commented on #2839
Hello, any news on this? I'm the package maintainer in Fedora and we're planning a rebase in Fedora to fix a lot of issues. Thanks!

[2015-12-09 11:42] meddi commented on #2997
It depends somehow on alsa-lib, alsa-utils and alsa-plugins. After updating to actual version xfreerdp /sound:sys:pulse works again.

[2015-12-09 11:42] #2997 closed

[2015-12-09 11:43] szolnoki opened #3007 "Printer channel driver name "hardwired""
I tested "This is FreeRDP version 2.0.0-dev (git n/a)" version.

I started freerdp with option:
/a:printer,HP4650_PCL,"HP Universal Printing PCL 6"

But HP_4650_PCL always use "Microsoft Publisher Imagesetter" driver on remote Windows.
("HP Universal Printing PCL 6" installed on remote Windows.)

My hotfix:
I changed "printer_cups.c"...
From:
cups_printer->printer.driver = "MS Publisher Imagesette

[2015-12-09 12:30] bmiklautz commented on #3007
@szolnoki did you try with the /printer command line already?
[code]
I'm not sure that that the "addin syntax" (using /a) parses additional parameters if an extra parameter (like /printer) exists.

[2015-12-09 12:31] bmiklautz commented on #2998
@bjoernv did I understand this correctly and 1.5.8 **does** work?

[2015-12-09 12:35] bmiklautz commented on #2839
@scaronni we are working hard on stabilizing the API towards a 2.0 release but we can't give any time estimations yet. For packaging I'd suggest using the current master. The API and the functionality is rather stable already.

[2015-12-09 14:08] bjoernv commented on #2998
Is openh264 already out? No, FreeRDP found my openh264 1.1 version, "configure" accepted it, but compilation failed. With openh264 I was able to compile. So the minimum requirement of openh264 in FreeRPD should be somewhere between 1.1 and 1.5.

[2015-12-09 15:30] imp1sh commented on #2828
Could someone please help. I am indeed not able to connect to a server that supports TLS 1.2 only.

[2015-12-09 15:48] lemonmojo commented on #2828
@imp1sh What worked for me is replacing `TLSv1_client_method` in [tls.c](https://github.com/FreeRDP/FreeRDP/blob/master/libfreerdp/crypto/tls.c#L801) with `SSLv23_client_method` just like @sthen suggested.

[2015-12-09 17:07] bmiklautz commented on #2998
@bjoernv sorry I meant 1.5.0. As it seems this is the last official release https://github.com/cisco/openh264/releases (though there is also a tag for 1.5.2).

FreeRDP currently doesn't do any version checks for openh264 at the moment. Speak if the header file is found it is tried to compile/link against.  If I'm not mistaken openh264 version 1.3+ is required.

[2015-12-09 22:28] guitar1 commented on #2712
@pvgoran no, till now my workarround is a downgrade to Server 2008 R2

[2015-12-09 23:00] hardening commented on #2712
@guitar1 we have done some changes around rails in last master, would you give a try ? I'm quite sure it will not change the observed behaviour, but just in case...

[2015-12-10 01:27] pvgoran commented on #2712
1. How exactly do you connect via the Windows RDP client? Can't it be that it's set up to run the registered remote application via its alias instead of the file name?

2. Could you try with the git version using the new syntax and the full application file name? Like this:
`xfreerdp /cert-ignore /u:Administrator /p:Admin111 /app:'%HOMEDRIVE%\Program Files\Windows NT\Accessories\wordpad.exe' /v:wi

[2015-12-10 07:35] szolnoki commented on #3007
I have tested. But not working. Absolutely same effect as "/a:printer". :(
Driver name only changed, when I modify the source code...
I think not possible to change driver name any other way. Because I searched "printer.driver" string in all source codes. "printer.driver" variable is set only one place, see the "hardwired" line above.

[2015-12-10 10:53] sirio81 opened #3008 "Release new version"
Hi All, could you explain why there are no releases since 10 July 2013?
The project has been very active judging from the commits (from 4838 of the last release till 9317 of today).

Because of that, distribution like Debian are still packing v1.1 that is more than 2 years old.

Thank you.

[2015-12-10 13:14] hardening commented on #3008
The issue tracker is obviously the wrong place to ask such question, and for your information we have a 2.0 version that is quietly maturing => https://github.com/FreeRDP/FreeRDP/milestones/2.0

[2015-12-10 13:14] #3008 closed

[2015-12-10 15:18] Mandar-Shinde commented on #2990
@ygqzwl you can try with below command

 ./xfreerdp -u usename -p password --plugin drdynvc --data tsmf:decoder:gstreamer -- IP

[2015-12-10 15:31] Mandar-Shinde commented on #3002
@ygqzwl please check solution on
https://github.com/FreeRDP/FreeRDP/issues/2990

[2015-12-10 15:41] meddi opened #3009 "USB redirection issue / reconnect fails"
I use fFreeRDP version 2.0.0-dev (git 57fe581).

if the usbdevie is already connected to client, usb redirection works fine.

i.e.:

xfreerdp  /usb:dbg,dev:2a03:0043 /v:server_ip

[15:09:56:206] [5243:5244] [INFO][com.freerdp.channels.drdynvc.client] - Loading Dynamic Virtual Channel urbdrc
[15:09:56:207] [5243:5244] [ERROR][com.freerdp.channels.urbdrc.client] - error processing arguments
[15:09:5

[2015-12-10 15:49] Mandar-Shinde commented on #2994
@ygqzwl playing media on regular hardware wont get you any boost. If you play normal video of 144p or 320p your video may work fine, but as you go to higher range HD or 4K it will just give up.

also check
https://github.com/FreeRDP/FreeRDP/issues/2990

[2015-12-10 16:07] HenryJacques commented on #3009
Well that's something that even mstsc doesn't support:

"The USB devices that you would like to use in the remote session must be plugged in before starting Remote Desktop Connection; devices plugged in during the session will not be redirected."

So you can't ask for FreeRDP to support it? (but only the dev can answer that).

see here: http://blogs.msdn.com/b/rds/archive/2010/11/08/introducing-mi

[2015-12-10 16:08] ArturZaprzala commented on #935
rdesktop client doesn't have Network Level Authentication, so I was forced to add [rdp2tcp](http://rdp2tcp.sourceforge.net/) support to FreeRDP.

Here is rdp2tcp channel plugin for FreeRDP and a patch for rdp2tcp-0.1 fixing some important bugs:
[freerdp.patch.txt](https://github.com/FreeRDP/FreeRDP/files/58270/freerdp.patch.txt)
[rdp2tcp.patch.txt](https://github.com/FreeRDP/FreeRDP/files/58269/rd

[2015-12-10 16:09] Mandar-Shinde commented on #2995
@ygqzwl Please check https://github.com/FreeRDP/FreeRDP/issues/2990

[2015-12-10 17:23] puneet101 commented on #2950
Who owns the Mac client?

[2015-12-10 18:54] meddi commented on #3009
Hello HenryJaqcque,

I guess that article does not reflect the actual features of USB redirection.

I can connect a windows server 2012R2 with mstsc and a local Arduino board. Attached image
![mstsc](https://cloud.githubusercontent.com/assets/16133001/11724688/b7cb838e-9f75-11e5-9ffa-97bbe5010bbc.png shows how to connect USB devices in a running rdp session.

As I want to remove and reconnect the

[2015-12-10 20:32] hardening commented on #935
@ArturZaprzala your patches look interesting, anyway doing a pull request would be a better way to hope to have them upstream. Some remarks about the patch:

* it gives the copyright to Marc-André Moreau, not sure that's expected;
* you don't check for ret < 0 et errno == EINTR when read()ing

[2015-12-10 22:00] ArturZaprzala commented on #935
I am aware that this patches might not be ready for upstream and making them ready requires some more time, which I don't currently have. I just wanted to share my work early with the community. Surely many people want this feature.

If someone is interested and have the time, please help to improve, clean up and merge the patches upstream.

[2015-12-11 11:08] #2995 closed

[2015-12-11 14:39] derekjc commented on #2937
I'm facing the same issue. I changed the rdp file so that

    redirectprinters:i:1

becomes

    redirectprinters:i:0

and it works as expected. Perhaps that will help.

[2015-12-11 14:58] imp1sh commented on #2828
Couldn't the project just serve a solution instead of relying on the users to mud in the code?

[2015-12-11 15:02] hardening commented on #2828
What is a developper: a user that mud in the code... It's up to everyone to become one, instead of relying on others to do the job.

[2015-12-11 15:20] imp1sh commented on #2828
I was more thinking of a better quality approach. In my mind a developer is someone who is already capable of developing, not the apprentice type of guy.
In my opinion it is totally fine to rely on others. That's what the community and open source is all about. When everybody is working in its field of expertise, we get best results.

[2015-12-11 15:21] bmiklautz commented on #2828
@imp1sh if you "just" can provide a solution that satisfies everyone we'll gladly accept it ;). Joke beside. Just wildly changing the client method without in depth testing might break connections to other and/or old servers. The main problem is that most currently servers use TLS < 1.2 changing the client method to SSLv23_client_method should basically work but isn't tested in depth (yet). And si

[2015-12-11 15:23] bmiklautz commented on #2937
@derekjc "libprinter-client.so" is buld if you have CUPS enabled read -DWITH_CUPS=ON.

Could you verify if this issue still exists with the current master branch or in the nightly packages (https://ci.freerdp.com/job/freerdp-nightly-binaries/ for Ubuntu and Debian).

[2015-12-11 15:26] zonywhoop commented on #2828
Just for reference, I'm using RoyalTSX with the SSLv23_client_method enabled and connecting to servers using 2008 through 2012R2 and clients using Windows 7 - 10 with no problems.  This is both in environments where we enforce TLS 1.2 (and disable all others) and where no changes have been made to Windows.

Just my bitcoin :)

--
Ed McLain
ed@edmclain.com

[2015-12-11 15:43] derekjc commented on #2937
@bmiklautz Just tested the latest nightly for wily. Seems to work great! Let me test on another box running jessie in a bit

[2015-12-11 16:04] lemonmojo commented on #2828
I've released a beta version of Royal TSX and the FreeRDP plugin that includes the previously mentioned [change](https://github.com/FreeRDP/FreeRDP/issues/2828#issuecomment-152764715) by @sthen on the 13th of November. So it's in the hands of brave beta users now since almost a month and I haven't had a single complain.

I've also positively tested this against several very old machines including

[2015-12-11 16:18] bmiklautz commented on #2828
@lemonmojo thanks for your feedback.

[2015-12-11 17:45] derekjc commented on #2937
@bmiklautz Tested in Jessie, works great!

Just to be sure, @thefonzz2625 can you also verify?

[2015-12-14 10:48] timomenger opened #3010 "RemoteApp connection termination"
Hello,

we're using RemoteApp to connect to some Apps via VPN. Connection is established from Igel Thin Clients with an implemented Igel RDP Client (based on Free RDP Client 1.1).

Unfortunately there are severall disconnects during a working day and we don't have any starting points to resolve this issue. This is what we've done so far:

- Checked logs on our connection broker
--> RDS Event 97 an

[2015-12-14 16:37] akallabeth commented on #3009
@meddi The USB redirection is in dire need of a rewrite (it is currently linux only, slow and incredibly buggy)
Sadly I currently have not enough time to finish it, but it is on my TODO list.

As for your use case, if you play with the argument syntax it should (in theory) be already supported (something like ```/usb:auto,dev:<vid>:<pid>```) but no guarantee that that actually works.
Supported arg

[2015-12-15 02:26] colemickens commented on #2876
This now affects every single one of my Windows 10 machines. FreeRDP continues to not connnect unless I:

1. Manually login to the device, then xfreerdp works.

2. Login via `rdesktop`, then reconnect with xfreerdp.

[2015-12-15 07:48] szolnoki opened #3011 "Toggle full-screen restore on different monitor"
Hi,

I tested, the  "+toggle-fullscreen" option. It's  minimize the remote desktop when I pressing CTRL+ALT+ENTER. That's OK.

But when I restore this window, It's restored on the different desktop. I use two monitor with different geometry/resolution. I started the freerdp on the 2nd (bigger) monitor. When I try to restore from minimized, it's restore always on the 1st (smaller) monitor. After th

[2015-12-15 11:25] bsagal commented on #2302
fixed in commit 23fea16

[2015-12-15 13:59] xgimp opened #3012 "COM redirecting cause wrong end of line"
I have barcode reader "Virtuos HT-900" It emulate COM port. I setting up end of line to "CR"

It works well in Debian, but if i redirect the device via FreeRDP, I give "LF" instead "CR"

Even if I set "CLRF", i give "LFLF"

So I think it is FreeRDP's problem. I use version 1.1.0-beta1 (git 1.1.0-beta+2013071101-162-g770c67).

script, that I use:

/u:user /d:domain /p:password /kbd:0x405 /serial:CO

[2015-12-15 14:07] bmiklautz commented on #3012
@xgimp can you test if this problem still exists on the latest master. For Ubuntu,Debian and Fedora you can use our nightly packages (https://ci.freerdp.com/job/freerdp-nightly-binaries/).

[2015-12-15 15:36] xgimp commented on #3012
i tried night-build (version 2.0.0-dev (git n/a) ). With it I am not able to open redirected COM
FreeRDP returns:
[15:29:23:312] [6761:6767] [WARN][com.winpr.comm] - Requested an incompatible input buffer size: 65520, keeping on with a 4096 bytes buffer.

same error in latest master version.

[2015-12-15 17:28] eledoux commented on #3012
@xgimp please make a try with: /serial:COM4,/dev/ttyACM0,Serial,permissive

"Serial" doesn't means much but the "permissive" mode will ignore a few errors. Sometimes ignoring such errors or limitations is enough to make working a device.

[2015-12-15 21:04] sebastianuw opened #3013 "Multimedia decoding is crashing FreeRDP when gfx is used"
Hi,

For the last few months I've been experiencing a problem where FreeRDP crashes when I use both multimedia redirection and gfx.

When I run this command

xfreerdp /cert-ignore /v:windows2012r2server /multimedia:decoder:gstreamer /u:user

I can play the Big Buck Bunny videos just fine.

However, if I add gfx into the mix FreeRDP crashes whenever I try playing the videos
xfreerdp /cert-ignore /v

[2015-12-16 09:31] xgimp commented on #3012
It works with nigtly, here is FreeRDP output:

[code]

[2015-12-16 13:45] bmiklautz commented on #3012
@xgimp if the latest nightly work can the issue be closed?

[2015-12-16 13:45] bmiklautz commented on #3011
@szolnoki there were recent changes on this. What version of FreeRDP did you test with?

[2015-12-16 15:36] xgimp commented on #3012
Yes, thank you both for help.

[2015-12-16 15:36] #3012 closed

[2015-12-16 17:07] szolnoki commented on #3011
I tested "This is FreeRDP version 2.0.0-dev (git n/a)" version.

[2015-12-16 17:40] bmiklautz commented on #3011
@szolnoki what window manager are you working with?

[2015-12-16 18:03] #2814 closed

[2015-12-16 18:07] szolnoki commented on #3011
LXDM maybe, I will check tomorow.
OS: Ubuntu 12.04 LTS

[2015-12-17 08:09] sconstantine commented on #2184
Nailed it; purchased the Omni 3021 and it works with Felix's custom LMFreeRDPClient via OS X 10.11.2.  Still broken within Royal TSX and FreeRDP v2.2.1.1 tho

[2015-12-17 08:10] sconstantine commented on #626
Update:  Purchased the Omni 3021 and Smartcard redirection works with a custom build of developer Felix's LMFreeRDPClient on OS X 10.11.2.  It is, however, still broken for me within Royal TSX and FreeRDP v2.2.1.1

[2015-12-17 13:58] lemonmojo commented on #626
@sconstantine In the regular Royal TSX release I'm still using an old version of FreeRDP that doesn't include the recent changes to the smart card stuff because of other issues.
I will however try to integrate a current FreeRDP release into the first Royal TSX V3 beta.

[2015-12-17 22:21] palmoff opened #3017 "Full screen session on iOS, without scaling"
Hi,

How to display RDP session on the full screen of iOS device without scaling/panning ?
Even when I set exact numbers of my iPod's dimensions 1136x640 px, remote screen is panning.
I need to see it 1x1

[2015-12-18 02:55] allenwen1 opened #3018 "Configuring incomplete, errors occurred!----IOS complie"
os：10.11.1
xcode：7.1-beta
cmake：2.8.11
openssl：1.0.2a

-- Toolchain using default iOS SDK: /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS9.1.sdk
-- Could NOT find PkgConfig (missing:  PKG_CONFIG_EXECUTABLE)
-- FreeRDP GIT
-- Git Revision n/a
-- Looking for pthread_mutex_timedlock in pthread
-- Looking for pthread_mutex_timedlock in pthread - not foun

[2015-12-20 16:06] cleric333 opened #3019 "is that possible to login to the local session"
I need to add USB devices remotely to the computer I am using,

is that possible to use freeRDP to login (or somehow work with)the local session and plugin the USB devices remotely and I can use them from my computer, the reason I am not using the USB redirection devices is that all I can find which needs a host to get the usb from the guest, it seems the freeRDP way of doing this is better (over

[2015-12-20 16:12] cleric333 commented on #3019
there are many products for using local USB for remote sessions over RDP, but I can't find anything does using the remote USB from local session, and if I use freeRDP to connect my local machine, windows will create a remote session for it, not share it with the local session.

[2015-12-20 16:43] cleric333 commented on #3019
I found this command line /admin Admin (or console) session

does this do what I need? Haven't got a linux machine on hand >: 0

[2015-12-21 10:54] szolnoki commented on #3007
I continue to investigate this problem, and I found this.
Compiled with cmake options:
-DWITH_CUPS=ON -DCHANNEL_PRINTER=ON

Version: 2.0.0-dev (git df81e84)

Started the xfreerdp with option again and again:
/printer:HP4650_PCL,"HP Universal Printing PCL 6"

In remote Windows Devices&Printer settings, I see:
1. The HP4650_PCL appear with driver "HP Universal Printing PCL 6"
2. Some seconds later H

[2015-12-21 11:50] szolnoki commented on #3007
I dig a little deeper:
I start freeRDP only with this "device":
/printer:HP4650_PCL,xxxx

But in rdpr_process_connect, settings->DeviceCount is 2 !
DeviceArray[0]: Id=0, Type=4, Name="HP4650_PCL"
DeviceArray[1]: Id=0, Type=4, Name=NULL

The DeviceArray[1] is fire the 2nd printer_DeviceServiceEntry, wich calls the EnumPrinters later, and re-install all printers with defult "MS Imagsettler" driver.

[2015-12-21 17:20] cleric333 opened #3021 "is there a way to blank FreeRDP"
I need to create a remote session WITHOUT showing anything on the screen, only add a remote user to the remote machine, is that possible to use a easy way, humm something like  /noshow or /NoX11 to do it? or probably to delete some files?

[2015-12-21 23:09] kphillisjr opened #3022 "Support Security framework on OSX"
I know that OpenSSL is a current dependency to support secure channels. Anyways, I believe it would be a better idea to improve the security of the software on OSX by requiring the Open Sourced Security framework on Mac OSX. Anyways, as it stands right now there is no way to easily configure *and* build freeRDP using XCode on OSX 10.11 because the configuration will error out looking for ssl inste

[2015-12-22 10:50] ramses-15 opened #3023 "Problem with mouse pointer"
Hi all,

i have a problem with my mouse pointer (s. attached screenshot).

Each time, if i make RDP connection to WinXP, 2008, 2012 etc. - Server , it show me in background (around of mouse pointer; ca. 1x1 cm) the content from windows, which is BELOW the FreeRDP-Window!

My OS: openSUSE Leap 42.1, x64 (SuSE 13.3 - same Problem)
FreeRDP:  2.0.0-dev (with 1.0.2 is the same Problem)

Did you have an

[2015-12-22 10:54] bmiklautz commented on #3023
@ramses-15 you build xfreerdp yourself? - If so did you compile in xcursor (libXcursor-devel on openSUSE)

[2015-12-22 10:54] bmiklautz commented on #3021
@cleric333 for questions please use our irc channel or the mailing list. We'd like to only keep real issues here.

[2015-12-22 10:57] #3021 closed

[2015-12-22 11:17] bmiklautz commented on #3022
@kphillisjr currently OpenSSL is a **hard** requirement for FreeRDP. It's a pity that Apple remove the headers but you can still build and run FreeRDP. Now you just need to build openssl, for the platforms you intend to run FreeRDP on, beforehand.
We hadn't time yet to provide a script for preparing openssl for a FreeRDP build but if you intend to run FreeRDP locally only you could install openssl