[2015-12-22 12:03] ramses-15 commented on #3023
Yes, libXcursor-devel was present on my system:
libXcursor-devel-1.1.14-6.1.x86_64

[2015-12-22 12:54] ramses-15 commented on #3023
Here is short output of "grep -Ri libXcursor *":
...
CMakeCache.txt:XCURSOR_LIBRARY:FILEPATH=/usr/lib64/libXcursor.so
CMakeCache.txt:xfreerdp-client_LIB_DEPENDS:STATIC=general;/usr/lib64/libX11.so;general;dl;general;/usr/lib64/libXinerama.so;general;/usr/lib64/libXext.so;general;/usr/lib64/libXcursor.so;general;/usr/lib64/libXv.so;general;/usr/lib64/libXi.so;general;/usr/lib64/libXrender.so;genera

[2015-12-22 13:34] bmiklautz commented on #3023
@ramses-15 can you add the full command line you are using?

[2015-12-22 14:03] ramses-15 commented on #3023
Yes, sure:
/usr/local/bin/xfreerdp /f /u:user /d:domain /monitors:1 /v:192.168.x.y

In additional here is my output of "ldd  /usr/local/bin/xfreerdp":

        libxfreerdp-client.so.2.0 => /usr/local/bin/../lib64/libxfreerdp-client.so.2.0 (0x00007f506d214000)
        libXinerama.so.1 => /usr/lib64/libXinerama.so.1 (0x00007f506cfec000)
        libXext.so.6 => /usr/lib64/libXext.so.6 (0x00007f506cdd

[2015-12-22 14:14] bmiklautz commented on #3023
@ramses-15 if you got suse 13.3 could you try if this problem also happens with our nightly packages: https://ci.freerdp.com/job/freerdp-nightly-rpm-build/ - They are not exactly master but quite close (just updating the build system to support 42.1 as well..)

[2015-12-22 23:48] kphillisjr commented on #3022
On a side note, there seems to be a github gist about building [openssl using cmake](https://gist.github.com/jcfr/6030240).

[2015-12-23 06:53] mkrusen opened #3024 "No stdout with wfreerdp.exe windows"
When connecting using wfreerdp.exe there is no output to stdout, no matter if the connection is successful or not your prompt will return without giving you any output.

I am using wfreerdp.exe from
https://ci.freerdp.com/job/freerdp-nightly-windows/arch=win64,label=windows/lastSuccessfulBuild/artifact/build/wfreerdp.exe

[2015-12-23 07:30] ramses-15 commented on #3023
Sorry - a small mistake in the description: i use OpenSUSE 13.2 and here always work fine. So, i does not have any problem with FreeRDP on suse 13.2 at the moment.

Unfortunately repository for 42.1 is missing under https://ci.freerdp.com/job/freerdp-nightly-rpm-build/ at the moment.

So, i got the last freerdp-nightly - package for 13. 2 now (freerdp-nightly-1.2.1-0%2b0~20151112033818.139~1.gitbe

[2015-12-23 08:50] cloudecker opened #3025 "Problem with FFmpeg on IOS"
FFmpeg verison 2.8.4
Xcode 7.2
os X 10.10.5

I try to open ffmepg on freerdp and cmake has been completed.
When compile xcode ifreerdp errors as follows:

 "_swr_close", referenced from:
_opus_decode_packet in libavcodec.a(opusdec.o)
_opus_decode_flush in libavcodec.a(opusdec.o)
 "_swr_alloc", referenced from:
 _opus_decode_init in libavcodec.a(opusdec.o)
 "_iconv_open", referenced from:
 _avcodec

[2015-12-23 09:11] cloudecker commented on #3025
I just want to realize freerdp sound redirection, when cmake, i don't know which feature to enable, a lot of features note that on the redirection of sound and video . I try to enable ffmepg first, but the above problems. So..

[2015-12-23 09:48] akallabeth commented on #3024
@mkrusen Windows detaches started GUI applications from the terminal. https://stackoverflow.com/questions/54536/win32-gui-app-that-writes-usage-text-to-stdout-when-invoked-as-app-exe-help has quite a good explanation. If you require the logging output, configure WLog to write to a file or modify the windows startup code to create the process without ```DETACHED_PROCESS``` flag.

[2015-12-23 10:10] Hobby-Student commented on #3005
will try to have a look in the source the next days.. but I don't even know where to start... :(

@awakecoding are you around?

[2015-12-23 14:15] Vladimir-csp commented on #2219
+1. Numlock state should be somehow double-checked on connect and enforced.

[2015-12-23 18:09] hardening commented on #2219
@mfernau @Vladimir-csp any chance that you try with latest master (using the pre builds or compiling yourself) ?

[2015-12-24 12:44] Vladimir-csp commented on #2219
I will try to rebuild debian package with current master sources.

[2015-12-24 13:12] Vladimir-csp commented on #2219
It seems that debian freerdp package build rules are outdated, lots of failed tests.
I will try to build freerdp without a package later.

[2015-12-25 13:32] bmiklautz commented on #2219
@Vladimir-csp you can give our nightly packages a try https://ci.freerdp.com/job/freerdp-nightly-binaries/

[2015-12-25 15:54] Vladimir-csp commented on #2219
No packages for Stretch or Sid there. BTW, site's cert has expired yesterday.
Anyway with latest master, numlock sync seems to work properly, including when reconnecting to existing session. #2104 also seems to be fixed.

[2015-12-27 11:53] bmiklautz commented on #3023
@ramses-15 the same version you are using on 13.2 works but on 14.2 not?

[2015-12-28 08:28] ramses-15 commented on #3023
Yes, correct: on 13.2 always work fine, but on 42.1 not.

[2015-12-28 11:44] bmiklautz commented on #3023
@ramses-15 just to be completely sure - same FreeRDP Version/Package? - In that case I'd guess that some of the newer libraries/dependencies in 42.1 cause the troubles.

Regarding a 42.1 package - I already started on this but hadn't time to finish it yet. So it's work in progress.

[2015-12-28 11:46] bmiklautz commented on #3005
@Hobby-Student maybe you can find out what is causing the problems by doing a git bisect.

[2015-12-28 11:49] bmiklautz commented on #3025
@cloudecker for sound redirection you don't need ffmepg try to disable it during configuration time (run cmake with the additional parameter -DWITH_FFMPEG=OFF).

[2015-12-28 13:23] bmiklautz commented on #2104
Should be fixed on master. Closing.

[2015-12-28 13:23] #2104 closed

[2015-12-28 13:29] bmiklautz commented on #2219
@Vladimir-csp thanks for the feedback. You might have hit the server shortly before we updated the certificate ;). I don't think we will create packages for sid but stretch is definitely on my todo list.

@mfernau if you still hit by this problem could you also verify that it is fixed for you with the latest master builds (or nightly packages https://ci.freerdp.com/job/freerdp-nightly-binaries/?)

[2015-12-28 20:04] marblenix commented on #1540
`/sound:sys:pulse` worked for me

`FreeRDP version 2.0.0-dev (git 3375865)`

[2015-12-28 22:00] Hobby-Student commented on #3005
@bmiklautz will try this as soon as possible...

[2015-12-29 01:24] cloudecker commented on #3018
You need to specify the pkg- config path.(run cmake with the additional parameter  -DPKG_CONFIG_EXECUTABLE="your pkg-config path").

[2015-12-29 01:26] cloudecker commented on #3025
@bmiklautz  thanks,i will try it again .

[2015-12-29 07:10] ramses-15 commented on #3023
Yes, i confirm - on OpenSuSE 13.2 always working ok. Here more details to my 13.2 environment:
# /opt/freerdp-nightly/bin/xfreerdp --version
This is FreeRDP version 2.0.0-dev (git n/a)

 # rpm -qa | grep free
freerdp-nightly-1.2.1-0+0~20151112033818.139~1.gitbe8f8f7.x86_64

# cat /etc/os-release
NAME=openSUSE
VERSION="13.2 (Harlequin)"
VERSION_ID="13.2"
PRETTY_NAME="openSUSE 13.2 (Harlequin) (x86_

[2015-12-29 11:28] #3025 closed

[2015-12-29 17:37] jmdevince commented on #2550
This is still a problem when compiling from source on El Capitan.

Building using:
make -D "CMAKE_OSX_ARCHITECTURES:STRING=x86_64" -DOPENSSL_INCLUDE_DIR=/usr/local/Cellar/openssl/1.0.2e/include/ -DOPENSSL_LIBRARIES=/usr/local/Cellar/openssl/1.0.2e/lib/ . && make

Specified SSL since cmake was unable to find / utilize the system's built in SSL.

Undefined symbols for architecture x86_64:
  "_ERR_re

[2015-12-29 17:53] bmiklautz opened #3027 "El Capitan build problem"
This is still a problem when compiling from source on El Capitan.

Building using:
make -D "CMAKE_OSX_ARCHITECTURES:STRING=x86_64" -DOPENSSL_INCLUDE_DIR=/usr/local/Cellar/openssl/1.0.2e/include/ -DOPENSSL_LIBRARIES=/usr/local/Cellar/openssl/1.0.2e/lib/ . && make

Specified SSL since cmake was unable to find / utilize the system's built in SSL.

Undefined symbols for architecture x86_64:
"_ERR_remo

[2015-12-29 17:53] bmiklautz commented on #2550
@jmdevince your issue is unrelated to this issue. Please look more carefully when commenting and reporting bugs. I've created a new issue (#3027) with your problem.

[2015-12-29 18:39] jmdevince commented on #3027
Despite me specifying paths to OPENSSL it appears to try and link against the system SSL library
[code]

From CMakeCache.txt
[code]

[2015-12-29 18:41] jmdevince commented on #3027
Modifying to:
[code]
Allowed for proper compilation.

[2015-12-29 19:22] jmdevince opened #3028 "i2d_PublicKey failing with OpenSSL 1.0.2e"
Running Hyper-V Server 2012 R2. Does not appear to be able to complete the TLS handshake.

[code]

[2015-12-29 19:24] jmdevince commented on #3028
Build cannot connect to any server using TLS.

[2015-12-29 19:24] lemonmojo commented on #3028
See https://github.com/FreeRDP/FreeRDP/issues/2421

[2015-12-29 19:28] jmdevince commented on #2421
I've tested the latest build trying to connect to and it will not connect to any of the following:

Windows Hyper-V Server 2012 (Normal RDP using 3389, and /vmconnect using 2179)
Windows Server 2012 R2 (Normal RDP using 3389)

[2015-12-29 19:29] jmdevince commented on #3028
Thanks. It seems to affect more than just Hyper-V Server. I've commented in the other issue.

[2015-12-29 20:26] jmdevince commented on #3028
This appears to be unreleated to #2421.

Using openssl 1.0.2e on MacOSX results in i2d_PublicKey returning 0 during negotiation.

OpenSSL 1.0.2e 3 Dec 2015
built on: reproducible build, date unspecified
platform: darwin64-x86_64-cc
options:  bn(64,64) rc4(ptr,int) des(idx,cisc,16,int) idea(int) blowfish(idx)
compiler: clang -I. -I.. -I../include  -fPIC -fno-common -DOPENSSL_PIC -DZLIB_SHARED -DZLI

[2015-12-29 20:32] jmdevince commented on #3028
Compiling against OpenSSL 0.9.8 seems to fix this. So there is a behavior change in OpenSSL 1.0.x that seems to break FreeRDP. I've tested with 1.0.1 and 1.0.2

[2015-12-29 20:35] jmdevince commented on #3027
Don't use version 1.0.2e.

```brew install openssl098```

then compile with:

[code]

[2015-12-29 20:50] jmdevince commented on #2421
I've tracked the commit that broke this functionality down to 9c7b7ab56165cf72ff002ab2e0dccfcedb96e3ce.

[2015-12-30 00:00] bmiklautz commented on #3027
@jmdevince the problem you are hitting is that, although El Capitan doesn't come with openssl headers, they still ship a pkg-config file (/usr/lib/pkgconfig/libssl.pc with version 0.9.8zg). The detection script finds this  pkg-config file but uses lib you supply but the Version from the pkg-config file -> linking error. That is also why installing openssl098 helps and fixes your problem.
To proper

[2015-12-30 00:00] #3027 closed

[2015-12-30 00:04] bmiklautz commented on #3028
@jmdevince related to issue #3027 are you sure your build is correct? Proper headers and libraries linked to?

[2015-12-30 00:19] bmiklautz commented on #3027
@jmdevince btw
 If you already use brew you could also do a
[code]
to get the latest xfreerdp.

[2015-12-30 04:43] jmdevince commented on #3028
Yes, I'm sure. When compiling against a 1.0.x version of OpenSSL otool shows linked against the 1.0.x libcrypto library. 0.9.8 headers using a 1.0.x library and vice-versa would result in build errors. (Like the one shown in #3027).

I'm sure someone else with a Mac platform could try and reproduce this.

[2015-12-30 04:45] jmdevince commented on #3027
I would suggest updating the documentation to reflect proper compilation on Mac.

https://github.com/FreeRDP/FreeRDP/wiki/Compilation#compiling-from-sources does not reflect the instructions you just gave me.

[2015-12-30 08:34] bmiklautz commented on #3028
@jmdevince I'm OS X but don't have a Hyper-V to test

[2015-12-30 08:38] lemonmojo commented on #2421
@jmdevince That's the same commit that I found 9 months ago: https://github.com/FreeRDP/FreeRDP/issues/2421#issuecomment-85507468

[2015-12-30 08:47] jmdevince commented on #3028
It's not just Hyper-V, it affects anything using NLA or TLS. So you should be able to test w/o a problem.

[2015-12-30 09:56] bmiklautz commented on #3028
@jmdevince using master almost daily without problems (TLS as well as NLA).

[2015-12-30 10:16] bmiklautz commented on #3028
@jmdevince could you do a counter test with the xfreerdp from homebrew?
Just install it with:
[code]
Run with
[code]

[2015-12-30 10:22] bmiklautz commented on #3028
@jmdevince would you also paste the otool  output of the xfreerdp you've built?
[code]

[2015-12-30 12:03] bsiegert opened #3029 "Release?"
The "download" button on freerdp.com leads directly to this github project. According to the "Releases" tab, there has been no stable release at least since 2013; all releases on there are tagged "beta".

pkgsrc is still at version 1.0.2, which contains none of the hardening work and is quite vulnerable. I noticed that Debian seems to be packaging git snapshots but I would like to avoid that if po

[2015-12-30 14:33] tburgin commented on #2184
Link to LMFreeRDPClient?

[2015-12-30 15:07] bmiklautz commented on #3029
@bsiegert there are multiple issues regarding this topic. Please have a look to #2678 for example.

We are currently working on a 2.0 release. The base for 2.0 is the current master branch. For now I can only suggest to use a git snapshot of the current branch (if you build yourself). If you want finished packages you can use our nightly builds https://ci.freerdp.com/job/freerdp-nightly-binaries/

[2015-12-30 15:07] #3029 closed

[2015-12-30 15:15] bsiegert commented on #3029
It is weird that there are all these "beta" tags in github but no non-beta release. I saw some 1.1 betas, 1.2 betas, etc. We do not usually package snapshots, and 1.0.2 has lots of security bugs. This is a really bad situation :/

[2015-12-30 15:36] bmiklautz commented on #3029
@bsiegert The "betas" where recently discussed on the mailing list http://sourceforge.net/p/freerdp/mailman/message/34705731/. Back then the beta and the creation of the stable-1.1 was done quite premature because people wanted a new release.

 I'm very well aware that the situation is not "optimal" (to say it nicely) but I can assure you that we do our best to solve this.

[2015-12-30 15:38] lemonmojo commented on #2184
@tburgin It's an app that we at Lemon Mojo use internally to test new FreeRDP releases/features/bugfixes on OS X. Every now and then we send it to customers if there's a certain bug or feature that needs to be tested outside of our lab but it's not publicly available.
If you're a Royal TSX customer you can contact us via our [support portal]( http://support.royalapplications.com/). thx!

[2015-12-30 15:55] jmdevince commented on #3028
Looks like it's building against the proper libcrypto but not the proper libssl.

I tried using
[code]

and it does work properly (minus the /vmconnect issue I'm trying to patch). So, the manual build documentation (as I've said before) for Mac is incorrect.

[2015-12-30 17:23] bmiklautz commented on #3028
@jmdevince incorrect documentation, true, that definitely needs updating.
Given that the master branch works (--HEAD) when built with brew your i2d_PublicKey seems to be build related. I suggest doing a complete clean build (git clean -fdx) with the PKG_CONFIG_PATH set as described in #3027.

[2015-12-30 20:15] gh-user-7392 opened #3030 "xfreerdp randomly disconnecting"
Please help, this is driving me crazy. Using the latest master against a Windows 2012 R2 RDS server.
Clients are getting randomly disconnected. When this occurs the following three errors show up in the event logs:
1. RDP_GFX: An error was encountered when transitioning from PipeStateEncoding in response to PipeEventOnProtocolClosedFailed (error code 0x80070057).
2. RDP_GFX: An error was encounter

[2015-12-30 22:57] bmiklautz commented on #3030
@freerdp-bot with what version are you encountering this problem?

[2015-12-31 00:09] jmdevince commented on #2421
So, I've done some more debugging, it looks like despite negotiation being disabled, it still attempts to send negotiation. This is due to how the new non-blocking NLA authentication works.

https://github.com/FreeRDP/FreeRDP/blob/9c7b7ab56165cf72ff002ab2e0dccfcedb96e3ce/libfreerdp/core/nego.c#L100
Here we can see a check if negotiation should be done. If not, statically set the requested and sele

[2015-12-31 00:17] freerdp-github commented on #3030
This is FreeRDP version 2.0.0-dev (git 57fe581) from Dec 13th but it has been happening with all versions up until then as well.

[2015-12-31 12:06] bmiklautz commented on #3030
@freerdp-github can you try without /rfx or without compression?

[2015-12-31 12:22] freerdp-github commented on #3030
Yes, I will try that and see how the clients respond. BTW, I noticed that I am getting network detection disabled errors also if that helps. Specifically, I am getting this pair per every connection:

1. The network characteristics detection function has been disabled because of Reason Code: 2(Server Configuration)..

2. The network characteristics detection function has been disabled because of R

[2016-01-01 10:00] MrCsabaToth opened #3031 "aFreeRDP resource compilation issues on Ubuntu, Level 23 Android build tools"
Details:
http://stackoverflow.com/questions/34555121/how-to-compile-afreerdp-on-linux

http://pastebin.com/Nc0mqGrQ

 [aapt] Generating resource IDs...
 [aapt] /home/csaba/GitRepos/FreeRDP/client/Android/appcompat_v7/res/values-v23/styles_base.xml:20: error: Error retrieving parent for item: No resource found that matches the given name 'android:Widget.Material.Button.Colored'.
 [aapt]
 [aapt] /ho

[2016-01-01 10:01] MrCsabaToth commented on #3031
Any workaround is welcome

[2016-01-01 23:49] MrCsabaToth commented on #3031
I backed up my current Android SDK and tried to go back in time. SDK download tgz 22.6.2 only provides target 21. But SDK download tgz 23.0.0 already wants to upgrade to 24. So I cannot get the system to a state, when I don't have the target 23 (which indirectly causes errors somehow - more correctly, the level 24's compatibility facility for target 23 (which satisfies target 21)), but have the ta

[2016-01-02 01:59] MrCsabaToth commented on #3031
I started with the 23.0 SDK tgz, upgraded one round (not upgrading up to Android 6.0). Then the troublesome xml files are copied over from the Android SDK. So I deleted that values-v23 folder from the SDK. I also modified the AndroidManifest.xml of the aFreeRDP and set minSdkVersion to 17 from 14. The directory deletion certainly helped, I'm not sure if the other two steps contributed, but I have

[2016-01-02 21:04] MrCsabaToth commented on #3031
Update: I started from a totally updated Android SDK, and the minSdkVersion bump from 14 to 17 also doesn't matter. The only thing which made the error go away is the invasive removal of that values-v23 directory from inside the Android SDK.

[2016-01-02 22:24] Dercni opened #3032 "Multiple remoteapps = multiple logins"
Is there any way to avoid users having to login with the same credentials for every remote app the run?

Presently I have users authenticating against AD upon login then having to reenter their username and password for each remote app they run.

I cannot store the login credentials in the command line as multiple users use the same PC and the accounts are controlled by AD.

I am using --sec-rdp i

[2016-01-02 22:57] bmiklautz commented on #3032
@Dercni this is not supported as xfreerdp currently uses a new connection for each application.

[2016-01-03 12:45] freerdp-github commented on #3030
I am trying two different approaches based on your input and the messages received First, on all of our thin clients, I have taken off the +compression option to see if that helps. Second, I have added the /gfx +gfx-progressive options to a random sample of thin clients because I know of one other client that has never been disconnected using this combination. I will see if there are any disconnec

[2016-01-03 17:57] ANANTHU-R-NATH opened #3033 "Could NOT find PkgConfig error while building using cmake"
i know i have to run cmake with an extra parameter '-DPKG_CONFIG_EXECUTABLE=' to correct this but  what path to what is to be given here,
i am new to linux please help me

[2016-01-04 12:27] bmiklautz commented on #3033
@ANANTHU-R-NATH this is rather a cmake than FreeRDP issue as it looks for me. Please use the the mailing list or our irc channel for help.

[2016-01-04 12:27] #3033 closed

[2016-01-04 12:58] ramses-15 commented on #3023
Hi,

I think, we can close this issue as false positive, sorry:
today i replace my default nouveau driver with last stable driver from NVIDIA and ta-da  - everything work fine!

I really don't understand, why my mouse pointer was so purge only in FreeRDP-Sessions and in all another windows on my desktop it was ok, but the main thing that goes correct now.

Thank you again for your support.

BR,
Ra

[2016-01-04 19:22] bmiklautz commented on #3023
@ramses-15 good to know ;). Thank you for the feedback.

[2016-01-04 19:22] #3023 closed

[2016-01-06 10:57] jinlong0813 opened #3034 "android afreerdp rdpdr usually occur "\\tsclient\Android is not accessible""
I use freerdp_set_drive_redirection(inst, "/mnt/usbhost1"); to redirect the USB storage, but It is work fine only for a few time, then it happens "\tsclient\Android is not accessible". And I have test to redirect other folder in the android system(like /data/data) also have the same problem.
when it happens this error, there isnot any error information in log.
I donot know why, really need your he

[2016-01-06 15:22] ANANTHU-R-NATH opened #3035 "FREERDP via command line on android"
is it posible to start freerdp with specific ip and port from command line in android ?

[2016-01-06 17:56] bmiklautz commented on #3035
@ANANTHU-R-NATH not really. However you should be able to launch aFreeRDP by creating/downloading/.. a .rdp file and trying to open that.

[2016-01-06 17:56] #3035 closed

[2016-01-06 17:57] bmiklautz commented on #3035
@ANANTHU-R-NATH please also note that this is a issue tracker and *not* a help forum. For questions please try the mailing list or visit our irc channel.

[2016-01-06 17:58] bmiklautz commented on #3034
@jinlong0813 the image didn't work. When you tested did you reconnect to the windows session or logged off and started a new one?

[2016-01-06 21:44] freerdp-github commented on #2822
I am getting this exact behaviour as well with the following command line:
$BIN/xfreerdp /rfx  /gfx +gfx-progressive -bitmap-cache -offscreen-cache -glyph-cache -themes -wallpaper /d:DOMAIN /sec:nla /cert-ignore /f /bpp:32 +auto-reconnect /u:$USER /p:$PASS /v:$IP

In fact, the NUMLOCK problem does not appear when I am not using /gfx command line options. This is a Ubuntu 14.04.3 LTS system connect

[2016-01-07 01:53] mbbush commented on #2828
I made the change @sthen suggested and it works great for me. I also submitted a pull request #3036 with the change, but I don't know enough about this project's testing procedures or policy on PRs from random people to know if it's likely to be accepted or not. In the meantime, feel free to compile from my fork of the project, which has just the change suggested by @sthen

[2016-01-07 02:15] jinlong0813 commented on #3034
After reconnect, it works again. but the problem will apear soon.

[2016-01-07 02:19] jinlong0813 commented on #3034
I have used the lastest version on gitbub. I have already retransmission the image file. Thanks for your reply.

[2016-01-07 05:43] jinlong0813 commented on #3034
@bmiklautz  I have tested the release version "1.2.0-beta1+android9", It works fine. But the lastest code have the problem.

[2016-01-07 09:09] jinlong0813 commented on #3034
@bmiklautz @awakecoding We have try many commits. And make user the error is begin at commit b184a75 on Jan 20, 2015. The previous commit 8e7b80b is OK. Can you help to find the error

[2016-01-07 14:08] Utini2000 commented on #2988
Today there was an update for freerdp on Archlinux... it fixed the problem ! :)

[2016-01-07 17:22] bmiklautz commented on #2988
@Utini2000 would you add the version that fixes this problem for you on Archlinux (xfreerdp --version)?
This means the issue can be closed?

[2016-01-07 17:29] bmiklautz commented on #3034
@jinlong0813 this is quite a large and old change set. Just to make sure the behavior you are reporting happens with the master branch? If so I'd recommend trying to redirect a drive to the same server with xfreerdp to find out if this is only android specific or a generic problem of the drive channel. Did you test with different servers or always the same?

[2016-01-08 07:36] melanholy opened #3037 "RDPDR crashes on windows"
When I try to use redirected drive on the remote desktop, the following exception occurs:
[code]
The funny thing that this is not the constant behavior. After a few crashes redirection starts to work normally. But when I try to use another build of freerdp(I have four), crashes appear again, and again they disappear after a while.

Also crashes are guaranteed if I try to use "dir \\tsclient\drive"

[2016-01-08 09:04] jinlong0813 commented on #3034
@bmiklautz  I have test on several PC.  I met another question. When I redirect a USB storage on aFreerdp. After start up, I open the USB path, and stay at the folder of USB path. then I remove the USB storage, the afreerdp will crash without any log. Both the lastest version and old version of code have the problem. The probability is 100%.

[2016-01-08 12:42] bmiklautz commented on #3034
@jinlong0813 you are trying drive redirection with an usb drive but not USB redirection, right?

[2016-01-08 12:45] bmiklautz commented on #3037
@melanholy can you try to verify if this behavior is also reproducible with our nightly build from https://ci.freerdp.com/job/freerdp-nightly-windows/arch=win64,label=windows/lastSuccessfulBuild/artifact/build/wfreerdp.exe

[2016-01-08 14:15] hardening commented on #3024
We can close this one I think, @akallabeth ?

[2016-01-08 14:24] hardening commented on #3019
@cleric333 I'm quite confused by your questions.
So you're asking that for example a USB webcam connected on the RDP server could be used locally by other apps ? So the scenario would be that you connect on the remote server using xfreerdp for example, a new USB device would appear on the host running xfreerdp and then you could "use" that USB device.

If this is what you expect it looks a lot app

[2016-01-08 14:28] Utini2000 commented on #2988
Version: freerdp 1:1.2.0_20160107-2
Link: https://www.archlinux.org/packages/community/x86_64/freerdp/

Yes this issue can be closed ! I am glad that it finally works ;)

[2016-01-08 14:34] #2988 closed

[2016-01-08 14:36] hardening commented on #3030
@freerdp-github just to explain, there's basically 2 cases:

* if you use the /gfx flag, then the client uses the new shiny egfx channel and all graphical orders are transported in this channel. RemoteFx can also be done within the egfx channel;
* with "only" /rfx, the graphical stream will be transported in more traditional (aka old) surface commands;

This explanation just to say that the code p

[2016-01-08 14:39] hardening commented on #3018
@allenwen1 anything better with @cloudecker suggestion ?

[2016-01-08 14:43] hardening commented on #3013
Strange it looks like the tsmf channel is not registered when using egfx. Giving a look at that.

[2016-01-08 16:03] bmiklautz opened #3038 "Improve the manpage"
The generated man page doesn't use the command line description (anymore) therefor it contains a lot of <null>.

[2016-01-08 16:03] bmiklautz opened #3039 "Improve the manpage"
The generated man page doesn't use the command line description (anymore) therefor it contains a lot of <null>.

[2016-01-08 16:33] freerdp-github commented on #3030
@hardening I appreciate the explanation. I will summarize my findings from this weeks testing later today. I do find it strange however to get RDP_GFX errors during a connection (and subsequent disconnect) that only used /rfx on the command line. It could be possible that MS is doing that as these errors emanate from the server. I also want to confirm that you are saying normally you would not use

[2016-01-08 17:24] archont00 opened #3040 "No task bar icons for Citrix Apps windows in seamless mode of Windows 7 RemoteApp"
Hi,

it seems that the task bar of Ubuntu 15.10 is not able to show icons for windows, in which the Citrix applications are run.

Summary:
- Client is Ubuntu 15.10 or Arch Linux MATE.
- RDP host is Windows 7 run as a guest in KVM, accessible by IP address on LAN.
- Internet Explorer is published as a RemoteApp (for this, icon is wrong but at least it is shown on Ubuntu task bar).
- Any Citrix app

[2016-01-08 17:36] milankni commented on #3040
Example of missing task bar icons for Citrix windows:
![Missing Icons in task bar](https://github.com/milankni/FreeRDP-bugs/raw/master/missing-icons-for-windows-opened-via-citrix-launchers.png)

Example of offset between mouse pointer and actual active location:
![Offset between mouse pointer and actual location](https://github.com/milankni/FreeRDP-bugs/raw/master/adobe-acrobat.wrong-offset-of-mou

[2016-01-08 17:43] hardening commented on #3040
@milankni I may have missed something but you haven't given the FreeRDP version you're running. If it's not master (and so pre 2.0) would you mind giving a try with lastest master (either by recompiling or using pre-builds) ?

[2016-01-08 17:57] milankni commented on #3040
@hardening Yes, it is compiled from master. I added the info to the OP now.

[2016-01-08 19:56] hardening commented on #3013
@sebastianuw I have tried the same command line options connecting on a Seven host, and multimedia redirection works like a charm with both egfx and without. Any chance, you would retry with an updated master and if it crashes that you would post us a run of xfreerdp with valgrind ?

[2016-01-08 20:02] hardening commented on #3040
Ok so the bug with icons has a very simple cause: we treat the rail messages for icons but we don't do anything with them.

[2016-01-08 20:52] freerdp-github commented on #3030
FreeRDP disconnect testing summary:

1. Took +compression off command line on all thin clients. Turns out, this does not matter because the default state for compression is on anyway.

2. Added /gfx +gfx-progressive option to all thin clients. This fixed the disconnect problems. I no longer get the RDP_GFX related Event Log errors.

3. Took the /rfx option off and left only the /gfx +gfx-progressi

[2016-01-08 21:02] hardening commented on #3010
@timomenger what do you expect from us ? It seems that the source code of the Igel client is not publicly available, so it's hard to see what changes they have made...

[2016-01-08 21:18] dbungert commented on #2495
I looked into this problem some months back.  FreeRDP doesn't attempt to cache the license.  I experimented with saving off a copy and sending it back per RDPELE spec, but I never saw any difference in behavior.  That said, I never observed a case where multiple licenses were being issued to one device - the license server always sent me the same bits and the license manager didn't report multiple

[2016-01-09 05:48] jinlong0813 commented on #3034
@bmiklautz Yes, I use drive redirection with an usb drive. The problem is, if the USB is removed when it is be using. afreerdp doesn't close the fd, the android system cannot unmount the usb, then system will kill the afreerdp then unmount the usb. What is the feature of USB redirection you mentioned? How to use it? Does it support hot plug of USB storage? I want to realize the function of after t

[2016-01-09 17:52] Utini2000 opened #3041 "RemoteApp Photoshop.exe makes Photoshop freeze"
Hey there,
when running the following command, Photoshop will start, be in fullscreen, but freezes and making it not clickable:

xfreerdp /u:Vbox /p:lala /admin /cert-ignore +clipboard /app:'calc.exe' /v:192.168.122.149

All other apps (calculatore, explorer, etc) will work.
Without RDP (e.g. when running windows with virt manager) I guess run photoshop just fine.

Any ideas? Thanks !

[2016-01-09 17:53] Utini2000 commented on #3041
Also same problem when running explorer.exe, manually going to photoshop.exe and executing it:

Photoshop loads but as soon as it finished loading I see photoshop but can't click anywhere.

[2016-01-09 17:57] hardening commented on #3041
@Utini2000 what version are you running and what is your platform ?

[2016-01-09 18:07] Utini2000 commented on #3041
Archlinux + freerdp 1:1.2.0_20160107-2

https://www.archlinux.org/packages/community/x86_64/freerdp/

For once I managed to get it working but not sure how. After a reboot of the VM I am back to the same problem. After several re-trying to run photoshop it seems to work again.

[2016-01-09 18:20] Utini2000 commented on #3041
Ah okay, I found out that "photoshop.exe is not reacting" in windows itself. It just seems to take ages for it to load although the VM has 8cpu's + 8gb RAM :S

[2016-01-10 10:33] melanholy commented on #3037
Doesn't crash with this build. Is this build stable? Can I use for my work?

[2016-01-10 13:08] bmiklautz commented on #3037
@melanholy those builds are built nightly if a commit happened during the day. It's based on the master branch if a build works for you you can use it for work.

[2016-01-10 13:08] #3037 closed

[2016-01-10 13:13] bmiklautz commented on #3010
@timomenger if you use the client that comes with the Igel thin client nothing we can do about. If it's based on 1.1 it's rather old. I'd suggest you contact the Igel support and file an issue there.

[2016-01-10 13:13] #3010 closed

[2016-01-10 13:14] bmiklautz commented on #3041
@Utini2000 if this doesn't seem to be a FreeRDP problem can we close the issue?

[2016-01-10 13:18] Utini2000 commented on #3041
Yes, it seems to be a windows / photoshop problem rather than freerdp. Thanks again !

[2016-01-10 13:18] bmiklautz commented on #3034
@jinlong0813 USB redirection is redirecting a device on USB level but it's not fully working - that's why I asked. As for your problem, FreeRDP doesn't handle hotplug for devices on android. Although it would theoretically be possible it isn't implemented. Therefore I'd suggest to not directly redirect the usb drive but rather the directory above. This way you have kind of hotplug (in case all dev

[2016-01-10 13:18] #3041 closed

[2016-01-10 17:09] milankni commented on #3040
This sounds promising to me ;-)

[2016-01-11 07:46] weberhofer commented on #2678
Is there any news on that? I'm highly waiting for updating the openSUSE packages, as the all the current versions of FreeRDP and Remmina are much better that the current stable ones since a while!

[2016-01-11 10:41] akallabeth commented on #3024
@hardening agree.

[2016-01-11 10:57] Enverex commented on #3011
This seems to be working now. Switching to full-screen (via Ctrl+Alt+Enter) now fullscreens the window on the monitor that the window was in, rather than the monitor that it first started on.

[2016-01-11 11:05] Enverex commented on #2863
Just to update this, I'm now running a build from 7th of Jan and the behaviour is different again.

Regardless of what I set with the "monitors" flag, e.g. "/monitors:0" or "/monitors:1", etc. FreeRDP always appears on the left monitor. Previously the options above would cause it to appear on the left or right respectively. This is a problem when paired with the fullscreen option.

[2016-01-11 11:10] #3024 closed

[2016-01-11 13:39] hardening commented on #2863
@Enverex which WM are you running ?

[2016-01-11 13:40] hardening commented on #2863
WM as window manager

[2016-01-11 14:42] HenryJacques commented on #2832
Closing this issue as it has been answered. The subject is too vast and I will open a new case more specific.

[2016-01-11 14:42] #2832 closed

[2016-01-11 15:17] Enverex commented on #2863
I'm running XFCE4 on them (always have been).

[2016-01-13 09:56] bmiklautz commented on #2828
Fixed with PR #3046

[2016-01-13 09:56] #2828 closed

[2016-01-13 11:09] mlawren opened #3047 "Fullscreen escape key sequence (Ctrl+Alt+Enter) not working"
My build of commit 1210421 on a Debian stretch/sid mix seems to have a broken fullscreen escape sequence. The last version I built where it worked was df81e842a. Actual command line I'm using is this:

    xfreerdp /u:mark /p:****** /compression /fonts /f /v:[fe80::1dfd:e0c9:9d86:d7bf%eth0] /toggle-fullscreen /drive:x,/home/mark/work/ins

[2016-01-13 16:55] ANANTHU-R-NATH opened #3050 "Error in android_setup_build_env.sh"
I tried to run android_setup_build_env.sh from project root in ubuntu 14.04 but it terminated with exit code -4
details are as follows can you help me out please

ananthu@p:~/FreeRDP-1.2.0-beta1-android9$ ./scripts/android_setup_build_env.sh
Missing command line argument, current directory as root.
Using '/home/ananthu/FreeRDP-1.2.0-beta1-android9/external' as root.
Preparing OpenSSL...
Cloning in

[2016-01-13 17:45] sebastianuw commented on #3013
I tried it yesterday with a pull from master. no dice, Below is the valgrind output of the crash.
http://staff.washington.edu/lisic/freerdp_gfx_crash.txt

[2016-01-13 20:17] abma opened #3051 "CTRL+ALT+ENTER doesn't work any more in xfreerdp"
this commit broke full screen switching CTRL+ALT+ENTER for me:

https://github.com/FreeRDP/FreeRDP/commit/a9e3368d4473e146c54ede37e3edd331e6e68d59

[2016-01-13 20:53] abma commented on #3051
https://github.com/FreeRDP/FreeRDP/blob/master/client/X11/xfreerdp.h#L182
BOOL KeyboardState[256];

https://github.com/FreeRDP/FreeRDP/blob/master/client/X11/xf_keyboard.c#L157
xfc->KeyboardState[keycode] = keysym;

-> KeySym isn't a bool, so wrong values are written to KeyboardState. i guess the line has to be

xfc->KeyboardState[keycode] = TRUE;

?!

or vice versa and the check in
https://github

[2016-01-13 21:04] hardening commented on #3013
@sebastianuw sorry to ask, but would you recompile your freerdp with valgrind helpers activated. Without we have a lot of garbage in the valgrind output.

sidenote: I may be wrong but I have read that on last version of RDP the multimedia channel is disabled when egfx is used, because using codecs is already very efficient. In your case that seems to be the case as we get a lot of uninitialized va

[2016-01-13 21:38] dbungert commented on #3013
@hardening - are you talking from a server or client standpoint? From Server, MMR and EGFX can coexist.  MMR is just unlikely in cases where EGFX is actually in use - in win 8.1 you have to use Windows Media Player (which is no longer the default video player), and in win 10 MMR will not be used, even with explicitly playback in WMP.  The references in the [recent RDS blog](http://blogs.msdn.com/b

[2016-01-13 22:13] abma commented on #3047
oops, sorry didn't see this issue.

duplicate of #3051

[2016-01-13 22:14] abma commented on #3047
https://github.com/FreeRDP/FreeRDP/pull/3052 should fix this

[2016-01-13 22:14] #3051 closed

[2016-01-13 22:20] abma commented on #2967
related to #2922 / maybe a duplicate

[2016-01-13 22:47] sebastianuw commented on #3013
@hardening, sorry about that. Below is a crash log from a debug build.

http://staff.washington.edu/lisic/freerdp_gfx_crash_with_sym.log

I forgot to add, using an older build (e45edb8) I am able to have both work on my 2012r2 server.

[2016-01-14 06:38] hardening commented on #3013
@sebastianuw your last valgrind, does not seem to have valgrind helpers activated (requires valgrind to installed on the compiling host and the cmake option activated, ccmake is your friend).

Would you try to git bissect to try to find the faulty commit ? My guess is that it's something that happened in the hardening of MMR or egfx, but having the commit that introduced the bug would be very nice

[2016-01-14 12:21] melanholy opened #3053 "non-ASCII symbols in login/password"
I'm trying to connect to the remote desktop that has non-ascii symbols(cyrillic) in it's login. And debug console says that there is an error: **ERRCONNECT_CONNECT_TRANSPORT_FAILED**.

mstsc.exe works perfectly with this remote desktop.

I'm using windows 7 and the latest version of FreeRDP.

[2016-01-14 12:30] bmiklautz commented on #3053
@melanholy how do you supply the username/password?

[2016-01-14 13:03] melanholy commented on #3053
wfreerdp.exe /v:1.2.3.4:3390 /u:Менеджеры /p:123

[2016-01-14 17:51] Mandar-Shinde commented on #3053
can you try with
wfreerdp.exe /v:1.2.3.4:3390 /u:"Менеджеры" /p:123
or
wfreerdp.exe /v:1.2.3.4:3390 /u:'Менеджеры' /p:123

[2016-01-15 06:46] ygqzwl opened #3056 "the newest release compiled error"
system is  centos 7

I download the newest code , but it errors when i use the commands
" cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON ."

 it happened some errors:

CMake Error: install(EXPORT "FreeRDP-ClientTargets" ...) includes target "freerdp-client" which requires target "audin-client" that is not in the export set.
CMake Error: install(EXPORT "FreeRDP-ClientTargets" ...) includes target "f

[2016-01-15 06:48] hardening commented on #3056
Is it a fresh git clone, or is there any CMakeCache.txt floating around ?

[2016-01-15 06:57] ygqzwl commented on #3056
@hardening
1.download code use    git clone git://github.com/FreeRDP/FreeRDP.git

2.the code directoty is:
   -rwxrwxrwx  1 root root   358 1月  15 14:54 buildflags.h.in
-rwxrwxrwx  1 root root  2742 1月  15 14:54 ChangeLog
drwxrwxrwx 23 root root  4096 1月  15 14:54 channels
drwxrwxrwx  3 root root    35 1月  15 14:54 ci
drwxrwxrwx 11 root root  4096 1月  15 14:54 client
drwxrwxrwx  6 root root  4096

[2016-01-15 07:04] ygqzwl opened #3057 "CMake Error: install(EXPORT "FreeRDP-ClientTargets" ...)"
centos 7
1.git clone git://github.com/FreeRDP/FreeRDP.git
2.the code directoty is:
-rwxrwxrwx 1 root root 358 1月 15 14:54 buildflags.h.in
-rwxrwxrwx 1 root root 2742 1月 15 14:54 ChangeLog
drwxrwxrwx 23 root root 4096 1月 15 14:54 channels
drwxrwxrwx 3 root root 35 1月 15 14:54 ci
drwxrwxrwx 11 root root 4096 1月 15 14:54 client
drwxrwxrwx 6 root root 4096 1月 15 14:54 cmake
-rwxrwxrwx 1 root root 3884

[2016-01-15 09:09] #3057 closed

[2016-01-15 09:12] ygqzwl opened #3058 "the newest code compiled error"
using centos 7 system
1.git clone git://github.com/FreeRDP/FreeRDP.git
2.the code directoty is:
-rwxrwxrwx 1 root root 358 1月 15 14:54        buildflags.h.in
-rwxrwxrwx 1 root root 2742 1月 15 14:54      ChangeLog
drwxrwxrwx 23 root root 4096 1月 15 14:54    channels
drwxrwxrwx 3 root root 35 1月 15 14:54          ci
drwxrwxrwx 11 root root 4096 1月 15 14:54    client
drwxrwxrwx 6 root root 4096 1月 15

[2016-01-15 09:12] #3056 closed

[2016-01-15 09:29] akallabeth commented on #3058
@ygqzwl Please don't spam the issue tracker (#3057, #3057) but use a single issue for your problem.

As to your error description, it is a bit sparse, but could you check if
* You start from a clean checkout (```git clean -xdf``` will remove all files not in git)
* All required dependencies are installed

If it still fails, please provide some more details (the output of cmake would help ;))

[2016-01-15 09:39] ygqzwl commented on #3058
@akallabeth
it is still has errors:
cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON .
-- The C compiler identification is GNU 4.8.3
-- The CXX compiler identification is GNU 4.8.3
-- Check for working C compiler: /bin/cc
-- Check for working C compiler: /bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working CXX compiler: /bin/c++
-- Check for w

[2016-01-15 10:02] bmiklautz commented on #3058
@ygqzwl what version of cmake are you using?

[2016-01-15 10:03] ygqzwl commented on #3058
@bmiklautz
cmake version 2.8.11

[2016-01-15 10:47] abma commented on #3047
should be fixed!

https://github.com/FreeRDP/FreeRDP/commit/2db8c7e1079e2160301299de082e854cb4c63479

[2016-01-15 10:51] HenryJacques commented on #3003
@hardening sorry for the delay:
where: 4004 -> SSL_CB_READ_ALERT        (SSL_CB_ALERT|SSL_CB_READ)
ret: 592 -> " IE "/"internal error"  (see http://linux.die.net/man/3/ssl_alert_type_string)

[2016-01-15 10:53] jkustosz opened #3060 "Black screen on win shadow server."
Hi,

Based on the master branch I've compiled and built the freerdp-shadow-cli.exe on Windows 7 with Visual.

When trying to connect to Win shadow server from linux client with
xfreerdp /v:server_ip:port /cert-ignore
I have black screen. I tried several option with RemoteFX and ColorDepth but this did not help.
When connected from the iFreeRDP iphone application also get the black screen but I was

[2016-01-15 11:00] bmiklautz commented on #3047
@mlawren can you verify that this problem is fixed on the latest master?

[2016-01-15 12:36] virtman opened #3061 "drdynvc_main.c mind bug"
Hello,

just want to point you on small bug.
line 759
	else if (dataSize <= CHANNEL_CHUNK_LENGTH - pos)
	{
the pos variable is equal to 0 at this point even when already written data by
line 749
   cbChId = drdynvc_write_variable_uint(data_out, ChannelId);
this will cause issue, that when dataSize == CHANNEL_CHUNK_LENGTH
it will not fit into created buffer
line 739
   data_out = Stream_New(NULL, C

[2016-01-15 12:41] bmiklautz commented on #3058
@ygqzwl the problem you are reporting *only* happens exactly with cmake version 2.8.11.
There is a pending pull request that fixes this #3062

[2016-01-15 13:05] mlawren commented on #3047
Current master commit (2db8c7e) works for me. Thanks for the quick response and the overall FreeRDP effort.

[2016-01-15 13:05] #3047 closed

[2016-01-15 15:49] bmiklautz commented on #3058
@ygqzwl can you verify that the current master fixes your problem?

[2016-01-15 23:50] sebastianuw commented on #3013
@hardening is this what you are looking for in regards to valgrind output?
I used ccmake and set:
CMAKE_BUILD_TYPE                 Debug
WITH_VALGRIND_MEMCHECK           ON
then ran the following:

http://staff.washington.edu/lisic/freerdp_gfx_valgrind.txt

[2016-01-16 10:48] astro-train commented on #2893
I have the same issue. No matter what credentials where provided to wfreerdp.exe with +auth-only it always returns 0 when connecting to Windows XP SP3. With Windows Server 2008 everything works properly.

[2016-01-17 04:21] jiajunhuang commented on #931
+1.

[2016-01-18 01:46] #3058 closed

[2016-01-18 01:53] ygqzwl opened #3064 "xfreerdp : which gstreamer's version need to install on the newest freerdp codes?"
I want to use the newest codes, but i cannot know to use which gstreamer's version ?

1. I installed the gstreamer version   gstreamer-0.10.36-7.el7.x86_64
2. when I use the multimedia redirection , some errors happended: (Failed to create new pipe)

[2016-01-18 07:36] akallabeth commented on #3064
default is gstreamer 1 by now, there is a cmake option to reactivate 0.10. there may still be some issues, look at the pull requests pending for tsmf.

[2016-01-18 08:13] ygqzwl opened #3065 "the newest freerdp codes support which RDP protocol? RDP8.0 or RDP 8.1?"

[2016-01-21 04:22] mr-wong opened #3071 "Cannot exit from full screen mode (/f flag) Ubuntu 12.04"
Hi. Here is problem: after suspend-resume wifi reconnected but rdp window still in front in hanged state - no reaction to keyboard/mouse nor trying to exit. So, I cannot switch to any other window since rdp stealing any input and remains unresponsible. Tried to bind shortcut with xdotool for killing foreground window with no success, but any other windows work well. In these situations I have no c

[2016-01-21 11:00] weberhofer opened #3074 "winpr/wtypes.h and winpr/version.h are not created during build"
Currently I can not build remmina as the above mentioned files are not created and included for installation.

[2016-01-21 13:51] akallabeth commented on #3074
@weberhofer Ok, could you give some details on where during the build this fails?
Can generate a working configuration from current master 3e19791bb7ab186568d5f2c8478763d63fdb0305 on debian jessie.

[2016-01-21 14:02] weberhofer commented on #3074
The build doesn't fail, but the remmina build:

[  146s] make[2]: Entering directory '/home/abuild/rpmbuild/BUILD/Remmina-1.1.99.git.20160117/build'
[  146s] [ 88%] Building C object remmina-plugins/rdp/CMakeFiles/remmina-plugin-rdp.dir/rdp_plugin.c.o
[  146s] cd /home/abuild/rpmbuild/BUILD/Remmina-1.1.99.git.20160117/build/remmina-plugins/rdp &amp;&amp; /usr/bin/cc  -DFREERDP_REQUIRED_MAJOR=2 -DF

[2016-01-21 14:20] david-geiger commented on #3074
Hi,

I have encountered the same issue and I have to patch the CMakeLists.txt from winpr to make installable this two files:

--- winpr/include/CMakeLists.txt.orig	2016-01-02 11:31:39.000000000 +0100
+++ winpr/include/CMakeLists.txt	2016-01-14 08:40:56.000000000 +0100
@@ -20,4 +20,6 @@

 file(GLOB WINPR_HEADERS "winpr/*.h")
 install(FILES ${WINPR_HEADERS} DESTINATION include/winpr COMPONENT header

[2016-01-21 14:29] akallabeth commented on #3074
Ah, ok. Looks like we missed something, #3075 should fix that.

[2016-01-21 14:32] akallabeth commented on #3074
@weberhofer Does this fix your issue?

[2016-01-21 14:44] david-geiger commented on #3074
Also there is the same issue with two other files on hash and makecert that are compiled but not installed, here the patch that I use to fix this:

--- winpr/tools/makecert/cli/CMakeLists.txt.orig	2015-12-14 10:07:49.057140510 +0100
+++ winpr/tools/makecert/cli/CMakeLists.txt	2015-12-14 10:08:41.961142646 +0100
@@ -45,5 +45,7 @@

 target_link_libraries(${MODULE_NAME} ${${MODULE_PREFIX}_LIBS})

+in

[2016-01-21 14:49] akallabeth commented on #3074
@david-geiger The install targets in your last diff are already on master, do you have an old checkout?

[2016-01-21 14:51] david-geiger commented on #3074
Same snapshot commit as before: 9b8b1d6480245cc3dbe14d3899a5deb323e5bfe5

[2016-01-21 14:57] akallabeth commented on #3074
Ok, this and some more stuff has already been fixed and merged to master.

[2016-01-21 15:01] akallabeth commented on #3071
@mr-wong Have you tried ```ctrl + alt + enter```? this should switch back to normal window mode.

[2016-01-21 15:18] weberhofer commented on #3074
The problem is fixed with #3075, however it's not yet merged to master. Thank you all!

[2016-01-21 15:18] #3074 closed

[2016-01-21 15:35] jjgalvez commented on #2999
ping? any way to get smartcards working?

[2016-01-21 15:58] mr-wong commented on #3071
Uhh, didn't know about that shortcut, thanks!! I will try when another hang occurs. Anyway, rdp should exit itself on lost connection at suspend (those issues occurs only on suspend-resume cycle).

[2016-01-21 16:20] akallabeth commented on #2999
@jjgalvez
* Did you try ```/smartcard``` without ```:``` at the end?
* You can enable more extensive logging by setting the ```export WLOG_LEVEL=trace``` to get some more details on your specific issue.
*  There are 2 pull requests for smartcards pending (#2749 and  #2959) which may improve smartcard support for you. This will require you to build yourself from source

[2016-01-21 19:38] shaunsphere commented on #2894
same thing happens here, it was good until I rebuild and replace new lib file (libfreerdp-android.so).
I got some new cool features but crash when disconnect

[2016-01-21 19:47] shaunsphere commented on #2419
@jlafontaine-devolutions: How to disable async channels for aFreeRDP (android) ?

[2016-01-21 19:55] jlafontaine-devolutions commented on #2419
@shaunsphere I had to modify android_freerdp.c:445, set all async channels to false and then recompile from source.

[2016-01-21 20:13] shaunsphere commented on #2419
I also found an alternative way in Java/Eclipse to avoid recompile.
Just set debugSettings.setAsyncChannel(sharedPrefs.getBoolean("bookmark.async_channel", false));
in BookmarkBase.java
Thanks

[2016-01-21 20:44] jjgalvez commented on #2999
Thank you I'll try those
Jose

[2016-01-22 12:15] trentasis opened #3077 "printers not working with freerdp"
Hi,

We are trying to migrate our rdesktop environment to freerdp, but we have problems with freerdp printing (usb and network)

Now we are using in rdesktop environment with thinstation 5.4 with lprng packages
this:

network printer:
PRINTER_0_NAME=LASER
PRINTER_0_DEVICE=192.169.169.57%9100           #printer_id%9100
PRINTER_0_TYPE=N

SESSION_0_RDESKTOP_OPTIONS="-k es -a 24 -u '' -d domain-r prin

[2016-01-22 12:51] akallabeth commented on #3077
Could you give some details regarding your environment, freerdp version and compile flags?
What comes to mind is ```WITH_CUPS``` cmake option is required for proper operation.

[2016-01-22 13:00] trentasis commented on #3077
Hi,

freerdp was compiled with cups:
cmake . -DCMAKE_INSTALL_PREFIX=/usr \
                -DCMAKE_INSTALL_LIBDIR=lib \
                -DDOCBOOKXSL_DIR=/usr/share/sgml/docbook/xsl-ns-stylesheets \
                -DCMAKE_BUILD_TYPE=Release \
                -DWITH_PCSC=ON \
                -DBUILD_SHARED_LIBS=ON \
                -DWITH_CHANNELS=ON \
                -DWITH_CHANNELS_PRINT=ON \

[2016-01-22 13:30] hardening commented on #3077
@trentasis yes we rely on cups for printing

[2016-01-22 13:43] jkustosz commented on #3060
I just realized that the problem is related to the BIO_read function.

During debugging I found that when shadow server is starting ( on port e.g. 5555)  it trying to connect to the the another port 40000. But this negotiation fails because of the BIO_read function failed.
function  transport_read_layer( ) calls  BIO_read and BIO_should retry and those functions fails. It produce the error in the

[2016-01-22 14:07] trentasis commented on #3077
only cups? or are there other options?
what is the xorrect way to configure freerdp printing?

[2016-01-22 16:48] BUGgs commented on #2975
I confirm that this issue is still on the actual build. It's not possible to combine /smartcard and /drive:*,hotplug
It's working with a fixed redirected drive, but not with the hotplug drive feature...
OK: xfreerdp /v:xxx /u:xxx /p:xxx /smartcard /drive:usb0,/media/usb0
OK: xfreerdp /v:xxx /u:xxx /p:xxx /smartcard
OK: xfreerdp /v:xxx /u:xxx /p:xxx /drive:*,hotplug
Not OK (Seg fail): xfreerdp /v:x

[2016-01-24 14:26] akallabeth commented on #2975
I've fixed some argument check issues within the drive channel, fixes the crash for me.
Could you check #3079 and see if it works for you too?

[2016-01-25 09:56] Hobby-Student commented on #2975
I really would like to test this now... But I have hardly free time atm. Will try as soon as possible (also the other issue with the smartcard), but it seems that I won't get it done till end of february.

@BUGgs are you going to test the patch?

[2016-01-25 10:37] antenore commented on #2424
@ilammy Any news about this? It would be amazing to have file clipping with X11 client!

Unlucky I don't know (yet) where to start to try to hack this.

Is this https://github.com/ilammy/FreeRDP/commits/x11-cliprdr/files/remote-to-local code still valid/tested?

Thanks!

[2016-01-25 10:50] BUGgs commented on #2975
Yes, testing today. I will get back to you ASAP.

[2016-01-25 14:40] BUGgs commented on #2975
Fixed ! I'm going to make deeper test this week to check that smartcard isn't broken by this commit, but globally, it seems ok.

[2016-01-25 15:59] akallabeth commented on #2975
@BUGgs Good to know, smartcard is not influenced by this commit (different channel, the files are private to drive redirection)

[2016-01-25 16:50] jjgalvez commented on #2999
would those pull requests be in any of the nightly builds?

[2016-01-25 17:36] akallabeth commented on #2999
no, nightlies are build from current master only.
you would have to compile your own version to get these.

[2016-01-25 18:02] jjgalvez commented on #2999
got it thanks I'll give compiling it a try
Jose

On 01/25/2016 12:36 PM, akallabeth wrote:

[2016-01-25 21:22] jjgalvez commented on #2999
compiled it and I'm still getting the sharing violation error. I really
don't know how to debug this. is there anything you want me to do to help?

Jose

On 01/25/2016 01:02 PM, Jose Galvez wrote:

[2016-01-26 08:58] akallabeth opened #3081 "code page not set in capabilities"
In ```rdp_write_order_capability_set``` the code page is always set to ```0```.
According to specs at https://msdn.microsoft.com/en-us/library/cc240556.aspx ```textANSICodePage``` should be set by the client to the codepage used.

[2016-01-26 10:11] hardening commented on #3081
nice catch, you're right we're setting the value but we're not sending it !
Looks like nobody cares :)

[2016-01-26 15:24] j-rueger commented on #1358
Any news on this?

As a workaround, I wrote the following script. Been using it for some time, a bit hacky but works like a charm. (You need ![yad](http://sourceforge.net/projects/yad-dialog/), a fork of Zenity that provides much more functionality, and xdotool for this)

Hope someone finds it useful! Cheers!

[code]

[2016-01-27 05:52] shenguanjiejie opened #3084 "How to run the Mac client in FreeRDP?"
I clone FreeRDP on my MacBook,Goto 'client/Mac' directory,It contain many files but no project.why?

Then,I create a new project, add all files to the project, include 'freerdp' and 'winpr' header files,There are many error produced.

and I found there have a file named 'wtypes.h.in', I don't know why is this.
I really want to learn it,please response me! thanks! :+1:

[2016-01-27 06:15] shenguanjiejie commented on #3084
I modify #define WINPR_HAVE_STDBOOL_H @HAVE_STDBOOL_H@
to #define WINPR_HAVE_STDBOOL_H HAVE_STDBOOL_H
fixed this bug,but there still have many troubles.

[2016-01-27 07:17] #3084 closed

[2016-01-27 07:34] ondrejholy commented on #1358
I don't think there are any news about this (at least not from my side), however you might also use some external tools (e.g. Remmina, Vinagre) to manage your connections...

[2016-01-27 09:45] #3081 closed

[2016-01-27 11:25] T3N4K4 opened #3085 "Multimedia redirection with /gfx | decoder ffmpeg - not working"
Hi,

I am running in some problems lately with Ubuntu 15.10 and FreeRDP latest master-branch (Tested with the one committed today).

My FreeRDP session disconnects when I try to play a video (mp4 720p) on the windows media player, while /gfx is active.
(/gfx /multimedia:decoder:ffmpeg /frame-ack:1 -grab-keyboard /sound:sys:pulse,quality:high,rate:44100 /audio-mode:0 /sound:latency:50)

The log Fre

[2016-01-28 10:29] SaibotCook opened #3089 "Broker redirect - second login"
When i start the connection with FreeRDP i get to the Windows loginscreen.
When i enter my username and password i then get redirected to a different session by the broker and have to re-enter my username and password.
Is there any way to enable SSO?

Im running FreeRDP with this command
`xfreerdp /v:rd-farm /d:DOMAIN /kbd:0x00000407 /bpp:32 /f /cert-ignore -sec-nla`

[2016-01-28 10:40] akallabeth commented on #3061
@virtman The ``` CHANNEL_CHUNK_LENGTH``` is defined as ```1600```, ```cbChld``` is at most ```2```
closing due to being not a bug.

[2016-01-28 10:47] akallabeth commented on #3061
@virtman Ok, sorry for accidentally closing, fixed your complaint in #3090

[2016-01-28 13:27] kekkeme commented on #3065
We want to use SSO but msdn documentation says it should be at least RDP 8.0 protocol. Does freerdp support for RDP 8.0 protocol

Thanks

[2016-01-28 13:45] hardening commented on #3089
Hi, it would be interesting to know more about the redirect packet that is sent, would you recompile with WITH_DEBUG_REDIR activated and send us the output ?
You didn't tell but I suppose you're running master ?

[2016-01-28 13:52] akallabeth commented on #3061
Ok, it is merged, thx again.

[2016-01-28 13:52] #3061 closed

[2016-01-28 13:52] hardening commented on #3065
The issue tracker is not the place for asking questions.

I think we support RDP 8.0 and 8.1, even if I don't know if you can find somewhere a document giving the requirement for a given RDP version...

[2016-01-28 13:52] #3065 closed

[2016-01-28 14:17] SaibotCook commented on #3089
Could you explain to me how to recompile with WITH_DEBUG_REDIR and what "running master" refers to?
I'm new to FreeRDP.
Thanks in advance.

[2016-01-28 14:21] hardening commented on #3089
OMG, well first we need to know more about your environment (where you FreeRDP came from and which version it is), that's really the basic.

And "running master with WITH_DEBUG_REDIR"  means checking out FreeRDP source code and recompile with this option activated (ccmake is your friend to activate it).

[2016-01-28 16:23] BUGgs commented on #2975
I've remade some tests today with a full smartcard remapping, and we had the issue again.
I seems to happen when a session was disconnected and we are trying to reconnect with hotplug and smartcard...
Trying to reproduce tomorrow

[2016-01-28 18:41] trentasis commented on #3007
any news about this issue, it seems that this issue persist with imagesetter...
thanks

[2016-01-29 16:48] trentasis commented on #3077
with cups Works, but driver is fixed with imagesetter?

[2016-01-29 16:48] #3077 closed

[2016-01-29 16:50] ramiromagalhaes opened #3095 "State the copyright owner of FreeRDP in LICENSE file"
In line 190 of the LICENSE file, we read:
` Copyright [yyyy] [name of copyright owner]`

The community should clearly state, in this file, who owns the FreeRDP copyright, and state it in this file.

[2016-01-29 16:54] trentasis commented on #3007
Hi bmiklautz ,

Tried with  /printer:<device>,<driver> and not working, always appears iamgesetter, also tried with 'driver'

Waht can I do?

thanks

[2016-01-29 18:10] hardening commented on #3007
@trentasis I confirm that the driver name is ignored and hardwired. I gave a look at the printer channel and it would need some love to fix that. I'll treat this when I'll have some time.

[2016-02-01 03:01] binglinoioij commented on #2894
Hello All:
I have the same problem, did you solve it?

[2016-02-01 03:14] sanmeng commented on #2894
@binglinoioij no,I think it is due to waitforobject(by source code) timeout when disconnect

[2016-02-01 06:21] binglinoioij commented on #2894
@sanmeng , But it have no this problem,  If you download the app in google play.

[2016-02-01 06:26] sanmeng commented on #2894
@binglinoioij Using older code to compile will not have this problem . You can view the source code to compare the two versions .Google may be an earlier version

[2016-02-01 09:27] mvojjala commented on #2419
I am also facing client hang on disconnecting the session. As suggested disabling, async channels to false fixes the issue. However, I would like to understand the impact of disabling the async channels ? I Can some body say the purpose of the async channels?  What effect does disabling async channels  have on performance ?

[2016-02-01 09:33] binglinoioij commented on #2894
@sanmeng Do you know what the version is?

[2016-02-01 09:45] sanmeng commented on #2894
You can try it(3b332e7829c165aae59ee026a53dece723cccee9), maybe earlier, I have tested more than 50 versions。test details I can not find, you can look at my other ID(The current problem of the moderator) provides the details .

[2016-02-01 09:55] Hopedream commented on #2894
@binglinoioij
![d862ef4c-4b47-11e5-8aee-1c699df6d3d6](https://cloud.githubusercontent.com/assets/13480468/12713969/c85193d6-c90c-11e5-9a99-897a5d07a651.jpg)

code submission time and version | author | I test the date | result

[2016-02-01 11:50] akallabeth commented on #2419
@mvojjala I'm currently working on getting the android client up to date, have a look here: https://github.com/akallabeth/freerdp/tree/android_api_upgrade_v3
Not ready for primetime yet but on its way.

As for the async channel options, it just processes all channel data in a separate thread.

[2016-02-01 14:29] bmullan commented on #3000
I'm facing this problem also with RemoteApps not working correctly.
Ubuntu 15.10 amd64
32GB ram
8core cpu
standard ubuntu unity 7 desktop environment.

this works okay and presents a full workable desktop...
xfreerdp /u:userID /p:userPWD  /v:IP_of_Win7Ultimate_VM

this does **not** ...
xfreerdp /u:userID /p:userPWD  /app:'explorer.exe' /v:IP_of_Win7Ultimate_VM

It **does** bring up Explorer in its

[2016-02-01 14:37] hardening commented on #3000
@admiralakber, @Utini2000 it's quite hard to debug anything when we don't have the git version that Arch is shipping... Perhaps you could give a try with latest master (recompiled) and tell us if things are better.

@bmullan we have made significant changes since 1.1, would you give a try with the latest version ?

[2016-02-01 15:19] akallabeth commented on #2894
Reworked the whole aFreeRDP project in #3097
This also fixes the disconnect issue.
If you want to continue using the old client project you need to remove ```WaitForSingleObject(ctx->thread, INFINITE);``` in ```android_freerdp.c:737``` which leads to a deadlock.

[2016-02-01 15:38] bmullan commented on #3000
@hardening - thanks... I'd gotten the prev from the download off the freerdp page
but pulling the latest from github & building it resulting in a v2.0 dev release and that **does** work for freerdp remoteapp .. thanks!

[2016-02-01 16:16] akallabeth opened #3098 "OpenSSL 1.1 compatibility"
Tried to compile FreeRDP against the current OpenSSL master (1.1)
Looks like this will be quite a beast to tame,
- many structures are now opaque
- The direct data structure access in `tls.c` is no longer working.

TODO:
- [ ] Merge `libfreerdp` and `winpr` function wrappers for SSL in `winpr`
- [ ] Add `winpr` implementations for the function wrapper for OpenSSL 1.0
- [ ] Add `winpr` implementati

[2016-02-01 17:00] hardening commented on #3098
Making the struct opaque is quite nice, anyway we needed some internal access to set the error code when shutting down with TLS. I hope they have added a public method to do it...

[2016-02-01 20:20] shattars3d commented on #3018
@allenwen1 you using el captain,  el captain has issues with cmake, Apple removed some header files... try to downgrade your osx.. to yosemite which works../

[2016-02-01 20:43] akallabeth commented on #3018
Apple is shipping some libraries in a new format (tbd).
They can not be found by older versions of cmake, but recent releases should cover support for those.
Can you check your version of cmake in use with ```cmake --version```?
From what I have found versions ```> 3.3.1``` should work.

[2016-02-01 20:50] audhen commented on #2743
I have the problem too in use with Royal TSX on Mac OSX. No connection will work...

[2016-02-02 00:20] #2894 closed

[2016-02-02 00:21] Hopedream commented on #2894
@akallabeth ok,tks

[2016-02-02 01:27] binglinoioij commented on #2894
@sanmeng @akallabeth  tks!

[2016-02-02 08:39] Hobby-Student commented on #3089
correct me if I'm wrong... Doesn't "-sec-nla" connect without pre-auth? (So you see the Server-Loginscreen and type in username and password. When Session Broker is redirecting same screen on the "free" server is shown.)

IMHO this is by design, also with the MS RDP client...

[2016-02-02 16:59] Enverex commented on #2863
Any movement on this? It's a nightmare having to manage users with this current problem.

In case it's related, I noticed I can Ctrl+Alt+Enter to fullscreen on the left-most monitor and then press it again to un-fullscreen it. But if I try that on the second monitor (the one that I can't get FreeRDP to open on initially in the first place) it'll fullscreen, but it won't unfullscreen. It just flick

[2016-02-02 18:50] mithunkundu1983 opened #3102 "Android: Keyboard doesn't work on landscape mode"
Android: Keyboard doesn't work on landscape mode.

[2016-02-03 12:38] akallabeth commented on #3071
@mr-wong Did the error occur again? Do you use auto reconnect? Otherwise FreeRDP should exit on connection loss.

[2016-02-03 17:47] disturbedfuel15 opened #3106 "dfreeRDP screen artifacting (w/ pics)"
Hello,

I work for a medium size global manufacturing company and here at our U.S. branch, we are trying to implement the raspiTC in order to allow users to remote in to their desktops from the conference room. We have found the only RDP client with acceptable speed to be dFreeRDP. I created a script which I attached a picture of. The point of the script is to change the dfreerdp.server file to th

[2016-02-03 18:18] mr-wong commented on #3071
@akallabeth I've just tried now to simulate - it hangs, no response to ctrl+alt+enter, nor anything else like Alt-F1/F2 Unity menus. So I left it open as is and sat to another laptop. After 10-15 minutes connection at last dropped and console flooded with messages:

Version, updated today:

Connection string:

[2016-02-03 22:00] hardening commented on #3106
Well the DirectFB client really needs love and I think nobody touched it from a quite long time.
I'm surprised that other clients weren't fast enough, can you elaborate on your setup. Optionally knowing which version you're running could help too.

[2016-02-03 22:32] disturbedfuel15 commented on #3106
I tried using dfreerdp included in the Raspberry Pi Thin Client v1.99 package (link included for reference), http://rpitc.blogspot.com/2016/01/rpitc2-release-199-out.html and I also tried an older build (from November I believe).

So we have about 150 Dell Precision workstations which engineers use to create designs in autocad and solidworks.  Each workstation has a massively expensive nvidia quad

[2016-02-03 22:44] hardening commented on #3106
You're not the first that reports lags on the raspberryPi. From previous discussion, it seems that the biggest problem is the poor performance of the Xorg driver.

[2016-02-04 08:02] hardening commented on #3000
@Utini2000 @admiralakber anything new ? @bmullan seems happy with upstream...

[2016-02-04 09:23] TGruenberg commented on #142
Hi everybody,

does everyone have the KB961742-v3.exe in the german version? It is no longer available on the microsoft homepage.

Thank you very much.

[2016-02-04 15:31] bmiklautz commented on #2743
@audhen you maybe want to report the issue directly there...

[2016-02-05 07:37] HenryJacques opened #3112 "Commit 13df05b broke smartcard redirection"
Hello,

I am using xfreerdp on Ubuntu 14.04 64 bits to connect to a Windows 7 32 bits with smartcard redirection.

Master at commit c0226d6 works fine.
With master at commit 13df05b, the smartcard redirection doesn't work at all anymore (I see the service smarcard loading) but on Windows I don't see any readers.

Bye

[2016-02-05 07:51] HenryJacques commented on #2975
This PR breaks smartcard redirection on Ubuntu 14.04, see #3112

[2016-02-05 07:54] akallabeth commented on #3112
@henryjacqes could you try to return an error in  devman_register_device when the type does not match filesysten?

[2016-02-05 08:04] HenryJacques commented on #3112
@akallabeth

not sure what type of error but this is what I did in devman_register_device (devman.c)

                return ERROR_INVALID_PARAMETER;
                //return CHANNEL_RC_OK;

And... the result is not good at all....

I got a blank screen (loads of error in the command line) but in the end (after maybe 30s, segfault)...

[09:01:49:874] [32165:907] [ERROR][com.freerdp.channels.smartc

[2016-02-05 09:09] akallabeth commented on #3112
@HenryJacques Ok, at my workstation now, can confirm. Does it work for you without this check or does the crash occur again after that?

[2016-02-05 09:21] HenryJacques commented on #3112
@akallabeth I am not sure to understand what you mean :/

But:
- using the master at 13df05b doesn't crash. I can log in to my Windows workstation but I don't see any readers
- returning an error in devman_register_device: I can't connect at all (error in my last post).

What do you want me to do? To try to delete the if statement?

[2016-02-05 09:42] akallabeth commented on #3112
@HenryJacques yes, looks like I messed up that check.

[2016-02-05 09:42] HenryJacques commented on #3112
@akallabeth
Well I did remove the if statement and indeed it works again (I can connect and use the smartcard)

[2016-02-05 09:44] akallabeth commented on #3112
@HenryJacques Ok, good to know. Do you experience any crashes as stated in #2975? The argument and stream length checks should fix it but I have to retest.

[2016-02-05 09:49] akallabeth commented on #3112
@HenryJacques Ah, yes, #2975 should already be covered by the check in ```rdpdr_main.c:433```, will prepare a pull.

[2016-02-05 09:57] HenryJacques commented on #3112
@akallabeth No I don't experience any crash as in #2975 (using the current master and without the if statement).

[2016-02-05 10:12] #3112 closed

[2016-02-05 11:15] akallabeth commented on #3106
@disturbedfuel15 The dfreerdp package is quite out of date and would need some love, on current master it does not compile any more.

[2016-02-05 13:29] disturbedfuel15 commented on #3106
That's really too bad, because it is literally the fastest RDP client to date.  I tried a fresh debian install and regular freerdp-x11, and the lag is so bad, autoCAD and solidworks are out of the question.  There is almost no lag with dfreerdp.

[2016-02-05 13:43] akallabeth commented on #3106
@disturbedfuel15 Well, it is probably just a matter of adjusting the client API to the FreeRDP2 changes but it would require someone to look after the client.

[2016-02-05 13:45] disturbedfuel15 commented on #3106
I understand.  I also understand it would require some dedicated work from experienced programmers.  For now, I have a workaround  for the users, but just disconnecting and reconnecting.

[2016-02-05 13:51] akallabeth commented on #3106
@disturbedfuel15 Good to know it works for you, I hope someone will find the time to update the client.

[2016-02-06 07:37] melanholy commented on #3053
both don't work.

[2016-02-06 08:15] TheOracle22 commented on #2802
This may be a dumb question, but where is tcp.c file located on my system? I tried to do a find and got back no results?

[2016-02-06 15:00] antiflu commented on #2802
It's in the source code... you download the source code and then you have to recompile XFreeRDP. Normal systems have the already-compiled binary version of XFreeRDP installed. But I think the modification will not solve your problem... what problem are you having?

[2016-02-06 18:17] bofh80 commented on #3053
i am unsure for windows, but for passwords with similar issues on linux, make it prompt instead. so /p:  (not sure about the ":") should make it prompt. Or maybe try without /u: /p: etc.
wfreerdp.exe /v:1.2.3.4:3390 /u: /p:
wfreerdp.exe /v:1.2.3.4:3390 /u /p
wfreerdp.exe /v:1.2.3.4:3390
etc, whatever makes this version of the client prompt for username and password instead.

[2016-02-06 18:54] TheOracle22 commented on #2802
When I connect to Windows 10 it will disconnect me anywhere from 30 seconds to 10 minutes. I've experienced this through Remmina which I believe uses this library and also directly through the command line xfreerdp.

[2016-02-07 13:07] antiflu commented on #2802
Well most OS'es like Ubuntu package a very old version of XFreeRDP. The first thing you can do is to deinstall the old XFreeRDP, then download the newest GitHub version, compile it using these instructions:

https://github.com/FreeRDP/FreeRDP/wiki/Compilation

And then connect using the new XFreeRDP. If you are still having the same issues, then the problem can be investigated further.

[2016-02-07 18:13] akallabeth commented on #3053
@melanholy The windows client command line unicode support is non existent. Would need some patching to read in the unicode arguments and convert them to utf-8 for internal use.
See https://msdn.microsoft.com/en-us/library/windows/desktop/ms683156%28v=vs.85%29.aspx and https://msdn.microsoft.com/en-us/library/bb776391%28VS.85%29.aspx

[2016-02-07 18:26] giox069 opened #3114 "Sometimes the desktop image freezes just after logon"
On both arch and ubuntu 15.04, sometimes, just after logon, the remote desktop freezes with this image:

![freerdp pcgiovanni lan ipablapieve it 22077_005](https://cloud.githubusercontent.com/assets/5477803/12874253/83f913a8-cdd0-11e5-8e8c-805c8ba9941a.png)

The circle at the left of "Windows" is not rotating. No animation at all. No way to see changing images here.
Standard input processing seems

[2016-02-07 20:09] bmiklautz commented on #3114
@giox069 this applies only on windows 7 or have you seen this on other systems as well?

[2016-02-07 20:27] bmiklautz commented on #2802
@antiflu @TheOracle22 either compile yourself or you try our nightly builds when available for your system https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2016-02-07 20:56] giox069 commented on #3114
I have been able to reproduce it only on Windows 7 PRO and Windows 2008R2 (located on two different subnets which I can access via an OpenVPN VPN and a Cisco IPSEC IKEv1 VPN).
Here is a small table of my tests

OS | Problem detected
---- | ----
Windows 2008 Server | No
Windows 7 Pro | Yes    (two tested, on the same domain/subnet)
Windows 2008 R2 Server | Yes   (one tested, on a different subnet/d

[2016-02-07 21:21] TheOracle22 commented on #2802
Thank you very much! I will give your suggestions a try.

[2016-02-08 07:07] bmiklautz commented on #3106
@disturbedfuel15 freerdp-x11 in debian is unfortunately really old. For testing give our nightly builds a try they are based on master. https://ci.freerdp.com/job/freerdp-nightly-binaries/. There is also a long standing pull request for  dfreerdp on 1.0 that, according to the author, fixes problems on the rasberry pi: https://github.com/FreeRDP/FreeRDP/pull/2129
So if the nightlies are no good for

[2016-02-08 08:11] bmiklautz commented on #3114
@giox069 did some testing against my local windows 7 but couldn't reproduce the problem. - Any change you can test directly without the vpn to make sure that the VPN doesn't influence the behavior.

[2016-02-08 08:19] bmiklautz commented on #2863
@Enverex the problem still occurs with the latest master?

[2016-02-08 08:29] bmiklautz commented on #3095
@ramiromagalhaes I might be mistaken but as I read line 190 it is just an example for a how APL is applied. If you look into libfreerdp/core/freerdp.c this is used with the copyright section added.

[2016-02-08 08:29] #3095 closed

[2016-02-08 08:37] Enverex commented on #2863
Rolling out a GIT version of the package onto the machines currently using it will be virtually impossible so I may not be able to test that.

I'll see if I can work something out and will report back here if successful.

[2016-02-08 09:06] giox069 commented on #3114
This morning I had no freezes at all, both by VPN and NAT-ted port :( And I'm using the same laptop I used yesterday, but some system packages have been updated (gnutls and others). I will collect more data in the next days and report back here in the next days, when I will physically be at the customer site. In the meanwhile... thank you for answering :)

[2016-02-08 13:37] akallabeth commented on #3053
@melanholy Try #3116, that should fix it.

[2016-02-08 14:11] akallabeth commented on #3064
@ygqzwl Are your issure resolved?

[2016-02-08 14:13] akallabeth commented on #3071
@mr-wong Which version of OpenSSL (or ubuntu for that matter) do you use?

[2016-02-08 16:07] melanholy commented on #3053
it works, thank you! now waiting for merge

[2016-02-08 16:07] #3053 closed

[2016-02-08 18:36] TheOracle22 commented on #2802
I downloaded the latest nightly build today and it still times out. I ran xfreerdp from /opt/freerdp-nightly/bin. I am running over a VPN connection for work. I'm not sure if that makes a difference or not.

Thanks

[2016-02-08 19:13] mr-wong commented on #3071
@akallabeth I have reduced encryption to Low level (56 bit) inside Group Policy trying to gain max performance on previous very weak laptop, using in 'friendly' environment, so not bothering about security. Anyway, version of libssl is:

Ubuntu 12.04 Unity x64.

[2016-02-08 19:33] fraannk opened #3117 "Won't create .xcodeproj file."
Hi. I can't get it to create the .xcodeproj file. The error is something to do with openssl. Does anyone have a "already put together" project file/folder I can have. I'm looking to do some optimizations for iPad Pro. Thank you.

[2016-02-08 22:50] antiflu commented on #2802
Personally I had a similar problem and spent a lot of time debugging, when in the end it turned out to be my unstable network connection. It could also be your network card / drivers acting up. So I would advise you to do some "elimination testing": try another WiFi spot, try a cable connection instead of Wifi, try the same nightly build but on another laptop, try (if you can) the same connection

[2016-02-09 08:14] akallabeth commented on #3117
@fraannk You need OpenSSL with development headers installed for your environment. Without the dependencies you will not be able to compile anything. Easiest way currently is probably homebrew or you have to compile OpenSSL yourself.

[2016-02-09 08:57] bmiklautz commented on #3117
@fraannk as @akallabeth says you will need to compile openssl. Have a look to scripts/OpenSSL-DownloadAndBuild.command

[2016-02-09 08:59] fraannk commented on #3117
OpenSSL has been compiled successfully, I just needed to redirect the command file to another location. Had to use cmake 3.4.3 to build the project as well. Works now! But it seems like the iOS part hasn't been updated in a loooong time. There's a lot of errors to go through! :)

[2016-02-09 09:00] #3117 closed

[2016-02-09 12:54] meersjo commented on #2158
Have been strugging with this, too. Just built current master (bb3882b), and can confirm that clipboard does not work with /app, but does work in regular rdp mode.

[2016-02-09 12:55] meersjo commented on #2480
Just built current master (bb3882b) and can confirm that this is still the case.

[2016-02-09 15:17] Enverex commented on #2863
Just tested with a build from GIT master, the following issues persist:

The main issue: Trying to select the second monitor via /monitors:1 has no effect, it still just appears on the primary monitor (I tried 0, 1 and 2, it always appeared on the main/left monitor). Doing /monitor-list showed both monitors correctly so it is seeing them.

Fullscreening the window (via Ctrl+Alt+Enter) works, but t

[2016-02-09 15:44] akallabeth commented on #3071
@mr-wong Does this also occur if you use less exotic encryption settings?

[2016-02-09 21:11] disturbedfuel15 commented on #3106
If anyone wants to know the solution, 'admin' from the armTC forums replied with the answer.

[2016-02-09 21:11] #3106 closed

[2016-02-10 11:12] Kal42 commented on #2863
Hi,

I use version [7534876209b49239909828e289de6664a668428b](https://github.com/FreeRDP/FreeRDP/commit/7534876209b49239909828e289de6664a668428b), And I have pretty similar issue.
I use also xfce4.

I have 2 icons on monitors 0 and 2 icons monitors 1 to try all configuration possible.
I also try launch it from ssh.

The two commande line for each icons :
`xfreerdp /cert-ignore /v:192.168.200.11 /m

[2016-02-10 11:21] mr-wong commented on #3071
@akallabeth Yes, still persists after I reset all encryption-related settings in GP. Once I was able to push ctrl+alt+enter immediately after resume, then keyboard locked after couple seconds - no response in Ubuntu too, only mouse. Closed terminal tab with rdp and all released, seems rdp hard stealing keyboard input in such conditions.

[2016-02-10 14:19] humroben opened #3120 "freerdp-shadow-cli not accepting input from mouse or keybaord"
I've built the latest version of freerdp on one of my debian servers, and I can't seem to figure out why I cannot receive inputs from my kayboard or mouse.

The issue lies with the server, and not the client. I know this for certain, because when using the xfreerdp client for x11rdp instances, or a windows rdp service, input is accepted, and when I use a different rdp client for the freerdp-shadow

[2016-02-10 14:26] humroben commented on #3120
Nevermind, seems I was forgetting the XTest configuration, and the libxtst-dev package

[2016-02-10 14:27] #3120 closed

[2016-02-11 12:37] ramiromagalhaes commented on #3095
True. My bad. Shouldn't that apendix be removed then?

[2016-02-11 13:30] bmiklautz commented on #3095
@ramiromagalhaes I think the appendix is quite helpful and also provides a nice template. Also it is often contained in LICENSE files as far as I know.

[2016-02-11 17:50] avigruda commented on #148
From what I see, the vchan code still doesn't support compression:
(`flags = VCCAPS_NO_COMPR;` in `rdp_write_virtual_channel_capability_set()`)
Am I right?

[2016-02-11 18:14] tobia opened #3121 "Option to use the local keyboard layout"
The manual says:

This poses a problem in many cases, for example when the local keyboard layout is not present on the remote side (GNU/Linux supports many more locales and specialized keyboard layouts than Windows) or when there are issues with the RDP protocol that prevent setting the remote keyboard ID.

It would be useful to have a "local keyboard" option as a fallback, where the user can tell

[2016-02-11 19:51] AndreWin opened #3122 "Pipe broken"
Hello!

OS Linux Mint 17.3 Cinnamon, Windows 7 Ultimate in Virtualbox. I got the latest version of freerdp from git and compiled as it's described in wiki.

But I can't to connect. Log:

[code]
How can I fix it?

Best regards, Andrey.

[2016-02-11 20:04] AndreWin commented on #3122
I realized my problem. I forgot to set up port forwarding in Virtualbox for Windows 7 (tcp, 3389, 3389). Now all works.

Best regards, Andrey.

[2016-02-11 20:04] #3122 closed

[2016-02-12 07:03] VinodJagtap opened #3125 "when I am trying to execute MacMinis-Mac-mini:FreeRDP-master macmini$ cmake -DCMAKE_TOOLCHAIN_FILE=cmake/iOSToolchain.cmake -GXcode getting compiling issues"
mac osx 10.11
xcode 7.2
when is execute  MacMinis-Mac-mini:FreeRDP-master macmini$ cmake -DCMAKE_TOOLCHAIN_FILE=cmake/iOSToolchain.cmake -GXcode
-- FreeRDP GIT
-- Git Revision n/a
-- Skipping recommended feature libsystemd for systemd journal appender (allows to export wLog to systemd journal)
-- Skipping disabled feature X11 for X11 (X11 client and server)
-- Skipping disabled feature Wayland for

[2016-02-12 07:13] akallabeth commented on #3125
@VinodJagtap And what is the issue? looks like ```cmake``` generated the Xcode project just fine...

[2016-02-12 09:05] VinodJagtap commented on #3125
yes working but when I am compiling freeRDP.xcodeproj generated by cmake command its giving error about stdio.h,_mingw.h files not found, when I am adding that also not working...Is that issue of .xcodeproj not get generated properly?

[2016-02-12 09:29] akallabeth commented on #3125
@VinodJagtap I'd recommend reading ```docs/README.ios``` and prepare the environment accordingly.

[2016-02-12 09:42] VinodJagtap commented on #3125
I have followed same steps mentioned in docs/README.ios  still not working...what can be the issues?

[2016-02-12 09:52] akallabeth commented on #3125
@VinodJagtap Hard to guess without some hints ;)

[2016-02-12 10:07] akallabeth commented on #3125
@VinodJagtap Just compiled it, the OpenSSL build script needs some love (update version, use ```shasum``` instead of md5) and select target iOS device, simulator targets do not work.

[2016-02-12 10:16] VinodJagtap commented on #3125
Are you getting  issues related .c files not found...? and I am using latest OpenSSL

[2016-02-12 11:10] akallabeth commented on #3125
@VinodJagtap No issues at all, just a bunch of warnings during compile. Please start with a clean checkout, build OpenSSL and the open in XCode. Select the iOS target there (NOT the simulator target selected by default!)

[2016-02-12 13:03] VinodJagtap commented on #3125
worked fine but getting linker error
clang: error: linker command failed with exit code 1 (use -v to see invocation)

ld: in /Users/macmini/desktop/ifreeRDP/FreeRDP-master/external/openssl/lib/libcrypto.a(bio_lib.o), building for iOS simulator, but linking in object file built for OSX, for architecture x86_64

[2016-02-12 15:48] akallabeth commented on #3125
@VinodJagtap looks like you built openssl for the wrong architecture. anyway, this is a issue tracker not a support forum. use the irc channel for that.

[2016-02-12 15:48] #3125 closed

[2016-02-12 21:19] bmullan opened #3127 "Wiki Compilation - says Plugins are installed in /usr/local/lib/freerdp"
I am on ubuntu 15.10 64bit.   I have followed the instructions for debian multple times now to build freerdp.

Each time I see no errors and afterwards I do end up with xfreerdp v2.0.0-dev

But despite the Wiki indicating that the plugins would be found in /**usr/local/lib/freerdp**,

I don't find them there?   Is the Compilation Wiki page still accurate?

[2016-02-13 00:02] mikeparkerqbi opened #3128 "RDS Farm Temporary Profile"
I am trying to get FreeRDP to work with my RDS Farm platform where I have RD Gateway, RD Connection Broker and  3 Host Servers.

What I have discovered is when users login to the the RDS Farm via FreeRDP, most of the times they get a temporary profile and after several attempts eventually they'll get their actual RDS user profile. I have tried all kinds of commands such as /cert-ignore /v:$INTERNA

[2016-02-15 04:29] meanbunny opened #3132 "Compiling FreeRDP on Linux for Windows"
Hey all,

I am working on a new cross platform applet for freerdp/ssh/vnc and I am trying to follow the wiki compilation instructions on how to compile the executable for Windows on Linux.

I am running Arch Linux
I have the latest source code from this repository and have the latest from master
I have compiled / installed openssl for Windows already on Linux and have confirmed that the openssl.ex

[2016-02-15 05:54] VinodJagtap opened #3133 "(null): In /Users/macmini/desktop/ifreeRDP/FreeRDP-master/external/openssl/lib/libcrypto.a(bio_lib.o), building for iOS simulator, but linking in object file built for OSX, for architecture x86_64 (null): Linker command failed with exit code 1 (use -v to see invocation)"
when Compiling for Xcode 7.2
iOS 9.2 getting linker error

[2016-02-15 08:42] simon04 commented on #2876
I had a similar issue (could not connect to / login on Windows 10 machine). Adding `-sec-nla` did the trick for me: now instead of supplying the password on the command line, I enter it within the RDP session and connect successfully.

[2016-02-15 10:20] bmiklautz commented on #3127
@bmullan first of which wiki page are you referring to?
The search path basically depends on how FreeRDP is built. In a default build, without modifying the paths cmake uses, the location /usr/local/lib/freerdp should be the right one. However what the page doesn't seem to state is that channels are built statically since a while and linked together into libfreerdp-client.so. If you want/need the

[2016-02-15 10:20] #3127 closed

[2016-02-15 10:23] bmiklautz commented on #3121
@tobia just to make sure are you hitting a real problem with your setup?

[2016-02-15 10:32] bmiklautz commented on #3132
@meanbunny I'm sorry to say but as far as I'm aware of we don't officially support mingw.
Besides some mingw options itself (as you describe above) there are several other problems. As far as I remember mingw has some defines that usually only set on unix/linux. So for the build there are there are Unix/Linux and Windows specific options and definitions enabled which leads to  re-definitions and o

[2016-02-15 12:56] mithunkundu1983 opened #3134 "Latest Android disconnecting from session"
02-15 18:21:32.235 18547-18547/com.freerdp.afreerdp V/HomeActivity: Clicked on item id 1 in section Manual Connections
02-15 18:21:32.270 18547-18547/com.freerdp.afreerdp V/HomeActivity: HomeActivity.onPause
02-15 18:21:32.316 18547-18547/com.freerdp.afreerdp V/FreeRDP.SessionActivity: Session.onCreate
02-15 18:21:32.328 18547-18547/com.freerdp.afreerdp V/FreeRDP.SessionActivity: Session.onStart
0

[2016-02-15 13:09] bmiklautz commented on #3134
@mithunkundu1983 thanks for the log but without more detail information it's not much of a use ;(.
* what exact git commit are you using?
* what server did you connect do
* which settings did you use?

[2016-02-15 13:19] meanbunny commented on #3132
Ok gotcha, is there a good resource for compiling for FreeRDP natively on Windows? I just tried using cmake gui for Windows to generate the configuration files but got errors on generating the make files. Looks like I got some missing dependencies

[2016-02-15 13:27] bmiklautz commented on #3132
@meanbunny basically you need a pre-compiled openssl (I think also requires perl for building), git, cmake and visual studio.
* Build openssl for 64 bit (perl Configure VC-WIN64A)
* FreeRDP itself is then quite easy just run cmake.exe -G "NMake Makefiles" -DBUILD_SHARED_LIBS=OFF -DMSVC_RUNTIME=static -DWITH_SSE2=ON form a "Visual Studio x64 Cross Tools Command Prompt"

[2016-02-15 13:27] #3132 closed

[2016-02-15 14:22] meanbunny opened #3135 "Compiling FreeRDP on Windows"
Hey All,

So I have downloaded the latest source from master on my Windows machine. Pre-compiled OpenSSL for 64 bit windows.

Ran the following command under Visual Studio 2013 Command Line Tools

C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\bin\amd64>"c:\Program Files (x86)\CMake\bin\cmake.exe" D:\source\Meanbunny\FreeRDP -G "NMake Makefiles" -DBUILD_SHARED_LIBS=OFF -DMSVC_RUNTIME=stati

[2016-02-15 14:31] hardening commented on #3135
This is an issue tracker, not a help forum. You have IRC or the mailing list for that.

[2016-02-15 14:31] #3135 closed

[2016-02-15 22:01] hardening commented on #3133
This is a bugtracker, go and ask on the mailing list or IRC.

[2016-02-15 22:01] #3133 closed

[2016-02-16 06:20] Link-Satonaka commented on #1358
Try using [dmenu](http://tools.suckless.org/dmenu/):
[code]

[2016-02-16 06:52] ProLive commented on #2282
Am using RoyalTSX w/ FreeRDP v2.21 and this is still an issue. Cannot connect to things behind 2012R2 RDGW. Error in log is ERRCONNECT_SECURITY_NEGO_CONNECT_FAILED.

[2016-02-16 07:28] mithunkundu1983 commented on #3134
what exact git commit are you using? - 2a3e999
what server did you connect do - Windows 2013 erver
which settings did you use? - basic setup. Only host & password.

[2016-02-16 07:31] mithunkundu1983 commented on #3134
02-16 12:58:55.036 5638-21578/com.freerdp.afreerdp E/com.freerdp.core.rdp: [pid=5638:tid=9db7f930] - rdp_recv_fastpath_pdu: rdp_decrypt() fail
02-16 12:58:55.036 5638-21578/com.freerdp.afreerdp E/com.freerdp.core.transport: [pid=5638:tid=9db7f930] - transport_check_fds: transport->ReceiveCallback() - -1
02-16 12:58:55.038 5638-21578/com.freerdp.afreerdp E/com.freerdp.core: [pid=5638:tid=9db7f930]

[2016-02-16 07:47] akallabeth commented on #3134
@mithunkundu1983 could you check which settings are active by default and try to enable / disable them? specially the async options, maybe there is a bug with one of them.

[2016-02-16 09:12] mithunkundu1983 commented on #3134
Putting off Debug options works perfectly.

-------------------------------------------------------------------
Thanks & Regards
Mithun Kundu

On 16 February 2016 at 13:17, akallabeth <notifications@github.com> wrote:

[2016-02-16 09:39] bmiklautz commented on #2282
@ProLive there is no v.2.21 from FreeRDP

[2016-02-16 09:45] ProLive commented on #2282
That must be some sort of plugin version for Royal TSX then. I'm pretty sure @lemonmojo actually runs that so could shed light on what version of FreeRDP that equates too.

[2016-02-16 13:07] lemonmojo commented on #2282
@ProLive: Royal TSX V2 uses a pretty old FreeRDP version but the first Royal TSX V3 beta will be available soon and contain a more recent version.

[2016-02-16 16:46] tobia commented on #3121
In my case I wouldn't say problem, it's just a nuisance.

I use the [Programmer Dvorak](http://www.kaufmann.no/roland/dvorak/) keyboard layout (included in X11 as the "dvp" variant of "us" layout) and apparently there's no way to make it go through FreeRDP, it always ignores my layout and uses Windows keyboard layouts.

I figured this might be a problem for people using a lot of the other locales

[2016-02-17 01:03] #3064 closed

[2016-02-17 02:59] jasonblewis opened #3137 "multimon spans monitors depending on the monitors selected"
If I launch with

[code]

Windows 10 sees the display as one large desktop, spanning both monitors.
if I launch with

[code]

Windows 10 sees the display as 2 monitors, and correctly spans them

[code]

I have 3 monitors commected to this computer.

[code]

[2016-02-17 07:18] VinodJagtap opened #3138 "Not able to connect windows 8 ..Is their support for WINDOWS 8 in latest FreeRDP?"

[2016-02-17 07:30] ondrejholy commented on #2520
It seems that freerdp doesn't work properly on big-endian architectures (tested on ppc64 and s390x). I built several xfreerdp versions (stable-1.0, stable-1.1, 1.2.0-beta1+android9, master), some of them crash, or exit with some error, rest of them have problems with colors and nla...

I have no idea why nla doesn't work, but --no-nla (--sec rdp|--sec tla) usually works as workaround. I am going t

[2016-02-17 08:33] awdAvenger opened #3139 "Connection from linux to Windows 10 not working after latest Win10 update (ERRCONNECT_CONNECT_TRANSPORT_FAILED)"
After a reboot due to an update last week, I can no longer connect to my Windows 10 Professional computer from my linux computer using xfreerdp.

I get the following output when trying to connect using the latest version from git (2a3e9996):

[09:19:16:178] [21254:21255] [ERROR][com.freerdp.core.transport] - BIO_read returned a system error 104: Connection reset by peer
[09:19:16:178] [21254:21255

[2016-02-17 09:56] hardening commented on #3138
This report is useless without more informations. If it's a question the bugtracker is not the place for that, there's the mailing list and IRC.

[2016-02-17 10:00] hardening commented on #2520
Does it work better with last master ?

[2016-02-17 10:26] VinodJagtap commented on #3138
[15:46:21:915] [2611:b029b000] [ERROR][com.freerdp.core] - failed to connect to 123.95.48.90
[15:46:21:916] [2611:b029b000] [ERROR][com.freerdp.core.nego] - Protocol Security Negotiation Failure
[15:46:21:916] [2611:b029b000] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_SECURITY_NEGO_CONNECT_FAILED [0x2000C]
[15:46:21:916] [2611:b029b000] [ERROR][com.freerdp.core.connection] - Err

[2016-02-17 11:38] ondrejholy commented on #2520
I've just retested with FreeRDP master on RHEL 6.7 ppc64.The behavioral seems to be even worse.

I see following warnings during build (see [buildlog](https://gist.github.com/ondrejholy/1300a49fd71ecfb28dd8)):

Consequently xfreerdp /sec:nla segfaults with following backtrace:

[code]

Also xfreerdp /sec:rdp segfaults with another backtrace, but the problem is probably same, there is something wro

[2016-02-17 11:55] bmiklautz commented on #3138
@VinodJagtap please have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2016-02-17 11:58] VinodJagtap commented on #3138
sorry ! ..I am new to iOS development

[2016-02-17 12:24] hardening commented on #2520
@ondrejholy any chance that you would recompile with valgrind helpers activated and that you give a try with xfreerdp running under valgrind ?

[2016-02-17 13:22] bmiklautz commented on #2520
@ondrejholy @hardening if I'm not mistaken there are known issues on ppc regarding byte order. There was (is) a patch floating around from the debian folks but I'm not sure if everything is working.

[2016-02-17 22:31] Link-Satonaka commented on #2904
I also had this question, and I shared the solution I came up with here: https://github.com/FreeRDP/FreeRDP/issues/1358#issuecomment-184537537

I don't know what security concerns this brings up. You can't select text in dmenu, nor can you copy from the input in any way that I know of. xprop can't see it and xwininfo doesn't betray any information about what is typed. It sends the password via sta

[2016-02-18 11:57] #3138 closed

[2016-02-18 12:01] ondrejholy commented on #2520
@hardening see [valgrind log](https://gist.github.com/ondrejholy/d904cfcba5500357b9fd) from master

@bmiklautz don't you have more info about the patch? However thanks to you notice, I've looked in freerdp source package for debian and found [one usefull patch](http://anonscm.debian.org/cgit/collab-maint/freerdp.git/tree/debian/patches/1004_64-bit-architectures.patch). It fixes the types (at least

[2016-02-18 15:31] bmiklautz commented on #2520
@ondrejholy that's the patch I was talking about. I thought the type fix does the trick. If not it might be related to the byte order. We don't have any ppc development or test machine therefore it's not really tested.

[2016-02-18 16:26] GuardMoony commented on #2775
@nfedera i got the same problem on debian 8 - Jessie with the current code.
- Tried different clients and all get the same error.
- Using -auth allows you to login ( ofc its not secure to do this )
- Using NSCodec and FXCodec to false didn't work

[2016-02-18 17:45] nfedera commented on #2775
@GuardMoony I just verified that the workaround still works with current master and the latest Microsoft Android client. This is my patch:
[code]
However, as written earlier, this is a dirty workaround and the only real solution is what I've written in  https://github.com/FreeRDP/FreeRDP/issues/2775#issuecomment-120667003

[2016-02-18 19:46] GuardMoony commented on #2775
@nfedera we found the problem on irc. It seems you also get this if libpam0g-dev was not installed during the compile. Maybe something to add on the wiki.

Thx to diget

[2016-02-19 02:07] cloudecker opened #3141 "iOS freerdp rdpdr_process_connect failed with error 1359!"
This error? I'm missing?

[2016-02-19 08:36] sunweaver opened #3142 "please correctly spell "occurred""
The word "occurred" is spelled with double-"r". Please use its correct spelling in FreeRDP...

[mike@minobo FreeRDP (master)]$ grep -ri occured
winpr/libwinpr/comm/comm_serial_sys.c:		/* FIXME: "is 80 percent full" from the specs is ambiguous, need to track when it previously occured? */
winpr/include/winpr/nt.h:#define STATUS_MCA_OCCURED						((NTSTATUS)0xC000036A)
winpr/include/winpr/error.h:#de

[2016-02-19 08:51] hardening commented on #3142
These ones became API typos, but not from us:
winpr/include/winpr/nt.h:#define STATUS_MCA_OCCURED ((NTSTATUS)0xC000036A)
winpr/include/winpr/error.h:#define ERROR_MCA_OCCURED 0x0000028B

see https://www.winehq.org/pipermail/wine-patches/2006-September/030453.html

[2016-02-19 09:03] akallabeth commented on #2520
@ondrejholy There is nearly no conversion done for integer types from network to host byte order and vice versa. You could start to have a look at ```Stream_Read_*``` and ```Stream_Write_*``` functions and try to add conversion there, but it would only be a starting point. No idea how much work it would really be to make the whole lib endianess aware.

[2016-02-19 09:07] akallabeth commented on #3141
@cloudecker Without further information this issue is useless. If you need basic information on how to use FreeRDP please use the mailing list and / or IRC channel first.

[2016-02-19 09:19] akallabeth commented on #2904
@Link-Satonaka Your example has the same issue @jasonblewis wants to avoid (you pass the password with the ```/p:yourpassword``` argument. A more secure way would be to use ```/from-stdin``` and pipe the password to start freerdp (like ```echo password | xfreerdp /v:your.host /u:your_user /from-stdin```)

[2016-02-19 09:22] jasonblewis commented on #2904
yep, I've been doing that and it works fine. should have closed this ages ago. sorry.

[2016-02-19 09:22] #2904 closed

[2016-02-19 09:24] cloudecker commented on #3141
My latest cmake ifreerdp. Ifreerdp has three problems
1, there is no sound redirection
2, when I redirect the clipboard or printer, there will be a 1359 error code
3, RDP connection time over a certain period of time (about 1 hour or so), will be interrupted, the reason for the error:
Rdp_check_fds failed
I then ifreerdp, has done the following Settings:
Settings - > DeviceRedirection = YES;
Setti

[2016-02-19 09:31] akallabeth commented on #3141
@cloudecker iOS client has not seen many updates in recent months, it may be required to adjust / fix support for anything beyond simple RDP connections.

[2016-02-19 10:10] hardening commented on #2520
@akallabeth from the log it looks like Stream_XXX functions are quite safe as @ondrejholy managed to pass the negociation steps. @ondrejholy perhaps you could give a try without compression activated...

[2016-02-19 13:09] Link-Satonaka commented on #2904
@akallabeth ah thanks for the tip, I tried using /from-stdin a while back, but couldn't get it to work before. Seems to be working fine now!

[2016-02-19 16:07] ondrejholy commented on #2520
@hardening Good point, -compression fixes /sec:rdp case though colors are still corrupted. Result with /sec:nla is same as before...

[2016-02-19 16:07] lemonmojo commented on #626
@sconstantine The first Royal TSX V3 beta is now available at https://www.royalapplications.com/ts/osx/features-beta

[2016-02-19 16:12] bmiklautz commented on #626
@lemonmojo @sconstantine please use the Royal TSX forum/list/.. for Royal TSX related stuff.
Thank you.

[2016-02-19 16:16] lemonmojo commented on #626
@bmiklautz Sorry, didn't want to turn this into a Royal TSX thread...

[2016-02-19 16:32] bmiklautz commented on #626
@lemonmojo no prob just mentioned it ;)

[2016-02-19 18:43] humroben opened #3144 "freerdp-shadow-cli failure to authenticate"
I have two Debian systems, Jessie and Stretch. I've compiled FreeRDP as a client an server on both, using all the same configuration options. However, the Jessie system can successfully use the +auth option for the server, but the Stretch system can't. I've supplied the output of connecting to each (I've hidden sensitive data):

**Jessie**
[17:34:25:536] [4200:32530] [INFO][com.freerdp.core.connec

[2016-02-19 19:06] der-eismann commented on #2689
Is there anything new on this issue? I just compiled the latest master build, but I still have to login twice: First when I connect and second when I am redirected.

`auto-reconnect` also doesn't help.

[2016-02-19 20:42] bmiklautz commented on #3144
@humroben did you have libpam0g-dev installed on stretch?

[2016-02-19 23:08] humroben commented on #3144
Yes, that does look to be what I was missing. It might be an idea to add that to the wiki for compiling the freerdp server. I still forget that PAM is used for authentication in Linux, as I rarely think about it.

I might open another thread about audio in the freerdp server, if one doesn't exist, cause I'm still trying to get that to work.

[2016-02-19 23:08] #3144 closed

[2016-02-22 01:47] cloudecker opened #3146 "about mac client"
hi all,
freerdp a framework is obtained by cake to compile a MAC version, but there was no Xcode source code. I use the iOS client source code?

[2016-02-22 02:00] cloudecker commented on #2950
hi, Is your MAC client make freerdp get the source code? or get a MAC framework? Then use the iOS client Xcode source?

[2016-02-22 08:38] akallabeth commented on #3146
@cloudecker Could you repeat the question in english please?

[2016-02-22 11:44] bmiklautz commented on #2950
@cloudecker how's your question related to the issue?

[2016-02-22 11:46] bmiklautz commented on #2950
@puneet101 "owns" is hard to define. I'd say the FreeRDP project. The license is Apache License v2.0 and different people do have the copyright on it (see the source headers).

Regarding your issue the Mac client is basically working but at the moment it isn't very well maintained and no further (as i new features) is done.

[2016-02-22 14:00] bwmarrin commented on #2862
I'm suddenly having this exact same problem. Two weeks ago though this wasn't an issue I've been using this for a few months without any problems.  Went on vacation and came back and now I'm getting this error :(

[code]

[code]

[2016-02-22 14:08] akallabeth commented on #2862
@bwmarrin Could you retry with ```/log-level:TRACE```? It may give additional hints on what is wrong.

[2016-02-22 14:10] bwmarrin commented on #2862
Sure, I also just did a git pull and had the same error with

[code]

[2016-02-22 14:15] bwmarrin commented on #2862
Here you go,

[code]

[2016-02-22 14:19] akallabeth commented on #2862
Hmm, looks like there is some lookup issue involved. I get the same error, if I use a invalid hostname.
Just to be sure, could you connect to the IP of your server directly to rule out hostname lookup issues?

[2016-02-22 14:38] akallabeth commented on #3031
@MrCsabaToth There have been significant improvements for the FreeRDP android build, is this still an issue for you?

[2016-02-22 14:42] bwmarrin commented on #2862
Well, now don't I feel silly.  That's exactly the problem.  Apparently the DNS server has the wrong IP for this host.  With that error looking like something else and finding this issue here... I didn't even think to verify the DNS.

Sorry to waste your time but I do appreciate the help :)

[2016-02-22 14:43] akallabeth commented on #2419
This should be fixed on master since #3097, could anyone confirm?

[2016-02-22 14:45] akallabeth commented on #2776
Should be resolved, closing.
If you re encounter the issue, please let me know.

[2016-02-22 14:45] #2776 closed

[2016-02-22 14:46] #1398 closed

[2016-02-22 14:50] akallabeth commented on #2726
@chrisdavis925 Closing due to lack of feedback. If you still think this is an issue let me know.

[2016-02-22 14:50] #2726 closed

[2016-02-22 14:55] #2501 closed

[2016-02-22 14:56] akallabeth commented on #1004
The argument ```/from-stdin``` is available again on master.

[2016-02-22 14:56] #1004 closed

[2016-02-22 15:00] akallabeth commented on #2862
@bwmarrin No problem, the error is a bit imprecise.

[2016-02-22 15:53] akallabeth commented on #3102
@mithunkundu1983 aFreeRDP has not seen many updates in recent months, starting this year I've updated the native build related stuff, but the java components need some refactoring.

[2016-02-22 15:54] akallabeth commented on #3134
@mithunkundu1983 Could you point out the option that did fix the disconnects for you?

[2016-02-22 16:02] bmiklautz commented on #3142
@hardening it's actually the same spelling as in the windows headers ;)

[2016-02-22 16:04] hardening commented on #3142
@bmiklautz yeah that was my point, we won't correct these ones as it's the way they are supposed to be spelt the microsoft way :)

[2016-02-23 00:51] cloudecker commented on #3146
@akallabeth  I compiled freerdp MAC client, I got a framework, not a MAC client source code. My question, whether the MAC client also uses the iOS client source code?

[2016-02-23 01:03] cloudecker commented on #3146
@akallabeth Compile MAC version freerdp, I get the information as follows. Attached image
![11](https://cloud.githubusercontent.com/assets/16411660/13238198/36f0dd78-da0c-11e5-9bfd-e7f529576441.jpg)

[2016-02-23 01:04] cloudecker commented on #2950
@bmiklautz   I compiled freerdp MAC client, I got a framework, not a MAC client source code. My question, whether the MAC client also uses the iOS client source code?
![11](https://cloud.githubusercontent.com/assets/16411660/13238228/6c8403d4-da0c-11e5-9679-d9cd85cad83a.jpg)

[2016-02-23 03:32] MrCsabaToth commented on #3031
It's much better now! I updated my SO entry in two places some weeks ago following the new guides, now I added this to even two more places! Thanks you! Now I just have to integrate cardboard.jar into the project to complete continue with my project. Probably the culprit of this original issue (error: Error retrieving parent for item: No resource found that matches the given name...) is an indepen

[2016-02-23 07:31] akallabeth commented on #3031
@MrCsabaToth Good to know. Closing the issue.

[2016-02-23 07:31] #3031 closed

[2016-02-23 07:39] akallabeth commented on #3146
@cloudecker The clients are separate (the stuff in ```client/*``` is just the GUI) but they share some code (audio support, etc). But please do not post duplicate questions like in #2950
As for compiliation there is a .app bundle created (```MacFreeRDP.app``` in ```client/Mac/cli```).
The frameworks are built before as the client consists of a couple of them ;)

[2016-02-23 07:43] cloudecker commented on #2950
@akallabeth  thank you!!!

[2016-02-23 07:58] cloudecker commented on #3146
@akallabeth  Thank you for your patience reply.
I mean, mac client only a framework and some GUI layout file. mac  client does not actually run the RDP connection.
In the ios client, there are a lot of RDP connection Settings file. But the MAC client without these files.

[2016-02-23 08:09] akallabeth commented on #3146
@cloudecker The MAC client is very rudimentary, it can only be started with command line, so there is no nice GUI for connection settings. The iOS client on the other hand has such an interface.

[2016-02-23 08:12] cloudecker commented on #3146
@akallabeth  thank  you very much，i will try it again!

[2016-02-23 08:56] #1433 closed

[2016-02-23 10:32] #3146 closed

[2016-02-23 10:41] bmiklautz commented on #2950
@cloudecker please stop adding your quiestions/issues into unrelated issues.

[2016-02-23 14:58] bmiklautz commented on #766
dfreerdp isn't maintained since a while and no further development was done since a while.
See   4d47514428536054d4676610a6bd554193610730 for details.

[2016-02-23 14:58] #766 closed

[2016-02-23 15:34] bmiklautz commented on #749
On master I couldn't observer same/similar artifacts in my tests but the sizes aren't a multiple of four pixes (as @dpoe) suggests therefore it still might cause artifacts.

[2016-02-23 15:36] bmiklautz commented on #153
smartcard has improved a lot since this issue was opened. Closing for new please re-open or create a new issue if there are still problems.

[2016-02-23 15:36] #153 closed

[2016-02-23 15:40] bmiklautz commented on #433
@lemonmojo do you still have reports about this issue? I couldn't reproduce it with any means ;(.

[2016-02-23 15:48] lemonmojo commented on #433
@bmiklautz Yes, it's a rare issue but the last report came in last July. I was also never able to reproduce this on purpose. Of course it always only occurred when I had no chance of debugging...

[2016-02-23 16:02] bmiklautz commented on #433
@lemonmojo thank you for the feedback. So I'll leave the issue open. Hope we get it fixes at some point ;).

[2016-02-23 16:31] bmiklautz commented on #385
@nfedera I think this issue is by now fixed on master.
Can we close it?

[2016-02-23 19:23] #3142 closed

[2016-02-24 05:54] colemickens opened #3153 "Connecting through an RDP Gateway with 2FA results in E_PROXY_TS_CONNECTFAILED"
Built from Git: 7c5fcc9ee2a8d853d5ffaa95d7283dbdf901be06 (Feb 23, 2016 11:23 PST)

I am attempting to connect to my work laptop via a remote desktop gateway. I know that this works using `mstc.exe`.

The gateway is configured to require me to complete a two-factor authentication process (through AzureAD) before it establishes the connection to the gateway. Just as with `mstc.exe`, I get the prompt

[2016-02-24 06:00] colemickens commented on #3153
Oh dear, that wasn't even master. And it worked when I spelled the hostname of the destination machine correctly. Though with an error on the remote machine. I'll follow up. This may be closed soon.

[2016-02-24 06:02] colemickens commented on #3153
Yeah, it's just OneDrive whining at this point which I don't think is likely related to `xfreerdp`. Closing this out as a happy `xfreerdp` user. I can finally rid myself of my Windows machine used just for RDPing. Thanks all.

[2016-02-24 06:02] #3153 closed

[2016-02-24 06:35] colemickens opened #3154 "New tag or release?"
I'd like to use a newer version of FreeRDP in NixOS, but I don't feel comfortable pinning the package to a random git revision of FreeRDP. Is there any chance that FreeRDP would tag a new beta soon? It looks like the most recent relevant tag is from Sept 2014.

Apologies if I've missed a discussion about how releases/tags are handled, I did look around.

[2016-02-24 08:50] bmiklautz commented on #3154
@colemickens please have a look to #2678 or #2839. As described we are working on getting everything ready for 2.0 but as resources are rare there is no fixed schedule.

[2016-02-24 08:50] #3154 closed

[2016-02-24 09:04] bmiklautz opened #3155 "ci: build and run tests on windows"
As some of the tests are interactive on windows they aren't build and run at the moment.

[2016-02-24 13:38] VinodJagtap commented on #2685
Is their any upgradation for arm64 bit support?

[2016-02-24 15:34] bmiklautz commented on #2685
@VinodJagtap @akallabeth has recently done some improvements and updates for the Android build system. arm64 requires openssl 1.1.x  (openssl 1.0.x doesn't officially support arm64) but FreeRDP does only support openssl < 1.1 at the moment.
So it basically should work but you need a "patched" version of openssl 1.0.x.
 @akallabeth correct me if I'm wrong.

[2016-02-25 06:47] ForumSchlampe commented on #2269
Why isnt this fix in the main branch?

[2016-02-25 09:34] hardening commented on #2269
@ForumSchlampe because it was just a fix to test, not the real fix...

[2016-02-25 09:36] cloudecker commented on #433
We are having disconnects too with win7 machines，mac client .
 ERRINFO_DECRYPT_FAILED (0x00001192):
(a) Decryption using Standard RDP Security mechanisms (section 5.3.6) failed.
(b) Session key creation using Standard RDP Security mechanisms (section 5.3.5) failed.
[ERROR][com.freerdp.core] - freerdp_check_fds() failed - 0
then disconnected.

[2016-02-25 10:01] AurimasF commented on #433
Exactly the same error as @cloudecker and disconnect (3 in the last 10 minutes). One of these disconnects was registered in Windows 2003 Event log: Source: TermDD; Event ID: 50
The RDP protocol component "DATA ENCRYPTION" detected an error in the protocol stream and has disconnected the client.

[2016-02-25 14:07] zoccolo opened #3158 "Troubles with compilation for Windows XP from Visual studio 2013 Update 4"
Good day!

I compile freerdp on windows 7 x64 with Visual Studio 2013 Update 4. If i execute wfreerdp.exe on Windows XP SP3 i got the following error:

**Some infos about the compiling:**

- Latest version from git
- CMake version: 2.8.12
- CMake command line: cmake . -DMONOLITHIC_BUILD=ON -DBUILD_SHARED_LIBS=OFF -G “Visual Studio 12″ -T v120_xp -DCMAKE_WINDOWS_VERSION=WINXP -DMSVC_RUNTIME=static

[2016-02-25 14:17] mfleisz commented on #3158
WIN32_WINNT is definitely wrong - it should be _WIN32_WINNT - you are using quite an old version of cmake - maybe you can update to something more recent? (latest is currently 3.4.3)

[2016-02-25 14:36] zoccolo commented on #3158
Thanks for answer, mfleisz!

Now I installed the latest version of cmake. Nevertheless, I still have a lot of errors in synch.h file while compile (and of course i use  _WIN32_WINNT flag instead of WIN32_WINNT). In other words, nothing has changed).

Please tell me whether there is a way to correct build freerdp for Windows XP?

Thank you!

[2016-02-25 15:14] mfleisz commented on #3158
@zoccolo I don't have a XP machine here to check the resulting binary but this command line builds without problem:

```cmake -G "Visual Studio 12 2013" -T v120_xp -D_WIN32_WINNT=0x0501 .```

[2016-02-25 20:15] zoccolo commented on #3158
Yes, cmake works without any problems, but in this case _WIN32_WINNT flag is ignored by cmake:

And compilation process run without any problems. But when I try to run executable file from Windows XP, I have this error:

I think there's a reason for that in this case does not turn on winpr GetTickCount64 code?

Second situation.

If I try to set _WIN32_WINNT manually in cmakelists.txt file, i stil

[2016-02-26 06:18] fedsed commented on #3007
Tell when to expect patches? Really need this feature.

[2016-02-26 07:16] ForumSchlampe commented on #2269
@hardening
yea but the fix works so far and doesnt break anything or did i miss something?

[2016-02-26 07:55] akallabeth commented on #3158
@zoccolo yes, the winpr implementation is not activated and the function is only available from vista onward.

[2016-02-26 08:50] akallabeth commented on #3134
@mithunkundu1983 #3160 fixes an issue with async-update. Can you confirm your issue is with async-update?

[2016-02-26 08:57] akallabeth commented on #3158
@zoccolo You can check ```winpr.dll``` if it exports ```GetTickCount64``` with ```depends.exe```

[2016-02-26 09:00] #2628 closed

[2016-02-26 09:04] akallabeth opened #3162 "Windows 10 GFX support"
Windows 10 comes with AVC444 h264 support for the GFX channel.
https://blogs.msdn.microsoft.com/rds/2016/01/11/remote-desktop-protocol-rdp-10-avch-264-improvements-in-windows-10-and-windows-server-2016-technical-preview/

This mode provides much improved readability for text and contrast.
I've started working on this here: https://github.com/akallabeth/FreeRDP/tree/avc444_support

[2016-02-26 15:50] meanbunny opened #3166 "Sound / Microphone redirection choppy"
Hey All,

1.) I am running Arch Linux with Gnome
2.) Have the latest from master hash (4f22682ed22a1c1202103e30971f5dc23cb16f9d)
3.) Built FreeRDP with Pulse and Alsa
4.) Remoting into a Windows 10 VM running on QEMU
5.) Parameters to my session : +clipboard +aero +menu-anims +window-drag /gdi:sw +fonts /sound:sys:pulse /microphone:sys:pulse

The microphone and the sound both redirect and I can he

[2016-02-26 15:52] akallabeth commented on #3018
Closing due to lack of feedback. Feel free to reopen if the issue still persists.

[2016-02-26 15:52] #3018 closed

[2016-02-26 15:56] akallabeth commented on #2911
@tuomasw Does this issue persistst with current master? Due to recent changes the session should disconnect on connection loss.

[2016-02-26 15:57] akallabeth commented on #2885
Is this still an issue or is it fixd? @Hopedream

[2016-02-26 16:00] akallabeth commented on #2866
@DejavuDmitry I've fixed printer driver settings with #3165 is this still an issue after that fix?

[2016-02-26 16:03] akallabeth commented on #2794
Closing for now, feel free to reopen if the issue persists.

[2016-02-26 16:03] #2794 closed

[2016-02-26 16:05] akallabeth commented on #2819
Looks like windows 10 is the first OS not affected by this bug. Closing due to not-our-fault

[2016-02-26 16:05] #2819 closed

[2016-02-26 16:08] #2771 closed

[2016-02-26 16:08] akallabeth commented on #2760
Can we close this?

[2016-02-26 16:12] piovisqui commented on #2885
I couldn't connect. I was going to try version 2.0, but got stuck in the dependencies.

`(1/2) Installing: libcrypto34-2.2.1-2.10.1 .......................................................................................................................................................................................[done]
(2/2) Installing: libssl33-2.2.1-2.10.1 ......................................

[2016-02-26 16:13] akallabeth commented on #449
Closing due to no activity. Reopen if this is still an issue.

[2016-02-26 16:13] #449 closed

[2016-02-26 16:14] akallabeth commented on #597
Closing due to being ancient. Reopen if this is still the case with 2.0

[2016-02-26 16:14] #597 closed

[2016-02-26 16:15] akallabeth commented on #560
@ipitcher Is this still an issue with master?

[2016-02-26 16:18] akallabeth commented on #891
printf has been replaced by wlog.

[2016-02-26 16:18] #891 closed

[2016-02-26 16:18] #1463 closed

[2016-02-26 16:20] akallabeth commented on #2931
Working on master (tested windows, X11, mac, android)
Can you confirm?

[2016-02-26 16:24] #1568 closed

[2016-02-26 16:25] akallabeth commented on #2427
closing due to lack of feedback.

[2016-02-26 16:25] #2427 closed

[2016-02-26 16:26] #2504 closed

[2016-02-26 16:26] akallabeth commented on #2504
Implemented in current master (scaling command line options)

[2016-02-26 16:28] akallabeth commented on #2353
```exit``` only called from client / server.

[2016-02-26 16:28] #2353 closed

[2016-02-26 16:30] akallabeth commented on #2133
Is this still an issue with current master (2.0)?

[2016-02-26 16:32] akallabeth commented on #2117
Closing, if it is still an issue with current master reopen.

[2016-02-26 16:32] #2117 closed

[2016-02-26 16:36] #1570 closed

[2016-02-26 16:37] #1495 closed

[2016-02-26 16:37] #1517 closed

[2016-02-26 16:39] #1563 closed

[2016-02-26 16:39] akallabeth commented on #1535
Working with master.

[2016-02-26 16:39] #1535 closed

[2016-02-26 16:40] #1541 closed

[2016-02-26 16:41] #1383 closed

[2016-02-26 16:42] #1457 closed

[2016-02-26 16:42] akallabeth commented on #1197
Printer redirection should work with #3165

[2016-02-26 16:44] #1432 closed

[2016-02-26 16:46] akallabeth commented on #981
monolithic is default now.

[2016-02-26 16:46] #981 closed

[2016-02-26 16:46] #1227 closed

[2016-02-26 16:50] akallabeth commented on #2885
@piovisqui Which OS are you using?

[2016-02-26 16:51] akallabeth commented on #2885
@piovisqui Oh, sorry missed the suse part ^^ Do you have openssl installed?

[2016-02-26 18:09] giox069 commented on #2760
Yes, it works, thank you. You can close it.
There is a related issue to test: if you compile with -DWITH_SANITIZE_ADDRESS=on, you will notice that when an authentication error is correctly detected, the library does not correctly deallocate a lot of memory objects.

[2016-02-26 18:46] akallabeth commented on #2760
@giox069 Will have a look at it. Is there already a bug entry for that? Anyway, closing this one as the deallocation stuff is a different matter.

[2016-02-26 18:46] #2760 closed

[2016-02-26 18:50] giox069 commented on #2760
@akallabeth I never opened an issue for that, and never searched.

[2016-02-26 18:56] akallabeth commented on #645
If this is still an issue, please reopen this bug.

[2016-02-26 18:56] #645 closed

[2016-02-26 18:57] akallabeth commented on #567
This has been implemented in current master (freerdp 2.0)

[2016-02-26 18:57] #567 closed

[2016-02-26 18:59] akallabeth commented on #1128
Closing due to inactivity, reopen if still relevant.

[2016-02-26 18:59] #1128 closed

[2016-02-26 21:55] piovisqui commented on #2885
Yes, I have openssl.

[2016-02-27 04:36] realjiangms commented on #3060
I always get black screen too. The shadow server for Win  is very experimental. It seems need DirectX 11 but I don't have such environment. So it just work at protocol level (Connection is OK and operations from client side could be sent to server correctly).

However I always get following error which is different:
[12:31:23:295] [2151744:0020d5a0] [ERROR][com.freerdp.server.shadow.win] - IRDPS
R

[2016-02-27 04:46] realjiangms commented on #3144
@humroben The X11 implementation doesn't implement audio yet. It might be implemented later

[2016-02-27 07:13] realjiangms commented on #2775
We already have hack for MS RDP clients in shadow_client.c. Not sure why it doesn't work for now. I 'm not familiar with rdp clients.
    if (settings->ClientDir && (strcmp(settings->ClientDir, "librdp") == 0))
    {
        /* Hack for Mac/iOS/Android Microsoft RDP clients */

        settings->RemoteFxCodec = FALSE;

        settings->NSCodec = FALSE;
        settings->NSCodecAllowSubsampling =

[2016-02-27 10:42] akallabeth commented on #2885
@piovisqui Which RPM are you using? I see only fedora builds are recent, the suse ones are disabled currently.

[2016-02-27 11:22] #638 closed

[2016-02-27 11:25] akallabeth commented on #990
Is this still an issue? current master should resolve many of these issues.

[2016-02-27 11:25] akallabeth commented on #950
I this still an issue with current master?

[2016-02-27 11:28] akallabeth commented on #904
@hardening Is this fixed or should this remain open?

[2016-02-27 11:28] akallabeth commented on #1311
Is this issue still relevant with current master?

[2016-02-27 11:30] #1248 closed

[2016-02-27 11:31] hardening commented on #904
no idea, I will give a try and let you know, that's 3 years ago !

[2016-02-27 11:33] #1387 closed

[2016-02-27 11:36] #1464 closed

[2016-02-27 11:38] #1606 closed

[2016-02-27 11:39] akallabeth commented on #1587
Implemented with the ```freerdp_abort_connect```

[2016-02-27 11:39] #1587 closed

[2016-02-27 11:40] akallabeth commented on #904
@hardening yea, long time ^^ cleaning up a few stale issues.

[2016-02-27 20:01] mr-wong opened #3170 "Segfault after latest git update"
Hi.

Reverted with 'git reset --hard 7c5fcc9' and all seems fine again. My git reflog now:

output (same with empty params):

[2016-02-27 21:02] akallabeth commented on #3170
@mr-wong Could you compile with debug symbols and run the command with GDB to get some idea where the crash occurs? Just tested here, running as expected.

[2016-02-27 21:33] mr-wong commented on #3170
Here it is. Not sure how correctly I did all:

(gdb) run
Starting program: /usr/local/bin/xfreerdp /u:--- /p:--- /v:---:--- +clipboard -decorations /f /bpp:15 +compression /compression-level:2 +bitmap-cache +offscreen-cache +async-update +aero +fonts /gdi:hw
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7ffff3

[2016-02-27 22:31] akallabeth commented on #3170
@mr-wong Well, type in ```bt``` when the crash occurs, then you get a stack trace.

[2016-02-27 22:37] akallabeth commented on #3170
@mr-wong btw, your git log looks strange, better start wit a clean clone, maybe there is some code left.

[2016-02-27 22:45] mr-wong commented on #3170
I made clean clone too in separate folder, with same result. Left reverted version to use RDP somehow.

Okay, here is stack trace (clean clone):

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ffff3c35700 (LWP 32542)]
0x00007ffff4c68090 in ?? () from /lib/x86_64-linux-gnu/libcrypto.so.1.0.0
(gdb) bt
#0  0x00007ffff4c68090 in ?? () from /lib/x86_64-linux-gnu/libcrypto.

[2016-02-28 01:26] glitchphan commented on #950
I do not have a build environment but if someone were to build it for iOS or Android, I could certainly test. The one in iOS App Store is from 2013 and the one in the Play Store is from 2014.

[2016-02-28 10:12] akallabeth commented on #3170
@mr-wong Ok, got it. Could you try #3171?

[2016-02-28 12:54] mr-wong commented on #3170
@akallabeth Thanks, no crashes now!
Aren't that was caused because I maybe messed with encryption settings on host side? I've configured everything a long time ago and can't remember what exactly changed, but tried to revert as mentioned before (suspend hang). However, no serious issues for last about half year.
(close this issue if you consider necessary)

[2016-02-28 13:55] akallabeth commented on #3170
@mr-wong you triggered a bug introduced with #3156

[2016-02-28 14:07] giox069 commented on #3170
It just happened to me after my last pull: when connecting to Windows 2003 servers. The backtrace output from the address sanitizer is similar to the one of gdb, but not identical:
[code]

[2016-02-28 16:37] akallabeth commented on #3170
@giox069 Does pull #3171 resolve the issue for you too?

[2016-02-28 18:19] akallabeth commented on #3166
@meanbunny Just had a look, the microphone plugin ignores the command line, could you try with a build only supporting alsa and one only supporting pulse to see which backend has these issues?

[2016-02-28 18:57] akallabeth commented on #3166
@meanbunny Fixed the argument parsing witn #3173 so now you can check which backend (or all?) have this issue.

[2016-02-28 19:01] akallabeth commented on #3030
@freerdp-github Does this issue persist after #3015 has been merged?

[2016-02-28 19:08] akallabeth commented on #2666
Duplicate of #2680

[2016-02-28 19:08] #2666 closed

[2016-02-28 19:25] meanbunny commented on #3166
Yeah sure let me do that, i'll post the feedback here in a little while

Thanks,
Steven Combs
Meanbunny LLC, Owner
423-799-0365

On Sun, Feb 28, 2016 at 1:20 PM, akallabeth <notifications@github.com>
wrote:

[2016-02-28 19:25] meanbunny commented on #3166
Awesome!

Thanks,
Steven Combs
Meanbunny LLC, Owner
423-799-0365

On Sun, Feb 28, 2016 at 1:57 PM, akallabeth <notifications@github.com>
wrote:

[2016-02-28 19:53] giox069 commented on #3170
Yes, PR #3171 does solve it.

[2016-02-28 20:20] hendwolt opened #3174 "openSUSE: build of wayland client fails with: wayland-client.h: No such file or directory"
I try to build the current master as of 27. February with "-DWITH_WAYLAND=ON" but it fails:
`[   66s] [ 95%] Building C object client/X11/CMakeFiles/xfreerdp-client.dir/xf_gdi.c.o
[   66s] In file included from /home/abuild/rpmbuild/BUILD/FreeRDP-master/client/Wayland/wlf_input.h:25:0,
[   66s]                  from /home/abuild/rpmbuild/BUILD/FreeRDP-master/client/Wayland/wlf_input.c:26:
[   66s]

[2016-02-28 20:32] akallabeth commented on #3166
@meanbunny You're welcome. Does it work now?

[2016-02-28 22:12] meanbunny commented on #3166
Sorry for the late reply. So I just did a quick make with FreeRDP only including Alsa no Pulse in the build configuration. It is actually failing to redirect my mic for some reason. I can RDP into the Windows machine; however, as soon as I open up the tray applet for Sound and click on the Recording tab (microphone tab). It kills the session and says the following. About to build pulse only and se

[2016-02-28 22:17] meanbunny commented on #3166
Just built it with Pulse only, it let me get back into the RDP session. Placed a call using Skype and it was very choppy. Sounds like I probably hear about 1 letter out of each word.

[2016-02-28 23:39] piovisqui commented on #2885
I downloaded this: https://ci.freerdp.com/view/Packaging/job/freerdp-nightly-rpm-mock/architecture=x86_64,distribution=23,label=pkg-rpm-mock/lastSuccessfulBuild/artifact/freerdp-nightly-2.0-0+0%7E20160227033815.180%7E1.git9d21117.x86_64.rpm
From this page: https://ci.freerdp.com/view/Packaging/job/freerdp-nightly-rpm-mock/architecture=x86_64,distribution=23,label=pkg-rpm-mock/

[2016-02-28 23:58] akallabeth commented on #2885
@piovisqui So you are using the fedora builds on suse? Better try to compile yourself, the redhat world is quite different from suse...

[2016-02-29 07:02] akallabeth commented on #3166
@meanbunny your test 1 was using the oss plugin, not alsa. so you have tested 2 out of 3 now ^^

[2016-02-29 08:12] akallabeth commented on #600
@hardening @bmiklautz Any news on this?

[2016-02-29 08:16] akallabeth commented on #3007
Does my pull work for you?

[2016-02-29 08:17] akallabeth commented on #2382
Fixed with #3165

[2016-02-29 08:18] akallabeth commented on #2382
#2269

[2016-02-29 08:18] #2382 closed

[2016-02-29 08:18] hardening commented on #600
AFAICT it has been fixed, but feel free to reopen if the bug still occurs.

[2016-02-29 08:18] #600 closed

[2016-02-29 08:19] akallabeth commented on #2133
Fixed command line parsing with #3172, looks like it was always using pulse.

[2016-02-29 08:21] akallabeth commented on #837
The build system has been improved a lot since the last comment, closing. If there are still issues reopen.

[2016-02-29 08:21] #837 closed

[2016-02-29 08:24] akallabeth commented on #1540
Tested on debian jessie, working with alsa and pulse.

[2016-02-29 08:24] #1540 closed

[2016-02-29 08:25] #2944 closed

[2016-02-29 08:28] akallabeth commented on #2078
@dd-jacks USB redirection has some issues, I've began to refactor the code starting witn #3175, feedback welcome.

[2016-02-29 08:30] akallabeth commented on #2085
Any news on this one?

[2016-02-29 08:31] akallabeth commented on #1899
https://github.com/FreeRDP/FreeRDP/wiki/Prebuilds

[2016-02-29 08:32] akallabeth commented on #1898
I've started refactoring the code with #3175 any feedback welcome.

[2016-02-29 08:33] akallabeth commented on #1452
I've started refactoring the code with #3175 hoping to improve the situation.

[2016-02-29 08:48] avollmerhaus commented on #990
I tried and were unable to reproduce. (using 1.2.1_pre20150326-r1 from Gentoos Portage system)

[2016-02-29 08:48] #990 closed

[2016-02-29 09:19] giox069 commented on #2085
It's very old. I never had a similar problem in the last 1.5 years. I think you can close it.

[2016-02-29 09:31] #2269 closed

[2016-02-29 09:40] #2085 closed

[2016-02-29 10:06] pascalBokBok commented on #1899
@akallabeth Thanks :+1:
BTW. back then, after removing the sound and disk redirection the problem disappeared...
I think we should close this bug since there is very little tangible information about the crash

[2016-02-29 10:06] #1899 closed

[2016-02-29 10:24] fedsed commented on #3007
System: Ubuntu 14.04 Linux lxmsk38 3.13.0-77-generic #121-Ubuntu SMP Wed Jan 20 10:50:59 UTC 2016 i686 i686 i686 GNU/Linux

Download last github master.zip.

Compile switch:
cmake -DWITH_WAYLAND=OFF -DCMAKE_INSTALL_PREFIX=/opt/freerdp2 -DWITH_CUPS=ON -DWITH_CHANNELS=ON -DSTATIC_CHANNELS=ON -DCHANNEL_URBDRC=ON -DCHANNEL_URBDRC_CLIENT=ON -DWITH_GSTREAMER_1_0=OFF .

Run command:
/opt/freerdp2/bin/xfr

[2016-02-29 11:09] akallabeth commented on #3007
@fedsed Please test with pull #3171 merged, there is a known regression introduced with #3156 or wait until it has been reviewed and merged to master.

[2016-02-29 11:10] bmiklautz commented on #981
Also the .pc files where split into freerdp, freerdp-server freerdp-client and winpr. Always with the proper major version for example freerdp2 for API version 2.

[2016-02-29 11:55] fedsed commented on #3007
Include #3171.

Run command:
/opt/freerdp2/bin/xfreerdp +clipboard /sec:rdp /v:ferma.domain.local /printer:HP-LaserJet-4050,"HP LaserJet 4050 Series PCL6"

Printer redirected with the right drivers. Print test page OK.

Thank you for your work!

[2016-02-29 11:57] akallabeth commented on #3007
@fedsed Good to know it works now :)
closing as resolved.

[2016-02-29 11:57] #3007 closed

[2016-02-29 13:28] meanbunny commented on #3166
Ah gotcha, I didn't even know that was another option. So I removed that from the build configuration and rebuilt. I was able to get into the machine with no problem this time.

When I did the call using Skype Alsa was worse than Pulse. At first I could at least here a letter or so within the word but then the call just overrode with flutters of sound and I couldn't here anything on the other end.

[2016-02-29 13:49] Hobby-Student commented on #3166
@meanbunny have you tried
[code]
?

[2016-02-29 16:26] akallabeth commented on #3170
fix merged.

[2016-02-29 16:26] #3170 closed

[2016-02-29 16:30] bmiklautz commented on #2885
@akallabeth @piovisqui we do (did) basically have builds for opensuse https://ci.freerdp.com/job/freerdp-nightly-rpm-build/ - however I didn't come around to fix the build after the update to leap 42.1. But's on my list.
In the meanwhile you can try one of the older builds - they are still more recent than 1.x

[2016-02-29 16:53] hardening commented on #904
I have tested again and I don't see that behaviour, closing.

[2016-02-29 16:53] #904 closed

[2016-02-29 17:13] giovannitarter commented on #3166
I sperimented a similar problem. Audio playback is almost fine but audio recording is really choppy. With audacity, when I record for example 5 seconds, I get an audio track of 1 second (more or less). Then the playback is accelerated and chopped.

Thanks,
Giovanni

[2016-02-29 17:38] zoccolo commented on #3158
@akallabeth yes, and i don't understand how to fix it up.

Cause when i try to compile freerdp without _WIN32_WINNT i have not errors, but this executable can't run on Windows XP.

And when i try to compile it with _WIN32_WINNT, i have many errors.

=(

Is there an easy way to compile freerdp under windows XP?

[2016-02-29 20:29] meanbunny commented on #3166
@Hobby-Student that actually fixed my problem. I used my Pulse compiled
FreeRDP and added that in as a parameter and it worked. I can now Skype
screen share and video call inside my VM. Thank you!!

Thanks,
Steven Combs
Meanbunny LLC, Owner
423-799-0365

On Mon, Feb 29, 2016 at 8:49 AM, Hobby-Student <notifications@github.com>
wrote:

[2016-02-29 20:47] #3166 closed

[2016-03-01 07:52] awdAvenger commented on #3139
I can also note that the connection works fine with the 'rdesktop' utility.

[2016-03-01 08:12] DejavuDmitry commented on #2866
@akallabeth But this will take some time, it is necessary to test.  I will check this, thank you.

[2016-03-01 08:41] bmiklautz commented on #3139
@awdAvenger i this via a gateway? Otherwise /gt wont bring anything. I just tested against a windows 10 test machine and did't see this problem.
Can you check if you see any error in the windows log after connecting? Also it might help us if you run xfreerdp with the environment variable WLOG_LEVEL set to DEBUG:
[code]

[2016-03-01 08:44] bmiklautz commented on #3158
@zoccolo can you quickly verify if our nightly build https://ci.freerdp.com/job/freerdp-nightly-windows/arch=win32,label=windows/lastSuccessfulBuild/artifact/build/wfreerdp.exe works for you?

[2016-03-01 08:50] nfedera commented on #3139
Also no issue here connecting to Windows 10 V.1511 Build 10586.104, neither with 2a3e999 nor with current master (b4b8239)

[2016-03-01 08:50] awdAvenger commented on #3139
This is not though a gateway, it's just a simple Win 10 Pro laptop, connected to a domain.

The output from xfreerdp with DEBUG is:

$ WLOG_LEVEL=DEBUG xfreerdp /u:JOTRON\\knutid /v:knutid-laptop
[09:44:47:990] [10115:10115] [DEBUG][com.freerdp.client.common.cmdline] - windows: 0/1 posix: -1000/0 compat: 1/0
[09:44:47:993] [10115:10116] [DEBUG][com.freerdp.client.x11] - Searching for XInput pointe

[2016-03-01 08:54] nfedera commented on #3139
Shoudn't you escape the domain separator?  Maybe simply try `xfreerdp /u:knutid /d:JOTRON`

[2016-03-01 09:01] awdAvenger commented on #3139
I actually did escape it, not sure why that didn't show on the pasting. I tried with /d: as well, but it still doesn't work and I don't think it's directly related to authentication credentials, as Windows says it has authenticated successfully.

[2016-03-01 09:02] #385 closed

[2016-03-01 09:06] nfedera commented on #3139
Since you have a working and non-working revision you could use [git bisect](https://git-scm.com/book/en/v2/Git-Tools-Debugging-with-Git#Binary-Search) to identify the bad commit.

[2016-03-01 09:15] awdAvenger commented on #3139
Well, they are different applications, I know freerdp is a fork of rdesktop, but I think going back that far probably won't be helpful?

I compared Wireshark output of rdesktop and freerdp and found that both receive the same RST from Windows, but the rdesktop application then initiates another connection which then proceeds to complete the connection process. I cannot make much sense of the actua

[2016-03-01 09:18] bmiklautz commented on #3139
@awdAvenger just to clarify FreeRDP < 1.0 was initially a fork but with 1.0 FreeRDP it was completely rewritten from scratch.
Regarding your problem can you try with /sec:rdp and/or with /sec:tls?

[2016-03-01 09:23] awdAvenger commented on #3139
With /src:rdp and /sec:tls it works!

[2016-03-01 09:29] bmiklautz commented on #3139
@awdAvenger so it seems that there is a problem with NLA in your case.

[2016-03-01 11:04] awdAvenger commented on #3139
So it would appear. I can work with the other security protocols, so thanks a lot for your help. If you decide to track down this issue more, let me know if you need some additional information.

[2016-03-01 11:06] bmiklautz commented on #3139
@awdAvenger may I ask what client you are on (distribution, system architecture)?

[2016-03-01 11:07] nfedera commented on #3139
@awdAvenger Do you also have the issue if you log on as a local user instead of a domain user? (Use something like `xfreerdp /u:knutid /d:knutid-laptop /v:knutid-laptop`. Also what have you configured in System Properties -> Remote Tab ?

[2016-03-01 11:43] zoccolo commented on #3158
@bmiklautz

or you have offered to build your version?

[2016-03-01 11:54] nfedera commented on #3139
@awdAvenger You might also want to post a registry dump of the following key: `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp`

[2016-03-01 12:09] bmiklautz commented on #3158
@zoccolo that is really weird using the daily builds quite regularly. Just tried the link from above works fine for me ;(.

[2016-03-01 12:13] awdAvenger commented on #3139
I am on Arch Linux 64 bit, I used the package in the repositories, but I also tried to build the package from git. I tried to downgrade the package but it did not help, so I am pretty confident that that the change happened on the Windows side, unless a library freerdp depends on changed.

In the remote settings I have allowed remote connections and have not checked the 'Allow connections only fro

[2016-03-01 12:20] bmiklautz commented on #3158
@zoccolo correction works fine for me everywhere except on xp ;).

[2016-03-01 12:24] zoccolo commented on #3158
... and it is the main problem =\

[2016-03-01 12:29] mfleisz commented on #3158
AFAIK the CI build is being built with Visual Studio 2013 and therefore won't run on XP: https://blogs.msdn.microsoft.com/vcblog/2012/06/15/targeting-windows-xp-with-c-in-visual-studio-2012/

I start to think that there is a problem with certain MS SDK/Compiler combos - when I try to build with _WIN32_WINNT=0x0501 I also get lots of errors due to InitializeCriticalSectionEx being redefined by WinP

[2016-03-01 12:30] bmiklautz commented on #3158
@mfleisz Visual Studio 2013 yes but the problem here is that we use nmake/jom builder and ther you can't set the subsystem ;(. (I thought I updated it back then but seems I didn't).

[2016-03-01 12:31] bmiklautz commented on #3158
@mfleisz you are saying the SDK is broken in that case?

[2016-03-01 12:49] nfedera commented on #3139
@awdAvenger thx, this reg key is fine. However, if it works with a local user you seem to have some domain policies in place. Ask your Domain Administrator and/or run `rsop.msc` (elevated) to check the applied policies. Concentrate on entries under Computer Configuration -> Administrative Templates -> Windows Compnents -> Remote Desktop Services

[2016-03-01 12:54] HenryJacques commented on #3139
@awdAvenger @nfedera
I've already encountered such behaviour and indeed it had something to do with session allowed only on specific workstations.

In **dsa.msc** -> User properties window -> Account Tab -> Log on to

See
https://msdn.microsoft.com/en-us/library/bb742516.kerb02_big%28l=en-us%29.gif
and
http://windowsitpro.com/site-files/windowsitpro.com/files/archive/windowsitpro.com/content/conte

[2016-03-01 13:17] nfedera commented on #3139
@HenryJacques Thanks! Confirmed. @awdAvenger can you also confirm that this setting is enabled for your user? @HenryJacques However, even with Windows mstsc I'm not able to login via NLA if "Logon to .." is configured.

[2016-03-01 13:21] mfleisz commented on #3158
@bmiklautz Seems so ... the Win8 SDK headers have a correct definition (>= 0x0600).

[2016-03-01 13:22] mfleisz commented on #3158
@bmiklautz I guess this is a special case where this error becomes obvious - because we define the function if it is not present - normal apps would compile just fine (even though they would also compile if they incorrectly referenced InitializeCriticalSectionEx)

[2016-03-01 13:22] awdAvenger commented on #3139
I will try to check the user settings for my user. In the mean time, I can tell that I don't know if rdesktop used NLA at all. And the remote client on windows that worked was on Windows XP, and I don't think NLA is supported on that either.

[2016-03-01 13:30] HenryJacques commented on #3139
@nfedera with mstsc I cannot use NLA myself.
What kind of error do you have?
I've created a rdp file to configure specific option with mstsc:
- with **negotiate security layer:i:0** I get an error message and cannot connect at all
- with **negotiate security layer:i:1** I get no error, the remote session starts but do not automatically login. Instead I have the Windows session prompt. I have to re

[2016-03-01 13:34] HenryJacques commented on #3139
@awdAvenger rdesktop doesn't support NLA.
Windows XP SP3 supports NLA but not from scratch, you have to do a special configuration.
See https://support.microsoft.com/en-en/kb/951608

[2016-03-01 13:48] HenryJacques commented on #3139
@nfedera to complete my previous post, I ran a wireshark session and I saw that mstc talks directly to the DC. I get a Kerberos Error (STATUS_INVALID_WORKSTATION) **in both cases**.
If **negotiate security layer:i:1** is set, it only fall back to standard RDP security.

![krb](https://cloud.githubusercontent.com/assets/11716929/13428679/52ffbfd8-dfbc-11e5-8f83-c7f2372c3eb2.png)

[2016-03-01 14:20] nfedera commented on #3139
@HenryJacques mstsc under Windows 10 shows better error messages. If I rdp from Windows 10 domain workstation A to win10 domain workstation B and the user has only A in the "Logon to" list mstsc reports: `The system administrator has limited the computers you can log on with. Try logging on at a different computer``. This does not seem to make any sense because the computer B **is** in the list. I

[2016-03-01 14:42] nfedera commented on #3139
It even works for non-domain, non-windows clients. If I add both, the target computer (in domain) and the dns name of a (non domain) linux machine, to a user's "Logon To ..." list in dsa.msc,  xfreerdp /sec:nla from this linux pc to that windows 10 domain computer works perfectly fine.

So I guess we can close this issue - @awdAvenger ok ?

[2016-03-01 14:50] HenryJacques commented on #3139
@nfedera great finding! I'd never had thought to put the A computer in the allowed workstations list. Maybe in Microsoft's mind if you want to login on B and you're logged on A (with the same account though), you have to be able to open a session on A first...

I also have the same conclusion concerning your very last post, I can make it work with Linux and xfreerdp. If I put the hostname of my li

[2016-03-01 14:56] nfedera commented on #3139
@HenryJacques elaborate on the last sentence. There is no /hostname: option

[2016-03-01 15:09] HenryJacques commented on #3139
@nfedera sorry ;) I meant the /client-hostname: option

[2016-03-01 15:15] nfedera commented on #3139
@HenryJacques Ok, you were trying to fake it. It would have been embarrassing (for MS) if that actually worked. I don't think this is a bug ;)

[2016-03-01 15:19] HenryJacques commented on #3139
@nfedera Ok, this option is just meant as a fake? I used it in conjunction with the /drive: so that there is "friendly" name.
So, this is a normal behaviour for you?

[2016-03-01 15:33] #2858 closed

[2016-03-01 15:48] nfedera commented on #3139
@HenryJacques In the client core data block (https://msdn.microsoft.com/en-us/library/cc240510.aspx)  you can see the clientName field which is describe as "name of the client computer.".  FreeRDP sets this value to the hostname [here](https://github.com/FreeRDP/FreeRDP/blob/b4b8239bf642a6cc41b2558e55be1b44577aa5dd/libfreerdp/core/settings.c#L353) and overwrites it [here](https://github.com/FreeRD

[2016-03-01 15:52] bmiklautz commented on #3139
Seems that this is not a FreeRDP bug, closing this issue.
@awdAvenger if it turns out it wasn't the problem you where hitting please re-open.

[2016-03-01 15:52] #3139 closed

[2016-03-01 16:04] HenryJacques commented on #3139
@nfedera thanks for the clarification!

[2016-03-01 20:15] hardening commented on #3174
This looks good to me, can you make a PR of this ?

[2016-03-01 20:55] hendwolt commented on #3174
I created my very first PR : #3178.

[2016-03-02 08:34] akallabeth commented on #1245
Closing due to lack of activity.

[2016-03-02 08:34] #1245 closed

[2016-03-02 11:48] timomenger opened #3180 "FreeRDP - connection termination"
Hello,

we're using RemoteApp to connect to some Apps via VPN. Connection is established from Igel Thin Clients with an implemented Igel RDP Client (based on Free RDP Client 1.1).

Unfortunately there are severall disconnects during a working day and we don't have any starting points to resolve this issue. This is what we've done so far:

Now, we used the FreeRDP Debugger to log the Errors, and th

[2016-03-02 12:34] bmiklautz commented on #3180
@timomenger if it's the Igel RDP you should contact the Igel support. Or can you replace the RDP Client with something self build?

[2016-03-02 12:52] timomenger commented on #3180
@bmiklautz  Thanks for your answer. We have already contact the Igel support. But we are looking independently for the solution.

[2016-03-02 13:23] bmiklautz commented on #3180
@timomenger I think there isn't much we can do in this case. 1.1 does (unfortunately) not say very much without a git tag. So one can't even easily get started to look for the problem. What you can do is to test if the current master fixes this problem for you.

[2016-03-02 13:23] #3180 closed

[2016-03-02 20:21] hendwolt commented on #3174
Fixed with merge of #3178.

[2016-03-02 20:21] #3174 closed

[2016-03-03 03:59] jackdozier opened #3185 "Connection spins when attempting to connect through gateway server"
Using FreeRDP version 2.0.0-dev (git 9afa928)
CentOS Linux release 7.2.1511 (Core) x86_64

Trying to connect to Windows 10 behind a gateway. I'm not sure of the version of the gateway server. Software prompts for gateway password and performs handshake. Connection hangs with high cpu usage after debug output says "Tunnel response received". (Full command line and output below.)

Narrowed issue to

[2016-03-03 07:27] akallabeth commented on #3185
@jackdozier nice find, looks like I messed up the size of the packet. will have a look into that!

[2016-03-03 07:47] AurimasF opened #3186 "Unable to connect to some Windows 2003 servers"
git bisect shows:
1b2b1c4ac14ac43f4e475488763d8659bd934eb6 is the first bad commit
commit 1b2b1c4ac14ac43f4e475488763d8659bd934eb6
Author: David FORT <contact@hardening-consulting.com>
Date:   Thu Feb 18 14:19:36 2016 +0100

    Add support for saveSessionInfo PDU

    This patch adds some callbacks so that the client can have access to the informations
    stored in this packet. Server-side imple

[2016-03-03 08:15] hardening commented on #3185
I'm quite bothered that a bug in packet forgery causes 100% CPU, this smells like some piece of code is doing busy waiting somewhere, isn't it ?

[2016-03-03 09:07] hardening commented on #3186
Definitely my fault
Any chance you can put some breakpoint in  libfreerdp/core/info.c to see where it fails in rdp_recv_save_session_info() ?
I don't have a 2003 server to test, so...

[2016-03-03 09:39] akallabeth commented on #3185
@hardening True, this smells like the error handling needs some tweaks

[2016-03-03 09:45] AurimasF commented on #3186
I tried:
./client/X11/xfreerdp -wallpaper -themes +clipboard +heartbeat +auto-reconnect +compression /f /bpp:16 /kbd:US /v:srvt /u:Administrator
sudo gdb -p `pidof xfreerdp`
break  libfreerdp/core/info.c:rdp_recv_save_session_info
Then I log in into the server.

Breakpoint is hit, but now only mouse works, keyboard doesn't. I assume every keypress still goes to xfreerdp. How to avoid this problem?

[2016-03-03 10:00] weberhofer opened #3188 "shared-lib-calls-exit: uwac/libuwac/uwac-utils.c"
`Exit()` must not be called in a shared library. Instead allocation failures should be handled in the calling functions `uwac-input.c` and `uwac-display.c`

`void *xzalloc(size_t s)` is not used at all.

[2016-03-03 10:00] antenore opened #3189 "Compile fails on FreeBSD due to "undeclared identifier 'UTIME_OMIT'""
Compiling FreeRDP on FreeBSD, with the latest commits, fails with the following errors:

[code]

Is it possible to avoid the UTIME_OMIT identifier (at least on FreeBSD) ?
What about the C99 warning? Can we safely ignore it?

@akallabeth I'm not sure I can find a quick fix as quickly as you would..  Thanks in advance!!!

[2016-03-03 10:01] antenore commented on #3189
@giox069 FYI

[2016-03-03 10:04] hardening commented on #3186
It's because xfreerdp grabs the keyboard. You can either use a graphical debugger or comment out calls to XGrabKeyboard in clients/X11/xf_event.c

[2016-03-03 10:12] weberhofer opened #3190 "/usr/lib/freerdp directory should be versioned"
To allow installation of multiple versions of the library, also the name of the /usr/lib/freerdp directory should be versioned.

[2016-03-03 10:21] akallabeth commented on #3189
@antenore Don't have a bsd to test here right now, could you check if the attached patch works for you?
[0001-BSD-test-fix.patch.zip](https://github.com/FreeRDP/FreeRDP/files/156552/0001-BSD-test-fix.patch.zip)

[2016-03-03 10:21] hardening commented on #3188
True, anyway these ones are quite tricky to handle correctly as they are called in a void callback called by wayland.
I will have a look to see how I can remove these.

[2016-03-03 10:32] AurimasF commented on #3186
Commenting out calls to XGrabKeyboard worked. Thank you @hardening

Excerpts from the debug session:
855                             status = rdp_recv_logon_info_v2(rdp, s, &logonInfo);
print status
$6 = false

713             Stream_Read_UINT32(s, cbUserName); /* cbUserName (4 bytes) */
(gdb) print cbUserName
$19 = 0

725             if (!info->username)
print info->username
$23 = 0x0

The server

[2016-03-03 10:35] antenore commented on #3189
Thanks! :+1:
I'll do it this evening (CET).

[2016-03-03 10:35] hardening commented on #3186
@AurimasF ok, pushing a patch for this.

[2016-03-03 10:47] hardening commented on #3186
@AurimasF can you try https://github.com/FreeRDP/FreeRDP/pull/3191 ?

[2016-03-03 11:13] AurimasF commented on #3186
#3191 fixes the problem.

[2016-03-03 12:09] #3186 closed

[2016-03-03 12:54] #3190 closed

[2016-03-03 13:10] weberhofer commented on #3188
I'm sure it's tricky. I had a look at the sources...

[2016-03-03 13:30] VinodJagtap opened #3193 "ifreeRDP :Connection Failure while connecting to Windows server 2012 r2"
Mac OS X 10.11
Xcode 7.2
ios 9.2
I am using latest freeRDP code but getting error while connecting to windows server 2k12 r2 with correct credetials..

2016-03-03 18:47:00.205 iFreeRDP[14247:376806] Reachability Flag Status: -R ------- networkStatusForFlags
[18:47:02:009] [14247:b029b000] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_AUTHENTICATION_FAILED [0x20009]
[18:47:02:009] [

[2016-03-03 14:11] jackdozier commented on #3185
@akallabeth Newest git pull works for me. (git 167fd47) Thanks!

@hardening @akallabeth I was concerned by the 100% CPU too and narrowed it down to the rdg_receive_packet function. It seems to be continuously looping in the while loop polling BIO_read, getting a status of zero and then repeating. At this point, I assume the server has dropped or reset the connection, but the client is never going

[2016-03-03 14:11] #3185 closed

[2016-03-03 14:24] giox069 commented on #3185
Just to add my comments on "busy loops": some months ago I discovered one. Take a look at `master/libfreerdp/core/connection.c`, the following lines:
[code]
I did not tested it recently... but I can think rdp_check_fds(rdp) is a nonblocking function, and thus this is a busy loop. I remember I have placed a printf inside and seen some hundred of output lines...

[2016-03-03 14:41] Alysko commented on #2504
Great :+1:

[2016-03-03 15:09] VinodJagtap commented on #3193
I solved this problem...just changed the security settings...

[2016-03-03 15:09] #3193 closed

[2016-03-03 15:42] weberhofer opened #3195 "Error when opening RDP session with sound enabled"
With a newly built version I get the following error opening an RDP session to windows (using remmina) having sound enabled.

[ERROR][com.winpr.library] - GetProcAddress: could not find procedure freerdp_rdpsnd_client_subsystem_entry: /usr/lib64/freerdp2/librdpsnd-client-alsa.so: undefined symbol: freerdp_rdpsnd_client_subsystem_entry

It might be related to the change in #3192.

[2016-03-03 15:58] bmiklautz commented on #3195
@weberhofer I doubt that. As it seems to find the path :). I would guess that this is related to a recent chance with static channels. (I assume you've built with -DSTATIC_CHANNELS=OFF?

[2016-03-03 16:22] weberhofer commented on #3195
You are right, I have built with 've built with -DSTATIC_CHANNELS=OFF.

[2016-03-03 16:24] bmiklautz commented on #3195
Will be fixed with #3196

[2016-03-03 16:24] #3195 closed

[2016-03-03 18:47] jackdozier commented on #3185
I found other examples of BIO_read in libfreerdp/core/gateway/rdg.c and they call a BIO_should_retry function to decide whether it's a temporary or permanent error. I took a stab at adding the functionality to the two BIO_reads in the rdg_receive_packet function. It required adding an else statement to rdg_out_channel_recv. It stops the busy loop on my test case with the malformed packet.

[0001-A

[2016-03-03 23:37] antenore commented on #3189
I've modified it a little bit and I still have a warning because I don't know well how to fix it

[0001-BSD-test-fix_antenore.patch.gz](https://github.com/FreeRDP/FreeRDP/files/157859/0001-BSD-test-fix_antenore.patch.gz)

[code]
http://www.unix.com/man-page/freebsd/2/futimes/

futimes expect timeval

More over my patch I think it brakes the rest of your code :-(

At least FreeBSD is compiled at th

[2016-03-04 08:03] VinodJagtap opened #3197 "ifreeRDP:Shift and Ext buttons are not working..."
when tried ifreeRDP using ipad simulator shift is not visible and advanced keyboard also invisible...

[2016-03-04 08:16] nikolay-n commented on #3137
I have the same issue but in my case it doesn't matter which monitors I choose (0,1 or 2) Windows 7 sees the display always as one large desktop.
[code]

[code]

[2016-03-04 08:26] akallabeth commented on #3189
@antenore ah, then I know which ones I can use ^^ Just checked the online manuals, looks like FreeBSD is the only one lacking POSIX ```futimens``` support *except for apple and android of course)
Got a fix here: https://github.com/akallabeth/FreeRDP/tree/file_bsd_fix

[2016-03-04 10:18] bmiklautz opened #3198 "regenerate timezones"
After #1726 was merged the timezones should be re-generated in order to contain the proper data.

[2016-03-04 10:22] antenore commented on #3189
Thanks! I don't know when I'll be able to test it, I hope very soon

[2016-03-04 10:25] bmiklautz commented on #2219
@mfernau any update on this from your side?

[2016-03-04 10:32] nfedera commented on #3186
@AurimasF what tis the difference between these 2003 servers? It would be great if you could provide the following infos for both servers:
- exact windows version (edition, major minor build, service pack)
- joined to domain ?
- is the terminal server role/component installed ?

Start -> run -> tscc.msc
- Any difference between the servers under Server Settings ?
- Double-click the RDP-Tcp propert

[2016-03-04 11:07] AurimasF commented on #3186
@nfedera:
First server (error):
- Windows Server 2003 64-bit (Version 5.2 (Build 3790.srv03_sp2_qfe.150316-2035 : Service Pack 2)
- Joined to domain
- Terminal server installed
- Server Settings identical
- RDP-Tcp differences:
 - Override user settings (checked): Disconnect from session
 - Connect client printers at logon (unchecked)
 - Default to main client printer (unchecked)
 - Limit Maximum

[2016-03-04 11:58] VinodJagtap commented on #2606
What is the progress now....Is it working fine?

[2016-03-04 13:21] HenryJacques opened #3199 "/cert-ignore is not applied when using rdp file with authentication level set"
Hello,

With latest master, this is what I get using xfreerdp and a rdp file to connect to a Windows 2012-R2 RDS farm:

the culprit is the `authentication level:i:2` in the rdp file.
If set to 1 or 2, it fails with the following error.
If set to 0, there is no error.

But I have set /cert-ignore in my command line, which is ignored.

[14:14:07:962] [20529:20530] [INFO][com.freerdp.client.common.cm

[2016-03-04 14:19] VinodJagtap commented on #3197
Any guidelines for coding?

[2016-03-04 15:13] nfedera commented on #3186
@AurimasF awesome! Thanks a lot for the effort. Unfortunately even after recreating all your settings the cbDomain and cbUsername fields are still always non-zero.

[2016-03-04 21:15] zoccolo commented on #3158
@mfleisz
@bmiklautz

So... Is there a way to compile code under XP, to get a running program? =)

Should I try to use different versions of Microsoft Visual Studio?

[2016-03-04 22:58] antenore commented on #3189
I'm testing and trying to fix as well.

https://github.com/antenore/FreeRDP/commit/cb990e8c1ead0b0f6970d66f00b9cd2b6ad7a5ea

So far I'm trying to fix this:

[code]

[2016-03-05 17:42] pplanel opened #3201 "Implement auth-only in Python"
This is a very nice repository! Good job all!
My question is, if I want to implement the auth-only functionality in Python, where should I look at?
Thanks!

[2016-03-06 11:45] mfernau commented on #2219
I've just updated to the nightly builds and it looks promising. No async state so far!

[2016-03-06 13:27] akallabeth commented on #3085
@T3N4K4 Looks like you are missing some symbol (```inflateEnd```) in the tsmf decoder library. No idea how that one did end up there. Could you retry with current master?

[2016-03-07 03:39] kerbymart opened #3203 "Android aFreeRDP client too slow"
Compared to the Windows client, the android app is very slow and barely usable even on LAN connections.

[2016-03-07 07:24] akallabeth commented on #3203
android client is currently lacking hardware support.
to ease your problems check the resolution settings, if I remember correctly it is using native by default which usually is way too high

[2016-03-07 07:37] HenryJacques commented on #2810
@bmiklautz I confirm this issue with latest master and yes it only happens with rdp files that have `authentication level:i:[1|2]` (see #3199)

[2016-03-07 08:18] akallabeth commented on #3199
@HenryJacques ```authentication level``` and ```/cert-ignore``` are mutually exclusive. The ```/cert-ignore``` is set but later overwritten by the ```authentication level``` from the RDP file.

[2016-03-07 08:24] #3189 closed

[2016-03-07 08:31] HenryJacques commented on #3199
@akallabeth that makes sense, but according to BUGgs (in #2810) it seems that this behaviour was not always this one.

What is the exact rule? Does rdp files' options always take precedence over xfreerdp command line options?
In this case, this has to be homogeneous for all the options if you consider that rdp files' options have the priority.

[2016-03-07 08:49] akallabeth commented on #2810
Closing as duplicate, #3199 has a better description.

[2016-03-07 08:49] #2810 closed

[2016-03-07 09:11] antenore commented on #3189
Thanks a lot guys :-) :+1:

[2016-03-07 09:47] akallabeth commented on #3158
@zoccolo Use one of the suggested SDK versions or fix the visual studio header containing ```InitializeCriticalSectionEx```

[2016-03-07 09:48] akallabeth commented on #3199
@HenryJacques Currently the command line is parsed to get the RDP file argument and afterward the RDP file is parsed. Already have fixed this behavior in #3204 where the command line is parsed again after the RDP file to give preference to the command line options.

[2016-03-07 10:21] mfleisz commented on #3158
@zoccolo You could try to compile FreeRDP with an older Visual Studio version (i.e. 2010).

[2016-03-07 10:44] DieselV opened #3205 "iFreeRDP - Extended Keyboard is not working"
MAC OSX 10.11
Xcode 7.2
Extended keyboard is not working for windows server

[2016-03-07 11:52] bmiklautz commented on #2219
@mfernau thank you for the feedback. I'll close the issue. Please re-open if the problem still exists.

[2016-03-07 11:52] #2219 closed

[2016-03-07 11:53] bmiklautz commented on #3205
@DieselV could you, please add more information on this?
* FreeeRDP version
* what exactly is the problem
* how to reproduce?
* ...

Thank you.

[2016-03-07 12:06] DieselV commented on #3205
FreeRDP version I don't know but I am running latest github code..
Problem is I am looking for Advanced Keyboard (Functions keys,Arrows,shift) but Its not working
just run iFreeRDP app
I am not sure that that functionality implemented in this latest version

[2016-03-07 12:25] #2420 closed

[2016-03-07 12:26] akallabeth commented on #2043
Fixed with current master 52f1e6b27a3c2ecbfa757cdc1ecdcfcb283f16ce

[2016-03-07 12:26] #2043 closed

[2016-03-07 12:30] bmiklautz commented on #3205
@DieselV ok you are talking about iFreeRDP - that wasn't obvious from your initial issue report!

[2016-03-07 12:30] DieselV commented on #3205
And I am running iFreeRDP using iphone 5s

[2016-03-07 13:14] srinivasumeka123 opened #3208 "error C2039: 'servername_done' : is not a member of 'ssl_st'"
Hi San,

[2016-03-07 13:15] bmiklautz commented on #3208
@srinivasumeka123 this issue misses the complete context and is completely useless ;(.
Have a look at https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2016-03-07 13:15] #3208 closed

[2016-03-07 13:20] zoccolo commented on #3158
**Thanks for answer!**

[2016-03-07 13:20] #3158 closed

[2016-03-07 17:11] akallabeth commented on #2671
This issue has been fixed on master (upcoming 2.0)

[2016-03-07 17:11] #2671 closed

[2016-03-07 17:12] akallabeth commented on #659
closing due to being ancient

[2016-03-07 17:12] #659 closed

[2016-03-07 21:13] #2975 closed

[2016-03-07 21:14] #1414 closed

[2016-03-07 21:15] #1456 closed

[2016-03-07 21:16] #1869 closed

[2016-03-07 21:21] akallabeth commented on #713
closing for being inactive for a very long time. Reopen if still relevant.

[2016-03-07 21:21] #713 closed

[2016-03-07 21:31] akallabeth commented on #1319
Closing due to being inactive for a long time and redirection having received many fixes in the meantime. Repoen if still relevant.

[2016-03-07 21:31] #1319 closed

[2016-03-08 06:47] akallabeth commented on #2918
@MarkusMoeller I've fixed some issues with rdp file and command line in #3204 does this also fix your issue?

[2016-03-08 14:06] mvojjala commented on #3134
@akallabeth

I took the latest code base (as of March 8th, top of the tree commit id: 30325f189).   I still see this issue.    Session disconnects immediately after connect.

Disabling the "Async Channel" and "Async transport",  works perfectly.

Can you help me the performance sideeffects of disabling these options. May be these options allows data to be processed on separate  threads. Will there

[2016-03-08 14:13] mvojjala commented on #2419
I just took the latest code (March 8th).  Without disabling these options, session is immediately disconnected after connect. Unable to connect the session without disabling these options.

[2016-03-08 15:25] T3N4K4 commented on #3085
I'll try again soon ;)

[2016-03-08 15:57] akallabeth commented on #2419
@mvojjala This is #3134, just disable async options in debug settings.

[2016-03-09 16:59] melanholy opened #3211 "windows --authonly"
FreeRDP returns errorlevel 0 no matter what in windows 7. How can I detect if I have successfully connected to the remote desktop when --authonly option is present?

I tried both "wfreerdp [options] && echo %errorlevel%" and "start /wait wfreerdp [options] && echo %errorlevel%"

[2016-03-09 17:34] akallabeth commented on #3211
@melanholy wfreerdp is a windows gui application which detaches from the terminal. you have to modify it to a console app if you want to do that.

[2016-03-09 17:49] melanholy commented on #3211
Did this. Still the same
![image](https://cloud.githubusercontent.com/assets/10682553/13644748/2fdad32e-e649-11e5-9afe-89214d7b129e.png)

[2016-03-09 18:37] akallabeth commented on #3211
@melanholy you're right, the windows client always returns 0 (see wf_client.c:852) and overall lacks return value checks :/
Currently no windows machine near me, so I can't fix it but I hope this info helps.

[2016-03-10 11:04] vkovalchuk commented on #3137
I am using also +smart-sizing, does it help?

[2016-03-10 16:41] realjiangms commented on #3203
What's your server and client device? It is running on mobile device and should only be able to connect via WLAN which is slower and has higher latency than normal LAN.
I tried it on my Nokia N1 (Less than $200) and mobile phone (Less than 150$) and connect to an RFX enabled server in WLAN, with 1080p video it could have over 20 FPS (reported from server).

Android client now only support software

[2016-03-11 16:23] sabbia001 opened #3216 "smart-sizing doesn't work"
Hi,

I need to connect to a Windows 10 pc (from Ubuntu 15.10) and I need to increase screen size (the destination pc has a 4k resolution). I've used smart-sizing but it doesn't work:

xfreerdp /v:IP /size:1920x1080 /u:USER /p:PASSWORD /smart-sizing:640x480 +compression /sound /bpp:15 -themes

Did I anything wrong?

[2016-03-11 21:48] BethAr commented on #2802
I'm getting the same problem as well, connecting to a Windows machine, when I leave the connection idle.
As long as I keep using it, it doesn't disconnect.

Is there any alternative for solving this without recompilation?

[2016-03-12 03:13] akallabeth commented on #2802
@bethar without knowing which version you use it is hard to tell, but there are always the nightly builds.

[2016-03-12 07:07] Joe-Ming opened #3217 "VS 2015 static link dll"
hello, im compiling FreerRDP with Visual Studio 2015 (v140)..
the problem is that it is not linked in a static library,
I added a parameter statically link....

and another question , how to collect all external dll into one executable file ?

[2016-03-12 12:40] #3217 closed

[2016-03-12 13:34] Joe-Ming opened #3218 "+auth-only on windows clinet"
hello, is it possible add auth-only to  windows clinet ?

[2016-03-13 01:06] comicfans opened #3219 "suggest check WAYLAND_FOUND when compile wayland client"
wlfreerdp needs libuwac to build, but libuwac only build when WAYLAND_FOUND is true.
this makes WITH_WAYLAND=true && WAYLAND=false not built due to uwac can not be linked
so I suggest  replace client/CMakeLists.txt

 if(WITH_WAYLAND)

to

 if(WITH_WAYLAND AND WAYLAND_FOUND)

[2016-03-13 13:55] bmiklautz commented on #3219
@comicfans makes sense. Thanks for the feedback.
@hardening any objections?

[2016-03-13 17:51] hardening commented on #3219
makes sense

[2016-03-14 08:34] hardening commented on #3219
@comicfans would you make a PR of this ? Thank you.

[2016-03-14 08:38] impuls-proton opened #3220 "Fedora 23 lxde. Сompile error"
System: **Fedora 23 LXDE**
Kernel and CPU: Linux 4.4.3-300.fc23.i686+PAE on i686

I use instruction https://github.com/FreeRDP/Remmina/wiki/Compile-on-Fedora-20

Configure FreeRDP for compilation and compile:
[code]
Help me, please!
What is the problem?

[2016-03-14 08:45] bmiklautz commented on #3220
@impuls-proton do you have the zlib development files installed (zlib-devel)?

[2016-03-14 08:47] bmiklautz commented on #3220
@impuls-proton it should basically compile fine on Fedora 23 as we create nightly packages on it (https://ci.freerdp.com/job/freerdp-nightly-rpm-mock/)

You can also have a look to packaging/rpm/freerdp-nightly.spec to check what dependencies are required.

[2016-03-14 08:54] bmiklautz commented on #3216
@sabbia001 do you have installed the xrender development files? - smart sizing requires xrender.

[2016-03-14 08:56] bmiklautz commented on #3216
@sabbia001 also may I ask to provide more information?! "but it doesn't work" isn't something we can  help with. Please have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2016-03-14 09:08] impuls-proton commented on #3220
@ #3221
Yes, installed zlib-1.2.8-9.fc23.i686 and zlib-devel-1.2.8-9.fc23.i686

[2016-03-14 09:14] akallabeth commented on #3216
@sabbia001 And you want to switch the resolutions for ```/size``` and ```/smart-sizing```. The first is the desktop resolution of your remote machine, the latter is the local window size.

[2016-03-14 09:20] akallabeth commented on #3218
@Joe-Ming For questions please use the mailing list or IRC.
This is an issue tracker.

[2016-03-14 09:20] #3218 closed

[2016-03-14 09:21] akallabeth commented on #3162
Implemented with #3215

[2016-03-14 09:42] sabbia001 commented on #3216
@bmiklautz  Hi everyone, I'll try to be clearer, sorry.

Using Ubuntu 15.10 and connecting to Windows 10.
On both systems I have a 3840x2160 resolution (on Ubuntu I use a scale factor x1,88 in order to have fonts/icons bigger). On Windows I don't use a scale factor.

:~$ xfreerdp --version
This is FreeRDP version 1.1.0-beta1 (git n/a)

I use this command (but I tried every combination of /size, /s

[2016-03-14 09:45] sabbia001 opened #3222 "Ubuntu 15.10 audio problems workaround"
Hi,

I don'k know it this could be useful. I use xfreerdp (version 1.1.0-beta1) on Ubuntu 15.10 , and I got these messages:

LoadLibraryA: /usr/lib/x86_64-linux-gnu/freerdp/rdpsnd-client-pulse.so: impossibile aprire il file oggetto condiviso: File o directory non esistente
LoadLibraryA: /usr/lib/x86_64-linux-gnu/freerdp/rdpsnd-client-alsa.so: impossibile aprire il file oggetto condiviso: File o di

[2016-03-14 10:04] hardening commented on #3216
1.1.0 is a quite old version, can you give a try with a nightly build (https://github.com/FreeRDP/FreeRDP/wiki/Prebuilds) ?

[2016-03-14 10:25] sabbia001 commented on #3216
@hardening got it! Thank you
./xfreerdp --version
This is FreeRDP version 2.0.0-dev (git n/a)

/size and /smart-sizing are inverted compared to the previous version and now, as @akallabeth said, the first is the remote desktop resolution, the other is the local window size.

Thank you very much

[2016-03-14 10:39] impuls-proton commented on #3220
I used the rpm packages. (https://ci.freerdp.com/job/freerdp-nightly-rpm-mock/)
Very well! I have a connection to the Terminal Server!

But why these errors: _Error: SSL_NOT_ALLOWED_BY_SERVER_
and _Unable to get current timezone rule_

[code]

[2016-03-14 11:36] nfedera commented on #3216
@sabbia001 See https://github.com/FreeRDP/FreeRDP/wiki/Quality-Assurance-(QA)#smart-sizing

[2016-03-14 11:37] #3216 closed

[2016-03-14 11:43] bmiklautz commented on #3220
@impuls-proton you can ignore the "Unable to get current timezone rule".  The first error messages is quite what it says "ssl is not allowed by your server". What's your command line parameters?

[2016-03-14 11:55] bmiklautz commented on #3222
@sabbia001 did you build yourself? Or you using the Ubuntu provided version? - In the later case that's something you should report because it needs fixing in the Ubuntu package.

[2016-03-14 11:59] bmiklautz commented on #3222
@sabbia001 I just checked this works perfectly fine with the package that comes with Debian Jessie and the file naming looks good for me on Ubuntu 15.10 as well.

[2016-03-14 12:01] sabbia001 commented on #3222
@bmiklautz  sorry, I'n not an expert: I'm quite sure that it was a problem of the Ubuntu package, but after that I made a lot of craps installing/reinstalling freerdp and remmina packages, stable and unstable, so now I can't replicate that situation. I just know that Remmina gave me the same error.
Sorry I can't tell you more.

[2016-03-14 12:01] #3222 closed

[2016-03-14 13:27] impuls-proton commented on #3220
ОК. _ssl_ is not problem for me at now.

I can connect to a remote desktop to the Terminal Server 2003.
Next step. I need connect to remote application program, for example "C:\Program Files (x86)\Microsoft Office\OFFICE11\WINWORD.EXE"
We have option
`/app:||<alias> or <executable path> Remote application program`
Bat I don't understand how to use this option.  I can't find the exact reference inf

[2016-03-14 14:13] bmiklautz commented on #3220
@impuls-proton for me it seems your initial problem got solved. Please keep the tracker for issues only and use the mailing list or visit our irc channel help.

[2016-03-14 14:13] #3220 closed

[2016-03-14 21:49] hardening commented on #3219
Fixed in https://github.com/FreeRDP/FreeRDP/pull/3223

[2016-03-14 21:49] #3219 closed

[2016-03-15 09:01] timomenger opened #3227 "Igel Thinclient - RDP disconnections"
Hello everybody,
in one of our offices, which is connected via VPN to the main office, we use Igel thin clients. The thin clients build up a remote desktop connection to our virtual terminal servers. During the session there are disconnections on the thinclient. The IgelRDP client, which is implemented in the igel firmware, is based on freerdp 1.2.4 git version September 21 23:42:32, 2015.
We have

[2016-03-15 09:33] marawu opened #3228 "Trouble multimon"
good afternoon. I use free rdp to connect to the video server. I also use multimon function to connect two monitors. After connecting to the server and opening cameras (about 40 pieces) I have ceased to operate a keyboard and mouse. Sometimes it works, but it often does not work. How can I solve this problem?

[2016-03-15 09:42] mfleisz commented on #3227
Hello @timomenger
We cannot give support for the Igel RDP client as we don't even know from what FreeRDP sources they compiled their client (there is no 1.2.4 version of FreeRDP) and what changes they have made to it. I think you best bet is to contact Igel support and let them take care of this issue.

[2016-03-15 09:46] #3227 closed

[2016-03-15 10:09] ropetry opened #3229 "freerdp Windows Server 2008 R2 - Barcode Scanner USB - missing double characters"
Hello, we are using freerdp 2.0.0-dev with our 2008 R2 Terminal Servers. Attached to the Linux Device is a USB Barcode scanner from OPTICON.
If we scan Barcodes with Double Numbers via freerdp , like
02612295 or 02422288 we are loosing in 9 from 10 scans the double 22 or 88.. It just prints only one 2 or one 8.
Label:
02422288
barcode scan:
024228

.. If i do this on the Linux client in a xterm it

[2016-03-15 10:14] ropetry commented on #3229
We use the following command line to start the session
/opt/freerdp/bin/xfreerdp -grab-keyboard /t:RemoteSessionname /workarea +compression /cert-ignore -nego /sec:rdp +clipboard /sound:sys:pulse /drive:USB /media /v:servername

[2016-03-15 10:20] hardening commented on #3228
Please refer to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting for bug reporting. Thank you.

[2016-03-15 11:28] mvojjala opened #3230 "Crash with the latest code on Android Nexus"
I am getting the following native crash in the adb logs, though UI and functionality is working fine. Able to reproduce it always from the aFreeRDP app. Playstore app is working fine on the same device without any crash in the logs.

---

W/ctxmgr  ( 1415): [AclManager]checkPermissionTypeStatus: no inject permission for { uid=10008, packageName=com.google.android.gms }. Returned permission was: PA

[2016-03-15 15:02] Edlanta commented on #2427
Yes this fixed the problem.

[2016-03-15 15:30] Edlanta opened #3231 "Remote Control with Windows Server 2008R2 SegFault"
Hi,

this is a hard one.

I am trying to Remote Control a Session on a Win2008r2 Server but unfortunately this throws a SegFault.

The test scenario is as followed:
- One xfreerdp connects with a normal user to 2008r2 server
- The second xfreerdp on another machine connects as administrator to the same server
- In the Admin users session i open TaskManager -> Select Tab "Users" -> Right click on u

[2016-03-15 16:06] bmiklautz commented on #3229
@ropetry just to clarify the reader is a regular HID device and you losing input on each scan when connected with xfreerdp?

[2016-03-15 16:11] bmiklautz commented on #3231
@Edlanta could you please add the git commit/version you are using?

[2016-03-15 16:13] bmiklautz commented on #3231
@Edlanta also could you re-try this with compression disabled (-compression)

[2016-03-15 16:14] #3228 closed

[2016-03-15 16:19] Edlanta commented on #3231
git log shows the last commit was: 7c5fcc9ee2a8d853d5ffaa95d7283dbdf901be06

I tried this with -compression and it is working fine. i could Remote control three or four times in a row, without an error.

[2016-03-15 16:35] ropetry commented on #3229
@bmiklautz  yes it´s a normal hid device as seen by the dmesg output i think.. and yes on all scans.. 9 of 10 are wrong.. anything i can do ??

[2016-03-15 16:39] bmiklautz commented on #3231
@Edlanta as it works without compression I'd assume this is rather an problem with compression then a missing deactivation.

[2016-03-15 16:56] bmiklautz commented on #3229
@ropetry I quickly tried to reproduce your behavior with the only barcode scanner I had at hand here but without success. Can you try to stick a debug message in libfreerdp/core/input.c functions input_send_keyboard_event and input_send_unicode_keyboard_event to see what is actually send out?
You might also want to check check the repeat rate on the windows side.

[2016-03-15 17:16] bmiklautz commented on #3230
Seems like a recently added pull request related to timezone could cause this.
Could you try to just add a return NULL in winpr/libwinpr/timezone/timezone.c function
winpr_get_unix_timezone_identifier_from_file?

[2016-03-15 17:16] bmiklautz commented on #3230
@akallabeth any other ideas?

[2016-03-16 05:19] marawu opened #3232 "Trouble FreeRDP + Devline"
good afternoon. I have a problem when opened in rdp Surveillance System (Windows Server 2008R2 + DevLine (http://www.devline.ru/software/)). the problem is that I do not work a keyboard and mouse. and the problem does not occur systematically, but in 80% of cases.

Reconnecting I as follows: xfreerdp / v: server / u: user / p: password / multimon / monitors: 0,1 / cert-ignore (Linux Mint 17.3 Rosa

[2016-03-16 06:21] ygtzf opened #3233 "Compile freerdp<stable-1.1> error"
Hi,
I compile freerdp <version: stable-1.1> on Ubuntu 14.04 amd64,  error cast:
[ 95%] Building C object client/common/CMakeFiles/freerdp-client.dir/compatibility.c.o
[ 95%] Building C object client/common/CMakeFiles/freerdp-client.dir/file.c.o
[ 96%] Building C object client/common/CMakeFiles/freerdp-client.dir/__/__/channels/client/tables.c.o
[ 96%] Building C object client/common/CMakeFiles/fre

[2016-03-16 06:51] #3233 closed

[2016-03-16 07:08] hardening commented on #3232
Is it the "native" RDP server (as in the one shipped by ms) or something specific to DevLine ?

[2016-03-16 07:12] mvojjala commented on #3230
@bmiklautz

Yep. That particular function in timezone.c is causing the crash. Returning NULL does not reproduce the crash. Verified it.  Is it safe to return NULL from that function ?

Thank you for your time.

[2016-03-16 08:38] marawu commented on #3232
This is a standard server Microsoft running on it software. The problem arises as the time you run the software Devline in multimon mode

Rgds, Nikita Spickiy
Skype - n.spickiy@outlook.com

Novosibirsk, UTC +6

________________________________
От: Hardening <notifications@github.com>
Отправлено: 16 марта 2016 г. 13:08
Кому: FreeRDP/FreeRDP
Копия: marawu
Тема: Re: [FreeRDP] Trouble FreeRDP + Devlin

[2016-03-16 09:00] akallabeth commented on #3230
@mvojjala Could you check what ```getprop persist.sys.timezone``` returns on your device?

[2016-03-16 09:04] mvojjala commented on #3230
@akallabeth

client$ adb shell
shell@flounder:/ $ getprop persist.sys.timezone
Asia/Calcutta

[2016-03-16 09:40] akallabeth commented on #3230
hmm, might be related to this: https://stackoverflow.com/questions/15564014/the-issue-when-using-popen-and-pclose

[2016-03-16 10:05] akallabeth commented on #3230
@mvojjala I've reworked reading of the timezone data. Could you try if https://github.com/akallabeth/FreeRDP/tree/popen_fix fixes the issue for you?

[2016-03-16 12:34] BUGgs commented on #2931
Not working if using /microphone:sys:alsa
Error: LoadLibraryA: /usr/local/lib/freerdp2/libaudin-client.so: cannot open shared object file: No such file or directory
Tried with today master.

[2016-03-16 12:40] bmiklautz commented on #3198
Fixed with #3226

[2016-03-16 12:44] bmiklautz commented on #2931
@BUGgs can you re-try with the last merges (some minutes ago)? - I just tested alsa and pulse and worked fine.

[2016-03-16 12:50] CHERTS opened #3235 "Warning: rdp.c: In function 'rdp_recv_tpkt_pdu':"
When build (branch master) Warning message:

[code]

Fix it please.

[2016-03-16 12:51] CHERTS opened #3236 "Warning: color.c: In function 'freerdp_image_copy_from_pointer_data':"
When build (branch master) Warning message:

[code]

[2016-03-16 12:55] bmiklautz commented on #3235
@CHERTS thanks for reporting the issue however the warnings depend on the compiler therefore your report doesn't make any sense without compiler information.

[2016-03-16 12:56] bmiklautz commented on #3236
@CHERTS pull requests are welcome!

[2016-03-16 13:01] akallabeth commented on #2931
@BUGgs When compiling with dynamic channels, you need to do a ```make install``` too.

[2016-03-16 13:03] #3198 closed

[2016-03-16 13:18] BUGgs commented on #2931
Just recompiled...still an error:
LoadLibraryA: /usr/local/lib/freerdp2/libaudin-client-.so: cannot open shared object file: No such file or directory
freerdp_load_channel_addin_entry did not return any function pointers for
audin_load_device_plugin alsa failed with error 1

[2016-03-16 13:46] Edlanta commented on #3231
Any ideas how to investigate this further?
Can i provide some other useful information to debug this?

[2016-03-16 15:51] akallabeth commented on #2931
@BUGgs What is your command line? How did you configure / install? Tested on debian jessie here, works nicely (all .so installed)

[2016-03-16 15:58] akallabeth commented on #2931
@BUGgs Ok, I can reproduce your issue now, check your cmake settings. Looks like you compiled without support for your desired audio backend.

[2016-03-16 16:04] akallabeth commented on #3199
Fixed with #3204

[2016-03-16 16:04] #3199 closed

[2016-03-16 16:08] akallabeth commented on #3134
@mvojjala To my knowledge only async-transport has issues. As for performance, this depends highly on your devices, so I can't tell for sure.

[2016-03-16 16:09] akallabeth commented on #2419
@mvojjala Could you tell if the hang on disconnect still occurs? (just disable async-transport for that test)

[2016-03-16 16:49] akallabeth opened #3238 "[async-transport] Current implementation broken"
Async transport just fires up a thread doing the client main thread handling there (check and process freerdp events)
There are these issues with this approach:
- There is no (clean) way to provide additional event handles and process callbacks to freerdp (think async-input)
- The client main thread can not be notified of changes (2 threads waiting on the same events and processing
- The exported

[2016-03-16 16:50] akallabeth commented on #3134
This is probably caused by #3238

[2016-03-16 21:13] hardening commented on #3238
+1 I think async transport is a bad idea, and not sure it really offers some real performance gains. Anyway if we choose to keep async transport that means all RDP reads _and_ writes should be done there.

[2016-03-17 00:34] macredash opened #3239 "NLA+Smartcard. Still need to provide /u and /p?"
So, maybe this is a limitation of freerdp or maybe this is a limitation in my understanding of the parameters.  I am trying to connect to a Windows host using a smartcard.  Once the connection is established, I get the remote login screen and I can log in with the card certificate.  However, I am still prompted at the command line to provide a username and password prior to that (apparently due to

[2016-03-17 08:50] mangorui opened #3241 "iOS project complied error"
I download the  newest  code,  followed README.ios step by step. but it errors when i execute "cmake -DCMAKE_TOOLCHAIN_FILE=cmake/iOSToolchain.cmake -GXcode"

CMake version:3.5.0

-- Could NOT find PkgConfig (missing:  PKG_CONFIG_EXECUTABLE)
-- FreeRDP GIT-dirty
-- Git Revision 80cd647
-- Skipping recommended feature libsystemd for systemd journal appender (allows to export wLog to systemd journal

[2016-03-17 10:13] bmiklautz commented on #3241
@mangorui do you have a git commit for your newest code?

[2016-03-17 10:44] lifeblong opened #3244 "master cmake error,when complie with gstreamer 0.10"
platform: ARMv7  RK3288
system:ubuntu 15.10

I got a warning when cmake master version with -DWITH_GSTREAMER_0_10 flag

!!!!GStreamer:WARNING:interface library not found!!!!

but i have install gstreamer and it's plugins on ubuntu....

who can help me...

[2016-03-17 11:01] bmiklautz commented on #3244
@lifeblong if available use gstreamer 1.0 instead (packages libgstreamer-plugins-base1.0-dev,libgstreamer1.0-dev)

[2016-03-17 11:03] #3244 closed

[2016-03-17 11:08] lifeblong commented on #3244
Think you very much! I miss libgstreamer-plugins-base0.10-dev.

[2016-03-17 11:13] mangorui commented on #3241
I have not changed the code。
I download it again , and complied, the error accours:

 git clone https://github.com/FreeRDP/FreeRDP.git

cmake -DCMAKE_TOOLCHAIN_FILE=cmake/iOSToolchain.cmake -GXcode
-- Toolchain using default iOS SDK: /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS9.2.sdk
-- Could NOT find PkgConfig (missing:  PKG_CONFIG_EXECUTABLE)
--

[2016-03-17 11:24] mvojjala opened #3245 "Crash while connecting to Win-8 server with gfx enabled on Android client"
These is the crash log.

03-17 16:48:19.576 30026 13700 E com.freerdp.gdi: [pid=30026:tid=93f34930] - Failed to process RemoteFX message
03-17 16:48:19.577 30026 13700 E com.freerdp.channels.rdpgfx.client: [pid=30026:tid=93f34930] - context->SurfaceCommand failed with error 1359
03-17 16:48:19.577 30026 13700 E com.freerdp.channels.rdpgfx.client: [pid=30026:tid=93f34930] - rdpgfx_decode failed wit

[2016-03-17 11:29] bmiklautz commented on #3241
@mangorui as the build files have been written building should work fine.

[2016-03-17 12:08] lifeblong opened #3246 "cmake error,XRandR wasn't found"
plateform:armv7 rk3288
system:ubuntu 15.10

Warning
Disabling tsmf gstreamer because XRandR wasn't found!

i have installed:
libxrandr-dev
libxrandr2
libxrandr2-dbg
lxrandr
lxrandr-dbg

but it's without effect....

[2016-03-17 12:49] bmiklautz commented on #3246
@lifeblong try x11proto-randr-dev. Please don't use the issue tracker for questions.
Drop by in our irc channel or sent an e-mail to our mailing list.

[2016-03-17 12:49] #3246 closed

[2016-03-17 14:46] akallabeth commented on #3245
@mvojjala The GFX feature itself is working except that there are some color conversion issues open and android bugs like #3238

[2016-03-17 14:47] #3162 closed

[2016-03-18 05:08] CHERTS opened #3247 "prt-get install does not install a new version of the package freerdp"
I've updated the package freerdp with the command:
prt-get update -if -fr freerdp
Then I removed the old package 'prt-get remove freerdp' and install 'prt-get install freerdp'
after performing ./build in the pxe image for the binary /bin/xfreerdp not changed, he was old, I checked it out on the md5 sum.

How to upgrade package  freerdp in the pxe image?

[2016-03-18 05:25] CHERTS commented on #3247
The problem was solved, update the package with the command:
update freerdp

[2016-03-18 05:25] #3247 closed

[2016-03-18 08:05] mangorui commented on #3241
I have resovled this issue: I changed CMake version from 3.5.0 to 3.4.3, then it works fine

[2016-03-18 08:05] #3241 closed

[2016-03-18 08:13] mangorui opened #3248 "iOS project complied error2"
When I build the project in Xcode, An error occurred：

![2016-03-18 4 06 56](https://cloud.githubusercontent.com/assets/5945826/13872207/abf571e0-ed23-11e5-921a-09ba8ebc4f85.png)

[2016-03-18 09:05] #3248 closed

[2016-03-18 09:05] akallabeth commented on #3248
try with -DWITH_SSE=OFF

[2016-03-18 09:42] bmiklautz commented on #3241
@mangorui thank for the feedback. Possible that 3.5.0 has new features we aren't compatible with atm.

[2016-03-18 09:58] Edlanta commented on #3231
I investigated this topic further.
I tried setting different compression levels with /compression-level:

/compression-level:0 is using no compression at all and is working
/compression-level:1 is working too
/compression-level:2 is not working

So it looks like there is a bug in RDP6.1 compression.
I will continue my search for the bug and update you guys if i found something.

[2016-03-18 13:49] HenryJacques commented on #3239
@macredash No smartcard logon "directly" with NLA is not supported at all with FreeRDP.

For my knowledge: what are your smartcard vendor and model? I suppose you're using the Windows Base CSP (not a PKCS11 library)?
Thanks

[2016-03-18 14:05] HenryJacques commented on #3229
@ropetry Is your command line complete?
What is the `/media` argument you're using?
Is your purpose to use your USB scanner in your 2008 R2 environment (using USB redirection)? If yes, I don't see the `/usb:id` parameter...

[2016-03-18 14:45] DieselV commented on #3205
Is their any way to show Keyboard and Extended at a same time on screen
?

[2016-03-18 14:52] ropetry commented on #3229
@bmiklautz : thats sad as i just have tested it again and i can replicate it with two different readers on our 2008 r2 ts farm.. i have now checked it also with a windows 7 rdp server and a normal 2008r2 server.. (without rdp termianl server) just remote administration.. and i have no errors.. the barcode scanners work.. i have to test this again on monday... i checked the repeating rate so far, b

[2016-03-18 14:54] ropetry commented on #3229
@HenryJacques : hi.. i have only usb media redirection enabled.. the barcode scanner -hid device should be only connected as a normal keyboard. it emulates a keyboard..
i can try to use the way you suggested if you can give me some more advice on it..
thanks
roman

[2016-03-18 15:35] drewer opened #3251 "higher CPU usage GFX Windows 10"
hi @all

today i have make a new build (my last was befor two weeks... the CPU Usage was normal 40-60% on a thinclient 1,8 Ghz)

when i start youtube and watch a video the cpu usage goes up to 100% and the quality is bad..
before 2 weeks the video was clear and doesnt studdering

System: Debian 7 amd64 and also on 8 i386

[2016-03-18 16:09] HenryJacques commented on #3229
@ropetry Ok, I didn't know it emulates a keyboard. I should have suspected it thanks to your output of dmesg...
That said, if you compiled xfreerdp with URBDRC support, you could try to redirect it to Windows using the `/usb:id,dev:065a:0001`
However, I don't know if it makes sense since it is a HID device.

[2016-03-18 16:24] username-is-already-taken2 commented on #2978
Hi there, does anyone know if this issue has now been resolved?  Thanks in advance

[2016-03-18 22:00] hardening commented on #2978
@username-is-already-taken2 we're waiting for feedback too ;)

[2016-03-20 12:59] nicoulaj commented on #2949
I have a similar issue, I can scroll up but not down with the mouse wheel.

System: Arch Linux (linux 4.4.5 x86_64)

Freerdp version: `2.0.0-dev (git 75ae3f5)` (from arch linux user repository package `freerdp-git`, same issue with stable package `freerdp 1.2.0`)

Command:
[code]

It still happens if I remove all the non-mandatory options:
[code]

Logs don't show anything particular.
Here is a ful

[2016-03-20 20:28] akallabeth commented on #3251
@drewer With #3215 the new AVC444 format support of windows 10 was added. Software decoding of that codec requires more performance (and is currently less optimized than the old codecs are), looks like your system can not handle that properly and causes lag (which in turn reduces video quality). So either turn off this new codec on the windows 10 machines or disable the feature support announcemen

[2016-03-21 08:26] akallabeth commented on #2949
@nicoulaj Working fine here with debian jessie. Do you have some kind of button remapping active?