[2018-11-29 13:06] akallabeth commented on #4978
Relevant specifications are `[MS-RDPEDP]` and `[MS-RDPEDP2]`

[2018-11-29 13:14] ondrejholy commented on #5069
@akallabeth It is currently disabled: https://src.fedoraproject.org/rpms/freerdp/c/a876205f1737ecbb5a6f71e3db2da64bccbb3eca?branch=master. You can find the maintainers and other info on https://src.fedoraproject.org/rpms/freerdp. You can also submit pull requests there. However, I've submitted some requests during the last weeks and they have left unnoticed. I will try to obtain the commit rights

[2018-11-29 14:08] akallabeth commented on #1723
There has been a major re-factoring of gateway support witn `2.0.0-rc4` and following.

[2018-11-29 14:08] #1723 closed

[2018-11-30 02:13] aijyo commented on #5079
I find the assitance file parse function now: the connectstring seems not match the msrcIncident...
![image](https://user-images.githubusercontent.com/7956449/49264272-92c65080-f488-11e8-96ec-ab743eed7606.png)

So  how to join the group with IRC

[2018-11-30 02:42] hualet commented on #5078
Hmmm... that's so sad :(  do you know someone else that can help me with that?
Anyway thank you @akallabeth

[2018-11-30 07:41] aijyo commented on #5079
I'm now find a function that trans connectstring to assistance file struct in assistance.c, but some key value  seems to be ignored...(KH2, CE):
![image](https://user-images.githubusercontent.com/7956449/49275462-51e53080-f4b6-11e8-9614-ce4dcfda85db.png)

[2018-11-30 09:00] gnshkl1 opened #5084 "Freerdp-2.0.0-rc4 argument parsing validation issue"
Freerdp version : 2.0.0.rc4
Client OS :- Xubuntu-16.04_x86
Server OS :- Windows 10

use wrong  below command instead of  /sound:sys:alsa :-
/sound:sys,alsa

 Result :- Freerdp looping of error
[08:56:36:793] [9207:9208] [INFO][com.freerdp.client.common] - Attempting reconnect (1 of 20)
[08:56:36:832] [9207:9208] [ERROR][com.winpr.timezone] - Unable to find a match for unix timezone: Asia/Kolkata
[

[2018-11-30 09:52] gnshkl1 opened #5086 "Freerdp-2.0.0-rc4 dynamic-resolution window border disappear issue"
Freerdp version : 2.0.0.rc4
Client OS :- Xubuntu-16.04_x86
Server OS :- Windows 10

xfreerdp /cert-ignore  /title:test  /bpp:32  -wallpaper   -bitmap-cache  -themes    -floatbar  /dynamic-resolution        /gdi:sw   /kbd:0x00000409   /d:test /u:"abc" /v:x.x.x.x   /p:xxx +toggle-fullscreen /f

Steps:-
1:-take session with above command
2:-ALT+CTL+ENTER (2 times) (do not resize)

Result :-
1:- windo

[2018-11-30 10:10] akallabeth commented on #5086
Please add additional information, can not be reproduced with the steps provided.

[2018-11-30 10:12] akallabeth commented on #5084
Duplicates #3574

[2018-11-30 10:12] #5084 closed

[2018-11-30 10:30] gnshkl1 commented on #5086
@akallabeth windows frame border is hidden ,so not able to resize window frame .
what additional details required.

[2018-11-30 11:34] gnshkl1 opened #5088 "Freerdp-2.0.0-rc4 /orientation not working"
Freerdp version : 2.0.0.rc4
Client OS :- Xubuntu-16.04_x86
Server OS :- Windows 10

xfreerdp /cert-ignore /title:test /bpp:32 -wallpaper -bitmap-cache -themes -floatbar /dynamic-resolution /gdi:sw /kbd:0x00000409 /d:test /u:"abc" /v:x.x.x.x /p:xxx +toggle-fullscreen /f /orientation:270

[2018-11-30 11:52] akallabeth commented on #5088
User error. The capability in `[MS-RDPBCGR] 2.2.1.3.2 Client Core Data (TS_UD_CS_CORE)` is correctly sent, configure your server.

[2018-11-30 11:52] #5088 closed

[2018-11-30 14:58] aperomsik commented on #4109
For me, with Ubuntu 18.10, this is working on X but not on Wayland -- on Wayland the wrong monitor is considered primary by remote Windows.

[2018-12-03 02:41] aijyo opened #5089 "[assistance] unsupported options KH2 and others"
Just as the title, I have try to shared my windows client as a server, and connnect and view it on some linux device, but when I run wfreerdp-client.exe and try to connect to the freerdp-shadow-cli.exe  something went wrong...(I'll show the error later, what is not my concern now).

I have already read a part of  "freerdp-shadow-cli" code , and found it implement with IRDPSession by convert IRDPSe

[2018-12-03 06:08] aijyo commented on #5089
server:
freerdp-shadow-cli.exe without any param;

client:
First attempt:
.\wfreerdp.exe -w:800 -h:600 /u:Shadow /p:Shadow123!  -v:172.16.60.76:3389
(I got some connection error or auth error)

Second attempt:
-w:800 -h:600 -v:172.16.60.76:40000
I found the IRDPSession portid has been set to 40000, so I wanna connect to it...
I got a login dialog,  **but username "Shadow" , passwd "Shadow123!" is

[2018-12-03 07:40] aijyo commented on #3060
你也在windows上运行freerdp 服务端吗？  弄好了吗，我最近也遇到好多问题 想问下你...

[2018-12-03 08:51] aijyo commented on #5079
@akallabeth  Thank you very much...
And more  there is question(https://github.com/FreeRDP/FreeRDP/issues/5089), what I realy anxious to know is : wfreerdp-server-cli.exe is workable？

[2018-12-03 08:55] akallabeth commented on #5089
@aijyo Looks like you're asking the wrong question here ;)
The `shadow` server is working as expected (and as you probably noticed due to the hard coded credentials is kind of a demo application)
What you're seeing here is a unsupported version of assistance string (or some missing headers).
Would check with `mstsc` as client first to ensure your assistance file is correct and the server up and ru

[2018-12-03 09:01] akallabeth commented on #5086
Since your response only occured in my mailbox:
I can not reproduce the issue with the steps you provided. Fullscreen toggling works just as expected. Please provide a more detailed description of your setup to reproduce.

[2018-12-03 13:45] #4909 closed

[2018-12-03 18:44] Arokha opened #5092 "Not releasing modifiers keys on focus gain?"
To continue the long trend of these issues (#2104, #4662, #1335, #1010, #540), here this is again. Appears to be a regression fairly recently.

**To Reproduce**
Steps to reproduce the behavior:
1. Give freerdp window focus
2. ~~Use any keyboard combinations with ALT that cause the window to lose focus (alt-tab, workspace switching combos, etc)~~ See first comment.
3. Return to freerdp window, find

[2018-12-03 19:22] Arokha commented on #5092
Actually, after a little experimentation, this appears to be the opposite of the above issues?

Losing focus seems fine. It's GAINING focus with a modifier key pressed that pins it.

So for e.g.:
xfreerdp open on workspace 1
Switch to workspace 2 with Ctrl-Alt-2
Return to workspace 1 with something other than kb shortcuts = works fine

xfreerdp open on workspace 1, currently viewing workspace 2
Sw

[2018-12-03 21:19] akallabeth commented on #5092
Duplicate of #4966
Looks like this might be something of a window manager / X11 event combination but so far I could never reproduce. (all keys are released on focus out and the current state is read on focus in)
If you have additional information please attach that to the issue referenced.

[2018-12-03 21:19] #5092 closed

[2018-12-04 08:20] akallabeth opened #5093 "[android] fall back to TimeZone if persist.sys.timezone is not available"
`winpr_get_unix_timezone_identifier_from_file` tries to read the timezone from `persist.sys.timezone` on android.
This is not always set, read it from `TimeZone` java class instead.

Might also be sufficient to set the property on application startup to the value from `TimeZone`

[2018-12-04 08:47] loumt opened #5095 "open a ws2012 file through xfreerdp command"
FreeRdp:
     2.0.0 also 1.1.0
 Server:
     Centos7
 Application Server:
     Window Server 2012

 1.
     Cenots7 -> xfreerdp -> Window Server2012
 2.
     xfreerdp /v /port /u /p /d .....  /app:c:\\windows\\system32\\notepad.exe /app-cmd:c:\\1.txt

The Result is that  I only open the application but I didn't open the file.

 if i use /app:"||notepad" /app-cmd:c:\\1.txt
     Can open application

[2018-12-04 09:19] akallabeth commented on #5095
Please add a few more details.
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2018-12-04 09:21] akallabeth commented on #5095
Sorry, missed that you mentioned it works with server2008.
Looks like this is a configuration issue, can't help much with that.

[2018-12-04 09:31] #4730 closed

[2018-12-04 09:31] #4999 closed

[2018-12-04 12:41] hualet commented on #5078
@akallabeth I found a fix for this, please review my code :)

[2018-12-04 13:30] #4825 closed

[2018-12-04 15:01] nfuchs21 commented on #4692
Has anyone figured this out or made any advances in troubleshooting?

[2018-12-04 15:22] argonym commented on #1612
@akallabeth Sure, using `rfx` and `gfx`, just not supported by 2008R2/7 RDP servers.
Yes, `bitmap-cache` is so slow (X11 client) it shouldn't be on by default.

[2018-12-04 15:38] akallabeth opened #5098 "User after free"
Address sanitizer reported (with #5037 applied) the following issue.
Looks like we end the application before all threads have been stopped:

[code]

[2018-12-04 21:42] #5078 closed

[2018-12-05 02:05] aijyo commented on #5089
I donnot konw how email U, so I comment here.
I find msra.exe is  implement by  IRDPSession( CoCreateInstance(9B78F0E6-3E05-4A5B-B2E8-E743A8956B65, ... )) , And find a class Named CRATicket, what used to generate msrcIncident file.

It seems that there is no direct interface to generate the msrcIncident file, which requires us to generate it ourselves through the connectionstring.

Because I am no

[2018-12-05 06:37] trefmanic opened #5101 "Regression: client doesn't connect to 2003 R2 server using RDP encryption"
After recent update my client (remmina) cannot connect to Windows 2003 RDP server.

How to reproduce: Try to connect to 2003 RDP server with RDP encryption.

Here's the console output:
`[11:29:38:423] [12363:12388] [INFO][com.freerdp.client.common.cmdline] - loading channelEx cliprdr
[11:29:38:423] [12363:12388] [INFO][com.freerdp.client.common.cmdline] - loading channelEx drdynvc
[11:29:39:119] [

[2018-12-05 06:40] trefmanic commented on #5101
NVM, it was a server-side issue. Turn out, the licensing service was down.

[2018-12-05 06:41] loumt commented on #5095
Sorry for not providing too much information

- Install 1.1.0-beta1 tag in Centos7.

[code]

- Install RDP Server In Window Server2012.

  - Group policy =》 Allows applications other than RemoteApp to be used

  - Open regedit setting =》 set "fAllowUnlistedRemotePrograms" to 1 in "HKLM\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services" to allow all commands.

 - At Centos7

[code]

**expect

[2018-12-05 06:52] trefmanic commented on #5101
Unfortunately, this issue is still in effect. I've restarted the licensing service and now I'm able to connect with mstsc client, but not with remmina, same errors in console.

[2018-12-05 07:38] akallabeth commented on #5101
@trefmanic Could you run with log-level:debug to get some additional information?
@hardening as license expert, you've any idea what could cause this?

[2018-12-05 07:55] akallabeth commented on #5095
@loumt Ok, looks indeed like there is something fishy. The parameters are sent just like in the spec but the application does not open the specified file, will check.

[2018-12-05 08:34] akallabeth commented on #5095
@loumt Ok, tested against 2 servers, one windows 10 with default settings and only remote app enabled:
I can not add application parameters
One windows 7 with all policies set to allow:
The parameter is correctly used.

So this indeed seems to be some policy issue, but I don´t know which one controls that stuff :/

[2018-12-05 08:53] akallabeth commented on #5095
@loumt One thing comes to mind though, could you try to use a newer version of freerdp and check if this is still an issue with those? We´ve fixed a few issues since `1.1` ;)

[2018-12-05 09:15] hardening commented on #5101
@trefmanic looks like ther server is quite relaxed with the kind of blob it is sending us, would you mind compiling with `DEBUG_LICENCE` activated so that we have more infos ?

[2018-12-05 09:30] trefmanic commented on #5101
@hardening So, as stated in MSDN, it's a protocol feature. Do I still need to compile anything?
Sorry for bothering you with the ancient Win 2003 by the way.

[2018-12-05 09:46] jc0456 commented on #3060
No,wfreerdp-server instead, https://github.com/akallabeth/FreeRDP/tree/dsp_audio_server_api
install dfmirage, http://www.demoforge.com/dfmirage.htm

[2018-12-05 09:50] aijyo commented on #3060
ah? You don't use wfreerdp-server, but instead use dfmirage instead?

[2018-12-05 09:57] #5061 closed

[2018-12-05 10:03] hardening commented on #5101
@trefmanic can you test https://github.com/FreeRDP/FreeRDP/pull/5104 ?

[2018-12-05 10:05] jc0456 commented on #3060
shadow的还没有找到问题在哪里，后来换成了wfreerdp-server，后面那个地址是原作者解决了wfreerdp-server不能编译的问题的可编译包，使用wfreerdp-server必须要安装那个dfmirage 显卡镜像驱动，后面附了下载地址

[2018-12-05 10:07] aijyo commented on #3060
感谢，我跟作者聊了，shadow还没做好的，所以有毛病，我试试你说的wfreerdp-server

[2018-12-05 10:19] #5093 closed

[2018-12-05 13:51] akallabeth commented on #5048
Any update on this one?

[2018-12-05 14:20] akallabeth commented on #428
Can not reproduce with `2.0.0-rc4` and following.

[2018-12-05 14:24] grufo opened #5107 "ASAN:DEADLYSIGNAL when watching youtube video with gfx-h264"
When we start a freerdp session to a windows 10 computer with the following command line:

`/opt/freerdp-nightly/bin/xfreerdp /sec:rdp /cert-ignore /disp /gfx-h264 +gfx-thin-client /sound /kbd:0x00000407 /bpp:24 /network:auto /auto-reconnect /usb:auto /usb:rules:allow /d:pirlo /u: +fonts /nsc /rfx /f /monitors:0,1 /multimon:force +auto-reconnect +compression -floatbar /microphone /video /v:ts01
`

[2018-12-05 14:40] akallabeth commented on #5107
Most likely already fixed with #5099: Missing thread sync with GFX routines

[2018-12-05 14:44] akallabeth commented on #1972
Have not seen such disconnects in ages for the `2.0.0-rc4` and later series.
Closing. Create a new issue if still reproducible.

[2018-12-05 14:44] #1972 closed

[2018-12-05 14:47] akallabeth commented on #2298
Tried it today with `2.0.0-rc4` and it was working for windows 7 but not windows 10.
Might be a configuration issue though.
#5095 also reports that it is not working for server 2012

[2018-12-05 15:20] uhtechteam commented on #5048
So far I’ve only been able to work with it on the ThinStation Linux.  The only other Linux I have around is Debian (Raspberry Pi/Raspbian for ARM and the Raspberry Pi Desktop version for Intel) and I can use xfreerdp on there after installing with apt-get, but I’m sure that version is much older than the current version on github.

Do you think a test of xfreerdp in that environment with my gatewa

[2018-12-05 17:47] akallabeth commented on #5048
Yes, you can compile our nightlies with dpkg-buildpackage on the raspberry https://github.com/FreeRDP/FreeRDP/wiki/Compilation
That will give good debug information

[2018-12-05 19:16] uhtechteam commented on #5048
@akallabeth I managed to get the "2>&1 |tee log.txt" working if I sudo tee... It actually is prompting me on the command line for a gateway username and password which I provide (blind) and then it does connect.  Silly me.
Do you want me to compile for debug before using that method to generate the log file?

[2018-12-05 21:06] uhtechteam commented on #5048
Compiled with debug and ran with log level trace.  Here's the file.
[freerdplog-debug-trace.txt](https://github.com/FreeRDP/FreeRDP/files/2650648/freerdplog-debug-trace.txt)

[2018-12-06 04:36] hualet opened #5108 "Support RAIL notification icon"
**Is your feature request related to a problem? Please describe.**
Applications that rely on notification icons to work well is not usable in RAIL mode, for example, IM Apps, downloaders etc.

**Describe the solution you'd like**
Provide basic notification icon support in RAIL mode.

**Describe alternatives you've considered**
NO.

**Additional context**
NO

[2018-12-06 04:42] hualet commented on #5108
Actually, I'm working an implementation, it can work now, not perfectly working thro.
And my question is it OK that I file a PR now? or I should wait until it's perfectly done?

[2018-12-06 06:38] aijyo commented on #5089
I find we just need a function named freerdp_assistance_encrypt2 to encrypt connectinstring2 ,  which is the opposite function of freerdp_assistance_decrypt2. And then we can convert connectionstring2 to remote assistance file.
I have tried it, but it failed. I am not familiar with Openssl encryption and decryption...
I am currently trying various ways to solve this problem....including replying t

[2018-12-06 07:49] akallabeth commented on #5108
@hualet you can create a pull and prefix that with `[WIP]`. That way we can let our build bot check your changes too.
Also please run the code formatter script before committing changes.

And thank you for this :)

[2018-12-06 08:45] akallabeth commented on #5089
@aijyo pull requests welcome, but please stop asking the same question all over the place.
This is kind of annoying and won't help your cause.

[2018-12-06 08:47] aijyo commented on #5089
Thank you for your reply.
Can you take a moment to implement the encryption function? I think that after doing this, we  can connect using connectionstring...

[2018-12-06 08:52] akallabeth commented on #5048
@uhtechteam Ok, of course the error occurs without additional log messages :/ I'll prepare a branch with additional log messages to trace that a bit further.
btw, if you need `sudo tee` you most likely wrote to the wrong folder ;) try something like `tee /tmp/log.txt` then this should work.

[2018-12-06 09:08] akallabeth commented on #5048
@uhtechteam ok, created https://github.com/akallabeth/FreeRDP/tree/gw_logging with some additional log messages for error conditions currently not writing any.

[2018-12-06 11:34] grufo commented on #5107
How can I test that fix - it's not included in the daily snapshot - is it?

[2018-12-06 15:48] ddombrowsky opened #5112 "ERRINFO_INVALID_INPUT_PDU_MOUSE and exit on middle mouse button click"
**Describe the bug**

When connected to any client, if I use the middle mouse button, the program forcibly disconnects from the remote host.

[code]

I can live without it, but it would be nice to have a work-around that doesn't close the connection.

**To Reproduce**
Steps to reproduce the behavior:
1. open a connection from linux to a local windows VM.
2. click the middle mouse button

**Expecte

[2018-12-06 16:38] uhtechteam commented on #5048
@akallabeth I am trying to pull by using "git clone git://github.com/akallabeth/FreeRDP.git" and it's failing as follows:

[code]
Do I need to change flags or pull differently for this?

[2018-12-06 17:46] uhtechteam commented on #5048
@akallabeth I had to get some help to figure out how to grab this commit and voila...here's the updated log.
[new log with gw_logging.txt](https://github.com/FreeRDP/FreeRDP/files/2654207/new.log.with.gw_logging.txt)

[2018-12-06 21:59] arlied-google opened #5113 "File timestamps are incorrect when reading directory entries ("dir")"
When I use drive redirection, the "dir" command in Windows shows completely bogus file timestamps.

For example, when I run "dir" against a redirected drive, I get:

01/14/13651  11:21 PM    <DIR>          home
01/01/1601  12:00 AM    <DIR>          numa
01/23/4418  03:17 PM    <DIR>          Downloads
11/27/19458  08:47 PM    <DIR>          winddk-samples
01/01/1601  12:00 AM    <DIR>          pu

[2018-12-07 00:52] markd89 opened #5114 "Zoom-in/scale-up when remoting from HiDPI"
My machine that I sit at and remote **from** has a 3840x2160 display.

I'd like to RDP **to** a windows host using a window that is 1280x900  **but** have that window up-scaled so that each pixel uses 4 pixels on my HiDPI display.

Put another way, if I run my display at 1920x1080 and connect to the windows host at 1280x900, everything is fine. I want to run my display at 3830x2160 and have that w

[2018-12-07 07:52] akallabeth commented on #5114
/smart-scaling /size:1280x900
Please use IRC or the mailing list for support.

[2018-12-07 07:53] #5114 closed

[2018-12-07 08:06] akallabeth commented on #5112
Could you check if it works with current nightlies?
Working with these daily (and remmina uses them too) so this seems to be already resolved.

[2018-12-07 08:10] bmiklautz commented on #5112
https://ci.freerdp.com/job/freerdp-nightly-binaries/ you find the nightly builds for testing there.

[2018-12-07 08:33] akallabeth commented on #5113
@arlied-google Indeed interesting, looking at the same location with explorer shows the correct timestamps :/

[2018-12-07 08:56] hardening opened #5115 "Some new warnings"
[code]

[2018-12-07 09:04] grufo commented on #5107
Did a checkout and compile - works for me!
When will it be included in the nigthly build?
Thank you for fixing :-)

[2018-12-07 10:31] #5113 closed

[2018-12-07 10:59] akallabeth commented on #5107
@grufo Good to know. As to when it will be included, that is up to the other members of the project, we try not to merge our own pull requests ;)

[2018-12-07 11:02] akallabeth commented on #5048
@uhtechteam ok, that is now even stranger. You are properly connected, everything is working and suddenly the `SSL` connection is breaking up. (Can not read anything from the channel anymore)

[2018-12-07 11:19] akallabeth commented on #5048
@uhtechteam can you verify this setup actually works with any client (over a extended period of time), it is looking more and more like a network issue.

[2018-12-07 12:31] #5115 closed

[2018-12-07 13:02] uhtechteam commented on #5048
What I can tell you for sure is that I get the same disconnect on any of these Linux clients running from anywhere, and that my Windows and Mac clients accessing the same terminal server and gateway don’t seem to disconnect at all.  It only happens in FreeRDP and only when going through the gateway.

Since it doesn’t seem to kick off the Windows and Mac clients, I don’t think it’s a network issue.

[2018-12-07 13:03] #5098 closed

[2018-12-07 13:11] akallabeth commented on #5048
@uhtechteam which mac clients did you test with?

[2018-12-07 13:15] uhtechteam commented on #5048
We have a handful of people using the Microsoft RDP client on Mac.  Haven’t tried with FreeRDP.

[2018-12-07 13:23] akallabeth commented on #5107
@grufo Ok, you're lucky and it was resolved today :)

[2018-12-07 13:23] #5107 closed

[2018-12-07 13:47] uhtechteam commented on #5048
I also suspect that keep alive is somehow involved here, as if I am actively using it, it won’t disconnect as quickly, but if I walk away from my desk for a minute and a half, it will be disconnected by the time I get back.  That doesn’t happen with the MS client software.

[2018-12-07 13:49] akallabeth commented on #5048
@uhtechteam try with `/echo /network:auto` and check if that helps.

[2018-12-07 15:08] uhtechteam commented on #5048
@akallabeth one thing I can tell you for sure is that my fonts look a lot prettier with those switches :) not sure what they do exactly but testing at present.

[2018-12-07 15:36] uhtechteam commented on #5048
Looked pretty but disconnected.  Log attached but the only difference seems to be a new set of errors at the bottom:
[15:22:08:546] [3009:3012] [DEBUG][com.freerdp.core] - rdp_check_fds() - -1
[15:22:08:546] [3009:3012] [INFO][com.freerdp.client.common] - Network disconnect!
[15:22:08:551] [3009:3018] [DEBUG][com.freerdp.channels.rdpsnd.client] - Device already
[large log for freerdp.zip](https://

[2018-12-07 15:43] akallabeth commented on #5048
@uhtechteam ok, interesting. we've merged the logger changes back to master in between. the error is still the same, some parsing error in a http response. Might need to dump that response to analyze.

[2018-12-07 15:54] uhtechteam commented on #5048
OK.  So should I go back to the regular master branch and then await your instructions for the next log type?

[2018-12-07 16:37] uhtechteam commented on #5048
Also, 1 potentially informative piece of information: this is a server farm we are using, and the blue bar at the top starts off showing the farm address (tsfarm...com) but after I minimize and maximize, it'll show the name of the actual server I'm connected to (currently ts1...com).  Not sure if that change or informational update is in any way related to the issue we are having but worth noting.

[2018-12-07 17:40] arlied-google commented on #5113
Thank you so much!  I pulled, built, and verified the fix, and it looks great.

[2018-12-08 10:23] giox069 opened #5119 "Artifacts when connecting to windows 2003 server and width (/w:) is an odd value"
Using xfreerdp (or remmina). Connecting to remote windows 2003 server with a non even resolution width (i.e.: /w:1025)

Here is the result:

![immagine](https://user-images.githubusercontent.com/5477803/49684954-9044a600-fadb-11e8-87f4-b7f420d6d511.png)

[2018-12-09 12:41] openconcerto commented on #4944
the issue is fixed

[2018-12-10 02:59] loumt commented on #2298
I  come from #5095

I tested the latest code on **master** on Centos7.(At 2018.12.10)
[code]
**Unfortunately, as you test, you can only open the application and not the file.**

Thanks a lot.

[2018-12-10 08:14] staples1347 opened #5121 "Failure to get clipboard data when copying Windows Update info"
Local Host: Gentoo x86_64 with X
Tested Remote Hosts: Windows 7, Windows 8, Windows Server 2008 R2, and Windows Server 2012
FreeRDP: Version: 2.0.0_rc2, 2.0.0_rc4, latest master: https://github.com/FreeRDP/FreeRDP/commit/fc12b9336f6c6b5b49bdfc564ce8e4443d9e82ef

To reproduce: Go to "Control Panel\All Control Panel Items\Windows Update" in Windows Explorer then after clicking on an update to get to

[2018-12-10 10:58] #5019 closed

[2018-12-10 11:34] ddombrowsky commented on #5112
nightly builds will not run for me, as installed by `apt`.

[code]

I tried fudging `LD_LIBRARY_PATH` with `/opt/freerdp-nightly/lib/` but that didn't work.  Don't know what else to try.

[2018-12-10 11:39] ddombrowsky commented on #5112
After specifying the environment, it fails with the same error on middle click:

[code]

This is FreeRDP version 2.0.0-dev5 (fc12b9336)

[2018-12-10 11:49] akallabeth commented on #5112
@ddombrowsky Ok, the line `[06:37:42:189] [20880:20881] [ERROR][com.freerdp.client.x11] - Mouse physical button 1 is mapped to logical button 0` is interesting.
You have some local mouse button mapping magic activated?

[2018-12-10 11:52] ddombrowsky commented on #5112
@akallabeth I use a logi marble mouse, with a defined button mapping, yes.  I use `xinput` to map the left "page down" button to the middle button.

[code]

[2018-12-10 12:08] akallabeth commented on #5112
@ddombrowsky Are you sure a button id of `0` is allowed? This seems to cause the problems.

[2018-12-10 12:31] ddombrowsky commented on #5112
@akallabeth yes. From the manpage:

[code]

I also tried mapping it to "8" and that fails with a similar error message.

[2018-12-10 12:33] bmiklautz commented on #5112
@ddombrowsky would you test with xfreerdp without the mapping? That could help to pin down the problem.

[2018-12-10 12:39] ddombrowsky commented on #5112
@bmiklautz Yes, if I change the `xinput` mapping to default, `xfreerdp` does not disconnect.  The button defaults to the "back" button and works as designed (which, in my opinion is a bug not a feature, but that's my complaint to logitech).  Without the mapping I have no middle mouse button, so I can't test that.

[2018-12-10 13:45] #5040 closed

[2018-12-10 14:01] akallabeth commented on #5119
@giox069 Looks very much like a problem of server 2003 and input validation.
Getting the value back from the server but the image is distorted, so it is lying to us about the actual resolution.
Also not getting this issue with newer versions of windows (7 and up).
So, as we're currently very busy with getting the final 2.0 out (this time hopefully for real ;)) I'm setting this to wontfix, but if a

[2018-12-10 14:33] AJNik77 opened #5127 "Freerdp-2.0.0-rc4 not connect Windows Server 2003 R2"
Command line: `$ xfreerdp /sec:rdp /u:admin /v:192.168.59.101:3389`
Result:
[code]
Freerdp-2.0.0-rc2 connects without problems.
Freerdp-2.0.0-rc4 connects to servers Windows Server 2008 with the option `sec:rdp` without problems.

[2018-12-10 14:36] akallabeth commented on #5127
Duplicate of #5101

[2018-12-10 14:36] #5127 closed

[2018-12-10 14:37] akallabeth commented on #5127
Please search closed issues before creating a new one.

[2018-12-11 04:35] qiandahao commented on #5004
@akallabeth Any progress? I got the same issue. Thank you!

[2018-12-11 07:51] stilyan opened #5129 "Using /smart-sizing with dual monitor setup minimizes the xfreerdp screen to fit a single display instead of both"
Initially found here, https://github.com/FreeRDP/FreeRDP/issues/5047#issuecomment-441166522 and reported separately per developer's recommendation.

Dual monitor setup, both 1680x1050
FreeRDP build from latest git source
Built like this
`cmake -GNinja -DCMAKE_INSTALL_PREFIX=/opt/freerdp -DWITH_DSP_FFMPEG=ON -DWITH_PULSE=ON
`
Running like this
`#!/bin/sh /opt/freerdp-nightly/bin/xfreerdp \ -window-

[2018-12-11 08:09] aijyo opened #5130 "About assistance::freerdp_assistance_generate_pass_stub error"
Just as the title, assistance::freerdp_assistance_generate_pass_stub is used to init a passstub(can be find int remote assistance file).
Current implement is :
/**
	 * PassStub generation:
	 *
	 * Characters 0 and 5-13 are from the set A-Z a-z 0-9 * _
	 * Character 1 is from the set !@#$&^*()-+=
	 * Character 2 is from the set 0-9
	 * Character 3 is from the set A-Z
	 * Character 4 is from the set

[2018-12-11 08:19] #5004 closed

[2018-12-11 08:40] akallabeth commented on #5129
@stilyan Can not reproduce, but maybe we're talking about different things:
* I can start in dual monitor fullscreen, ok that is expected
* I can leave fullscreen, then I get a maximized window (gnome defaults to single monitor maximization)
* Then I can resize the window like any other
* When I reenter fullscreen again both monitors are used.

[2018-12-11 08:41] akallabeth commented on #5130
This is not a support forum.

[2018-12-11 08:41] #5130 closed

[2018-12-11 08:46] aijyo commented on #5130
So where should I submit this question, I want to implement somthing like msra.exe based on the current freerdp-shadow-cli code, I think the original intention of freerdp-shadow-cli is also like this.
Or freerdp-shadow-cli is just a toy, freerdp is not going to implement it.

[2018-12-11 08:54] bmiklautz commented on #5112
@ddombrowsky @akallabeth 's fix is already merged and should be in tomorrows nightly build. Would nice if you can verify if your problem is fixes with it and close the issue.

[2018-12-11 08:58] akallabeth commented on #5130
as already mentioned, please write a mail with a proper explanation to the mailing list.
If you describe your problem and what you want to do you'll get an answer.
And please don't write something like this issue where everyone has to guess quite a lot to only grasp what this is about.

Currently `freerdp-shadow-cli` is a simple tool to mirror the current session of a user, no session management o

[2018-12-11 09:00] aijyo commented on #5130
Thanks for your replay and explanation.

[2018-12-11 09:23] ppokhriyal opened #5132 "USB Keyboard SmartCard Authentication issue"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-12-11 09:30] #5121 closed

[2018-12-11 10:21] akallabeth commented on #5132
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2018-12-11 10:21] #5132 closed

[2018-12-11 13:27] cd-rw opened #5135 "Print problem through Remmina"
Hello.
There was one problem with the seal through Remmina.

remmina - version 1.2.32.1
FreeRDP - version 2.0.0
Printer - Epson l355

Client (Linux Mint 17.3 x64) connected via Remmina (tick cocked - make a local printer available to the public) to WinSrv2012R2 printer redirected = print one copy of all right, but if you set the number of copies 2 - go to print 1 sheet

[2018-12-11 13:46] ppokhriyal commented on #5132
XfreeRDP Version 2.0.0-RC2
Server to Connect Windows Server 2008 R2
SmartCARD : LENOVO KEYBOARD SMARTCARD

I want to use the above mentioned Lenovo Keyboard Smart card for authentication.But when i got the session of the server it gets stuck on **"Please unlock the smart card with external device"**.

[2018-12-11 14:21] akallabeth commented on #5132
Support questions please via IRC or mailing list.

[2018-12-11 14:34] akallabeth commented on #2074
Is this resolved with `2.0.0-rc4` and following?

[2018-12-11 14:37] akallabeth commented on #2822
No longer reproducible with `2.0.0-rc4`, closing.
Reopen / create a new issue if it can be reproduced with current versions.

[2018-12-11 14:37] #2822 closed

[2018-12-11 16:23] uhtechteam commented on #5048
@akallabeth just checking in to see if there is anything else I can do.

[2018-12-11 16:25] chrislong commented on #4934
Still exists in 2.0.0-rc4 and in the latest nightly (2.0.0-dev5 (531b1b63e), aka 2.0.0+0~20181211024825.606~1.gbp531b1b).

[2018-12-11 16:30] informatimago commented on #5132
You should get the reader doc:
https://download.lenovo.com/pccbbs/options/usb_smartcard_kb_en.pdf
That message doesn’t come from FreeRDP, but from the card driver.  Check the leds and the doc. My guess is that it requests that you type the PIN on the keypad.

[2018-12-11 18:28] chrislong opened #5136 "Seamless window has limited desktop"
**Describe the bug**
When launching an application in seamless mode, the window does not repaint outside of a region smaller than the whole screen, approximately 2524x1358. If any part of the window is farther from the origin than that, that part of the window does not repaint nor do mouse clicks register there. For example, my laptop monitor has resolution 3840x2160, so I need to keep remote apps

[2018-12-11 19:07] sebastianuw opened #5137 "/drive:hotplug,* flag errors with "No match"."
With build 0b7b9c0 I run xfreerdp with the flag "/drive:hotplug,*" with no issues, on newer builds (including today's) I get the error: "No match" when I try starting xfreerdp with it.

[2018-12-11 21:43] chrislong commented on #5136
Some extra info that might be relevant: When I run `xfreerdp /monitor-list`, the output is

The dimensions of monitor 0 are simliar to the limitations I see for window repainting and event handling, so I think this multi-monitor setup may have something to do with what I'm seeing.

[2018-12-11 21:46] chrislong commented on #5136
I've discovered a partial workaround. Adding `/span` lets windows work over most of my desktop, but if I drag a window too far right it grows itself really big.

[2018-12-12 01:12] benjaminwingert commented on #4934
I can confirm that the error still exists. Tried it with nightly version Nextcloud-2.5.1.20181211-daily-x86_64 on Debian 9 (stretch).

Following lines of log does may be help? (obscured)
`[OCC::AccessManager::createRequest 	4 "" "https://XXX/ocs/v2.php/apps/end_to_end_encryption/api/v1/public-key?format=json" has X-Request-ID "059dd388-6050-40dd-b341-df4f325a8b1c"
[OCC::AbstractNetworkJob::start

[2018-12-12 04:45] jphein commented on #5137
How does the flag "+drives" work?

[2018-12-12 07:41] astrand opened #5138 "Trusting certificate with "Y" does store cert or allow connection"
2.0.0-dev4 worked fine, but 2.0.0-dev5 does not store certificate in known_hosts2, or allow connection:

$ xfreerdp /v:40.76.78.ZZ /p:XXXX
[code]
However, pressing "t" works. Also, if I already have a correct known_hosts2 (created by dev4), it works fine.

[2018-12-12 07:43] hardening commented on #5138
+1

[2018-12-12 07:52] akallabeth commented on #5138
Already fixed with https://github.com/FreeRDP/FreeRDP/pull/5124

[2018-12-12 07:54] astrand commented on #5138
Thanks, just realized that. My FreeRDP source was a few days old. Sorry for the noise. I've verified that the fix works correctly.

[2018-12-12 08:02] akallabeth commented on #5138
No problem, thx for the feedback :)

[2018-12-12 08:02] #5138 closed

[2018-12-12 08:08] akallabeth commented on #5137
@sebastianuw please clarify. I can run a session perfectly fine with `xfreerdp /v:<host> /u:<user> /p:<pwd> /drive:hotplug,*`

[2018-12-12 08:15] benjaminwingert commented on #4934
you are right. Wrong topic.
Still I can confirm that the windows are shrinking.
FreeRDP version version 2.0.0-dev5 (f678a91d6) on Debian 9 (stretch) with Gnome and X11.
Feels like the window decoration gets subtracted from the window size on each move.

[2018-12-12 08:30] akallabeth commented on #5136
You might have hit one of these https://social.technet.microsoft.com/wiki/contents/articles/31983.remote-desktop-protocol-maximum-supported-resolutions.aspx although I don't see which one (should be well in range for windows 10 as server)

[2018-12-12 08:30] akallabeth commented on #5137
@jphein Support questions please via IRC or mailing list

[2018-12-12 08:36] sblive commented on #4899
This bug has reappeared for us within the last few days, current version "2.0.0-dev5 (4dac07667)" is broken again: floatbar is always shown in fullscreen, cannot hide, even with double click, "-floatbar" also does not do anything.

[2018-12-12 08:40] sblive commented on #4899
using "/floatbar:sticky:off,default:hidden" makes it auto-hide, however we do not want it at all and buttons still do not work

[2018-12-12 08:45] sblive commented on #4899
buildconfig:
This is FreeRDP version 2.0.0-dev5 (4dac07667)
Build configuration: BUILD_TESTING=no BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_JOURNALD_H=TRUE HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIB=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK_SYMBOL= HAVE_SYSLOG_H=1 HAVE_SYS_EVENTFD_H=1 HAVE_SYS_FILIO

[2018-12-12 09:01] akallabeth commented on #4899
@sblive Have you tried just not to activate the floatbar if you don't want it? (`xfreerdp` without arguments should give you a full explanation of all available options)
As for the wiki, true, any volunteers?

[2018-12-12 10:06] svarog181 opened #5141 "Can't write symobls in login or password fields in app mode"
Describe:
I have Windows Server 2016 with specific app on him and ALTLinux Workstation 8 or OpenSUSE 15.
When I open rdp session in app mode from Linux to Windows with this specific app, I can't write any symbols in login and password fields. If start another app in the same time on the same Linux (notepad, calc, etc), symbols start to be written. In remote desktop mode, all working.

To Reproduce

[2018-12-12 10:33] cd-rw commented on #5135
From OS Linux mint prints correctly - we set several copies and on the printer we get several copies. The driver is downloaded from the official site.

[2018-12-12 10:45] svarog181 commented on #5141
I try with various builds of 2.0.0 (rc1, rc2, ALT builds), everywhere some problem

[2018-12-12 13:13] akallabeth commented on #5141
@svarog181 What do you mean with `ALT builds` and why not more recent `rc` versions as `2.0.0-rc4`?

[2018-12-12 13:15] akallabeth commented on #5135
@cd-rw Ok, could you share your command line?

[2018-12-12 13:45] astrand commented on #3639
I agree that this is an important issue which needs to be fixed before 2.0. Here are my thoughts:

- I don't like the idea of environment variables, due to the problems mentioned above. Transferring the credentials over a FD is preferred.

- Mechanism: "stdin" is a FD (0), so why is there a need to use some other file FD? gpg has a "passphrase-fd" option, but it also has a lot of other features us

[2018-12-12 13:51] cd-rw commented on #5135
Remina is launched from the GUI. What you need to type in the command line?

[2018-12-12 13:53] akallabeth commented on #3639
@astrand the `from-fd` approach allows piping, so a `echo foo |xfreerdp` will work. Askpass would be a great extension to that though.

[2018-12-12 14:01] akallabeth commented on #5135
@cd-rw sorry, misread your last comment, thought you have it running with some other configuration

[2018-12-13 08:47] akallabeth commented on #5137
Closing as not reproducible.
Create a new issue with additional information if you can reproduce.

[2018-12-13 08:47] #5137 closed

[2018-12-13 08:49] akallabeth commented on #5112
Fix was merged and is working here.
Reopen if still not fixed.

[2018-12-13 08:49] #5112 closed

[2018-12-13 08:55] akallabeth commented on #5048
@uhtechteam still can't reproduce. no clue what is actually wrong (can't rule out configuration issues/software bugs/...)
The title update stuff is just informative, will have a look at it though (should be updated in place and not on next window hide/show)

[2018-12-13 09:00] akallabeth commented on #5086
Closing due to lack of feedback.

[2018-12-13 09:00] #5086 closed

[2018-12-13 13:36] ddombrowsky commented on #5112
I can confirm this fixed.  The button now doesn't do anything, but that's better than a disconnect.

Thank you all for your help.

[2018-12-13 14:30] akallabeth commented on #5129
@stilyan Could you add some details? Will close the issue otherwise as not reproducible.

[2018-12-13 15:01] stilyan commented on #5129
Surely, tomorrow. I'm not close to the setup at this point. Thanks.

[2018-12-13 15:05] akallabeth commented on #5112
@ddombrowsky thx for the feedback.
The button you mean your second one set to `0`? Isn't that what it is supposed to do as `0` stands for deactivated?

[2018-12-13 15:10] uhtechteam commented on #5048
@akallabeth it's OK, in fullscreen that bar seems to have disappeared anyway which is fine with me.  Is there some kind of packet trace/dump I can do that will actually capture the traffic through the gateway that causes the disconnect?  That might be informative.

[2018-12-13 15:12] ddombrowsky commented on #5112
@akallabeth The logi marble mouse has no "middle" mouse button.  You need to use software to decide which button to use (if any) as the middle one.  On windows, there's a separate hook in the driver (I think).  On linux, which I use, it's an xinput setting which tells X11 to return the code for button "2" when button 8 is clicked.  I'm not sure why that code isn't being sent through to `xfreerdp`

[2018-12-13 15:13] ddombrowsky commented on #5112
@akallabeth Sure enough, right after I posted that, I tried `+unmap-buttons` which does exactly what I was looking for.  Now that the disconnect is fixed, that flag works and everything is right with the world!

[2018-12-13 15:21] akallabeth commented on #5048
@uhtechteam complete setup description and gateway configuration might help. (Which os, all policy vales, ...)

[2018-12-13 15:47] akallabeth commented on #5048
Did you find any pattern in the disconnects? (Certain transferred data size, time, ...?)

[2018-12-13 15:51] uhtechteam commented on #5048
What I've identified is:

- It will eventually disconnect regardless
- When it is not being used (i.e. you walk away from the computer for 2 minutes) it will almost definitely have disconnected when you come back
- If you are using it actively and continuously, it will take longer to disconnect
- If it does not drop off that way and it goes to the Windows lock screen, it will sit there for a long

[2018-12-14 09:01] akallabeth commented on #2074
Tried with `2.0.0-rc4` and da819bf770cf14202514601182ea2a9d48056280
channel recycling is working there.

[2018-12-14 09:01] #2074 closed

[2018-12-14 09:30] akallabeth commented on #1195
@MartinHaimberger Added as a first step callbacks that can be implemented by a client to present it to the user.
For existing command line clients there is already a `WLog` message printed.

[2018-12-14 10:31] akallabeth commented on #5048
@uhtechteam Ok, finally managed to reproduce such a disconnect:
1. Watching youtube, don't do anything on the computer
1. The local image freezes
1. The session disconnects (after ~30 seconds to 1 minute)

What is interesting though is that this only happens with legacy gdi, as soon as `/rfx` or `/gfx` is uses I can no longer reproduce this.

[2018-12-14 11:05] akallabeth commented on #5048
@uhtechteam could you try if using `+heartbeat` makes any difference?

[2018-12-14 11:48] akallabeth commented on #5048
@uhtechteam ok, additional information: Can only reproduce with the `RPC` gateway implementation, the `HTTP` version is not affected.
(side note: the same server with the same gateway is running much smoother with `/gt:http` while `/gt:rpc` is a slide show)

[2018-12-14 12:02] akallabeth commented on #5048
@uhtechteam could you also check the value (and if it exists) of `HKLM\Software\Microsoft\Rpc\DefaultChannelLifetime`?

[2018-12-14 13:16] stilyan commented on #5129
@akallabeth

I start dual monitor setup like so:
`echo Y | /opt/freerdp/bin/xfreerdp \
-window-drag \
-menu-anims \
-themes \
+fonts \
/bpp:32 \
/f \
/smart-sizing \
-decorations \
-compression \
/audio-mode:0 \
/mic:format:1 \
/sound:latency:50 \
/multimon \
-floatbar \
/v:$1 \
/u:$2 \
/p:$3`

Going through your points one by one:

- I can start in dual monitor fullscreen, ok that is expected
I c

[2018-12-14 13:30] akallabeth commented on #5129
Ok, so the you want maximization part can't be handled by freerdp, you need some external tool/script for that.
As for you no longer can drag the window around, that is indeed strange. I've tried this too and it works (but only have debian and fedora to test with dual screen)

[2018-12-14 15:47] uhtechteam commented on #5048
Wow @akallabeth that was quite a report.  Testing now with `+heartbeat` and so far so good but I don't think I've been connected for long enough to know for sure.  I've got to give it a few hours at least :)

The key you referenced doesn't exist in the registry on the gateway.

I'm not sure I can connect as you suggested by http as when I connect I see the following:
[code]
Doesn't that mean HTTP

[2018-12-14 16:01] uhtechteam commented on #5048
@akallabeth it eventually booted me with `+heartbeat`.  Same disconnect message.

[2018-12-14 16:11] uhtechteam commented on #5048
Also dropped with /gfx for me.  Full command line was:
`xfreerdp /v:myserverfarm /cert-ignore /f /d:'mydomain' /g:'mygateway' /echo /network:auto +heartbeat /gfx`

[2018-12-14 17:00] akallabeth commented on #5048
@uhtechteam server2008 only supports `/rfx` (did the `/gfx` tests against a windows 10) but that needs to be enabled server side.
as for the http gateway stuff, yes, it is not activated for your configuration.

[2018-12-14 17:03] uhtechteam commented on #5048
Got it.  So the question is what should I ask our server people to change/enable?  Or should we concentrate on figuring out how to fix in the current configuration?

[2018-12-14 18:57] akallabeth commented on #5048
@uhtechteam you can enable rfx on the servers (not gateway) and add the /rfx flag client wise.

Gateway wise http would be nice, but I don't know when that was introduced (tested with a 2012 gw where I could reproduce)

[2018-12-15 21:42] unknownError opened #5153 "Not setting "-K" option only applies to keyboard, but not to mouse + keyboard combinations"
Hi

I am Trying to use the keyboard's "alt" key and different mouse buttons, but events are not sent to the remote windows machine as expected. The same is also partly reported in #3888. The mentioned +unmap-buttons does not influence the behaviour.

I tried nightly build and ubuntu 16.04 stock version of freerdp: 2.0.0-dev5 (faff639ad) and
1.1.0-beta1.

Reading through the report #3888 which is o

[2018-12-16 13:50] paniksystem opened #5154 "Window drag outline is not drawn"
From the latest master:
xfreerdp /v:host /u:user /p:pass /cert-ignore /w:1024 /h:768

When dragging a window with the mouse, a black outline should be drawn to simulate the window movement. This seems to no longer be the case.

[2018-12-16 14:10] akallabeth commented on #5154
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2018-12-16 14:15] paniksystem commented on #5154
I don't what else to say,
xfreerdp built from latest master from ubuntu 16.04 and 18.04
connecting to a Windows 10 desktop

[2018-12-16 14:36] akallabeth commented on #5154
Ok, windows 10. no changes on our side, does this work with mstsc?

[2018-12-16 14:40] paniksystem commented on #5154
Good call! Even with mstsc the drag outline is not present, i guess this is related to Windows 10 then.
Closing. Thank you. Sorry for wasting your time.

[2018-12-16 14:40] #5154 closed

[2018-12-17 07:46] akallabeth commented on #5153
@unknownError You're using the legacy command line (`-K -> -grab-keyboard`) and are inverting the meaning.
You effectively disable the keyboard low level grabbing and your window manager is handling these events.

[2018-12-17 07:57] akallabeth commented on #2862
@jo3rg http status code 500, looks like your gateway config is a bit off. If related to some invalid request data this should be fixed with `2.0.0-rc4`, otherwise review your gateway configuration.

[2018-12-17 08:19] akallabeth commented on #3277
Updated the debug wiki to the current implementation.

[2018-12-17 08:19] #3277 closed

[2018-12-17 12:12] akallabeth commented on #4841
Initial version in #5156

[2018-12-17 16:00] uhtechteam commented on #5048
Working on that on our end.  In the meantime I guess the question is if it's worth tracking down & fixing the cause of the issue in an basic 2008 R2 configuration like mine or not.

[2018-12-18 02:06] QinLongFei opened #5157 "The gdb will hang when the xf_cliprdr_process_requested_data breakpoint was triggered the second time during copy/paste file."
**Describe the bug**

I set the breakpoint on  xf_cliprdr_process_requested_data() and try to copy/paste a file.

Generally, this breakpoint will be triggered twice. I found the gdb will hang at the second time. I can do nothing after that.

**To Reproduce**
Steps to reproduce the behavior:
1. Build FreeRDP on Ubuntu.(https://github.com/FreeRDP/FreeRDP/wiki/Compilation)
2. gdb xfreerdp.(gdb --args

[2018-12-18 07:41] QinLongFei commented on #5157
Hi，akallabeth,

Thanks for your reply.

Could you tell me which debug variable I can change? Which's file?

Thanks

[2018-12-18 07:46] QinLongFei commented on #5157
Which's lock? Why the first trigger didn't been locked?

[2018-12-18 08:16] akallabeth commented on #5047
Ok, tried also with my ubuntu `18.04` and `18.10` installs @home and could not reproduce.
Therefore closing.
Most likely some extension / setting in your user account. Try to create a test user, log in with defaults and try the same there.

[2018-12-18 08:16] #5047 closed

[2018-12-18 08:22] akallabeth commented on #5157
@QinLongFei `xfc->debug` is the variable (mostly responsible to prevent keyboard/mouse lock and set X11 into synchronous mode)

[2018-12-18 08:41] akallabeth commented on #5129
So, the initial issue is resolved as `not how the option works`, remains the dragging thing. Can not reproduce, could you give details?

[2018-12-18 08:42] akallabeth commented on #5136
Does your server enforce some kind of resolution limit? Check the remote desktop settings with `gpedit.msc`

[2018-12-18 12:34] paniksystem commented on #5154
Funny story, for anyone interested, the last Windows Update on the Windows 10 desktop seems to have fixed the issue.

[2018-12-18 12:38] akallabeth commented on #5154
@paniksystem looks like we're not the only ones with issues :)

[2018-12-18 15:51] uhtechteam commented on #5048
@akallabeth Here's what one of the techs from our MSP said:

1.  I don't really see a way to update the config on the S2008 gateway which would help us here.
There are limitations on what is supported here; and /rfx or RemoteFX is not really supported due to the VM being on a VMware host (this is more of a Hyper-V thing).

I'm looking into session timeouts and keep alive, to define them explicitly

[2018-12-18 16:05] akallabeth commented on #5048
@uhtechteam the timeout is a server side thing that does not get communicated, so no, `xfreerdp` can not display such a warning.
You can create a event periodically sending mouse events though, that should keep the session `alive` if that is required.

[2018-12-18 16:07] uhtechteam commented on #5048
Interesting.  How would I do that?

[2018-12-18 16:17] akallabeth commented on #5048
Either externally with xdotool or similar (that just moves the mouse) or in code with a periodic timer just as in xf_disp.c

[2018-12-18 16:18] akallabeth commented on #5048
So, do I understand correctly that with these timeout settings the issues are solved?

[2018-12-18 16:23] uhtechteam commented on #5048
@akallabeth not really.  The server-side timeout settings changes don't prevent my connections from dropping.  I don't know how to implement the code you're referring to though I wonder if it would be best included in the RPC gateway code in xfreerdp as it would mitigate the disconnect issue for anyone using such a configuration.  It is still dropping off for me, but I added +auto-reconnect on my

[2018-12-19 15:04] cizra commented on #505
Here's how I got my Caps Lock to work as Control over FreeRDP:
edit `FreeRDP-2.0.0-rc4/libfreerdp/locale/keyboard_xkbfile.c`
find and edit the line with `evdev 66` to say `{ "CAPS", RDP_SCANCODE_LCONTROL },	// evdev 66`

[2018-12-19 15:24] akallabeth opened #5161 "Wayland client does no longer repaint when focus lost"
* Connect to a server using wayland client
* Switch between applications

Wayland client no longer repaints the session

[2018-12-19 15:27] akallabeth opened #5162 "wayland fullscreen shell support"
https://cgit.freedesktop.org/wayland/wayland-protocols/tree/unstable/fullscreen-shell

[2018-12-19 20:06] hardening commented on #5162
@akallabeth the link you sent is not fullscreen support, IIRC it's a specific shell that displays a surface as the content of the screen.

[2018-12-20 08:43] akallabeth commented on #5162
@hardening Might still be handy for terminal clients, so the session is actually the whole shell.

[2018-12-20 08:45] akallabeth opened #5163 "Wayland multimonitor support"
Add support for multimonitor in wayland client

[2018-12-20 08:47] akallabeth opened #5164 "Wayland RAIL support"
Current implementation for remote application is X11 only

[2018-12-20 08:50] akallabeth opened #5165 "Wayland window decoration and resize support"
* Add support for server side decorations https://cgit.freedesktop.org/wayland/wayland-protocols/tree/unstable/xdg-decoration/xdg-decoration-unstable-v1.xml
* Add support for client side decorations
* Add support for resizing the window when `smart-sizing` or `dynamic-resolution` are activated

[2018-12-21 14:11] informatimago opened #5167 "Memory leaks in TestFreeRDPCodecRemoteFX"
Compiling with the following scripst, I get in memory leaks in TestFreeRDPCodecRemoteFX.

Summary: compiling with various -fsanitize options with gcc-8 on ubuntu-18.04.

In details:

I run this script to install gcc-8 with its dependencies in `/usr/local/gcc` on ubuntu-18.04 and ubuntu-14.04 (also tested on debian 8.11 jessie).
[get-and-compile-gcc.txt](https://github.com/FreeRDP/FreeRDP/files/270

[2018-12-21 16:32] chrislong commented on #5136
I found a setting "Limit maximum display resolution" (in Computer Configuration->Administrative Templates->Windows Components->Remote Desktop Services->Remote Desktop Session Host->Remote Session Environment), and it is "not configured". Is there another setting I should check?

[2018-12-21 16:37] akallabeth commented on #5136
That just means use policy default, whatever it is. Try to set to off if possible

[2018-12-21 18:32] chrislong commented on #4934
I did some experimentation with `wmctrl` and discovered that if the window does not have focus when it moves, the shrinking doesn't happen immediately when it's moved, but does when the window gains focus. (This test was with version 2.0.0-dev5 (5b24dc1ac).)

[2018-12-21 23:18] hardening commented on #5136
@chrislong IIRC we check the 8192 value because it is given in the official specs.

[2018-12-22 04:02] akallabeth commented on #5136
@hardening that is out of date iirc, newer servers have higher limits

[2018-12-24 08:08] hendwolt opened #5169 "default value for fonts (enabled) does not work"
With the current master (2.0.0-dev5 (5b24dc1ac)):
The changed default value for "fonts", introduced with #5133, does not work for me.
If I read the source code right, the defaults are hard coded in libfreerdp/core/settings.c.
The change in cmdline.h seems not to be enough.
On the other hand, the "fonts" setting depends on the "network" setting. Is this still desired?

[2018-12-25 02:33] metalefty opened #5170 "fails to build with LibreSSL 2.9.0"
**Describe the bug**
Fails to build with LibreSSL 2.9.0. Found while testing #5049 on FreeBSD. It builds fine with LibreSSL 2.8.3 but fails with 2.9.0 due to structual change.

[code]

[2018-12-26 18:35] FurtadoPires opened #5171 "Add an "% screen" parameter for xfreerdp"
I would like to know if it's possible to size the screen based on the percentage of the monitor (like in rdesktop using the parameter "-g 90%" which opens a window based on 90 percent of the resolution) for example. So it would be easier to configure an script without worry about the resolution of the user monitor.

And if not, if it would be possible to implement in a future update.

Thank you!

[2018-12-27 07:19] sunxing520 commented on #2139
Hi endriu0,
         Have you solved the problem that xfreerdp can't connect to windows? Can you guide me? I also encountered the same problem, thank you.

[2018-12-27 08:45] QinLongFei commented on #5157
Change "xfc->debug = TRUE;" in xf_client.c doesn't solve this issue. the gdb also will be hanged.

[2018-12-27 08:57] QinLongFei opened #5172 "Failed to copy file from remote to local"
I'm running FreeRDP on ubuntu and try to copy file from remote to local. But the copy always failed.
It's just for file copy. The text copy always succeed. And the copy from local to remote also can work well for both file and text.

output of /buildconfig
This is FreeRDP version 2.0.0-dev5 (8c7f8eb)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCN

[2018-12-27 10:09] akallabeth commented on #5172
As mentioned in the docs that is not implemented ;)

[2018-12-27 10:12] QinLongFei commented on #5172
I see. Thanks

[2019-01-02 01:54] phamhathanh commented on #4027
Hello, I'm interested in building on this platform. Please tell me what is the state of this issue, and how can I pick this up. Thanks.

[2019-01-02 17:17] jol64 opened #5177 "hyper-v 2019: failed to initialize gdi"
I tried to run wfreerdp64 on a Hyper-V 2019 (10.0.17763.1) installation. Sounds somewhat crazy, but I stumbled across https://blogs.msdn.microsoft.com/virtual_pc_guy/2014/01/06/local-vm-management-on-hyper-v-server-with-freerdp/ and I thought that´s worth a try...

with wfreerdp 2.0.0-dev3 (b34e3bcf7) it fails however. With the command line "wfreerdp.exe /v:somehost /u:joachim /p:** 2>trace" I get

[2019-01-02 17:44] jol64 commented on #5177
may be the same issue as in https://github.com/FreeRDP/FreeRDP/issues/4716?

[2019-01-02 18:08] akallabeth commented on #5177
Might be, you use the nightlies? Recompile without h264 support (or disable mediafoundation and use openh264) that might do the trick

[2019-01-03 17:00] fodinabor commented on #3411
I thought so too.. but no, they are different..
As far as I understand it, there is only the part returned, that usually is stored in the LHTICKET (but decrypted), so that should equal to the Remote Assistance Connection String 2: https://msdn.microsoft.com/en-us/library/cc240132.aspx

Another observation I made: in my connection string a value `CE=` exists in the `<A` part. I haven't found any do

[2019-01-03 17:05] fodinabor commented on #3411
oups.. missed #5089

[2019-01-03 19:38] jol64 commented on #5177
Ok, I built one on my own. I tried options -DMONOLITHIC_BUILD=ON -DBUILD_SHARED_LIBS=OFF -DWITH_OPENH264=ON, but that resulted in OpenH264 not found (and googling indicated others also failed with building that themselves). Thus tried disabling H264.. but there is obviously no cmake option for that. Thus I used #undef WITH_GFX_H264 and #undef WITH_MEDIA_FOUNDATION in config.h. With that build wfre

[2019-01-04 05:38] suichangyin opened #5179 "Redirect local usb microphone and audio fail"
Hello,
I'm trying to redirect my usb microphone and audio to a remote Windows machine.however there are no devices under the Windows Sound Recording Devices tab.

I've tried connecting using the following commands as well without success:
/opt/freerdp-nightly/bin/xfreerdp  /rfx /cert-ignore /sound:sys:pulse,format:1,quality:high,latency:200 /microphone:sys:pulse +async-update +drives +async-input

[2019-01-04 14:14] akallabeth commented on #5179
Is mic redirection enabled on the server?

[2019-01-04 20:54] bmiklautz commented on #5171
@FurtadoPires that's already implemented on master and will be part of the 2.0 version.
Maybe it is also interesting for you that you can now use the percentage of width or height only if required.

From the commit  (4592deee724e2be837c5c3439ed78f16f2c797e9)  message:
[code]

[2019-01-04 20:54] #5171 closed

[2019-01-07 02:57] chencjfeng opened #5181 "Freerdp's rdpSettings structure has an AlternateShell field length limit of 255"
When I try to connect to Windows Server 2008 R2 32-bit system with freerdp, the AlternateShell in the setting structure fills in a cmd command to start some programs of the target host. After the length of this command exceeds 255, it will be automatically truncated by freerdp, which leads to my target. The host program receives the missing parameters. Do you have any good way to solve this proble

[2019-01-07 07:39] #5169 closed

[2019-01-07 07:53] suichangyin commented on #5179
The 3.5mm mic and audio work fine.
Now,only the usb mic and audio does not work.

[2019-01-07 08:34] akallabeth commented on #5181
That is a protocol limitation, you're out of luck.
You could, of course, just start a script server side doing all the commands...

[2019-01-07 08:34] #5181 closed

[2019-01-07 08:37] akallabeth commented on #5179
You're using pulse audio locally? Try to set the default microphone for that application.
We only forward the default device for an application.

[2019-01-07 08:37] #5179 closed

[2019-01-07 08:46] akallabeth commented on #5170
@metalefty did they implement the openssl 1.1 API? Then a new define check may be necessary.

[2019-01-07 18:48] argonym opened #5185 "File corrupted when copied via clipboard and drive redirection server →client"
**Description**
Hi, I can reproduce file corruption that happens when files are copied from an inside RDP session to the local client via clipboard copy + drive redirection. Only certain file sizes are affected (for sure 16KB and 32KB, always reproducible). Note that an isolated clipboard copy (solely inside a FreeRDP session) or an isolated copy via drive redirection is not affected (but not 100%

[2019-01-08 00:43] metalefty commented on #5170
LGTM. Testing.

[2019-01-08 04:16] metalefty commented on #5170
Confirmed it builds with LibreSSL 2.9.0.

[2019-01-08 07:06] #5170 closed

[2019-01-08 10:12] akallabeth commented on #5179
USB redirection for certain devices is blocked by MS RDP servers, so `/usb` will not work.
As for the USB microphone, check your local audio mixer and select the proper device, then you'll have that one redirected properly. (Just do `/microphone`)

[2019-01-08 10:43] akallabeth commented on #5177
@jol64 sorry, we're not compiling in openh264 currently, otherwise it would automatically fall back to that one.
As for the openh264 related issue, you need to compile a static library and add it to the search path.
The single binary is created with the following instructions:
1. Prepare static compiled OpenH264 and OpenSSL
1. Open VS command line
1. ```cmake -G'yourvisualtudio' -T v120_xp -DCMAKE

[2019-01-08 12:42] #5167 closed

[2019-01-09 12:45] thecrazyonestherebels opened #5189 "Open SSL BIO_read time out issue on Mac"
Hello all,
I am using  freerdp(of commit, 1c75854) from master to connect to remote windows machine which is behind by a Gateway from my Mac(with macOS 10.14.2, Mojave).
The authentication mechanism on gate way that I setup was MFA(1st level authentication using credentials, 2nd level getting a call or code to the registered mobile).

**The problem here is if I don't respond to the 2nd level authe

[2019-01-10 08:42] JVinceW opened #5190 "Try to run FreeRDP on Window 10 Build 1809, freeRDP not work"
Hi FreeRDP dev, I just updated my windows 10 to 1809 Build several days ago.
And after the update, FreeRDP not work, when I type the command, nothing happens. Here is my command and execute log. Please help me.

Command:

[code]

Log:

[code]

[2019-01-10 08:55] akallabeth commented on #5190
Hi @JVinceW please follow https://github.com/FreeRDP/FreeRDP/wiki/BugReporting
Best place for questions is the mailing list or IRC.

[2019-01-10 08:55] #5190 closed

[2019-01-10 13:56] argonym commented on #5185
I started xfreerdp with `WLOG_LEVEL='TRACE'` and grepped for the time when I copied the 32KB file to the redirected drive:
`grep -vE '(rdpgfx|\.gdi|\.progressive)' 11095.log | grep -E '(rdpdr|14:3M:S)'`

[broken.log](https://github.com/FreeRDP/FreeRDP/files/2745494/broken.log) is the 'nested' copy via clipboard+rdpdr and results in a 0 bytes copy.
[ok.log](https://github.com/FreeRDP/FreeRDP/files/

[2019-01-10 13:59] argonym commented on #5185
I'd like to stress again that I have also observed cases where the copy has the correct size but the contents are largely differing from the source.
So you won't directly notice that the file is corrupt!

[2019-01-10 14:44] akallabeth commented on #5185
@argonym Thank you for the update. Can you confirm if the issue does not occur with older freerdp or inside a `mstsc` session?
As for the logs, best upload it with `winpr` log messages still enabled, it could also be an issue with the file abstraction.

[2019-01-11 07:21] akallabeth commented on #4934
@chrislong not sure, but I think there is some capability/setting which the client can send so the server does not do that. It is buried deep in the spec though.

[2019-01-11 11:13] phamhathanh commented on #4027
I managed to compile it with some hacks, but I can't get it to run on UWP yet. I'm not sure how to reference it from a UWP client project. Do I have to static link it manually or something?

[2019-01-11 13:39] argonym commented on #5185
I can confirm that on 68c4bab68f3a279833a51b5b53421a48a43ac281 the problem doesn't exist, and also not when doing the copy purely inside a `mstsc` session.
I uploaded [broken-verbose.log](https://github.com/FreeRDP/FreeRDP/files/2749752/broken-verbose.log) (this time just removing the GFX/GDI log lines). I did the copy at 14:29:59/14:30:00.

[2019-01-11 18:16] chrislong commented on #4934
@akallabeth Thanks, I'll look into it. That would be great. After my last comment, it occurred to me that allowing the server and client to be out of sync may cause other problems. However, I found that sending the same move command again seems to make it "stick" on the server. So I was investigating that. But I'll check the spec for how to disable this behavior.

[2019-01-12 03:14] chrislong commented on #4934
@akallabeth I read the [MS-RDPERP] spec and didn't see any relevant capability or setting, but maybe I missed it. Any idea what it is?

[2019-01-14 12:42] DevDef opened #5193 "Localization of the keyboard layout names"
Hello,

I’m the French translator of Remmina and I’d like the RDP keyboard layout names to be translated.

This keyboard layout list is provided by the `freerdp_keyboard_get_layouts()` function, so it would be nice that either this function or another specific function (call it  `freerdp_keyboard_get_locale_layouts()`) can return a localized version of the keyboard layouts list.

First thing to do

[2019-01-14 15:14] argonym commented on #5185
I can confirm that https://github.com/akallabeth/FreeRDP/commit/805741bdf6755e4e379b818e459b39aa19131e1b fixes the issue.
* Copying the all-zero-bytes 32KB file from an inside mstsc session to the outer shared drive now results in a correct 32KB copy.
* Copying another (zip) file, whose contents got previously corrupted during the copy, is now fine as well.

Thanks a lot. :)

[2019-01-15 10:07] bmiklautz commented on #5189
@thecrazyonestherebels  please do add more details:
* what command line are you using
* what openssl did you link against?

[2019-01-15 17:15] hardening commented on #5193
Not so sure it's a so good idea and the best place to do translations.
By reading the code we can list the strings that will be returned by `freerdp_keyboard_get_layout_name_from_id`, so the application can translate these strings if it wishes to. IMHO the most problematic is `freerdp_keyboard_get_layout_name_from_id` that would treat translated names to return an id.
Another remark: that would no

[2019-01-15 17:17] hardening commented on #5193
My global question is "why don't you do that just in remina ?"

[2019-01-15 18:31] DevDef commented on #5193
It’s the place where the strings are defined, so IMHO, it is the best place to keep the translations in sync with their original strings.

Didn’t you rather mean `freerdp_keyboard_get_layout_id_from_name`?
We could manage this problem by keeping the original `freerdp_keyboard_get_layout_id_from_name` function with English names as it is now, and create a localized version named `freerdp_keyboard_g

[2019-01-16 13:32] MagicFab commented on #4449
@MakoWish,

[2019-01-18 10:51] informatimago commented on #4832
Note: I have not found any documentation yet about the contents of the TSRemotePackageCred (package name, cred buffer). So this development is stalled until we have more information about this part of the protocol.

[2019-01-18 17:47] olegon-ru opened #5203 "Very poor perfomance while forward X"
This is FreeRDP version 2.0.0-rc4 (n/a)
Linux hostX 4.19.13-300.fc29.x86_64 #1 SMP Sat Dec 29 22:54:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
I connected via LTE 25 Mbit/s or some WiFi by
ssh -X hostX
and run xfreerdp from hostX (forwarded it to my notebook, because access opened only for hostX). FreeRDP is verrrry slooow... I compared with rdesktop - it faster, at least two times, suppose 5x-10x

[2019-01-18 18:01] akallabeth commented on #5203
Don't run the rdp client on the remote but locally and tunnel the rdp session though ssh via port forward?

[2019-01-18 18:08] olegon-ru commented on #5203
Unfotunately it's more than 40 scripts with RDP connections definitions (many RDP hosts) there and I connecting not only from notebook, but from other hosts, so, it'll make me crazy to remember all this structure. I prefer xfreerdp because of +auth-only options, so I can check all connections with the same 40+ scripts.

[2019-01-18 18:33] akallabeth commented on #5203
You might be lucky with /gdi:hw and disabling all modern protocol features, but that version of rdp is being phased out.
Anyway, closing as not really a bug.

[2019-01-18 18:33] #5203 closed

[2019-01-18 18:39] olegon-ru commented on #5203
I tried to use GDI as I wrote above... And I forget to said, that locally from hostX, it's works perfect. Suppose it's some troubles with renderer, not version of RDP-protocol. May be you can consider to include some option to change renderer behaviour? Perfomance differ dramatically...

[2019-01-19 21:23] debugnetiq1 opened #5204 "xfreerdp /app option does not work (that's known) but here is additional info, hoping for a fix"
Testing on CentOS 6.10 but CentOS 7.3 was no luckier (w/ Guacamole / RDP).
Testing on Windows 2016, Windows 10 and Windows 7 with adnin user logins.
Same errors and same behavior regardless. Wiresharking it: the TCP RST comes from the xfreerdp side.
However there is a good deal of negotiation - I see the xfreerdp side obtains the capabilities of the Windows side
Compiled everything from latest and

[2019-01-19 22:16] kobaz opened #5205 "Seg Fault while connected to Windows (From Remmina)"
**Describe the bug**
I don't have a whole lot of detail.  This just randomly happens while RDP-ing to various Windows systems.  There doesn't appear to be any specific cause that triggers this.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to RDP server
2. Work as normal
3. Seg fault every few hours

**Expected behavior**
No seg faults!

Additional Info:
I captured this:
(gdb) thre

[2019-01-20 06:16] goguda opened #5206 "Black screen using remote apps with three monitor setup using /multimon without /span"
**Describe the bug**

With a three monitor setup, using the /multimon flag without using /span produces a black window when accessing a remote app. This occurs no matter what the remote app specified is. The remote app shows correctly when /span is specified with /multimon.

(I noticed this as well with my old dual monitor setup, but you could fix it by either reconnecting or pressing CTRL+SHIFT+E

[2019-01-20 14:19] akallabeth commented on #5205
Hi, long backtrace, you experience some authentication/disconnects from time to time? (The log message in these traces is strange)

For further analysis, could you please attach the versions and connection settings?
Did you report this to the remmina folks too?

[2019-01-20 15:12] debugnetiq1 commented on #5204
This "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Terminal Server\TSAppAllowList\fDisabledAllowList=1" trick is known and was set when I ran the tests. The root cause imho is that 0x0 size coming back wich is not handled by xfreerdp.
As we can see in this log snippet what is coming back from Windows is
desktopWidth: 0x0000
desktopHeight: 0x0000

[10:00:22:123] [3623:3623] [DEBU

[2019-01-21 07:35] akallabeth commented on #5206
@goguda The `/multimon` flag is not really applicable for `/app` mode.
In `/app` mode there are certain limits regarding full resolution and they depend on the remote OS being used. (the minimum value is `8192x8192` , see https://social.technet.microsoft.com/wiki/contents/articles/31983.remote-desktop-protocol-maximum-supported-resolutions.aspx)
Be sure you're not violating one of these first.

[2019-01-21 07:41] akallabeth commented on #5205
@antenore I think this is related to Remmina handling of `rf_auto_reconnect`, if you look at the stack trace 2 threads are calling it, which is definitely wrong...

[2019-01-21 08:11] dankasak opened #5207 "Can't connect to xrdp"
Remmina ( which uses FreeRDP ) can't connect to an xrdp server. Windows clients can connect to this xrdp server. I get the errors:

---

[19:00:12:202] [23814:24075] [ERROR][com.freerdp.core.update] - [0x03] Cache Glyph - SERVER BUG: The support for this feature was not announced! Use /relax-order-checks to ignore
[19:00:12:202] [23814:24075] [ERROR][com.freerdp.core.update] - order flags 03 faile

[2019-01-21 08:14] akallabeth commented on #5207
Please look at existing issues first (#5207 or https://github.com/neutrinolabs/xrdp/issues/1266)

[2019-01-21 08:14] #5207 closed

[2019-01-21 08:57] antenore commented on #5205
Thanks @akallabeth I'll have a look

[2019-01-21 12:05] goguda commented on #5206
Hm... the ‘/multimon’ flag does seem to be applicable for ‘/app’ mode... if you don’t specify it you can’t drag the app across all monitors (i.e. it will only run on one monitor). It’s to my understanding that the full workspace resolution still has to be passed to the server in order for the app to render correctly in any area of the monitor(s) on the client, making ‘/multimon’ needed in this cas

[2019-01-21 12:20] akallabeth commented on #5206
@goguda Ok, so you're using at least `2008r2`? What I meant is (could be wrong, just from memory) that in `app` mode we currently just send as one large monitor, which might explain the issue.

[2019-01-21 13:27] hardening opened #5208 "Improve error message"
With latest master, connecting on a server with a non running RDP server, I get this:

[code]

Except by looking at the code, I guess nobody can guess that the error is a `connection refused` ! There must be a way to improve error message, at least for such common cases.

[2019-01-21 13:40] goguda commented on #5206
@akallabeth Ah okay, I see what you're saying. Sorry I should have specified, I'm running Server 2016. Just weird it works with `/span` after `/multimon`... wouldn't that send as one large monitor as well?

[2019-01-21 15:01] akallabeth commented on #5206
@goguda Ok, that is indeed interesting, adding it to the list of things to do for fixing rails properly

[2019-01-21 15:14] akallabeth commented on #5208
Extension of #3006
Agree on that. Should do that after we've merged pending pulls, a final refinement for error handling in v2 would be great.

[2019-01-21 16:04] jol64 commented on #5177
I´d like to get a better understanding of two things..
- what is H264 used for? When I compiled a version without H264 I didn´t notice a problem, but I also didn´t play a video remotely. Is it correct to assume it provides support for playing videos?
- the pull request you referenced: this would allow to compile OpenH264 once an use it with any FreeRDP version built after the pull request was merg

[2019-01-21 16:16] akallabeth commented on #5177
@jol64
* No, it is not for H264 video but for windows 8.1 and 10 GFX mode (The whole desktop is basically streamed as a video) Without it bandwidth hungry alternatives (or even worse, old RDP 5 bitmap data) are used.
* Yes, you can just download the openh264 dll from cisco, place it next to the binary (or the default library search path) and it will be used along with MediaFoundation (so if your w

[2019-01-22 11:00] eMPee584 commented on #5076
\+
* [ ] window rotation support
* [ ] :smiley:

[2019-01-22 11:08] akallabeth commented on #5076
@eMPee584 hmm, nice idea. #5159 should already implement the client server communication part, so it should be a simple matter of reading the current state in case of configure

[2019-01-22 12:01] FelixZhang commented on #5207
JFI existing issue is #5072

[2019-01-22 12:13] akallabeth commented on #5207
@FelixZhang ok, sorry for the typo.

[2019-01-22 13:01] antenore commented on #5205
@kobaz do you open more than one connection at the same time on the same server?
We think that you have had two connections opened on the same server and you lost the connection.
In the future will fix this behavior, in the meanwhile, the only advice I can do is to try to open only one connection to the same server in Remimna when you don't have a reliable connection link.

[2019-01-22 13:15] akallabeth commented on #5207
@dankasak What do you want? The issue is in `xrdp` and there is a workaround mentioned in the closed issues.

[2019-01-22 13:33] akallabeth commented on #4799
Fixed with #5209

[2019-01-22 13:35] akallabeth commented on #5161
Fixed with #5201

[2019-01-22 15:52] akallabeth commented on #4841
Ok, a basic flatpak is now available on master.
Using `xfreerdp` on X11 and `wlfreerdp` on wayland.

[2019-01-22 15:52] #4841 closed

[2019-01-23 08:23] hardening opened #5210 "Some warnings during compilation"
[code]

[2019-01-23 15:20] kobaz commented on #5205
I didn't have more than a single connection per server..

Just caught another one today:

(gdb) at 847
Attaching to process 847
[New LWP 848]
[New LWP 850]
[New LWP 852]
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
c
0x00007fc9c6696b39 in __GI___poll (fds=0x55ce6d52a9c0, nfds=3, timeout=5899)
    at ../sysdeps/unix/sysv/li

[2019-01-23 15:56] #4799 closed

[2019-01-23 15:56] #5161 closed

[2019-01-23 16:16] #3414 closed

[2019-01-23 18:28] hendwolt opened #5211 "wlfreerdp segfaults"
The Wayland client from the current master segfaults on Plasma5 on Wayland.
Even without any parameters wlfreerdp segfaults.

operating system: openSUSE Tumbleweed

freerdp version and config:
This is FreeRDP version 2.0.0-dev5 (281c85598)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=OFF HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_JOURNALD_H=TRUE HAVE_MATH_C99_L

[2019-01-23 19:45] akallabeth commented on #5211
@hendwolt Thank you for the report, could you check your wayland supports `wl_data_device_manager` interface?
Might be a simple missing `NULL` check when accessing that.

[2019-01-23 22:57] hardening commented on #5211
@akallabeth might also be the announce of global object that aren't done in the order that we expect.

[2019-01-24 07:11] akallabeth commented on #5211
@hardening true.

[2019-01-24 09:33] hardening commented on #5211
@hendwolt can you give a try at https://github.com/hardening/FreeRDP/tree/ddm_fix ?

[2019-01-24 10:53] #5211 closed

[2019-01-24 12:18] hardening commented on #5211
@hendwolt it has been merged upstream.

[2019-01-24 12:21] akallabeth commented on #5211
@hardening looks like we missed something else, added a patch in #5213

[2019-01-24 12:49] Bob590 opened #5214 "Mac Osx Keyboard problems"
**Found a bug? - We would like to help you and smash the bug away.**
1. __Please don't "report" questions as bugs. For these (questions/build instructions/...) please use one of the following means of contact:__
   * We are reachable via IRC _#freerdp on freenode_
   * We are reachable via mailing list <freerdp-devel@lists.sourceforge.net>
   * Try our mailing list for discussions/questions
1. Bef

[2019-01-24 12:52] Bob590 commented on #5214
File winpr\libwinpr\input\keycode.c

I have made a Mac Osx Client using Qt5 and the freerdp library.
In order to make the keyboard type the correct characters I have commented these lines:

DWORD KEYCODE_TO_VKCODE_APPLE[256] =
{
#ifdef OLD_ORIGINAL_CODE  // Bug fix by Bob for Mac-Osx
	0, /* 0 */
	0, /* 1 */
	0, /* 2 */
	0, /* 3 */
	0, /* 4 */
	0, /* 5 */
	0, /* 6 */
	0, /* 7 */
#endif

I don't kno

[2019-01-24 12:53] akallabeth commented on #5214
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting
Please do not misuse the issue tracker for support questions.

[2019-01-24 12:53] #5214 closed

[2019-01-24 13:54] Bob590 commented on #5214
From my point of view this is a BUG. I don't need ANY support sir!

[2019-01-24 14:22] akallabeth opened #5215 "Wayland smart scaling support"
Add support for smart scaling in wayland.
To implement that `wl_update_buffer` needs to scale the `gdi->primary_buffer` data to the same size as `UwacWindowGetDrawingBufferGeometry` size.
Requires #5213 merged.

Options:
* `libcairo`
* What else?

[2019-01-24 15:58] akallabeth commented on #5214
@Bob590 Sorry, that was not meant as offence :)
But since you're implementing your own client and this works with the default mac os client (and some private Qt5 based one I know), I assume this is more of a support (aka how to implement this with my client) question.

[2019-01-24 16:36] Bob590 commented on #5214
Please can you point me to the DEFAULT mac osx client?
Please give a me a link to it.
Thank you.

[2019-01-24 16:38] Bob590 commented on #5214
I have found it at client\Mac in the source code tree.
Thank you.

[2019-01-24 16:40] hendwolt commented on #5211
@akallabeth
How can I find out if my wayland supports it?
In the file wayland.xml on my system I find this snippet:
`  <interface name="wl_data_device" version="3">
    <description summary="data transfer device">
      There is one wl_data_device per seat which can be obtained
      from the global wl_data_device_manager singleton.

      A wl_data_device provides access to inter-client data tran

[2019-01-24 16:48] akallabeth commented on #5211
@hendwolt yes, that is enough. Found the remaining issue and a fix is in #5213 along with some graphical glitch stuff.

[2019-01-25 09:07] auchri opened #5217 "RemoteApp Android support"
Hi,

do the android client properly support RemoteApps?
And can you give me an example code to implement the RemoteApp on android?

Thank you!

[2019-01-25 09:13] akallabeth commented on #5217
No, and have a look at `xfreerdp` source code, which is the only client implementing that so far

[2019-01-25 09:14] akallabeth commented on #5217
Please use the mailing list or irc for such questions.

[2019-01-25 09:14] #5217 closed

[2019-01-25 11:33] #1195 closed, assigned to nobody

[2019-01-25 11:35] akallabeth opened #5220 "[wayland] additional clipboard formats"
Currently the wayland client clipboard only works with plain text copy.
Add:
* HTML
* Image
* MIME based
* File copy

[2019-01-25 11:37] #5165 closed

[2019-01-25 11:39] akallabeth commented on #5162
Implemented with #5209

[2019-01-25 11:39] #5162 closed

[2019-01-28 02:46] willre opened #5222 "Keyboard not available under macos。"
I have a problem, using freerdp to link Windows under macos, the keyboard can't input, but the mouse is ok

Mscos version: High Sierra 10.13.6
Freerdp version: This is freerdp version 1.0.2

[2019-01-29 03:16] willre commented on #5222
Thank you
The problem has been solved. My problem was caused by the failure of brew link execution when using brew to install freerdp.

[2019-01-29 03:16] #5222 closed

[2019-01-29 10:33] akallabeth commented on #3415
Implemented with #5221

[2019-01-29 11:24] matzemagkekse opened #5226 "Freerdp Scale every single screen"
I use Freerdp on many Ubuntu PCs. Now I have a Problem with the scaling in the remote session. I have 2 monitors at each workstation. Now I have the problem with different screen resolutions. I would like to scale each monitor individually with one command. Is that possible?

Example, I have one monitor with 1920 x 1080 (24 inch) with scale 150 and a Monitor with 1600 x 900 (19,5 inch) with scale

[2019-01-29 12:18] akallabeth commented on #5153
No feedback, closing.

[2019-01-29 12:18] #5153 closed

[2019-01-29 12:19] akallabeth commented on #4594
No feedback, closing.

[2019-01-29 12:19] #4594 closed

[2019-01-29 12:22] akallabeth commented on #3868
No feedback, closing.
Note: Redirection handling has been overhauled, this might actually have fixed the issue, but without proper feedback this is just a guess.

[2019-01-29 12:22] #3868 closed

[2019-01-29 14:43] #3415 closed

[2019-01-29 17:01] akallabeth opened #5228 "Compiler warnings cleanup"
With current master and most of the pending pull requests (current max #5227 ) applied there are the following warnings with `-Wall -Wextra`:
* ~400x `-Wsign-compare`
* ~5480x `-Wunused-parameter`
* ~90x `-Wimplicit-fallthrough`
* ~50x `-Wunused-function`
* ~24x others

While `-Wimplicit-fallthrough` and `-Wunused-function` can currently be considered ok, the `-Wsign-compare` warnings must be chec

[2019-01-29 17:51] crink1960 opened #5229 "RDS Licensing"
FYI  to whoever is attempting to add RDS licensing support to the library.  You need to be consistent with the device name used to request the  license otherwise the license server continues to issue temporary  licenses and eventually runs out. Using the MAC of the adapter being  used to connect to the server combined with a shortened ClientHostName  is pretty reliable.

[2019-01-29 17:59] crink1960 commented on #5229
FYI to whoever is attempting to add RDS licensing support to the library. You need to be consistent with the device name used to request the license otherwise the license server continues to issue temporary licenses and eventually runs out. Using the MAC of the adapter being used to connect to the server combined with a shortened ClientHostName is pretty reliable.

[2019-01-29 18:39] akallabeth commented on #5229
Could you fix the issue please? You still have the templatetext and I have no idea what you're trying to tell.

[2019-01-30 09:00] hardening commented on #5229
@crink1960 Hi, it would be nice if we could discuss of that on IRC #freerdp on freenode

[2019-01-30 11:46] crink1960 commented on #5229
After reviewing the issue in more detail it can be fixed in the native application. Simply set the ClientHostName to a consistent value for each device. In our case we used the MAC of the WiFi adapter. The ClientHostName is used by the library when requesting a new license. The license server uses that unique name to look up a previously issued CAL. If the name exists in the store then the same CA

[2019-01-30 11:46] #5229 closed

[2019-01-30 14:52] lemonmojo opened #5231 "Drive redirection and Google Drive File Stream"
Several Royal TSX customers reported an issue with our FreeRDP plugin and Google Drive File Stream. I reproduced this and can confirm that at least on macOS, FreeRDP's drive redirection implementation currently doesn't work with Google Drive File Stream volumes. The redirected drive appears in the remote session but never shows any files.

I debugged this and found the culprit to be the way `FindF

[2019-01-30 15:16] akallabeth commented on #5231
@lemonmojo interesting, so you can´t do a `ls` from a terminal too?

[2019-01-30 15:18] lemonmojo commented on #5231
@akallabeth I can, and if I do `ls -la` it also shows the "." and ".." entries. `readdir` never returns those entries though.

[2019-01-30 15:25] lemonmojo commented on #5231
@akallabeth To reproduce, you can use the following small program and point it at your drive file stream directory: https://gist.github.com/lemonmojo/c83e09c9b58af4dd8390fe0b9365a9e1

[2019-01-30 15:31] akallabeth commented on #5231
@lemonmojo don´t have a google account to test with ;)
I can´t find the docs for that, but it seems fishy that the entries `.` and `..` are missing.

[2019-01-30 15:35] lemonmojo commented on #5231
@akallabeth File Steam is fishy as a whole! Doesn't keep people from using it unfortunately...

[2019-01-30 15:59] yan12125 commented on #4502
I'm still getting `ERRCONNECT_PASSWORD_CERTAINLY_EXPIRED` with freerdp 2.0.0-rc4. Here's my partial log (removed hexdump and my IP/port):
[code]
I can log in with `/sec:rdp`, and I don't find KB4088875 in installed Windows updates as indicated in https://github.com/FreeRDP/FreeRDP/issues/4449#issuecomment-372977707.

I'm using Windows 7 SP1 x64, with freerdp 2.0.0_rc4 [from Arch Linux](https://git

[2019-01-30 17:31] informatimago commented on #5208
There are two things here:

1- In normal use. Then I think we should display at INFO level important state transitions.  This can inform the user whether it keeps working normally or when an error is eventually detected.

2- In case of error. Here it is important to show a specific and instructive error message, and I would say also to exit early (since we don't have code to handle errors and retr

[2019-01-31 08:45] f987002856 opened #5233 "android can not include .h file"
Hello,when use ./scripts/android-build-freerdp.sh --ndk <ANDROID_NDK> --sdk <ANDROID_SDK> to build,I get the problem.

![errorinfo](https://user-images.githubusercontent.com/12999173/52042859-33b0b500-2579-11e9-8541-ac806101888e.png)

Is there any package I have not installed?
OS: 18.04 x64
cmake: 3.12.2
android-ndk: r10b
android sdk: target-26

[2019-01-31 08:52] f987002856 commented on #5233
Hello,when use ./scripts/android-build-freerdp.sh --ndk <ANDROID_NDK> --sdk <ANDROID_SDK> to build,I get the problem.
![cvrew p 9w_so4oiyl uvk](https://user-images.githubusercontent.com/12999173/52042362-f39d0280-2577-11e9-9bd7-ca0765ec84fe.png)
Is there any package I have not installed?
OS: 18.04 x64
cmake: 3.12.2
android-ndk: r10b
android sdk: target-26

[2019-01-31 09:05] akallabeth commented on #5233
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2019-01-31 09:05] #5233 closed

[2019-01-31 10:38] vjeson opened #5234 "crash on mac os ,when copy use mouse right menu"
crash on mac os  (majave) ,when copy with mouse right menu

error log

`Process:               MacFreeRDP [58732]
Path:                  /Users/USER/*/MacFreeRDP.app/Contents/MacOS/./MacFreeRDP
Identifier:            FreeRDP.Mac
Version:               1.0 (1)
Code Type:             X86-64 (Native)
Parent Process:        bash [55892]
Responsible:           MacFreeRDP [58732]
User ID:

[2019-01-31 12:40] akallabeth commented on #5234
which version are you using?

[2019-01-31 13:05] tristandegroof opened #5235 "connection via gateway + broker with mfa causes double mfa prompt + slowness"
We have for quite some time a setup with an rdgateway (with a smatrtcard token as secondary factor) + a broker that redirects connections to a server farm handling the connection.  We have now added an extra gateway that uses Microsoft MFA for the second factor, hoping that this would be more compatible with open source rdp clients (the gateway-smartcard isn't).

When connecting from eg a windows

[2019-01-31 14:46] vjeson commented on #5234
latest code build from master branch

[2019-01-31 14:54] akallabeth commented on #5234
@vjeson thx, might be related to https://stackoverflow.com/questions/14802131/timer-loop-crashes-sporadically-after-returning-from-the-background

[2019-01-31 15:42] akallabeth commented on #5235
Yes, that one is current.
Does it always hang? That should be fixable.

Note: the duplicate login is due to current redirection handling, we throw away the current connection and establish a new one, that won't change soon.

[2019-01-31 16:00] tristandegroof commented on #5235
I don't know if you've seen the addition:

Update: after 8 minutes (I never waited that long before :-) ) it ends - so not "hanging" depending on how you define hanging :-)

[16:28:40:084] [26402:26403] [ERROR][com.freerdp.core.nego] - Protocol Security Negotiation Failure
[16:28:40:084] [26402:26403] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_SECURITY_NEGO_CONNECT_FAILED [0x000

[2019-01-31 16:33] akallabeth commented on #5235
Gateway has room for improvement, but we're currently stabilizing other areas.
Sorry for the bad news, but it will take time for this to get implemented/fixed.

[2019-01-31 16:47] tristandegroof commented on #5235
I do understand - unfortunately I (or others in the company) don't have the knowledge to contribute in the development area :-)
In any case, thanks for the reply and expertise, that's a lot more then I get from some other projects ;-) ).

But if I can help testing (either a future fix for gateway or the doesn't connect issue with the newer version), let me know!

[2019-02-02 23:15] whatsdis commented on #5011
why is this still closed? getting this issue

[2019-02-04 15:21] ekorneechev commented on #4689
[code]
Why 0 instead of 1?

[2019-02-04 16:38] ozars commented on #4502
I second @yan12125, I have similar issue with the package installed Debian Buster. It was working normally with Debian Stretch a month ago.

My trace is pretty much same with the one above:

[code]

[code]

[code]

[2019-02-04 21:56] ozars commented on #4502
@bmiklautz I will be able to check it when I have physical access to the host in a few hours.

In [KB4480970](https://support.microsoft.com/en-us/help/4480970/windows-7-update-kb4480970), it is noted this issue is later resolved by [KB4487345](https://support.microsoft.com/en-us/help/4487345/update-for-windows-7-sp1-and-windows-server-2008-r2). Will check both and post here.

[2019-02-05 14:38] tristandegroof commented on #5235
In case other people have this same issue: a workaround seems to be to configure caching in azure mfa, so a second prompt in x seconds gets suppressed: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#caching-rules

We still need to investigate how to best configure this to lessen the security impact.

[2019-02-06 05:44] thecrazyonestherebels opened #5238 "Not able to resize the remote desktop content dynamically(Auto resize) in the same session."
**Describe the bug**
Auto resize is not working in active session even though the 'freerdp->settings->DesktopWidth' and
'freerdp->settings->DesktopHeight' changed with in same session. So the content got scale up or shrink down and gives bad experience. Is there any way to achieve dynamic auto resize without restarting the freerdp session.

**Screenshots**
This image shows default content.
<img wi

[2019-02-06 05:46] thecrazyonestherebels commented on #5238
I checked the smart-sizing and found that it is not related to resizing content.

[2019-02-06 06:50] hardening commented on #5238
Hi,
first of all this is not the place for questions, you have the mailing list or IRC for that.
Secondly `/dynamic-resolution` may be the option you're looking for..

[2019-02-06 06:50] #5238 closed

[2019-02-06 07:02] thecrazyonestherebels commented on #5238
Hi, Thanks for the response.

You mean 'settings->DynamicResolutionUpdate' right by enable it not given any results. Still able to see the scaling instead of resizing.

[2019-02-06 08:43] hardening commented on #5238
@thecrazyonestherebels this is why we put a template asking people to describe the bug they're having, version, context and so on.
My guess is that you're not using the xfreerdp client itself but the FreeRDP lib. As you can see here: https://github.com/FreeRDP/FreeRDP/blob/master/client/common/cmdline.c#L1824, you need to set the `settings->SupportDisplayControl` flag to load the corresponding cha

[2019-02-06 11:09] thecrazyonestherebels commented on #5238
Hi I am new to freeRDP protocol pardon me for the lack of details.
I disabled SmartSizing and set below parameters before starting the session.
    freerdp->ssettings->DesktopResize = TRUE;
    freerdp->ssettings->DynamicResolutionUpdate = TRUE;
    freerdp->ssettings->SupportDisplayControl = TRUE;

After connecting i am resizing the window then changing the below parameters.
    freerdp->settings

[2019-02-06 11:10] hardening opened #5239 "Remaining warnings"
[code]

[2019-02-06 11:18] Ionic commented on #4502
Thanks. Installing [KB4487345](https://support.microsoft.com/en-us/help/4487345/update-for-windows-7-sp1-and-windows-server-2008-r2) let me authenticate via NLA again.

Interestingly, sec-tls continued to work, but only connected to the user chooser, which then handled the authentication successfully, while sec-nla directly logs the provided user in.

rdesktop worked for me even without KB4487345,

[2019-02-06 11:45] tmunro55 commented on #4502
Just to let people know, I'm connecting Linux Mint 19.0 to a fully patch tightly secured (via Group Policy, I have no control over it) Windows 10 machine. I've cloned compiled and deployed FreeRDP 2.0.0-dev5 (2693389a1) and I'm using remmina as a front end. Security is set to NLA. It's working correctly. Once again a happy camper.

[2019-02-07 08:39] akallabeth commented on #5238
Check #5159

[2019-02-07 08:40] akallabeth commented on #3415
@hendwolt Already fixed with #5219, did use the wrong color format (alpha channel order)

[2019-02-07 08:44] akallabeth commented on #5235
@tristandegroof I´m not really the windows server configuration expert, do you have some howto for setting up such an environment? Or even better a test account somewhere?

[2019-02-07 15:10] akallabeth commented on #5239
Fixed with #5240

[2019-02-07 15:11] akallabeth commented on #5228
#5240 fixes the `sign-compare` warnings

[2019-02-07 15:12] akallabeth commented on #5210
Fixed with #5240

[2019-02-08 14:37] tristandegroof commented on #5235
@akallabeth neither am I, it was set up for us. Unfortunately I can not provide a test account, since giving access to our environment would allow acces to sensitive data.

As far as I understand it, you set up a RD gateway. Normally you would set up cap/rap on this gateway, but instead you configure the cap to relay the request (via radius) to an nps server (like a microsoft radius server). On th

[2019-02-08 15:04] akallabeth commented on #5235
@tristandegroof Well, for 2 you can add a manual delay in `rdp_client_redirect` - That function is creating the second connection.
As for the setup, I was afraid that it would be quite time consuming to set up such a test environment :/

[2019-02-09 07:47] hendwolt commented on #3415
@akallabeth Confirmed. With #5219 it mouse pointers work.

[2019-02-09 08:15] hendwolt opened #5243 "wlfreerdp on Plasma5 (Wayland) crashes at when program exits"
When I use wlfreerdp it always segfaults when I stop the program (disconnect from remote or Ctrl-C locally).
Backtrace:
`Core was generated by wlfreerdp /u:username /size:1900x1000 +clipboard +wallpaper /v:19...
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007f8cc09c60bb in raise () from /lib64/libc.so.6
[Current thread is 1 (Thread 0x7f8cbc5f2480 (LWP 4264))]
(gdb) backtrac

[2019-02-11 03:38] yan12125 commented on #4502
Sorry for the late respones - was on Chinese New Year vacation last week :)

I can also confirm KB4487345 fixes the issue!

[2019-02-11 11:03] akallabeth commented on #5243
Fix in #5245

[2019-02-11 14:46] akallabeth commented on #5135
After some investigation I've found the reason for this:
* Windows encodes the information in the `prn` file (`PostScript` for our uses)
* `featurebegin{
 %%BeginFeature: *FauxHWCopies *FauxHWCopiesDefault
 <</NumCopies 333>>setpagedevice
 %%EndFeature
 }featurecleanup` for postscript level 3
* `featurebegin{^M
 %%BeginNonPPDFeature: NumCopies 13^M
 13  /languagelevel where {pop languagelevel}{1}

[2019-02-12 09:28] akallabeth commented on #5135
Ok, confirmed.
This is indeed a driver issue. With the default postscript driver (`MS Publisher Imagesetter`) and any printer backend I can print multiple copies.
With other drivers the mileage does indeed vary.

[2019-02-12 09:30] akallabeth commented on #5135
To clarify the first post, the information for `cupsCreateJob` is necessary for drivers that do not provide this information in a way the cups api can handle it.
Can´t do this in a generic fashion though.

[2019-02-12 09:33] #5215 closed

[2019-02-12 09:33] rgloor opened #5247 "re-login fails for same user"
After dis-connection (disconnect, either manually closing connection with logged in user, or due to bad internet), one cannot reconnect to rdp host (workstation) with the same login / account.

Reproduction (what works):
1.) Starting the selected rdp with remmina works -> Login screen shows.
2.) First login works -> rdp session starts as expected
3.) Disconnecting or closing the session (either ke

[2019-02-12 09:34] qiandahao commented on #5234
Any progress on this issue?

Thanks!

[2019-02-12 09:40] akallabeth commented on #5247
@rgloor Hi, thank you for the report.
Could you check if it works with current master? (there have already been various fixes since `rc4`)
You can try our nightly builds https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds, the remmina flatpak should ship with a very recent FreeRDP or you can compile the current master (either rpm or flatpak, see https://github.com/FreeRDP/FreeRDP/wiki/Compilation)

[2019-02-12 17:28] hendwolt commented on #5243
@akallabeth:
Sorry, but with "This is FreeRDP version 2.0.0-dev5 (d03c34859)" it is still crashing:
`Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007f12263990bb in raise () from /lib64/libc.so.6
(gdb) backtrace
#0  0x00007f12263990bb in raise () from /lib64/libc.so.6
#1  0x00007f12266590a0 in fatal_handler (signum=11) at /usr/src/debug/freerdp-2.0.0~git20190212-1.1.x86_64/li

[2019-02-12 18:44] hendwolt commented on #5243
with some more debug libraries installed:
`#0  0x00007fde324410bb in raise () from /lib64/libc.so.6
(gdb) bt
#0  0x00007fde324410bb in raise () from /lib64/libc.so.6
#1  0x00007fde327010a0 in fatal_handler (signum=11) at /usr/src/debug/freerdp-2.0.0~git20190212-1.1.x86_64/libfreerdp/utils/signal.c:67
#2  <signal handler called>
#3  get_next_argument (signature=0x100000001 <error: Cannot access mem

[2019-02-12 19:49] ernsteiswuerfel opened #5250 "freerdp-2.0.0_rc4: TestNTLM, TestFreeRDPCodecInterleaved fail on ppc64"
Gentoo downstream bugreport (ppc): [https://bugs.gentoo.org/672744](url)

Re-tested on a Talos II (ppc64) with git-master. _cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON . && make -j34 && ctest -j 34 --test-load 32_:
[code]
Output of the 2 failing tests:
[code]

[2019-02-13 07:47] akallabeth commented on #5250
@ernsteiswuerfel big endian I assume? we lack proper hardware to test that and qemu is quite slow for that kind of emulation. (still surprised that only that few tests fail ;))

[2019-02-13 08:04] akallabeth commented on #5243
@hendwolt could you give #5251 a try?

[2019-02-13 08:09] akallabeth commented on #5250
@ernsteiswuerfel for the `TestFreeRDPCodecInterleaved` issue the culprit is buffer to `UINT16` and `UINT32` casts.
If you have the opportunity, could you fix the `GETPIXEL16`, `GETPIXEL32`  macros for your endianess and check?

[2019-02-13 13:08] ernsteiswuerfel commented on #5250
Yes, Big Endian. ;)

So I replaced the funtions in _libfreerdp/codec/bitmap.c_. I think you forgot some "(" here, or else it won't build:
return (((UINT32)((const BYTE*)d)[0]) << 24) | **"("**((UINT32)((const BYTE*)d)[1]) << 16) | **"("**((UINT32)((const BYTE*)d)[2]) << 8) | ((const BYTE*)d)[3];

But the tests still fail the same way:
[code]

[2019-02-13 13:44] akallabeth commented on #5250
@ernsteiswuerfel created a pull with the correct codec fix, please try that one.

[2019-02-13 14:18] ernsteiswuerfel commented on #5250
Thanks! **TestFreeRDPCodecInterleaved** passes now, **TestNTLM** still fails:
[code]

[2019-02-13 14:28] akallabeth commented on #5250
@ernsteiswuerfel That one is harder, would be great if you could step through the test case and check where it fails (and which error occurs)

[2019-02-13 14:52] ernsteiswuerfel commented on #5250
I can try. But how to do that?

[2019-02-13 15:15] akallabeth commented on #5250
* compile the project with `-DCMAKE_BUILD_TYPE=Debug`
* Run with `gdb --args ./Testing/TestSspi TestNTLM` (or use a graphical debugger like `nemiver`)
* `b TestNTLM`
* `r`
* `s` to step into a function call, `n` to run the next step

[2019-02-13 15:27] ernsteiswuerfel commented on #5250
[code]

[2019-02-13 15:35] akallabeth commented on #5250
@ernsteiswuerfel yes, that I could read from the initial report, interesting would be where in `AcceptSecurityContext` the error occurs. (that is quite a call stack down)

[2019-02-13 15:48] ernsteiswuerfel commented on #5250
Sorry, my fault! I misread your post. Here's the hopefully better gdb output.
[debug01.txt](https://github.com/FreeRDP/FreeRDP/files/2861043/debug01.txt)

[2019-02-13 16:50] hendwolt commented on #5243
@akallabeth : Works.
I tested #5251 and the crash is gone.
But it introduces a new warning:
`[  102s] /home/abuild/rpmbuild/BUILD/FreeRDP-master/uwac/libuwac/uwac-window.c: In function 'UwacWindowShmAllocBuffers':
[  102s] /home/abuild/rpmbuild/BUILD/FreeRDP-master/uwac/libuwac/uwac-window.c:307:25: warning: passing argument 1 of 'xrealloc' from incompatible pointer type [-Wincompatible-pointer-ty

[2019-02-13 19:49] aecooper opened #5253 "Allow Custom Scale Values With the /scale Switch"
Please allow custom scale percentages other than just 100, 140 and 180. Ideally let the user decide on the scale factor, or allow factors divisible by 10. For higher DPI monitors these course values either mean the font text is too small or too large.

When I manage to change the remote desktop's DPI scaling value by using the MSTSC client and then changing the scaling value in the remote desktop

[2019-02-14 07:00] akallabeth commented on #5253
Not possible, the protocol does not allow that. You might find the /smart-sizing option interesting though.

[2019-02-14 07:42] akallabeth commented on #5250
@ernsteiswuerfel There is some `s` missing for the actual error code to be set...

[2019-02-14 07:45] akallabeth commented on #5253
See `[MS-RDPEDISP]` for details.

[2019-02-14 07:45] #5253 closed

[2019-02-14 07:51] vjeson commented on #5234
still not work , build fromhttps://github.com/akallabeth/FreeRDP/tree/0d389d09a3275576b7142807eee32fdfa3cfe66a

[2019-02-14 07:57] akallabeth commented on #5234
@vjeson Could you check the backtrace? This seems like a different beast and I did not encounter this on my local mac test machine.

[2019-02-14 08:15] vjeson commented on #5234
What should I do?  I build with cmd
cmake -D "CMAKE_OSX_ARCHITECTURES:STRING=x86_64" . && make

Process:               MacFreeRDP [541]
Path:                  /Users/USER/*/MacFreeRDP.app/Contents/MacOS/./MacFreeRDP
Identifier:            FreeRDP.Mac
Version:               1.0 (1)
Code Type:             X86-64 (Native)
Parent Process:        bash [393]
Responsible:           MacFreeRDP [541]
User

[2019-02-14 15:51] deputat007 opened #5254 "How to determine when connection is terminated in android client?"
When connection is dropped the application freezes(or  it hangs on a black screen) and doesn't return to the main connection screen.
I want to handle when connection is dropped and try to reconnect or return to the main connection screen. Thanks.
In log I can see Prepare shutdown... but disconnection does not occur

[2019-02-14 16:20] akallabeth commented on #5254
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

Please use IRC or mailing list for such questions (and add a few more details. your description leaves too much room for interpretation)

[2019-02-14 16:20] #5254 closed

[2019-02-14 19:36] aecooper commented on #5253
I was afraid  that might be the case. Many thanks for your reply. I did try the smart-sizing option but it didn't seem to do anything, do you just supply it on it's own or do you have to specify other switches relating to it (i.e. will it only work if you specify a workspace size etc).

[2019-02-14 20:07] akallabeth commented on #5253
@aecooper just resize the window or use it with a resolution argument and the /size parameter.

[2019-02-14 20:50] aecooper commented on #5253
Thankl you :-).

[2019-02-15 02:15] ernsteiswuerfel commented on #5250
Hope this output is more helpful.
[debug02.txt](https://github.com/FreeRDP/FreeRDP/files/2867529/debug02.txt)

[2019-02-15 16:00] nickkolok opened #5255 "Clipboard encoding"
Greetings from Russia, comrads!

Our university library is slowly migrating from Windows to Linux. So, some librarians got PCs with Linux Ubuntu 14.04. However, the main library database interface in running on Windows. So, a script was written, which launches `xfreerdp` with certain arguments, and a window with the library interface appears.

The problemis: when a librarian copies a piece of text

[2019-02-15 22:27] ilammy commented on #5255
IIRC, FreeRDP implements remote clipboard for text data in a... funny way. It requests UTF-8 from local applications running on Linux, but then sends the acquired bytes _as is_ to the remote side, without doing any code page conversion whatsoever.

Locally xfreerdp always requests UTF8_STRING and is able to convert into into CF_TEXT, CF_OEMTEXT, CF_UNICODETEXT (whatever requested by the remote app

[2019-02-15 23:21] ilammy commented on #5255
Another option that may be worth exploring is using CF_LOCALE format. [According to MSDN](https://docs.microsoft.com/en-us/windows/desktop/dataxchg/standard-clipboard-formats), this format may be used to set the encoding for CF_TEXT format. FreeRDP could try setting it to UTF-8 (no idea how) and that may tell the system and the application to interpret the data as UTF-8 instead of CP1251.

[2019-02-16 04:30] aribedo opened #5256 "Meaningful Error Output for Gateway HTTP Transport"
With RPC over HTTP as the gateway transport, we get meaningful error codes that can be used to distinguish between incorrect passwords, expired passwords, and so on. For example, Status Code 503 means the user's password is expired:
[21:25:08:415] [3416:3418] [ERROR][com.freerdp.core.gateway.rpc] - error! Status Code: 503
[21:25:08:415] [3416:3418] [ERROR][com.freerdp.core.gateway.http] - HTTP/1.1

[2019-02-16 16:12] nickkolok commented on #5255
@ilammy, thank you for quick reply!
Now I'll be sure that our administrators didn't forget something easy.

I'm not sure if this proprietary thing knows about UTF-8.

Moreover, there is a problem in choosing the way how the bug should be fixed: there are many encodings, not only CP1251. Should there be a separate CLI-switch for each of them? Probably no.

I can suggest a rough, crude way: adding a

[2019-02-16 20:50] ilammy commented on #5255
Yeah, that's most likely. If it supported Unicode then it'd request CF_UNICODETEXT which should work fine.

I'm no Windows and WinAPI expert, but according to [this doc][1] the system should be able to convert between textual clipboard formats. So maybe FreeRDP could get away by _not using_ CF_TEXT and CF_OEMTEXT at all so that the ball is in Windows' court to perform the necessary conversion. The

[2019-02-18 00:06] debugnetiq1 commented on #5204
Hi. Any resolution in sight for this issue? Or at least the xfreerdp version where the /app-cmd still works as expected and as documented? I see it's likely a rail issue, is this something configuration-related or a fix is necessary?  Thanks for an update.

[2019-02-18 07:24] akallabeth commented on #5255
Sorry, I´m late to the discussion :)
As you already figured out, the application requesting the text is not supporting unicode, so a proper `CF_LOCALE` must be set.
Currently `clipboard_synthesize_cf_locale` is hardcoded and `xf_cliprdr_server_format_data_response` does not handle locale encoding either.

[2019-02-18 08:18] akallabeth commented on #5256
Duplicates #5208

[2019-02-18 08:18] #5256 closed

[2019-02-18 15:39] skunkr opened #5257 "Performance and user experience - raspberry pi 3 B+"
Hello Everyone,
I am not reporting a bug, I just asking for some help based on your experience.
I am running FreeRDP version 2.0.0-dev5 (2693389a+debian) on small and pretty PI's  as a clients for a couple of  windows7/10  vms.
Performance is not very good,  and video streaming ( youtube ) is very laggy,  pretty much without any difference if it's connected to win7 or win10.
Bandwidth is not a pro

[2019-02-18 15:44] akallabeth commented on #5257
Please use the mailing list or irc for support.
You might want to repeat tests with /rfx /gfx:avc444 added and these modes enabled on the server.

[2019-02-18 15:44] akallabeth commented on #5257
And check your /buildconfig

[2019-02-18 15:45] #5257 closed

[2019-02-18 20:49] altrhombus opened #5258 "[Protected Users] Group Membership Support"
**Is your feature request related to a problem? Please describe.**
In an Active Directory domain, if an account is added to the "Protected Users" group, I am not able to connect to the machine (ERRCONNECT_ACCOUNT_RESTRICTION [0x00020017]).

**Describe the solution you'd like**
I'd like to be able to use an account that is a member of the "Protected Users" group.

**Describe alternatives you've con

[2019-02-19 05:56] akallabeth commented on #5258
Breaks down to better kerberos implementation. Might require the machine to be a domain member too, so that might actually work with current kerberos support but no environment for testing atm

[2019-02-19 10:12] akallabeth commented on #5205
closing as the issue is not freerdp but usage by remmina.

[2019-02-19 10:12] #5205 closed

[2019-02-19 12:29] astrand commented on #3639
Unfinished work:
https://gist.github.com/astrand/4eada81baee88d1f352c85a910a153cd

[2019-02-19 12:48] Gvaneck opened #5259 "RDP Client Error: Could note create connection"
A HP Thin Client T630 with version FreeRDP 1.1.1-HP14.4 could not connect to  Windows 2012 Terminal Server Park.

Warning xf_getWindowPrperty (332); Property298 does not exist
Error: protocol security negotiation or connection failure
check_host_and_port:getaddrinfo(rds,3389,0xa2)
=0(errno=0)
attempt_connect max 1000ms took 0ms
Starting xfreerdp to rds:3389
xfreerdp exit:pid0963, sig=0(none), stat

[2019-02-19 13:06] akallabeth commented on #5259
Please try with our builds and provide the requested minimum information for your setup (just read the template for issues)

[2019-02-19 13:06] #5259 closed

[2019-02-19 14:52] akallabeth commented on #5204
ok, verified. this is a server issue. I can connect to a windows server2008 and the command gets executed, but if I don´t log out again it will not run again.

[2019-02-19 14:52] #5204 closed

[2019-02-19 19:00] hendwolt opened #5261 "wlfreerdp: crashes on Plasma5(Wayland) when switching virtual desktops"
I'm using version 2.0.0-dev5 (d03c34859) plus the patch from #5251.
After starting a wlfreerdp session not in full-screen mode I switch with to another virtual KDE desktop and back. Then wlfreerdp crashes:
`core was generated by wlfreerdp /u:uername /size:1900x1000 /v:192.168.0.75...
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007ffb71413d8b in raise () from /lib64/libc.so.

[2019-02-19 19:05] hendwolt opened #5262 "wlfreerdp on Plasma5(Wayland): mouse scroll wheel scrolls in wrong direction"
I'm using version 2.0.0-dev5 (d03c34859) plus the patch from #5251.
When I'm using the mouse scroll wheel to scroll up and down on a webpage, e.g. in Edge or Firefox, it is scrolling into the opposite direction than with xfreerdp.

command line:
wlfreerdp /u:username /size:1900x1000 /v:192.168.0.75

[2019-02-20 01:57] daixj-shterm opened #5264 "libfreerdp/codec/nsc_encode.c: a mistake of 'data' pointer?"
Branch master, commit f0e9c95f44a759004
[code]

[2019-02-20 09:24] #5262 closed

[2019-02-20 19:31] hendwolt commented on #5262
The problem is fixed.

[2019-02-21 03:15] debugnetiq1 commented on #5204
But nobody is using any longer Windows Server 2008!! Even Windows Server 2012R2 is EOL. I am testing with Windows Server 2012R2 and 2016. I agree it is an incompatibility between the new RDP implementation / security in Windows Server 2012R2 and up but pleas let's not blame the server for not being 2008 edition. So what settings are necessary on the server for xfreerdp / rail to handle correctly t

[2019-02-21 03:18] debugnetiq1 commented on #5204
Please reopen the issue - this is not solved in any way

[2019-02-21 05:59] anbukart opened #5268 "Embedded window using ParentWindowId setting does not show FreeRDP client"
I am trying to embed FreeRDP windows client inside of a panel in my windows forms application using C#. The rdp context is created fine, but when I start the client using client_start function call, it is not showing up inside the parent window. Without the embed option, it works.
I have a fix for embed option in my local.

**This is what I have done so far (Steps to reproduce):**
1. Downloaded rc

[2019-02-21 07:01] akallabeth commented on #5204
Check server configuration... Nothing the client can do except announcing its whishes

[2019-02-21 07:50] akallabeth commented on #5268
Hi @anbukart your fix looks good. Care to create a pull request for that?

[2019-02-21 08:14] anbukart commented on #5268
Hi, @akallabeth I have created a pull request here-> https://github.com/FreeRDP/FreeRDP/pull/5269
Thanks :)

[2019-02-21 08:23] akallabeth commented on #5261
@hendwolt played a bit and submitted the changes to https://github.com/akallabeth/FreeRDP/tree/wayland_crash_fix
Not entirely sure if that is working though.
Feedback very appreciated :)

[2019-02-21 08:29] akallabeth commented on #5268
actually thank you ;)

[2019-02-21 08:33] akallabeth commented on #5268
oh, and a little trick, `-DWITH_CLIENT_INTERFACE=ON` for the cmake run should automatically create a library for you

[2019-02-21 09:25] anbukart commented on #5268
Oh ok. Cool. Thanks

[2019-02-21 10:28] #5268 closed

[2019-02-21 18:28] hendwolt commented on #5261
@akallabeth: I tested the changes and the crash is gone. But I think, some repaint events are missed. I'm not sure, if this is completely new. I need to move the mouse over some windows, like the newly opened task manager, to see them.

[2019-02-21 18:55] CollinChaffin commented on #4040
More support than issue?!  This is a compiled build that simply does not properly send it's output to stdout to be displayed.  This is why running the .exe with no args appears to everyone to be broken and do nothing, yet give it a server name as arg and bang the creds box appears.  Heck, when running `wfreerdp.exe /help` appears to return NOTHING, no help to the end-user, how on earth is that use

[2019-02-22 08:55] lemonmojo opened #5276 "Remote Assistance file parsing broken"
After updating to master today, I cannot get FreeRDP to parse any of my .msrcIncident files anymore.
No matter what I try, I always get `[ERROR][com.freerdp.common] - freerdp_assistance_parse_connection_string1 failure: -1`.

Tried generating invitation files using Windows 7 and Windows 10 and the `Create invitations that can only be used from computers running Windows Vista or later` flag checked

[2019-02-22 09:01] akallabeth commented on #5276
@lemonmojo which one was your previous base?

[2019-02-22 09:03] lemonmojo commented on #5276
@akallabeth Was previously running https://github.com/FreeRDP/FreeRDP/commit/4e71af6.

[2019-02-22 09:06] akallabeth commented on #4040
@CollinChaffin This is a system limitation, feel free to create a workaround for that.

[2019-02-22 09:12] akallabeth commented on #5276
@lemonmojo thank you. can you also post any (non critical) file that is not working? might be a good idea to add them to the unit tester as the current examples seem to be insufficient.

[2019-02-22 09:19] lemonmojo commented on #5276
Windows 7 without "Vista" flag:
[code]

Windows 7 with "Vista" flag:
[code]

[2019-02-22 09:41] akallabeth commented on #5276
@lemonmojo and the password for the encrypted part?

[2019-02-22 09:46] lemonmojo commented on #5276
@akallabeth Didn't have the PW anymore so I generated new invitations.

Without "Vista" flag (PW=`SWWLCPLJVHP3`):
[code]

With "Vista" flag (PW=`VS4BQBDT8ZKS`):
[code]

[2019-02-22 09:54] akallabeth commented on #5276
@lemonmojo adding the latest ones to the test case (which simply runs `freerdp_assistance_parse_file_buffer` with your data) is successful. Need to check, if there is maybe some issue with the command line parser.

[2019-02-22 09:57] akallabeth commented on #5276
@lemonmojo ok, ran your data (saved to a file) with `xfreerdp test.msrcIncident /assistance:<pwd>` and it works here with current master.

[2019-02-22 09:59] akallabeth commented on #5276
@lemonmojo could you check, which file encodings they use? The parser assumes some 8bit ASCII version, might be a unicode issue?

[2019-02-22 10:09] lemonmojo commented on #5276
@akallabeth Hmm, weird... I copied these files from a Windows 10 machine using drive redirection. Didn't touch them.

Just to be sure, I did a fresh clone + compile and still have the same issue.
I then went ahead and created the files freshly by copying the data from my previous post here and saved them using various different encodings. Still the same issue.

Any more ideas?

[2019-02-22 10:12] akallabeth commented on #5276
Hook `freerdp_client_settings_parse_assistance_file` in your debugger and have a look at the arguments. No other ideas so far.

[2019-02-22 10:24] lemonmojo commented on #5276
Found the issue!

https://github.com/FreeRDP/FreeRDP/blob/master/winpr/libwinpr/crypto/hash.c#L67 returned NULL for me so decryption failed. I googled and found this: https://stackoverflow.com/a/6763339/1025706
Added the call to `OpenSSL_add_all_algorithms` at the top of `winpr_openssl_get_evp_md` and it started working.

[2019-02-22 11:37] akallabeth opened #5277 "Support."

[2019-02-22 11:38] akallabeth opened #5278 "Vulkan shader for AVC420/AVC444"
Requires #5277

[2019-02-22 11:39] #5278 closed

[2019-02-22 11:40] #5277 closed

[2019-02-22 13:16] lemonmojo commented on #5276
@akallabeth Any idea on how to fix this properly?

[2019-02-23 09:33] skunkr opened #5279 "Auto reconnect/reinitiate not working"
**Describe the bug**
After launching the command  and not login to the server,  the client tries to reconnect 5 times and then process exists.

**Expected behavior**
Session should stay up,  regardless if logged in or not to the server.

** Application details
* Version of FreeRDP
 2.0.0-dev5 (2693389a+debian)
* Command line used
/usr/bin/xfreerdp /cert-ignore /f /bpp:16 /compression /size:1024x76

[2019-02-23 10:19] akallabeth commented on #5279
Check your server settings, sounds like automatic disconnect on idle.

[2019-02-23 11:20] skunkr commented on #5279
Thank you,
On the server side, all the "Session Time Limits" section settings are in "Not configured" state. As per description,  that means unlimited time for each of them.

So roughly, I start the connection, and not entering any credentials at the login page.
After exactly 30 seconds the conection gets terminated,  and command exits with the folowing:

[INFO][com.freerdp.core] - ERRINFO_LOGOFF_

[2019-02-25 07:28] akallabeth commented on #5279
@skunkr Ok, this confirms my suspicion.
Try to set an explicit value, might be the default is this 30 seconds.

[2019-02-25 07:28] #5279 closed

[2019-02-25 07:32] akallabeth commented on #5276
@lemonmojo looks like you miss a call to `winpr_InitializeSSL` which sets up openssl properly in your implementation.

[2019-02-25 07:59] akallabeth commented on #3239
#5195 tries to implement that. Currently not ready to be merged, would require someone to fix it up.

[2019-02-25 08:12] lemonmojo commented on #5276
@akallabeth Please reopen this. I experience this issue with a fresh clone and unmodified xfreerdp client on macOS 10.14.3. No custom implementation involved!

[2019-02-25 09:59] redbrain17 opened #5282 "Can't download FreeRDP builds for windows"
Tried to download a pre-compiled setup file for windows. But there is a dead link.

I go to the main project page and click on the provided Download Button:

http://www.freerdp.com/

This redirects me to:

 https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

But here is nothing to download.

[2019-02-25 10:07] akallabeth commented on #5282
Thank you for reporting this.
Looks like @huitc and @se-al did some vandalizing.
Restored previous state.

[2019-02-25 10:08] #5282 closed

[2019-02-25 10:10] bmiklautz commented on #5282
@redbrain17 thank you for the report.

[2019-02-25 10:36] hardening opened #5283 "Broken support link on freerdp.com"
Click on the first post => http://www.freerdp.com/2019/02/20/hi-thincast-workstation
Then on this page, the support link points to the wrong place.

[2019-02-26 08:36] bmiklautz commented on #5283
@hardening thanks for the report. Fixed.

[2019-02-26 08:36] #5283 closed

[2019-02-26 08:49] krandhir895 opened #5284 "rdpsnd channel doesn't produce audio sometimes"
Hi All,

I am running freerdp client on ubuntu 16.04 64-bit and accessing rdp server on window 7 64-bit.
I observed that sometimes freerdp client doesn't receive audio from rdp server.

I tried to look in code for this issue and found that rdpsnd thread waits forever on function **WaitForMultipleObjects.** and never breaks.
This function is in file channels/rdpsnd/client/rdpsnd_main.c
**const DWOR

[2019-02-26 09:16] jyf007 commented on #5261
I have same problem and it also crashed on weston-launch.

[2019-02-26 09:30] akallabeth commented on #5284
@krandhir895 well, if no data is received it will not be possible to process it...
in other words, are you receiving any sound related data from the server? If not it is not the clients fault not playing something that was not sent.

[2019-02-26 09:31] akallabeth commented on #5261
@jyf007 and does the referenced branch fix the issue for you?

[2019-02-26 09:59] lemonmojo commented on #5276
@akallabeth The changes in https://github.com/FreeRDP/FreeRDP/pull/5281 work for me! Thx!

[2019-02-26 10:37] krandhir895 commented on #5284
@akallabeth Thanks for quick reply.
I will test this issue with different rdp server machines and will update you later.

Regards,
Randhir

[2019-02-26 15:54] djdejawu opened #5286 "A passthrough usb smartcard error: SCardConnectW failed with error -2146435063"
Ubuntu 18.04.2 Desktop
When I'm trying to read containers in the attached usb key the program is exited with error. See log below. Connecting to Windows Server 2012 R2.

xfreerdp --version
`This is FreeRDP version 2.0.0-dev (git n/a)`

sudo xfreerdp .... /smartcard:dbg,"Aktiv Co. Rutoken S 00 00"
[code]
opensc-tool -l
[code]
opensc-explorer
[code]

[2019-02-26 16:05] akallabeth commented on #5286
@djdejawu Please try current nightly builds and report back.
There have been some important fixes since the version you´re using.

[2019-02-26 16:21] djdejawu commented on #5286
@akallabeth Same error with nightly build.

/opt/freerdp-nightly/bin/xfreerdp --version
`This is FreeRDP version 2.0.0-dev5 (f002c7429)`

/opt/freerdp-nightly/bin/xfreerdp ... /smartcard:dbg,"Aktiv Co. Rutoken S 00 00"
[code]

[2019-02-26 18:29] 51ckb01 opened #5287 "Remote Assistance (MSRA /OFFERRA)"
**Remote Assistance (MSRA /OFFERRA)**

**Feature request:**
It would be possible to implement the MS:RA offerra in freerdp in a work environment with active directory? ( No invitation.msrcIncident).
Windows side Remote Assistance is configured using Group Policy (with domain\group offered to the offer remote assistance).
I remain available for any clarification and / or proof
Thanks!!!!

[2019-02-26 18:57] hardening commented on #5287
IIRC this implies doing some RPC, and there may be a duplicate of this feature request somewhere.

[2019-02-26 19:18] 51ckb01 commented on #5287
I looked everywhere but I did not find anything unfortunately.
I apologize for the duplicate then!

[2019-02-27 06:44] akallabeth commented on #5286
@djdejawu does it work locally if you check with the `pcsc` tools? Checked the code, that is a message from the library, not much we can do here.

[2019-02-27 06:47] akallabeth commented on #5287
@51ckb01 looks like a whole lot of work, mostly dependent on better kerberos / gssapi support.
would be great to have some basics collected here on where (if) this is specified and what is required.

[2019-02-27 06:51] akallabeth commented on #4433
ok, closing this for being stale and as I use freerdp/ffmpeg daily from various (debian/ubuntu/fedora) systems and never had a hang.

[2019-02-27 06:51] #4433 closed

[2019-02-27 11:01] 51ckb01 commented on #5287
I am fully available for every request. I have the opportunity to test in a fairly large work environment!

[2019-02-28 09:55] #5024 closed

[2019-02-28 12:09] krandhir895 commented on #5284
Hi @akallabeth ,

I have tested it further on windows10 and windows7 and found that with windows10 rdp host, freerdp is running perfectly with no audio issue. With windows7 rdp host, feerdp sometimes can't play audio.

Thanks and Regards,
Randhir

[2019-02-28 12:55] akallabeth commented on #5284
Ok, that might be a simple server issue.
Did you use disconnect/reconnect or did you log out of a session?
I can remember that with windows 7 there were audio issues when reconnecting (but that was also the case when using mstsc to connect)

[2019-02-28 23:10] DevDef commented on #5193
Please have a look at my [pull request](https://github.com/DevDef/FreeRDP/pull/1) on my fork.
It’s a first attempt to implement what I suggested. I need help to integrate things with CMake…

[2019-03-01 07:41] akallabeth commented on #5193
Done, added my comments. Nice start, if the details can be worked out this might be quite useful.

[2019-03-01 07:49] nelaaro opened #5290 "keyboard shortcuts documentation"
**Is your feature request related to a problem? Please describe.**
I am looking for a list of the default keyboard short cuts and how to change them.
I want to do simple things like toggle full scree, grab and release input.
I can't find and documentation describing what these shortcuts are or how to change them.

**Describe the solution you'd like**
In the user manual a section on the default key

[2019-03-01 08:04] nelaaro commented on #5290
I found the following source files that would reference keyboard shortcuts.
Next step is to put this in to the wiki.
I will work on that a bit later.

https://github.com/FreeRDP/FreeRDP/blob/f002c7429b8e1ddb9198945ca329a4da1464b8dd/client/X11/xf_keyboard.c
https://github.com/FreeRDP/FreeRDP/tree/f002c7429b8e1ddb9198945ca329a4da1464b8dd/client

[2019-03-01 15:12] vicentwu opened #5291 "Copy file from remote to local all file is"
**Found a bug? - We would like to help you and smash the bug away.**
1. __Please don't "report" questions as bugs. For these (questions/build instructions/...) please use one of the following means of contact:__
   * We are reachable via IRC _#freerdp on freenode_
   * We are reachable via mailing list <freerdp-devel@lists.sourceforge.net>
   * Try our mailing list for discussions/questions
1. Bef

[2019-03-01 19:56] rax-rstark opened #5292 "build error on macOS Mojave + brew: NSException"
**Description:**
Attempting to install XfreeRDP HEAD via brew fails on macOS Mojave (10.14.3) fails with NSException error.

**To Reproduce**
from fresh brew install on latest macOS:

[code]

**Expected behavior**
Previous builds of --HEAD completed without error last time this was attempted (High Sierra, mid-2018).

Thank you for your review and insight!

[2019-03-01 20:19] akallabeth commented on #5292
Hmm, might want to check with brew and check your build setup.
This does not look like something freerdp (the project) related but a build configuration issue.

[2019-03-01 21:35] rax-rstark commented on #5292
Thanks for the quick review & update!
Problem resolved, not all Xcode components were installed.

[2019-03-01 21:35] #5292 closed

[2019-03-04 07:34] akallabeth commented on #5291
Could you please be a bit more precise with your description?
* `Latest` is a very vague term (there are several sources you can get freerdp from...)
* Are you talking about clipboard, drive redirection, ...?

[2019-03-07 09:52] HASISI commented on #2228
@wwwzys  What should I do
[ 39%] Linking C shared library libwinpr2.dylib
Undefined symbols for architecture x86_64:
  "_FIPS_mode", referenced from:
      __winpr_openssl_initialize in ssl.c.o
      _winpr_FIPSMode in ssl.c.o
  "_FIPS_mode_set", referenced from:
      __winpr_openssl_initialize in ssl.c.o
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exi

[2019-03-07 12:00] antoniovazquezblanco opened #5296 "Unable to connect to W10 RDP with Protocol Security Negotiation Failure after tsg_check failure"
**Describe the bug**
I have a working RDP file in windows that allows me to connect to a W10 machine remotelly through a gateway. I am unable to make this work with freerdp.

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS:
[code]
 - Browser:
[code]

[2019-03-07 12:05] akallabeth commented on #5296
Thank you for your report.
Could you check if it is working with our nightly builds https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds ?
There have been a lot of fixes regarding gateway.

[2019-03-07 14:30] antoniovazquezblanco commented on #5296
Now using freerdp-git package for Archlinux:
[code]

Still not able to connect to my remote machine. Tested `NLA`, `TLS` and `RDP` sec options. Example run:
[code]

[2019-03-07 17:45] ricardocupello commented on #2862
Hi i have a similar problem when im trying to get into windows server 2012
xfreerdp -nego -sec-nla /u:xxxx /v:xxxx /f /bpp:32  /log-level:trace
[11:43:18:570] [1170:025ae000] [INFO][com.freerdp.client.common.cmdline] - loading channelEx rdpdr
[11:43:18:652] [1170:025ae000] [INFO][com.freerdp.client.common.cmdline] - loading channelEx rdpsnd
[11:43:18:652] [1170:025ae000] [DEBUG][com.freerdp.channe

[2019-03-07 18:07] akallabeth commented on #5296
Hmm, too bad.
Two things you can try:
Does connection work using http gateway?
Does connection work with explicit authentication (nla, tls, ...) Instead of nogo?

[2019-03-07 18:57] antoniovazquezblanco commented on #5296
When I try using a http gateway I get:
[code]
plus the usual error.

When I disable negotiation I get the following:
[code]
This happens also for rdp, tls, nla and ext...

[2019-03-07 19:13] akallabeth commented on #5296
Ok. Can you post the configuration of your gateway?
As you can imagine I've vot seen such issues with our test setups.
Reproducing the error would now be a necessary step for a fix.

[2019-03-07 23:20] skewty commented on #2862
[code]

[2019-03-08 06:54] akallabeth commented on #2862
Could you please check if the setup actually works first?
As in RDP is running and the user is allowed to connect?
If that is the case please add server versions and configuration settings

[2019-03-08 07:55] akallabeth commented on #2862
@skewty sorry, missed the thread you´re posting in. You mixed up things, this was gateway related, you´re not using one.

[2019-03-08 08:00] akallabeth commented on #5291
Ok, looks like what was meant was the clipboard file copy feature.

[2019-03-08 09:11] antoniovazquezblanco commented on #5296
I do not have access to the gateway configuration. In case it can provide some info, the RDP file I use and works on windows goes as follows:
[code]

I may be able to capture a valid connection with Windows and the equivalent attempt in Linux but that would require a way to setup a channel for me to send you the information privately as I cannot make those details public.

[2019-03-08 09:14] akallabeth commented on #5296
@antoniovazquezblanco Client configuration does not help here as we have some server/gateway configurations we test with (which work)
so we need to figure out why yours is not.
you can reach me in freerdp IRC or via matrix, same username as here on github.

[2019-03-08 15:26] mwiora commented on #5286
same issues here with debian 10 buster alpha 5 - xfreerdp-dev5
I had to install pcscd and pcsc-tools then the card is getting shown in pcsc_scan results

from there xfreerdp no longer produces the reported line (but in my case the smartcard still doesn't work on the target system..... still under investigation)

[2019-03-11 15:48] chrislong opened #5298 "Wireshark documentation out of date"
**Found a bug? - We would like to help you and smash the bug away.**
1. __Please don't "report" questions as bugs. For these (questions/build instructions/...) please use one of the following means of contact:__
   * We are reachable via IRC _#freerdp on freenode_
   * We are reachable via mailing list <freerdp-devel@lists.sourceforge.net>
   * Try our mailing list for discussions/questions
1. Bef

[2019-03-12 09:50] ArvinBo opened #5299 "The size of the library obtained by compiling the Android client with different CPUs is different."
When compiling the Android client, it is in the same compilation environment except CPU (intel i3-3230m and intel i5-8400). The size of the library file obtained when using i3 is 5MB, and the size of the library file obtained when using i5 is 12MB. And the library compiled with i5 often has a memory leak problem in use.

[2019-03-12 13:27] #5299 closed

[2019-03-13 07:39] ganeshjkale opened #5300 "vmconnect with different port should not work Freerdp 2.0.0RC4"
Steps:-
1:-xfreerdp /cert-ignore -toggle-fullscreen /title:test  /f    /vmconnect:89097b21-6aff-47ee-bd05-3977cb32f78b /d:testdom /u:test /v:x.x.x.x:2170 /p:test123
Result:- connection is established to vm console
Expected :- connection should not be established
2:- same scenario with mstsc having port 2170 connection is not established.

[2019-03-13 07:51] akallabeth commented on #5300
port is ignored when using `vmconnect`
don't see an error here, but a pull checking for that condition (and informing the user) in the command line parser is welcome.

[2019-03-13 09:01] ganeshjkale commented on #5300
@akallabeth not getting

[2019-03-13 13:59] akallabeth commented on #5300
@ganeshjkale Means that the only issue here is that the command line parser silently ignores the port from ` /v:yourserver:1234` . Printing a warning might be a good idea.

[2019-03-13 15:02] vicentwu commented on #5291
Yes,  problem of copying files！

[2019-03-13 16:26] qralston commented on #3121
I swap my ```Ctrl``` and ```Caps Lock``` keys in my keyboard layout. When I use rdesktop, it obeys the swapped keys, but xfreerdp does not.

I can appreciate, from a technical perspective, that xfreerdp's behavior may be more correct. I get it. But simply put: _I don't care_. From my perspective—the user perspective; the most important perspective—xfreerdp's keyboard behavior is broken, and rdeskt

[2019-03-13 19:38] cizra commented on #3121
It's mighty unlikely that the FreeRDP project will accept my contribution, on the grounds of insufficient humility towards PEOPLE WHO LOVE TO USE ALL CAPS, but here's a PR with a fix:

https://github.com/FreeRDP/FreeRDP/pull/5301

[2019-03-13 21:31] oofnikj opened #5302 "[freerdp-shadow-cli] Client disconnects immediately"
I'm trying to mirror my X11 session with `freerdp-shadow-cli -auth` running on Ubuntu 16.04 to Windows 10 using native client `mstsc.exe /v:<server:port>`. The client connects, the remote screen is visible for a split second, and then disconnects with the following error message on client:

Log output from the host:

Using version `2.0.0~git201903080944-0+remmina201903122327.r6e2cfef.d59a18ed~ubun

[2019-03-14 07:20] akallabeth commented on #3121
@cizra the reason is more like you break an existing working implementation because your use case is not supported.
The way I see it you have 2 options:
1. Implement a keyboard handling similar to the one of `aFreeRDP` and use the unicode input path.
  * Does not allow switch layouts remotely
  * Limited support for target operating systems (you need to test which ones work correctly)
1. Implement

[2019-03-14 07:39] cizra commented on #3121
It works for me, so I'll just continue rebasing my fork. Indeed it breaks caps lock but it's only useful for toggling run in FPSes anyway.

[2019-03-14 08:56] akallabeth commented on #5302
@oofnikj could you run the server with `export WLOG_LEVEL=debug` set? Would be nice to know which GFX command is responsible for this.

[2019-03-14 12:07] oofnikj commented on #5302
Sure:

[2019-03-14 17:27] Rossosaurus opened #5305 "Issues using flatpak-builder. cannot create regular file '/usr/lib/systemd/system/pcscd.service': Read-only file system"
I'm trying to compile freerdp but I can't run `flatpak-builder <build dir> packaging/flatpak/com.freerdp.FreeRDP.json` without it spewing errors.

`/usr/bin/install: cannot create regular file '/usr/lib/systemd/system/pcscd.service': Read-only file system`
`/usr/bin/install: cannot create regular file '/usr/lib/systemd/system/pcscd.socket': Read-only file system`
`make[2]: *** [Makefile:360: insta

[2019-03-14 21:01] oofnikj commented on #5302
Tested PR by @m4ntis and it works! Client is able to hold connection. Thanks!

Possibly unrelated issue - image quality is quite a lot worse with AVC444 mode vs. AVC420 (compression artifacts, text is fuzzy):
![artifact](https://user-images.githubusercontent.com/25017173/54391209-e1e96780-46ac-11e9-9ac3-8f6432d17d4d.png)

If I understand correctly Windows 10 RDP client removed support for AVC420.

[2019-03-15 07:37] #5302 closed

[2019-03-18 14:23] andicheesi opened #5312 "disconnect in logon screen after 10 seconds"
*  the steps to reproduce the bug:
     Try to log on with wrong password
     And windows pop up with "other user" "The user name or password is incorrect. Try again"
     Waiting for about 10 seconds and xfreerdp disconnects

  * command line you have used
 xfreerdp /u:Messe /p:rtrtrt /gfx /sec:tls /v:IPC6641
  * to what system did you connect to? (win8, 2008, ..)
Microsoft Windows 10 Enterprise

[2019-03-18 15:49] akallabeth commented on #5312
Server configuration, nothing we can do here.

[2019-03-18 15:49] #5312 closed

[2019-03-19 02:10] kavanst commented on #4928
On the website https://cloudbase.it/freerdp-for-windows-nightly there are two versions:
1) WFreeRDP master branch (continuous build)
2) WFreeRDP stable 1.1 (continuous build)

I tried the stable 1.1 (continuous build) two weeks ago as it is recommended for production use and also encountered the issue above.

Can I check if the stable 1.1 (continuous build) do not contain the significant changes i

[2019-03-19 07:10] akallabeth commented on #4928
There is only master with new commits, 1.1 is in maintainance

[2019-03-19 09:40] ThomasCr commented on #4978
Any Update on this? It is essential feature when using RD Gateway with Windows Server >= 2012 over small uplinks.

[2019-03-19 11:38] #5305 closed

[2019-03-19 14:02] seanw2020 commented on #4781
This worked for me:
[code]
We use a Microsoft Windows Active-Directory setup with RDP Gateway over `https` (`/gt:http`), so it makes sense to use `TLS` security.

[2019-03-19 14:06] hardening commented on #4978
I'd really like to work on this if someone wanna finance it...

[2019-03-20 10:29] FelixZhang commented on #4781
@seanw2020 Please make sure that's not your real world password getting leaked.

[2019-03-26 03:35] mojomojomojo commented on #3121
In my case, I have caps as another ctrl on both the local linux machine and on the remote Windows machine (kb scan code map). Xfreerdp treats it like a caps lock. )-8

[2019-03-26 14:54] weberhofer opened #5316 "Request for release of 2.0.0-rc5"
It would be great to see another RC before finishing 2.0.0.

[2019-03-26 16:47] akallabeth commented on #5316
have a lot of pull requests pending, but it looks like nobody has time for reviewing them :/

[2019-03-27 10:55] ensc commented on #3121
Here, `meta` and `alt` are swapped; `left ctrl` ist "mode switch" (e.g. used to create umlauts), `shift` + `left ctrl` is `caps lock`.  Works perfectly with rdesktop but is a blocker for using xfreerdp.

[2019-03-27 11:47] akallabeth commented on #4285
looks like with more modern sdk/ndk it works also this way:
1. Install NDK and CMAKE in android studio
1. Add the path to the SDK-cmake and Ninja
1. Run `cmake -G"Ninja" -DANDROID_ABI=x86_64 -DBUILD_SHARED_LIBS=ON -DOPENSSL_ROOT_DIR=<somepath> -ANDROID_NDK=<ndk path> -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=<NDK base path>/build/cmake/android.toolchain.cmake -DANDROID_NATIVE_API_LEVEL=23 -D

[2019-03-28 07:44] yankaiqian commented on #5287
I'm curious about what this feature is used for. When we provide remote assistance, usually we login to a windows server remotely, then run "MSRA /OFFERRA", input the client IP address, then connect to it..

It seems that it is not related to FreeRDP, so I don't quite understand this feature request.

[2019-03-28 16:26] tristandegroof commented on #5235
update:
for problem 2), what also seems to work is using an "mfa on premise" server instead of "mfa extension for nps (a different, somewhat more complicated setup). Combined with the caching option on azure for 1), this seems to work well for the clients that open 2 connections.

We also have a case open with Microsoft about the issue with "mfa extension for nps", but I don't expect too much resu

[2019-03-28 17:03] bmiklautz commented on #5316
@weberhofer I sincerely hope we can get 2.0.0 out of the door soon. As @akallabeth mentioned there are basically some PRs that needs merging before the release. Hope we can get around that soon.

[2019-03-28 18:04] #5276 closed

[2019-03-28 18:05] #5234 closed

[2019-03-28 18:07] hardening commented on #1949
@bmiklautz shall we close this one, as we can now use basic IPv6 ?

[2019-03-29 09:20] maxchendt opened #5317 "Time of share files (Date modified) are inconsistent when Drive share (Redirect)"
**Describe the bug**
the `Date Modified` on local computer (linuxmint 19.1) and remote computer (windows 10 LTSC 2019) are inconsistent. And the time difference are irregular.

example

File name |  Local time | RDP time |  Difference
------------ | ------------- | ------------- | -------------
R-CDS-2019.tex  | 	 10:48:06  |  10:46  |  2 min lag
AP-intro.tex	 |  21:31:57  |  21:26  |  5 min lag

[2019-03-29 09:54] akallabeth commented on #5317
Could you please retry with our nightly builds?
There have been some fixes regarding drive redirection.

[2019-03-29 13:55] maxchendt commented on #5317
freerdp-nightly_2.0.0+0_20190329024841.643_1.gbp52bce4_amd64.deb
yeah, it fix the inconsistency. But, a new bug: If I copy a file from RDP to local, the time is change!

The file `7z-cp.cmd` on E:\  dated `2018-02-18 11:58:28`, is changed to `2018-09-09 10:49:56` . Both the date and time are changed!

![Screenshot at 2019-03-29 21-43-33](https://user-images.githubusercontent.com/9275768/55237068-3

[2019-03-29 14:49] akallabeth commented on #5317
@maxchendt Ok, fixed in #5318

[2019-03-29 15:16] chrislong commented on #4642
Can you explain what you mean by "this is a deprecation issue"? Does that mean disabling fast path is deprecated?

I'd really like to run a session without fast path to help debug #4934 .

[2019-03-29 15:20] akallabeth commented on #4642
@chrislong then good luck with finding a (recent) server that still supports that.
Anyhow, what does debugging the referenced issue have to do with this?
That is independent of the transport but an application issue (local and remote sizes changes going into a loop)

[2019-03-29 15:42] chrislong commented on #4642
Oh, I didn't know recent servers required fast path. Thanks.

The issue is that I'm looking at a packet capture to help understand (and explain to someone at Microsoft) the weird behavior from #4934. Wireshark understands some RDP, but it fails to parse a lot of the traffic and I also had problems figuring it out by hand, and I think it's because it doesn't understand fast path. I was hoping to di

[2019-03-31 11:18] maxchendt commented on #5317
on https://ci.freerdp.com/job/freerdp-nightly-binaries/ , Last build is \# 647 (Mar 29, 2019 3:49 AM), where can I find the new build?
For "time change in copying a file from RDP to local", is it fixed yet ?

[2019-04-02 11:13] weberhofer commented on #5316
It would really be great to see a new version, no matter if RC or release. Hope somebody has time to review. I really like freerdp!

[2019-04-03 18:39] samoring commented on #4966
OS: opensuse 15.0.  The letter "c" stops working after a bit of use, the letter "a" get's changed to an "a-grave" eg., " à "...

Using "freerdp-2.0.0~rc4-lp150.2.3.1.x86_64"

Not sure how I'd go about doing diagnostic gathering, anyone have any suggestions?

[2019-04-03 18:41] samoring commented on #4137
OS: opensuse 15.0.  The letter "c" stops working after a bit of use, the letter "a" get's changed to an "a-grave" eg., " à "...

Using "freerdp-2.0.0~rc4-lp150.2.3.1.x86_64"

Not sure how I'd go about doing diagnostic gathering, anyone have any suggestions?  Does this give some more clues?

[2019-04-03 23:48] garbb opened #5320 "created by accident and I can't delete this sorry..."
**Found a bug? - We would like to help you and smash the bug away.**
1. __Please don't "report" questions as bugs. For these (questions/build instructions/...) please use one of the following means of contact:__
   * We are reachable via IRC _#freerdp on freenode_
   * We are reachable via mailing list <freerdp-devel@lists.sourceforge.net>
   * Try our mailing list for discussions/questions
1. Bef

[2019-04-03 23:53] #5320 closed

[2019-04-04 00:18] garbb opened #5321 "client closes when a remoteapp window disappears"
**Describe the bug**
FreeRDP client terminates during connection to remoteapp on RDP server

**To Reproduce**
Steps to reproduce the behavior:
Connect to a remoteapp on an RDP server with
`wfreerdp.exe /v:192.168.0.25 /drives /app:"||APPNAME"`
Prompt for credentials, input credentials
Wait for connection
Windows "welcome message appears in window"
![image](https://user-images.githubusercontent.com

[2019-04-04 09:54] ropetry commented on #4137
we fixed our Keyboard Problems by using the -k Option to set a specific Keyboard layout...
if i remember correctly..
bye
roman

[2019-04-04 11:04] samoring commented on #4137
Roman,
On Thu, 2019-04-04 at 02:54 -0700, ropetry wrote:

Thinking one of these?
 /kbd:0xid or name           Keyboard layout
       /kbd-fn-key:value           Function key value
       /kbd-list           List keyboard layouts
       /kbd-subtype:id           Keyboard subtype
       /kbd-type:id           Keyboard type

[2019-04-04 12:42] chrislong commented on #5208
Maybe this should be a separate issue, but it may make sense to do at the same time, so I'll put it here: it would be great to document the exit codes from the application (`xfreerdp`, specifically). I work on a system that invokes it programmatically so exit codes would be great for distinguishing different types of failure.

[2019-04-04 16:06] #5317 closed

[2019-04-04 16:19] #5250 closed

[2019-04-04 17:44] xychix commented on #935
does anyone still know the extact freerdp version this was for? Doesn't seem to patch in with 1.1.0-beta-2013071101

[2019-04-04 18:03] ropetry commented on #4137
i think we used
/kbd:0xid or name           Keyboard layout
with the right number..

[2019-04-04 18:03] #4137 closed

[2019-04-05 06:16] akallabeth commented on #5321
Did you allow remoteapp and the specified app for this user?

[2019-04-05 07:47] kavanst opened #5324 "[win] -grab-keyboard not supported"
After a successful login, the keyboard is stuck in the remote desktop window until the mouse click inside the remote desktop window and then outside. Is it possible to disable this as the user may not intend for the keyboard to be in the new Remote Desktop window until the mouse click inside. For my scenario, I am running a script to open two FreeRDP windows, so two log in prompts will appear. Aft

[2019-04-05 08:28] akallabeth commented on #5324
Please use the mailing list or IRC for support questions.
Keyboard behaviour is configurable via command line switches.

[2019-04-05 08:44] akallabeth commented on #5284
Closing due to lack of feedback.

[2019-04-05 08:44] #5284 closed

[2019-04-05 09:08] cixonline opened #5326 "Buttons on floating toolbar do not work"
**Describe the bug**
Using Arch Linux as the client and installing the freerdp package 2.0.0.rc4, I connect to my Windows 10 desktop using username and password as login. This works fine and the desktop appears. However the floating blue toolbar at the top with the pin, IP address, minimize, restore and close buttons do not work at all. The only way to disconnect is to use the Disconnect option fr

[2019-04-05 09:11] akallabeth commented on #5243
Fix merged.

[2019-04-05 09:11] #5243 closed

[2019-04-05 10:20] akallabeth commented on #5326
@cixonline please try our nightly builds, this was already addressed.

[2019-04-05 10:20] #5326 closed

[2019-04-05 10:21] akallabeth commented on #5321
tested against windows 7 with the appropriate settings and it is working with `2.0.0-dev5 (52bce4745)`

[2019-04-05 10:21] #5321 closed

[2019-04-05 11:28] cixonline commented on #5326
Tried with version 2.0.0-dev5 (e0d60a031) and the same issue is present. xfreerdp --version reports the dev5 version so I'm sure I'm running the latest.

The source was built using https://aur.archlinux.org/packages/freerdp-git/ as there are no Arch Linux nightly builds listed here.

[2019-04-05 12:08] akallabeth commented on #5326
@cixonline tried it on fedora 29 and debian 10 today, working as expected. Are you maybe missing some x11 dev package? Could you check /buildconfig?

[2019-04-05 13:40] #5264 closed

[2019-04-05 13:40] #5239 closed

[2019-04-05 13:40] #5228 closed

[2019-04-05 13:41] #5210 closed

[2019-04-05 13:42] akallabeth commented on #4820
Ok, the wayland related stuff is merged and we're currently fixing some remaining scanbuild warnings.
closing this for now.

[2019-04-05 13:42] #4820 closed

[2019-04-05 17:16] maxchendt opened #5328 "Drive share files copy, dates are changed"
freerdp-nightly_2.0.0+0_20190405014828.644_1.gbp37358e_amd64.deb
still have the problem: date is changed for a file copied from RDP to local through drive share

https://github.com/FreeRDP/FreeRDP/issues/5317#issuecomment-478006211

[2019-04-05 17:23] byteboon opened #5329 "For OldLicenseBehavior, don't call saveCal since we never call loadCal"
license_answer_license_request() will not call loadCal() if OldLicenseBehaviour is true, but license_read_new_or_upgrade_license_packet() will always call saveCal() even if the paths have not be set up correctly -- and therefore fail to save and bail the connection. No need to save if you never load.

I'm not sure if failure to save should be fatal, since failure to load isn't. I'll leave that que

[2019-04-05 18:24] akallabeth commented on #5328
Please wait at least a day after a merge! The pr was merged AFTER the last nightly.

[2019-04-05 18:51] hardening commented on #5329
makes sense

[2019-04-08 07:42] akallabeth commented on #5329
Fixed with #5330

[2019-04-08 07:42] #5329 closed

[2019-04-09 04:48] cogphone opened #5332 "How to create freeRDP.xcodeproj for iOS 12.1 & Xcode 10.1"
Hi,

I am try to compile FreeRDP from master with IOS. but missing  FreeRDP.xcodeproj project file .

how to solve it?, please explain step by step?.

[2019-04-09 08:32] akallabeth commented on #5332
docs/README.ios
For further help please use the mailing list or IRC, this is an issue tracker not a support forum.

[2019-04-09 08:32] #5332 closed

[2019-04-10 08:10] Xazev opened #5333 "Reconnect freerdp"
Hello. Do you have in freerdp a session reconnect feature?

[2019-04-10 08:23] #5333 closed

[2019-04-10 12:15] buptcaicai opened #5334 "cursor turns into a black box when enable cursor shadow in windows 2012 and 2016"
When cursor shadow is enabled in windows 2012 and 2016, the cursor turns to a black box.  I tried to disable cursor shadow in xrdp-neutrinordp.c, and it did not help.

instance->settings->performance_flags = PERF_DISABLE_FULLWINDOWDRAG | PERF_DISABLE_MENUANIMATIONS | PERF_DISABLE_THEMING | PERF_DISABLE_CURSOR_SHADOW;

[2019-04-10 12:16] akallabeth commented on #5334
Please add the required information requested in the issue template.
Until such data has been added this issue will stay closed.

[2019-04-10 12:16] #5334 closed

[2019-04-10 12:44] maxchendt commented on #5328
freerdp-nightly_2.0.0+0_20190409014830.646_1.gbpdf280a_amd64.deb
I have also test 0405 and 0406 nightly build, this bug is not be fixed.

Copy files from Liunx to Win, "modified dates" are the same. However, copy a file from Win (RDP server) to Liunx (RDP client), the  "modified dates"  are changed randomly.

![Screenshot at 2019-04-10 20-30-43](https://user-images.githubusercontent.com/9275768/55

[2019-04-10 13:29] akallabeth commented on #5328
@maxchendt please add the output of `xfreerdp /buildconfig`
Just checked with the package you mentioned and it works as expected.
Are you sure you're using the correct binary and not some system installed one?

[2019-04-10 14:00] maxchendt commented on #5328
/opt/freerdp-nightly/bin/xfreerdp /buildconfig
This is FreeRDP version 2.0.0-dev5 (df280a7ff)
Build configuration: BUILD_TESTING=OFF BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIB=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK_SYMBOL= HAVE_SYSLOG_H=1 HAVE_SYS_EVENTFD_H=1

[2019-04-10 15:16] akallabeth commented on #5328
Ok, now I´m really buzzled, with windows 7, 8, 8.1 the timestamps are correct, but a windows 10 installation is off...
According to documentation the timestamps should be in UTC so what is going on here?

[2019-04-10 16:00] bduncan opened #5335 "xfreerdp fails to connect when one host out of several is down"
Hi,

We rebooted our three xrdp servers today. They are load balancing behind haproxy. DNS returns three IP addresses in response to an A query against (details anonymised) `xrdp.domain`:

[code]

Today, one of the servers got bricked and we had to rebuild it. My DNS cached the above result for a long time.

When I run `xfreerdp /v:xrdp.domain` I expect to get a connection to one of the remaining

[2019-04-10 16:19] akallabeth commented on #5335
Currently freerdp only connects to the first address returned by the resolver (see `freerdp_tcp_connect`)
Changing that to try each returned address and use the first successful tcp connection should be possible.

[2019-04-10 16:36] bduncan commented on #5335
Hi @akallabeth

From the strace above it looks like freerdp is connecting to all of the addresses returned from the resolver.

That would be great! From my naive reading I would have said that `freerdp_tcp_connect_multi` should do exactly that.

[2019-04-10 16:49] akallabeth commented on #5335
It tries some different types of connection first.

freerdp_tcp_connect_multi is indeed such a function, but for a specialized case.
Most likely needs some adjustments to correctly work.

[2019-04-11 01:30] ibisis commented on #4966
The "c" key doesn't work in full screen mode.  When I use CTL-ALT-ENTER to leave full screen mode, the "c" key works.

OS: FreeBSD 12.0-RELEASE-p3
desktop: MATE 1.20.3
vm: Windows 10 Pro 1809
freerdp: 2.0.0.r4_1
command: xfreerdp /monitors:0,1 /span "/u:xxx" /p:yyy  /v:192.168.0.26

[2019-04-11 02:05] samoring commented on #4966
I second this, my options:
/cert-ignore -sec-nla /multimon /sound /toggle-fullscreen +clipboard
+fonts +compression +heartbeat

On Wed, 2019-04-10 at 18:30 -0700, ibisis wrote:

[2019-04-11 10:44] cogphone opened #5336 "Apple Mach-O Linker (ld) Error"
**Found a bug? - We would like to help you and smash the bug away.**
1. __Please don't "report" questions as bugs. For these (questions/build instructions/...) please use one of the following means of contact:__
   * We are reachable via IRC _#freerdp on freenode_
   * We are reachable via mailing list <freerdp-devel@lists.sourceforge.net>
   * Try our mailing list for discussions/questions
1. Bef

[2019-04-11 10:46] #5336 closed

[2019-04-11 12:39] buptcaicai opened #5337 "mouse cursor turn black box when "pointer shadow" is enabled in win2012 and 2016"
I used NeutrinoRDP and freerdp to connect windows 2012 server. When I enabled pointer shadow, the cursor turn to a black box. When I disabled pointer shadow, the cursor turn normal.

Open Mouse Properties in Control Panel, click "Enable pointer shadow" and apply. The cursor immidiately turns a black box. If untick the "Enable pointer shadow", the cursor will turn normal.

Windows 2016 server has t

[2019-04-11 12:51] akallabeth commented on #5337
Same as #5334.
Please add the information requested by the issue template.
Since this is your second attempt, the missing and most important information is WHICH version of FREERDP are you using? (`/buildconfig` just as requested by the issue template)

[2019-04-11 12:53] akallabeth commented on #5337
Additionally: does it work with our nightly builds?

[2019-04-11 12:57] cogphone opened #5338 "Apple Mach-O Linker (ld) Error"
Undefined symbols for architecture arm64:
  "_freerdp_client_settings_parse_command_line", referenced from:
      -[RDPSession initWithBookmark:] in RDPSession.o
  "_freerdp_channels_get_fds", referenced from:
      _ios_run_freerdp in ios_freerdp.o
  "_gdi_resize", referenced from:
      _ios_ui_resize_window in ios_freerdp_ui.o
  "_graphics_register_pointer", referenced from:
      _ios_register

[2019-04-11 13:41] akallabeth commented on #5338
Please read the issue template.
We do not answer support questions on this issue tracker.

[2019-04-11 13:41] #5338 closed

[2019-04-11 13:46] akallabeth commented on #5337
Just checked against windows 8.1 and 10, no such issue with current nightly builds.
If it is reproducible please provide at least:
* Version you tested with (/buildconfig)
* Command line (complete)
* Remote systems

[2019-04-11 13:46] #5337 closed

[2019-04-11 16:39] garbb commented on #5321
I know this is closed, but I wanted to answer the question:

Yes I tried connecting to the same server with the same user and the same remoteapp with the windows builtin mstsc.exe client and it worked, so yes the specified user has access to the remoteapp.

[2019-04-11 16:39] garbb commented on #5321
I know this is closed, but I wanted to answer the question:

Yes I tried connecting to the same server with the same user and the same remoteapp with the windows builtin mstsc.exe client and it worked, so yes the specified user has access to the remoteapp.

[2019-04-11 18:16] jo3rg commented on #2862
@akallabeth now it's the following output:

`~ % xfreerdp /cert-ignore /gum:direct /g:$gateway /gu:$gatewayuser /gd:$gatewaydomain /d:$domain /u:$user /v:$client /log-level:DEBUG                    :(
[20:12:18:724] [22792:22793] [DEBUG][com.freerdp.channels.cliprdr.client] - VirtualChannelEntryEx
[20:12:18:725] [22792:22793] [INFO][com.freerdp.client.common.cmdline] - loading channelEx cliprdr
[2

[2019-04-11 23:08] Dennis360ict commented on #4717
Im seeing this on Windows 2012R2 too. I'm using remmina 1.3.4 on ubuntu 18.04

[2019-04-12 07:24] widgetii commented on #935
@xychix
https://github.com/AndreRH/FreeRDP works for me

[2019-04-12 09:08] cogphone opened #5340 "Apple Mach-O Linker (ld) Error"
![Screenshot 2019-04-11 at 2 29 48 PM](https://user-images.githubusercontent.com/49425647/56025767-683aad00-5d30-11e9-9dc7-18cc56b0a487.png)

[2019-04-12 09:09] cogphone opened #5341 "library not found for -laudin-client"
![Screenshot 2019-04-12 at 11 58 16 AM](https://user-images.githubusercontent.com/49425647/56025918-c1a2dc00-5d30-11e9-90db-2008c35dbd58.png)

[2019-04-12 10:27] buptcaicai commented on #5337
I was using FreeRDP 0.9.1, and NeutrinoRDP, which a fork of FreeRDP 1.0.1. We also tested the lastest version and it still has the same problem. The command line is ./xrdp -nd

I think windows 8.1 and 10 is fine to me too. It only happens with windows 2012 and 2016.

[2019-04-12 13:45] akallabeth commented on #5337
Sorry, that are versions we have not much to do with.
You might try our nightly builds (upcoming 2.0 version) https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds
Xrdp is a different project though ;)

[2019-04-12 13:47] akallabeth commented on #5341
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2019-04-12 13:47] #5341 closed

[2019-04-12 13:47] akallabeth commented on #5340
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2019-04-12 13:47] #5340 closed

[2019-04-12 19:40] ArturZaprzala commented on #935
Here are my latest patches for freerdp-2.0.0-47.rc4.fc29.src.rpm and rdp2tcp-0.1: [rdp2tcp-20181203.zip](https://github.com/FreeRDP/FreeRDP/files/3074908/rdp2tcp-20181203.zip).
FreeRDP patch is using winpr API now.

[2019-04-12 23:16] 51ckb01 commented on #5287
Fromo FreeRdp Wiki: [https://github.com/FreeRDP/FreeRDP/wiki/Quality-Assurance-(QA)](url)
quote the part of interest:

In wiki it is explained tha **Remote Assistance** protocol is present
`xfreerdp Invitation.msrcIncident /assistance:XXXXXXXXXXXX`

`Invitation.msrcIncident` is one of the features of MSRA.exe but use a ticket create from client (**.msrincident** file is a Microsoft Windows Remote

[2019-04-13 13:24] kartun83 opened #5342 "Enter toggles fullscreen"
**Describe the bug**
Enter exits FullScreen mode. So, to be clear, when freerdp is in fullscreen mode and I press only Enter, it exits fullscreen, but when in window mode I press enter  it doesn't switch to fullscreen mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect
2. Switch to fullscreen mode with ctrl+alt+enter
3. Type anything and press Enter

**Expected behavior**
Only Ctrl

[2019-04-13 15:19] akallabeth commented on #5342
Not seen such behaviour so far.
You're using our nightly builds I assume?
Which desktop environment dou you use, it is most likely related to that. (Key bindings, special keys?)

[2019-04-13 15:44] kartun83 commented on #5342
It's Cinnamon 4.0.10, with default key bindings, no modifications against stock.
Any suggestions how to debug this issue ?

[2019-04-13 16:04] kartun83 commented on #5342
Additionally, here is another issue with fullscreen:
if I use **/f /floatbar** , than ctrl+alt+enter toggles visibility of float bar, in other words without /flotabar I don't see any option to close rdp, and nothing helpful in help =(

[2019-04-14 01:24] Ortega-Dan commented on #3439
just in case Multimon is working great now
in Ubuntu 18.04 in my case
xfreerdp /multipon /u:<skipped> /v:<skipped>

[2019-04-14 10:52] ElDavoo opened #5343 "Issues with RemoteApp"
Hi,
RemoteApp mode is unstable on my system.
If I use the app normally, as soon as it goes into the "Not responding" state, the window disappears. Sometimes the window reappears, sometimes it doesn't, sometimes it crashes.
If I start playing with the app's appmenu (file,edit,view,help...) , freerdp crashes after some time (normally a few seconds, can be more).
I'm using Adobe Acrobat Pro DC 19.0 a

[2019-04-14 14:13] monkeytreehosting commented on #5048
Hi,

I know this is a reasonably old thread, however I'm seeing what I believe to be this exact error; this seems to be very easy to replicate, however I can only find a couple of others having reported it online.

Setup:

OS: Ubuntu 18.04.2 LTS
Connection: Remmina via official PPA

OS: NoTouch Desktop (tested on both k413 on HP T520 Thin Client and k419 on Rpi3B+)
Connection: FreeRDP version 2.0

[2019-04-14 14:41] monkeytreehosting opened #5344 "Random session disconnects FreeRDP 2.0 (6be3ba4) when using RDGW 2012R2 connecting to 2016TS RDS cluster"
I've seen similar issues in some old threads, however I'm seeing what I believe to be this error but with 2012R2 Gateways; this seems to be very easy to replicate, however I can only find a couple of others having reported it online.

Setup:

OS: Ubuntu 18.04.2 LTS
Connection: Remmina via official PPA

OS: NoTouch Desktop (tested on both k413 on HP T520 Thin Client and k419 on Rpi3B+)
Connection:

[2019-04-14 14:42] monkeytreehosting commented on #5048
Created new issue as my issue is using different RDGW version #5344

[2019-04-14 14:53] ElDavoo commented on #5343
Same behaviour with latest dev build.
This is FreeRDP version 2.0.0-dev5 (df280a7ff)
Build configuration: BUILD_TESTING=no BUILTIN_CHANNELS=ON HAVE_AIO_H=1 HAVE_EXECINFO_H=1 HAVE_FCNTL_H=1 HAVE_INTTYPES_H=1 HAVE_MATH_C99_LONG_DOUBLE=1 HAVE_POLL_H=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK=ON HAVE_PTHREAD_MUTEX_TIMEDLOCK_LIB=1 HAVE_PTHREAD_MUTEX_TIMEDLOCK_SYMBOL= HAVE_SYSLOG_H=1 HAVE_SYS_EVENTFD_H=1 HAVE_SYS_F

[2019-04-14 16:09] akallabeth commented on #5344
Could you attach the command line you're using?
Remmina uses the same library, so to have similar behaviour you need to activate the same switches.

As for the issue itself, try to activate heartbeat, sounds like the gateway is configured to discard idle connections. (Network:auto might help too)

[2019-04-14 16:11] akallabeth commented on #5343
Hmm, thank you for the report.
Although an image of a stack trace might be more helpful if no popup is actually hiding it...

[2019-04-14 16:20] ElDavoo commented on #5343
There is no such "stack trace" window popping up, but I have done
"backtrace full" in HDB, you can see it at the end of the log

Il dom 14 apr 2019, 18:11 akallabeth <notifications@github.com> ha scritto:

[2019-04-14 16:33] monkeytreehosting commented on #5344
Thanks for the response; I'm currently using NoTouch OS so I'm not aware of how to export the command line from there? However I'm attaching screenshots for you if that's ok?

How would I go about enabling heartbeat?

In the meantime, yes the gateway is configured to the following session state changes:
• Active to Idle - 2mins of inactivity
• Idle to Disconnected - 3hrs of inactivity
• Disconnect

[2019-04-14 16:38] monkeytreehosting commented on #5344
*Note, I have emailed Stratodesk support asking how to activate heartbeat; I have also asked how to extract the exact command string so I can inspect and also paste it here!

[2019-04-14 16:43] monkeytreehosting commented on #5344
<img width="1300" alt="Screenshot 2019-04-14 at 17 39 14" src="https://user-images.githubusercontent.com/10866383/56096183-b8ef0900-5edc-11e9-9492-92b9536751ed.png">
<img width="1304" alt="Screenshot 2019-04-14 at 17 39 27" src="https://user-images.githubusercontent.com/10866383/56096184-b8ef0900-5edc-11e9-9ee3-22a3ef2a2db2.png">
<img width="1302" alt="Screenshot 2019-04-14 at 17 39 39" src="https

[2019-04-14 18:01] monkeytreehosting commented on #5344
I've just tried with +heartbeat and unfortunately it's disconnected again after 14mins

Without heartbeat enabled, I have had a couple of 1hr+ sessions with zero input, however they also end in disconnection.

All disconnections shown with the same error as mentioned above

[2019-04-14 18:09] monkeytreehosting commented on #5344
Testing now with the addition of:

+heartbeat +auto-reconnect /network:auto

[2019-04-14 21:30] akallabeth commented on #5343
was referring to the screenshot you attached.
found the parts in the log, so I'll have a look.
might take some time, afk for some days to come.

[2019-04-15 06:23] monkeytreehosting commented on #5344
After enabling heartbeat auto-reconnect and network auto, this has stabilized the connection, however seemingly hidden the issue?

Screen photos of the error logs on disconnection show the disconnections are still happening, randomly, but now being reconnected in the background
![Original connection](https://user-images.githubusercontent.com/10866383/56111214-1a4fc000-5f4f-11e9-934e-aefbf287e10c.j

[2019-04-16 04:45] widgetii commented on #935
@ArturZaprzala

I tried to build FreeRDP rc4 version with your last patch and got error:

[code]

Similar linking error on Mac. With rdp2tcp patch everything is ok

[2019-04-16 07:25] AndrK189100 commented on #5344
I have same problem(wrote about this on reddit).
All 29 machines have this problem with last version of Remmina. "Clean" FreeRDP works fine.

Server: Windows Server 2016(all updates installed)
Client: Linux Mint 19.1(aka Ubuntu 18.04). Remmina - 1.3.4 (git n/a)
Direct connect to server, without gateway

Log:
[ERROR][com.freerdp.core.transport] - BIO_read returned a system error 104: Connection res

[2019-04-16 13:28] user999430212 opened #5346 "wfreerdp does not work with macro or hotkey programs"
Macro programs on windows are very popular like typeitin and autohotkey. Both feature hotkeys to trigger scripts as well as "hotstrings". The former, for example would be hitting ctrl-F1 to type out "hello world". The latter would be if you defined the characters "hw" as "hello world" it would expand them when it sees them typed.

Neither hotkeys nor hotstrings work in wfreerdp.

**To Reproduce**

[2019-04-16 13:33] m4ntis opened #5347 "Unnecessary memcpy of all data on each rail client message"
I think I found a completely unnecessary memcpy of all RAIL PDU data in the current way RAIL client messages are sent, just wanted to ask what's the propper way to fix this issue:

In `rail_send_pdu`, there is a data stream which's data is passed as a buffer to `rail_send_channel_data`:
https://github.com/FreeRDP/FreeRDP/blob/df280a7ffd7dada307942f5f15318b25fe637336/channels/rail/client/rail_order

[2019-04-17 08:26] ThomasCr commented on #4978
I am am ready to give 50 € from my personal point.

[2019-04-17 13:25] CorneliusBroderick opened #5348 "Windows Freerdp Smart Sizing the desktop screen is not updated correctly"
In smart sizing mode the desktop screen is not updated correctly

**To Reproduce**
Steps to reproduce the behavior:

wfreerdp.exe /smart-sizing /:IP

Resize screen

RESULT:
Some parts of the desktop screen is not updated correctly:

![smart sizing tiles not updating correctly](https://user-images.githubusercontent.com/39514235/56290553-4cae1880-611b-11e9-9a40-f926bcf3cae6.PNG)

** Application deta

[2019-04-17 21:24] nornic commented on #4660
We hit the same issue today on:
[code]

Problem exists when you connecting with RemoteApp.
I've tested it on Ubuntu Mate and latest Arch. In all cases, when we try to use right-click, File or any other drop-down menus, they would show up and almost instantly disappear. No chance to click on anything.

The quick patch @mokyle provided actually helps a lot. I can use the remote app without issues an

[2019-04-18 05:02] michaelschefczyk opened #5349 "Trapezoid top menu gone in debian package"
Dear All,

In the latest freerdp2-x11 debian stretch-backports package (2.0.0), the trapezoid top menu of the RDP desktop is suddenly gone. It used to be there for a few years and I found it very helpful. Very likely, it can be toggled via the configuration. However, I am unable to find the right syntax. I am even unable to find the right name for the blue trapezoid "thing" which is in the top mid

[2019-04-18 11:37] CorneliusBroderick commented on #5348
Could be my build issue.

[2019-04-18 12:28] CorneliusBroderick commented on #5348
I believe it broke in FreeRDP-2.0.0-rc4

[2019-04-18 16:37] vscfreire opened #5351 "Unable to use H264 (AVC420 or AVC444) with resolution higher than 2048x2048"
Discovered this while using the FreeRDP library on a project, but was able to reproduce on the FreeRDP example client for Windows (wfreerdp.exe).

Using latest FreeRDP compiled from Git.

Client is running on Windows 10, server is Windows Server 2012 R2.

When using the client with options "/gfx:AVC420" or "/gfx:AVC444", I can only connect to the server using a resolution lower than 2048x2048. If

[2019-04-18 16:43] vscfreire commented on #5351
It doesn't seem to happen when connecting to a Windows Server 2016 server. I can use higher resolutions with the "/gfx:AVC420", for example, with no problems.

[2019-04-18 17:32] ylmw0131 opened #5352 "MSRA (Remote Assistance) CTRL + ALT + C Not work"
MSRA (Remote Assistance) CTRL + ALT + C Not work

According to https://github.com/FreeRDP/FreeRDP/wiki/Quality-Assurance-(QA)#remote-assistance-protocol

xfreerdp Invitation.msrcIncident /assistance:XXXXXXXXXXXX
If everything works as expected the remote assistance should start and the mirrored display should be shown.
To test "remote control" press "ctrl+alt+c" in xfreerdp the shadowed session sh

[2019-04-19 01:34] maxchendt commented on #5328
It is OK for windows 2019 data center, but not OK for windows LTSC 2019, maybe a bug in LTSC 2019?

[2019-04-19 14:03] CorneliusBroderick commented on #5348
It was working up to this checkin:
Revision: 7e8d128fc651f1a2c4e7e765f70d4e370ddb4284
Author: Armin Novak <armin.novak@thincast.com>
Date: 19/09/2018 13:10:50
Message:
Fixed clear codec reset and test cases.

----
Modified: libfreerdp/codec/clear.c
Modified: libfreerdp/codec/test/TestFreeRDPCodecClear.c

[2019-04-20 13:06] chrisjj opened #5356 "Both the builds on https://cloudbase.it/freerdp-for-windows-nightly-builds/ fail"
On Windows 7 64-bit Pro, each one does nothing upon .exe launch.

Anyone know where a known-working Windows build can be found?

[2019-04-22 19:39] user999430212 commented on #5346
For anyone who is interested, to fix this you need to update wf_event.c function wf_ll_kbd_proc to change each "return 1" to "return 0".
Is there a reason for this behavior or can we put this into the main build?

[2019-04-22 20:56] beimhoff commented on #4717
@mnowaksuse did you ever find a solution to this issue?  I recently updated my in-production freerdp build to a git pull from last week and am now experiencing this issue as well. ( No server config changes, no client switch changes )

[2019-04-23 05:57] hardening commented on #5348
@CorneliusBroderick have you a multi monitor setup ?

[2019-04-23 07:52] CorneliusBroderick commented on #5348
@hardening No I do not have multi monitor setup. But I noticed that with /gdi:hw paramater smart sizing works correctly in the latest version.

[2019-04-23 08:04] hardening commented on #5351
IIRC the spec give some limitations on the maximum resolution...

[2019-04-23 08:53] vscfreire commented on #5351
According to [this TechNet article](https://social.technet.microsoft.com/wiki/contents/articles/31983.remote-desktop-protocol-maximum-supported-resolutions.aspx), ever since Server 2012 that resolutions up to 8192x8192 are supported (for each monitor, in a multi-monitor scenario you can go above that).

Additionally, this problem is not present when not using H.264 modes, even if the Graphics Pipe

[2019-04-23 12:32] amratsingh opened #5357 "Failed to find arm-linux-androideabi-gcc"
I get reference from these links:
https://github.com/FreeRDP/FreeRDP/blob/master/docs/README.android
https://github.com/awakecoding/FreeRDP-Manuals/blob/master/Developer/FreeRDP-Developer-Manual.markdown

After setting locations in [setenv-android.sh](https://wiki.openssl.org/images/7/70/Setenv-android.sh) I run it but it giving me error and showing message "Failed to find arm-linux-androideabi-gc

[2019-04-23 13:30] akallabeth commented on #5357
Firstly, better use docs from freerdp.com or github.com/freerdp/freerdp, others are usually outdated.

Secondly, if you are using recent android ndk install their cmake, add it to path and follow the standalone toolchain howto with their toolchain file.
Did not have time to update docs for that,
Any help appreciated.

[2019-04-23 13:32] akallabeth commented on #5351
@vscfreire your h264 decoder may impose additional limits.
Check which protocol version (gfx) is used with your server. Then you know the limits as well.

[2019-04-23 19:04] hendwolt opened #5358 "new warning -Wlto-type-mismatch with LTO enabled (gcc8)"
The openSUSE project is planning to use LTO (Link Time Optimization). So I tried to build version 2.0.0-dev5 (df280a7ff) for openSUSE Tumbleweed with LTO by adding "-flto=4" to the CFLAGS. Basically it worked, but I got a new warning:
...
[   76s] [ 93%] Linking C shared library libfreerdp-shadow2.so
[   77s] /home/abuild/rpmbuild/BUILD/FreeRDP-master/channels/client/tables.c:37:13: warning: type

[2019-04-23 19:05] hendwolt commented on #5358
The complete build log:
[osTWbuild_lto.zip](https://github.com/FreeRDP/FreeRDP/files/3109177/osTWbuild_lto.zip)

[2019-04-24 09:34] jass90 opened #5359 "Android Issue - Change Package name"
When i changed the package name "com.freerdp.freerdpcore" to "com.myname.freerdpcore", gettting the below mentioned JNI error in logcat:

**JNI DETECTED ERROR IN APPLICATION: JNI GetMethodID called with pending exception java.lang.ClassNotFoundException: Didn't find class "com.freerdp.freerdpcore.services.LibFreeRDP" on path: DexPathList**

I want to change the package name, please suggest. Thank

[2019-04-25 07:39] akallabeth commented on #5356
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

Please be a bit more specific, this is a 'does not work for me but I don't tell you what I am doing' kind of bug report.
Hint: Windows does not allow redirecting `stdout` to console for non console applications.
try `wfreerdp.exe <your arguments> >file.txt` and `type file.txt` to get the output.

[2019-04-25 07:39] #5356 closed

[2019-04-25 07:40] akallabeth commented on #5351
@vscfreire your connection log with `/log-level:debug` and `/buildconfig` might give a hint which decoder is used.

[2019-04-25 09:06] lemonmojo commented on #4717
@akallabeth I (and my users) are also still running into this issue. Auto reconnect is of no help as it's not triggered by this particular error. Any ideas?

[2019-04-25 09:20] lemonmojo commented on #4717
Some of my findings:
* It does happen with and without RemoteFX enabled.
* I can reliably reproduce it by connecting to a Server 2016 machine and leaving it idle while playing a YouTube video.
* Eventually the connection drops with the `ERRINFO_GRAPHICS_SUBSYSTEM_FAILED` error code.
* Sometimes it takes just a few seconds for this to occur, at other times it takes 10 minutes or even longer.
* In m

[2019-04-25 09:26] hardening commented on #4717
I've dig a similar issue with a client, and it looks like it's something server-side (as stated in the error). The guys at ms confirmed that there were something fishy on their side. I'm suspecting that tests at microsoft are done using mstsc that always announces nscodec or remoteFx, so the code path without these codecs is undertested. We did a workaround that consist in enabling auto-reconnecti

[2019-04-25 09:27] hardening commented on #4717
IIRC the error was occurring a lot faster when the bitmap cache was disabled.

[2019-04-25 09:28] lemonmojo commented on #4717
@hardening I can reproduce it with and without RemoteFX. But I agree that the MS RDP clients seem to handle this by automatically reconnecting.
Is the workaround you mentioned in the main FreeRDP code base?

[2019-04-25 09:32] hardening commented on #4717
@lemonmojo nope, the workaround is here => https://github.com/RangeeGmbH/FreeRDP/commit/bf9e5ceb4ac0afc97d2d44671ff08d460947b7d9
I've not seen the disconnection with remoteFx enabled.

[2019-04-25 09:36] chrisjj commented on #5356
What I'm doing is (as I said) launching the .exe. I downloaded, and clicked on the .exe. I tried both offered builds.

What more info would you like?

You've lost me there. Why should I care?

[2019-04-25 09:45] lemonmojo commented on #4717
@hardening Thx for sharing this! Just implemented the workaround in my client and managed to successfully auto reconnect after the error occurred. This should definitely be in the main repo.

[2019-04-25 14:46] r-barnett opened #5360 "Segfault using /smartcard without any readers"
**Describe the bug**
A segmentation fault results when using /smartcard:scard when there are no smartcard devices attached to the local host when the remote host has smartcard software installed or when such a device is detached while xfreerdp is running.
**To Reproduce**
Run "xfreerdp /smartcard:scard /v:host" where host is a host that has smartcard software installed and the local host does not

[2019-04-25 15:06] informatimago commented on #5360
I'm correcting this.  You may assign it to me.

[2019-04-25 16:09] informatimago commented on #5360
I don't reproduce this, but there's indeed a case where it may occur, when there's insufficient memory detected in ConvertFromUnicode in unicode.c:486 ; it returns 0 (perhaps returning -1 would be more indicated in this case?). See https://github.com/FreeRDP/FreeRDP/pull/5361

[2019-04-25 16:53] r-barnett commented on #5360
I've attached a log of debug output.  The call to SCardListReadersW() fails with SCARD_E_NO_READERS_AVAILABLE, but filter_device_by_name_w() is called before that failure is noticed. (I've also seen this with SCardListReadersA() with a failure of SCARD_E_NO_SERVICE and a call to filter_device_by_name_a().)
[segfault_sanitized.log](https://github.com/FreeRDP/FreeRDP/files/3117945/segfault_sanitized

[2019-04-25 17:47] beimhoff commented on #4717
What boggles my mind, is the fact that this wasn't happening on a build I made form a git pull early-mid October (post rc3, pre rc4 era) which I have had in production to roughly 150 computers since that time period.  On April 11th, I built fresh from master in the hope of fixing a different bug we were encountering (it did), but as I was slowly rolling it out, users on this new build started comp

[2019-04-25 17:47] beimhoff commented on #4717
@hardening thanks for that info....ill have to give that patch a try.

[2019-04-25 17:58] lemonmojo commented on #4717
@beimhoff I also only recently updated to a more up to date FreeRDP version. While some of my users always had this issue, it was much less common and also occurred much less frequently. In the past I also thought it only affected older Windows versions (2003/XP) but now I can reproduce it on 2016 and 10 hosts. So it appears that either something changed in Microsoft's RDP server or in FreeRDP jus

[2019-04-25 18:00] lemonmojo commented on #4717
Also: while the patch from @hardening works around the problem it's not really a fix as the connection is at least very shortly dropped and re-established which interrupts whatever the user is doing at the moment. Even if it's just a split second...

[2019-04-25 19:22] hardening commented on #4717
I will try to email the contact I had at Microsoft that told me there were something server-side.

[2019-04-25 20:56] akallabeth commented on #5356
Because wfreerdp must be started by a script or from cmd with proper arguments?

[2019-04-25 21:02] chrisjj commented on #5356
arguments?

Where can I find the docs for the proper arguments?

None found at https://github.com/FreeRDP/FreeRDP/tree/master/docs .

--
Chris

On Thu, 25 Apr 2019 at 21:57, akallabeth <notifications@github.com> wrote:

[2019-04-26 05:59] akallabeth commented on #5356
(Incomplete) listing here:
https://github.com/FreeRDP/FreeRDP/wiki/CommandLineInterface

Or you call wfreerdp.exe from cmd (with the aforementioned redirection to file) and have the help printed to that file.

[2019-04-26 09:05] morten-torp-meiling opened #5362 "Password supplied on command line is not replaced with "****" on wfreerdp"
I have seen this bug reported by others and it is set as fixed, but I still have this issue on both the 1.1 build of wfreerdp (from here: https://cloudbase.it/freerdp-for-windows-nightly-builds/) and the latest (as of time of writing, they don't show any info on what the basis of the build is but it seems to be latest master) from the 2.0 branch.
Is this an issue specific to the windows version?

[2019-04-26 10:58] akallabeth commented on #5362
@morten-torp-meiling yes, that is specific to windows. (don't know if that is fixable)
as for other ways to supply command line parameters, the `/from-stdin` method should also work on windows

[2019-04-26 10:59] akallabeth commented on #5360
#5361 merged, closing.
Reopen if still an issue.

[2019-04-26 11:43] morten-torp-meiling commented on #5362
Thanks for the reply. The /from-stdin does not seem to work, though: it simply results in the GUI dialog being shown (and as far as I know, we cannot pipe into a GUI dialog!). Also both username and password is missing in the dialog, even though only the password was not passed to the command.

[2019-04-26 12:05] r-barnett commented on #5360
I don't see a way to reopen this issue, but I did a git pull, checked that the change in #5361 is present, and repeated my test with the same segfault result.

[2019-04-26 12:12] hardening commented on #5360
@r-barnett can you re-run with `valgrind` and send use the traces. Thank you.

[2019-04-26 12:36] r-barnett commented on #5360
==9283== Thread 20:
==9283== Invalid read of size 1
==9283==    at 0x483BBAB: strnlen (vg_replace_strmem.c:428)
==9283==    by 0x4A430B2: filter_device_by_name_a.part.13 (in ...r-barnett/FreeRDP/installed/lib64/libfreerdp-client2.so.2.0.0)
==9283==    by 0x4A45493: smartcard_irp_device_control_call (in ...r-barnett/FreeRDP/installed/lib64/libfreerdp-client2.so.2.0.0)
==9283==    by 0x4A41875: smar

[2019-04-26 12:36] cogphone opened #5363 "iOS Client Connection failed - When connecting through Enable Gateway"
When I connect to rdp through the enable gateway, it will disconnected automatically.
My FreeRdp version is: freerdp-2.0.0-rc4

I have tried the old IOS 9.3.5 version, IOS 11.3 version and the latest IOS 12 version.
I am assuming this is a OS version related bug, But When I try to connect I get the following errors:
2019-04-26 18:00:21.394656+0530 iFreeRDP[313:21447] Cannot start load of Task <231

[2019-04-26 13:48] informatimago commented on #5360
Alternatively to valgrind, since you use gcc 8+, you may use the -fsanitize options:

[code]

[2019-04-26 13:57] vjeson commented on #5357
You can't build android version with latest ndk ,such as ndk 19c , Because the latest ndk compiler has changed from gcc to clang . I build successful the android version with ndk r14b

[2019-04-26 13:58] r-barnett commented on #5360
@informatimago , I took a stab at using the sanitize stuff, but I see no difference in output.  What is the proper way to use that information?

[2019-04-26 16:18] akallabeth commented on #5363
iOS has not seen many updates in recent years, so it most likely needs some refactoring to conform to resource usage restrictions.

[2019-04-26 16:21] akallabeth commented on #5357
@vjeson you can utilizing the ndk toolchain file instead of the one supplied by freerdp.

Need to run cmake manually though, no nice script doing that for you at this point in time...

[2019-04-26 17:52] SwapnilBhosale commented on #5357
NDK version 15c works like charm.
No erroors and warning.

On Fri, Apr 26, 2019, 7:27 PM vjeson <notifications@github.com> wrote:

[2019-04-27 05:25] weberhofer commented on #1949
«hardening, you didn't ask me, but I think this issue can be closed. It was reported against a 1.2 version and is not related to a specific IPv6 issue.

[2019-04-27 09:17] easywind opened #5365 "C# GUI"
I have already install FreeRPD-Sharp  0.1 using NuGet  for C#, But I can not know how to use the freerpd to connect windows for window form GUI.

I tested the FreeRDP-Sharp demo , and I can connect windows use the NFreeRPD, but I can not see any thing, It's thread. I can not see the GUI， I can not find any demo for C# GUI develop.

Who can help me for the GUI connect windows GUI demo using C#?

th

[2019-04-27 23:14] amratsingh commented on #5357
I am able to proceed further but this time it is showing an fatal error in which it is unable to found some files(stdio.h, stdlib.h etc. ).

[2019-04-28 09:51] qiandahao opened #5366 "Two finger sliding to scroll is not working on Mac"
The FreeRDP window is totally frozen when you slide with two finger to scroll.

Mac machine and OS: Macbook pro 15 and mojave
FreeRDP: the latest master branch
Remote OS: window 10

[2019-04-28 10:07] akallabeth commented on #5366
Xfreerdp or the native mac client? Former requires proper x11 extensions (not sure how awful the mac version is nowadays) the latter does not implement forwarding touch events.

[2019-04-28 10:29] qiandahao commented on #5366
The latter one. Thank you!

[2019-04-28 17:24] Basbei commented on #5235
Hi all!
Do you have some news about this issue?
I'am experiencing exactly the same things - I have a RDS deployment and recently added a NPS (+extension) server in order to allow MFA with Azure MFA. Every works fine when authentication comes from Windows, but as you mentioned, when it comes from Linux (same behavior with IGEL Clients and Ubuntu) the RDP connection is not taking place (receive 2 MF

[2019-04-29 07:20] akallabeth commented on #5365
@easywind project for C# bindings is https://github.com/FreeRDP/FreeRDP-Sharp
but I don't know if anyone is still using that.

[2019-04-29 07:20] #5365 closed

[2019-04-29 07:30] akallabeth commented on #5343
@ElDavoo ok, currently working on some rail related fixes, will result in some pull requests in the weeks to come.

[2019-04-29 07:30] #1949 closed

[2019-04-29 11:26] mnowaksuse commented on #4717
Nope. I still have sporadic disconnects with 2.0.0 RC4 on Hyper-V 2016.

Should this issue be reopened and the label "waiting-feedback" removed?

[2019-04-29 22:03] beimhoff commented on #4717
I sure as heck think so.

[2019-04-30 08:28] hardening commented on #4717
My contact at Microsoft told me that a bug has been fixed in 2016 Server build 1803, guys could you check the versions of your servers ?

[2019-04-30 09:55] ElDavoo commented on #5343
ok, no worries about time, just don't forget about this, thanks
I'd help you if I was a programmer

[2019-04-30 10:15] mnowaksuse commented on #4717
I am on Windows Server 2016 (Long-Term Servicing Channel), version=1607, build=14393.

[2019-04-30 10:17] lemonmojo commented on #4717
Same build as @mnowaksuse here.

[2019-04-30 10:44] huhaosanxiong opened #5367 "How can I transfer the functionality of RDP to my own project?"
How can I transfer the functionality of RDP to my own project? I have tried but too many errors, a lot of dependencies and engineering configuration errors

[2019-04-30 12:07] akallabeth commented on #5367
For questions on usage please use the malinig list or IRC.
https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2019-04-30 12:07] #5367 closed

[2019-04-30 12:15] r-barnett commented on #5360
Should I provide any more information for this?

[2019-04-30 14:49] amratsingh opened #5368 "Failed to register native method 'freerdp_send_unicodekey_event'"
After setting up FreeRDP and executing shell command I was able to generate jni files. Now I trying to run android project (Studio) but app crashes every time when I open it. I think a method named 'freerdp_send_unicodekey_event' creating problem. Logcat have long list of lines but I am posting relevant main error lines here:

[code]

[2019-04-30 16:16] akallabeth commented on #5368
Please do not open issues for support questions. Use the mailing list or irc for such.

(Just tried the current vanilla android client, that one works)

[2019-04-30 16:16] #5368 closed

[2019-04-30 17:02] beimhoff commented on #4717
I'm on 2012R2 RDS (fully patched) - An business critical application (healthcare) requires 2012R2 if you are running their software in a terminal server environment - so updating to 2016+ is not possible at this time.

There is no such thing as "2016 Server build 1803".

https://docs.microsoft.com/en-us/windows-server/get-started/windows-server-release-info

Windows Server 2016 is Version 1607, an

[2019-04-30 17:04] informatimago commented on #5360
Do you get output from the program when running with sanitize options?  If there's a problem it will dump info about it, and exit.

[2019-04-30 17:30] r-barnett commented on #5360
I put the sanitize stuff in a shell script followed by
`make clean`
`cmake -build .`
I didn't see any changes to the output, so I'm guessing I didn't use the options correctly.  Can you indicate how I should use those options?

[2019-04-30 19:34] informatimago commented on #5360
You need to run FreeRDP, until a crash occurs.  -fsanitize puts back run-time checks in the generated executable.

[2019-04-30 20:35] romwriter commented on #4899
I experienced inconsistent behaviour:
With freerdp2-x11 2.0.0-git201810050900, the default is enabled floatbar, switch "-floatbar" disables floatbar.
With freerdp2-x11 2.0.0-git201903080944, the default is disabled floatbar, switch "/floatbar" enables floatbar, and switch "-floatbar" does enable floatbar too.
Switch "-floatbar" should disable floatbar in any version.

[2019-05-01 12:47] aamitgupta opened #5369 "Android Client Crash: Application Crash"
Hi team,
I am running the android client after code setup, application launch and gets crash with following error. we are running on the Mac.

[2019-05-01 12:54] r-barnett commented on #5360
Okay.  I don't notice any difference, but I've attached the debug log output and a gdb backtrace.  This is connecting to a different server than before.
[20190501_sanitized.log](https://github.com/FreeRDP/FreeRDP/files/3134543/20190501_sanitized.log)
[gdb.bt.sanitized.20190501.log](https://github.com/FreeRDP/FreeRDP/files/3134544/gdb.bt.sanitized.20190501.log)

[2019-05-01 18:42] r-barnett commented on #5360
I tried removing the cmake cache and rebuilding this from scratch with the WITH_SANITIZE_*=ON options.  I didn't notice any difference in the output, but I did notice that the output file I captured was missing some stuff--maybe due to buffering.  So, this time I essentially screen scraped the terminal session and have attached that output.
You can see this entry near the end: "cBytes: 0 mszGroups

[2019-05-01 18:47] akallabeth commented on #5369
Looks like the signature registered is wrong.
Client/Android/android_freerdp.c:1148, change to (JIZ)Z

Currently afk, so I'd appreciate someone creating a pull I can merge ;)

[2019-05-01 18:47] stu247 opened #5370 "flashing blocks on screen"
When windows are changing, sometimes FreeRDP will leave around blocks of color that slowly flash.  For example, when a window is maximized.  It appears to be blocks that were valid and never got redrawn when the window changed.  So it flashes back and forth with the old image and new image.  Video of the flashing blocks are at [https://youtu.be/3n9qDb9WAok](url)
The command line is:
xfreerdp /v:ho