[2015-03-25 08:11] chipic commented on #2413
Hello, everyone!
I have the same problem. It seems that "/usb:id,dev:N1:N2" doesn't work. Does anybody know how "/usb:..." should be passed in order to redirect usb device properly?
zhaohb could you tell how you passed "/usb:..." argument while testing webcamera?

[2015-03-25 08:20] chipic commented on #2413
Hello, everyone!
I have the same problem. It seems that "/usb:id,dev:N1:N2" doesn't work. Does anybody know how "/usb:..." should be passed in order to redirect usb device properly?
https://github.com/zhaohb could you tell how you passed "/usb:..." argument while testing webcamera?

[2015-03-25 08:25] zhaohb commented on #2413
insert the webcamera, and exec the command lsusb ,and you will get similar to the following contents:
    Bus 002 Device 002: ID 8087:0024 Intel Corp. Integrated Rate Matching Hub
    Bus 002 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
    Bus 001 Device 004: ID 046d:c077 Logitech, Inc.
    Bus 001 Device 003: ID 04f2:0112 Chicony Electronics Co., Ltd KU-8933 Keyboard with PS/2 Mouse po

[2015-03-25 14:58] greensolid opened #2495 "Does FreeRDP store RDS Per-Device CALs?"
I have the issue that each freerdp client gets multiple per-device CALs issued, although it's the same device with the same MAC, DNS and IP.
If I read the code correctly, freerdp uses the MAC as hardware id, so the only question that remains is, does freerdp also store temporary / permanent RDS CALs?

My source:
http://www.virtualizationadmin.com/articles-tutorials/terminal-services/licensing/term

[2015-03-25 15:59] TaGUNil opened #2496 "USB redirection is broken in master"
Resetting dynamic channel count in commit b621c542c4da5ea3d02043439b86a85c079a4f8e discards all dynamic channels added while parsing command line, such as urbdrc.

[2015-03-25 21:42] biapar commented on #1309
Any news?

[2015-03-26 04:01] llyzs opened #2497 "BIO synchronization issue causing unpected connection drops intermittently"
Currently the BIO read/write methods could be accessed from multiple threads (main thread and virtual channels) simultaneously without protection. Particularly, there is no protection between the SSL_read and SSL_get_error call (and so SSL_write and SSL_get_error), but I am not sure there will be other cases. We have observed cases from time to time, in which SSL_read returned from normal blocking

[2015-03-26 04:02] llyzs commented on #2497
As a minimum solution, I think bio_rdp_tls_read/write must be protected as a whole, but I am not sure if this is actually a more serious design problem. Any input?

[2015-03-26 10:58] TaGUNil commented on #2496
I can't propose a fix, because I don't understand what was the purpose of this change.

[2015-03-26 11:08] akallabeth commented on #2496
@TaGUNil The purpose was to allow reconnecting. Would it be possible to separate command line parsing from actually loading channels?

[2015-03-26 11:10] bmiklautz commented on #2496
@TaGUNil would you add the command line you are using?

[2015-03-26 11:15] bmiklautz commented on #2496
@TaGUNil this is already fixed on master. Please your git branches.

[2015-03-26 11:15] #2496 closed

[2015-03-26 11:17] TaGUNil commented on #2496
@bmiklautz ah, sorry. I'll check again if it is my mistake.

[2015-03-26 11:18] awakecoding commented on #2497
@llyzs read and write should be doable in parallel, but parallel read/read or write/write should not be doable. The original OpenSSL BIOs were unfortunately not compatible with full duplex, as the read and write operations both started with resetting the BIO retry flag. This meant that in certain cases, the read operation would get to test the retry flag as false as in parallel the write operation

[2015-03-26 11:31] TaGUNil commented on #2496
So, it was just reverted in that monstrous OSS commit. And what about the reconnecting?

[2015-03-26 11:46] bmiklautz commented on #2496
@TaGUNil the fix was broken anyway. I think for xfreerdp that shouldn't matter.

[2015-03-26 13:02] llyzs commented on #2497
@awakecoding thanks for the hint, I think I found the real problem on our side. Closing this one for now.

[2015-03-26 13:02] #2497 closed

[2015-03-26 17:24] KenHolloway opened #2499 "Hangs for 90 seconds after "Do you trust the above certificate""
If you answer "N" (either the user enters "N", or input is redirected in a script) to the "Do you trust the above certificate" prompt, FreeRDP hangs for 90 seconds.

Here is the end of the output from
[code]

[code]

[2015-03-26 17:37] shattars3d opened #2500 "Update my older freerdp commit"
hey, i was just wondering if i was working on a older commit of freerdp, and i can update it to the latest master without having over writing my fixes i had for the older freerdp core files..?

is that possible?..

this url link is the comparison of the master and the one i am using..

https://github.com/FreeRDP/FreeRDP/compare/90936e64845195e5bea396ed90c63635cce2f0a3...master

[2015-03-26 20:29] jlafontaine-devolutions commented on #2419
Disabling async channels lets me disconnect successfully again.

[2015-03-27 09:16] superblunt-liu opened #2501 "Compile failed on Xcode 6.2"
In my Xcode 6.2, the SDK folder structure is:
#ls -1 /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/
iPhoneOS.sdk
iPhoneOS8.2.sdk

so in scripts/OpenSSL-DownloadAndBuild.command, the old code:
SIM_SDK=`ls -1 ${SIM_SDK_PATH} | sort -n | head -1`
Can't get the oldest sdk path.

So I suggest to change code to this:
SIM_SDK=`ls -1 ${SIM_SDK_PATH} | sort -n | grep

[2015-03-27 12:13] dscho commented on #709
@rhendric please note that your patch is white-space corrupted: it replaces tabs by spaces.

Aside from that, my use case (VNCing into an Xvnc4 instance and calling FreeRDP inside there, then type something in one of the RDP session windows) seems to be fixed in `master` (my Ubuntu ships only version `1.0.2`, the version that works here is `1.2.1-dev (git aa2181d)`).

[2015-03-27 13:18] bmiklautz commented on #2499
@KenHolloway it seems this is some kind of race condition with the TLS transport (only happens with tls/nla security).

[2015-03-29 21:14] drewer commented on #2413
Hi, today compiled master i386 liburbdrc-client.so does not build

[2015-03-30 08:14] Alysko opened #2504 "If it's possible, please add hi dpi support"
Since RDP 8.1 and with Win7, Win 8 and Server 2012 R2, hi dpi scaling is possible on RDP, which is necessary for full HD display on 13'' or 4K on 27''.
Thanks.

[2015-03-30 18:41] hardening commented on #2399
@octoquad I'm looking at the code and I suspect what's going on

[2015-03-30 19:21] hardening commented on #2399
@octoquad https://github.com/FreeRDP/FreeRDP/issues/2511 should fix your bug

[2015-03-30 20:15] hardening commented on #2425
@diepes is it possible that you would have an exotic keyboard configuration ?

[2015-03-30 20:18] hardening commented on #2464
@jasjitchopra that doesn't look like a FreeRDP bug but more like something you may do on your installation. Have you tried setting values as suggested by the cmake output ?

[2015-03-30 20:19] hardening commented on #2449
@ivan-83 do you get something interesting with valgrind ?

[2015-03-30 20:22] hardening commented on #2451
@docblock I don't see the relation between remoteFx and the 3D benchmark. Could you elaborate ?

[2015-03-30 20:49] hardening commented on #2362
@leadrevolver could you give a try with latest master release please (you may also find some nighly builds around)

[2015-03-30 20:54] hardening commented on #2282
@oblique would give a try with the latest master, @awakecoding did some improvements with TS gateway recently

[2015-03-30 20:56] hardening commented on #2264
@bmiklautz perhaps we should close the issue ?

[2015-03-30 20:59] hardening commented on #2249
If someone has the opportunity to test it would be great to include that patch.

[2015-03-30 21:02] hardening commented on #2218
IIRC you also need to set the preshared secret on the DTLS.
Anyway I'm closing the issue as it's not something about FreeRDP.

[2015-03-30 21:02] #2218 closed

[2015-03-30 21:02] #2229 closed

[2015-03-30 21:07] hardening commented on #2140
@BUGgs any feedback on this one ?

[2015-03-30 21:12] bmiklautz commented on #2249
The top level spec file was removed altogether since it wasn't maintained anymore.
However we do have a spec file we build the nighties from but this doesn't support centos.

[2015-03-30 21:12] #2249 closed

[2015-03-30 21:14] hardening commented on #2119
@urang27 I'd say that you don't have the correct version for ffmpeg headers

[2015-03-30 21:18] bmiklautz commented on #2119
@urang27 how did you install the ffmpeg headers?

[2015-03-30 21:20] bmiklautz commented on #2264
@hardening I kept it open since I thin thought known_hosts could use some improvements like support multiple hosts and/or ports. But we can close this one and create a feature issue.

[2015-03-30 21:22] bmiklautz commented on #2449
I'm not sure but I think this (or a similar) problem was fixed on master recently

[2015-03-30 21:23] bmiklautz commented on #2362
See for nightly builds https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2015-03-30 22:00] nfedera commented on #2451
@docblock please also elaborate on "the session crashes".  Disconnect? Segfault? Any errors printed?

[2015-03-30 22:30] ivan-83 commented on #2449
yes, that fixed

[2015-03-30 23:20] #2449 closed

[2015-03-30 23:22] bmiklautz commented on #2504
@Alysko I'm not exactly sure what you mean? Can you give more details? E.g. what currently doesn't work and what client your are talking about?

[2015-03-31 07:05] oblique commented on #2282
@hardening now I get different error:
[code]

[2015-03-31 13:31] lemonmojo commented on #2282
Looks like I'm suffering from the same issue. The Gateway Server is a Windows 2012 (non-R2!) machine.
Adding ```/gt:rpc``` fixes it for me. Omitting the gateway transport setting or setting it to ```auto``` results in the same output that @oblique is receiving.

[2015-03-31 13:34] awakecoding commented on #2282
@lemonmojo just trying to get a better understand of the issue, this would be specific to an RDP8 (not RDP8.1) gateway in which the RDP8 gateway protocol is selected over the older RPC gateway, and the RDP8 gateway protocol would fail?

[2015-03-31 13:34] bmiklautz commented on #2282
@oblique does adding /gt:rpc as @lemonmojo suggested solve the problem for you as well?

[2015-03-31 13:36] bmiklautz commented on #2425
@diepes could you try if
[code]
leads to the same result? In that case it is possible to provide us with a back trace or similar?

[2015-03-31 13:40] bmiklautz commented on #2172
@mbunkus this should already be fixed on master.
Could you verify that this solves your problem?

Side note: although the old command line interface is available it might not support all new features and arguments for plugins therefore it's recommended to use the new command line interface.

[2015-03-31 13:50] awakecoding commented on #2282
@oblique for the record, those RPC headers in the logs actually correspond to "RPC_IN_DATA" (if you convert the values for the RPC header data structure to raw bytes, then to ASCII). Obviously we're trying to parse the wrong data as an RPC header.

[2015-03-31 13:52] lemonmojo commented on #2421
Just ran the same test using latest master, here's the output:

[code]

[2015-03-31 14:25] lemonmojo commented on #2282
Additional Info:
FreeRDP Debug Log: http://pastebin.com/gDRdeAPM
Gateway Server Log: http://pastebin.com/VgPN4Yrd

Same issues occurrs when trying to connect through a Win2k12 R2 Gateway.

[2015-03-31 16:31] oblique commented on #2282
@bmiklautz if I use `/gt:rpc` I get this:
[code]

Do you need any specific debug logs? I tried `-DWITH_DEBUG_ALL=ON` but in the logs it has some private information. If you need the logs then I will strip/edit that information and post it here.

[2015-03-31 16:38] octoquad commented on #2399
@hardening, thanks. Can you confirm if this also fixes the mao (Maori) layout as well? I didn't see it in the patch. When I get a chance, I'll test your patch and confirm if everything is good.

Thanks for taking the time fix this :)

[2015-03-31 16:52] hardening commented on #2399
Hum it should not crash with Maori, but if you want the "good keyboard" (tm) you may give me the kind of keyboard that is used for maori.

[2015-03-31 16:55] Alysko commented on #2504
All works fine. It's not a bug, it's a feature :) See that http://blogs.msdn.com/b/rds/archive/2013/12/16/resolution-and-scaling-level-updates-in-rdp-8-1.aspx

[2015-03-31 19:17] mbunkus commented on #2172
Currently I cannot test because the Arch Linux maintainer of the krdc package has decided to include a fix that makes krdc use xfreerdp's new command line syntax. The original krdc itself has also received a fix that makes krdc use new/old style command line syntax depending on the version of xfreerdp installed (by parsing the output of `xfreerdp --version`).

I don't have a Linux installation usi

[2015-04-01 08:41] bmiklautz commented on #2172
@mbunkus since my testing didn't show any crash with the command line in this issue I'll close it. In case you can test at some later point and it shows there is still a problem re-open this issue or create a new one.

[2015-04-01 08:41] #2172 closed

[2015-04-01 12:08] ilammy commented on #2424
Well, I have an implementation of file clipping in X11 client somewhere. IIRC, it worked pretty well for me. (Except for some issues with large files.) Because reasons it did not make it to public, but I can try find it and rebase onto current master.

[2015-04-01 13:02] maddeer opened #2514 "crash on usb redirection"
When I`m trying to redirect my video cam to the windows 2012 server 5 of 10 times it crashes on after login
I'm using the last git dump.
# xfreerdp /cert-ignore /f /bpp:32 -sec-nla /kbd:0x00000409 /a:drive,flash,/media /a:smartcard,scard /usb:id,dev:046d:082d /u:user /p:password /v:server

[13:13:01:090] [10182:10183] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[13:13:01:090]

[2015-04-01 14:20] leadrevolver commented on #2362
Thanks for taking notice. I'll test it again soon, I'm experiencing some authentication problems atm.

[2015-04-01 14:26] azhel12 commented on #2424
I think you are speak russian then write russian. If I was wrong, write me
about it, pls. Доброго времени суток. Пишу по поводу Вашего ответа "Well, I
have an implementation of file clipping in X11 client somewhere. IIRC, it
worked pretty well for me. (Except for some issues with large files.)
Because reasons it did not make it to public, but I can try find it and
rebase onto current master."
Посм

[2015-04-01 14:33] bmiklautz commented on #2424
@azhel12 please not that the official language for FreeRDPs issues is English. Thank you.

[2015-04-01 15:35] ilammy commented on #2424
@azhel12, yes, I know Russian, but others here maybe do not, so I am writing in English. Drop me an email if you are more comfortable with Russian.

The file clipping implementation is not anywhere on Github, it was somewhere on my hard drive about  a year ago. I will look for it and keep you (and others) posted.

[2015-04-01 15:43] bmiklautz commented on #2424
@ilammy thanks!

[2015-04-01 16:15] azhel12 commented on #2424
Sorry, I wanted to write only to ilammy. But made a mistake( Ok, my email: azhel12reg@gmail.com

[2015-04-01 23:53] BUGgs commented on #2140
Yes, on ARM device, I still need /gdi:sw to make it work correctly in 24/32 bit... (tested with yesterday master)

[2015-04-02 00:03] ilammy commented on #2424
Duh, it seems that I could not save the code. So this will take some time to get file clipping running on Linux...

Also, I have talked it over with azhel12, and it seems that file clipping is not working in Windows client. (He had Windows client in mind, not X11.) However, #1732 added the support for it and that code has not gone anywhere. @zhangzl2013?

[2015-04-02 06:34] hardening commented on #2140
@BUGgs could you open another issue for your specific ARM bug, and give us more details, and try to put a screenshot so that we can have an idea of the kind of artifact you're experimenting.

[2015-04-02 06:35] hardening commented on #2140
@Alkenso does the changes done by @awakecoding fixed the artfiacts ?

[2015-04-02 13:02] lemonmojo commented on #2282
Just did a git-bisect session regarding this issue, the result is this: 5f375d0a6f3da7a330024ea1bc050eb323ed62a8 is the first bad commit.

[2015-04-02 16:19] elxa commented on #2410
##### GDB backtrace:
[code]

[2015-04-02 16:25] elxa commented on #2410
##### output of WLOG_LEVEL=DEBUG

https://gist.github.com/anonymous/e7f590a7f487cec9f310+

This still happens with master ( 121ea2359550388b34bc36047eb404f90e504737 ) and works without issues with (x)freerdp 1.0.2 .

[2015-04-03 07:36] macarthor commented on #2464
you should install "development" package for each software you are missing. if you are on ubuntu, you should try: sudo apt-get install libglib2.0-dev libasound2-dev libpulse-dev. NOTE: what i am typing may not be exact the software name, use TAB key in apt-get to get the correct package name.

PS: better read the freerdp wiki before you build your own version of freerdp :)

[2015-04-03 08:14] macarthor opened #2515 "linux xfreerdp - file system redirection - hidden directory"
hi all,

i use 1.1-stable branch freerdp on ubuntu x86 14.04.

say, i have a hidden directory in ubuntu, "/home/user/.testdir" which contains non-hidden file "1.txt" and non-hidden directory "aaadir".

when i use: sudo xfreerdp /drive:somedir:/home/user, and i can see, in windows 7 rdp host, a non-hidden directory ".testdir" which contains hidden file "1.txt" and hidden directory "aaadir".

so, it

[2015-04-03 08:17] macarthor commented on #2515
direction of hidden property may lead to users' misunderstanding: if he uses a usb disk which is formatted as FAT32 or NTFS, and directs it to remote windows vm, there should not be hidden for files/directories starting with ".".

what about use different strategies for different file systems? say, FAT32/NTFS v.s. EXT2/3/4, etc.

[2015-04-03 10:04] bmiklautz commented on #2500
@shattars3d I would recommend to read some howto or book on git.
Depending on what you want todo you can either just merge the latest master changes ore rebase your changes onto master. In both cases if there a conflicting changes you need to resolve the conflict.

If you need help join our irc channel or send a mail to the mailing list but pleas don't use the issue tracker as help forum.

[2015-04-03 10:04] #2500 closed

[2015-04-04 19:37] interator opened #2518 "Can't compile on xCode6.1"
After running the following comand:
cmake -DCMAKE_TOOLCHAIN_FILE=cmake/iOSToolchain.cmake -GXcode
I was able to create the xCode project file, but can't compile the project.
I have about 60 errors, most of them because of unsupported architecture.
WhT Should i define in the Build setting architecture, valid architecture, and active architecture?

[2015-04-05 18:45] bmiklautz commented on #2518
@interator for iOS currently only i386 and arm are supported properly. Are you using one of those and what are the errors you are getting?

[2015-04-05 23:13] czo opened #2520 "Problems under Mac OS X 10.5.8 Leopard/PPC (inverted colors without NLA, transport failed with NLA)"
Hi,

Fresh compilation from current master with OS X Leopard 10.5.8 fails to connect to my Windows 7 box.

When non NLA clients allowed, colors seems to be inverted (screenshot: homokozo.czo.hu/xfreerdp.png ). Googled around it, and fount this message: http://sourceforge.net/p/freerdp/mailman/message/29015196/ , but i can't find the patch. It's merged?

When NLA is requred, i can't connect because

[2015-04-06 12:48] DejavuDmitry commented on #2515
I have the same question. Can I hide in MS Windows my hidden files and folders with dot symbol at the beginning?

[2015-04-06 13:44] DejavuDmitry opened #2521 "Illegal Instruction"
On one my system, I found this bug:

[code]

I use the script to run:
[code]

[code]

[code]

And I can't connect at all.

[2015-04-06 16:20] rnubis commented on #1549
On other system same, but for x86 fullscreen start work after use  -DWITH_X11=ON -DWITH_XINERAMA=ON .

[2015-04-06 18:09] interator commented on #2518
My Errors:
CompileC /Users/asafinterator/desktop/FreeRDP-master/channels/cliprdr/client/FreeRDP.build/Debug-iphonesimulator/cliprdr-client.build/Objects-normal/i386/cliprdr_format.o channels/cliprdr/client/cliprdr_format.c normal i386 c com.apple.compilers.llvm.clang.1_0.compiler
    cd /Users/asafinterator/Desktop/FreeRDP-master
    export LANG=en_US.US-ASCII
    export PATH="/Applications/Xcode.

[2015-04-07 01:00] macarthor commented on #2515
@DejavuDmitry windows does not take file/dir starting with dot as hidden, it stores hidden property in file property, i.e. in FAT.

on the contrary, linux does not store hidden property in file inode, but just see if it starts with dot.

[2015-04-07 06:45] believeyourself commented on #1060
@macarthor Hi. I followed all the steps you have mentioned for setting up xfreerdp-server in linux. However at last I am unable to start the server by using the command  xfreerdp-server . I am getting command not found.

[2015-04-07 07:06] believeyourself opened #2523 "Wsgate not starting"
I was trying to install freerdp-webconnect in ubuntu 12.04 following the link http://www.freerdp.net/download.html. Atlast when I have tried to start the wsgate daemon by using sudo /etc/init.d/wsgate start , the command executes with no errors. But when i check the wsgate status , it was showing wsgate not running.

[2015-04-07 07:29] igyo commented on #2410
I have the same problem ( This is FreeRDP version 1.2.1-dev (git 121ea23) )

[2015-04-07 08:40] bmiklautz commented on #2523
@believeyourself this is the wrong place for this issue please add this issue to the webconnect issue tracker: https://github.com/FreeRDP/FreeRDP-WebConnect/issues

[2015-04-07 08:40] #2523 closed

[2015-04-07 08:53] bmiklautz commented on #2520
@czo what version of FreeRDP dis you try with?

[2015-04-07 10:07] bmiklautz commented on #2521
@DejavuDmitry I think this problem is already fixed on master (with FreeRDP/FreeRDP#2516) could you verify?

[2015-04-07 16:44] stefanbaur opened #2524 "Smartcard forwarding: wrong string passed to server"
Situation: Trying to forward a smartcard plugged into a REINER SCT cyberJack e-com USB smartcard reader to a Windows 8.1 machine.

xfreerdp from Debian Jessie - which is Version 1.1.0.-beta1 - works, if I specify /smartcard:cyberJack as parameter.  If I try the same with the latest xfreerdp from the nightly builds (1.2.1-dev), strange things happen.

With the Version from Debian Jessie, if I start

[2015-04-08 10:26] DejavuDmitry commented on #2521
By compiling from sources?
git clone git://github.com/FreeRDP/FreeRDP.git ?
Or in the other way?

[2015-04-08 10:35] czo commented on #2520
1.2.0-beta1+android9 from releases. Current master also has this problem, checked it five minutes ago.

current master:
tornado:~ czo$ xfreerdp /version
This is FreeRDP version 1.2.1-dev (git 879ed36)

previous compilation from 1.2.0-beta1+android9
tornado:~ czo$ xfreerdp.old /version
This is FreeRDP version 1.2.1-dev (git n/a)

If u need, i can provide any logs.

[2015-04-08 13:32] bmiklautz commented on #2521
@DejavuDmitry yes either by compiling master from source or if you prefer by testing with the nightly packages (if available for your distribution) - https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

Thanks

[2015-04-08 14:26] jaapp commented on #1546
@bmiklautz - Over the last weeks I tried to produce the same artifact in various other tools (Microsoft Word, Chrome, Firefox). None of them show the black bar. So the issue seems to be specific to SQL Server Management Studio.

[2015-04-08 14:57] Rainmaker52 opened #2525 "RemoteApp causes "double free or corruption (fasttop)" crash"
I have installed freerdp 1.2.1+0~20150408014830.88~1.gbp35892c on Ubuntu 15.04 b2, and am trying to get RemoteApp to work. However, when a menu is opened, the freerdp session crashes with:
*** Error in `./xfreerdp': double free or corruption (fasttop): 0x00007f16340a3140 ***

(the reason I'm using nightly is that the version my distribution comes with, has some serious problems with mouse position

[2015-04-08 15:08] AMV007 opened #2526 "question about submit patch"
found buffer overflow error in freerdp, fixed it, how submit it as patch ?

[2015-04-08 15:11] czo commented on #2520
I forgot the arch, i'm trying it on my old PowerPC based notebook.

[2015-04-08 16:15] bmiklautz commented on #2520
@czo ah ok. Then my guess would be that it is a problem with byte order.
I'm not sure if anyone tested on PowerPC :(.

[2015-04-08 16:17] bmiklautz commented on #2526
Our preferred way is a pull request on github. But if you prefer you can also sent it as email.

[2015-04-08 16:17] #2526 closed

[2015-04-08 16:19] bmiklautz commented on #1546
@jaapp what version of the SQL server management studio did you test with?

[2015-04-08 16:51] KenHolloway commented on #2499
Works great. Thanks!

[2015-04-08 16:51] #2499 closed

[2015-04-08 16:56] KenHolloway commented on #2318
In case anyone else is trying to do this:

1) Convert the .crt certificate into a .pem certificate, and store in the certs directory:
[code]
2) Create the hash of the certificate:
[code]

It may be useful to use strace to see what certificate file(s) FreeRDP is trying to open:
[code]

[2015-04-08 16:56] #2318 closed

[2015-04-08 16:58] WarheadsSE commented on #2318
As a heads up, I did fix this in master. Wildcard certs, cert chains, and fqdn case-insensitive.

[2015-04-08 18:28] czo commented on #2520
That was my first thought when i first see the color inversion. Login with enabled Network Level Auth is caused by byte ordering, or it's seems to another problem?

[2015-04-08 20:25] octoquad commented on #2399
Works fine. Thanks :)

[2015-04-09 07:11] DejavuDmitry commented on #2521
[code]

[2015-04-09 08:04] believeyourself opened #2528 "Problem starting xfreerdp-server"
I was trying to compile freerdp as a server by building
cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON -DWITH_SERVER=ON.
But I am able to start up the server with command xfreerdp-server. Its showing command not found.
I have also followed two links. http://askubuntu.com/questions/475776/can-freerdp-be-used-as-server
and https://github.com/FreeRDP/FreeRDP/issues/1060 . But neither works.

[2015-04-09 08:25] hardening commented on #2528
@believeyourself  please inquiry a little before posting issues. If it's a "command not found" error it's because the binary (pick one or more item):

* hasn't been compiled;
* hasn't been installed;
* is installed in a location that is not not in your PATH;

Anyway the issue tracker is not the place for so basic help requests, you have IRC or the mailing list for this.

[2015-04-09 08:25] #2528 closed

[2015-04-09 10:51] StephanKrieger commented on #2389
@eledoux I just testet it with the master branch.
As i know i get it from "git://github.com/FreeRDP/FreeRDP.git"... is that right?

With this branch the error still occurs.

Do you have some new informations towards it?

[2015-04-09 12:22] jaapp commented on #1546
@bmiklautz SQL Server 2008R2

I believe it's present in visual studio 2008 SP1 and onwards due to the adding of the 'Live Semantic Error'-feature. I get the same black line when I create a vb.net application and add some errors in my code.

[2015-04-09 14:05] lschoepps commented on #1972
Hi,
I have the same issue, I'm running FreeRDP over a VPN and with the last master build I keep receiving `Network disconnect!` error but there is no problem with the stable 1.1 build.
I tried to comment the keep_alive ifdefs (by removing only some of them or all of them) but to no avail.
What should I do to fix this issue in the master build ?

[2015-04-09 15:13] DejavuDmitry opened #2529 "Dotted Text Selection Mouse Cursor new one bug"
I found an interesting bug with mouse cursor:
[code]
![2015-04-09-175625_1920x1080_scrot](https://cloud.githubusercontent.com/assets/9697445/7069860/dcf95512-dee3-11e4-9689-98c3bf5ea217.png)

![2015-04-09-175605_1920x1080_scrot](https://cloud.githubusercontent.com/assets/9697445/7069865/e46e3448-dee3-11e4-9a8c-10cc5403b61c.png)

![2015-04-09-175529_1920x1080_scrot](https://cloud.githubusercontent.

[2015-04-09 15:39] cgholam commented on #2529
Le 9 avr. 2015 15:13, "Dmitry" <notifications@github.com> a écrit :

[2015-04-09 21:16] hardening commented on #2399
@octoquad but do you get the correct keyboard, I mean do you have the right keys ?

[2015-04-09 22:22] octoquad commented on #2399
I can't confirm mao, but I will check za. I was confirming that the xfreedrp doesn't crash on any command provided with XKB_LAYOUT set to za, which is what was happening before this fix. ZA and US layouts are pretty similar.

[2015-04-09 22:42] cgholam commented on #2399
Mchrfin
Le 9 avr. 2015 22:22, "Bruce Pieterse" <notifications@github.com> a écrit :

[2015-04-10 10:12] bmiklautz commented on #2399
@cgholam what do you mean with "Mchrfin" ?

[2015-04-10 10:14] bmiklautz commented on #1972
@lschoepps just to make sure your VPN is still running and functional when you get the "Network disconnect"?

[2015-04-10 10:16] bmiklautz commented on #1546
@jaapp can you add the command line you are using and the RDP sever OS you are connecting to?

[2015-04-10 10:17] bmiklautz commented on #2529
@cgholam I start wondering what you are doing? - A lot of issues do have an empty reply of yours. Pleas stop that.

[2015-04-10 10:21] bmiklautz commented on #2520
@czo not sure about NLA but it's possible that this is caused by some byte order problem as well.

[2015-04-10 11:14] lschoepps commented on #1972
Yes, it's still functional since I can stay connected with the stable 1.1 build while I receive "Network disconnect" by running the master build.

[2015-04-10 12:53] cgholam commented on #1972
Le 10 avr. 2015 10:15, "Bernhard Miklautz" <notifications@github.com> a
écrit :

[2015-04-10 16:54] bmiklautz commented on #1972
@cgholam pleas stop adding empty comments in our issues!

[2015-04-10 18:37] cgholam commented on #1972
بتاريخ Apr 10, 2015 4:54 PM، كتبها "Bernhard Miklautz" <
notifications@github.com>:

[2015-04-10 21:43] StephanKrieger commented on #2389
@eledoux For your Information: I have made to more tests today.

First Test: I send every 250ms a command over the com-port and get an answer from the weighing device. So i have no continous sending of data. Result: Same Error

Second Test: One of our software engineer wrote me a little programm. With this pogramm the following procedure is given: Open the com-port --> get data from the weighing d

[2015-04-10 23:15] cgholam commented on #2399
Orido.zawj
بتاريخ Apr 10, 2015 10:12 AM، كتبها "Bernhard Miklautz" <
notifications@github.com>:

[2015-04-11 11:38] mateusmzw opened #2533 "Press "/" (numeric keypad) and appear ";""
I found a bug, when you press "/" (numeric keypad) and appear ";". Tested in more than one version of Windows. Language: PT-BR.

[2015-04-11 13:38] rmarchei commented on #2421
Same problem here with the latest master. Tested with Hyper-V Server 2012 R2

[2015-04-11 20:58] bmiklautz commented on #2533
@mateusmzw can you provide more details? - It would be interesting what version of FreeRDP you are using

[2015-04-12 00:22] mateusmzw commented on #2533
Version 1.0.1 - Ubuntu 12.04
Version 1.0.2 - Ubuntu 14.04

Tested in more than one version of freerdp and windows, but the problem continues.

[2015-04-12 11:51] ferasd opened #2534 "keyboard events for capital letters"
hey,
what is the right way to send capital letters using  SendInputKeyboardEvent ?? is there any build in mechanism for doing that ??
each rdp scan code is 8 bit while the input code of the function is uint32_t .
is there any prefix that should be added to the higher bits in order to identify capital letters , or i have to send manually shift key before sending the rdp scan code .

thanks

[2015-04-13 09:04] lemonmojo commented on #2282
It seems like NLA is the problem here. I can connect just fine to any machine behind the gateway as long as the machine does not require NLA and I do /sec:rdp.
Undoing the changes of 5f375d0 in the current master fixes the problem.

[2015-04-13 09:40] oblique commented on #2282
I confirm this. I just revert 5f375d0 and now I'm able to connect!

[2015-04-13 09:52] lemonmojo commented on #2282
Unfortunately, it seems this only fixes connections through Win2k12 R2 or newer Gateways.
There seems to be another issue with Win2k8 R2 Gateways but it looks like this isn't related to NLA since allowing basic RDP security and adding /sec:rdp to the xfreerdp arguments doesn't fix the issue in this case.

git bisect revealed that for this issue, baab23fd14fa346733537ad18cdc366ace679da3 is the firs

[2015-04-13 10:09] Drakfot commented on #2282
+1 on this. I've encountered it through an application that utilises FreeRDP.

[2015-04-13 13:04] huangjunsong commented on #1192
@yglaas I got the same problem as your's.Can you tell me how to change the header search path?

[2015-04-13 13:29] huangjunsong opened #2536 "I got some compiles problem!"
When I compile the iFreeRDP.xcodeproj,I got about 156 errors.
What's the problem with it?
There are the problems:
Ld iFreeRDP.build/Debug-iphoneos/iFreeRDP.build/Objects-normal/armv7s/iFreeRDP normal armv7s
    cd /Users/Programer/Desktop/FreeRDP-master/client/iOS
    export IPHONEOS_DEPLOYMENT_TARGET=4.3
    export PATH="/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Devel

[2015-04-13 13:37] huangjunsong commented on #2536
I use README.ios compilation, I do not understand why I compiled unsuccessful, how did you do that. If it is not a bug, please help me see where I have a problem.
But it looks like the updated version of the result of a bug.

I is the Macbook, OS X 10.10.2, Xcode 6.2, sdk 8.2.

[2015-04-13 13:41] huangjunsong commented on #2536
This is really strange, I think it should be the individual machine environmental issues, but this bothers me a long time, have any good suggestions?

[2015-04-13 17:22] chrisdavis925 commented on #2421
Can anyone shine some light as to what/when it can be built with working vmconnect feature?

[2015-04-14 06:09] huangjunsong commented on #2536
Finaly，I've solve this problem.I just retry this command :./scripts/OpenSSL-DownloadAndBuild.command.But I've change the USER_OS_SDK=""
USER_SIM_SDK="" to USER_OS_SDK="iPhoneOS8.2.sdk"
USER_SIM_SDK=“iPhoneSimulator8.2.sdk".
And then cmake.It's worked well.

[2015-04-14 09:23] #2536 closed

[2015-04-14 14:22] dbungert commented on #2282
A pair of fixes for Gateway over RPC were merged today.  Give master a try.

[2015-04-14 14:23] dbungert commented on #2431
A pair of fixes for Gateway over RPC were merged today. Give master a try.

[2015-04-14 14:52] lemonmojo commented on #2282
@dbungert That's definitely an improvement!

Out of the box, I can now connect through a Windows Server 2008 R2 GW.
While connecting through Windows Server 2012 R2 and Windows Server 10 TP GW still require reverting the changes introduced in 5f375d0.

[2015-04-14 17:17] nalimilan commented on #2431
From a quick test, I still get the same disconnection. :-/

[2015-04-14 18:20] sonicflare opened #2540 "RemoteApp - Menus are black"
![remoteapp](https://cloud.githubusercontent.com/assets/7475460/7144007/4f4509f8-e2eb-11e4-994a-b133179a3840.png)

`xfreerdp /u:Administrator /p:password /app:"||notepad" /v:192.168.122.172`

### Version
`This is FreeRDP version 1.2.1-dev (git n/a)`

### System
`Linux 3.16.0-34-generic #45-Ubuntu SMP Mon Mar 23 17:21:27 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`
Ubuntu 14.10 on Unity
### Remote
Wind

[2015-04-14 18:44] sonicflare commented on #2525
Same issue on Ubuntu 14.10 with this build
http://pub.freerdp.com/repositories/deb/utopic/pool/main/f/freerdp-nightly/freerdp-nightly_1.2.1%2b0~20150414014834.90~1.gbp1487de_amd64.deb

[code]

[2015-04-15 08:45] gojensen opened #2542 "Error connecting to RemoteApp through Remote Desktop Gateway (0x2000D)"
I've been trying to get this thing working since I found a site (http://ifconfig.dk/freerdp/) claiming that FreeRDP is the ONLY solution to connect to our RemoteApps through our RDGateway.

Servers: Windows Server 2012R2, 1 broker, 1 gateway/RDWeb and 2 session hosts
Client: running Xfreerdp 1.2.1-dev (git n/a) on Ubuntu Desktop 14.04.1 LTS (kernel 3.16.0-34) xfreerdp binary downloaded from the ni

[2015-04-15 14:58] dbungert commented on #2542
I see that you're running from git, but I literally just pushed a fix that looks relevant, so make sure you're running 4e1194c53bb18868a642ba0b655e1e6950537e84 or later.

[2015-04-15 15:22] realjiangms opened #2543 "Re-enable jpeg support in xfreerdp"
We used to have jpeg codec supported in xfreerdp before commit c71e4e18a194819684287d11288f1c2abececc39. However it is removed in 7130b7064e790290feef63b63bae704da010dd8c, the reason maybe it was broken.
Since we still have jpeg codec supported in libfreerdp,maybe it's better to re-enable jpeg support.

[2015-04-16 06:41] diwu1989 opened #2545 "macports cmake failure"
On the latest version of macports, freerdp fails to compile because of cmake errors.

This is the cmake log: http://hastebin.com/kucobecepa.md

[2015-04-16 08:37] bmiklautz commented on #2545
@diwu1989 what version of FreeRDP are you trying to build and what cmake version are you using?

[2015-04-16 08:40] bmiklautz commented on #2545
@diwu1989 what exactly is the error you get? The cmake log doesn't say much.

[2015-04-16 15:57] diwu1989 commented on #2545
FreeRDP version is FreeRDP-1.1.0-beta+2013071101
Cmake is version 3.2.1

This is the error log from cmake:
http://hastebin.com/wexoyeseru.md

This is the actual command that failed:
[code]

This is a section of the macports log that shows the failure:
[code]

[2015-04-16 16:06] bmiklautz commented on #2545
@diwu1989 the problem you are reporting is related to builds with cmake >= 3.0. This is fixed on master and stable-1.1 with commit (1b663ceffe51008af7ae9749e5b7999b2f7d6698 and b06549289081e73f92ef3fab593237340e9677aa respectively).

[2015-04-16 16:06] #2545 closed

[2015-04-16 17:47] southmeadows commented on #2228
Is there a synopsis of how to make this work on Mac Yosemite? I followed this whole thread (got lost a couple times) but still get the same error that started this trhread.

[2015-04-17 08:05] SekharSamala opened #2548 "How to setup wfreerdp-server.exe properly?"
We want to setup wfreerdp-server on windows7 64 bit, we have followed blogs,document and did following procedure to setup wfreerdp-server on windows7 .

Setup :
1. windows 7 64 bit.

Compilation:
1. get code -    git clone git://github.com/FreeRDP/FreeRDP.git
2. cmake . -G"Visual Studio 11 Win64" -DMONOLITHIC_BUILD=ON  -Tv110_xp -DMSVC_RUNTIME=static -DWITH_SSE2=ON -DWITH_SERVER=ON -DOPENSSL_ROOT_

[2015-04-17 08:12] SekharSamala commented on #2548
Sorry there is typo in testing section:
1. From another windows7 64 bit machine launched mstsc with "<servername>:8080".

[2015-04-17 09:24] bmiklautz commented on #2228
@southmeadows what's your exact problem? Usually building on Yosemite for OS X is rather straight forward.

[2015-04-17 11:48] e-gaulue opened #2549 "Freeze with cell selection in LibreOffice Calc if RFX enable or in fullscreen mode"
When connecting to the server with rfx enable. Rfx is well enable (seen in the event logger) and video on youtube are good. But, as soon as I try to select cells under the bottom (or right) edge in LibreOffice Calc, the system goes in a never ending loop trying to get all the cells under (or on the right). This freeze the client machine X session as much as the only solution is to change of tty in

[2015-04-17 12:28] southmeadows commented on #2228
I have the exact same error as the person above did at the start of this thread. The instructions for installation and not exactly clear (ok maybe I am dense) as to what parts I need to run. I tried to guess. But either way I still get the error above. I tried going back to cmake 2.8 and that didnt make any difference.

[2015-04-17 13:24] bmiklautz commented on #2228
@southmeadows the initial problem here was a cmake problem with version >= 3.0 (REMOVE_DUPLICATES). This was already fixed upstream. The other (unrelated) problems reported in this issue are local setup problems imho.
If you have installed cmake, XQuartz, XCode and the command line utils you should only need todo the following to get FreeRDP build on OS X:
[code]
If you have any problems with this

[2015-04-17 13:58] southmeadows commented on #2228
Different error now... opening a new issue. thanks for the help

[2015-04-17 14:01] southmeadows opened #2550 "was built for x86_64 which is not the architecture being linked (i386)"
Not sure where to go next on this. Below is the start of the Link process. Ending up in a failure at the end.
Not sure what to change?

Linking C executable ../xfreerdp
ld: warning: ld: warning: ld: warning: ignoring file /opt/local/lib/libXinerama.dylib, file was built for x86_64 which is not the architecture being linked (i386): /opt/local/lib/libXinerama.dylibld: warning: ignoring file /opt/loc

[2015-04-17 14:21] bmiklautz commented on #2550
@southmeadows this is OS X Yosemite?

[2015-04-17 14:23] southmeadows commented on #2550
Yes Yosemite.  I was trying everything to make this work before I posted here so who knows what I might have messed up

[2015-04-17 14:26] bmiklautz commented on #2550
@southmeadows I wonder why you are building for i386? - What hardware are you on?

[2015-04-17 14:28] southmeadows commented on #2550
Macbook pro. I was wondering the same thing. Arent those libraries part the the X11?  I didnt compile xquartz.... I downloaded a preset pkg that installed itself

[2015-04-17 14:31] bmiklautz commented on #2550
Yes those are usually part of Xquartz. But if I interpret your error message right you are building for i386 and the linker complains that the libraries you are linking against are x86_64. So for me it seems there is either something wrong with your build or with your setup ;(.

[2015-04-17 14:32] bmiklautz commented on #2550
@southmeadows just a side note I build several times a week on Yosemite without any problems.

[2015-04-17 14:33] bmiklautz commented on #2550
@southmeadows can you add the build procedure you were using?

[2015-04-17 14:35] southmeadows commented on #2550
I copied the exact sequence you gave me in the other issue

[2015-04-17 14:35] southmeadows commented on #2550
cmake -DWITH_X11=ON
maybe elimimate the X11?

[2015-04-17 14:37] bmiklautz commented on #2550
@southmeadows that's really odd. What does uname -a say on your machine?
You can build without X11 if you plan to use the native mac client (which unfortunately isn't so advanced as the X11 client).

[2015-04-17 14:38] southmeadows commented on #2550
what other parmameters should I have with cmake? by itself it doesnt work

[2015-04-17 14:39] southmeadows commented on #2550
14.1.0 Darwin Kernel Version 14.1.0: Thu Feb 26 19:26:47 PST 2015; root:xnu-2782.10.73~1/RELEASE_X86_64 x86_64

[2015-04-17 14:44] southmeadows commented on #2550
cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON .
I just redid cmake and then did make and that didnt help...

[2015-04-17 15:20] southmeadows commented on #2550
seems to me some of the libraries that are X are compile somehow for 386. I probably did that with the many things I did to try and make this work.  The question now is how do I reinstall the proper versions for X libraries

[2015-04-17 15:22] southmeadows commented on #2550
Or maybe I am confused even more... which of these are wrong? Maybe I am backwards. the X is correct and is x64 but whatever we are compiling (FreeRDP) is being compiled for 386.  So why would that be?

ld: warning: ignoring file /opt/local/lib/libXext.dylib, file was built for x86_64 which is not the architecture being linked (i386): /opt/local/lib/libXext.dylib

[2015-04-17 15:31] southmeadows commented on #2550
Getting further, just wild guessing. I ran this cmake and then make. still error. Is there a way I can just get the binary?

cmake -D "CMAKE_OSX_ARCHITECTURES:STRING=x86_64" .

make error at the end:

Linking C executable ../xfreerdp
Undefined symbols for architecture x86_64:
  "_ERR_remove_thread_state", referenced from:
      _winpr_CleanupSSL in libwinpr.a(ssl.c.o)
ld: symbol(s) not found for a

[2015-04-17 15:38] WarheadsSE commented on #2471
Videos are not played with GL/GLES anyways. Your best bet is a proper gst backend for freerdp to pass the video to.

[2015-04-17 16:08] southmeadows opened #2551 "Error: No available formula for freerdp"
brew install freerdp
Error: No available formula for freerdp

does not work.

[2015-04-17 16:18] southmeadows commented on #2550
this works. you need the path I guess:
brew install homebrew/x11/freerdp

this says its already linked: Note you do not need the sudo as mentioned on the install page
brew link freerdp

However, all done... now how to I run it? LOL

[2015-04-17 20:39] chrisdavis925 commented on #2431
I can confirm that the disconnection is still present after x amount minutes. . :(

Any idea how to resolve/fix?

[2015-04-17 22:24] diwu1989 commented on #2545
Ah cool, great, thank you

[2015-04-20 07:34] SekharSamala commented on #2548
Please provide any update  on this issue. Any help would be highly appreciated.

[2015-04-20 09:09] bmiklautz commented on #2550
@southmeadows simple form xfreerdp /v:yourrdphost. First run will launch XQuarz and might take a little.

[2015-04-20 09:09] #2550 closed

[2015-04-20 10:02] bmiklautz commented on #2551
@southmeadows works for me (tm). But this is not really a FreeRDP issue we can do something about. If you having problems with brew please report this in the homebrew issue tracker. Thank you.

[2015-04-20 10:02] #2551 closed

[2015-04-20 10:08] bmiklautz commented on #2551
@southmeadows just to make sure you have activated the homebrew/x11 tap?

[2015-04-20 18:11] chrisdavis925 commented on #2431
Just to provide more info: I built master this morning and connected to a 2012 R2 VDI host which has a pool of Windows 7 VMs. Windows 7 VMs are using RDP 8.

Command used to connect:

Log from a session that dissconnected after a few minutes:
 xfreerdp /v:SERVER-HYPERV /u:Administrator /p:password /d:domain.local /g:remote.domain.com /cert-ignore /load-balance-info:tsv://VMResource.1.test /gt:rpc

[2015-04-21 04:37] chrisdavis925 commented on #2282
@lemonmojo  do you get disconnects after a few minutes when using gateway redirection? I am curious if it's just specific to all instances of 2012 R2.

[2015-04-21 08:23] lemonmojo commented on #2282
@chrisdavis925 Just connected to one of my machines through a Win2k12 R2 gateway around 15 minutes ago and the session is still alive. Are you sure you're not running into some session idle timeout on the server?

[2015-04-21 08:27] caramorsimon commented on #1309
@biapar - I am just embarking on fixing licensing issues preventing full use of my load balanced farms.
Which platform were you interesting in getting resolved? AFAIK, win2008r2 will be ok based on the May 2014 master + PR #1841
I am just about to pick up the codebase again to see whether I can get USB smartcard passthrough  working this time [previously it was unusable with my combo of pcsc-lite,

[2015-04-21 09:05] biapar commented on #1309
Hi,

I'm using win2003 RDP Farm with session directory.
I tried with rdesktop package and works.

[2015-04-21 11:30] danatela opened #2561 "Foreground window leaves trace on background window"
I have made a [small video](http://www.youtube.com/watch?v=26kHBTo2Ogg) that demonstrates what's wrong.

As you can see, I had success in getting my RemoteApp window to work on Ubuntu Linux desktop. You can find instructions here: https://bmullan.wordpress.com/2012/09/17/howto-integrate-windows-apps-into-the-ubuntu-linux-desktop-using-windows-remoteapp/

As far, I have noticed several expectable g

[2015-04-21 15:59] chrisdavis925 commented on #2282
Was that a destination machine with windows 7 and RDP8?

When I used your command structure from your above log post built from the latest master, I cannot connect to my VMs behind a 2012R2 gateway. After some testing, I found that my connection fails if I supply the /gu /gp /gd;. If I do NOT supply that information AND I use /gt:rpc, the connection works - but it disconnects after a few minutes.

[2015-04-21 17:52] chrisdavis925 commented on #1309
@caramorsimon if you are looking for feedback, I can report that connecting to a farm from a broker in 2012R2 is still having problems. I can get the connection to work, but it disconnects after sometime. Usually the session will work for a few minutes before the disconnect.

Error is: Failed to check FreeRDP file descriptor"

[2015-04-21 17:53] chrisdavis925 commented on #2282
Just FYI - reverting back ti 5f375d0 still has the same problems for me. Session disconnects after a few minutes. I am curious why you don't also have this problem @lemonmojo

[2015-04-21 17:58] chrisdavis925 commented on #2431
Just to provide another update/insight:

-Connection will fail to my 2012R2 server environment through a gateway brokered to VMs on a hyperV host if you supply the /gu /gp /gd flags. Even though they are the same as the login credentials. I would think it should still connect if you provide these details, but it fails. It works if you don't provide the /gu details, but the session will disconnect

[2015-04-21 20:06] psumbera opened #2563 "freerdp-shadow on Solaris and cursor keys issue"
freerdp-shadow on Solaris (latest dev). When connection to it from another Solaris or Ubuntu Linux (both also dev builds) cursor keys doesn't work...

When I tried older rdesktop binary bundled with Solaris then cursor keys are working (but only part of screen is shown).

Please help how to debug or where shall I look in source code...

[2015-04-22 08:34] BenGant opened #2565 "Graphical Artifacts"
I've try to use xfreerdp client. Everything is fine, but youtube has graphical artifacts. I've tried to disable bitmap-cache, change bpp, and result was the same. Artifacts  disappears only when I use bpp 8. The original Windows Remote Desktop has the same artifacts. How can I fix this issue?
![print](https://cloud.githubusercontent.com/assets/10243371/7270214/1ad09a68-e8e3-11e4-94ab-919990037703.

[2015-04-22 08:36] bmiklautz commented on #2563
@xsumbe00 we don't do any build/function testing on Solaris. For cursor handling it seems that the xfixes extension is required. Have a look at server/shadow/X11/x11_shadow.c around line 402.

[2015-04-22 08:37] bmiklautz commented on #2565
@BenGant what server are you connecting to and what command line parameters did you use with xfreerdp?

Usually when mstsc has the same artifacts it's not an FreeRDP issue.

[2015-04-22 08:46] BenGant commented on #2565
I used:  ./client/X11/xfreerdp /u:login /p:password /sec:rdp /v:remote /w:1024 /h:768 /port:3389 +clipboard -bitmap-cache -offscreen-cache -glyph-cache -decorations.
Server is Windows Server 2008 R2.

[2015-04-22 09:32] xsumbe00 commented on #2563
I meant cursor keys (plus del, home, end, ..). Not mouse pointer.... Any pointer for that?

[2015-04-22 09:43] bmiklautz commented on #2563
@xsumbe00 ahh sorry. I just read cursor ;). That's possibly just a missing/wrong key mapping. You can might want to start looking at server/shadow/X11/x11_shadow.c line 222 function x11_shadow_input_keyboard_event.

[2015-04-22 10:37] diepes commented on #2425
I used xfreerdp now, and it  is working fine.

$ xfreerdp /version
This is FreeRDP version 1.2.1-dev (git 1fd5508)

[2015-04-22 10:37] #2425 closed

[2015-04-22 12:15] xsumbe00 commented on #2563
Thank you! I have working cursor UP key with following:
if (keycode == 111) keycode= 80;
In x11_shadow_input_keyboard_event(). Not sure why it's different than in Linux... And where to put the mapping...

[2015-04-22 12:24] SekharSamala commented on #1893
In latest stable branch , we are also seeing the same issues. have you figured out the cause . Please share any thing you know about fixing this issue.

[2015-04-22 17:21] edgar-silva opened #2567 "Dropdown not working"
![snapshot1](https://cloud.githubusercontent.com/assets/7161594/7280519/313da3b2-e91b-11e4-8063-7a89f0446a83.png)

The drop down appears and disappears after pressed like in this video
https://www.youtube.com/watch?v=pqmVvfAheqk

Need help please,
Thnks!

[2015-04-22 21:25] dbungert commented on #2431
@chrisdavis925 no new suggestions, sorry.  I'm setting up a local server intended for long-term gateway connection testing, that may help me find more resolutions for this class of defect.

[2015-04-22 21:34] chrisdavis925 commented on #2431
Thank you @dbungert . I am happy to provide you access to a remote server as well for testing, if it helps.

I also want to confirm that load-balance-info broker redirection works just fine on LAN without gateway redirection - so the problem appears to be specific to the gateway feature.

[2015-04-22 22:06] bmiklautz commented on #2567
@edgar-silva can you give more information please? For example like FreeRDP version, Windows version you are connecting to - see https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2015-04-24 03:15] huangjunsong opened #2569 "I want to compile openSSL library and Freerdp library to arm64 ."
Because apple require submit APP must support arm64.So I need to know  how to compile these libraries to arm64.Have anybody done this before？

[2015-04-24 09:04] trinacriax commented on #2128
I've experienced the same issue and the problem was that during cmake, it recognize the libssl 1.0.1 while during the build, the make linked the libssl 0.9.8, and when I run it, the libssl 1.0.1 was in the library path. Please check you libssl and libcrypto, as well.
This issue does not appear with Win2003 because no TLS is enabled, only Win2008+

[2015-04-24 09:18] bmiklautz commented on #2569
@huangjunsong it's not all on master yet but with a little effort it should basically work. Have a look at #2162.

[2015-04-24 09:18] #2569 closed

[2015-04-24 11:39] vinny1978 opened #2571 "Making this project work in Android Studio"
Hi there,

I have got the whole project working till it comes into loading the freerdp library.  I have and error saying that it cant load the library into Android Studio. Would you know the way or solution to this?

Regards
Vincent

[2015-04-24 20:58] charlesg commented on #2431
Experience the same issue. When I first tested over LAN, I noticed it once or twice but overall it was pretty stable. Now over WAN, it's unusable. The connection comes up half the times and most times it closes with a timeout before I get to login.

[2015-04-25 07:35] oblique commented on #2282
@chrisdavis925 I don't think that your problem is related to this issue, I also don't have it.

[2015-04-25 11:06] sinva commented on #2533
Hello,

I have same problem. when you press "/" (numeric keypad) and appear "-".
This problems is in all version of windows, (windows 7, windows xp, windows 8.1 and windows 2012)

Ubuntu 12.04.5 / Freerdp 1.0.1
Centos 6.5 / Freerdp version unknown
Centos 7 / Freerdp version unknown

[2015-04-25 11:54] mateusmzw commented on #2533
@sinva
Only different key! xD
I thought only I suffered this bad!

@bmiklautz
It seems that the bug appear in more than one type of keyboard.

[2015-04-26 00:10] bmiklautz commented on #2533
@mateusmzw this issue is already fixed for versions > 1.0.2 but those are not available on ubuntu.
But you can try a nightly build and see if it fixes your problem (https://github.com/freerdp/freerdp/wiki/PreBuilds).

For references on this issue see #811

[2015-04-26 00:10] #2533 closed

[2015-04-26 05:57] z668 opened #2574 "C#, manual method call."
Hello.

I am using FreeRDP Sharp (https://github.com/FreeRDP/FreeRDP-Sharp) and latest version FreeRDP x32, but there is an error when calling Connect() method (https://github.com/FreeRDP/FreeRDP-Sharp/blob/master/FreeRDP/Core/RDP.cs).

Marshal.GetLastWin32Error() return error code 2. Sniffer nothing shows, packets to the server are not sent.

Tell me the sequence of method calls before calling Co

[2015-04-26 10:20] bmiklautz commented on #2574
@z668 I'm not sure how up2date the c# bindings are but I would think they weren't updated to latest master yet.

[2015-04-26 10:30] z668 commented on #2574
@bmiklautz, yes you are right. FreeRDP Sharp not updated 3 year. But I have no choice, no alternative but ActiveX from MS. I would be grateful for any hints FreeRDP initialization. Both libraries same author (https://github.com/awakecoding). Do not think it will be difficult to determine the cause or give a direction in which to dig.

[2015-04-27 02:24] huangjunsong commented on #2162
@bmiklautz @kaizirlewagen What does it mean to create patch?How to create it?

[2015-04-27 05:49] kaizirlewagen commented on #2162
@huangjunsong The two code blocks in my post are the patches (created with diff).

[2015-04-27 07:30] weberhofer opened #2576 "Build 1.2 with sources from 2015-04-27 causes segfault"
I'm constantly building versions for opensuse and am getting this error after opening the password to enter a connection to a Windows 7 system:

2015-04-27T09:02:25.333674+02:00 c-web1 remmina.desktop[14606]: Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
2015-04-27T09:02:41.419764+02:00 c-web1 kernel: [ 3426.258494] remmina[14617]: segfault at c ip 00007f3d1b1f4f66

[2015-04-27 07:31] huangjunsong commented on #2162
@kaizirlewagen I succeed to compile it for arm64.Thank you very much.I really appreciate your help！

[2015-04-27 08:36] bmiklautz commented on #2576
@weberhofer can you retry with latest master if the problem still exists?

[2015-04-27 10:07] weberhofer commented on #2576
Thank you! The problem has been resolved.

[2015-04-27 10:51] #2576 closed

[2015-04-28 05:33] DejavuDmitry commented on #2521
The same problem...
[code]

[2015-04-28 06:14] hardening commented on #2521
@DejavuDmitry can you change your script to run xfreerdp in valgrind ?

Thanks

[2015-04-28 09:27] t-arn opened #2580 "aFreeRDP Help page not working"
Platform: Android
Device: Samsung Galaxy Tab 3, 10.1 (GT-P5210)
Version: 1.2.0-beta1+android9

Problem:
In 'Help' only 'Gestures' tab is working. The tabs 'Toolbar' and 'Touch Pointer' try to open my WPS-Office and when I allow this, I get the message that the document to be opened cannot be found.

[2015-04-28 12:08] DejavuDmitry commented on #2521
hardening, what do you mean?

[2015-04-28 12:46] hardening commented on #2521
omg, I was meaning install valgrind and in your script add "valgrind " before xfreerdp.

[2015-04-29 12:06] mateusmzw commented on #2533
@bmiklautz
Excuse my ignorance, but how do I install this PreBuilds?
Thanks!

[2015-04-29 15:35] KevinBeaumont commented on #2413
Did anybody get this working?

[2015-04-29 15:43] jurikolo commented on #2542
Unfortunately this fix doesn't help me, just checkout latest master. See log:
[someuser@t2001542]$ /usr/local/bin/xfreerdp /v:someserver /cert-ignore /u:someuser
Password:
[18:38:29:525] [10942:10943] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_CONNECT_TRANSPORT_FAILED [0x2000D]
[18:38:29:526] [10942:10943] [ERROR][com.freerdp.client.x11] - Authentication only, exit status 1
[som

[2015-04-29 16:51] bmiklautz commented on #2533
@mateusmzw depends on your distribution. If you visit the link from above, click the link for your distribution you get more information on how to install..

[2015-04-29 17:16] mateusmzw commented on #2533
@bmiklautz
Ubuntu 12.04

I was able to install this package as links:
-Page: https://ci.freerdp.com/job/freerdp-nightly-binaries/architecture=amd64,distribution=precise,label=pkg-deb/
-deb: https://ci.freerdp.com/job/freerdp-nightly-binaries/architecture=amd64,distribution=precise,label=pkg-deb/lastSuccessfulBuild/artifact/freerdp-nightly_1.2.1+0~20150429014832.99~1.gbpbfccc0_amd64.deb

So that th

[2015-04-29 22:49] meanbunny opened #2585 "Question on Keyboard Shortcuts (Hotkeys) interaction"
My current environment is Ubuntu Gnome (15.04) with Gnome 3.16, this question still resides for Ubuntu Gnome (14.10) with Gnome 3.14.

I work everyday out of a Windows 8.1 cloud based VM that I RDP into using FreeRDP. What I struggle with sometimes is ALT+TAB interactions with Windows vs Ubuntu. There are times when I am in Windows RDP session with keyboard and mouse focus in the FreeRDP window. H

[2015-04-30 08:17] gojensen commented on #2542
Hi dbungert - I'll be trying this shortly, I've been having some strange issues reinstalling Ubuntu on my VM test machine that I need to sort out before I can try this again on a clean system.

[2015-04-30 12:22] bmiklautz commented on #2533
@mateusmzw the nightly builds are supposed to be in /opt/freerdp-nightly in order to not conflict with the distribution package. If you want to keep  the nightly you could for example remove the distributions package and create a link from /opt/freerdp-nigtly/bin/xfreerdp to your systems binary path.

[2015-04-30 12:31] mateusmzw commented on #2533
@bmiklautz
Incredible! Very good tip!
I always forget the links! xD

bmiklautz, you know how to integrate this new version of freerdp the LTSP? LTSP uses a own version of freerdp and not installed on the system.

Thank you very much!

[2015-04-30 12:34] bmiklautz commented on #2533
@mateusmzw sorry can't help with LTSP but maybe you ask anyone from them for help.

[2015-04-30 12:47] mateusmzw commented on #2533
@bmiklautz
Thank you very much!
Continue with the great job!
freerdp is an optimal tool!
[]'s

[2015-04-30 14:57] floppym opened #2586 "Compiler flags conflict due to ARM_FP_API option"
A user reported the following build failure on Gentoo Linux.

https://bugs.gentoo.org/show_bug.cgi?id=547246

[code]

This seems to be the result of some source files being built with `-mfloat-abi=softfp`, and others with `-mfloat-abi=hard`. It looks like this strange behavior was introduced in response to #980.

It seems to be a problem that will occur whenever CFLAGS contains `-mfloat-abi=hard`

[2015-04-30 17:07] bmiklautz commented on #2586
@floppym the response to #980 was PR #987 which basically just made the ABI configureable - instead of having it hardcoded to softfp. If you run cmake with the define ARM_FP_ABI set to the float-abi type of your system it should work without a problem.
Anyway the solution was just a work around and needs a better fix. I think we should go for 1. and completely get rid of ARM_FP_ABI since the float

[2015-05-01 09:07] Rainmaker52 commented on #2525
When doing
export MALLOC_CHECK_=0
before running xfreerdp, the program does not dump core (obviously).

However, instead of dumping core, the connection is reset, and one needs to reconnect.

[2015-05-04 03:09] shweng opened #2590 "Point leaks when drawing in AutoCAD"
Hi all,
I use xfreerdp to connect win7 guest using AutoCAD software,when drawing a line or circle arc,
the drawing track will remains some points on drawing canvas.
please refer to http://imagebin.ca/v/20WLuqLCCG9T
testing environment:
Host:Fedora 20 x64
Guest:Win7 64bit with AutoCAD 2012
FreeRDP command: xfreerdp /u:administrator /p:passwd /cert-ignore /gdi:hw /sound /bpp:32 /f /v 192.168.10.198

[2015-05-05 08:45] lemonmojo opened #2591 "Which cipher suites are supported by FreeRDP?"
When locking down one of my Win2k12 R2 Core server's ciphers, I get to the point where I'm unable to connect with FreeRDP, while mstsc still works.

Here's a screenshot of that configuration:
![capturfiles_2](https://cloud.githubusercontent.com/assets/186198/7469407/80dbcece-f313-11e4-94e9-590e5dd69dd6.png)

Now if I add the following 3 ciphers back to the list I'm able to connect again:
TLS_ECDHE

[2015-05-05 09:41] bmiklautz commented on #2591
@lemonmojo If I'm not mistaken there are no limitations per default and all available ciphers of the underlying openssl versions are used. Have a look at the tls-ciphers command line parameter. It allows you to set the list of accepted ciphers.

[2015-05-05 09:42] bmiklautz commented on #2591
@lemonmojo whats the tool on the screenshot you are using for enabling/disabling ciphers?

[2015-05-05 09:55] lemonmojo commented on #2591
@bmiklautz thx for the info! The tool is [IIS Crypto](https://www.nartac.com/Products/IISCrypto/).

[2015-05-05 12:05] bmiklautz commented on #2591
@lemonmojo related to this there have already been discussion on limiting the cipher strings used to improve security - see #2365.

[2015-05-05 14:56] #2586 closed

[2015-05-05 15:11] docblock commented on #2451
I hope I am not too late.
@hardening: remoteFx simulates a 3D graphics card. With remotFX I can run DirectX-Applications. The 3D benchmark tries to open a direct surface, what fails.
@nfedera : The session disconnects. It displays: Failed to check FreeRDP file descriptor

[2015-05-05 15:20] shattars3d opened #2593 "Freerdp iOS issue"
When compiling the freerdp master build for the iOS client of freerdp, I'm getting the issue of the freerdp settings not being loaded before connecting into the rdp. When running on an iOS device and selecting a server to connect to, xcode has a memory issue at the line     free(inst->settings->HomePath); in the iOS_freerdp.m file.

[2015-05-05 18:49] ny0 commented on #709
Is there a new rpm (1.2.1-dev) for Centos 6?  Have the same problem with freerdp-1.0.2-2.el6.x86_64 when the linux host is connected from VNC and trying to RDP to Windows 2008.

[2015-05-06 00:25] robled opened #2595 "Connection errors are issued on stdout and not stderr"
I develop a python [application](https://github.com/robled/rocket-depot) that uses subprocess.Popen to start xfreerdp via the CLI and then retrieve any error messages from stderr.  When a connection error occurs the error text is sent to stdout and not stderr, which strikes me as unusual.

[2015-05-06 19:58] hardening commented on #2571
You should ask such question on the FreeRDP mailing list or ask on IRC.

[2015-05-06 19:58] #2571 closed

[2015-05-06 20:00] hardening commented on #2565
If the artifact is also visible with mstsc, it's definitely something related to your server installation. Closing the bug.

[2015-05-06 20:00] #2565 closed

[2015-05-06 20:05] hardening commented on #2561
@danatela can you give us some version details (xfreerdp, windows version) ? Thank you.

[2015-05-06 20:10] hardening commented on #2549
@e-gaulue is it possible that the updates that results from the LibreOffice screen update would kill the Rpi with too much pictures to render ? Perhaps you could activate some debug options (graphical oriented ones) to see what's going on during the freeze...

[2015-05-06 20:13] hardening commented on #2548
@SekharSamala how old is your FreeRDP ? What kind of authentication are you using in mstsc ? I'm not sure we're supporting NLA for wfreerdp-server. @awakecoding do you have the answer ?

[2015-05-06 20:26] hardening commented on #2543
@realjiangms looks like you already did all the inquiry, would you mind submitting a PR that would "do the job"(TM).
@awakecoding have you removed the jpeg compression on purpose ?

[2015-05-06 20:29] awakecoding commented on #2543
@hardening I removed it for the simple reason that it was non-standard and unmaintained for a while. I recall there was some discussion a month ago about jpeg being supported in VirtualBox. Is jpeg really only supported in xrdp?

[2015-05-06 20:29] awakecoding commented on #2543
@hardening I don't mind if it is reintroduced, but someone has to maintain it.

[2015-05-06 20:29] hardening commented on #2540
The git version would help. Do you still have the issue with updated git master ?

[2015-05-06 20:34] hardening commented on #2515
@macarthor I don't understand the bug, a file starting with a dot is not hidden under linux, it's just hidden when you're doing "ls" in a shell !

I'd tend to mark that issue as "not a bug", any opinion ?

[2015-05-06 20:36] hardening commented on #2518
@interator
#error architecture not supported => looks quite self explanary, isn't it ?

[2015-05-06 20:38] hardening commented on #2520
@czo if you activate DEBUG_NLA perhaps that could give us a tip of where is the byte ordering problem...

[2015-05-06 20:41] hardening commented on #2525
@Rainmaker52 @sonicflare any chance that one of you could run the same under valgrind instead of gdb ?

[2015-05-06 20:43] hardening commented on #2534
@ferasd This kind of question is more for IRC or the FreeRDP mailing list.

[2015-05-06 20:43] #2534 closed

[2015-05-06 20:45] hardening commented on #2444
This kind of question is not an issue, go and ask on IRC or the FreeRDP mailing list.

[2015-05-06 20:45] #2444 closed

[2015-05-06 20:47] hardening commented on #2451
@docblock  AFAICT 3D and remoteFx aren't related

[2015-05-06 20:48] hardening commented on #2454
could you give a try with last master ? Thank you.

[2015-05-06 20:50] #2464 closed

[2015-05-06 20:51] hardening commented on #2465
@drauber could you try to run the same command with valgrind ? Thank you

[2015-05-06 20:52] #2471 closed

[2015-05-06 20:53] hardening commented on #2480
@lex148 which version of xfreerdp are you running ?

[2015-05-06 21:06] #2437 closed

[2015-05-06 21:08] hardening commented on #2119
No feedback, closing the issue.

[2015-05-06 21:08] #2119 closed

[2015-05-06 21:09] #1997 closed

[2015-05-06 21:10] hardening commented on #845
no feedback, closing

[2015-05-06 21:10] #845 closed

[2015-05-06 21:12] hardening commented on #937
no feedback closing.
@nschneider perhaps you could give a try with latest master

[2015-05-06 21:12] #937 closed

[2015-05-06 21:12] hardening commented on #976
no feedback, closing.

[2015-05-06 21:12] #976 closed

[2015-05-06 21:13] hardening commented on #1123
no feedback, closing.

[2015-05-06 21:13] #1123 closed

[2015-05-06 21:15] hardening commented on #330
no feedback, closing

[2015-05-06 21:15] #330 closed

[2015-05-06 21:16] hardening commented on #690
no feedback, closing

[2015-05-06 21:16] #690 closed

[2015-05-07 05:00] danatela commented on #2561
At the time I did the report, `xfreerdp` version was 1.02, Windows was 2008 Server Standard Edition. Now I have `xfreerdp` 1.1.0~git20140921.1.440916e+dfsg1-2ubuntu1, and I cannot even start the program. It fails with "RAIL exec error: execResult=RAIL_EXEC_E_NOT_IN_ALLOWLIST NtError=0x15".  The front-end application (winconn) also doesn't work though for another reason (incompatibility issues). So

[2015-05-07 06:05] hardening commented on #2561
About the error you're seeing https://github.com/FreeRDP/FreeRDP/issues/595 contains tips to solve it.

[2015-05-07 09:09] hardening commented on #2590
@shweng can you confirm with the last master (which is 1.2.3-dev) that the bug is still there. Thank you.

[2015-05-07 09:16] hardening commented on #2574
@z668 this issue should be reported to the FreeRDP-Sharp project, and as you've probably read, nobody's working on it at the moment. Try to go on IRC if you want directions to inquiry on your bug.

[2015-05-07 09:16] #2574 closed

[2015-05-07 09:59] shweng commented on #2590
confirmed this bug still exist in latest master(1.2.3-dev)

[2015-05-07 11:28] Rainmaker52 commented on #2525
Ran valgrind --track-origins=yes --log-file=valgrind.log -- /opt/freerdp-nightly/bin/xfreerdp /u:MyUser /p:MyPass /v:192.168.56.201 /app:"||word".
FreeRDP version is freerdp-nightly_1.2.1+0~20150507014834.104~1.gbp063c1b_amd64

Last log:
==16152== Conditional jump or move depends on uninitialised value(s)
==16152==    at 0x4C308CE: memcpy@@GLIBC_2.14 (in /usr/lib/valgrind/vgpreload_memcheck-amd64-

[2015-05-07 12:46] hardening commented on #2514
@maddeer any chance that you would run the same under valgrind (I'm of course considering that you're running git master) ?

[2015-05-07 12:47] #2518 closed

[2015-05-07 13:09] hardening commented on #2525
This PR https://github.com/FreeRDP/FreeRDP/pull/2603 should fix your bug.

[2015-05-07 14:23] XSlicer commented on #2525
To weigh in on this problem, as I had exactly the same, this fix worked for me. Thanks!

[2015-05-07 17:08] hardening commented on #2525
@Rainmaker52 if it fixes it for you I will close the issue (note: the PR has been merged upstream)

[2015-05-07 17:17] hardening commented on #142
Just pinging this bug, has something changes on that side ?
It's not clear if you can connect with RAILs with mstsc on a WinXP host ? If not I'd tend to close the issue...

[2015-05-07 17:19] hardening commented on #425
The option switch for this exists now, closing the issue.

[2015-05-07 17:19] #425 closed

[2015-05-07 17:23] hardening commented on #369
@firstcause A lot of work has been done on smartcard redirection, could you give a try on last master please ?

[2015-05-07 17:28] hardening commented on #327
@jacob019 could you give a try with latest master ?

[2015-05-07 17:31] hardening commented on #231
@dsyou20 any news with @bmiklautz suggestion ?

[2015-05-07 18:46] firstcause commented on #369
Guys, I'm not involved any more.

On Thu, May 7, 2015, 12:24 PM Hardening <notifications@github.com> wrote:

[2015-05-07 19:06] Rainmaker52 commented on #2525
I already cherry-picked the patch and compiled it :)

Yes, that patch fixes it. Thanks!

[2015-05-07 19:06] #2525 closed

[2015-05-07 19:24] sonicflare commented on #2540
was having problem with menus crashing aswell.
With compile from git version and your latest patch, everything works!

[2015-05-07 19:24] #2540 closed

[2015-05-07 19:49] hardening commented on #600
@tfar the server in FreeRDP has not the goal to be a production RDP server. It's more a toy to test server-side components.

[2015-05-07 20:18] hardening commented on #604
mkv is a container, and flash is supported by ffmpeg but not listed here: https://msdn.microsoft.com/en-us/library/windows/desktop/dd757532%28v=vs.85%29.aspx so I guess it doesn't have an guid...

Can we close this issue ?

[2015-05-07 20:35] shwarmy commented on #604
yes

On Thu, May 7, 2015 at 3:18 PM, Hardening <notifications@github.com> wrote:

--

*______________________________________*

* Nick Swanzy*

Email:    shwarmy@gmail.com

Google Talk: shwarmy@gmail.com

Phone:   (979) 255-0585

*______________________________________*

[2015-05-07 20:42] #604 closed

[2015-05-07 21:06] lex148 commented on #2480
When i reported I built from source at 1f0c1da
After digging a little more i believe I have figured out the issue.

FreeRDP sets the clipboard but not the primary selection

forcing xclip to read to clipboard works
xclip -selection clipboard -o

but reading the primary selection does not
xclip -selection primary -o

I believe this is still an issue since under most Linux programs you cannot set th

[2015-05-07 23:11] bmiklautz commented on #600
@hardening I believe this segfault is already fixed on master (but I'll verify that to be sure). Even if it isn't aimed to be a production ready server  it shouldn't segfault :) but should at least print an error message.

[2015-05-07 23:13] bmiklautz commented on #369
As mentioned I believe this is already fixed on master (1.2.2+). I'll close the issue. Pleas re-open or create a new issue in case you encounter see this problem at some point.

[2015-05-07 23:13] #369 closed

[2015-05-07 23:14] bmiklautz commented on #2591
@lemonmojo do you have enough information and can this issue be closed?

[2015-05-07 23:18] bmiklautz commented on #2595
@robled this issue should be resolved with the pull request mentioned above. Can you verify that this problem is solved for you. If you have Debian, Ubuntu, Fedora or OpenSuse you can use our nightly builds for testing https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2015-05-07 23:21] bmiklautz commented on #2590
@shweng do you have also other ways to reproduce this issue otherwise it will be hard for us do track it down since I think nobody of us has AutoCAD 2012 available for testing.

[2015-05-08 12:10] lemonmojo commented on #2591
@bmiklautz Yep, can be closed! thx!

[2015-05-08 12:10] #2591 closed

[2015-05-10 00:46] drauber commented on #2465
Hi!
Today i have created a new environment to try, and now the error not occurs more.

Thanks!

[2015-05-10 08:19] #2465 closed

[2015-05-10 14:15] realjiangms commented on #2543
@hardening I would be willing to re-introduce it. Maybe later we can also introduce a server side support (maybe introduce it in shadow server as experiment).

But I may not be able to make 'time' commitment. Do you have some expectation on 'when can the PR be submitted' ?

[2015-05-10 15:57] tristan-k commented on #1528
I'm having this issue on Ubuntu 14.04 LTS. It's extremly annoying. Any way to fix that.

[2015-05-11 02:46] huangjunsong opened #2606 "Something wrong with my keyboard!"
At first,the keyboar is same as usual.But after I pressed the toggleExtKeyboard button and the keyboard became first responder again.The keyboard became like the ![image](https://github.com/huangjunsong/MyGit/blob/master/ImageFolder/IMG_0572.jpg).Can someone tell me what happened.How to fix it?

[2015-05-11 16:04] nfedera opened #2609 "Mac OS X native client : 100% CPU usage even when session is idle"
Seen with current master (692df124c60ffbfdd51cd576bc3c7cf2735b712a) on OS X 10.9.5.
Does not seem to be related to a specific codec ( /rfx /gfx ...)

[2015-05-11 17:09] shattars3d commented on #2609
hey I'm having trouble compiling the mac OS X version for the rdp client.. can i get some help off u?. thanks..

[2015-05-11 17:32] nfedera commented on #2609
Ok the issue is related to +async-transport which is hardcoded in the mac native client.
It also happens with ```xfreerdp /v:host +async-transport```

[2015-05-11 17:37] nfedera opened #2610 "Async transport thread consumes 100% of one CPU core"
Seen with current master (692df12) with X11 and Mac client

[2015-05-11 17:37] nfedera commented on #2609
Created related/root issue #2610

[2015-05-11 17:54] bmiklautz commented on #2609
@shattars3d please only add comments related to the issues problem. Your build problems are not related to this in any way. Thank you!

[2015-05-11 17:59] bmiklautz commented on #2606
@huangjunsong is this iOS or Android? Did you compile yourself? If so can you add the version you are using?

[2015-05-11 18:56] nfedera commented on #2610
ok ... the code in the transport_client_thread is just sooooo wrong.

[2015-05-11 21:36] cgholam commented on #2543
بتاريخ Apr 15, 2015 3:23 PM، كتبها "Jiang, Zihao" <notifications@github.com

However it is removed in 7130b70, the reason maybe it was broken.

to re-enable jpeg support.

[2015-05-12 00:37] huangjunsong commented on #2606
@bmiklautz It's iOS.And I compile it with the README.ios. I also compile freeRDP and openSSL for arm64.I am using XCode6.3.

[2015-05-12 02:44] shweng commented on #2590
@bmiklautz  I cannot reproduce this issue on other rich graphics software such as Photoshop CS,CAXA(a CAD/CAM design software similar to AutoCAD), but exist on variety version of AutoCAD.
ps: AutoCAD can download at
 http://188.138.9.146/Getintopc.com/Autodesk_AutoCAD_2013_x64.zip
http://85.25.103.117/Getintopc.com/Autodesk_AutoCAD_2013_x86.zip
and we can free trial in 30 days.

[2015-05-12 05:22] hardening commented on #2543
@realjiangms no expectations on my side ;)
If you submit both client and server implementation for jpeg support I will be happy to test it, perhaps I will even implement it in FreeRDS...

[2015-05-12 15:37] chrisdavis925 commented on #2431
@dbungert  have you had any luck with researching this more?
I really appreciate all of your efforts. :)

[2015-05-12 17:44] shattars3d commented on #2606
@huangjunsong  are you having any issues connecting to a rdp session in the iOS freerdp? with the latest master off freerdp?

[2015-05-13 02:04] mchozhang opened #2614 "[iOS] Build failed when using xcodebuild with code sign error"
I read README.ios to build the project with
cmake 3.2.2
iPhoneOS SDK 8.2
Xcode 6.2

here are my steps:
1.download and build the openssl simply with
[code]
2.create Xcode project with
[code]

3.build the project with
[code]
but then i got this
[code]
I tried to modify the Code Signing Identity to iOS developer ,but made no difference.
It is possible that I should use lower version cmake or sdk?

[2015-05-13 02:32] huangjunsong commented on #2606
@shattars3d no,My connecting is work well.

[2015-05-13 02:44] shattars3d commented on #2606
@hunangjunsong. Whicn freerdp master commit is your project on your Mac

[2015-05-13 08:44] fjyihan opened #2615 "Random disconnections from RDP with TS Gateway"
my tested with recent master。
 I use the following to establish a connection to my computer( win server 2008 r2 )
xfreerdp /g:rdgserver.company.com /gd:companydomain /gu:myusername /gp:mypassword /d:companydomain /u:myusername /p:mypassword /v:internal.computername.
I suspect the issue is not related to Server Side, I think it’s when the xfreerdp is receiving a lot of data like screen updates, it

[2015-05-13 08:49] #2610 closed

[2015-05-13 08:49] #2609 closed

[2015-05-13 08:51] hardening commented on #2615
Your bug looks verry much like a duplicate of https://github.com/FreeRDP/FreeRDP/issues/2431.

[2015-05-13 09:04] fjyihan commented on #2615
@hardening yeah, I think so.

[2015-05-13 16:30] nfedera opened #2617 "Mac OS X: CMakeList.txt prefixes MacPorts include directories"
Since commit a35f1e81 /opt/local/include is the first element in the include path when compiling on Mac OS X. This causes severe issues.
One example is openssl: Although OPENSSL_INCLUDE_DIR is set to /usr/include the sources include the ssl headers from /opt/local and FreeRDP is linked against the system libraries. If linking is successful at all there might still be runtime errors.
And this issue

[2015-05-14 03:41] lgqiang commented on #2614
You can use the Xcode to compile the code. Before you compile, you should set the code signing

[2015-05-14 03:44] lgqiang commented on #2593
The newest code has bug. I have made some change to fix the bug:

[2015-05-14 03:49] lgqiang commented on #2593
2 files need to change:

freerdp.c line 501, change to below:

	if (!ret)
		return TRUE;

gdi.c, line 1357, change to below:

if (!instance->context->cache) {
		if (!(cache = cache_new(instance->settings)))
			goto fail_cache;
        instance->context->cache = cache;
    }

after make those change, you can run the program with no crash.

[2015-05-14 07:46] hardening commented on #2593
@lgqiang if so can you submit a PR with these changes. Thanks.

[2015-05-14 08:08] lgqiang commented on #2593
@hardening sorry, I don't known how to submit a PR.

[2015-05-14 09:34] bsagal opened #2618 "Graphical update issue"
The remote screen is not updating properly

I have tested using master (f219d341f1f88159cf67578390390a554a4b4083).
The server runs 2008R2

![image](https://cloud.githubusercontent.com/assets/846911/7629438/2a82e2a0-fa35-11e4-94ea-f887c15c8510.png)

[2015-05-14 10:21] hardening commented on #2618
@bsagal what's the bug ? the background should be white instead of blue ?

[2015-05-14 10:23] bsagal commented on #2618
The background should be white, what is showing in the background is the login screen that was shown before the window

[2015-05-14 10:28] bsagal commented on #2618
correct screen

![image](https://cloud.githubusercontent.com/assets/846911/7630232/bacba5b6-fa3c-11e4-9b92-f82a7154320d.png)

[2015-05-14 14:26] shattars3d commented on #2593
@lgqiang  thanks, always thought the master would be stable ;) but its not lol

[2015-05-14 16:02] shattars3d commented on #2593
@lgqiang

when i try to connect to the test server "test service.freerdp.com", it gives me this in the Xcode debugger….

2015-05-14 12:00:33.452 iFreeRDP[2458:60b] Reachability Flag Status: -R ------- networkStatusForFlags
failed to connect to testservice.ifreerdp.com
[12:00:34:430] [2458:04739000] [ERROR][com.freerdp.core.nego] - Protocol Security Negotiation Failure
[12:00:34:430] [2458:04739000

[2015-05-14 16:14] shattars3d commented on #2606
@huangjunsong Whicn freerdp master commit is your project on your Mac?

[2015-05-14 17:42] nfedera commented on #2618
@bsagal please post the command line you're using and what happens if you add /gdi:sw ?

[2015-05-14 17:55] bsagal commented on #2618
with master (f219d34) i get a seg fault.

when I changed to 1.2.1_pre20150326 it seams to help.

[2015-05-14 18:00] bigelectricccat opened #2619 "MacFreeRDP.framework link failure"
Bulding from master f219d34 using a MacPorts-supplied OpenSSL library and CMake fails when linking MacFreeRDP.framework This affects the OS X 10.10 target when building with Xcode 6.3.1.

Linking C shared library MacFreeRDP.framework/MacFreeRDP
Apple LLVM version 6.1.0 (clang-602.0.49) (based on LLVM 3.6.0svn)
Target: x86_64-apple-darwin14.3.0
Thread model: posix
 "/Applications/Xcode.app/Contents

[2015-05-14 19:13] nfedera commented on #2618
@bsagal I've fixed the /gdi:sw segfault issue in pr #2620. It should get merged into master soon.
Please try again and report ...
1. Your complete xfreerdp command line which causes the graphical issue
2. If you're running your 2008R2 server in administration or remote desktop mode
3. If adding /gdi:sw fixes the issue

[2015-05-14 19:19] bsagal commented on #2618
1) xfreerdp /v:SERVER
2) administration
3) yes

[2015-05-14 19:37] nfedera commented on #2618
@bsagal thx, do you see the issue only in MS SQL Server Management Studio or also in some other applications ?

[2015-05-14 19:42] bsagal commented on #2618
I have only noticed it with  MS SQL Server Management Studio, but that is also my main usage on the server

[2015-05-14 20:22] nfedera commented on #2609
Should be fixed via #2611 and #2621

[2015-05-14 20:23] nfedera commented on #2610
Should be fixed via #2611 and #2621

[2015-05-15 01:08] huangjunsong commented on #2606
I don't know what you mean.If you want to know my FreeRDP master version.I don't remember that.How can I see the version.

[2015-05-15 20:40] watkipet commented on #2617
I'm able to work around this by using the cmake prefix path option:
`cmake -D "CMAKE_OSX_ARCHITECTURES:STRING=x86_64" -DCMAKE_PREFIX_PATH=/opt/local .`
This still uses the MacPorts headers, but it also pulls the actual dylibs from MacPorts as well. I'm still not saying the /opt/local headers should stay at their present location, though.

[2015-05-15 20:45] watkipet commented on #2619
This is the same error I get when cmake picks up OpenSSL headers from MacPorts put picks the dylibs from /usr/llib. See [this issue](https://github.com/FreeRDP/FreeRDP/issues/2617).

[2015-05-16 13:52] nfedera commented on #2618
I've installed SQL Server 2014 Express including SQL Server Management Studio on a 2008R2.
I can reproduce/confirm the issue. For future reference:
- open SQL Server Management Studio
- open the Activity Monitor
- select the Processes view
- close all other applications/windows so that SQL Server Management Studio is the first/only window directly "above" the windows desktop
- maximize SQL Server

[2015-05-17 11:15] nfedera commented on #2618
Disabling the polygonsc/polygoncb caps also  "fixes" the issue. I guess the problem might be the x11 implementation of the polygonsc order.

[2015-05-19 02:20] Hewitt1410 opened #2628 "freerdp-server problem"
I use rdp server(on Ubuntu 12.04 64 bit) version 1.2.4-dev (git0067241)
rdp client(shell and control version 6.2.9200, remote desktop protocol 8.0 support, on windows 7 ultimate 32 bit) connect to rdp server success and i can view content from Ubuntu, but after few minutes(about 2 minutes, sometimes more than 2 minutes), window show a message : "Because of an error in data encryption, this session

[2015-05-19 06:06] hardening commented on #2628
freerdp-server is more a toy to test server-side features than a final product.
Anyway can you give us some details of what is negotiated with your mstsc: TLS / RDP, remoteFx ?

[2015-05-19 09:06] hardening commented on #2618
@bsagal could you give a try to @nfedera 's patch ? Thank you.

[2015-05-19 09:29] nfedera commented on #2618
Update: the problem is fixed on master. The actual issue was the x11 client's calculation of the damage region caused by polygon orders.
@bsagal please test current master and close and/or comment if it works for you.

[2015-05-19 09:52] bsagal commented on #2618
seems to work in master, thank you

[2015-05-19 09:52] #2618 closed

[2015-05-19 10:29] mvojjala opened #2629 "Does FreeRDP support RDS broker config?"
In out set up we are using a RDS broker with two hosts. No Gateway is used. My problem is  hitting RDS broker is not redirecting us to the RDS host, connection is initiated for RDS broker itself.

I am assuming that RDS broker is directly supported and no need of any flag/settings enabling. Any hints or clues on  where to start debugging or any pointers ?

[2015-05-19 12:05] HenryJacques commented on #2629
Hi,

Instead of using the parameter /v:broker (which I assume you're using), use a rdp file generated by your broker (that can generally be downloaded using a browser in http(s)://broker/rdweb)
Then use the command line $xfreerdp myrdpfile.rdp
without passing the /v argument

Bye

[2015-05-19 12:18] HenryJacques opened #2631 "The point of specifying the smartcard device id?"
Hi,

I was wondering why it is important/mandatory to specify the smartcard usb id using the parameter /smartcard:device
I am asking the question because on my setup, I have two smarcard readers but ideally I just want to redirect one. However even if I specify just one reader on the command line, freerdp detects both and redirected them, (see below).

Using mstsc, you cannot redirect just one rea

[2015-05-20 01:43] Hewitt1410 commented on #2628
Log trace :
./freerdp-shadow
[09:07:11:726] [2880:2880] [INFO][com.freerdp.server.shadow.x11] - X11 Extensions: XFixes: 1 Xinerama: 1 XDamage: 0 XShm: 0
[09:07:11:731] [2880:2880] [INFO][com.freerdp.core.listener] - Listening on 0.0.0.0:3389
[09:07:16:724] [2880:2900] [INFO][com.freerdp.core.connection] - Client Security: NLA:1 TLS:1 RDP:0
[09:07:16:724] [2880:2900] [INFO][com.freerdp.core.connect

[2015-05-20 11:39] DejavuDmitry opened #2634 "Invisible Underscore in Microsoft Office 2010"
I found strange bug:

[code]

![2015-05-20-140034_1920x1080_scrot](https://cloud.githubusercontent.com/assets/9697445/7724863/fadcd9fc-fefd-11e4-9953-dfee1b177c5d.png)
![2015-05-20-140030_1920x1080_scrot](https://cloud.githubusercontent.com/assets/9697445/7724864/023a478e-fefe-11e4-8a32-5fc9e7936762.png)

[2015-05-20 15:24] #2615 closed

[2015-05-20 19:24] hardening commented on #2634
@DejavuDmitry is it something that appeared after 181065619932b60b5d6895842d15f47d304a027d ? Or were you experimenting the same before this commit ?

Note: IIRC we have asked some questions in other issues, without any answers so far ...

[2015-05-20 20:16] nfedera commented on #2634
@DejavuDmitry please let us know ...
1. Answers to questions from @hardening
2. What is the remote OS you are you connecting to ?
3. What is your complete xfreerdp command line ?
4. Does adding /gdi:sw "fix" the issue ?

[2015-05-20 20:40] nfedera commented on #2634
I've just tested using Word via Office 2010 Starter on Windows 7 SP1 x64 using Times New Roman (size 16) and could not reproduce the issue (tested with and before 1810656).
@DejavuDmitry so we really need all the requested details please. And maybe you could upload an example word document.

[2015-05-20 21:19] nfedera commented on #2590
@shweng please test again with current master. Some gdi bugs got fixed.

[2015-05-21 10:11] Hewitt1410 commented on #2628
Hi, any ideas?

[2015-05-21 11:13] hardening commented on #2628
@Hewitt1410 could you give a try running freerdp-shadow in valgrind, with VALGRIND_HELPERS activated in your compilation ? Thanks.

[2015-05-22 01:46] Hewitt1410 commented on #2628
@hardening you can see my output in valgrind here : https://gist.github.com/Hewitt1410/3f901cd316f5cef2a27d

[2015-05-22 05:54] hardening commented on #2628
@Hewitt1410 the shadow server has been improved very recently, and modified so much that your valgrind trace doesn't match current code. Would you mind updating to last master and rerun in valgrind and if we're lucky the problem may have been solved by the recent changes ? Thank you.

[2015-05-22 06:01] HenryJacques commented on #2631
Hi,

No one?

By the way how can I make FreeRDP more verbose? I compiled it with WITH_DEBUG_ALL and BUILD_TYPE=Debug but I don't seem to have more output....

Thanks

[2015-05-22 06:37] Hewitt1410 commented on #2628
The log in valgrind above is the latest version, i updated before running :
 ./freerdp-shadow /version
[13:34:25:305] [19839:19839] [INFO][com.freerdp.server.shadow] - FreeRDP version 1.2.4-dev (git e6891b7)
freerdp-server still has this error

[2015-05-22 07:20] DejavuDmitry commented on #2634
@nfedera
1. I don't know
2.
[code]
My cmnd line

[code]

With  /gdi:sw

[code]

[2015-05-22 08:21] antenore opened #2641 "FreeRDP website link"
Can you please update the Remmina link on FreeRDP.com?

It should point to www.remmina.org or, at least to http://github.com/FreeRDP/Remmina.

This is quite important and urgent because people goes to Source Forge and we get continuously tickets for the wrong version. A version that cannot even work with your new FreeRDP API.

Thanks!

@giox069  FYI

[2015-05-22 08:38] mchozhang commented on #2614
ok, i guess i solved this problem.
First of all, we should have a provisioning profile which is created in apple member center.
Before we use "xcodebuild" to build the project, modify the code signing identity and provisioning profile in build setting in xcode to the profile we create. If you don't have a provisioning profile ,it's useless to change it to anything else.
Then we can build the proje

[2015-05-22 09:14] hardening commented on #2628
@Hewitt1410 would you mind give a try to https://github.com/FreeRDP/FreeRDP/pull/2642 ? Thanks.

[2015-05-22 10:05] Hewitt1410 commented on #2628
I tried , the error still there.
#2642 only add a line : cmd.skipCompression = TRUE; in shadow_client.c?

[2015-05-22 11:23] hardening commented on #2628
@Hewitt1410 Yep #2642 only change one line.

It would be nice if you could test and use the suggested for valgrind --max-stackframe=4202656. Could add some debug statement in shadow_client.c to know which codec is used in your case ?
Something around https://github.com/FreeRDP/FreeRDP/blob/master/server/shadow/shadow_client.c#L412 and/or https://github.com/FreeRDP/FreeRDP/blob/master/server/shadow

[2015-05-22 17:09] eledoux commented on #2389
@StephanKrieger There is a good chance the issue to be fixed on this branch: https://github.com/eledoux/FreeRDP/tree/thread_list

You can also wait for the pull request #2646 to be merge on master by the project's owners.

I well identified the issue previously but its resolution brought its own issue at this time! You may notice I'm proposing about the same resolution.

[2015-05-23 02:05] Hewitt1410 commented on #2628
@hardening , RemoteFxCodec is used in my case.

[2015-05-25 06:03] hendwolt opened #2648 "errors like SCARD_E_INSUFFICIENT_BUFFER with smartcard redirection"
I'm using:
This is FreeRDP version 1.2.4-dev (git 36cb1e6)

and this card reader:
kernel: usb 2-1.1: new full-speed USB device number 3 using ehci-pci
kernel: usb 2-1.1: New USB device found, idVendor=0c4b, idProduct=0400
kernel: usb 2-1.1: New USB device strings: Mfr=1, Product=2, SerialNumber=3
kernel: usb 2-1.1: Product: cyberJack e-com plus
kernel: usb 2-1.1: Manufacturer: REINER SCT

When I c

[2015-05-25 10:53] lemonmojo commented on #2282
Any news on this? On current master, I still cannot connect through Win2k12 R2 gateways without reverting the changes introduced in 5f375d0. When reverting these changes however, I have some other weird behavior, so a proper fix would be much appreciated.

[2015-05-25 11:56] hendwolt commented on #2648
I guess the errors happen in file smartcard_pcsc.c, in function PCSC_SCardStatus_Internal, code:
	if ((pcchReaderLenAlloc || pcbAtrLenAlloc) && !g_SCardAutoAllocate)
	{
...
	}
	else
	{
		status = (LONG) g_PCSC.pfnSCardStatus(hCard, mszReaderNames, &pcsc_cchReaderLen,
					&pcsc_dwState, &pcsc_dwProtocol, pbAtr, &pcsc_cbAtrLen);
}
,
when PCSC_SCardStatus_Internal gets called with *pcchReaderLen==SC

[2015-05-25 20:23] phongleq opened #2651 "iOS SSL Script issue"
So I've notice that when using the scripts to generate to do the SSL part on iOS, that after building for i386 things something weird is happening. It looks like after copying libcrypto.a and libssl.a to libssl_i386.a and the other file, both files are then removed from their original folder. This prevents from the others being made. So in my instance, it fail to generate one for armv7 and armv7s

[2015-05-26 06:54] hardening commented on #2282
@lemonmojo if you privately give me access to your test env I can give a try

[2015-05-26 09:03] lemonmojo commented on #2651
+1

[2015-05-26 09:04] bmiklautz commented on #2651
@phongleq you are referring to scripts/OpenSSL-DownloadAndBuild.command ?

[2015-05-26 13:13] hardening commented on #2628
@Hewitt1410 do you see any improvement using https://github.com/hardening/FreeRDP/commits/fix_message_queue ?

[2015-05-26 14:31] bmiklautz commented on #1905
Should be fixed on master and no feedback received for a while.

[2015-05-26 14:31] #1905 closed

[2015-05-26 14:54] kurtseifried opened #2655 "tmp flaw in freeRDP"
Filed a CVE request on oss-security

http://www.openwall.com/lists/oss-security/2015/05/26/17

./channels/drdynvc/tsmf/tsmf_media.c:			snprintf(buf, sizeof(buf), "/tmp/FreeRDP_Frame_%d.ppm", frame_id);
                /* Dump a .ppm image for every 30 frames. Assuming the frame is in YUV format, we
                   extract the Y values to create a grayscale image. */
                static int f

[2015-05-26 15:02] hardening commented on #2655
On master this is guarded by a #if 0...
So I guess this is for previous versions

[2015-05-26 16:56] phongleq commented on #2651
Yes

[2015-05-26 17:04] bmiklautz commented on #2655
@kurtseifried what version or package are you referring to? - Both "tmp flaws" you have reported need either be activated on purpose (as in for debugging) or are not enabled at all (#if 0). Can you give more details were you see the actual problem?
I personally don't consider it a flaw if some debug code, that *isn't* enabled by default, is distributed in a release tarball.

[2015-05-26 17:10] bmiklautz commented on #2655
* The reported tsmf_media.c code exists in stable-1.0, stable-1.1 and master but is disabled by "#if 0"
* the tile related code (gdi.c) exists in stable-1.0 and stable-1.1 but is only enabled if DUMP_REMOTEFX_TILES is set explicitly.

[2015-05-27 02:54] Hewitt1410 commented on #2628
@hardening  Yes, i pulled it but this problem is not fixed.

[2015-05-27 06:50] elangelo opened #2656 "can no longer connect to gateway 0x2000D is back :("
Running latest git:
$ xfreerdp --version
This is FreeRDP version 1.2.4-dev (git 58b1995)

$ xfreerdp /v:MACHINE /d:DOMAIN /u:USERNAME /p:PASSWORD /g:GATEWAY /gd:GATEWAYDOMAIN /cert-ignore /gu:GATEWAYUSERNAME /gp:GATEWAYPASSWORD /multimon:force /f /gfx +gfx-progressive
[08:42:41:081] [6315:6316] [INFO][com.freerdp.client.common.cmdline] - loading channel drdynvc
[08:42:42:931] [6315:6316] [ERROR][c

[2015-05-27 08:45] StephanKrieger commented on #2389
@eledoux Thanks for this informations. I will test it this week i think.
I really hope this will fix my problems.

I will give a feedback after testing.

[2015-05-27 09:12] DarkWebster opened #2657 "FreeRDP closes while running RemoteApp, but server session stays the same."
Hello. Bear with me as I don't understand all the technicalities of Linux, but i'll try to help as much as I can.

The bug that occurs is that FreeRDP closes for no apparent reason while running a RemoteApp. I've managed to replicate this running Word 2016 Preview (and it also happens on another software on our company). On Word it happens when on New File I try to create a new file from template.

[2015-05-27 09:14] DarkWebster commented on #2657
Can't paste the whole valgrind log, so I paste what I think it's more useful to you.

==28386==
==28386== Use of uninitialised value of size 8
==28386==    at 0x53EA6D0: HashTable_Remove (HashTable.c:322)
==28386==    by 0x4E4BE93: xf_rail_window_delete (xf_rail.c:524)
==28386==    by 0x6CDB171: update_recv_window_info_order (window.c:389)
==28386==    by 0x6CDC068: update_recv_altsec_window_order

[2015-05-27 09:23] hardening commented on #2657
Any chance you would recompile with WITH_VALGRIND_MEMCHECK activated, this will drastically reduce the errors you will have.
Could you also run with the variable env WLOG_LEVEL=debug ? Thank you.

[2015-05-27 09:40] hardening commented on #2657
@DarkWebster perhaps this https://gist.github.com/hardening/bffdb7bde6370d482806 could help with your case.

[2015-05-27 09:58] DarkWebster commented on #2657
I have no idea where to put WITH_VALGRIND_MEMCHECK on cmake, could you explain?
The environment variable I know how to set.

However I've rebuilt FreeRDP with your diff and it doesn't crash anymore.

[2015-05-27 10:00] hardening commented on #2657
It would have been a cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON -DWITH_VALGRIND_MEMCHECK=ON. But if my gist fixes it, then we have it.

[2015-05-27 14:17] StephanKrieger commented on #2389
@eledoux I just wanted to test your branch.
I used the same command to start the FreeRDP:
xfreerdp /u:xxx /p:xxx /d:xxx /serial:COM1,/dev/ttyS0,Serial,permissive /cert-ignore /v:xxx

But i get the following errors:
[16:09:19:737] [2689:2690] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[16:09:19:737] [2689:2690] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpsn

[2015-05-28 04:14] colemickens commented on #2302
This is very, very, very frustrating. How can we disable horizontal scroll events from being transmitted?

[2015-05-28 04:20] colemickens commented on #2504
You want #2438.

[2015-05-28 14:27] czo commented on #2520
Now, i have time to play with it:

build with:
cmake -DCMAKE_CXX_COMPILER=/usr/bin/g++-4.2 -DCMAKE_C_COMPILER=/usr/bin/gcc-4.2 -DWITH_X11=ON -DWITH_DEBUG_ALL=ON -DCMAKE_BUILD_TYPE=Debug .

bash-3.2$ ./xfreerdp /version
This is FreeRDP version 1.2.4-dev (git ca274b6)

bash-3.2$ WLOG_LEVEL=debug ./xfreerdp /u:Administrator /v:172.16.30.252 /p:almafa /sec:nla
[16:24:00:148] [17914:a0b2e820] [DEBUG][c

[2015-05-29 12:09] hardening commented on #2655
Closing according to http://www.openwall.com/lists/oss-security/2015/05/27/8

[2015-05-29 12:09] #2655 closed

[2015-05-29 12:46] hardening commented on #2520
@awakecoding I gave a quick look at the code but I haven't seen anything obvious that would not be endian safe in the NLA code. Would you mind give a look ?

[2015-05-29 15:55] tristan-k opened #2662 "RemoteApp context menu glitches"
I'm using FreeRDP version 1.2.1-dev (git n/a) on Ubuntu 15.04 and Windows 7 Ultimate KVM with the RemoteApp option. Activating contextual menus results in graphics glichtes which make controlling the applications impossible. Could be a related to https://answers.launchpad.net/winconn/+question/240277 and https://github.com/FreeRDP/FreeRDP/issues/1528.

[code]

Here's a video to illustrate the issu

[2015-05-29 15:58] #2657 closed

[2015-05-29 15:59] hardening commented on #1528
@tristan-k, @tachylatus Some recent changes have been done on last master regarding remoteApp, could you give a try ? Thank you

[2015-05-29 16:16] tristan-k commented on #1528
Can you push the changes to the Remmina PPA for Ubuntu?

[2015-05-29 16:33] mega-hertz opened #2663 "printer redirection bug"
Hello, i can't find my printer in windows, the redirection don't work.
In terminal it say

LoadLibraryA: /usr/local/lib/freerdp/printer-client.so: cannot open shared object file: No such file or directory

Ubuntu vivid and last freerdp

can you help me?
thanks

[2015-05-29 16:42] mega-hertz opened #2664 "printer redirection bug"
Hello, i can't find my printer in my RDP with xfreerdp

I have ubuntu vivid and lastest freerdp

terminal say
LoadLibraryA: /usr/local/lib/freerdp/libprinter-client.so

thanks

[2015-05-29 21:22] hardening commented on #1528
@tristan-k Remmina PPA for Ubuntu: no. binary deb: you may find nightly builds here: https://github.com/FreeRDP/FreeRDP/wiki/Prebuilds

[2015-05-29 21:26] hardening commented on #2664
@mega-hertz I'd say that you have not compiled with printer redirection. Check your cmake configuration using "ccmake ." in the FreeRDP top directory

[2015-05-29 21:26] hardening commented on #2663
Looks very much like #2664 is a duplicate, is it ?

[2015-05-29 21:29] hardening commented on #2662
@tristan-k as said in #1528 you may try last master. Your video is very similar to a bug we have fixed with the polyline graphical order.

[2015-05-30 02:46] mega-hertz commented on #2663
Yes, I'm sorry

[2015-05-30 02:46] #2663 closed

[2015-05-30 07:14] feres123 commented on #2663
No problem

Le samedi 30 mai 2015, mega-hertz <notifications@github.com> a écrit :

[2015-05-30 09:29] mega-hertz commented on #2664
I don't understand, i'm sorry.

I tried again to reinstall freerdp with method ifconfig.dk/freerdp

when I type
mega@mega-desktop:~/FreeRDP$ cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON

install bug :

-- FreeRDP GIT
-- Git Revision 29de9b6
-- Finding recommended feature X11 for X11 (X11 client and server)
--     Disable feature X11 using "-DWITH_X11=OFF"
-- Skipping recommended feature Wayland f

[2015-05-30 09:38] tristan-k commented on #2662
It seems the issue is partly resolved. The glitches are still there but appear more randomly. Some context menus cant be open the first time. I uploaded another video here to illustrate the remaining problems: https://vimeo.com/129290965

[2015-05-30 10:31] tristan-k commented on #1528
Please see my comment here: https://github.com/FreeRDP/FreeRDP/issues/2662#issuecomment-107016969

[2015-05-30 10:57] tristan-k opened #2665 "adding freerdp-nightly-binaries repo to sources results in Packages 404 Not Found"
I followed the instructions to add the sources freerdp-nightly-binaries repo to my sources on Ubuntu 15.04.

The package is called freerdp-nightly and binaries and libraries are installed to /opt/freerdp-nightly/

Here's what I did:

[code]

Which results in this:

[code]

Is there something I'm doing wrong?

[2015-05-30 10:57] #2665 closed

[2015-05-30 11:00] tristan-k commented on #2665
I'm sorry. I just noticed that I missed the "DIST"  text passage.

[2015-05-30 12:22] hardening commented on #2664
@mega-hertz this is quite trivial compilation bug, did you follow the wiki to install your compilation env ? Obviously you're missing the pulseaudio dev headers, either disable pulse support or install the corresponding packages.

[2015-05-30 13:10] octoquad commented on #2399
Hi,

Apologies for the late response. Yes all keys work correctly.

Thanks

[2015-05-30 13:28] mega-hertz commented on #2664
I find in internet a new method
    sudo apt-add-repository ppa:freerdp-team/freerdp
    sudo apt-get update
    sudo apt-get install freerdp-x11

and It's good ! Printer and gateway ! I'm so happy, 3 days... i go in my bed!

[2015-05-30 14:51] #2664 closed

[2015-05-31 21:07] phongleq commented on #2477
This happened because the scrollview calculation for moving the RDP view is off. It is moving it higher than it should. I believe its currently moving it out side of the screen scope.

[2015-05-31 21:09] phongleq opened #2666 "iFreeRDP 64 bit?"
Is iFreeRDP 64-bit? Is there a way to make it 64 bit?

[2015-06-01 07:00] lemonmojo commented on #2282
Spoke too soon... After the PR was merged into master the issue returned to its original state. (Cannot connect through Win2k12R2 GWs)

[2015-06-01 07:16] lemonmojo commented on #2282
This time, the culprit seems to be https://github.com/FreeRDP/FreeRDP/commit/84ae1d1cfb96366c9b91cab9dd11533eb32ac0be.
When reverting the changes in this commit, I can connect just fine.

[2015-06-01 08:27] nfedera commented on #2282
@lemonmojo the changes in commit 84ae1d1 are perectly fine and absolutely required. IMO the only explanation for the behavior you see is that either the stream length is set to a wrong value somewhere else, a wrong handling of the return value of any of the functions touched in 84ae1d1 or a probably hard to find race condition.
You might want to add some debug messages in order to see which of the

[2015-06-01 08:29] hardening commented on #2282
@nfedera @lemonmojo gave me a test account on one of its failing platform, I'm gonna give a look.

[2015-06-01 09:02] nfedera commented on #2282
@hardening while you are on it something seems to be very very wrong with FreeRDP's concept of HRESULT which probably also affects rdg. E.g. in rdg.c the FAILED(hr) macro is used which returns TRUE if hr < 0. However, since in FreeRDP HRESULT is a typedef of ULONG (yes, wtf?) this FAILED macro will never work.

[2015-06-01 09:24] hardening commented on #2282
Note: it works nice with /sec:rdp, but fails with /sec:tls

[2015-06-01 11:32] bmiklautz commented on #2664
@mega-hertz nice it worked for you. However I just wonder what version you are using now? - Since it looks like the ppa wasn't update for a while.

[2015-06-01 13:02] gazzer3000 opened #2667 "[Ubuntu14.04] Freerdp 1.2.4 usb redirection udevman"
Hello everyone,

im using ubuntu 14.04 XFCE 32bit and build xfreerdp from here.

What i did so far is to download the latest freerdp-master.zip. After this i installed some packeges:
apt-get install uuid-dev
apt-get install libdbus-glib-1-dev
apt-get install dbus-*-dev
apt-get install libpcsclite-dev, libusb-1.0-0-dev
apt-get install libusb-1.0-0-dev
[Edit1]
I missed apt-get install libudev-dev

M

[2015-06-01 13:30] #2399 closed

[2015-06-01 15:17] DarkWebster opened #2668 "RemoteApp closes for no apparent reason, FreeRDP stays open"
The bug that occurs is that FreeRDP closes the window of an app called SGD, but xfreerdp stays open. This is kinda related to #2657.

However if I reopen it the SGD app presents the content correctly, however I can replicate it by closing the offending window and trying again to load that item. On a RemoteApp session inside Windows it works fine

Command line used: xfreerdp /v:REDACTED /d:REDACTED

[2015-06-01 15:17] DarkWebster commented on #2668
Valgrind Output:

==43906== Memcheck, a memory error detector
==43906== Copyright (C) 2002-2013, and GNU GPL'd, by Julian Seward et al.
==43906== Using Valgrind-3.10.1 and LibVEX; rerun with -h for copyright info
==43906== Command: xfreerdp /v:SVWCMSANTCB01 /d:cmsant.pt.local /load-balance-info:tsv://VMResource.1.Col_WIndows_81 /u:pedro.flores /p:Pf@2015 /app:||SGD /app-name:Word /cert-ignore +fon

[2015-06-02 12:14] unix196 opened #2671 "debian 8 jessie, freerdp 1.1.0 - problem with num lock"
Good day.
Debian GNU/Linux 8.0 (jessie)
Linux  3.16.0-4-686-pae #1 SMP Debian 3.16.7-ckt9-3~deb8u1 (2015-04-24) i686 GNU/Linux

All packet from stable repo.
dpkg -l | grep freerdp-x11
ii  freerdp-x11                           1.1.0~git20140921.1.440916e+dfsg1-4 i386

Terminal server: Windows server 2008 R1 64.

Don't properly work NumLock. Description: first I enable NumLock, can write digit in br

[2015-06-02 17:05] bmiklautz commented on #2595
Should be fixed on master and no feedback for a while.

[2015-06-02 17:05] #2595 closed

[2015-06-02 19:51] noxlesh commented on #1078
Using Ubuntu 15.04 x64 version has a same sort of problem with Windows 2003 R2 x64. Still need to use /gdi:sw option.

[2015-06-02 20:16] hardening commented on #1078
@noxlesh would you give a try with master ? We're not having a big maintenance effort on stable-1.0.

[2015-06-03 04:16] llyzs opened #2674 "ConfigPath .config/freerdp cannot be created on Windows"
In recent update I am consistently getting an error on Windows when trying to connect to any server using TLS/NLA. The error is in function certificate_store_init(), in which CreateDirectoryA() fails to create the folder "C:\Users\user\\.config\freerdp" because CreateDirectoryA is not recursive and there is no ".config" folder by default on Windows.

[2015-06-03 05:44] varun580 commented on #2431
Faced the same error "Failed to check file descriptor"  xfreerdp closing the connection within 2secs.
 Adding option  +auto-reconnect to the command  worked for me, this option makes an immediate suto reconnect as soon as the connection closes.

Eg command:  xfreerdp /u:varun /p:pass /g:<gateway-ip> /gd:<domaiin> /gu:varun /gp:password /sec:rdp +auto-reconnect  /f

[10:28:40:291] [18851:-147753600

[2015-06-04 14:07] zbonjourdhcu opened #2677 "Is it possible to specify the %CLIENTNAME% variable?"
When connecting to a Windows server, the clientname variable is assigned as the hostname of my connecting machine.  Is there a way to change this behavior?  Something like "/clientname:bogus-name"?

[2015-06-04 15:38] HenryJacques commented on #2677
Almost ;) Use "/client-hostname:bogus-name"

[2015-06-04 15:56] zbonjourdhcu commented on #2677
Awesome!  I don't see that in the Wiki.  Shouldn't it be added?
https://github.com/FreeRDP/FreeRDP/wiki/CommandLineInterface

[2015-06-04 15:59] HenryJacques commented on #2677
It should yes. But it is in the command line help (xfreerdp /help)

[2015-06-04 16:01] #2677 closed

[2015-06-05 05:20] dlfu commented on #2542
Hi all, is there a fix for this? im running into this issue also on master version 1.2.2-dev

[2015-06-05 05:39] giox069 opened #2678 "Please do/update a github release"
Could you please update the [Github FreeRDP Release Page](https://github.com/FreeRDP/FreeRDP/releases) with a newer release ? The last one dates back on September 12 of last year.
Some linux/*BSD distributions will update the ther repos only when that page will be updated.
Thank you.

[2015-06-05 06:00] CyberBotX commented on #2678
I would like to second this, as I am trying to update FreeBSD's Remmina port but the latest FreeRDP release is too old to allow that to happen.

[2015-06-05 07:46] StephanKrieger commented on #2389
@eledoux I have tested the new brach... and the issue seems to be fixed.
I didn't get any error after more then two days of permanent data transfer.

Is it right that the fix is now also integrated in the master branch?

[2015-06-05 07:53] antenore commented on #2678
:+1:

[2015-06-05 08:24] antenore commented on #2641
@awakecoding
Should I report this somewhere else? Thanks in advance!

[2015-06-05 08:44] SokoloffA commented on #1078
I'm using xfreerdp from master with WinServer 2003 R2. And I have same troubles. When I start xfreerdp I have followed errors:
[code]
The interval of crashes isn't regular, sometimes minutes and sometimes several hours, look like it depends on my activity in session. So, periodically xfreerdp crashes with messages:
[code]

I want to help, and I ready to collect some additional debug info and send

[2015-06-05 08:51] endriu0 opened #2679 "Mouse cursor disappears when using specific apps like notes in remote session"
Hi,

Been struggling with this for a while now - mouse cursor would disappear when going over options in databases etc. Seems that the cursor disappears when it's supposed to change to a small hand. Issue exists on the latest commit as well but not in remmina.

Attaching photos as screenshots do not show the cursor.... - is that something that can be checked ? I can do any testing if required.

Ex

[2015-06-05 08:55] eledoux commented on #2389
@StephanKrieger yes the fix is now merged in the master branch. Thanks a lot for the feedback, you may now close the issue.

[2015-06-05 14:17] StephanKrieger commented on #2389
@eledoux I will test the master branch over the weekend. If this test is positive, i will close this issue.
Thanks a lot for your help.

[2015-06-05 19:37] phongleq commented on #2162
Is there a update to this diff? Im trying to get the current master to build for 64bit.

[2015-06-05 19:51] phongleq opened #2680 "arm64 Build OpenSSL"
How would I go at making a the ssl for arm64?

[2015-06-06 12:46] Skool opened #2681 "What is the layout ID in keyboard_layout.c ?"
Hi all,

I'm trying to add support for fr-bepo variant.

I've made changes in keyboard.h, keyboard_layout.c and xkb_layouts_ids.c but I dont understand what the ID in libfreerdp/locale/keyboard_layout.c means.

In keyboard.h, I've seen that the ID is the MS keyboard layout ID, and I've found it in my registry, but for the other ID, I dont understand.

I've tried with a new ID different from all ot

[2015-06-08 08:23] StephanKrieger commented on #2389
@eledoux The test with the master branch was positive, so the issue is now close.

[2015-06-08 08:23] #2389 closed

[2015-06-08 09:16] Skool commented on #2681
Hi,

I've found my information in the windows registry, but the Layout ID for my bépo layout is the same that for German Neo (who is not installed on my Windows installation) : 0x00C0

Is there a potential issue to have 2 same Layout ID ? The compil works.

Thanks

[2015-06-08 12:05] bmiklautz commented on #2651
@phongleq after the script run successfully did you check the folder external/openssl/lib/? In there you should fine two Mach-O universal binaries (libssl.a and libcrypto.a) which contain *all* built architectures. I just tested on our build and test machine. If this doesn't work for you can you please add a more detailed information on the exact error you are getting ("fail to generate one for ar

[2015-06-08 12:06] bmiklautz commented on #2389
@eledoux thanks for the efforts!

[2015-06-08 12:08] bmiklautz commented on #2678
There wasn't a official release since then. We will update the release page when there is actually a new release we are happy with.

[2015-06-08 12:20] bmiklautz commented on #2680
@phongleq this is more a openssl than FreeRDP specific question. If you search the web you can find a lot of references on this topic.

[2015-06-08 12:38] phongleq commented on #2651
There are two binaries there, but after i create the Xcode project Xcode complains that the openssl is not build for armv7 or armv7s. I get this when building the script:

[code]

So im guessing they were not added to the universal binary. So I looked into the logs and it seems the logs had this as the error:

```clang: error: invalid version number in '-miphoneos-version-min=.sd'```

I was previo

[2015-06-08 12:41] phongleq commented on #2680
Thanks for the response. I did tried different version of openssl that would compile a arm64 version of it. My problem was that after doing so I would never be able to connect with it like I would with the script provided in FreeRDP. I know that there is a patch that is applied to the openssl in FreeRDP and wasn't sure if there was something special I would need to do to get a different version of

[2015-06-08 14:27] bmiklautz commented on #2651
@phongleq can you test if the branch ios/openssl in my repository fixes your problem? -https://github.com/bmiklautz/FreeRDP/tree/ios/openssl

[2015-06-08 14:28] bmiklautz commented on #2680
@phongleq the applied patch was only a work around in order to build openssl. Can you test if the branch ios/openssl in my repository fixes your problem? -https://github.com/bmiklautz/FreeRDP/tree/ios/openssl

[2015-06-08 15:10] Skool commented on #2681
discussion moved to pull request #2684

[2015-06-08 15:10] #2681 closed

[2015-06-08 15:14] DonMag commented on #2651
@bmiklautz - I just did a quick test, as I too have been using OpenSSL libs built from another source... The OpenSSL-DownloadAndBuild.command script in your referenced branch does indeed appear to fix this issue, as well as the arm64 issue here: https://github.com/FreeRDP/FreeRDP/issues/2680

- Don

[2015-06-08 15:35] bmiklautz commented on #2651
@DonMag thank you for the feedback. Will see that this finds it way to master ;)

[2015-06-08 15:35] lemonmojo commented on #2651
@bmiklautz I too can confirm that your branch fixes the issue.

[2015-06-08 16:23] CyberBotX commented on #2678
Can you give any timeline to when they might happen? The 1.2.0-beta1+android9 release isn't sufficient to update Remmina to their 1.2 releases.

[2015-06-08 19:54] hardening commented on #515
@wanghui58668 could you try with current master and see it still fails  ?

[2015-06-08 22:20] phongleq commented on #2680
Cool it works perfectly! Though I am having issues with building the project for ARM64. I added to the arm64 to the iOSToolchain.cmake file like so:

```set (IOS_ARCH arm64 armv7 armv7s)```

Im not sure if there is more to do than that , but I do get a crash with winpr library. It crashes at the line with this:

```*pType = wHandle->Type;```

in the handler.h file

[2015-06-08 23:06] phongleq commented on #2651
This worked for me. Just a off note what would the procedure to build iFreeRDP for arm64?

[2015-06-09 00:12] phongleq commented on #2680
Ok nevermind I found out that you could do this https://github.com/FreeRDP/FreeRDP/issues/2162

[2015-06-09 08:33] bmiklautz commented on #2678
@CyberBotX there is no fixed timeline at the moment. Sorry to say but it's ready when it's ready.

[2015-06-09 10:38] bmiklautz commented on #2651
@phongleq it's not yet tested and supported (I think there are some issues left). However if you have a look at #2162 you will find more information on that.

[2015-06-09 10:46] bmiklautz opened #2685 "iOS arm64 bit support"
Add support for the 64 bit arm architecture:
- [ ] update ios cmake toolchain file (#2162)
  - [ ] add arm64 support
  - [ ] add support for 64 bit simulator (x86_64)
- [x] update openssl build script (#2651, #2680) - fixed with PR #2686
- [ ] update and test code/types for 64 bit arm (#2162)

[2015-06-09 15:21] ferasd commented on #1579
Hi ,
does Remoteapp works with wfreerdp.exe ?

i have tried it with stable-1.1 branch and master , for both the behavior is the same .
i am getting a black screen that disconnects after a while .

i am trying to connect from win8 to win server 2012 .
and this is the command i am running :

wfreerdp.exe /u:user /p:pass /app:"||calc" /v:server

any advice , help ??

thanks

[2015-06-09 16:48] chrisdavis925 commented on #2431
Just checking on this again - anyone have any update? Would love to see a fix for this, but I don't have the knowledge on how to fix it.

I super appreciate the dev support on this issue :)

[2015-06-09 22:07] hardening commented on #2679
@endriu0 could you try to recompile with -DWITH_DEBUG_RAIL=ON and send the output.

[2015-06-09 22:08] hardening commented on #2668
@DarkWebster could try recompiling with -DWITH_DEBUG_RAIL=ON and post the logs ? Thank you

[2015-06-09 22:12] endriu0 commented on #2679
Ok will try it tomorrow.  Thanks
On 9 Jun 2015 23:07, "Hardening" <notifications@github.com> wrote:

[2015-06-10 08:50] endriu0 commented on #2679
Hi, checked now - after loading newest master and compiling with the above option here's the output :

[proxychains] config file found: /etc/proxychains.conf
[proxychains] preloading /usr/lib/libproxychains4.so
[proxychains] DLL init: proxychains-ng 4.8.1
[09:44:05:916] [27731:27734] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[09:44:05:916] [27731:27734] [INFO][com.freerdp.c

[2015-06-10 14:59] macarthor commented on #2515
@hardening but what users see for a file starting with a dot in linux is that it's hidden, both in "ls" and file manager. what do you think?

[2015-06-10 15:05] macarthor commented on #1060
@believeyourself what's the full path of you xfreerdp-server binary? is it marked with executable? it seems you are a newbie of linux :)

try:
1. sudo chmod +x /full/path/to/xfreerdp-server, and
2. sudo vim /etc/ld.conf.d/freerdp.conf, and add /full/path/to/xfreerdp-server/lib/i386-xxx, and
3. sudo ldconfig, and
4. /full/path/to/xfreerdp-server <any options you want>, and
5. done

[2015-06-10 16:27] ithh commented on #2431
So this problem went away for a while and recently came back. I was connecting through a Windows 2008R2 Gateway server without issues.

It was recently upgraded to 2012R2 and I was not able to connect at all at first. I finally noticed I had to force the gateway transport: /gt:rpc otherwise it won't connect (ERR_CONNECT_TRANSPORT_FAILED).

With RPC I connect okay but I get dropped after a minute o

[2015-06-10 16:34] chrisdavis925 commented on #2431
I have been testing and building latest builds from Master and have always experienced the "Failed to check FreeRDP file descriptor" when connecting to a Windows 7 Desktop via Windows Server 2012 R2 Gateway. This typically happens within a few minutes of connecting.

[2015-06-10 18:17] phongleq commented on #2680
So I got it setup using the new script and ran into a issue when trying to connect to a remote desktop

[code]

[2015-06-10 19:42] der-eismann opened #2689 ""Failed to check FreeRDP file descriptor" with IP-based redirection"
Hey everyone,

I am currently building a thin client for my workplace which uses 50 TS (Windows 2008 R2) with IP-based redirection. OS is Ubuntu Mate 15.04 on a Raspberry Pi 2 and on a normal x86 PC.

Everytime I try to connect to our farm it's showing "Welcome!" and after 1-2 seconds it suddenly disconnects with the terminal showing

[code]

This happens with version 1.1.0 from the official repos

[2015-06-10 21:21] hardening commented on #2679
@endriu0 ok I see the problem, conversion for 16bpp cursor is not implemented.
@nfedera I know you are our local expert for cursors conversion, it would be so nice if you could implement it.

[2015-06-10 22:16] nfedera commented on #2679
@hardening re WITH_DEBUG_RAIL ? This problem is not specific to rail - right ?
@endriu0 Which program/software can be installed to reproduce the issue ?

[2015-06-10 22:22] endriu0 commented on #2679
Seen this issue mainly in Lotus Notes 9 but will check other apps as well
tomorrow and give you a list.

On Wed, 10 Jun 2015 23:16 Norbert Federa <notifications@github.com> wrote:

[2015-06-10 23:29] edgar-silva commented on #2567
Hello here i'm again
On ubuntu and this is FreeRDP version 1.0.2
Server 2012, i tried many things but always end up on non working dropdown
Thnks for help!

[2015-06-11 06:42] endriu0 commented on #2679
@nfedera sorry double checked today and can only see the issue in Lotus Notes 8.5.2 and 8.5.3. All the other apps I tried seem to work ok and sometimes also seen the issue when using mstsc from my windows host to another one before.

I will keep trying other apps just to see is there anything else that you can update.

[2015-06-11 07:01] hardening commented on #2679
@nfedera yep you're right, it has nothing RAIL specific

[2015-06-11 08:43] hardening commented on #2567
@edgar-silva could you give a try with the master version, if you wish there's prebuilt version here => https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2015-06-11 11:16] nfedera commented on #2679
Just saw that we do already have an existing issue #2460 for this

[2015-06-11 12:24] njekto commented on #2139
compiled the current master (1.2.4-dev) and it seems to work just fine. no disconnects so far

[2015-06-11 12:46] lemonmojo commented on #2460
https://github.com/FreeRDP/FreeRDP/issues/2692 definitely fixes 16-bit cursors, but 8-bit cursors are still not working.

To reproduce this, connect to a Windows 2000 machine and set the cursor scheme to anything but the default (Windows-Standard).

It seems like, MS converted all cursors (even if they look unchanged) to 16-bit in XP, so the problem doesn't crops up there.

![freerdp_cursors](http

[2015-06-11 19:14] #2460 closed

[2015-06-11 19:14] endriu0 commented on #2139
Same here with current master connection is stable and network disconnects went away as well. Closing.

[2015-06-11 19:14] #2139 closed

[2015-06-11 22:14] akallabeth commented on #2689
@der-eismann You can enable debugging logs by setting ```WLOG_LEVEL=trace```. That should help track down the issue.

[2015-06-12 07:47] bmiklautz opened #2695 "Clean up cmake exports"
When FreeRDP is built with -DSTATIC_CHANNELS=ON the client side channels are linked together into libfreerdp-client.so but the generated .a files of the channels get installed as well although they are not required. To fix this the installs of the channels need to be dependent of STATIC_CHANNELS

Todos:
- [x] make channel installs dependent of STATIC_CHANNELS
- [x] update the packages accordingly

[2015-06-12 08:46] der-eismann commented on #2689
Doesn't really look promising to me. This is everything with `com.freerdp.core.redirection`:

    [10:43:41:967] [1704:1705] [DEBUG][com.freerdp.core.redirection] - flags: 0x0400, redirFlags: 0x0B0D length: 198, sessionID: 0xC776E04C
    [10:43:41:968] [1704:1705] [DEBUG][com.freerdp.core.redirection] - redirectionFlags = {
    [10:43:41:968] [1704:1705] [DEBUG][com.freerdp.core.redirection] - 	LB

[2015-06-12 11:40] endriu0 commented on #2679
PR now Merged - issue solved. Closing.

[2015-06-12 11:40] #2679 closed

[2015-06-12 12:21] akallabeth commented on #2689
What kind of authentication are you using?
Maybe it is an authentication issue. For that you'd need to compile FreeRDP from source with ```DEBUG_NEGO```, ```DEBUG_NLA```, ```DEBUG_NTLM```, ```DEBUG_REDIR``` enabled for extended debug logging compiled in.

[2015-06-15 06:38] janhieber opened #2700 "can not connect"
Hi, when i try to specify command line options, xfreerdp only shows the help dialog.
For example, the /admin and /v options work, but when i specify /u i only get the help dialog, no errors.
xfreerdp /admin /u:user123@domainname /v:192.168.0.30

And even then, i get protocol errors...
[08:35:05:852] [19527:19528] [ERROR][com.freerdp.core] - connect
[08:35:05:853] [19527:19528] [ERROR][com.freerdp.

[2015-06-15 06:58] HenryJacques commented on #2700
Not sure the /u parameter allows you to use the UPN login format.
Instead of /u:login@domain, use /u:login /d:domain

Cheers

[2015-06-15 07:49] akallabeth commented on #2700
@janhieber @HenryJacques is right, UPN format was not supported by xfreerdp. Try #2701, added support in that pull.

[2015-06-15 09:23] freechelmi commented on #729
We have the same problem here :
connected to 192.168.2.51:3389
pduType bad SSL_read: I/O error

Connection with remmina is OK though.

[2015-06-15 10:20] #2700 closed

[2015-06-15 12:53] hardening commented on #729
And does it work with master ?

[2015-06-15 14:56] PedroDBFlores commented on #2668
Last lines of freerdp log:
[14:30:38:158] [15648:15649] [DEBUG][com.freerdp.core.update] - MemBlt
[14:30:38:158] [15648:15649] [DEBUG][com.freerdp.core.update] - CacheBitmapCompressedV2
[14:30:38:161] [15648:15649] [DEBUG][com.freerdp.core.update] - MemBlt
[14:30:38:161] [15648:15649] [DEBUG][com.freerdp.core.update] - CacheBitmapCompressedV2
[14:30:38:167] [15648:15649] [DEBUG][com.freerdp.core.u

[2015-06-15 15:00] PedroDBFlores commented on #2668
Valgrind:

==15648== Memcheck, a memory error detector
==15648== Copyright (C) 2002-2013, and GNU GPL'd, by Julian Seward et al.
==15648== Using Valgrind-3.10.1 and LibVEX; rerun with -h for copyright info
==15648== Command: xfreerdp /v:SVWCMSANTCB01 /d:cmsant.pt.local /load-balance-info:tsv://VMResource.1.Col_WIndows_81 /u:pedro.flores /p:Pf@2015 /app:||SGD /app-name:SGD /cert-ignore +fonts -them

[2015-06-15 22:01] pffff commented on #2369
still not solved?

[2015-06-16 07:18] lemonmojo commented on #2184
@Vinche59 Hey! Any update on this?

[2015-06-16 10:10] lemonmojo commented on #2184
Update: Just tested Smart Card redirection on OS X 10.11 El Capitan DP and at least for me it's back to working again!

[2015-06-16 10:36] lemonmojo commented on #2184
On the other side, [this](http://ludovicrousseau.blogspot.fr/2015/06/pcsc-framework-removed-in-mac-os-x-1011.html) isn't very promising.... Although I cannot confirm the removal in my installation. The framework is still there under /System/Library/Frameworks/PCSC.framework.

[2015-06-16 14:36] bmiklautz commented on #2369
@pffff pull requests are very welcome..

[2015-06-16 18:51] der-eismann commented on #2689
I tried `cmake -DCMAKE_BUILD_TYPE=Debug -WITH_DEBUG_ALL=ON -DWITH_SSE2=ON -DWITH_CUPS=on -DWITH_WAYLAND=off -DWITH_PULSE=on -DCMAKE_INSTALL_PREFIX:PATH=/opt/remmina_devel/freerdp .` but I get the same output as before. I'll come into the IRC channel later, maybe someone can help me.

But apart from that it looks like it is the same old issue as #1309... sad, that this still isn't fixed.

[2015-06-17 20:26] chrisdavis925 commented on #2689
I would love to see a fix for this. Broker redirection hasn't been working for a while now.

[2015-06-18 02:51] llyzs commented on #2674
Issue was fixed by #2675. As a side note, the config path on Windows now moved to C:\Users\user\AppData\Roaming\freerdp by #2670.

[2015-06-18 02:51] #2674 closed

[2015-06-18 10:51] user1007017 opened #2707 "multimon smart-sizing correct, but in fullscreen shows display on primary monitor only"
Hi
I'm experiencing the following issue: Multimon smart-sizing is correct but in fullscreen displays whole screen only on primary monitor
The whole screen 1920x1200+2560x1440 is in fullscreen forced to 1920x1200 (shrinks)

I have to mention that it did work earlier.
What can cause this issue?

BTW Client is Windows 8.1

[code]

[2015-06-18 14:23] bmiklautz commented on #2707
@b987123 you mean the server is windows 8.1?

[2015-06-18 14:53] b987123 commented on #2707
@bmiklautz
Thanks, yes, the "server"  (client) with the rdp-server
I have now compiled FreeRDP version 1.1.0-beta1 (git 1.1.0-beta+2013071101-162-g770c67)
and there fullscreen span worked flawless.

I've tried FreeRDP version 1.2.3-dev and 1.2.4-dev (git c8731ea) but there is the problem as mentioned.

[2015-06-18 15:37] mjmayer commented on #2662
I was experiencing a slightly different video glitch, but its behavior seems similar.  When bringing up context menus I see either a black box if I have no other remote apps running or if I have other apps running I see an overlay of another part of the remoteapp.
https://youtu.be/BogVZPmHftU
shows the glicth. I attempted to compile from source and the problem persists.
$ xfreerdp --version
This i

[2015-06-19 05:26] lanscene commented on #2606
@bmiklautz @shattars3d I have the same problem, and it exists both in IFreeRDP Release at AppStore and self-building app which I fetch from the master branch in github. It seems there is a keyboard overlap
in such situation.

[2015-06-19 05:45] lanscene commented on #2477
@phongleq you got it
@kaizirlewagen the keyboard layout calculation in RDPSessionViewController.m(master branch) is wrong,  you have to use source code slice in stable-1.1 branch. you should replace related functions with keyboardWillShow/keyboardDidShow/keyboardWillHide/keyboardDidHide in stable-1.1 branch.

[2015-06-19 05:54] kaizirlewagen commented on #2477
@phongleq
@lanscene

Thank you for the answer, i will check it out.

[2015-06-19 06:55] DejavuDmitry opened #2709 "Illegal Instruction Lubuntu 14.10"
Hi all! Have a some problem on one of my systems
[code]

Please help me someone.

[2015-06-19 07:00] hardening commented on #2709
@DejavuDmitry you should use valgrind on xfreerdp itself not the bash script launching xfreerdp...

[2015-06-19 07:11] DejavuDmitry commented on #2709
OK. And what about this?
[code]

[2015-06-19 07:48] giovannitarter commented on #2707
Hi.
I'm experiencing a similar issue on the Linux Client.
The /multimon parameter makes xfreerdp spawn a fullscreen window only on the primary monitor when using WM openbox 3.5 and 3.6.
Using metacity as WM, the fullscreen window is displayed on both monitors.

The regression was introduced on commit bad2f138c183b84c996ec16b4f2e0aaf77b54d7c, the issue is not present on the commits before.

Config:

[2015-06-19 09:35] hardening commented on #2709
@DejavuDmitry just add valgrind on the line that launch xfreerdp in you shell script

[2015-06-19 09:37] DejavuDmitry commented on #2709
I found this error on multiple computers. Their parameters:
First system:
[code]
Second one:
[code]
Third:
[code]
Fourth:

[code]

[2015-06-19 09:41] nellynelson commented on #2709
stop messaging me

     On Friday, June 19, 2015 10:35 AM, Hardening <notifications@github.com> wrote:

 @DejavuDmitry just add valgrind on the line that launch xfreerdp in you shell script—
Reply to this email directly or view it on GitHub.

[2015-06-19 09:59] bmiklautz commented on #2709
@DejavuDmitry what are you using to compile FreeRDP? I'm not very clear on what and where the problem happens yet :(.

Can you provide me a back trace when the problem happens?

* run the final command without the shell script in gdb (gdb  --args xfreerdp $YOURPARAMETERS)
* if the problems happens tell gdb to create the backtrace "thread apply all bt"

Please make sure the gdb output is in English

[2015-06-19 13:23] DejavuDmitry commented on #2709
bmiklautz, i compile by this command
[code]
[code]

[2015-06-19 13:49] hardening commented on #2709
So the cause is the 0 division !

[2015-06-19 13:59] bmiklautz commented on #2709
@DejavuDmitry what is the remote site you are connecting to?

[2015-06-19 14:01] bmiklautz commented on #2709
@DejavuDmitry could you also add a backtrace? - If the problem happens just type bt in gdb.

[2015-06-19 14:04] DejavuDmitry commented on #2709
@hardening  I'm new to the dbg. After *run* and waiting for a stopping of the process i must type bt? Or not? I cant understand you fully. Sorry. Need your help.

[2015-06-19 14:04] bmiklautz commented on #2521
Duplicate. See #2709 for more information.

[2015-06-19 14:04] #2521 closed

[2015-06-19 14:05] bmiklautz commented on #2709
@DejavuDmitry yes please. Run the debugging as you did before and if the problem happens and (gdb) is shown just type "bt" and paste us the output.

[2015-06-19 14:06] DejavuDmitry commented on #2709
@hardening  this?
[code]

[2015-06-19 14:09] bmiklautz commented on #2709
@DejavuDmitry I'm not @hardening but yes, thank you.

[2015-06-19 14:10] bmiklautz commented on #2709
@DejavuDmitry one thing left can you tell us what windows version you are connecting to?

[2015-06-19 14:13] DejavuDmitry commented on #2709
@bmiklautz, for example this host:
![2015-06-19-171159_1920x1080_scrot](https://cloud.githubusercontent.com/assets/9697445/8255152/8c72c59c-16a6-11e5-9263-9597de402c60.png)

[2015-06-19 15:26] bmiklautz commented on #2709
@DejavuDmitry I'm still not very sure why you get a SIGILL if there is, as @hardening said, a division by zero. Anyway can you try building my divbyzero branch (https://github.com/bmiklautz/FreeRDP/tree/divbyzero) and give me feedback if this fixes the problem for you?

[2015-06-20 11:12] ahorn42 opened #2712 "Getting RAIL_EXEC_E_FAIL error when trying to connect to remote app on Windows Server 2012"
Hi,

I try to connect to a remote app on a Windows Server 2012 R2 from a Kubuntu 14.04 LTS with the following command (I am using freerdp 1.0.2)

[code]

The command is basically created by the programm winconn, but I executed it manually. The connection fails with the following ouput:

[code]

I run a similar setup with Windows Server 2008 R2 and on this setup it works with the exact same command

[2015-06-20 15:11] hardening commented on #2712
I'd bet that the application is not allowed to be run. There's a registry key listing allowed commands... (google is your friend)

[2015-06-21 20:39] guitar1 commented on #2712
Hmm - but I am able to use the remote app with the windows rdp client on a windows machine. Shouldn't it also have some troubles, if a registry key is missing?

[2015-06-21 21:31] lkraav commented on #729
`net-misc/freerdp-1.2.1_pre20150326`

I'm attempting this against Windows 10 TP 10130, so that oculd also be a reason it's not working.

`
$ [-] xfreerdp /app:"||Skype" /v:ten
[00:29:39:895] [13834:13835] [INFO][com.freerdp.client.common.cmdline] - loading channel rail
[00:29:39:896] [13834:13835] [INFO][com.freerdp.client.x11] - No user name set. - Using login name: leho
Password:
[00:29:42:136]

[2015-06-22 05:29] DejavuDmitry commented on #2709
So sad...
[code]

[2015-06-22 06:15] hardening commented on #729
@lkraav I think this bug is fixed on master, you should give a try

[2015-06-22 09:18] bmiklautz commented on #2709
@DejavuDmitry then it must be some instructions that are not supported on your CPU. Please try compiling without SSE2 (-DWITH_SSE2=OFF).

[2015-06-22 09:22] bmiklautz commented on #2709
@DejavuDmitry can you add the information of /proc/cpuinfo for the machines where it doesn't work?

[2015-06-22 10:20] DejavuDmitry commented on #2709
@bmiklautz, YES! Finally

[2015-06-22 10:21] bmiklautz commented on #2709
@DejavuDmitry meaning that this solved your problem?! - If so please close the issue.

[2015-06-22 10:23] #2709 closed

[2015-06-22 16:48] lkraav commented on #729
Still fails :/

[code]

[2015-06-22 19:52] IQAndreas opened #2715 "Printer showing up on the remote computer, but print job shows up as "held""
After reinstalling Ubuntu 15.04, my printer would no longer show up in the remote Windows machine when using Remmina. The printer currently works just fine in Linux, outside of the RDP connection. After much toiling and pulling of hair, I finally purged `remmina` and `freerdp` from my system, and started fresh [by compiling it locally](https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.0

[2015-06-23 09:05] akallabeth commented on #2689
@der-eismann Could you try with ```auto-reconnect```?

[2015-06-23 09:49] cloudfirst opened #2718 "Remote App function works for windows 2008 Local User, but auto log off for domain user"
I meet a problem when I try to connect to Remote App in windows 2008.
below is the detail steps
1 a windows 2008 server with terminal service is installed & configure, which is joined a domain.
2. in Terminal service, RDP connection property, the security level is set to "RDP"
3. I used aFreeRDP (android app) to connect to RemoteAPP, like notepad, it works well for both local user account and doma

[2015-06-23 10:04] cloudfirst commented on #2718
the freerdp-x11 package is 1.1.0, while the afreeRDP for android is 1.2.0.
so could it be a bug that fix in version 1.2.0 ?

[2015-06-23 10:07] cloudfirst opened #2720 "how to call aFreeRDP in another Android APP to connect to a remote App ?"
I am working in an android app that get the hostname, user name and password, as well as remote program name, and use intent mechanism to invoke session activity in aFreeRDP.

however, I can't find any tech document on how to finish this invocation .
can any one help on this ?

[2015-06-23 12:35] bmiklautz commented on #2720
@cloudfirst there is no real documentation on the Android client at the moment. Have a look to FreeRDP/client/Android/FreeRDPCore to see how the intent(s).

If you have further questions visit our irc channel (#freerdp on freenode) or write a mail to the mailing list but please don't add questions in the issue tracker.

[2015-06-23 12:54] HenryJacques commented on #2667
How did you get it working? By adding -DCHANNEL_URBDRC=ON ?

Did you try as root?
(the udevman error seems to be irrelevant, see issue #2113)

[2015-06-23 13:00] HenryJacques opened #2722 "Redirecting USB devices works only as root"
Hello,

I am using Freerdp Master from today (June 23rd) on Ubuntu 12.04 64 bits.
If I try to redirect a USB device as standard user (using /usb:id,dev:XXXX:YYYY), I get a libusb error:

[14:47:47:274] [10427:10428] [INFO][com.freerdp.channels.drdynvc.client] - Loading Dynamic Virtual Channel urbdrc
[14:47:47:276] [10427:10428] [WARN][com.freerdp.channels.urbdrc.client] - bus:0 dev:0 not exist in

[2015-06-23 14:55] cloudfirst commented on #2718
this bug is gone in nightly build.

[2015-06-23 14:56] bmiklautz commented on #2718
@cloudfirst nice. That means it's fixed on master. Can we close the issue?

[2015-06-23 19:08] chrisdavis925 opened #2726 "Memory Leak?"
Hi,

I've been observing XfreeRDP (build from the latest master today) and saw that the session started at 87.8MB of memory usage. One hour later, it's at 90.4MB. It slowly climbs overtime, but never goes down.

Is this by design? Will it eventually flush from memory?

I am considering deploying XfreeRDP as a thin client solution, but my concern is that memory usage will continue to climb without

[2015-06-23 19:09] chrisdavis925 commented on #2431
It appears that the most recent master fixed the problems with 2012 R2 gateway.
It seems to me like there might be a slow memory leak with this version, though.

[2015-06-23 19:34] akallabeth commented on #2726
@chrisdavis925 A few huge pulls have been merged today and some smaller ones are going to be merged soon fixing issues like small leaks. You can either try to merge outstanding pulls with memory leak fixes yourself and test again or wait for upstream to merge them.
If you need something a little more stable you can also try out the stable branch.

[2015-06-23 20:10] hardening commented on #2726
@chrisdavis925 there's all kind of caches in RDP, perhaps it's just the cache that getting filled... IIRC a server-side RDP sessions takes 100MB of cache.

[2015-06-23 23:14] chrisdavis925 commented on #2431
I spoke too soon. It seems to disconnect a lot less, but it still disconnects with the same file descriptor error.

[2015-06-24 02:00] cloudfirst commented on #2718
After further verification, the bug is still there. below is the log
it display windows desktop successfully and automatically log out immediately.
-----------------------------------------------------------------------------------------------------------------------
root@thinclient:~# /opt/freerdp-nightly/bin/xfreerdp /u:thomas@educloud.com /p:11111111 /app:"notepad" /f /v:192.168.96.132
[10:02:3

[2015-06-24 08:44] akallabeth commented on #2722
@HenryJacques You need to adjust your device permissions. Have a look at the devices in ```/dev/``` to get current permissions (maybe you just lack the proper group membership for your user) or you need to change the udev rules for the usb devices to be accessible by non root users.

[2015-06-24 09:53] HenryJacques commented on #2722
@akallabeth Thanks for your response. You're absolutely right. I've followed what was said in http://ubuntuforums.org/showthread.php?t=901891

Juste created a new rules.d file with a permission of 0666 and it was correctly redirected with freerdp.

However what about the following error?
[14:48:44:895] [10760:10771] [ERROR][com.freerdp.channels.urbdrc.client] - unknown FunctionId 0x1

Cheers

[2015-06-24 14:22] hardening commented on #2431
@chrisdavis925 we're aware of an issue with TSG + Tls security, it doesn't happen when using RDP security. Would you mind give a try ?

[2015-06-24 15:28] chrisdavis925 commented on #2431
@hardening - I am using /gt:rpc , which is the only way the connection works. The disconnects still happen with master pulled yesterday. I will say it appears to disconnect less, but it does still disconnect with the file descriptor error.

[2015-06-25 09:04] LGLumi commented on #2656
Same for me. Authentication in 1.2.4 through GW does not seem to work properly. Same (kinda long) command line that worked for 1.2.0 didn't work for 1.2.4, then I shorten it to something like you have and it didn't work aswell. This error seems to be that you wrong authentication, but I know pretty sure that in my case I have it right... no idea what is going on.

[2015-06-25 10:17] LGLumi opened #2730 "1.2.4. /u: required otherwise replaced by current user - intended?"
While testing (without success) connection through GWs I have noticed that /u: is now required or replaced by current user which I do not think is good deal. If I have more users that might connect from same machine I come to conclusion that only way to actualy fix it is to set /u:"" but tbh, why this change? If someone wanted fixed user, he used it, but such automatic way does not seem good and t

[2015-06-25 10:47] akallabeth commented on #2730
@LGLumi If you would like to enter your credentials afterward, have a look at #2723 which allows skipping all credentials on the command line and requesting them on connect.

[2015-06-25 11:00] bmiklautz commented on #2730
@LGLumi this change is around quite a while (since December 2014 to be precise). One common use case, for example when administering remote machines, is to simply connect (often without any extra arguments except the host name). In this case it is very practical to have a name set. But besides that when testing it is also very convenient.

About your complaint: I don't know your exact setup but if

[2015-06-25 11:06] LGLumi commented on #2730
I just meant that it is not nessesary, not that it is faulty. If you connect to Windows RDP then you can log afterwards, in that case passive role of ignoring missing username was quite nice. So, I meant it might confuse people that do exactly the same thing.

For the GW/not GW should it be switched? There might be point when you are authorising by another credentials to GW and you want to log wit

[2015-06-25 11:06] #2730 closed

[2015-06-25 13:12] giox069 opened #2732 "Regression in software GDI"
The commit https://github.com/FreeRDP/FreeRDP/commit/7c3f8f33abcca6587146298595534ca591d23510 (file glyph.c) introduced the following problem when using xfreerdp /gdi:sw
See the screenshot:
![selezione_004](https://cloud.githubusercontent.com/assets/5477803/8354078/52964eea-1b45-11e5-9950-ab2acb015332.png)
The source of the problem is in libfreerdp/gdi/32bpp.c (and 16bpp.c), function FillRect_32bp

[2015-06-25 13:58] HenryJacques opened #2733 "xfreerdp hangs when closing Windows session with redirected smartcard"
Hello,

I am using FreeRDP from GIT Master branch (from today) on a Ubuntu 12.04 LTS5 to connect to
- a Windows 2012 R2
- a Windows 8.1 Entreprise

Using the following command line:

xfreerdp /v:w8-test +toggle-fullscreen /cert-ignore +compression /compression-level:2 +heartbeat /d:DOMAIN /u:user /p:password /f /kbd:french +auto-reconnect /client-hostname:HOST /sec:nla /smartcard:0f14:0038

On bot

[2015-06-26 06:04] wapsi commented on #2158
Any progress? Some branch that could be tested?

[2015-06-26 07:48] bmiklautz commented on #2158
@wapsi you can try our nightly builds an check if this is still present on master.

[2015-06-26 07:49] gazzer3000 commented on #2667
I got it working after i installed the last missing package.

So far i needed:
apt-get install uuid-dev
apt-get install libdbus-glib-1-dev
apt-get install dbus-*-dev
apt-get install libpcsclite-dev, libusb-1.0-0-dev
apt-get install libusb-1.0-0-dev
apt-get install libudev-dev

And built it with this:

cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON -DCHANNEL_URBDRC_CLIENT=ON -DWITH_PCSC=ON -DSTATIC_

[2015-06-26 07:56] bmiklautz commented on #2667
@gazzer3000 if your basic issue (build) is resolved can we close the issue?

[2015-06-26 11:15] #2137 closed

[2015-06-26 11:15] #2732 closed

[2015-06-28 17:38] meanbunny commented on #2667
Thank you so much for showing what libraries needed to be installed. This should be described in the documentation somewhere

[2015-06-28 20:08] meanbunny opened #2742 "USB Redirection of Android device not working"
Hey all,

I am trying to redirect my Android device (Galaxy Nexus 6) to my Windows 8.1 VM. I am currently running Ubuntu 15.04 and have pulled the latest source code and built. I have also installed all of the needed libraries in order to get the URBDRC to at least be built. Below are the errors that I am receiving.

[code]

My command looks like this.

[code]

Can anyone point me in the right dir

[2015-06-29 06:24] LGLumi commented on #2542
Both master v. 1.2.2 and the latest (git?) 1.2.4 are not working for me in the same way. 1.2.0 works but it is not quite stable through GW. (freezing from time to time)

[2015-06-29 07:44] akallabeth commented on #2742
@meanbunny Please check the access rights for your USB devices. Looks like you are missing some privileges and libusb can not access the devices.

[2015-06-29 08:45] LGLumi commented on #2421
Same problem here but with GW option. Without GW it is okay, but I kinda have to go through GW...

[2015-06-29 08:54] LGLumi opened #2743 "Problems connecting through GW"
Connecting to Windows Server 2012 through GW. I have actually option to go there through GW and not, so I could easily test it without GW and it works, Windows RDP does work through this GW. I tried standard build and even different options. Ver: 1.2.4 Why? 1.2.x version in general have problem with GW stability, so I tried to build latest, but without success to connect through GW.

/opt/freerdp-

[2015-06-29 12:27] dd-jacks commented on #2126
`
/usb:id,dev:aaaa:xxxx#bbbb:yyyy
`

`aaaa` and `bbbb` - is idVendor
`xxxx` and `yyyy` - is idProduct
`#` - is delimiter

[2015-06-29 14:15] LGLumi commented on #2282
Nothing works for me in this case... Tried both reverse changes before build of last master and nothing. It gets really frustrating while 1.1 is slow and having redirection issues for me and 1.2.0 does kinda freeze from time to time... So, no version that would work good with Win2012 R2 GW?

[2015-06-29 14:31] awakecoding opened #2744 "Remote control session termination freezes"
This happens with 2008 R2 SP1. In order to reproduce, connect twice to the same terminal server, go in Remote Desktop Services Manager, select the session to shadow, click Remote Control. If the user in the other session denies access, or if the prompt timer expires (30 seconds), then FreeRDP will freeze. If the user accepts, it works, but FreeRDP will freeze when the shadowing session is over ins

[2015-06-29 14:36] bmiklautz commented on #2744
@awakecoding I've seen that too a while back. I don't remember exactly but I think changing the compression level helped with that problem.

[2015-06-29 16:20] masterkorp opened #2746 "Connecting for ArchLinux to a Windows 8 host"
Hello,

I am trying to connect to a windows 8, the computers are both in the same LAN

[code]
I added ``/cert-ignore`` and ``/sec:rdp`` in a [futile attempt](http://unix.stackexchange.com/questions/119880/make-freerdp-prompt-user-for-username-and-password) to make the error go away.

[code]

Any suggestions would be welcome.

[2015-06-29 17:09] wapsi commented on #2158
Just tried, does not work. Remote application doesn't crash but the clipboard sync just doesn't work at all: remote app just copy/paste inside the rdp session only. When I try to copy/paste text from/to Linux side there is no any syncronization between RDP/Linux local clipboard. Used command: /usr/local/bin/xfreerdp /u:<username> /p:<password> /v:<hostname> /app:"||notepad" +clipboard

[2015-06-29 17:11] meanbunny commented on #2742
I just ran it under `sudo su` is that enough? The error remained. The usb device that I am trying to attach to shows up with `lsusb` command

Bus 004 Device 002: ID 8087:0024 Intel Corp. Integrated Rate Matching Hub
Bus 004 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 003 Device 004: ID 1bcf:2885 Sunplus Innovation Technology Inc. ASUS Webcam
Bus 003 Device 005: ID 13d3:3362 IMC Netw

[2015-06-30 06:54] LGLumi commented on #2743
Okay, it is quite odd but I did manage to run it with absolutely same steps on two another computers, one with same distr. (Debian Wheezy) and on one with Ubuntu 14.04 LTS. Strange is on two machines I just simply cannot get it to work. It looks like a problem with another software while two those Debian machines that it actually works on are clean installations.

[2015-06-30 08:19] nicon8 commented on #2707
Any news to support Openbox in the future development? I experienced the same issues with the multimon setup

[2015-06-30 12:27] LGLumi commented on #2722
I had problem with NTFS formated drives occuring like rights problem, but after getting ntfs-config app. the problem disappeared.

[2015-06-30 12:31] LGLumi commented on #2746
I've had this kind of problem with gateway on debian wheezy. It looks like authentification was not correct. Have you tried -sec-nla ? That is like "must" for Windows 2012 and perhaps aswell for Windows 8.

[2015-06-30 12:39] LGLumi commented on #2656
I've tried it on just installed machine and it worked (Debian Wheezy - same as the problematic PC) and I also tried it on Ubuntu 14.04 LTS and it worked aswell. I don't understand what does kill the connection for me. It might be another app or something on network? I used exactly the same way to build the package and it works somewhere else which is quite weird for me. I mean, I did just try copy

[2015-06-30 12:48] LGLumi commented on #2413
Get last build, it's working there.

[2015-06-30 13:32] meanbunny opened #2748 "Muli-monitor support appears to be busted with the latest build"
Hey All,

The multimon feature used to work flawlessly. However, with the latest build from source when I use the command, it goes full screen on my left monitor but doesn't even show up on the right monitor. Any suggestions? I am running Ubuntu GNOME 15.04 and have pulled the latest build from source. Connecting up to a Windows 8.1 Pro virtual machine.

Below is my command

[code]

Thanks!

[2015-06-30 13:43] meanbunny commented on #2413
It isn't working from there, I have two issues opened now. Below is my error if you feel you can help out.

    xfreerdp /title:mm-local-desk2 +wallpaper +clipboard /h:872 /w:1599 /sound:sys:pulse /microphone:sys:pulse /usb:id,dev:18d1:4ee2 /v:192.168.56.110

    [09:39:50:719] [6839:6840] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
    [09:39:50:719] [6839:6840] [INFO][com.f

[2015-06-30 13:52] bmiklautz commented on #2748
@meanbunny what version are you referring to with "now"? - What Windows version you are connecting to?

[2015-06-30 14:05] meanbunny commented on #2748
Connecting up to the same Windows 8.1 Pro virtual that I always have been. I am aware multimon support isn't on all Windows versions. Now refers to the latest code build.

[2015-06-30 14:13] bmiklautz commented on #2748
@meanbunny latest code as in master? - If did you observe what the last working version was?

[2015-06-30 20:47] meanbunny commented on #2748
Looks like I have this for the version number. I unfortunately didn't check what I had before, wish I had now.

    This is FreeRDP version 1.2.4-dev (git cc4b5f9)

[2015-06-30 21:42] bmiklautz commented on #2748
@meanbunny thanks for the update. I quickly tried today and saw the exact same behavior you've reported.

[2015-06-30 22:37] meanbunny commented on #2748
@bmiklautz Ah ok cool, glad it wasn't just my local setup lol

[2015-06-30 22:47] nfedera commented on #2748
... and a reminder to fill in the blanks here: https://github.com/FreeRDP/FreeRDP/wiki/Quality-Assurance-(QA)#fullscreen

[2015-07-01 07:31] HenryJacques commented on #2722
@LGLumi I am not using a drive, I want to redirect a "raw" USB device (a fingerprint sensor in my case), so like akallabeth said, I have to tune the dev permissions using udev rules.

This worked (depending on the target machine....) but there are still errors shown (see my previous post)

[2015-07-01 09:16] akallabeth commented on #2722
@HenryJacques Sorry, did miss your second comment. The URBDRC channel needs some work, this message just indicates that there is something not quite as expected. It is quite fragile currently, so I hope it works for you so far.

[2015-07-01 09:17] hardening commented on #2722
I'm currently working on URBDRC, so I may hit all the problems that are talked here :)

[2015-07-01 09:24] HenryJacques commented on #2722
@akallabeth @hardening thanks for your work. I have several different behaviours depending on the target OS:
- Windows 7: no USB are redirected
- Windows 8.1: it works (if I enable the +multitouch, I get a seg fault...)

I can quickly test any changes you commit, I have several USB devices to test (fingerprint sensors, passport readers, USB/RJ45 converters, etc)

Cheers

[2015-07-01 12:10] masterkorp commented on #2746
@LGLumi Nevermind me.

I just discovered that [Windows 8 base does not actually have RDP](http://www.eightforums.com/network-sharing/25879-remote-desktop-not-working-windows-8-a.html)
Shame on me, but that *Remote assistance is really misleading*.

[2015-07-01 12:10] #2746 closed

[2015-07-02 00:03] jeremyvisser opened #2755 "Cursor doesn't change properly when hovering over things (regression)"
Inside an RDP session, if you hover over a text box or link, your cursor will change accordingly.

However, recently, this has stopped, where the cursor will either be invisible, or will be "stuck" on the cursor that was set when you first log on, and almost never changes after that.

Running `git bisect`, I have found that the regression occurred in one of the commits 1f414ec9e71de5ea7627267752d1

[2015-07-02 05:59] colemickens commented on #2302
Can someone (@hardening, @awakecoding, @akallabeth) point me in the right direction for how I might about ignoring horizontal scroll events?

This issue is a big problem on any laptop. I'd like to see it fixed and help out if I can.

[2015-07-02 07:58] bmiklautz commented on #2755
@jeremyvisser can you give some details on how to reproduce or test? - I've tested with the nightly build from today. If I for example open an editor and move the mouse over the text it changes as expected.

[2015-07-02 10:24] jeremyvisser commented on #2755
Client machine is Fedora 22 with GNOME 3 and Intel graphics with git versions of FreeRDP and Remmina installed. I use FreeRDP through Remmina. I haven't tried to reproduce through xfreerdp.

Remote machines tested are all running Server 2012 R2 with 32bpp colour and maximum experience settings (e.g. animations, font smoothing, etc.)

[2015-07-02 10:32] bmiklautz commented on #2755
@jeremyvisser could you try directly with xfreerdp and see if the problem is reproduce able with it too?

[2015-07-02 11:40] a-a commented on #2542
can confirm that 87c5377 still has this bug

[mak0@rikka ~]$ xfreerdp /g:gw.example.net /cert-ignore /v:mypc /d:example.net /u:user /p:lolpassword
[13:37:49:288] [5841:5842] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_CONNECT_TRANSPORT_FAILED [0x2000D]
[13:37:49:288] [5841:5842] [ERROR][com.freerdp.client.x11] - Authentication only, exit status 1
[mak0@rikka ~]$ xfreerdp --versio

[2015-07-02 11:42] LGLumi commented on #2542
Hello,

what distribution of linux do you have?
Why aren’t you using also /gd: /gu: /p: or is it the same? Try it with it aswell… Btw, how do you specify username?

Henry

Von: a-a [mailto:notifications@github.com]
Gesendet: Donnerstag, 02. Juli 2015 13:40
An: FreeRDP/FreeRDP
Cc: Mican Jindrich
Betreff: Re: [FreeRDP] Error connecting to RemoteApp through Remote Desktop Gateway (0x2000D) (#2542)

c

[2015-07-02 12:04] a-a commented on #2542
I've just had some success with with 87c5377 by explicitly telling it /gt:rpc - during this time, the RD gateway manager on server 2012r2 I'm connected through shows me as connected with RPC-HTTP listed under the transport column.

Using /gt:auto, /gt:http or completely omitting the /gt (I believe /auto is the default in this case?) causes the errors, but for me, /gt:rpc seems to work.
I am not gr

[2015-07-02 12:08] LGLumi commented on #2542
Ah, forgot about that… yeah, /gt:rpc does help aswell… Kinda missed that you didn’t have it there.

Yep, /gd /gu should work in that way, I thought it is better to try out even that option.

But /gt:rpc should be the right fix for W2k12.

Von: a-a [mailto:notifications@github.com]
Gesendet: Donnerstag, 02. Juli 2015 14:05
An: FreeRDP/FreeRDP
Cc: Mican Jindrich
Betreff: Re: [FreeRDP] Error connecti

[2015-07-02 13:09] hardening commented on #2391
@Testinos can you try latest master and see if #2747 fixed the problem for you ?
Thank you

[2015-07-02 22:23] itsmikeeng opened #2760 "Authentication Failure Does Not Set LastError to FREERDP_ERROR_AUTHENTICATION_FAILED"
Providing credentials with bad password sets context->LastError to FREERDP_ERROR_CONNECT_TRANSPORT_FAILED instead of expected FREERDP_ERROR_AUTHENTICATION_FAILED after call to freerdp_connect().

Using wfreerdp, the code reached the nla_client_begin() method in core\transport.c but succeeds and doesn't call freerdp_set_last_error(context, FREERDP_ERROR_AUTHENTICATION_FAILED);

[2015-07-03 00:42] jeremyvisser commented on #2755
I have tried to reproduce with xfreerdp today and afraid I have not been able to reproduce at all. I'm not sure whether that is because Remmina uses different settings to xfreerdp, but I have experimented with various quality and encoding settings, and xfreerdp works properly every single time.

So whatever this bug is, is specific to its interaction with Remmina.

[2015-07-03 07:50] giovannitarter commented on #2748
I think the issue is related to #2707

[2015-07-03 09:03] bmiklautz commented on #2755
@jeremyvisser please open an issue with Remmina. We have done quite a lot of changes lately and it might be that the latest master doesn't work with Remmina at the moment since the API could have changed a little.

[2015-07-03 10:21] LGLumi commented on #2748
Have you tried /multimon:force ?

[2015-07-03 10:22] LGLumi commented on #2743
In the end I have resolved that problem was just on one machine which kinda makes this almost invalid. I am closing this issue. If I would encounter something more "massive", I will post issue.

[2015-07-03 10:22] #2743 closed

[2015-07-03 10:24] Testinos commented on #2391
@hardening
bug still have (after 2 hour work have 2 time this bug)
if open youtube have error in console
[code]
and this bug appears increasingly

[2015-07-03 10:48] jeremyvisser commented on #2755
Fair enough. Looks like this bug that was reported in Remmina just now may be related: https://github.com/FreeRDP/Remmina/issues/598

[2015-07-03 10:48] #2755 closed

[2015-07-03 16:12] giovannitarter commented on #2748
I tried with /multimon:force but it did not solve the issue. The fullscreen window was on the primary monitor only.

[2015-07-04 11:09] wangfuda opened #2767 "jni/prof.c:150:2: error: unknown type name 'ucontext_t'"
when i compile freeRDP  <Build openssl and jpeg>,i have compile error:
jni/prof.c unknown type name 'ucontext_t'
it's occur when prepare NDK profiler
who know how to resolve the problem?

ubuntu 12.04 in VM
NDK android-ndk-r10
SDK r23

[2015-07-04 14:54] wangfuda commented on #2767
i have fix the problem
it's cause by the newest version of android-ndk-profiler
fix way:
1.roll back the version of android-ndk-profiler to Commits on Mar 19, 2015 1035eb8
2.update your NDK version to r10d+

[2015-07-04 14:54] wangfuda commented on #2767
colse the issue

[2015-07-04 14:54] #2767 closed

[2015-07-04 15:56] wangfuda opened #2768 "android demo ANR"
i use the newest code to complie the client/android's libfreerdp-android.so
and run the app,find a ANR problem when click the menu "Disconnect"
who gets the same problem or knows how to fix it?

[2015-07-06 09:24] dktrkranz commented on #2678
@bmiklautz please try to agree on a code freeze ASAP. Software developers using FreeRDP in their codebase would benefit a lot having a stable API/ABI for a while to release their new releases.

I know this could be difficult, but I think all FreeRDP ecosystem will have a benefit of a stable FreeRDP version.

[2015-07-06 09:32] bmiklautz commented on #2678
@dktrkranz we are working on it.

[2015-07-06 11:47] LGLumi commented on #2748
Shame... I have no problem with that in Windows 2012... So, I guess it's related to Windows 8.1 only then - line in issue you linked.

[2015-07-06 11:51] LGLumi commented on #2656
@elangelo Try using -sec-nla /sec:rdp /gt:rpc where -sec-nla is quite nessesary when you connect to Windows 2012 servers, /sec:rdp (security type) and in last version /gt:rpc is nessesary for Windows 2012 GWs. So, try /gt:rpc for sure and if it won't work then add other two then.

[2015-07-06 12:16] bmiklautz commented on #2748
@LGLumi I could reproduce the problem with window7 so it's there as well.

[2015-07-06 12:27] giovannitarter commented on #2748
I experience the problem also connecting to Windows 2012

[2015-07-06 15:16] rspringer opened #2769 "Ubuntu 14.04 Server Compile Error"
Trying to build the server
cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON -DWITH_Server=ON .
make
Any help would be appreciated !!!!
Thanks

result:
[ 37%] Built target winpr
[ 37%] Built target winpr-hash
[ 37%] Built target winpr-makecert-tool
[ 38%] Built target winpr-makecert
[ 76%] Built target freerdp
[ 78%] Built target rdtk
[ 79%] Built target tsmf-client
[ 79%] Built target tsmf-client-ffm

[2015-07-06 19:22] bmiklautz commented on #2769
@rspringer looks like you are building with damage support but it wasn't properly detected/installed. What did you cmake run say?

[2015-07-06 19:34] rspringer commented on #2769
Thanks for responding so quickly.
This is a clean new Ubuntu install and all I did was installing the dependencies and git clone (all today).
Then cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON -DWITH_Server=ON .
running it again I get this:
 -- FreeRDP GIT
-- Git Revision 358289f
-- Finding recommended feature X11 for X11 (X11 client and server)
--     Disable feature X11 using "-DWITH_X11=OFF"
--

[2015-07-06 20:56] bmiklautz commented on #2769
@rspringer if you look at your cmake output you will see that the most "features" are disabled because they are not found. Try to install the following packages:
[code]

[2015-07-06 21:12] rspringer commented on #2769
thanks - no chance, still the same compile error
libxrender, libx11, libxdamage were installed, the other ones were up to date
I have no idea how to link a feature to a missing dependency.....

[2015-07-07 02:07] jawz101 commented on #2166
remmina/freerdp have been causing me issues on Arch since I'd been using Arch for the past couple of years.  Switching to Xubuntu seems to work well.  I tried so many iterations of settings (disabling themes service on the Windows 7 box, disabling NLA and just using plain old security, trying different compression levels on the Arch box... nothing helps.  All I can say is the RDP session hangs and

[2015-07-07 02:16] wangfuda commented on #2768
sorry for no detail log,close it now

[2015-07-07 02:16] #2768 closed

[2015-07-07 07:16] elangelo commented on #2656
/gt:rpc did the trick. Thnx!
Didn't have to add the -sec-nla or /sec:rdp

[2015-07-07 07:24] LGLumi commented on #2656
@elangelo You are welcome. :) Don't forget to close the issue. ;)

[2015-07-07 07:41] #2656 closed

[2015-07-07 09:13] bmiklautz commented on #2769
@rspringer intresting. Building it almost everyday with -DWITH_Server=ON and never saw this issue.

[2015-07-07 12:59] rspringer commented on #2769
OK - solved - classic rookie mistake. RTFM. All required dependencies are documented in https://github.com/awakecoding/FreeRDP-Manuals/blob/master/Developer/FreeRDP-Developer-Manual.markdown (quite a few were missing). Most important: you have to delete the CMake cache file (rm CMakeCache.txt) after installing dependencies (that was the main problem). Thanks for the help - it did contain the clue

[2015-07-07 13:02] MurzNN commented on #729
Got the same error when try to use RemoteApp:
[code]
When I try connect without "--app" argument - all connects normally.

[2015-07-07 13:59] #2769 closed

[2015-07-07 14:08] meanbunny opened #2771 "MAC OSX FreeRDP Server - Segmentation Fault"
Hey All,

I have downloaded the latest source and compiled from master on osx. I have freerdp-shadow configured to run at login and it runs successfully. I haven't been able to pinpoint the exact issue, but when "sometimes" when I connect and then hover my mouse over the FeeRDP window that gets created I receive the following error on the server side (the osx side).

    interleaved_compress: widt

[2015-07-07 17:54] realjiangms commented on #2771
This is because in shadow_client_send_bitmap_update(), the code to align nWidth and nHeight is not correct:

    if ((nWidth % 4) != 0)
    {
        nXSrc -= (nWidth % 4);
        nWidth += (nWidth % 4);
    }

    if ((nHeight % 4) != 0)
    {
        nYSrc -= (nHeight % 4);
        nHeight += (nHeight % 4);
    }

If we want nWidth  to be multiple of 4, we need to make it as nWidth += (4-(nWidt

[2015-07-07 19:41] rdpbug commented on #2648
I have the same issue with several versions of freerdp, however, the smartcard is never forwarded in my scenario. I have used several versions of the master, I have also tested RHEL 6 and RHEL 7 versions as well of freerdp. Here is the output from the command line:

[user@localhost Desktop]$ xfreerdp /size:75% /bpp:32 /t:TEST_RDP /smartcard +sec-ext /u:user /v:192.168.0.1:3389

[13:56:37:644] [298

[2015-07-08 06:16] LGLumi commented on #2748
@bmiklautz Well, there are few difference between what is described here and how am I using it. First of all, I don't use /title and I use FreeRDP on Debian Wheezy. (I use many things in addition such as gdi:hw /rfx -decorations ... rest are not graphicaly related at all.. so not mentioning ... but it works, now depends if it's compatibility issue or matter of additional stuff..)

[2015-07-08 11:36] MarcusMoeller commented on #2542
I still see this error 0x2000D sometimes, no matter if  /gt:rpc is set or not.

I can try to connect using the same connection string for a few times  one after another and sometimes I got:

[13:33:01:850] [26660:26661] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_CONNECT_TRANSPORT_FAILED [0x2000D]
[13:33:01:850] [26660:26661] [ERROR][com.freerdp.client.x11] - Authentication only,

[2015-07-08 12:13] LiohMoeller opened #2773 "/p has to be set when connection through gateway"
When connecting through a gateway, I have to define the /p:"MyPassword" parameter in order to make it work. If I leave it out, I am not prompted for a password.

I guess it has something to do with the fact that /gu /gd and /gp are substituted with the values of /u /d /p when they are not set.

[2015-07-08 15:33] bmiklautz commented on #2748
@LGLumi I'v tested/reproduced this with a very simple command line almost without extra options. Maybe you can also add your command line for comparison?

[2015-07-08 15:45] LGLumi commented on #2748
@bmiklautz I will try. Need to some things and will do, hopefully today.

[2015-07-08 16:11] LGLumi commented on #2748
@bmiklautz @meanbunny  I just tried it and nothing. Had to add just -sec-nla due to Windows Server 2012, but I have left rest as meanbunny. Both monitors worked fine. But I am using really excesive build options, so that might make difference while I work... You might want to try that build but seriously you will get more than you need I guess, but worth a try I...

cmake -DCMAKE_INSTALL_PREFIX:PA

[2015-07-08 20:48] antenore commented on #2678
@hubbitus

[2015-07-09 08:02] LGLumi commented on #2773
@MarcusMoeller Well, from my experience only thing that has to be set is /g: /:gd: /gu: /gp: ... ofc, if it is different from RDP credentials. But as I am using it, I do not have /p set, it is actualy only thing... I do keep /u:"" because otherwise it does automaticaly fill with current username and I don't want that. But /p: is definetly not nessesary.

/gp: password for GW credentials
/p: passwo

[2015-07-09 08:12] MarcusMoeller commented on #2773
Why not? What's the advantage of giving a password in plain text as command line parameter?

From my experience, when you do a direct connection you can just leave the /g.. stuff:

xfreerdp /g:mygateway /u:... /d:... /p:"..." /v:server

as it gets substituted. But you cannot ommit /p here. When using a rdp file, from my experience all parameters have to be set:
xfreerdp myfile.rdp  /u:... /d:... /

[2015-07-09 08:14] LGLumi commented on #2773
@MarcusMoeller I never said that it's an advantage. I am not filling password and it is working as intended.

[2015-07-09 08:15] MarcusMoeller commented on #2773
So could you please paste an example connection string, I could try?

[2015-07-09 08:21] LGLumi commented on #2773
xfreerdp /f /sec:rdp /gt:rpc -sec-nla /d:interndomain /gd:gwdomain /v:sessionhost /g:gateway /gu:xxx /gp:xxxxxx /gu:""

Of course, you give away GWuser & GW-p/w but that user should have no rights at all other than connecting through GW. Plain text is kind of a problem, if you won't fill its password, it will prompt you for sure while it cannot get through GW.

/gu:"" is there just for being sure

[2015-07-09 08:28] MarcusMoeller commented on #2773
So you giving a plain pw on cli but for a different user account which only has access to the gw? We are using the same credentials for gw and rdp access here.

[2015-07-09 08:36] LGLumi commented on #2773
Yes, it is user which is absolutely stripped off any rights, only right is has is to go through GW, it has completely different password than everything else ofc. And noone even knows (from users) that it exists, so noone even comes to using it. If there would be any log of this user accessing or trying to access anything, it will get blocked instantly.

Security wise it is only option with FreeRD

[2015-07-09 09:07] MarcusMoeller commented on #2773
Ok, but this still does not explain why /gp cannot be promted instead of giving it as cli argument.

[2015-07-09 09:13] LGLumi commented on #2773
Well, that is not an answer I can give you. Would be nice to know, ofc it would not be a problem to make script for it. That it always prompts for GW pass and then user has to log on session host aswell.

Ofc, even FRDP should it, but at least you can train your scripting skills, right? ;-) Just kidding, I guess devs will tell you more than me. I am just trying to help around while thanks to other

[2015-07-10 10:23] fred922 commented on #935
would be great to have this supported in FreeRDP.

[2015-07-10 14:18] meanbunny commented on #935
Oh I would love this! I am doing Android development with an emulator running on my host taking advantage of the Intel HAXM. The VM I remote into is a local one setup as a guest in qemu. If I could port forward ports like ssh then I would be golden. Right now I have a putty profile that starts up on login to the machine via FreeRDP

[2015-07-11 03:23] meanbunny opened #2775 "Error connecting to FreeRDP server running on Ubuntu GNOME from Android device using Microsoft RDP App"
Hey All,

Thank you all again for making an incredible product that I use daily!!!!! I really hope I can make some code contributions at some time. Because I was lazy tonight I wanted to see if FreeRDP server could run on my Ubuntu GNOME 15.04 laptop using the latest master build, and connect up via the Microsoft RDP app available on Android. The server built just fine in cmake, no errors reported

[2015-07-11 06:03] nfedera commented on #2775
@meanbunny how did you start the server  (commandline please) ?
Did you get a certificate warning/message on android ? Have you also tried the MS Beta Android client?

[2015-07-11 06:05] nfedera commented on #2775
@meanbunny Did it work with any other clients  (xfreerdp, mstsc) ?

[2015-07-11 15:32] meanbunny commented on #2775
Started it via the command line, with no options. I did get a certificate warning message but told it to ignore it and not ask again.

I just downloaded the FreeRDP app from the Google Play store and it to couldn't connect. Tried also connecting up with mstsc and got an "Invalid Error Occurred" message and then a force close.

Output when connecting from Android client.

        [10676:10676] [INF

[2015-07-11 15:33] giox069 commented on #2760
See also issue #2434 (and #2432).

[2015-07-11 16:33] nfedera commented on #2775
@meanbunny please test running the server with disabled authentication as follows:

``` freerds-shadow -auth```

Does this work ?

[2015-07-11 17:00] meanbunny commented on #2775
So it does allow me to startup the server and connect successfully. However, in the Microsoft RDP Android app it gives me the screenshot below. Using the Android FreeRDP app I just get a black screen

![screenshot_2015-07-11-12-55-30](https://cloud.githubusercontent.com/assets/1152228/8634596/9a0f8bfe-27cc-11e5-8564-d54cc4e17492.png)

[2015-07-11 17:15] nfedera commented on #2775
I'd have to look into the code to be sure but I assume that the normal user is lacking permission to authenticate the user specified in rdp. Regarding the android client: Not sure if that has ever worked. I'm not familiar with the shadow server and the codecs it is using. I know for sure that the Android refuses to decode legacy  RemoteFX and also rfx in gfx. It does however decode progressive rfx

[2015-07-11 21:11] giox069 opened #2776 "Please re-allow certificates with CN different to hostname to be saved after prompting to the user"
I'm trying to connect to some Windows 7 machines via an hostname which is different from the certificate CN. Hostname for the machines are WIN1 and WIN2.
[code]
Up to FreeRDP commit 2204DE9 all worked as expected (like Microsoft client does): the first time I connect, to WIN1 and WIN2, xfreerdp complains for invalid certificate hostname, and then prompt the user to save the host:port certificate i

[2015-07-11 22:57] nfedera commented on #2775
@meanbunny did some quick debugging and I know what is going on now. The shadow server chooses the NSCodec codec (via SurfaceCommand) for connections from the Microsoft Android clients which they refuse to decode. Even if these Microsoft clients announce settings->RemoteFX or settings->NSCodec this only means (seemingly) that the client is basically able to decode this kind of bitmap compression.

[2015-07-11 23:07] nfedera commented on #2775
@meanbunny so if you want a quick hack that allows any client to connect to freerds-shadow simply edit the file server/shadow/shadow_client.c, find the function shadow_client_context_new() and set settings->NSCodec and settings->RemoteFxCodec to FALSE.

[2015-07-11 23:31] meanbunny commented on #2775
@nfedera  ok awesome I am going to try this, thank you!!!

[2015-07-12 08:00] giox069 commented on #2776
mmm... after deleting host from known_hosts2 it worked, I apologize for opening this issue. I also noticed that remmina and xfreerdp saves different hostnames into know_hosts2, because originally FreeRDP did not saved the port number.
I'm closing this issue now, I will reopen it if necessary.
@antenore

[2015-07-13 03:00] wangfuda opened #2777 "who know how to porting the iFreeRDP to my app (ios)?"
when i try to porting the iFreeRDP to my app, i meet too many error.
who can give me some experience for that?
thanks for anvance.

[2015-07-13 07:07] akallabeth commented on #2776
@giox069 Looks like you fell victim of a little bug of mine, could you check if it works after merging #2774?

[2015-07-13 09:06] bmiklautz commented on #2777
@wangfuda issues should be strictly used for issues. For general questions and help visit the irc channel or sent a mail to the mailing list. thanks.

[2015-07-13 09:06] #2777 closed

[2015-07-13 09:24] giox069 commented on #2776
Hi @akallabeth, thank you for answering.

I did some testing, but I can't understand what's really going wrong.

How to reproduce the problem today: (using the latest FreeRDP, without #2774):

 1. Remove the host you are connecting to from both known_hosts and known_hosts2
 2. Connect to the host with xfreerdp, a new clean entry will be created into known_hosts2
 3. Disconnect
 4. Manually edit kn

[2015-07-13 09:28] giox069 commented on #2776
Edit: I modified the previous post to hide sensitive data (hostname :)).

[2015-07-13 11:57] akallabeth commented on #2776
@giox069 Pull #2774 fixes an issue where on a changed fingerprint the original entry is not replaced. If you would like to have the client ask to accept the new certificate, you should also have a look at #2710. The second pull changes the callback API and implements the changed certificate callbacks.

[2015-07-13 13:57] akallabeth commented on #2427
@Edlanta Does UPN suffix work for you now?

[2015-07-13 17:10] giox069 commented on #2776
I tested your personal cert_temp_accept_v2 branch (which should be FreeRDP pull request #2710, I think). Now when I manually change an hex digit on known_hosts2 and try to reconnect, I get the following message and prompt:
[code]
and this is very good.
But now, when I press Y, the myhostname.myhost.com line in known_hosts2 is not overwritten and a new line is added, so the result is
[code]
the las

[2015-07-13 17:28] bmiklautz commented on #2776
@giox069 could you try if the latest master fixes this problem for you?

[2015-07-14 07:08] akallabeth commented on #2776
@giox069 Pull #2710 does not contain the fixes from #2778 (redone #2774). So, if you rebase #2710 (or merge it to master) it should work.

[2015-07-14 08:16] lemonmojo opened #2780 "Smart Card redirection on OS X 10.8.5 to Windows Server 2012 R2"
One of my customers reported an issue to me with smart card redirection on OS X 10.8.5 connecting to Windows Server 2012 R2, while it works fine against Windows Server 2008 R2.

Here are the last few lines from the log (read from bottom to top):

[code]

This is the chain of events:
1) The RDP connection is established and the dark blue Windows screen displaying the
company's standard "monitoring"

[2015-07-14 18:32] giox069 commented on #2776
Wonderful ! Pull #2710 merged to master seems to work! I have seen that the certificate notification client API has changed a bit, so I should update also Remmina when you will merge #2710.

Colud you please also help us (remmina developers) in solving the 2nd problem explained here ? https://github.com/FreeRDP/Remmina/issues/604
It's a problem with the port number stored in the known_hosts2 file.

[2015-07-14 20:03] CaseyRedisAtWork commented on #2707
I have the same issue running from the latest source and have for several months I believe.

The same command line against the package for my system, version below, works without issue.  I too am running openbox as the WM (lxde desktop)

[2015-07-14 23:01] Hubbitus commented on #2678
Maintain stable API should not be so difficult just accuracy required. Sometimes bacward capability may be painfull... But at least clear API/ABI (bump .so-name on breacking changes) versioning highly appreciated! Very thanks for your work!

[2015-07-15 06:24] rchovan opened #2783 "Connection to Windows Server 2012 without password failed"
Hi,
I can't connect from Linux or Windows with xfreerdp or wfreerdp client to Windows Server 2012 with users without password:
[code]
Connection with different username + passwod does work
[code]

xfreerdp downloaded from GitHub today and compiled from source
[code]

[2015-07-15 20:50] bjcollins commented on #2760
I encountered the same thing with xfreerdp when using NLA, after researching the spec I found that the server sends a TLS ALERT for ACCESS DENIED. It looks like the server code in the freerdp sources will set this alert, but there is no client side catching of the alert to set the error appropriately. I do not have the resources to work on wfreerdp, but I will try to post a pull request soon which

[2015-07-16 07:59] mchozhang opened #2787 "Windows XP display issue on Android and iOS client"
I am trying to connect to a windows XP remote desktop on Android and iOS client.
I guess I compile the FreeRDP successfully and use iFreeRDP and aFreeRDP code as library.
Everything is fine when connect to windows 7, but it displays oddly when connect to windows XP.

![2015-07-16 3 42 09](https://cloud.githubusercontent.com/assets/8019025/8717826/626392a0-2bd1-11e5-8879-6f935ea996a0.png)

This is

[2015-07-16 15:14] bjcollins commented on #2648
I saw the same thing that @hendwolt said was a possible cause connecting to a Windows 2012 Server backend using xfreerdp where SCardStatusW was failing because *pcbAtrLen==0. I would think it would not hurt to set that value to the maximum buffer length before the call as the call will return the true length used. However, I am not sure how that ties back into the reason the value was 0 in the Sta

[2015-07-17 08:13] HenryJacques opened #2790 "Latest commit 042cb25 - xfreerdp CPU 100% and fails"
The latest commit 042cb250f3452206140b652370f01649a6a16039 brings a regression on my Ubuntu 14.04 64bits.
When trying to connect to Windows 7 SP1 64bits:

The process goes to 100% during one minute and then it fails.
The length of the logging [INFO] is variable but it always fail in the end.

root@ubuntu:~/FreeRDP-master-17-07# xfreerdp /u:user /d:DOMAIN /p:'password' /v:10.10.10.10 /cert-ignore /

[2015-07-17 09:15] dd-jacks commented on #2790
Confirmed! I Have same problem. Connecting to Windows Server 2012 R2

[2015-07-17 10:32] bmiklautz commented on #2790
@dd-jacks @HenryJacques can you verify that this issue is fixed on the latest master?

[2015-07-17 10:36] bmiklautz commented on #2787
@mchozhang what SP of XP are you using?

[2015-07-17 10:37] dd-jacks commented on #2790
Yap! It's fixed

[2015-07-17 10:41] #2790 closed

[2015-07-17 10:55] bmiklautz commented on #2783
@rchovan did this work before? As far as I know you need to have extra policy settings to allow empty passwords on 2012.

[2015-07-17 11:16] rchovan commented on #2783
Hi, I don't know if it work before, because we switched from older Windows
version. Do you have any other info/link about policy?

Thank you

Dňa pi, 17. júl 2015 12:55 Bernhard Miklautz <notifications@github.com>
napísal(a):

[2015-07-17 11:20] HenryJacques commented on #2790
Good for me too, thanks!

[2015-07-17 11:22] HenryJacques commented on #2783
@rchovan See here https://technet.microsoft.com/en-us/library/cc956966.aspx and https://technet.microsoft.com/en-us/library/cc956977.aspx

[2015-07-17 11:45] bmiklautz commented on #2783
@HenryJacques thanks.
@rchovan easiest is to quickly test with mstsc and see if it works without password in general.

[2015-07-17 18:16] imShara opened #2792 "Black screen with some colored noize when connected to VirtualBox RDP from linux machine"
![955459052-hgqirhbevariztprjyalnbgggswivhfy](https://cloud.githubusercontent.com/assets/4913196/8754005/e3cd47da-2cc8-11e5-82c9-f0e504194829.png)

But remote control works. How to fix this?

[2015-07-17 22:09] bmiklautz commented on #2792
@imShara can you give us more details? - FreeRDP version, VirtualBox Version. Please also add the command line you are using.

[2015-07-18 00:05] imShara commented on #2792
@bmiklautz, of course

[code]

[2015-07-20 08:34] rchovan commented on #2783
Hi,
I think, that all is in GPO enabled, because I can login localy without password, and I can connect with mstsc.exe without password. Where shoudl I look for problem ?
@HenryJacques , @bmiklautz

[2015-07-20 12:59] bmiklautz commented on #2783
@rchovan if it does work with mstsc then it's looks definitely like a FreeRDP bug.

[2015-07-20 15:11] lanoxx opened #2794 "SIGSEGV caused by cliprdr_process_general_capability in channels/cliprdr/client/cliprdr_main.c:170"
I am getting a SIGSEGV with remmina and freerdp compiled this morning from git commit: 43a5680b03b241fa4581e3c7357a01f5bc2d64d2

	Core was generated by `remmina'.
	Program terminated with signal SIGSEGV, Segmentation fault.
	#0  0x00007f7f212c4bb0 in ?? ()
	(gdb) backtrace
	#0  0x00007f7f212c4bb0 in ?? ()
	#1  0x00007f7f9e92d5fb in cliprdr_process_general_capability (cliprdr=0x7f7f658612f0, s=0x7f

[2015-07-20 15:11] lanoxx commented on #2794
I can provide a backtrace on request, but I am not sure if it contains personal information so I did not upload it to this public issue.

[2015-07-20 15:12] lanoxx commented on #2794
Oh, this happend when I connected to a Windows Server 2008 R2 server with the RDP plugin using Remmina on Ubuntu 14.04.

[2015-07-20 15:21] bmiklautz commented on #2794
@lanoxx if this issue doesn't happen with xfreerdp please file this issue in the Remmina bug tracker.

[2015-07-20 17:47] nascarqwazy opened #2795 "VMware Windows7 VMs disconnecting"
We have had all the users that have Windows 7 VMs have an issue with their VMs disconnecting various times throughout the day.  The following error is displayed:

ERRINFO_RPC_INITIATED_DISCONNECT (0x00000001)
The disconnection was initiated by an administrative tool on the server in another session.

We have tried the few things that we've seen that we Googled, but none of them have seemed to fix

[2015-07-20 18:41] lanoxx commented on #2794
@bmiklautz That is hard to say because so far it only occured once so far, and I am not sure how to reproduce it yet. Also I am not exactly sure how to invoke `xfreerdp` directly.

Here is a closer look at that function pointer, unless I am very wrong there is just no function at the specified address and everything is set to 0:

    (gdb) frame 1
    #1  0x00007f7f9e92d5fb in cliprdr_process_gene

[2015-07-20 20:44] psumbera opened #2796 "mouse cursor 'skipping back' problem"
While using both server and client I see on client following issue. When moving move from one side of screen to another it looks like it's skipping back.

The 'skipping back' problem could always be reproduced in poor network environment.

The problem disappear when I comment out the only call to x11_shadow_pointer_position_update in server/shadow/X11/x11_shadow.c (the server side mouse position w

[2015-07-20 20:59] psumbera opened #2797 "client exclusive server mode"
It would be nice to have mode where just one client is connected. Something what does VNC. When I connect from another place, my original client session is terminated. It's kind of security feature.

[2015-07-21 09:28] bmiklautz commented on #2794
@lanoxx the latest master has quite some changes (also an callbacks used by clients). So if you use Remmina and the haven't updated yet to the latest API it's possible that problems occur.
If you want to try with xfreerdp just do
[code]

[2015-07-21 09:36] bmiklautz commented on #2797
@psumbera please give more details.

[2015-07-21 09:43] bmiklautz commented on #2795
@nascarqwazy what FreeRDP version are you using and what command line with xfreerdp?

[2015-07-21 10:43] lanoxx commented on #2794
@bmiklautz I am already running the **latest of both xfreerdp and remmina** compiled from git.

I tried to run `xfreerdp` directly and got the following error when I tried to paste something from the clipboard and `xfreerdp` closed:

    [12:27:32:019] [2014:2015] [ERROR][com.freerdp.core] - freerdp_check_fds() failed - 0
    [12:27:32:019] [2014:2015] [INFO][com.freerdp.client.x11] - Network disc

[2015-07-21 10:57] lanoxx commented on #2794
@bmiklautz Just saw that you also live in Vienna, same as me; the world is small :-)

[2015-07-21 11:26] psumbera commented on #2797
My use case is like this. At office I connect to my desktop session. When I go home I leave it on with just screen lock running in the desktop session. At home I might decide to continue in work. The problem is that the client at work is still active...

[2015-07-21 12:47] nascarqwazy commented on #2795
We're using 1.0.2-1, even moved up to 1.0.2-2.

We are using this command:
xfreerdp  -g 1900x1150 --no-nla -a 24 -T VM --plugin cliprdr --plugin rdpsnd --data rdpsnd_pulse.so 1.2.3.4

I even went back to my command I used before and it still happens:
xfreerdp --plugin cliprdr --no-nla -a 32 -g 1900x1150 -d <domain> -u <user> 1.2.3.4

[2015-07-21 13:44] bmiklautz commented on #2794
@lanoxx the error above looks more like that the host can't be found (getaddrinfo: Name or service not)   . Unfortunately FreeRDP has some versioning troubles (we are working on improving this) but that means that even if you use Remmina's master it's not guaranteed that it works with the latest FreeRDP master. But I can't definitely tell..

[2015-07-21 13:45] bmiklautz commented on #2795
@nascarqwazy may I ask what distribution you are using?

[2015-07-21 13:46] bmiklautz commented on #2797
@psumbera just to clarify you are talking about freerds-shadow?

[2015-07-21 13:47] nascarqwazy commented on #2795
Do you mean the version of freerdp?  I put it in there, 1.0.2-1 and have tried 1.0.2-2 on one system.

[2015-07-21 13:47] bmiklautz commented on #2795
@nascarqwazy Linux distribution like Debian/Ubuntu...

[2015-07-21 13:48] nascarqwazy commented on #2795
Ahhh, RedHat 6u3

[2015-07-21 14:19] HenryJacques commented on #2631
Me again,

In rdpdr_main.c there is a comment which says that "smartcard devices should always be sent". Why not but is there a way I can control which smartcard I want to redirect or not in the source code of FreeRDP or is it something which is completely delegated to PCSC/CCID libraries?

In other words, if I wanted to develop the feature to only redirect specific smartcard readers, can I do it

[2015-07-21 14:23] psumbera commented on #2797
Yes. freerdp-shadow.

[2015-07-21 15:51] lanoxx commented on #2794
Based on the output from `gdb` and `ldd` I am quite sure it uses the latest xfreerdp.

[2015-07-21 16:07] lanoxx commented on #2794
But to be sure, here is the output of *gdb's* `info sharedlibrary` command:

    (gdb) info sharedlibrary rdp
    From                To                  Syms Read   Shared Object Library
    0x00007f7f9ef86460  0x00007f7f9ef90be4  Yes         /opt/gnome-build/lib/remmina/plugins/remmina-plugin-rdp.so
    0x00007f7f9ebf43d0  0x00007f7f9ed277e6  Yes         /opt/gnome-build/lib/libfreerdp.so.1.2

[2015-07-22 09:52] wangfuda commented on #2787
@mchozhang when i try to porting the iFreeRDP to my app, i meet too many error.
can you give me some experience for that?
thanks for anvance.

[2015-07-22 19:15] i92guboj commented on #2542
Same problem here. I tried latest git and I was already using /gt:rpc, that helped with some other servers, but not with the one in Azure.

[2015-07-23 00:08] janhieber opened #2800 "xfreerdp does not work in zsh"
xfreerdp shows me only the help informations when i start it from zsh.
In bash its working fine.

system: Arch Linux x64
freerdp 1.2.0-beta1 (git n/a)
zsh 5.0.8-1 with oh-my-zsh
CMD: xfreerdp /admin /u:user1 /d:domain1 /v:server1

Even "xfreerdp /version" is not working in zsh. Something seems to be wrong with the command line.

[2015-07-23 02:57] realjiangms commented on #2796
Thanks @psumbera
I'll create a PR when I finish the fix

[2015-07-23 09:05] bmiklautz commented on #2800
I'm using zsh myself (without oh-my-zsh) and never had any problems with it:

[code]
@janhieber did you already try with a "plain" zsh without oh-my-zsh? Maybe there is some problem in your configuration with the / try using -- instead for testing..

[2015-07-23 15:32] iy-propeller commented on #2128
ubuntu 15.04 x86_64:
Package libxfreerdp-client1.1:
i 1.1.0~git20140921.1.440916e+dfsg1-2ubuntu1 vivid 500

Getting this error:"
SSL_read: Failure in SSL library (protocol error?)
SSL_read: error:14094419:SSL routines:SSL3_READ_BYTES:tlsv1 alert access denied
credssp_recv() error: -1
Authentication failure, check credentials.
If credentials are valid, the NTLMSSP implementation may be to blame.
Er

[2015-07-23 16:22] wtfrank opened #2802 "XFreeRdp disconnects after short periods of inactivity"
[17:14:50:809] [6520:6521] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[17:14:50:809] [6520:6521] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpsnd
[17:14:50:809] [6520:6521] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[17:14:51:463] [6520:6521] [INFO][com.freerdp.core.gateway.tsg] - TS Gateway Connection Success
[17:14:52:978] [6520:6

[2015-07-24 01:36] ghost opened #2803 "the sound and video are not synchronized"
Hello,
 Have strange issue, every time if xfreerdp write to console message
 ALSA lib pcm.c:7339:(snd_pcm_recover) underrun occurred
 audio latency increase,After a few minutes, the sound and video are not synchronized

How this fix?

Connect option
./xfreerdp  /f /sound:sys:alsa /microphone:sys:alsa /rfx  +async-input  +async-update /u:xxx /p:xxx  /v:xxx