[2016-07-19 11:43] ushni commented on #3444
Have a similar problem. Missing interface elements (menus, pop-ups windows and tooltips ...) in remoteapp.
Instead of empty space.
Ubuntu 16.04
freerdp-nightly builds (trusty)

[2016-07-19 14:11] realjiangms commented on #3203
@akallabeth Thanks for your effort on color conversion. Android client now still have some artifacts on my Nokia N1 for GFX and normal image update (image compression without RFX/GFX), however, it works fine on another ARM based android phone. I guess it could be fixed by your improvement.

By the way, will you use android media framework to implement h264 client instead of software openh264? I fo

[2016-07-19 18:42] bmiklautz commented on #3444
@anoteng @ushni would you try to connect with /rfx?

[2016-07-19 20:29] stephenl03 opened #3448 "Special characters in password"
When special characters are being used in the password, freerdp fails to connect.

xfreerdp /cert-ignore +clipboard /bpp:16 /size:1280x960 /g:gateway.domain.com /gd:DOMAIN /gu:username /gp:pa$$word /v:vts.DOMAIN.com:3389 /d:DOMAIN /p:pa$$word /u:username
[15:21:49:284] [7121:00081000] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[15:21:49:305] [7121:00081000] [INFO][com.free

[2016-07-20 06:25] ushni commented on #3444
@bmiklautz
Tried, not working. Command line is:
/opt/freerdp-nightly/bin/xfreerdp /rfx /rfx-mode:image -sec-nla /cert-ignore /app:"||iexplore" /v:192.168.2.226

[2016-07-20 06:53] akallabeth commented on #3203
@realjiangms Good to hear that it works at least in some cases. As for H264, for the time being no hardware support is planned.

[2016-07-20 14:09] T3N4K4 commented on #3448
I guess this is not a FreeRDP bug since you have to quote most of the special characters especially "$" which is used for variable names in linux distributions..

[2016-07-21 07:45] anoteng commented on #3444
After switching PPAs (see issue #3443) xfreerdp no longer connects to any servers. Adding the /rfx flag seems to correct this, but i can only see a still image of the app, and I am unable to do anything (move/resize window, enter text, push buttons).

[2016-07-21 07:49] bmiklautz commented on #3443
@anoteng what server are you connecting to? Is this a session broker?

[2016-07-21 07:50] anoteng commented on #3443
Adding the /rfx flag seems to get me further (see issue #3444), and I'm back to this error:
loading channel rail
connected to RDBROKER01.UHAD.NO:3389
Password:
expected PDU_TYPE_DEMAND_ACTIVE 0001, got 000a
connected to 158.37.3.136:3389
SSL_read: Failure in SSL library (protocol error?)
SSL_read: error:14094438:SSL routines:ssl3_read_bytes:tlsv1 alert internal error
credssp_recv() error: -1
Authe

[2016-07-21 07:52] anoteng commented on #3443
I know nothing of the servers technical details, but it is an app amde available for most administrative employees on all of the Norwegian universities, so it probably is.

[2016-07-21 17:29] ondrejholy commented on #3412
As far as I know, FIPS regulations applies on all used crypto algorithms. FreeRDP works correctly with server in FIPS mode, however doesn't work itself on a client system with enabled FIPS mode. NLA security can't be used with FIPS mode probably, because NTLM is not FIPS compliant, because it requires RC4 (see section 5.1 of [MS-NLMP]), and Kerberos is not implemented in FreeRDP. However TLS/RDP s

[2016-07-22 01:41] Cheb57 commented on #3429
The issue on my side was due to the the Win7 RDP server side implementation, using ssh tunneling and using the loopback localhost address. In this case, win7 drops immediatelly the connection during the Welcome message after logon (and stuck until timeout). Tunneling ports (remote port forwarding) from home to a second office laptop and use RDP is working fine by example. Then connect to the targe

[2016-07-22 11:48] T3N4K4 commented on #3422
@bmiklautz is there any reference where I can lookup (specific)/ the errors ? I could try to fix them for myself.. but there seems to be almost nothing when I search for MS-RDPEGFX (except for the protocol specification) or for things like "drdynvc_order_recv failed with error 1359!" or "ChannelId 10 not found!".
I can only guess that ChannelId 10 is the GFX-Channel..

[2016-07-22 15:36] geiseri commented on #2495
@dbungert did you ever get feedback?  I have two configurations that are exhibiting this issue.  Is there a way to log these "bits" that could further diagnose this?

[2016-07-25 06:10] Virp commented on #3401
I have same problem.
Local OS: Linux Mint 18 Cinnamon 64-bit
Connecting to Windows 2012 Server R2 (terminalserver)
FreeRDP version 2.0.0-dev (git 5d7027a)

[2016-07-26 09:09] Mogaba opened #3452 "USB redirection - scanner not working"
I've succesfully redirected HP Scanjet G2710 scanner to Windows Server 2012 with freerdp built from sources (version 2.0.0-dev). Windows detected it and drivers were installed correctly.
But when I click "Scan", nothing happens - no errors, no scanner activity - just nothing.
Here's the output:

[code]

[2016-07-26 16:04] HenryJacques commented on #3431
@Nazdravi
- what version of FreeRDP do you use?
- specifying a specific reader like you did (/smartcard:"KOBIL...) doesn't have the desired effect: all readers are transmitted. You can just use /smartcard
- do you have more than one reader connected?

[2016-07-26 17:13] Nazdravi commented on #3431
@HenryJacques

These are the software versions used:
freerdp 1:1.2.0_20160606-1
opensc 0.16.0-1
pcsc-perl 1.4.14-2
pcsc-tools 1.4.26-1
pcsclite 1.8.16-1

It is only one reader connected. Simply /smartcard is what I tried first (but also with no success).

Regards
Nazdravi

[2016-07-26 18:23] HenryJacques commented on #3431
@Nazdravi

ok, you should really consider testing the 2.0 branch (either compile the Master branch yourself, or pick a ready-to-go nightly build package)

[2016-07-27 14:48] ipitcher commented on #1347
This issue is still present in the master branch. I have reproduced it by building a simple Windows Form Application targeted at .NET Framework 3.5 with a DataGridView control on a form. All attempts to screencap the rendering errors produce normal images.

[2016-07-27 19:13] Nazdravi commented on #3431
Ok, I tried with the current git version (archlinux AUR package), but the result stays the same:
`[stefanie@tt-2013-2 ~]$ /usr/bin/xfreerdp /multimon /smartcard /f +aero +clipboard /v:192.168.1.10 /u:***** /p:***** /d:*****
[20:57:24:891] [6092:6093] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[20:57:24:892] [6092:6093] [INFO][com.freerdp.client.common.cmdline] - loading chan

[2016-07-27 19:21] Nazdravi commented on #3431
Ok, I tried this (archlinux AUR freerdp-git package). Still no smartcard functionality with this:
[code]
Kind regards
Nazdravi

[2016-07-27 19:52] Nazdravi commented on #3431
With /log-level:DEBUG the program produces about 1000 lines of protocol per second. Grepped with -B100 -A10 -e "SCARD_E" this is the result:
[code]
It seems that the effect occurs without a specific reason. Program start was 21:39:38.
Kind regards
Nazdravi

[2016-07-27 21:24] troyengel commented on #3448
Unfortunately, when you remove the /gp: or /p: from the commandline and let FreeRDP prompt for it, the connection then hangs with the process spinning at 100% on a CPU and no output (nothing graphical either) when using the Balabis SCB device as a gateway. Running a strace() on it doesn't provide anything too useful, hard to tell exactly what's wrong. As such we manually prompt for the password th

[2016-07-28 08:57] bmiklautz commented on #3448
@troyengel did you try to escape the whole parameter like
[code]
That way your shell shouldn't interpret the $$ and FreeRDS doesn't get any additional quotes (which would probably be included in your example from above).
There is also a PR from @akallabeth (#2570) that tries to handle quoted arguments as well. If the quoting like described above doesn't work give that branch (https://github.com/ak

[2016-07-28 13:57] ardichoke opened #3453 "No release version tagged in 3+ years"
FreeRDP has not had an actual release tagged, as far as I can tell, in over 3 years. This makes it difficult for users who want to submit/update bugs to the project to tell if they have already been fixed, but are just not in the package for our distribution since everything shows up as 2.0.0-dev, and it's hard to tell what commit the build is based off of. Providing tagged milestones for packager

[2016-07-28 13:59] #3453 closed

[2016-07-28 14:02] bmiklautz commented on #3453
@ardichoke thare are multiple issues regarding this subject. Please have a look to #2839

[2016-07-28 14:04] ardichoke commented on #3453
Sorry, a lot of results came up when I was searching for an existing issue that this would fall under. Must have missed that.

[2016-07-28 14:33] troyengel commented on #3448
I see the commit in his tree and it looks like something that might help - yeah so far I've tried a ton of things like:
[code]
...etc. I really do think it has something to do specifically with bash passing the options when launching it, even when I use an array like so (fake various examples):
[code]
When run under bash -x, it *looks* like it's preserving all the quoting and stuff, but it fails.

[2016-07-28 14:53] HenryJacques commented on #3448
@troyengel

Using Master from May 27th works perfectly well on my setup (Ubuntu Trusty and bash):

`xfreerdp /v:server /u:user '/p:$$ test' /sec:nla`

I really do thins it has something to do with your in-band gateway (a Balabit SCB right?)

Can you test directly (without the gateway)?

[2016-07-28 14:57] HenryJacques commented on #3431
@Nazdravi

What is exactly the version of the archlinux AUR freerdp-git package?
(which branch is it based on?)

If it comes from here [https://aur.archlinux.org/packages/freerdp-git/](url)
it is based on the 1.2.0.beta1.android9 branch and not the 2.0.0-dev

You should *really* try to compile the current Master yourself and give it a try.

[2016-07-28 16:03] troyengel commented on #3448
If you run it like you mentioned directly on the commandline, it works -- if you write a simple bash script like this:
[code]
...does that still work? It has to do *specifically* with passing it from a bash wrapper as a variable, not using it directly. (sadly, I do not have the option of not using the Balabit SCB - I agree this appliance might be part of the problem)

[2016-07-28 16:21] HenryJacques commented on #3448
@troyengel

Yes it works in a script.
You have to use this instead:

`MYPASS='/p:$$ test'`
`xfreerdp ... "${MYPASS}"`

[2016-07-28 17:00] troyengel commented on #3448
yeah I get the " need, I was just typing quickly - that wasn't meant verbatim. Unfortunately this is what we can't get working (and many variants of it), and it has to be an array for the space issue - it's possible this is limited to the old default version of bash on Mac OS X (3.2) but the testers have tried brew bash (v4) with no better results. We'll keep banging on it - if you escape the $ (\

[2016-07-29 12:10] simonas88 commented on #729
Are there any plans to fix this for w7 pro?

[2016-07-29 19:33] Nazdravi commented on #3431
@HenryJacques
Ok, I changed the PKGBUILD, now:
[code]
The smartcard issue still persists as reported above.

[2016-07-29 23:45] volth commented on #2922
Sorry for delay, I used ```-glyph-cache``` and forgot about the issue.
Yes, it looks fixed.
With recent software there is no problem even with ```+glyph-cache```.

[2016-07-31 19:28] volth commented on #2922
No, not fixed.
Just saw the same problem again.

[2016-08-01 05:45] HenryJacques commented on #3431
@Nazdravi

What are exactly the models of the smarcard and the reader?
- reader: KOBIL Smart Token?
- smartcard: TCOS 3.0 / NetKey 3.0 ?

I see that pcsc_scan list the card's ATR but can you really *use* it on Linux (to read a certificate, encrypt/decrypt, etc.)?
For example with Firefox or OpenSC's tool (pkcs11-tool)?

[2016-08-01 07:19] dd-jacks commented on #3452
I'm really sure it's not a freerdp problem. I'd encountered this with Epson's scanners and made a conclusion that there are no drivers exactly for windows SERVER 2012. You can try to redirect your device from windows by mstsc and I'm sure it will not work. At the same time the scanners that I redirect to windows 7 are work perfectly. For server version of windows you can configure "SANE" at the li

[2016-08-01 11:47] Hobby-Student commented on #3431
I think, I have the same problem... Compiled current master and I get many lines per second on freerdp and pcscd.

PCSCD output (not stopping, endless till freerdp exits):
[code]

XFREERDP output (current master):
[code]
this is repeated until freerdp exits. Smartcard not working.

The currently used xfreerdp version was compiled last year (don't remember the exact date, but around Decembre) and i

[2016-08-01 16:16] T3N4K4 commented on #3431
I can confirm this that is why I asked in my first post if the OP has tried to insert the smartcard into the smartcard reader before connecting to the server. This is the only way for me where smartcards are working. Without the reader is disconnected in like 5 seconds. The last freerdp version I remember working was around september with the git version 1.2.4.

[2016-08-02 06:36] Nazdravi commented on #3431
@HenryJacques
yes: Kobil Smart Token + TCOS 3.0/ NetKey 3.0
[code]
Kind regards

[2016-08-02 11:37] jobraun opened #3454 "User inputs are not recognized when video playback is running"
First some specs about the machine which was used to start remote session:
- Ubuntu 13.10
- CPU: AMD G-T44R Single Core 1.2 GHz
- GPU: Integrated Radeon HD 6250
- RAM: 1 GB
- Ethernet: 1 GBit
- Command line: `xfreerdp /v:<remote server> /p:<passwd> /u:<user> /d:<domain> /f -grab-keyboard -compression /sound:sys:pulse`

My last freerdp version I used was build from stable-1.1 branch. The overall pe

[2016-08-02 14:13] kallekutta opened #3455 "Window is not filled up"
Hello,

I have a problem. The issue occurred suddenly, after I connected a third monitor. Here is the command:
`xfreerdp /v:1.2.3.4 /size:1728x972 /kbd:0x0000041D /u:username /p:password`

This worked fine before now there is a problem with the window having black bars and not fill up. I have included a picture of my problem. Anyone have a clue?
![picture](https://cloud.githubusercontent.com/asset

[2016-08-02 20:29] computerion commented on #2617
Has there been a update to resolve this? I'm still experiencing the linking issue.

[2016-08-03 06:42] computerion opened #3456 "[iOS] Cannot Compile Due to Problem OpenSSL"
I'm trying to follow this README on my El Capitan MBP for building the `.xcodeproj`:

https://github.com/FreeRDP/FreeRDP/blob/master/docs/README.ios

Running this gives me the following error:
[code]

I definitely have `openssl` installed:
[code]

So I tried to manually set the environment variables with:
[code]

Still running into the same issue however. Any tips on how to get around this? Thanks

[2016-08-03 07:24] akallabeth commented on #3456
@computerion You need OpenSSL for iOS, not your host OS ;) Use the script referenced in the README to compile it for all necessary architectures. (note: the script on master may be out of date, an updated version can be found here: https://github.com/akallabeth/FreeRDP/blob/6f748a9b774b0b09c7f3059213610e0a228827bc/scripts/OpenSSL-DownloadAndBuild.command

[2016-08-03 08:20] computerion commented on #3456
Thanks @akallabeth
Using your new script solved the problem. However I should note that I was still forced to set the
`OPENSSL_ROOT_DIR` variables in order to get it work properly. This should probably be updated on the doc perhaps?

[2016-08-03 09:32] T3N4K4 commented on #3454
As far as I know you don't need to run your windows in Hyper-V to enable rfx.
I configured myself rfx on windows server 2008 sp1 and windows server 2012r2 (both virtual machines without hyper-v) which makes the sessions more controllable with freerdp /rfx.

Maybe this blog / website helps you (gpedit.msc settings):
http://blog.tedd.no/2011/04/28/optimizing-rdp-for-casual-use-windows-7-sp1-remotefx

[2016-08-03 09:54] vadimseyn commented on #3439
I have the same problem as you on OpenSUSE 42.1

[2016-08-03 10:27] HenryJacques commented on #3431
@Nazdravi @Hobby-Student

I use Master a0520f84a341b531689ee5e302cfea7544a938e1 with a Kobil Smart Token and a Gemalto .NET card without problem (with a Windows 7)

Ubuntu 14.04 64 bits
pcsc-lite 1.8.14
libccid 1.4.22

[2016-08-03 13:12] kfiresmith commented on #3412
Hello,
We too are working on testing FIPS 140-2 compliance and came across this on RHEL 7 (freerdp-1.0.2-6.el7_2.1).

From what @bmiklautz posted, does this mean we are just out of luck due to Windows RDP server services requiring bad cryptos?

[2016-08-03 14:17] abma commented on #2238
i'm having this issue, too. to reproduce:

open libreoffice calc, click and hold the scroll down button. release the scroll button after a few seconds:

it scrolls forever down.

this happens on a low end (linux based) thin-client: the xorg server is at ~60% cpu and only killing xfreerdp makes it responsive again.

[2016-08-03 15:01] Hobby-Student commented on #3431
@HenryJacques
ok... weird... I use a vendor specific smartcard which is only accessible via Windows middleware. Is your card also installed and used on your Ubuntu host? (I'm not able to use the smartcard on the host, even if I would try to do so - no middleware)

[2016-08-03 15:04] akallabeth commented on #3456
@computerion Thx, found the bug. the script does not properly copy the openssl headers to ```external/openssl/include```

[2016-08-03 15:41] abma commented on #2238
i tested on the same machine with a different linux distribution which uses a newer version of the linux kernel / xorg server: it takes a bit to recover but i couldn't reproduce the endless scroll problem.

(better) working xorg 1.18.3 & linux 4.4 (ubuntu 16.04)
not working: xorg 1.10.1 & linux 3.14.25

[2016-08-03 16:02] nixargh commented on #2238
You should try Yatc with 2xclient, it works better. I'm not sure it will
help, but there is a chance.

On Aug 3, 2016 6:34 PM, "abma" <notifications@github.com> wrote:

[2016-08-03 16:31] nixargh commented on #2238
Oh, sorry, wrong repository...

On Aug 3, 2016 6:48 PM, "nix argh" <nixargh@gmail.com> wrote:

[2016-08-03 19:36] computerion commented on #3456
Awesome thanks a lot for the help!

[2016-08-04 07:19] HenryJacques commented on #3431
@Hobby-Student

My card is not used on my host. I do have the PKCS#11 middleware to use it but it not used by FreeRDP at all.
It just needs to access to a reader via PCSC.

It is not a problem if you card is only usable on Windows through the CSP middleware as long as the reader is recognized by pcscd (at least for the readers I've tested) on the host.

Do you have any technical details about "vir

[2016-08-04 08:30] akallabeth commented on #3456
Fixed with pull #3450

[2016-08-04 08:30] #3456 closed

[2016-08-04 10:16] Hobby-Student commented on #3431
@HenryJacques
I think these "virtual channels" are very vendor specific. I can't tell you how it exactly works, but with virtual channels, RDP (Windows client -> Windows host) ist not talking directly to the smartcard. The middleware on the client is getting all information from th emiddleware on the host. Smartcard redirection can be disabled for the RDP session and it is working.
**So this is of

[2016-08-04 12:51] jobraun commented on #3454
Sadly /rfx didn't improve the performance.

Also did reduce the color depth via parameter `/bpp` but the result wasn't a noticable performance boost.

When I read your answer, I hoped to improve speed by adding `+async-input` and `+async-update`. But there was no improvement.

As I said in my first post, a lot of cpu load is produced due to ssl lib calls (`SHA256_Transform` and `EVP_Cipher`).

[2016-08-04 13:00] ruben-herold opened #3458 "Ipv6 pub.freerdp.com broken"
hi,
pub.freerdp.com  reloved to

ruben@work:[~] > host pub.freerdp.com 8.8.8.8
Using domain server:
Name: 8.8.8.8
Address: 8.8.8.8#53
Aliases:

pub.freerdp.com has address 212.232.26.215
pub.freerdp.com has IPv6 address a02:1b8:badc:ab1e::f8ee
ruben@work:[~] >

Would say this broken...

[2016-08-04 13:34] T3N4K4 commented on #3431
@HenryJacques I just tried with the latest nightly build:
Command line:
(To WindowsServer2012R2)

[code]

pcsc-lite version 1.8.14
libccid version 1.4.20

Ubuntu 15.10 32bits

It first shows the successful redirection of the smartcard reader, but then gets a timeout and does not seem to be connected anymore. Thats what I meant before when saying that the smartcard reader disconnects (somehow) afte

[2016-08-04 14:24] computerion opened #3459 "[iOS] Can't build with xcodebuild"
The README for this is a bit old as it suggests using iOS 6.1 :
[code]
Executing the command with `iphoneos9.3` instead gives the error:
[code]

Any ideas?

[2016-08-04 18:28] akallabeth commented on #3459
could you try running cmake with the sdk parameter? changing later does not always work

[2016-08-05 06:40] T3N4K4 commented on #3454
With

I meant the setting in the group policy. If I remember correctly it said on one page that you have to set this setting in order to be able to use rfx. Not with the /bpp setting.

async-input and async-update did help us only with rfx enabled.

To the ssl lib calls I guess a developer has to get into it.
Maybe @bmiklautz (Just trying to help)

[2016-08-05 15:36] ondrejholy commented on #3412
Hmm, FreeRDP seems to work for me on systems in FIPS mode with the patches I added in my fips branch. It can be used only with TLS security, because NLA is based on NTLM as I already mentioned and RDP security seems to use proprietary certificates which also needs MD5 (section 5.3.3 from [MS-RDPBCGR]). The first patch (63c6717) seems to be correct, however the second one (3c2a8fd) is just workarou

[2016-08-05 16:12] hardening commented on #3412
AFAICT FIPS mode is only in RDP security mode or I'm missing something ?

[2016-08-05 18:17] kfiresmith commented on #3412
Thanks for the reply @ondrejholy (though I'm not sure I fully grok it).

I'll be tracking the issue via my Red Hat customer support ticket and I'll be on the lookout for a patched / QA package from them to test with.  Our environment is moving toward full Windows 10 / WS2012+ and RHEL 7 so that'll be the client/server connection I'll be targeting for a fix and won't be making much effort to fix it

[2016-08-06 15:19] akallabeth commented on #2922
@volth Found the bug, in ```update_gdi_glyph_index``` the arguments for ```Glyph_Alloc``` are broken. Already have a fix in #3450

[2016-08-07 12:58] volth commented on #2922
@akallabeth Still reproducible with your branch https://github.com/akallabeth/FreeRDP/commits/color_conversion_fix_v4

[2016-08-07 19:16] floppym opened #3460 "freerdp2 library names conflict with older versions"
It looks like some attempt was made to allow the libraries from freerdp 2 to be installed alongside the libraries from older versions (freerdp 1.2.x). For the most part this works, with the exception of the bare so symlinks that get installed in the system libdir.

For example, here is the output when one tries to install freerdp-1.2.5 and freerdp-2.0.0 simultaneously on Gentoo Linux.

[code]

One

[2016-08-08 08:01] FragsterAt opened #3461 "clipboard between freerdp/freerdp"
clipboard corrupted, when copy from one freerdp session and try to paste in other session.
freerdp-2.0.0~git.1463131968.4e66df7 (precompiled for opensuse 42.1)

[2016-08-08 08:03] FragsterAt commented on #3439
same in freerdp-2.0.0~git.1463131968.4e66df7 precompiled for opensuse 42.1
on server side (win 10m win server 2012 etc) there are 2 monitors, but freerdp window show only "primary"

[2016-08-08 10:05] FragsterAt opened #3462 "List of freerdp return codes?"
Where is full list of freerdp return codes?
for something like this:
#! /bin/bash

freerdp ....

CODE=$?
case $CODE in
    0|5|11|12)
        exit 0
        ;;
    *)
        kdialog --msgbox "$CODE $RES"
        ;;
esac

[2016-08-08 14:55] T3N4K4 commented on #3462
Is this what you are looking for?
https://github.com/FreeRDP/FreeRDP/blob/90b3bf4891e426d422ddb0581560450013832e5e/client/X11/xfreerdp.h

[2016-08-08 15:08] FragsterAt commented on #3462
Exellent! Thank you!

[2016-08-08 16:29] VinodJagtap opened #3463 "How to know credentials (username,hostname,password) are wrongly entered while connecting with server?"

[2016-08-09 07:25] Mogaba commented on #3452
@dd-jacks You're right, seems that existing drivers for HP G2710 are not compatible with Windows 2012 (though Windows accept them without errors), tried mstsc and it didn't work, so this is indeed not a freerdp issue.

[2016-08-09 07:25] #3452 closed

[2016-08-09 08:08] HenryJacques commented on #3431
@T3N4K4 can you try with a Windows client (mstsc)?

@Hobby-Student this is useful information.
As I understand it, you don't redirect a smartcard but a PC/SC reader, whichever smartcard is inserted into it. So the redirection of a reader is only based on the host capability to address the APDUs to the smartcard (i.e. you must have the reader's pcsc driver). The middleware is of no use on the clien

[2016-08-09 08:54] Hobby-Student commented on #3431
@HenryJacques
I access the reader/smartcard via PC/SC, because no middleware on the thinclient. The Terminalserver has the middleware (and drivers) installed. I don't know how the communication between the terminalserver and pcscd is working exactly.
But as you mentioned, I have a working version. I currently use the master from October 19th 2015 (just found my changelog and needed to rollback aft

[2016-08-09 09:10] HenryJacques commented on #3431
@Hobby-Student
All right, your setup seems fine to me when you say that there is no middleware on the thinclient.

Well if I browse the code and get the history of the smartcard channel implementation (https://github.com/FreeRDP/FreeRDP/commits/master/channels/smartcard/client)
I only see 3 commits since commit 7aca1e0 and no one seems relevant to me...

Well at this point you should ask the main

[2016-08-09 09:45] Hobby-Student commented on #3431
It could be a commit not changing the smartcard channel itself, but the channel implementation in general...
I'm confused, why the current master is stressing the smartcard channel and pcscd this much. It seems to stuck in an endless loop in accessing the smartcard but not processing the result to send it back to the session.

[2016-08-09 12:18] HenryJacques commented on #3431
@akallabeth what do you think?

[2016-08-09 13:56] Rudedog9d commented on #931
There has been progress at the link mentioned before, check it out! [FreeRDP/FreeRDP-old#49](https://github.com/FreeRDP/FreeRDP-old/issues/49)

[2016-08-09 13:58] Rudedog9d commented on #2585
@meanbunny @binki Check out [FreeRDP/FreeRDP-old#49](https://github.com/FreeRDP/FreeRDP-old/issues/49)

[2016-08-09 17:36] dkwami commented on #2128
I thought the same thing, but changing the order of my arguments actually helped.  I've had the same problem going from ubuntu to windows server 2012 for a couple of weeks.  What finally worked for me was: xfreerdp --sec nla --ignore-certificate -u username -d domain serverName
Thanks @julianjm!

[2016-08-10 13:48] T3N4K4 commented on #3431
@HenryJacques it is working with mstsc.

[2016-08-10 14:48] HenryJacques commented on #3431
@T3N4K4 all right, so xfreerpd is messing with your smartcard redirection...
Maybe you should try the version that is working for @Hobby-Student (7aca1e0)

[2016-08-10 17:55] ilammy commented on #3461
Hi @FragsterAt,

Could you please elaborate on the use case you are experiencing the issue with?

- What applications do you use in both sessions?
- What kind of data are you trying to copy and paste?
- Are you able to reproduce the corruption when using an intermediate local application as a buffer?

Also, could you please describe the nature of the corruptions?

- Do you see garbage instead of t

[2016-08-11 02:44] computerion commented on #3459
Sorry for the late reply, which parameter would that be? Could you elaborate on how to do that please?

[2016-08-11 07:54] FragsterAt commented on #3461
Copy-paste from notepad to notepad. In host system paste into kate (it works).

![screenshot_freerdp](https://cloud.githubusercontent.com/assets/20900647/17581970/1d05d98e-5fba-11e6-802f-2ecc01558f1d.png)

If paste in kate, then copy from kate and paste in 2nd session - it also ok.

[2016-08-11 08:31] FragsterAt commented on #3463
Look in list of result codes: https://github.com/FreeRDP/FreeRDP/issues/3462
XF_EXIT_AUTH_FAILURE = 132

[2016-08-11 10:28] #3463 closed

[2016-08-11 10:28] VinodJagtap commented on #3463
Thank you @FragsterAt

[2016-08-11 11:18] #3462 closed

[2016-08-11 12:39] akallabeth commented on #3459
@computerion I've recently updated a lot of stuff, you should try #3450
It contains updated OpenSSL build scripts and some improvements to the FreeRDP library as well as the iOS client.

As for building:

1. Build OpenSSL with the provided script (ensure the SDK version matches the one you want to use later on)
2. Run CMake as suggested in the README. (Add ```-DIOS_PLATFORM=SIMULATOR``` if you int

[2016-08-12 01:35] StevenYou opened #3465 "How can I crosscompile the newest FreeRDP on arm-linux"
I try to change the c/c++ compiler in CMakeLists and I also try to change the C/C++ compiler in MakeFile , But it doesn't work.
I don't find any  instruction in Wiki to tell me how to do this. In Compilation of Wiki it only tell me how to compile in Linux , Mac OS and Windows.

[2016-08-12 07:02] akallabeth commented on #3465
@StevenYou This is a issue tracker, not a support forum.
Nonetheless, here is a starting point http://www.vtk.org/Wiki/CMake_Cross_Compiling

[2016-08-12 07:02] #3465 closed

[2016-08-12 08:10] AdamFonagy opened #3466 "Cannot connect after upgrading Ubuntu to 16.04"
Originally I've opened this issue for Remmina but it seems it's rather a FreeRDP issue. See: https://github.com/FreeRDP/Remmina/issues/946

After upgrading to Ubuntu 16.04 I cannot connect to the RDP server earlier I could.

In the terminal I get this message when I connect with xFreeRDP:
[12:13:37:823] [16032:16033] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_TLS_CONNECT_FAILED

[2016-08-12 09:11] davkav opened #3467 "Map keyboard shortcut to different RDP saved profiles?"
I am using a HP thin client that is running thin pro OS with FreeRDP.

The idea is that we have a thin client configured with 4 RDP sessions that are always active. We need a way for the operator to easily switch between profiles.

Is there a way to map a keyboard shortcut, Ctrl+F1 for example, to the first RDP profile configured.
Then map Ctrl+F2 to the second and so on.

I am aware that Ctrl+Alt

[2016-08-12 10:53] bmiklautz commented on #3458
@ruben-herold thanks for pointing that out. It seems a digit got missing with the last update. I corrected the address now and once DNS is refreshed it should work again.

[2016-08-12 10:53] #3458 closed

[2016-08-12 10:55] bmiklautz commented on #3455
@kallekutta can you give more information on "it worked fine before"? Can you provide some version information or build details?

[2016-08-12 10:57] bmiklautz commented on #3466
@AdamFonagy what server are you connecting to and would you add the command line you are using?

[2016-08-12 11:08] bmiklautz commented on #3460
@floppym I really wonder what 1.2.5 actually is in terms of git version. It looks like it is something between 1.1 and 2.0...

[2016-08-12 12:41] Simnol commented on #2158
Adding my name to this as having the issue.

[2016-08-12 12:46] FragsterAt commented on #3467
in linux it may be done with several x-sessions with ctrl+alt+f7, ..f8, etc switch.

[2016-08-12 13:02] davkav commented on #3467
Thanks Fragster but because of the RDP profile configuration in HP thin pro, the switch between each profile needs to be done in the one session

[2016-08-12 13:27] AdamFonagy commented on #3466
@bmiklautz the server operation system is Windows 2008 R2. I tried the following in command line:
`xfreerdp /cert-ignore /u:myusername /d:mydomainname /g:address.of.the.gateway /v:address.of.the.server`

[2016-08-12 14:56] meersjo commented on #3461
@FragsterAt , can you verify contents of all three clipboards (primary, secondary and clipboard) using xsel or similar utilities? Is it possible that the chinese (?) text was taken from the wrong clipboard? Depending on how you copy in X, it may set multiple clipboards to the same value.

[2016-08-13 22:55] ilammy commented on #3461
@meersjo, I do not think that is the case. FreeRDP uses only CLIPBOARD, so other buffers should not interfere.

I believe this may have to do something with different locales or with remote apps being used. Like, CF_OEMTEXT from Russian locale being incorrectly converted into CF_UNICODETEXT on the English side. Here is the source string in some popular encodings:
[code]
And here is destination str

[2016-08-14 00:52] untoldone opened #3468 "Building on mac with BUILD_SHARED_LIBS=ON fails"
Building on both master and stable-1.1 fail when running

    OPENSSL_ROOT_DIR=/usr/local/opt/openssl cmake . -DCMAKE_C_FLAGS_RELEASE=-DNDEBUG \
      -DCMAKE_CXX_FLAGS_RELEASE=-DNDEBUG \
      -DCMAKE_INSTALL_PREFIX=/usr/local/Cellar/freerdp/1.1.0-beta1_1 \
      -DCMAKE_BUILD_TYPE=Release -DCMAKE_FIND_FRAMEWORK=LAST \
      -DCMAKE_VERBOSE_MAKEFILE=ON -Wno-dev -DWITH_X11=ON -DBUILD_SHARED_LIBS=O

[2016-08-14 17:40] ilammy commented on #3461
Ugh, actually, I just got an insight immediately after giving the bytes another look and noticing that there are more glyphs than half of the source bytes.

[code]

Well, there is one extra glyph in the end, but otherwise this seems like the situation we have here.

Now it's interesting to see what formats can cause this, as I do not see right away any fallthrough branches in FreeRDP conversions w

[2016-08-15 08:21] FragsterAt commented on #3461
build Freerdp from git 4e66df7228b14e432a0793d32ac2524d37cb88ec

command line was like ~/FreeRDP/client/X11/xfreerdp /u:<usr> /p:<pwd> /d:<domain> +clipboard /v: | tee <log> in both sessions (connect in 2 different servers, 1st win10, 2nd win server 2012)

| tee <log> part didn't work so I attach console output
1- copy from srv1, paste in host and srv2
2 - copy pasted text from host and paste in s

[2016-08-15 09:53] FragsterAt commented on #3467
I think, freerdp need customizable keyboard shortcuts, which are processed on the host system,
eg i have shortcut to lock host system and want, and I want it to work in host system when I'm in freerdp session. Other shortcuts must be processed in session.

[2016-08-15 18:37] marcosps commented on #3347
+1

[2016-08-15 19:30] ilammy commented on #3461
**tl;dr:** I know the cause of the issue. @FragsterAt, I will ping you when a fix is ready.

----

O-o-okay. So here is a transcription of the logs.

[code]

Important points:

- source desktop provides valid data
- we send valid format list to the destination desktop
- everybody uses valid and correct formats throughout the exchange
- client requests format data _before_ the destination desktop a

[2016-08-16 06:33] FragsterAt commented on #3461
I did the same actions in the IceWM, to eliminate the influence of KDE desktop applets, the result was the same.

[2016-08-16 06:55] zzzzlzzzz opened #3471 "Race condition in nla"
Hello, I write multithreaded application with FreeRDP. I get problem:
in file libfreerdp/core/nla.c
int nla_client_init(rdpNla\* nla)
`nla->table = InitSecurityInterfaceEx(0); // return null`
I check function InitSecurityInterfaceEx in file libwinpr\sspi\sspi.c
In this file i found g_Initialized, and it is global flag.
My temp solution it is use InitSecurityInterfaceEx before start all thread.

[2016-08-16 10:55] meersjo commented on #3461
@ilammy > Unfortunately, the environment I have at the moment does not support remote apps, so I am not able to

Hm, side question: Is this on RAPPS (RAIL), and if so, does that mean there are builds where RAIL clipboard is functional? There's a couple of long-standing issues about that :-)

[2016-08-16 18:56] ilammy commented on #3461
@meersjo, yeah, I initially thought that this can be something specific to remote apps (RAIL, seamless, whatyoucallit). Then I recalled that clipboard does not work with RAIL in mainline FreeRDP.

I believe this could be fixed by 1) removing `if (!xfc->remote_app)` from xf_event_process(), 2) creating an invisible window to handle clipboard on behalf of the whole remote session when RAIL is active

[2016-08-16 20:14] ilammy commented on #3461
Hi @FragsterAt,

I could not reproduce the issue anymore with the fix from PR #3472. Could you please verify this in your environment? You can get the source code with the fix like this:

[code]

Thank you.

[2016-08-17 08:01] FragsterAt commented on #3461
It works!
Now I am waiting for the appearance of patches in a repository opensuse:x11 https://build.opensuse.org/package/show?project=X11%3ARemoteDesktop&package=freerdp via https://ci.freerdp.com/job/freerdp-nightly-rpm-build/.
It is also very important to me correction of https://github.com/FreeRDP/FreeRDP/issues/3439

[2016-08-17 08:23] FragsterAt opened #3473 "aFreerdp scale support"
Please, add /scale support into android client (it would be very useful to android portable data collection terminal, working via RDP)

[2016-08-17 08:42] meersjo commented on #3461
@ilammy , You may well already know this, but I used a variant of the instructions on http://www.windowsnetworking.com/articles-tutorials/netgeneral/host-remoteapps-windows-pcs-part1.html to enable rapps support on a regular windows desktop :-)

[2016-08-17 12:38] floppym commented on #3460
In this case, 1.2.5 is 1ba4f9b67ff77b1d28aac8bb3d1de83f71e24c2a. I tried to find the last commit before the major version was bumped in CMakelists.

[2016-08-17 20:53] d3xt3r01 commented on #2839
Any news ? I can't seem to have remmina and guacamole at the same time on gentoo.

[2016-08-18 07:19] kallekutta commented on #3455
What I mean was that the remote desktop was using the whole window. As you can see in the picture it is smaller and up in the left corner. There should be no black bars. If there hasn't been any new version since 16 days ago then it is the latest version running on Ubuntu 16.04.1.

[2016-08-18 13:58] scroogie commented on #1309
Same problem here (file descriptor). Any news about that?

[2016-08-18 15:26] DanCasier opened #3474 "Try to read a second smartcard fails."
Situation:
Server 2012R2 as terminal server.
Users using FreeRDP to log on and running an application.
Using  wfreerdp /f /v:cloud.compufit.be /u:domainname\username /p:*******\* /a:smartcard,"OMNIKEY 3x21"

Problem:
Reading for the first time a smartcard is ok. But after removing the card and input the same or another one it is not possible to read the card. The software to read the card is shown

[2016-08-18 18:56] masepi opened #3475 "Switch layout (alt+shift) doesn't work on wayland"
alt+shift change main layout, not remote machine laout.

[2016-08-18 18:57] masepi commented on #3475
Fedora 24
xfreerdp 2.0.0-dev
Gnome 3.20 + wayland

[2016-08-22 16:35] trentasis opened #3477 "freerdp and Win2012r2 TS farm with round robin"
Hi,

I'm trying to configure a ts farm with windows 2012 r2 using dns round
robin+connectionbroker and 2 session brokers and freerdp

We have configured and tested from windows 10 machine and works great ,
putting one machine offline  ping and rdp is only redirected to server that is online.

Our problem is that failover from linux with freerdp, ping and freerdp connection
is not working correctly

[2016-08-23 10:07] ondrejholy commented on #3412
I've tried wfreerdp on Windows with enabled "System cryptography: Use FIPS compliant algorithms for encryption, hashing, and signing" policy and it also works correctly, so it seems to me that this policy is something else than fips_mode on Linux... Maybe I am really trying to achieve something impossible.

[2016-08-23 18:09] flickerfly commented on #681
I found this can occur simply because of an expired password as well.

[2016-08-24 08:20] carvimodo opened #3478 "sound not working when called in subprocess"
Hi developers/experts,

I am calling xfreerdp from python via Popen (from a raspberry pi to a win8.1 machine). However neither /sound or /sound:sys:pulse or /sound:sys:alsa do work.
When I call xfreerdp using /sound parameter from the console on the pi everything works fine.

I've seen that when called from the console directly there is an output
loading channel rdpdr
loading channel rdpsnd
which

[2016-08-24 08:37] carvimodo commented on #3478
Just found, that the subprocess also returns
loading channel rdpdr
loading channel rdpsnd
as well...
So, loading these plugins doesn't seem to be the issue
Best regards,
C.

[2016-08-24 23:12] ccpp opened #3479 "Gateway HTTP parsing problem leads to connection failure"
I can't connect via gateway anymore, since our company's server changed its 401 page.
I suspect the HTTP body not to be consumed/skipped correctly in http_response_recv (libfreerdp/core/gateway/http.c).

See this line in my log below: "Access DeniedHTTP/1.1 200 Success"
-> Status 200 is not parsed correctly

    [01:09:46:552] [4789:4790] [INFO][com.freerdp.client.x11] - Authentication only. Don't

[2016-08-25 11:22] L-Eugene opened #3480 "Dropdown lists issue"
Dropdown list contents does not displayed.

Command line:
`./xfreerdp /u:user /p:pass /app:"||swriter" /v:192.168.4.200`

Server: Windows 2008 R2
Client: Linux Mint Debian Edition (both 32 and 64-bit), FreeRDP version 2.0.0-dev (installed from freerdp-nightly repo)

![shot](https://cloud.githubusercontent.com/assets/21239508/17967187/626ebfe4-6ace-11e6-9a31-842bdbcbb117.jpg)
![shot 2](https://clou

[2016-08-25 17:08] abe4it opened #3481 "Encryption problem with Citrix Receiver v4.4 and above"
I am using freerdp master-branch latest version in my program. It worked fine with Citrix Receiver until version 4.4.1000.16 where it starts to give me the following message:
"This version of Citrix Receiver does not support selected encryption.
Please contact your administrator."

Do you have an idea of what might cause this issue?
Normal windows RDP connection to the machine allows using citrix,

[2016-08-26 07:36] T3N4K4 commented on #3439
Have you tried the parameters "/span" or "/multimon:force"?
Or the combination of both "/f /multimon /span"?
Maybe it even helps to give the actual size of both monitors together to "/size:<width>x<height>".

And I don't know if it is relevant, but it sometimes worked for me to explicitly enable tls "+sec-tls".

[2016-08-26 13:44] FragsterAt commented on #3439
with /span remote system thinks that I have a big monitor,  but freerdp displays one full screen window on one of the monitors and a half of "big" screen
Other combinations, including +sec-tls, /monitors:0,1 etc, do not work

freerdp /monitor-list returns an correct result:
      * [0] 1920x1200   +0+0
        [1] 1920x1200   +1920+0

$ xfreerdp /multimon:force /sec:rdp /v:server
outputs to the co

[2016-08-28 03:45] Shuric1C opened #3483 "Print problem through FreeRDP"
Hello.
There was one problem with the seal through Remmina.

remmina - version 1.2.0-rcgit-15
FreeRDP - version 2.0.0-dev

Client (Linux Mint 17.3 x32) connected via Remmina (tick cocked - make a local printer available to the public) to WinSrv2008R2 printer redirected = print one copy of all right, but if you set the number of copies 2 - go to print 4 sheets, if you set the number of copies 3 - p

[2016-08-29 17:09] sitano commented on #2196
Can't connect to the Windows Server 2012, still getting license connection sequence abort:
https://gist.github.com/sitano/bdf2ce7f2af949c960204689df6e77b6 .

FreeRDP /version: `This is FreeRDP version 2.0.0-dev (git 3586e33)`

[2016-08-30 08:21] AdamFonagy commented on #3466
@bmiklautz is there any progress on this issue? It has become quite burning.

[2016-08-30 10:17] russian-studios opened #3484 "Problem with setRedirectMicrophone(boolean) setRedirectSound(int)"
Hello, I need setRedirectMicrophone(boolean) setRedirectSound(int) methods. But when I make ckeckout to stable-1.1 (for using in Eclipse), this methods is underfind. But in master branch this methods are current. How solve this problem?

[2016-08-30 11:57] T3N4K4 commented on #3431
With pcsc-lite 1.8.18, libccid 1.4.27 and pcsc-tools 1.4.27 it is working for me with latest master branch.

[2016-08-30 12:15] HenryJacques commented on #3431
@T3N4K4 thanks for the update (btw, pcsc-tools is not involved here, only pcsclite and libccid are used).

@Hobby-Student @Nazdravi maybe you could try with these same software versions and try again?

[2016-08-30 12:20] T3N4K4 commented on #3431
Forgot to mention it is on Kubuntu 16.04 64bits. If this matters.

[2016-08-31 08:07] okwon78 opened #3485 "XCode Build issue"
Hi

I found build problem on mac.

<img width="585" alt="screenshot 2016-08-31 at 04 48 15 pm" src="https://cloud.githubusercontent.com/assets/2689466/18120732/f25901b0-6f9b-11e6-8ab5-dbe433d499a1.png">

this problem is caused by openssl.

The version of Installed openssl library under /user/lib is less than 1.0.0. However, I want use another openssl library under /user/local/opt/ which is install

[2016-08-31 08:25] nfedera commented on #3466
@AdamFonagy have you tested FreeRDP compiled from current git master? If not, can you do this please and report the results?

[2016-08-31 13:21] blasmat commented on #2158
This issue is affecting us as well.

[2016-09-01 02:15] seyoung-hyun opened #3486 "I have a question about MPL"
Hi, I'm Seyoung.

I want to refer to the FreeRDP/client/Android/Studio/freeRDPCore/src/main/java/com/freerdp/freerdpcore/utils/ButtonPreference.java file in my commercial app.
And I find the license "MPL" not "Apache" at top of the code.
Please let me know I must comply MPL license to use the code or can comply Apache license.

[2016-09-02 07:22] Hobby-Student commented on #3431
@HenryJacques
will try to update all *pcsc* and *ccid* packages. Don't know when i will have time for this.

@T3N4K4
Never seen that the reader was unknown. For me, it's just the smartcard inside... But will test asap

[2016-09-02 20:39] ravindram17 opened #3487 "Remote desktop gateway smartcard authentication issue"
I am trying to connect to a workstation using the following commands:

xfreerdp /v:WORKSTATION /u:rmathura /d:DOMAIN.LOCAL /g:gateway.remote.com /smartcard:SCARD

I unfortunately cant connect and get this:

loading channel rdpdr
loading channel rdpsnd
Warning xf_GetWindowProperty (177): Property 296 does not exist
connected to gateway.remote.com:443
connected to gateway.remote.com:443
Could not op

[2016-09-03 13:19] trentasis opened #3488 "/smartcard issues when no device connected"
Hi,

We have detected that freerdp (tried with commit https://github.com/FreeRDP/FreeRDP/commit/3586e33866f358bd71ed035c4548505faf622ba9) is not working correclty when you try /smartcard and you don't have any smartcard device connected, and then this generates that for example printing is not working.

Only workaround found is if you don't use smartcard don't use /smartcard and if you use an smar

[2016-09-04 14:16] shalnoff opened #3489 "mouse position error correction feature"
Hi! First of all, thank you for great RDP client!

It would be great to have command-line option to add horizontal and vertical error correction coefficient for position of mouse pointer.

This feature would be really helpful for remote control of guest VM on devices with the touch screen (which makes impractical to use guest OS mouse pointer, which is shifted)

Additional info:
normally it looks

[2016-09-04 14:17] shalnoff commented on #3489
Sorry, parser kills the last line:
--pointershift Xcoeff Ycoeff XcenterShift YcenterShift

[2016-09-05 12:44] AdamFonagy commented on #3466
@nfedera I have builded from the master repo but I get the same result, see.
[code]

[2016-09-06 02:27] okwon78 commented on #3485
Solved.
This problem is caused by my mistakes

[2016-09-06 02:27] #3485 closed

[2016-09-06 23:25] puneet101 opened #3490 "AVC 444 mode"
What are the plans to update FreeRDP to implement the changes announced my MSFT for RDP 10?

**The main challenge to use AVC/H.264 as the one and only Codec in Remote Desktop scenarios is that text shows a halo effect with typical implementations of AVC/H.264. This is caused by the color conversion process that happens as part of the compression which throws away some of the**

https://blogs.techn

[2016-09-07 01:00] puneet101 commented on #3336
Any update on this? What's the best video performance option right now?

[2016-09-07 14:34] DaveCausey opened #3491 "Bad alt key state after desktop pager change in Ubuntu"
Using xfreerdp 1.0.2 on Ubuntu 14.04, with the desktop pager enabled. When I page away from the rdp session (ctrl+alt+arrow), and page back, the enter key is intercepted and used to toggle full screen. I assume this is because the application thinks the alt key is still depressed. I discovered that I can work around this by pressing the alt key again after paging back. Of course, that is intercept

[2016-09-07 17:01] trentasis commented on #3491
I have similar situation, we use freerdp as rdp client for thincljent to windows 2012r2, and i have detecfed that when user disconnect and them reconnect and for example then you press supr, appears screen line you are pressi g ctrl +alt+supr, to release this key stuck you onky have to press ctrl or alt....

Anybody can help to solve this issue or give information whre to search this bug or soluti

[2016-09-08 09:55] ilammy commented on #3490
@puneet101, FreeRDP actually supports AVC444. The `/gfx:AVC444` command line option should enable it. However, there are several issues with AVC444 support on the server-side.

[2016-09-08 12:04] AlexFdv opened #3493 "Crash at several fast rotations"
Hello everyone,

I have found a crash at Win10 desktop on Android system (**rgdgfx channel is on**, **SoftwareGdi = true**). You just need to rotate several times a device **without allowing to redraw a desktop**.

 **Screen Resolution = Fitscreen, ColorDepth = 32 bits**.

The most popular place is gdi_OutputUpdate -> freerdp_image_copy ->freerdp_image32_copy->MoveMemory(pDstPixel, pSrcPixel, nWid

[2016-09-08 16:28] akallabeth commented on #3493
looks loke I ran into this issue myself today. the gfx routines trigger screen updates from the wrong thread.

[2016-09-08 18:54] puneet101 commented on #3490
Can you describe the several issues you allude to above?

How do you decide the default option and what do you think is the default coming in the MSFT mstsc client?

Thanks!

[2016-09-09 07:10] HenryJacques opened #3494 "Feature Request: Map Ctrl-Alt-End to Ctrl-Alt-Del"
Windows users are used to use to keyboard combination Ctrl+Alt+End when using mstsc in order to change their password for example/

When using FreeRDP, they can directly use Ctrl+Alt+Del.

rdesktop has this feature to remap Ctrl+Alt+End to Ctrl+Alt+Del
https://sourceforge.net/p/rdesktop/patches/187/

Is this also possible with FreeRDP

thanks in advance!

[2016-09-09 07:17] ilammy commented on #3490
First of all, for some reason some Windows 10 systems refuse to use AVC444 unless _Prioritize H.264/AVC 444_ GPO is set. Apparently this has been fixed with some latest update and now systems behave as described in that blog post. Then we've seen servers to send malformed AVC444 data to the client which breaks the encoder after some time, like 5 to 30 minutes.

mstsc.exe client from Windows 10 sup

[2016-09-09 08:12] m3053574 opened #3495 "[freerdp-master][#3435][3586e3][Android] a problem with the color screen when ouput."
- different background color and many block.
  ![device-2016-09-09-170224](https://cloud.githubusercontent.com/assets/5018453/18379846/86dacb92-76af-11e6-8438-04c9c9061ead.png)
- window button icon color
  ![device-2016-09-09-170342](https://cloud.githubusercontent.com/assets/5018453/18379847/86dd6618-76af-11e6-9b57-de2e678afa23.png)
- my account icon on windows7
  ![device-2016-09-09-170404](http

[2016-09-09 08:14] m3053574 commented on #3495
I use build script.

export ANDROID_NDK_HOME=/Users/hyunseokjeong/Downloads/android-ndk-r10d
export ANDROID_SDK_HOME=/Users/hyunseokjeong/Library/Android/sdk
export PATH=$PATH:/Users/hyunseokjeong/Library/Android/sdk/tools:/Users/hyunseokjeong/Library/Android/sdk/platform-tools:/Users/hyunseokjeong/Downloads/android-ndk-r10d
sudo ./scripts/android-build-freerdp.sh --ndk $ANDROID_NDK_HOME --sdk $AN

[2016-09-09 09:15] hardening commented on #3481
Perhaps you could give us some more details: command line invocation, and more specifically what kind of security you're using.

[2016-09-09 23:16] puneet101 commented on #3490
Thanks! AVC444 is pretty standard now. Should be enabled by default.

Has this been tested only on Win client or other platforms also?

[2016-09-10 11:05] aildermi opened #3498 "aFreeRDP connection problem on some devices"
I'm developing an app using aFreeRDP (Android client) as a library.
Application worked perfect on almost all devices. But I faced an error which I forgot to report it sooner. There was a strange link error on some devices (like galaxy grand prime 2):

`07-28 17:59:31.160 W/dalvikvm(13044): No implementation found for native Lcom/freerdp/freerdpcore/services/LibFreeRDP;.freerdp_new (Landroid/conten

[2016-09-11 03:43] davad commented on #3032
Any followup on this? Is xfreerdp still using new connections for each application?

[2016-09-11 09:52] akallabeth commented on #3495
@m3053574 I've fixed some of these issues with pull #3450 Will rebase it soon to allow merging with current master but would appreciate some feedback on remaining issues ;)

[2016-09-12 07:24] AdamFonagy commented on #3466
@nfedera do you need some further information? Please instruct me how to support sorting out this issue. Thanks in advance.

[2016-09-12 19:26] raithedavion opened #3499 "PTH Doesn't work"
I've been trying to follow a few articles regarding using the PTH functionality & restricted admin mode.  Nothing seems to work (I've tried on a Kali 2016.1, Kali 2016.2, and an Ubuntu 16 VM) against server 2012 R2, and Server 2012.

I get the following when I attempt to connect.
**\* Error in `xfreerdp': free(): invalid next size (fast): 0x00007fecec05f290 ***
======= Backtrace: =========
/lib/x8

[2016-09-13 05:58] speidy commented on #3499
Did you enabled restricted admin mode in registry of your servers ?
בתאריך יום ב׳, 12 בספט׳ 2016 ב-22:27 מאת raithedavion <
notifications@github.com>:

[2016-09-13 09:35] T3N4K4 commented on #3431
After a week of vacation in iceland I've been working on a fix.
Currently my Kobil stick is working and so does the smartcard inside.
A few more tests and I think I can push it to the repo I am working on. Maybe a merge is possible.

[2016-09-13 09:54] ilammy commented on #3490
I believe all FreeRDP clients should support it with software GDI enabled (`/gdi:sw`). X11 client has also 'hardware' support.

[2016-09-14 08:51] HenryJacques commented on #3431
@T3N4K4 All right. Did you try with the pending PR #3464 ?

[2016-09-15 06:20] T3N4K4 commented on #3431
@HenryJacques I did not test it yet, but I looked through the commits and changes and did not find the part where I changed some lines of code. But I will try it today (hopefully).

[2016-09-16 08:31] RubenKelevra commented on #2707
So when does this issue get fixed?

[2016-09-16 13:53] ediweissmann opened #3503 "Building on Mac -DWITH_X11=ON fails"
Building `stable-1.1` on Mac OSX El Capitan fails:

[code]

Failure is:

[code]

[2016-09-18 02:56] LitCooker opened #3504 "RDP project"
hi
   could  someone  give  a  project  about FreeRDP?  thanks!

[2016-09-20 09:22] masepi opened #3505 "Dotted selection cursor"
I connect overt tsg and get dotted selection cursor
desktop os: openSuse Tumbleweed
remote os: Windows 10 Pro x64
This is FreeRDP version 2.0.0-dev (git n/a)

[2016-09-20 13:47] Mogaba opened #3506 "Quotes in /printer"
I don't know if this is a freerdp problem or my poor understanding of bash, but here's my problem:

This works:
[code]

This works too:
[code]

This also works:
[code]

But this does not work:
[code]
What's wrong with those quotes?
I'm using version 1.1.0~git20140921.1.440916e+dfsg1-4 from Debian 8.5

[2016-09-21 06:56] akallabeth commented on #3506
@Mogaba well, that looks like an expansion issue related to your shell. Just do a ```echo $PRINTER``` and see what the difference is. Btw, please use the IRC channel for such support questions.

[2016-09-21 06:56] #3506 closed

[2016-09-21 06:57] akallabeth commented on #3504
wtf?

[2016-09-21 06:57] #3504 closed

[2016-09-21 07:00] akallabeth commented on #3498
@aildermi Did you use the android compile script or did you compile yourself?

[2016-09-21 07:03] LitCooker commented on #3504
Hi !
	I am a beginner of iOS engineer.We need to use FreeRDP for this open source in our project，but I can't compile it into a static library.Could you give me a learning material or a demo for testing？
We are looking forward to your reply！Once again, I would like to offer my sincere thanks！

[2016-09-21 07:03] akallabeth commented on #3490
AVC444 server side support for FreeRDP is not there yet, but client side is working as @ilammy pointed out. As for Win10 not defaulting to it, we can't do much about it ;)

[2016-09-21 07:03] #3490 closed

[2016-09-21 07:05] akallabeth commented on #3484
@russian-studios stable-1.1 branch is unmaintained, if you really want to use that you're on your own. Otherwise use master (which is going to be 2.0 as soon as we can fix the color decoding issues)

[2016-09-21 07:05] #3484 closed

[2016-09-21 07:45] AdamFonagy commented on #3466
@bmiklautz, @nfedera, could you investigate this issue? Can I help in any way?

[2016-09-21 07:45] RubenKelevra commented on #2707
@akallabeth thanks for your answer. Since this bug is in there for a year the question is, when are we able to use multi-monitor-support again?

[2016-09-21 09:33] akallabeth commented on #2707
@RubenKelevra Well, simple (and probably unsatisfactory answer) as soon as someone finds time to address the issue. What I've seen it is a simple check missing to revert to old behavior, but I'm busy with other stuff :/

[2016-09-21 10:43] RubenKelevra commented on #2707
Sad. I found a workaround: turn the decorations off, set the resolution manually and the window will pop over everything (like fullscreen) but the window is presented to the rdp-server as one monitor, if the user expands one window this window is stretched over all monitors, which is not the expected behavior for the users.

[2016-09-21 10:43] aildermi commented on #3498
@akallabeth I used the android compile script.

[2016-09-21 15:33] akallabeth commented on #3504
@LitCooker Ah ok, now I've got a clue what you're talking about ;) Look at ```docs/README.ios``` in the source tree. There is a small howto for compiling the project for iOS. As for similar questions please pot them in the IRC channel.

[2016-09-21 18:48] shattars3d opened #3507 "32 bit colour depth issue"
Having a issue with the iOS client. When i connect in with 32 bpp for colour depth the iOS freerdp client crashes. Also, the server is set to 32 bpp colour depth.

If I set the server side to 24 app or under connects in a session fine "using freerdp iOS client"..

the errors from Xcode compiler are:

gdi_Bitmap_Decompress: Bitmap Decompression Failed
gdi_Bitmap_Decompress: Bitmap Decompression Fai

[2016-09-21 19:14] lemonmojo opened #3508 "Incorrect time stamps with drive redirection"
When using drive redirection to copy files from a Windows machine to the host machine (ie. Windows -> macOS) the timestamps are incorrect. They are however correct if copying the other way around (from the host machine to the target (ie. macOS -> Windows)).

In my case, the timestamps seem to be sometime around 2011 all the time even if the copied file has just been created before copying.

I repr

[2016-09-21 19:50] hardening commented on #2707
@RubenKelevra from what I understand the other solution is to use a WM that correctly handles the fullscreen window case...

[2016-09-22 07:15] jondo opened #3509 "Help on fullscreen mode should document how to leave fullscreen"
It was difficult to me to find out about Ctrl-Alt-Enter. (I finally found it in #1036).

So I suggest to extend the corresponding help line to

[2016-09-22 07:26] jondo opened #3510 "In fullscreen, invisible Cinnamon task bar captures mouse clicks"
I am using "FreeRDP version 1.1.0-beta1 (git n/a)" on LinuxMint 18 Cinnamon 64-Bit.

My Cinnamon desktop has an always visible task bar at the bottom, as usual.
When I now open a FreeRDP fullscreen session, this Cinnamon task bar correctly becomes hidden, but it wrongly still captures and processes the mouse events in the bottom area, as if it were on top of the RDP session.

My workaround: Settin

[2016-09-22 10:14] jondo commented on #3510
I have also filed this as https://github.com/linuxmint/Cinnamon/issues/5716, because I do not know whether FreeRDP or Cinnamon is responsible. The corresponding FreeRDP source seems to be [here](https://github.com/FreeRDP/FreeRDP/blob/90b3bf4891e426d422ddb0581560450013832e5e/client/X11/xf_window.c#L212).

[2016-09-23 12:05] akallabeth commented on #3507
@shattars3d Are you using current FreeRDP master? You could also check out #3500 which fixes a lot of bitmap decoding related issues.

[2016-09-23 14:35] shattars3d commented on #3507
@akallabeth  I found a work around the issue.. the gdi_Bitmap_Decompress method is graphics.c just have to re write some code.. but thanks i will look into that to.

[2016-09-23 15:02] sirianni commented on #3455
I am seeing a similar issue.  For me any `/size` width above 1600 width yields black bars, whereas `size` below 1600 width works as expected.  Not only is there a black bar on the right (at the 1600px cap), but one on the bottom as well.  My guess is that FreeRDP is trying to preseve the same aspect ratio given by my size parameter but within the 1600px constrained width, thus shrinking the height

[2016-09-23 20:58] sirianni commented on #3455
I am running in a dual monitor setup (laptop and external display).  The smaller screen has a width of 1600px.  This may be related to the bug...

[2016-09-24 14:42] j2gi commented on #3487
Hello,

are you trying to authenticate against the RDP gateway with smart card? If so, I don't think that's currently possible with FreeRDP. Although, I would very much like this feature as well (and so would some of my colleagues).

[2016-09-26 07:24] akallabeth commented on #3507
@shattars3d Ok, closing the issue for now. Would be great to know if the issue persists with #3500 though.

[2016-09-26 07:24] #3507 closed

[2016-09-26 07:28] akallabeth commented on #3508
@lemonmojo Your host OS is OSX in both cases?

[2016-09-26 11:15] stigok opened #3513 "Improve example for drive redirection"
When reading the examples for drive redirection, I was confused due to the wording and the actual example. It made me think the `/drive` option had something to do with the home drive itself. I could find no better information about the option in either the man or `--help`, but the wiki explains it way better:

Proposing an update to the man and `--help` and I am happy to make a pull request for t

[2016-09-26 12:41] mateuf commented on #3358
me too

[2016-09-26 14:12] lemonmojo commented on #3508
Yes, I'm testing on macOS Sierra 10.12.1.

[2016-09-26 14:32] akallabeth commented on #3508
Looks like a conversion issue in ```FileSetFileTime``` in ```winpr/libwinpr/file/file.c```

[2016-09-26 14:37] akallabeth commented on #3498
@aildermi Try without ```async-update``` or ```async-transport```, there seems to be some sync issue with one of those. Couldn't pinpoint the exact cause :/

[2016-09-26 17:28] shattars3d opened #3514 "OpeSSL issue"
Hey, cloned the latest Freerdp project.  Ran, ./scripts/OpenSSL-DownloadAndBuild.command .

got the Error... Download failed or invalid checksum. Have a nice day...

Whats the work around this?.. upgrade OpenSSL?

[2016-09-26 22:19] lemonmojo commented on #3508
Possible. Any idea on how to fix it?

[2016-09-27 06:22] jondo commented on #3510
It really seems to be that Cinnamon bug.

[2016-09-27 06:22] #3510 closed

[2016-09-27 11:30] akallabeth commented on #3514
Have a look at #3500, that contains upgraded versions.

[2016-09-27 11:30] #3514 closed

[2016-09-27 13:29] jondo commented on #3509
See https://github.com/FreeRDP/FreeRDP/issues/3071#issuecomment-173616053 for someone else with the same problem.

[2016-09-27 13:39] jondo opened #3516 "Feature request: A keybord shortcut to lock the client desktop session"
I am usually in a Windows fullscreen session via a LinuxMint-Cinnamon client.
In order to lock my client's Cinnamon session, I always have to leave fullscreen mode, move the keyboard focus out of the FreeRDP window, then hit Ctrl+Alt+L. If I just hit Windows-L, only the remote Windows session is locked.

I would like to be able lock the local Cinnamon session by hitting either of these combination

[2016-09-27 19:10] lemonmojo commented on #3508
@akallabeth Unfortunately that didn't fix it for me. In fact, after applying the patch, the timestamps are now gone completely. See the following screenshots:

Original:
![Original](https://royaltsx-v3.royalapplications.com/temp/FreeRDP_DriveRedirection_Patch_Original.png)

After Copy:
![After Copy](https://royaltsx-v3.royalapplications.com/temp/FreeRDP_DriveRedirection_Patch_Copied.png)

On the M

[2016-09-27 19:48] alex04103 opened #3517 "Segfault in normal session when using cliprdr in RemoteApp session"
My setup consists of a Windows Server 2012 installation with some published remote apps.
The problematic situation occurs under the following circumstances:

Two simultaneous FreeRDP sessions, the first one being a normal desktop session, the second one a RemoteApp session.

While the first session was open, I tried to use the clipboard redirection in the second session.
This resulted in a segfaul

[2016-09-27 21:08] bjcollins commented on #3422
I was playing around with this lately, ran into the same thing and bumped up the logging to see that ChannelID 10 is for the Channel defined in MS-RDPEGT which has the name "Microsoft::Windows::RDS::Geometry::v08.01". There are other related channels requested as well that we are not handling on the client side that I think are related: Microsoft::Windows::RDS::Video::Control::v08.01"" and "Micros

[2016-09-28 08:53] akallabeth commented on #3508
@lemonmojo Interesting, worked fine on my test mac. Got 10.11.6 here though.

[2016-09-28 14:05] bjcollins commented on #3422
As far as I can tell xfreerdp is doing the appropriate thing, MS-RDPEGT says a client should just not open the channel when requested from the server if it is not supported and that appears to be what is being done for the channel causing a problem: "Microsoft::Windows::RDS::Geometry::v08.01". However, the server still tries to use this channel when I open a video in Windows Media Player on Window

[2016-09-29 07:04] T3N4K4 commented on #3422
The problem is, that it worked fine for some months. And suddenly even with the before perfectly working versions freerdp crashes (local video formats played up to 1080p almost smoothly, 720p was perfect in image and sound).

I've done some tests with /gfx-h264. Youtube works, but local videos do not. And I've tried /gfx:rfx which does not work. I've even tried diifferent hardware since I thought

[2016-09-29 08:16] T3N4K4 opened #3518 "Long term test - Freerdp disconnects with fastpath error"
**FreeRDP Master** - Git Revision 24aa71e6cb547c02fbdf724258c3e3c0932ef0b9

**All cmake Options:**
sudo cmake -DCMAKE_INSTALL_PREFIX=/opt/freerdp -DWITH_JPEG=ON -DWITH_THIRD_PARTY=ON -DBUILTIN_CHANNELS=OFF -DWITH_CUPS=ON -DWITH_PULSE=ON -DWITH_PCSC=ON -DWITH_CHANNELS=ON -DCHANNEL_SERIAL=ON \
 -DCHANNEL_SMARTCARD=ON -DWITH_CLIENT_INTERFACE=ON -DWITH_XINERAMA=ON -DWITH_XEXT=ON -DWITH_XV=ON -DWITH_XI

[2016-09-29 10:06] Mr-LZG opened #3519 "Unable to connect to a terminal server when license model is for per-device"
four prerequisites
1. The terminal server was configured to function in per-device license mode.
2. The terminal server have more than one  license server.
3. and one license server is not activationed.
4. The license server search mode is set to automatic.
If the above condition is met, i can't use freerdp connected to terminal server. But it is ok to use MSTSC  to   connected.

but if I specify

[2016-09-29 10:08] uplusplus opened #3520 "Android client crashed"
error:
 java.lang.NoSuchMethodError: no static method with name='OnVerifyChangedCertificate' signature='(ILjava/lang/String;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)I' in class Lcom/freerdp/freerdpcore/services/LibFreeRDP;

patch:
diff --git a/client/Android/android_freerdp.c b/client/Android/android_freerdp.c
index b3a548d..50142

[2016-09-29 17:59] bjcollins commented on #3422
I think you should check out this article: https://blogs.technet.microsoft.com/enterprisemobility/2012/08/16/enabling-a-seamless-multimedia-experience-with-remotefx-media-streaming-in-windows-server-2012-and-windows-8/

I am using Windows 10 which no longer supports MMR(/multimedia option in xfreerdp) and only supports the newer Media Streaming(which is not implemented in freerdp). Your backend su

[2016-09-30 06:36] T3N4K4 commented on #3422
Thank you for your extensive answer.
Does that mean that from now on one should not use either -DWITH_X264 or -DWITH_OPENH264 since both are for decoding on the client side ?

I thought about it before that it is based on network or the server having the last decision whether to use MMR or the normal RFX Media Streaming.. Yesterday I tried with UDP since I read that

Without MMR and without /gfx i

[2016-09-30 19:28] bjcollins commented on #3422
@T3N4K4 I do not have all the answers because I am just digging through the spec myself, so you will most likely have to experiment for yourself.

If you are heavy on playing back local videos and running on Windows 2012R2, then you might want to use /multimedia without any /gfx options(this seems to work for me as it avoids the case that is breaking freerdp). /multimedia will give you the best vi

[2016-10-02 14:16] timoc commented on #3479
Same here.
Thought it might be to do with spaces in the tsv info, which i shell escaped:
[code]
but still persists.

[2016-10-03 09:35] akallabeth commented on #3503
@ediweissmann try master, stable-1.1 branch is no longer maintained.

[2016-10-04 06:45] akallabeth commented on #3520
@uplusplus Fixed in #3500

[2016-10-04 10:24] dementor5 opened #3521 "Problem with smart card redirection"
Hello
My os is on client side is Ubuntu 16.04 LTS amd64.
Remmina and freerdp compiled by instruction
https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-16.04

[code]

I trying to redirect eToken PRO Java 72K to
2012r2 server and windows 10:

xfreerdp /v:192.168.1.1 /u:testuser /d:testwin10 /smartcard

eToken PKI Client 5.1 SP1 installed on windows side.
Ubuntu and windows updated to last ve

[2016-10-05 07:06] T3N4K4 commented on #3518
If I go for the event viewer reason codes I get unfortunately:
exDiscReasonNoInfo (0x0000)

    No additional information is available.

[2016-10-05 14:29] lemonmojo commented on #3508
@awakecoding Why did you close the issue and merge the PR? At least for me the fix didn't work.

[2016-10-05 14:35] awakecoding commented on #3508
@lemonmojo I'm sorry, I went a bit too fast. A user reported a similar issue and the pull request looked fine, but I hadn't seen the original issue thread where it is clear that the fix in the pull request wasn't ready.

[2016-10-06 13:36] scaronni commented on #2839
Hello, sorry to bother; Is there any plan for the 2.0-rc1 release, maybe even without closing all 18 bugs pending? The problem with other applications still not able to target agains FreeRDP remains.

Thanks & regards.

[2016-10-06 14:17] bmiklautz commented on #2839
@scaronni today the last API changes were merged. 2.0 is quite close now. I'll see if we manage to create a time line.

[2016-10-06 17:24] hendwolt opened #3525 "build failes for current master for all openSUSE versions because of 64 bit portability issues"
Hi,

I'm trying to build the current master (2016-10-06) for different openSUSE versions (and Arch).
For all openSUSE versions the build fails in post-build checks with:

   76s] ... running 02-check-gcc-output
[   76s] ... testing for serious compiler warnings
[   76s]     (using /usr/lib/build/checks-data/check_gcc_output)
[   76s]     (using /var/tmp/build-root/openSUSE_13.2-x86_64/.build.log)

[2016-10-06 21:43] aildermi commented on #3498
@akallabeth Unfortunately removing async-update and async-transport didn't fix the issue on those devices. I think the problem must be caused by something else, because I face the error (mentioned in logcat) before connection.

[2016-10-07 09:00] caramorsimon commented on #1623
"Stickiness" is resolved with new Gnome3 release.
- ubuntu 16.04LTS xenial
- gnome 3.20
- dual monitor setup

With the prior version the rdp window was visible on its monitor after switching workspaces
I imagine for anyone with a single monitor this made workspaces & fullscreen rdp unusable - the workaround is to leave fullscreen mode & switch workspaces, switching freerdp back to fullscreen when

[2016-10-07 09:01] marrowsuck opened #3526 "screen distortion in current master"
I get some graphical artifacts when I connect to a windows server (2008/ windows7).
This is my command:
xfreerdp -grab-keyboard +clipboard -wallpaper /kbd:0x00000407 /printer /w:1920 /h:1160 /u:USER /v:IP:PORT
When I use the /gdi:sw flag, the artifacts disappear.
![screenshot-1475828930](https://cloud.githubusercontent.com/assets/1490076/19184406/3c5088a8-8c7d-11e6-9cfb-f978d817ed69.png)

![Upload

[2016-10-07 09:13] caramorsimon commented on #2748
I have multimonitor support working well with gnome 3.20 under xenial & 6th Oct build of master (uncomplicated build flags). Seems to work fine assigning 2 of 3 real monitors to the rdp session,
Using:
/multimon /monitors:1,2  +aero +fonts  +window-drag +menu-anims +decorations +smart-sizing

Windows 7 sees both monitors correctly & uses them fullscreen @ client's native resolution. No problem tha

[2016-10-07 09:49] chandramouligoru opened #3527 "Latetst aFreeRDP android client is having display issues when RDPing to 2008 machine with remoteFx enabled"
Display is fragmented with white blocks when RDPing to 2008 machine with remoteFx enabled. Where as it is working fine with 2011 machines. Working well with 2008 machines as well If remoteFx is disabled though. Any idea on whats missing here.

[2016-10-07 10:27] dreamadv commented on #3180
Hi we have same problem and we do some test, problem exist in current Master and not exist in stable-1.1 branch.

[2016-10-07 10:57] dreamadv opened #3528 "several disconnection"
We have some problem with several 3-6 disconnection at work day 8h with on current Master, with stable-1.1 this problem don't exist. We use client on debian 8 and connect to our Windows 2003 x32 server.

Debug log:
[15:13:30:568] [5887:5889] [ERROR][com.freerdp.core] - freerdp_check_fds() failed - 0
[15:13:30:649] [5887:5889] [ERROR][com.freerdp.core.nego] - Protocol Security Negotiation Failure
[

[2016-10-07 13:13] T3N4K4 commented on #3431
So.. the tests I've done were showing that FreeRDP does not send the whole "name" of the Smartcard Reader to the server.

Instead of "KOBIL Systems Smart Token (NE155019978) 00 00" for example it sends something like this: KOBIL Systems Smart Token 0.

As stated in the code the format:

* Gemalto PC Twin Reader (944B4BF1) 00 00
 *
 * name:      Gemalto PC Twin Reader
 * interface: N/A
 * serial:

[2016-10-08 13:52] giox069 opened #3530 "Slow software rendering after big October 6 update"
Hi to all the FreeRDP team (and @antenore). I have seen the big changes in October 6 updates and I'm updating Remmina to support it. I can see some interesting improvements, for example code cleanup by correctly delegating some allocations to libfreerdp and not to the client. Very good.
Currently Remmina make use of libfreerdp's software GDI, like xfreerdp /gdi:sw, and with the commits of october

[2016-10-08 18:55] mr-wong commented on #3530
Not sure about GDI but I'm facing some huge memory leak after last update. Memory usage skyrocketing within 5 mins to 300+mb, sadly I have to make rollback for the time being.

My connection string: xfreerdp /u:user /p:**** /v:host +multitransport +clipboard -decorations /f /bpp:8 +compression /compression-level:2 +bitmap-cache +offscreen-cache +async-update +aero +fonts /gdi:hw /cert-ignore

[2016-10-08 18:58] giox069 commented on #3530
@mr-wong I can confirm memory leaks: I compiled xfreerdp with "-DWITH_GCC_SANITIZE_ADDRESS=on" on cmake commandline. And at the exit, yes, the address sanitizer shows a lot of memory leaks.

[2016-10-08 20:25] hardening commented on #3530
any chance that you could git-bissect to find the faulty commit ?

[2016-10-09 09:59] heymen61 commented on #3526
I'm experiencing similar problems since last fridays update. Distortion are mainly in upper left corner and sometimes spreading to a larger area making RDP life pretty hard.

[2016-10-09 10:11] akallabeth commented on #3526
@marrowsuck will have a look at it tomorrow. just to be sure, the artifacts are entirely gone with /gdi:sw?

[2016-10-09 10:12] giox069 commented on #3530
@hardening: I'm trying to bisect to find the slowness problem. But it's hard, because intermediate steps are sometimes buggy and simply they don't work. For example, a lot of intermediate commit fails when connecting with
```[12:08:25:744] [27852:27853] [ERROR][com.freerdp.core.codecs] - Failed to create h264 codec context```
Is there a temporary workaround for this specific connection error?

[2016-10-09 11:52] heymen61 commented on #3526
Yes, they are gone. So far seen no problem. Except that some colors seem to be different.

[2016-10-09 11:58] heymen61 commented on #3526
Ok, now I've witnessed some distortions again. However it nothing compared to running without the /gdi:sw flag.

[2016-10-09 12:23] marrowsuck commented on #3526
Okay, they are not gone with /gdi:sw. However there's a lot less screen distortion and they only seem to be font related.

[2016-10-09 13:29] akallabeth commented on #3526
Ok, found it. I've missed the default initialisation of GlyphSupportLevel. Should have been disabled due to (lots) of drawing issues. Try running with ```-glyph-cache```, it should be a lot better then.

[2016-10-09 13:37] akallabeth commented on #3527
@chandramouligoru I've seen similar issues, looks like one decoding path for ClearCodec is the cause for that.

[2016-10-09 13:38] akallabeth commented on #3530
@giox069 Bisecting will probably not be helpful here, mostly rewritten the GDI color handling. A performance profile would be very interesting though.

[2016-10-09 14:03] heymen61 commented on #3526
Well for me it works I guess. Hopefully marrowsuck experiences the same. Thanks akallabeth. From your reaction I guess there might be some changes coming up concerning this issue. Or not ?

[2016-10-09 14:19] akallabeth commented on #3526
@heymen61 Good to know. Will create a pull to (properly) disable glyph cache for the time being.

[2016-10-09 17:38] marrowsuck commented on #3526
Can confirm. No issues so far with -glyph-cache. Thanks!

[2016-10-10 06:55] lanoxx opened #3532 "Implement Clipboard filesharing"
Opening this issue here as a prerequirement of this issue FreeRDP/Remmina/issues/323

I would like to ask that freedrp implements support for file sharing via the clip board. This is a feature that has long been possible in the windows implementation.

I want to take any file on Windows and copy it to the clip board (e.g. with CTRL+C) and then I want to paste it on Linux (e.g. into nautilus). This

[2016-10-10 07:10] akallabeth commented on #3526
Should be fixed with #3533

[2016-10-10 07:11] akallabeth commented on #3526
@heymen61 Are you referring to the cursor colors? Looks like there is a color format mixup with that left.

[2016-10-10 10:14] akallabeth commented on #3528
@dreamadv Without some information it is hard to tell. Command line and client? Maybe also a git revision would be very helpful.

[2016-10-10 10:16] akallabeth commented on #3520
@uplusplus closing as the callback has been fixed with pull #3500. Reopen if you still experience issues.

[2016-10-10 10:16] #3520 closed

[2016-10-10 10:45] dreamadv commented on #3528
xfreerdp /gdi:hw /rfx /v:192.168.35.1 /w:1200 /h:900 /bpp:32 /kbd:0x00000419 +compression +clipboard +fonts -window-drag -menu-anims -themes +auto-reconnect +heartbeat -glyph-cache

git version master - 16 aug 2016

[2016-10-10 12:17] caramorsimon commented on #3439
multimon & span are conflicting options. Span is where you are trying to use several local displays but present one display the remote server to display on.
Multimon is where you are trying to pass several client displays so the server understands there are multiple displays for it.
xenial/gnome/xfreerdp master build as of 6th oct works ok with multimon, I have not tried span.
I  also use /monitor

[2016-10-10 12:39] FragsterAt commented on #3439
this command didn't work on my system with prebuld freerdp-nightly-2.0-0+0~20161007033816.244~1.git267dea9.x86_64:
/opt/freerdp-nightly/bin/xfreerdp /multimon /monitors:0,1 /u:user /d:domain /v:server

[2016-10-10 13:59] bmiklautz commented on #3530
@giox069 if I'm not mistaken does the "the Failed to create h264 codec context" happen if you connect with gfx but don't have openh264 available. So this should be solved if you set Gfx-H264 to FALSE.

Regarding the performance issues it would be quite interesting what functions are generally causing the slowdown. What type of connection do you run? Could you run valgrind with callgrind/cachgrind

[2016-10-10 14:03] akallabeth commented on #3528
@dreamadv did you check if connections succeed when expilcitly connecting with ```/sec:<rdp|tls|nla|ext>```?

[2016-10-10 14:05] akallabeth opened #3539 "Glyph Cache graphical artifacts"
With GDI rewrite #3500 the glyph cache does expose more graphical issues again.
Need to review and fix the function (X11 and software implementation)

[2016-10-10 14:06] bmiklautz commented on #3528
@dreamadv on the first glance this feels more like a timeout/networking issue where FreeRDP doesn't like the network behavior for any reason and disconnects. How are you connected to your server?

[2016-10-10 15:32] akallabeth commented on #3495
#3500 is merged, any news on this issue?

[2016-10-10 18:30] realjiangms opened #3543 "X11 client surface bits with RFX no longer work after color conversion fix"
Both gdi:sw and gdi:hw shows black screen with rfx enabled.
For gdi:sw, the reason is that the invalid region is not marked. I fixed it in PR #3541
For gdi:hw, the reason is that the result image is never pasted to X window.

I tried to fix it by adding XCreateImage/XPutImage, the rfx content appears, however the content doesn't look good. It seems some tiles are not pasted at correct position.

I

[2016-10-10 19:17] realjiangms commented on #3543
Seems content problem is due to the intersaction operation. When I use tile->x/tile->y/64/64 to freerdp_image_copy directly, it works fine.

In rfx_process_message:
            region16_init(&updateRegion);
            region16_intersect_rect(&updateRegion, &clippingRects, &updateRect);
            updateRects = region16_rects(&updateRegion, &nbUpdateRects);
...

                if (!freerdp_image

[2016-10-10 19:36] heymen61 commented on #3526
I'm a developer also and use Eclipse a lot also via RDP. It seems lately to have strange pink boxes around several areas of the java perspective. When selecting a specific field in the code it outlines all occurences thereof in a vertical bar. Normally all occurences are mark with little yellow rectangles, but they have also have a pink border lately. I'm not experiencing real problems, but the lo

[2016-10-11 05:45] dreamadv commented on #3528
@akallabeth i do some additional test of it. @bmiklautz we connected to cloud server (VMWare) via VPN (Kerio Control tunnel) it can be some net lag for 1-2 sec ping(don't response) timeout. May be exist some defference in network settings between source code revision, because we don't have disconnects on stable 1.1 revision. And can't use stable 1.1 with out of sync numlock bug.

[2016-10-11 09:35] caramorsimon commented on #1623
After a restart/update I now see that thumbnails *are* working for multimon with freerdp in fullscreen mode [I may have inadvertently started a bundled 1.1.0 in error]
It treats the whole remote desktop (all monitors) as a single canvas & scales this to produce the thumbnail,  which is then shown in both the workspace overview & the desktop overview on whichever monitor xfreerdp has set as the pri

[2016-10-11 10:36] akallabeth commented on #3526
@heymen61 interesting. Could you give some more details? Just tried with eclipse neon (java) on windows 10 and I could not see any of that. (16bit color depth)

[2016-10-11 11:15] #3468 closed

[2016-10-11 13:50] bmiklautz commented on #3525
@hendwolt would you verify that PR #3544 fixes this problem for you as well?

[2016-10-11 14:29] hendwolt commented on #3525
[testpr3544.zip](https://github.com/FreeRDP/FreeRDP/files/522068/testpr3544.zip)
It doesn't work for me, but please verify, that I got the patch right. I tested against the current master.

[2016-10-11 15:08] bmiklautz commented on #3525
@hendwolt the patch looks good. Am I mistaken or do you get different errors than before now?

[2016-10-11 15:11] hendwolt commented on #3525
Am 11.10.2016 um 17:09 schrieb Bernhard Miklautz:

I get different errors now, but only, if I use the open build service.
Compiling locally without it works.
I'm investigating ...

Hendrik

[2016-10-11 15:28] hendwolt commented on #3525
Am 11.10.2016 um 17:09 schrieb Bernhard Miklautz:

Probably my mistake. It was a compiler option (-std=c99) that caused the
errors. Without it, compiling works in OBS too.
There are still a few other warnings left, but nothing that makes the
build fail.

The only warnings, that now look suspicious to me, are:

osTWbuild.log:[   99s]
/home/abuild/rpmbuild/BUILD/FreeRDP-master/client/common/client.c

[2016-10-11 15:29] #3479 closed

[2016-10-11 15:29] ccpp commented on #3479
Yes, it's a duplicate

[2016-10-11 15:32] ccpp commented on #3300
Same here (see duplicate #3479)

[2016-10-12 07:24] bmiklautz commented on #3525
@hendwolt thanks for the analysis. Could you add whole verbose build log that we can have a look to the compiler options used?

[2016-10-12 10:37] masterbender opened #3549 "android-build-freerdp.sh dont work on mac os"
./scripts
android-build.common.sh
android-build-openh264.sh
android-build-openssl.sh

they are using the -r parameter on the cp command , it should be -R (capital) to work on mac

also osX it not capable of using realpath -> workaround :
$ git clone https://github.com/harto/realpath-osx.git
$ cd realpath-osx
$ make
$ sudo make install

[2016-10-12 11:13] chandramouligoru commented on #3527
@akallabeth When will the fix be available in master?

[2016-10-12 11:17] akallabeth commented on #3527
@chandramouligoru When I've time and can pinpoint the exact issue. What I can say this far is that something in ```clear_decompress``` is not working as expected under certain conditions.

[2016-10-12 11:49] aliufukyaman opened #3550 "Using api in other application with CanvasID"
Hi to all.

I looked around the api but couldn't find any answer to my question, so asking you.
I would like to use the FreeRdp built in C language and use it in my Java application. Occasionally I prefer it for some reason and perform it by providing a CanvasID to the application, thus a "C/C++" program can be run as an external executable and give the needed screen to my application.
I need this

[2016-10-12 15:27] hendwolt commented on #3525
[verbose_log.zip](https://github.com/FreeRDP/FreeRDP/files/524935/verbose_log.zip)
I added one log (for openSUSE Tumbleweed) and the spec file. This is the version without "std=c99". This option was set in my spec file before.
The output of "echo %{optflags}" shows the options set by OBS.

[2016-10-12 15:59] realjiangms opened #3551 "Order update with smart-sizing error after the color conversion fix"
This might be another regression, but I can't find out why.
Tested with Virtualbox 5.0.26, winXP, autocad2010.
See following picture, xfreerdp command line is:
xfreerdp /v:192.168.3.21:3394 /cert-ignore /bpp:32 /gdi:hw /smart-sizing:800x600
Actual guest screen resolution is 1024x768

![image](https://cloud.githubusercontent.com/assets/4299660/19317295/27c33116-90d7-11e6-91c0-998890033621.png)

It

[2016-10-13 04:48] akallabeth commented on #3550
you can have a look at the android client jni api if that helps

[2016-10-13 10:59] Hobby-Student commented on #3431
just a little update from my side... I wasn't able to test new versions of FreeRDP in the mentioned environment. Unfortunately, it seems that I won't be able to test it before January 2017.

[2016-10-13 11:01] #3543 closed

[2016-10-13 13:28] T3N4K4 commented on #3518
Latest master build from today is still crashing:
[15:15:47:666] [19550:19551] [ERROR][com.freerdp.core.fastpath] - FASTPATH_UPDATETYPE_SURFCMDS - update_recv_surfcmds() - -1
[15:15:47:668] [19550:19551] [ERROR][com.freerdp.core.fastpath] - fastpath_recv_update_data: fastpath_recv_update() - -1
[15:15:47:668] [19550:19551] [ERROR][com.freerdp.core.fastpath] - fastpath_recv_update_data() fail
[15:1

[2016-10-13 15:19] #3459 closed

[2016-10-13 15:25] akallabeth commented on #3518
@T3N4K4 merged the rfx fixes #3545 today.

[2016-10-13 15:39] T3N4K4 commented on #3518
Unfortunately just about half an hour after that merge.

[2016-10-13 16:29] realjiangms opened #3552 "Core dump with /nsc /gdi:sw"
When testing with /gdi:sw /nsc, it Segfault at

#0  WriteColor (color=790580992, format=1610877064, dst=0x8000ee7cec30 <Address 0x8000ee7cec30 out of bounds>)
    at /home/zihao/workspace/zihao_FreeRDP/include/freerdp/codec/color.h:791
#1  freerdp_image_copy (pDstData=0x7fffee7d0030 ":\036b", DstFormat=1610877064, nDstStep=<optimized out>, nXDst=<optimized out>, nYDst=<optimized out>, nWidth=1280,

[2016-10-13 16:45] realjiangms commented on #3552
According to the fomular in freerdp_image_copy:

            const BYTE* srcLine = &pSrcData[(y + nYSrc) *
                            nSrcStep * srcVMultiplier +
                            srcVOffset];
            BYTE* dstLine = &pDstData[(y + nYDst) *
                          nDstStep * dstVMultiplier + dstVOffset];

It seems the VF flag on src or VF flag on dst are not equavelent if any of n

[2016-10-13 16:46] realjiangms commented on #3552
@akallabeth I think adding VF flag on Dst format is not correct. We still need to consider passing argument to nsc_process_message and let it add VF flag on Src format if necessary.

[2016-10-13 17:12] realjiangms commented on #3552
If VF flag on Dst / Src format should be equavelent, then the current implementation in freerdp_image_copy looks unclear.
The problem is how do we define nYsrc and nYDst if format has VF flag. I think they should always be physically the offset from left,top in the buffer.  That is, If the format has VF flag, it should be logically the offset from left,bottom. If we want to define them as logicall

[2016-10-13 18:25] marrowsuck commented on #3526
Hi there! The distortions are not entirely gone. Greyed out text is displayed differently and colors in the cmd.exe are sometimes inverted.

[2016-10-13 20:27] akallabeth commented on #3552
@realjiangms I'm starting to dislike the VF flag more and more. Maybe it should be completely split off from color format and only used as extra argument where appropriate.

[2016-10-13 20:49] bbigras opened #3553 "Keyboard layout detection: doesn't works with gnome shell (or maybe it's wayland)"
It seems [freerdp_detect_keyboard_layout_from_xkb() uses xprop](https://github.com/FreeRDP/FreeRDP/blob/1855e36179fb197e713d41c4ef93e19cf1f0be2f/libfreerdp/locale/keyboard_x11.c#L51) and it doesn't seems to works on my computer. I'm using GNOME Shell 3.20.4 on Arch. I'm not sure if I'm using wayland or not (Xwayland and Xorg are running).

[code]

[2016-10-14 08:02] akallabeth commented on #3552
@realjiangms Ok, refactored the whole thing, could you give https://github.com/akallabeth/FreeRDP/tree/color_refactor a try? Will create a pull from that if it works ;)

[2016-10-14 08:21] bmiklautz commented on #3526
@marrowsuck could you re-try with the latest master?

[2016-10-14 09:17] bmiklautz commented on #3499
@raithedavion would you elaborate what you mean with PHT?

[2016-10-14 09:23] bmiklautz commented on #3454
@jobraun there is not much you can do about the ssl library call but to try connecting with RDP security (disable nla and tls security) but this is "less" secure than. There is also a pending pull request that should improve input handling when a lot of data is transferred (like when watching a video).
I'd suggest re-trying the current master quite some GDI changes have been integrated lately. May

[2016-10-14 09:28] bmiklautz commented on #3518
@T3N4K4 if I read it correctly this happens on a 32 bit client machine? Do you have the possibility to do the same tests on a 64 bit machine as well?

[2016-10-14 09:35] bmiklautz commented on #3549
@masterbender thanks for the feedback. But the android build scripts are mainly targeted on linux (I don't think we ever used them on OSX) as we use them for our CI builds. We don't plan to "port" them to OS X. But we would gladly accept a pull request that does so ;)

[2016-10-14 09:35] #3549 closed

[2016-10-14 09:40] bmiklautz commented on #2922
@volth would you retry with the latest master?

[2016-10-14 09:42] bmiklautz commented on #681
@flickerfly haven't seen that one ;). Thanks or the hint!

[2016-10-14 09:46] bmiklautz commented on #3467
@davkav as I read it this is more something related to thin pro os than to FreeRDP?

[2016-10-14 10:00] bmiklautz commented on #3460
@floppym from my point of view it should be possible to have them installed in parallel as long as you don't have the "development" files (which should include the .so link). I'm fairly sure FreeRDP is not the only project that causes this problem on gentoo. Anyway I see your point and we'll discuss this.

[2016-10-14 10:08] bmiklautz commented on #3475
@masepi would you please add more details? Not sure what main layout and remote machine layout is.

[2016-10-14 10:09] bmiklautz commented on #3505
@masepi  please have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting and add more information like command line, client you are using, program you have the problem with, a screenshot to illustrate the issue..

[2016-10-14 10:11] dreamadv commented on #3528
@bmiklautz ok we will test same copy of VM in LAN, i will post result some later.

[2016-10-14 10:11] bmiklautz commented on #3528
@dreamadv thanks!

[2016-10-14 10:14] bmiklautz commented on #3517
@alex04103 I can't give you any schedule. However if you can provide back traces or a core file and/or a detailed instructions howto reproduce we can have a look at the segfault.

[2016-10-14 10:16] bmiklautz commented on #3477
@trentasis if "ping" is not working when the server is offline it might be a different issue. Maybe the old DNS name is still cached and the timeout you seeing is the cache timeout? What TTL is set in DNS?

[2016-10-14 10:20] bmiklautz commented on #3489
@shalnoff when do you have shifted mouse pointer? Can you give an example?

[2016-10-14 10:22] bmiklautz commented on #3032
@davad still using a new connection for each application. As far as I'm aware of there are no current plans to add this feature in the near future.

[2016-10-14 10:22] bmiklautz commented on #3481
@abe4it  have a look please: https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2016-10-14 10:24] bmiklautz commented on #3491
@DaveCausey @trentasis I think this problem is already solved on the latest master.

[2016-10-14 10:26] bmiklautz commented on #3478
Please have a look to https://github.com/FreeRDP/FreeRDP/wiki/BugReporting and add more information.
I don't see any reason why an invocation via pythons subprocess calls should matter. Maybe you can add an example script that we can reproduce this..

[2016-10-14 10:35] bmiklautz commented on #3486
@seyoung-hyun FreeRDP is generally APL. However some parts, including the Android Client, do have different licenses. If a different license is stated in the file header it does apply.
In your case if you are working an aFreeRDP based application you need to comply to APL for the user interface part.

[2016-10-14 10:35] #3486 closed

[2016-10-14 10:36] bmiklautz commented on #3480
@L-Eugene can you please re-try with the latest nightly if the problem still exists?

[2016-10-14 11:27] akallabeth commented on #3530
closing as #3536 and #3537 have been merged.

[2016-10-14 11:27] #3530 closed

[2016-10-14 11:30] akallabeth commented on #3526
@heymen61 Could you test only with ```/gdi:sw```>, ```/gdi:hw``` still has distortions with ```+glyph-cache``` but I couldn't reproduce them  when disabling it.

[2016-10-14 11:31] akallabeth commented on #3539
Related: #3526

[2016-10-14 11:53] T3N4K4 commented on #3518
Sure I'll try it again.

[2016-10-14 12:33] L-Eugene commented on #3480
Yes, the problem still exists.
[code]

[2016-10-14 12:58] hardening commented on #3499
Path The Hash

[2016-10-14 13:25] bmiklautz commented on #3499
@hardening haha yeah. Forgot about that.

[2016-10-14 13:29] bmiklautz commented on #3480
@L-Eugene do you have the same problem as well if you run without remote app?

[2016-10-14 14:07] floppym commented on #3460
If you only wanted to allow for the non-devel files to be installed concurrently, then why would you install the header files *.h in a versioned directory? It just seems kind of pointless/inconsistent.

[2016-10-14 14:16] Enverex commented on #3395
This issue is still present in current GIT.

[2016-10-14 14:40] Enverex commented on #2707
Well you can't use Openbox and you can't use Marco (see https://github.com/FreeRDP/FreeRDP/issues/3395) so which minimalist window manager can be used?

[2016-10-14 17:11] L-Eugene commented on #3480
No, problem exists only in remote app mode.

[2016-10-14 18:15] shattars3d opened #3555 "Open ssl issue"
I am building the FreeRDP iOS client, i getting no where past:
Xcode 8

test-Mac-Pro:FreeRDP-master mac$ ./scripts/OpenSSL-DownloadAndBuild.command
shasum: openssl-1.0.2h.tar.gz:
Downloading OpenSSL Version 1.0.2h ...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 5150k  100 5150k

[2016-10-14 22:44] mikedep333 opened #3556 "SmartCard redirection fails with IRP failure: ... SCardGetStatusChangeW ... status: SCARD_E_CANCELLED ..."
Client System: Fedora 25 Workstation beta with packages freerdp (2.0.0-12.20160909git1855e36.fc25), pcsc-lite-ccid, & pcsc-tools installed, and the pcscd service running.
(I also tried Fedora 24 with its older development snapshot of FreeRDP 2.0.0(b02943a from 2015-12-13 or so) and got very similar messages, and the same exact results.)

Server: Windows Server 2012 R2 with ActivClient 7.0.2

When

[2016-10-15 02:08] volth commented on #2922
I failed to start latest master, log full of

[02:05:06:869] [7:8] [ERROR][com.winpr.sync.wait] - invalid handles count(0)
[02:05:06:869] [7:8] [ERROR][com.winpr.sync.wait] - invalid handles count(0)
[02:05:06:869] [7:8] [ERROR][com.winpr.sync.wait] - invalid handles count(0)
[02:05:06:869] [7:8] [ERROR][com.winpr.sync.wait] - invalid handles count(0)
[02:05:06:869] [7:8] [ERROR][com.winpr.sync.wa

[2016-10-15 06:54] hendwolt commented on #3525
PR #3544 solved all the new warnings, that prevented a successful build for openSUSE.

[2016-10-15 06:54] #3525 closed

[2016-10-15 07:16] hendwolt opened #3558 "Unsupported ROP3: 0x00E20746 when starting very old windows apps"
version: current master of 15.10.2016
client: xfreerdp on openSUSE 42.1
remote: tested with Windows7 Prof. and Windows Server 2008

When I start very old windows programs I get "Unsupported ROP3: 0x00E20746".
I guess this is related to a rendering problem with menu points that should be "greyed out", but get painted distorted. See the attached screen shot for an example.
![sqladv_screenshot](https

[2016-10-15 10:18] akallabeth commented on #3558
@hendwolt Try ```/gdi:sw```, this implements all ROP. ```/gdi:hw``` does not.

[2016-10-15 10:25] akallabeth commented on #3555
@shattars3d Could you check your build log ```BuildLog.darwin-i386.txt``` for issues? It may also help to remove previous build files before running the script.

[2016-10-15 10:34] realjiangms opened #3559 "Win10 mstsc can't connect to rdp gfx channel"
This afternoon my win10 popup message and ask me to reboot. Then I found new rdp session to shadow server no longer support gfx. Server side complains:

[18:36:55:539] [6256:6401] [INFO][com.freerdp.client.shadow] - Gfx Pipeline Opened
[18:36:55:620] [6256:6408] [ERROR][com.freerdp.channels.rdpgfx.server] - capsSetCount is greater than 3: 4
[18:36:55:620] [6256:6408] [ERROR][com.freerdp.channels.r

[2016-10-15 10:46] realjiangms commented on #3559
https://msdn.microsoft.com/en-us/library/mt739879.aspx

New RDPGFX_CAPSET_VERSION102 is introduced and I totoally can't find any difference from RDPGFX_CAPSET_VERSION10

[2016-10-15 12:56] hendwolt commented on #3558
That works for me, thanks!

[2016-10-15 12:56] #3558 closed

[2016-10-15 17:40] marrowsuck commented on #3526
Here is the side-by-side comparison. First one with /gdi:hw, second with /gdi:sw. The cmd-glitch only happens sometimes.
![screenshot-1476552642](https://cloud.githubusercontent.com/assets/1490076/19412130/2eb27f2e-930f-11e6-8095-67b2b0077679.png)
![screenshot-1476552662](https://cloud.githubusercontent.com/assets/1490076/19412131/33de1468-930f-11e6-8ee3-2e9e60268fc9.png)

[2016-10-15 18:13] marrowsuck commented on #3526
And I get these color distortions with `/gdi:sw`.
![screenshot-1476554839](https://cloud.githubusercontent.com/assets/1490076/19412334/da51ddbc-9313-11e6-9770-37748837d578.png)

[2016-10-16 07:28] hendwolt commented on #3553
I tested this xprop command on Arch/openSUSE, KDE(Plasma5)/Gnome and X11/Wayland.

On all tested combinations the result is:

hendrik@linux-6380:~> xprop -root _XKB_RULES_NAMES_BACKUP
_XKB_RULES_NAMES_BACKUP:  no such atom on any window.
hendrik@linux-6380:~> xprop -root _XKB_RULES_NAMES
_XKB_RULES_NAMES(STRING) = "evdev", "microsoftpro", "de", "nodeadkeys", "terminate:ctrl_alt_bksp"
hendrik@linux

[2016-10-16 08:30] akallabeth commented on #3559
@realjiangms Looks like the shadow server is not gracefully handling unknown GFX capabilities. Could you try https://github.com/akallabeth/FreeRDP/tree/gfx_10_2, I've added the gfx 10.2 capability and extended the shadow server to handle unknown capabilities.

[2016-10-16 12:57] akallabeth commented on #3526
@marrowsuck Interesting. Could you find out which ROP are responsible for that? A logging entry in ```gdi_BitBlt``` should do the trick. I've not seen such glitches when testing locally, so maybe I'm missing something.

[2016-10-16 16:55] dreamadv opened #3561 "Android hardware cursor keys"
I have terminal collection data (http://atol.ru/upload/iblock/353/l34h15do3y.jpg) with hardware cursors keys that work inside android UI. And this arrow keys don't work in freerdp session.

[2016-10-16 20:06] trentasis commented on #3491
can you confirm what git has solved the issue?

thanks

2016-10-14 12:25 GMT+02:00 Bernhard Miklautz <notifications@github.com>:

[2016-10-16 20:09] trentasis commented on #3477
not sure, same dns and config with windows and mstc works and traffic is
redirected.
what config I have to use to read information about session hosts are up
from connection broker?

thanks

2016-10-14 12:17 GMT+02:00 Bernhard Miklautz <notifications@github.com>:

[2016-10-17 07:27] akallabeth commented on #2922
@volth Could you give some details on your setup for this test (command line et al)? The log entries do not say much without context.

[2016-10-17 08:15] bmiklautz commented on #3491
@trentasis not exactly sure what you mean? But you can give the latest master (https://github.com/FreeRDP/FreeRDP) a try ;).

[2016-10-17 09:06] uplusplus opened #3564 "Android client blocked"
static int android_freerdp_run(freerdp* instance){
......
WLog_INFO(TAG, "Prepare shutdown...");

	if (async_input && inputThread)
	{
		WaitForSingleObject(inputThread, INFINITE);
		CloseHandle(inputThread);
	}

WaitForSingleObject blocked after logoff.

parameters:
10-17 08:50:03.360 31459-31613/com.freerdp.afreerdp I/com.freerdp.client.android: [pid=31459:tid=5dcc3460] - arg[0]=LibFreeRDP
10-17

[2016-10-17 09:08] carvimodo commented on #3478
It seems it might be connected to the OS the target machine is running (Windows 8.1).
I've also got sound issues when disconnecting and reconnecting without logging on to the target machine in between...
Windows 10 seems to be working fine. But as I didn't get my own Windows 10 machine to thoroughly test with, I can't confirm that (yet).

[2016-10-17 09:34] gnshkl1 opened #3565 "session disconnect then reconnect failed with GFX options"
Dear Team,
GFX options such as below are having issue with session disconnect .not able to reconnect the session after disconnected with using below GFX options one by one.

/gfx-h264
 +gfx-small-cache
+gfx-progressive

Remote Server :-Windows 2012 R2
Git Tag:- 9adc132

ubuntu@ubuntu:~$ xfreerdp /f /cert-ignore  +fonts   /u:abc  /p:xxxx  /v:172.x.x.x   /gdi:hw    /gfx-h264

[02:51:21:293] [24202:2

[2016-10-17 09:44] #2034 closed

[2016-10-17 10:06] dementor5 opened #3566 "There is no repository for ubuntu yakkety"
I am trying to install freerdp-nightly on ubuntu yakkety, from xenial
`deb http://pub.freerdp.com/repositories/deb/xenial/ freerdp-nightly main`
But it not work, i have following errors:

[code]

[2016-10-17 10:24] bmiklautz commented on #3566
@dementro5 ubuntu 1610 isn't supported  as our build machines aren't upgraded yet. I have it on my todo and have a look once there is a calm minute.

[2016-10-17 10:48] T3N4K4 commented on #3518
@bmiklautz it still crashes. Even with 64bit.

[2016-10-17 10:58] bmiklautz commented on #3518
@T3N4K4 thanks for testing. Would be interesting if we are able to reproduce the behavior. But just to make sure "crashing" means for you that you are getting disconnected but you don't get a segfault or similar, right?

[2016-10-17 11:00] dementro5 commented on #3566
bmiklauz, thank you!

[2016-10-17 12:19] T3N4K4 commented on #3518
Yes, the sessions just ends itself. If I've been watching a video on youtube and would reconnect immediately the video would still be playing.
There are no segfaults or any messages in dmesg.

The latest command line I've been using was:
xfreerdp /u:$USER /p:$PASSWORD /d:windows /rfx /gdi:hw /bpp:32 +sec-tls -sec-nla +async-input +async-update /cert-ignore /v:$SERVER

The reason behind +async-inpu

[2016-10-17 12:32] akallabeth commented on #3518
@T3N4K4 The issue with input starvation should fixed with #3364

[2016-10-17 12:35] akallabeth commented on #3561
@dreamadv aFreeRDP has has not been designed for hardware input. Currently there is no plan on including that, but of course a pul request is welcome.

[2016-10-17 12:37] akallabeth commented on #3565
duplicates #3527, #3579

[2016-10-17 12:37] #3565 closed

[2016-10-17 12:39] trentasis commented on #3491
Can you confirm what commit has solved this issue?

2016-10-17 10:15 GMT+02:00 Bernhard Miklautz <notifications@github.com>:

[2016-10-17 14:16] akallabeth commented on #3564
@uplusplus Deactivate async-input for the time being. Async modes need some love.

[2016-10-17 14:52] shattars3d commented on #3555
@akallabeth  Hey, where do i locate that text file BuildLog.darwin-i386.txt? Also how do i remove the previous build files?

[2016-10-17 15:03] realjiangms commented on #3559
I tested it. Pasted comments in the corresponding PR.
Can we make it merged to master soon?

[2016-10-17 15:05] realjiangms commented on #3552
I've already pasted my feedback in the corresponding PR

[2016-10-17 15:25] shattars3d commented on #3555
@akallabeth  Hey, i have checked the BuildLog.darwin-x86_64.txt text file, this is the error

clang: warning: using sysroot for 'MacOSX' but targeting 'iPhone'
ld: building for iOS simulator, but linking against dylib built for OSX (/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.12.sdk/usr/lib/libSystem.tbd). file '/Applications/Xcode.app/Contents/Deve

[2016-10-17 16:05] akallabeth commented on #3555
@shattars3d Check your setting of ```SDK_VERSION``` , ```CROSS_TOP```, ```CROSS_SDK``` and ```CC``` maybe something with autodetection is failing on your setup.

[2016-10-17 16:11] akallabeth commented on #3550
closing as answered. if you have more specific issues ask on the mailing list or via IRC

[2016-10-17 16:11] #3550 closed

[2016-10-17 17:12] hardening commented on #3415
@hendwolt can you give a try at https://github.com/hardening/FreeRDP/tree/wayland_fixes ?

[2016-10-17 17:16] shattars3d commented on #3555
@akallabeth  Where do configure these settings? SDK_VERSION , CROSS_TOP, CROSS_SDK and CC

[2016-10-17 18:10] hendwolt commented on #3415
Am 17.10.2016 um 19:12 schrieb David Fort:

Works for me.

This fixes the crashes because of "listener function for opcode 5 of
wl_pointer is NULL". I don't see them any more.

Tested on openSUSE Tumbleweed, "Gnome on Wayland".

Hendrik

[2016-10-17 20:26] hardening commented on #3415
Good to hear, cursors aren't implemented yet, so let's keep that issue opened

[2016-10-18 02:48] uplusplus commented on #3564
@akallabeth without async-input,it will automatically stop:
10-18 02:41:18.570 13602-13602/com.freerdp.afreerdp I/PROFILING: start profiling shared library libfreerdp-android.so
10-18 02:41:18.580 13602-13602/com.freerdp.afreerdp I/PROFILING: process 'libfreerdp-android.so', base = 0x0, lo = 0x5d717000, hi = 0x5d724000
10-18 02:41:18.580 13602-13602/com.freerdp.afreerdp I/PROFILING: process 'libfr

[2016-10-18 03:24] volth commented on #2922
https://github.com/volth/docker/blob/master/freerdp.sh
https://github.com/volth/docker/blob/master/freerdp-xfce-hotkeys.sh
I just changed branch to the master and ```-glyph-cache``` to ```+glyph-cache```

[2016-10-18 07:22] akallabeth commented on #2922
@volth get rid of async transport, it's a pain to use. will remove it when I've got time.

[2016-10-18 07:29] akallabeth commented on #3555
edit the build script and check the function compiling the code.

[2016-10-18 09:27] akallabeth commented on #3564
@uplusplus Does this also happen without gprof? Profiling is only meant to be used to get a estimate of cost of functions, not for flawless operation.

[2016-10-18 19:02] shattars3d commented on #3555
@akallabeth fixed the issue, had to update macports and open ssl
Also, in OpenSSL-DownloadAndBuild.command you should make MIN_SDK_VERSION="", no version number.

[2016-10-18 19:02] #3555 closed

[2016-10-19 08:44] hyacinthes commented on #2514
Have you tried with "/dvc:urbdrc,id,dev:"?

xfreerdp /cert-ignore /f /bpp:32 -sec-nla /kbd:0x00000409 /a:drive,flash,/media /a:smartcard,scard /dvc:urbdrc,id,dev:046d:082d /u:user /p:password /v:server

[2016-10-19 11:31] #3552 closed

[2016-10-19 20:53] hardening commented on #3415
@mfleisz cursors aren't implemented yet !

[2016-10-20 05:49] kiav commented on #681
I used /sec:tls to solve the problem.

`$ cat /etc/system-release
ALT Linux 7.0.5 KDesktop  (Centaurea Montana)

$ rpm -qa | grep -F openssl
openssl-1.0.1u-alt0.M70P.1

$ rpm -qa | grep -F xfreerdp
xfreerdp-1.1.0-alt1.M70P.1.beta1`

[2016-10-20 06:25] mfleisz commented on #3415
@hardening Sorry - Github automatically closed this issue after merging #3568

[2016-10-20 07:52] akallabeth commented on #2514
For reference #3175 addresses some issues with USB redirection

[2016-10-20 09:52] soar commented on #3454
I can confirm this problem. Running even YouTube 480p video in small box causes interface lag. Session becoming unusable, I can't press any interface button, only kill xfreerdp process.

When FreeRDP 1.1 works nice on 1 GHz CPU, FreeRDP 2.0 on same processor looks very slow. On a 2-cores 2.5 GHz CPU all works nicely.

[2016-10-20 10:47] akallabeth commented on #3454
Should be fixed with #3364 or am I wrong with that assumption?

[2016-10-20 11:07] soar commented on #3454
@akallabeth should I use `max-loop-time` parameter for testing?

[2016-10-20 12:06] T3N4K4 commented on #3518
@akallabeth the input starvation issue seems to be fixed and working for me.

Maybe the crash is gone too, I am currently testing the newest commits.

[2016-10-20 13:56] hardening commented on #3454
If all the complains in this issue are fixed by #3364, let's close it. Bug reporters any objection ?

[2016-10-20 17:06] akallabeth commented on #2238
Fixed with #3364 on master.

[2016-10-20 17:06] #2238 closed

[2016-10-20 17:14] akallabeth commented on #3279
@chandramouligoru Color conversion patches have been merged. One remaining issue is a very specific bug in ClearCodec (clear_decompress) which I did not find time to trace back.

[2016-10-20 17:17] akallabeth commented on #3385
@DatBewar Does the issue still occur on current master?

[2016-10-20 17:20] akallabeth commented on #3295
@DieselV Does the issue persist with current master?

[2016-10-20 17:28] akallabeth commented on #2931
closing due to lack of feedback.

[2016-10-20 17:28] #2931 closed

[2016-10-20 17:39] #3367 closed

[2016-10-21 05:53] chandramouligoru commented on #3279
@akallabeth
I just tried latest master RDPing to Windows 2008 machine by enabling GFX/ H264 and I could still see the color issues. Below is a screen grab.

![device-2016-10-21-111946](https://cloud.githubusercontent.com/assets/17047692/19588052/adb65672-9780-11e6-9ba1-700f6ed86683.png)

[2016-10-21 07:10] mnasiadka commented on #3300
Hi - I have a similar problem with latest master (connecting through TSG):

[02:01:26:956] [18656:18656] [INFO][com.freerdp.utils] - Registering signal hook...
[02:01:26:979] [18656:18657] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[02:01:26:979] [18656:18657] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpsnd
[02:01:26:980] [18656:18657] [DEBUG][com.freerdp.

[2016-10-21 07:13] akallabeth commented on #3279
what specific issue is there? wrong color of fonts? did you compile with openh264? and could you give some details about connection settings?

[2016-10-21 08:56] chandramouligoru commented on #3279
Here is the actual screen grab without Gfx/ H264.
![device-2016-10-21-142342](https://cloud.githubusercontent.com/assets/17047692/19592628/43116586-979a-11e6-9328-f78fad08aa01.png)

Yes. I did compile with openh264.

[2016-10-21 09:39] richud commented on #1505
Hi,
Just tried todays git and sadly several years later this still isn't working :(
(Having read #2100 it sounds that we likely also have multiple gateways)

rich@R8200:~/tmp/FreeRDP$ ./client/X11/xfreerdp /u:"xxxxxx" /gu:"xxxxxx" /p:"xxxxxxxx" /gp:"xxxxxxxx" /d:xxx.xxx.xxx.uxxxk /gd:xxx.xxx.xxx.xxx /v:xxx.xxx.xxx.xxx  /g:xxx.xxx.xxx.xxx
[10:31:11:536] [6422:6422] [INFO][com.freerdp.utils] - Regis

[2016-10-21 11:49] soar commented on #3454
Today I've got client crash on a6f4117 - browser was opened with YouTube video playback (about ~10 minutes after login).

[code]

I don't see this bug on previous builds and I think it can be related to this change. Checked on Windows Server 2012 with enabled RemoteFX.

[freerdp-crash-a6f4117.txt](https://github.com/FreeRDP/FreeRDP/files/544241/freerdp-crash-a6f4117.txt)

[2016-10-21 13:31] soar commented on #3518
I have same problem: https://github.com/FreeRDP/FreeRDP/issues/3454

[2016-10-21 13:52] T3N4K4 commented on #3518
Maybe it is a problem with Windows Server 2012 R2.
I can try next week to reproduce the error on 2008 R2.

[2016-10-21 14:22] akallabeth commented on #3454
@soar Are you using any of the async command line options?

[2016-10-21 14:30] soar commented on #3454
@akallabeth Nope. I provided command line options exactly as I use it.

[2016-10-21 14:41] akallabeth commented on #3279
@chandramouligoru Could you check logcat for RFX/GFX decoding messages (please activate logging in the bookmark first). Looks a lot like there is no GFX used.

[2016-10-21 15:01] akallabeth commented on #3454
@soar Ok, checked the code. The only reason this function may fail is if it receives a unexpected command. (short remaining data) Could you check if it works without compression?

[2016-10-21 15:04] akallabeth commented on #3454
closing this issue as the initial error reported is resolved. Continuing the disconnection issue in #3518

[2016-10-21 15:04] #3454 closed

[2016-10-21 15:06] akallabeth commented on #3518
As pointed out in #3454 it may be related to compression. Would be interesting, if the error vanishes if it is turned off.

[2016-10-21 15:11] akallabeth commented on #3498
@aildermi Thought a bit about your issue, could it be related to aggressive power management killing the TCP connection?

[2016-10-22 10:03] AdamFonagy commented on #3466
Meanwhile I tried many things and finally got to work an old version of FreeRDP.
First I deleted the known_hosts file. It is located at ~/.config/freerdp on Ubuntu. After this I still got the same error with current GIT version of FreeRDP.
Then I downgraded FreeRDP to this version and got to work FreeRDP fine however remmina still doesn't work.

[code]
The command line I used to get it work was th

[2016-10-22 15:54] T3N4K4 commented on #3518
Is it sufficient to use "-compression" in the command line or do I have to change the level of the compression to 0 ?

[2016-10-22 19:46] volth commented on #2922
Even worse: http://i.imgur.com/iY4uDs6.png reproducible only with ```+glyph-cache```

[2016-10-22 22:39] djmannion commented on #3508
I am also having this problem, but from a Windows -> Linux direction. It seems to occur particularly for Word documents. For example, if I (in Windows) create a new Word document in a folder on my Linux computer it has the correct time stamp information - but when I modify the file, the time stamp information changes to sometime in 2011 (such as 1 August 2011).

[2016-10-23 08:00] deity6473 opened #3573 "How to install freerdp under linux 11SP3"
Hi All,

I tried to install freerdp under linux 11SP3 but got many dependency packages there, and didn`t find corrent dependencies package, how can i install it properly:

linux:~ # rpm -ivh freerdp-nightly-2.0-0+0-20161020033818.252-1.gitf5a6645.x86_64.rpm
error: Failed dependencies:
        libc.so.6(GLIBC_2.14)(64bit) is needed by freerdp-nightly-2.0-0+0~20161020033818.252~1.gitf5a6645.x86_64

[2016-10-23 10:27] akallabeth commented on #2922
@volth This was with or whithout ```/gdi:sw``` ?

[2016-10-23 12:48] akallabeth commented on #3518
@T3N4K4 ```-compression``` is sufficient.

[2016-10-23 14:34] #3442 closed

[2016-10-23 17:53] volth commented on #2922
without

[2016-10-24 08:07] akallabeth commented on #2922
@volth Ah, ok. I've been collecting issues related under #3539. X11 glyph cache is still broken badly, but with ```/gdi:sw``` it should be working.

[2016-10-24 08:11] akallabeth commented on #3559
@realjiangms Ok, closing as the corresponding pull has been merged. Reopen if you reencounter the issue.

[2016-10-24 08:11] #3559 closed

[2016-10-24 08:11] bmiklautz commented on #3573
@deity6473 I'm sorry but the nightly packages don't support SLES. You will need to build/package it on yourself.

[2016-10-24 08:11] #3573 closed

[2016-10-24 08:36] akallabeth commented on #3518
@T3N4K4 If the compression option does not help disabling async-update could be worth a try (the non responsive stuff should be resolved by #3364). Either way, would be interesting to get the root cause of your issue.

[2016-10-24 08:51] soar commented on #3518
I've tested for an hour without compression - still working. Full command line:

[code]

But still have problems with synchronization between audio and video streams (YouTube in Chrome).

[2016-10-24 09:05] akallabeth commented on #3518
@soar
* A/V sync: I see you use ```/multimedia``` redirection and ```/rfx``` in combination? So do you play the video in MS media player? If not (or if you do not use that switch) the A/V paths are quite different
* Please do not use ```+compresseion``` and ```-compression``` in the same command line (it is a but in the parser that it is actually not aborting with an error)

[2016-10-24 09:08] akallabeth opened #3574 "CommandLine Parser buggy"
- Channels can not provide extensions without modifications in libfreerdp core
- Parser is not checking for duplicates
- Option descriptions are out of date and would need some more detailed explanations

[2016-10-24 09:13] soar commented on #3518
@akallabeth Thanks - I forgot first `compression` occurrence in my run script. I think command-line options should be checked for such user typos...

And what about `/multimedia`, `/sound`, `/microphone` and `/rfx`? Am I wrong? How I should use them? I didn't found any explanation in docs.

[2016-10-24 09:46] T3N4K4 commented on #3518
@akallabeth currently it is working fine with -compression, but I had some sessions which disconnected at around 7 - 8hours in, so I keep the test running for the moment.

@soar I guess (like @akallabeth said) /multimedia is for multimedia redirection which is working with the windows media player only.
/rfx and /multimedia are two different channels and therefore two different implementations.
So

[2016-10-24 09:54] soar commented on #3518
@T3N4K4 so, if I use `/multimedia` and `/rfx` simultaneously - they should work fine? Or I shouldn't use `/multimedia` with `/rfx` at all?

[2016-10-24 10:38] akallabeth commented on #3518
@soar Well, your mileage may vary, ```/multimedia``` has not seen many updates with FreeRDP in a long time. For anything newer thant windows 7 I'd also recommend using one of the ```/gfx``` options.

[2016-10-24 10:58] akallabeth commented on #3518
@T3N4K4 ```/sound``` implies ```/audio-mode:1```. As for the tests, good to know, would be nice to find this nasty thing.

[2016-10-24 11:21] soar commented on #3518
@akallabeth After two hours with `-compression` I've got same error.

[2016-10-24 13:30] T3N4K4 commented on #3518
@akallabeth mine was running fine with this minimal command line parameters:
/opt/freerdp/bin/xfreerdp "/u:$USER" "/p:$PASSWD" "/d:windows.local" /v:$CON_SERVER /gdi:hw /bpp:32 /kbd:0x0407 /t:"Test" /rfx -compression /network:lan /cert-ignore

Going to test some more command line parameters I usually add.

[2016-10-24 13:47] soar commented on #3518
@T3N4K4 how long did you test it? Without `-compression` I get crash after 10-20 minutes, with `-compression` - after ~2 hours.

[2016-10-24 15:07] T3N4K4 commented on #3518
@soar for about 7 and a half hours with -compression.

[2016-10-24 19:10] erenoglu opened #3575 "RemoteApp Cisco Jabber moving out of screen when resized"
Hi, it's a tough bug to describe. I have the following multi-monitor configuration:

[code]

eDP1 is below HDMI1 in physical layout.  I start Cisco Jabber in a virtual machine with this:
`xfreerdp "/app:||jabber" /v:xxxx /u:xxxxx /p:xxxx +fonts +clipboard /sound:sys:pulse /microphone:sys:pulse -themes -wallpaper -grab-keyboard /multimon /monitors:1`

The /multimon and /monitors:1 are parameters I

[2016-10-24 19:13] erenoglu commented on #3575
I also tried to set /size: parameters, /w: parameter to limit available width, those didn't work neither.
Btw, while the window is moving to the right to dissapear from view, if I catch it with the mouse, I can pull it back to where I want, until the next time it starts to move.

[2016-10-24 19:32] erenoglu commented on #3575
Here is the Window moving out of view. I managed to capture a video of it:

[window_moving_out_of_view.zip](https://github.com/FreeRDP/FreeRDP/files/548757/window_moving_out_of_view.zip)

and here is the picture of the hidden window in Gnome Zoom out mode, after it's gone:

![20161024_232429](https://cloud.githubusercontent.com/assets/2230575/19660618/9755999c-9a41-11e6-8de6-454aa02c35f6.jpg)

Hop

[2016-10-25 06:25] T3N4K4 commented on #3518
@akallabeth with the new command line the session disconnected after one hour:

`/opt/freerdp/bin/xfreerdp "/u:$USER" "/p:$PASSWD" "/d:$DOMAIN" /v:$CON_SERVER /gdi:hw -f -decorations /monitors:0 /bpp:32 /kbd:0x0407 /t:"Test" -async-input -async-update +sec-tls +sec-nla /rfx -bitmap-cache -grab-keyboard /sound:sys:pulse /audio-mode:0 /sound:latency:50 -compression /network:lan +fonts -aero -window-

[2016-10-25 06:58] akallabeth commented on #3518
can you rule out network and server side issues? your second disconnect issue (it is not a crash ;)) looks like a server side connection reset. also multiple /sound options won't work, the last one overrides all before that.

[2016-10-25 07:27] T3N4K4 commented on #3518
I guess the network is fine I switched to another server for now since I got every 10 - 15 minutes one of those BIO_read errors. At least it isn't a crash ;)
So for the sound is it correct to use` /sound:sys:pulse,latency:50` ?

[2016-10-25 07:32] uplusplus commented on #3564
@akallabeth It works after I updated the code. Thanks for your help.

[2016-10-25 07:40] akallabeth commented on #3564
Ok, glad it worked.

[2016-10-25 07:40] #3564 closed

[2016-10-25 07:54] akallabeth commented on #3518
@T3N4K4 Yes, it is the only way you get both parameters used. You're just lucky the default backend is pulse if it is available.

[2016-10-25 14:16] T3N4K4 commented on #3518
@akallabeth I've tested some more.
Everytime my session disconnects either pulse main process has ended and is respawning or alsa got a buffer underrun.
`
ALSA lib pcm.c:7843:(snd_pcm_recover) underrun occurred
ALSA lib pcm.c:7843:(snd_pcm_recover) underrun occurred
ALSA lib pcm.c:7843:(snd_pcm_recover) underrun occurred
ALSA lib pcm.c:7843:(snd_pcm_recover) underrun occurred
ALSA lib pcm.c:7843:(

[2016-10-25 15:02] soar commented on #3518
@T3N4K4 I think you should not use `/sound:sys:alsa` when pulse is present in your system. Use it only when bare alsa manage your sound. I've tested many different situations - `/sound:sys:pulse` works much better and all settings could be done in pulse configuration.

[2016-10-26 03:20] uplusplus commented on #3336
how to add multimedia redirection support for android?

[2016-10-26 05:51] volth commented on #2922
with ```/gdi:sw``` it is a bit better, but still worse than the initial in the old FreeRDP.

![m0wfwsw](https://cloud.githubusercontent.com/assets/508305/19714761/36f3c6fa-9b40-11e6-876c-f1952acf593b.png)

[2016-10-26 06:04] T3N4K4 commented on #3518
It does not matter which one I use. Pulse does not work correctly in some cases where I switched to alsa and it was just a test. But as a matter of fact both audio services are ending themselves just before the freerdp disconnect happens.

[2016-10-26 08:47] aildermi commented on #3498
@akallabeth Unfortunately it isn't. Actually the problem happens before connection establishment, and also power management mode is disabled.

[2016-10-26 17:35] realjiangms opened #3576 "Regression: Wrong alignment calculation"
Actually this is not a real regression. Because the code before color conversion fix was also wrong.

Code in xf_CreateSurface:
···
    surface->gdi.scanline = surface->gdi.width \* GetBytesPerPixel(
                                surface->gdi.format);

[code]

···

The above code is going to align scanline to scanline_pad
But if scanline_pad is 4(32/8), and width is already multiple of 4bytes, e

[2016-10-26 17:47] realjiangms commented on #3576
Originally the xf_CreateSurface has similar code as gdi_CreateSurface:
    surface->scanline = (surface->width + (surface->width % 4)) * 4;

But that is also wrong. It works fine when width is mulitple of 4, but isn't correct in other cases

[2016-10-27 05:51] akallabeth commented on #3498
ok, got it. freerdp uses a simple comparison of server certificates. the crash in logcat happens there.

[2016-10-27 08:42] akallabeth commented on #3336
@uplusplus Well, you have to implement a backend to overlay the android view with the multimedia content. But multimedia redirection is deprecated anyway, why not just use GFX:rfx, GFX:avc420 or GFX:AVC422?

[2016-10-27 09:23] T3N4K4 commented on #3518
Further testing:

For all if not changed (`/gdi:hw -f -decorations /bpp:32 -sec-tls -async-input -async-update +grab-keyboard /network:lan +fonts +menu-anims +themes -clipboard`)

With `+sec-nla /sound:sys:pulse,latency:50 -compression` (without rfx) no problems for 2 hours.

With `/rfx +async-update +sec-nla /sound:sys:pulse,latency:50 -compression`:

[code]

With `/gfx +async-update +sec-nla /so

[2016-10-27 10:03] uplusplus commented on #3336
@akallabeth The video playback speed is only 10 fps。

[2016-10-27 15:10] akallabeth commented on #3336
@uplusplus That was the speed with the first or second command line?
AVC444 is maybe not the best mode for slow hardware, /gfx:AVC420 is much faster. If you don't care about bandwidth you can also just use /gfx:rfx
If that is still too slow you'll need hardware accelerated H264 for your device, which is currently not implemented for the GFX channel.

[2016-10-27 16:06] jar-dev opened #3579 "Typo in base package order_command() function"
Missing a '$' ;)

Only relevant if reverse order is activated.

[code]

[2016-10-27 17:10] jar-dev commented on #3579
uhm, sorry wrong place :D

[2016-10-27 17:10] #3579 closed

[2016-10-27 18:30] metalight commented on #3121
+1
This is number 1 issue with FreeRDP!

My keymap layout is defined with xmodmap.
It is a customized "danish-ized" Dvorak layout - it does not exist anywhere as a standard, it is not "danish dvorak".

I have been using this for 12 years.
It is completely ignored by FreeRDP.

I would love to kick the aging and glitching rdesktop - and start using FreeRDP, but this is simply not an option for me no

[2016-10-27 21:09] akallabeth commented on #3551
@realjiangms Does this issue persist when running with ```-glyph-cache```? If not it is #3539

[2016-10-28 01:24] uplusplus commented on #3336
@akallabeth
That was the speed with the first command line.
The error was caused by "/multimedia:decoder:ffmpeg"
My device board is rk3188, support hardware h264 decode.

[2016-10-28 06:17] akallabeth commented on #3336
@uplusplus Ok, I'll have a look at ClearCodec as soon as I have spare time (#3527 is the issue with ```/gfx:rfx```). So either you have success with ```/gfx:avc420``` or ```/rfx``` or you need to write some glue code to access the hardware h264 decoder of your device. (have a look at the functions in gfx.c)

[2016-10-28 06:19] akallabeth commented on #3279
Just for reference, #3527 duplicates this.

[2016-10-28 06:40] akallabeth commented on #3527
@chandramouligoru Just created #3580 to trace the issue a bit further. Could you give it a try and have a look where the decoding aborts?

[2016-10-28 08:07] petterreinholdtsen commented on #3098
Failing to build with OpenSSL 1.1 is now a release critical bug in Debian, see https://bugs.debian.org/828142 .

[2016-10-28 09:30] petterreinholdtsen commented on #3098
A draft patch to gain OpenSSL 1.1 compatibility is now available in the Debian bug report.  I believe it need some more work before it is ready.

[2016-10-28 09:59] akallabeth commented on #3526
@marrowsuck Still failing to reproduce your specific issue. Could you give some example setup to reproduce?

[2016-10-28 10:09] akallabeth commented on #3527
Ok, managed to pinpoint the issue to a specific part of ClearCodec: ```clear_decompress_bands_data``` fails when connecting to windows 8 with ```/gfx:avc420```

[2016-10-28 14:29] aildermi commented on #3498
@akallabeth If you can tell me the approximate location of the code block causing this problem, I can do some tests.

[2016-10-28 16:06] realjiangms commented on #3551
The issue still exists with -glyph-cache.

xfreerdp /v:192.168.3.21:3394 /smart-sizing:800x600 /bpp:32 /gdi:hw -glyph-cache

[2016-10-28 20:10] akallabeth commented on #3498
should be near the location VerifyCertificate et al are called. it tries to find stored certificates first.

[2016-10-28 22:15] fengqi-wang opened #3582 "Android “Bitmap too large to be uploaded into a texture”"
I'm having difficulty to show large remote screens to my local 1080p monitor, with the error "Bitmap too large to be uploaded into a texture". and am curious there is no special code in the Android Freerdp client to handle large Session Bitmap?

[2016-10-29 08:02] akallabeth commented on #3582
limitations are device specific, but there are is currently nothing implemented. resizing the image before upload may help but it costs performance...

[2016-10-31 09:14] uplusplus commented on #2094
@davidleake [16:46:02:586] [23482:23488] [ERROR][com.winpr.library] - GetProcAddress: could not find procedure freerdp_tsmf_client_subsystem_entry: /usr/local/lib/freerdp2/libtsmf-client-ffmpeg-decoder.so: undefined symbol: freerdp_tsmf_client_subsystem_entry
[16:46:02:588] [23482:23488] [ERROR][com.winpr.library] - GetProcAddress: could not find procedure freerdp_tsmf_client_subsystem_entry: /usr

[2016-10-31 10:20] tigerfoot commented on #3461
@FragsterAt I'm tracking the issue at https://bugzilla.opensuse.org/show_bug.cgi?id=1004108
I'm traveling the rest of the week, so I can't promise an update immediately.

[2016-11-01 03:39] LemonZou opened #3583 "clear_decompress failure"
I check out the master git freerdp source code and compiled and run on my ubuntu 16.04 AMD64 PC or ubuntu 14.04 ARMHF platform, the server is win8 or win10, the command line is:
-sec-nla /rfx /rfx-mode:video /codec-cache:rfx /gfx:AVC420 /gfx-h264:AVC420
the error is:
[11:18:29:885] [6180:6189] [ERROR][com.freerdp.gdi] - clear_decompress failure: -1

I follow the code, the error is at clear_decompr

[2016-11-01 12:43] akallabeth commented on #3583
Duplicates #3527

[2016-11-01 12:43] #3583 closed

[2016-11-01 13:59] akallabeth commented on #3098
@petterreinholdtsen Thank you for the update, unfortunately the main issue with OpenSSL 1.1 compatibility is the use of BIO in tls.c and tcp.c. That will need some work.

[2016-11-01 20:30] petterreinholdtsen commented on #3098
[akallabeth]

OK.  I did not notice any build errors in that part, so I did not have a
look.  Glad to know you are on the case. :)

--
Happy hacking
Petter Reinholdtsen

[2016-11-02 01:22] davad commented on #3032
@bmiklautz This is turning into a pain point for a client of mine. What could be done to get this feature added? My client seems to be open to putting up a bounty or hiring someone as a contractor. Would any of the maintainers be open to that sort of arrangement?

[2016-11-02 10:00] bmiklautz commented on #3032
@davad it's quite some work to invest to get this done as it involves several improvements and changes in multiple places. I'd suggest you sent an E-Mail on the mailing list maybe someone got time.

[2016-11-02 12:25] davad commented on #3032
Good to know. Thanks!

On Wed, Nov 2, 2016, 6:00 AM Bernhard Miklautz <notifications@github.com>
wrote:

--

---

David Landry

[2016-11-03 13:50] aildermi commented on #3498
@akallabeth I completely ignored the certificate verification parts, but the problem remained the same. But I managed to trace down the problem. It seems the problem starts at "libfreerdp/core/transport.c" inside `transport_write` function. After `BIO_write` is called, returned value is negative, so `BIO_should_retry` is called and the error message "BIO_should_retry returned a system error 104: C

[2016-11-03 13:53] awakecoding commented on #3422
Even without multimedia redirection enabled, I can observe the same problem with Windows Server 2012 R2. To reproduce the issue, use /gfx when connecting, and play this [big buck bunny video](https://download.blender.org/peach/bigbuckbunny_movies/big_buck_bunny_480p_h264.mov) in Windows Media Player.

[2016-11-03 14:15] awakecoding commented on #3422
I've got a pull request here: https://github.com/FreeRDP/FreeRDP/pull/3584

[2016-11-03 14:57] #3422 closed

[2016-11-03 14:58] bmiklautz commented on #3422
@T3N4K4 could you verify that this fixes your problem? - It's merged to master now and should be in the nightly by tomorrow.

[2016-11-03 14:59] bmiklautz commented on #3491
@DaveCausey could verify that this works on master?

[2016-11-03 19:20] akallabeth commented on #3498
@aildermi Interesting, according to your logcat ```getprop``` in ```winpr_get_unix_timezone_identifier_from_file``` crashes for some reason. Maybe that is the point it starts to fall apart? Could you try to hard code a time zone there and see if it connects then?

[2016-11-03 19:22] akallabeth commented on #3498
@aildermi Oh, the output of ```adb shell getprop persist.sys.timezone``` would be nice to have too.

[2016-11-04 02:25] uplusplus commented on #3422
How to enable the 32bit limitation with gpedit.msc?

2016-07-04 19:44 GMT+08:00 Kai <notifications@github.com>:

[2016-11-04 07:43] T3N4K4 commented on #3422
@uplusplus
Start: gpedit.msc
Go to: Administrative Templates > Windows Components > Remote Desktop Services > Remote Desktop Session Host > Remote Session Environment -> Limit maximum color depth.
There you go.

@bmiklautz It is working, but the input is hanging again when a video is playing. +async-input +async-update do not work here. What /max-loop-time do I have to configure to make it less la

[2016-11-04 08:19] uplusplus commented on #3420
Have the same problem

[2016-11-04 09:26] m-georgi opened #3585 "Unable to build libraries for Android API 15"
Im an unable to use the freerdp-client library on a device running Android API Version 15.
I changed the NDK_TARGET to 15 in scripts/android-build.conf and disabled all BUILD_ARCHs apart from armeabi-v7a.
After building the libraries using scripts/android-build-freerdp.sh and the APK using Android Studio / Gradle I get the following errors upon startup of aFreeRDP:

[code]

Am I missing something

[2016-11-04 14:28] akallabeth commented on #3585
@m-georgi Should work like that.
 * Are you sure the library was rebuild with the appropriate flags? (e.g. did you remove old build files first)
 * Does this also occur when using ```armeabi``` target?

[2016-11-04 18:34] marrowsuck commented on #3526
Hello there! Sorry for the delay.
I have compiled freerdp against the latest checkout from ffmpeg-git. RDP-Hosts are Windows 7 and Windows Server 2008.
[Uploading freerdp_log.txt…]()

[2016-11-04 18:34] #3526 closed

[2016-11-05 01:01] uplusplus commented on #3336
What do you mean about "multimedia redirection is deprecated", Freerdp will not support it anymore?

ref:
Does Windows Server 2012 still support Multimedia Redirection?

Windows Media Redirection still provides the best experience on LAN networks for supported video formats. Windows Server 2012 and Windows 8 automatically detect these conditions and turn on Multimedia Redirection. If these conditi

[2016-11-05 08:09] mikhaXD opened #3586 "Clipboard not working!"
Windows Build 266 from here https://ci.freerdp.com/job/freerdp-nightly-windows/arch=win64,label=windows/lastStableBuild/ , clipboard not working, or working only in one side, from my PC to a RDP, but from rdp to my pc - not working.
Tried many times at different PCs and OS, (from win7 to server 2016 ) - that same result. Without correct clipboard redirection freerdp client is useless.

Fix it plea

[2016-11-05 09:55] akallabeth commented on #3336
@uplusplus Yes, that is the general direction. I'm aware that media redirection is still an option.
You pointed out the disadvantages of GFX (and H264) for that matter, still the problem is
* It is dependent on windows media player
* It requires the client to support multiple formats
* Bandwidth requirements are higher than with GFX options

Of course, if you have a very specific setup in mind it

[2016-11-07 18:57] Antonyaa opened #3587 "Reopening multiple apps not working - consulting opportunity"
Hi there:

I am reopening this issue:

https://github.com/FreeRDP/FreeRDP/issues/3032

in the hope of finding someone who would be interested in solving this problem on a consulting basis. Thank you for pointing me in the right direction.

Regards,
Antony

[2016-11-09 09:07] jaiabishek opened #3588 "Fullscreen mode doesnt work with RPI 3"
i have install freerdp in my RPI 3 using
apt-get install freerdp
installed version: 1.1.0-beta1
os:  raspbian-jessie

when i try to connect an session using /f nothing happens, without /f i am successfully able to connect the session.
can someone help me out.

[2016-11-09 12:13] timoc commented on #3300
I'm currently tracking the xfreerdp nightlies. Is there a way to add this extra HTML log dump as a standard command line feature for this kind of problem  e.g. `/log-level:TRACEDEBUG`
I'm still having issues with this.

[2016-11-09 17:06] Guichard-informatique opened #3589 "Trouble with scrolling-bars"
we have a problem with the full screen of the main window display, scrolling-bars appear on the sides of the window when it is minimized and maximized.
Can you help us ?
thank you

Version: wfreerdp.1.1
parameters: / f / v: host / p: test / u: test
windows 7

[2016-11-10 07:40] akallabeth commented on #3589
@Guichard-informatique 1.1 is a bit outdated, could you give the nightlies a try? They can be found for here: https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2016-11-11 03:06] alex-birch opened #3590 "How do you setup shadow (aka xfreerdp-server) on Ubuntu 16.04"
Hi guys,

Trying to get shadow working on Ubuntu and get RDP via Mac OS X Microsoft Remote Desktop, or FreeRDP client. So far it's not working too well.

From your quality assurance wiki - you state that we need to:

Googling around doesn't tell me how to do that clearly so I have not done this.

When I do log on via remote desktop or freerdp client I get a blank screen.
Can you please provide som

[2016-11-11 09:07] akallabeth commented on #3590
@alex-birch Could you give some details on how you try to connect? From the log I can see you try to activate a lot of additional features (sound et al). Best you try to start with a minimal feature set and work from there.
I've just run a connection attempt without authentication ```freerdp-shadow-cli -auth``` and it works as expected.

[2016-11-11 09:08] akallabeth commented on #3590
Oh, just for reference:
* Debian jessie
* Current FreeRDP master f910bbe7b4d0d6badae4952c4a4613371329b802
* OpenH264 1.6 (for GFX-H264 support)

[2016-11-11 09:11] alex-birch commented on #3590
Hi,

I was trying to get a trial licence but couldn't work out out.

Eventually I realised that you can call vnclicensewiz when you download the
generic Linux package. I don't think the debian one had that file in it?

Either way, the documentation for creating a trial licence for debian Linux
could do with improving, we had to do lots of experimenting to get it
working.

Thanks for your help

On

[2016-11-11 09:12] alex-birch commented on #3590
Apologies, I answered the wrong email thread with this answer. I'll fix
when it back to my computer

On Fri., 11 Nov. 2016 at 8:10 pm, Alex Birch <alex.birch@serraview.com>
wrote:

[2016-11-11 10:39] IT-Alex-2016 commented on #2495
I have this issue with a 2008 R2 Session Host with a 2012 R2 License Server. It is remote sites with the license servers ran centrally, so there is possibility for the WAN link to be down. When this happens any freerdp clients refuse to connect as they don't cache the cal as expected. Thankfully we don't have many of these left as we have been steadily repolacing with rdesktop as this does work co

[2016-11-11 12:19] akallabeth commented on #3585
Master is working, tested the following:
* compiled master (f910bbe7b4d0d6badae4952c4a4613371329b802)
* Tested on x86 and armeabi-v7a targets
* without modification (minimum API 14)
* with API 16 (native and build.gradle modified)

All combinations worked just as expected when starting on device and in emulator.
Therefore closing this issue.

[2016-11-11 12:19] #3585 closed

[2016-11-11 14:46] m-georgi commented on #3585
Alright, thanks for looking into it.
I will try to find out what is going wrong on my system.

[2016-11-11 18:02] nicoulaj commented on #2949
No, I don't, and I tested several mices and several desktop environments on client (GNOME 3, cinnamon, XCFE) and server side (GNOME 2, XFCE).

I'm on Arch Linux by the way (CentOS 6 on server side).

[2016-11-12 20:23] giox069 opened #3592 "Drawing problem with software rendering"
This may be a regression problem after Oct6 big update: running xfreerdp with /gdi:sw I have blue internal background of progress bar in Acronis Backup and Recovery 10 (under Win2008):

![freerdp mail ipablapieve it_012](https://cloud.githubusercontent.com/assets/5477803/20240643/c7615bfe-a91d-11e6-98b7-4911f0c4408a.png)

Using hardware rendering (without /gdi:sw) all is perfect:

![freerdp mail i

[2016-11-12 21:31] giox069 commented on #3592
Also on "File Server Resource Manager" of Windows Server 2008:

broken /gdi:sw
![freerdp mail ipablapieve it_014](https://cloud.githubusercontent.com/assets/5477803/20240975/57560da0-a927-11e6-89e7-6a58ee6e1687.png)

/gdi:hw
![freerdp mail ipablapieve it_016](https://cloud.githubusercontent.com/assets/5477803/20240977/66561822-a927-11e6-824a-bdbcf0b64cd0.png)

[2016-11-13 02:38] ccpp commented on #3300
Please test if the pull request linked above solves the problem for you with any of the command line options "/gt:rpc" or "/gt:http"
If it does, please leave a comment *there*!

[2016-11-14 11:41] giox069 opened #3595 "gdi_polygon_sc: not implemented with /gdi:sw"
I'm able to reproduce it only with remmina on a special Remmna branch called libfreerdp_updates (which is itself not 100% mature): connecting to a windows 2008 server and opening "Shares and Storage Management" it seems that some areas of the screen are not filled, and on the console I get a lot of these errors:
[code]

[2016-11-14 13:26] demarcop opened #3596 "Screen resize does resizes the frame but not the content"
I had been using an older version and it worked great.  I just upgraded my command line switches to the new /size: type switches.   Now the frame is still the correct size, but the content in the frame is considerably smaller than the frame.

Thank you.

[2016-11-14 14:37] akallabeth commented on #3596
@demarcop Could you elaborate? A few details on your setup and versions used are required to answer your questions.

[2016-11-14 14:38] akallabeth commented on #3595
@giox069 you need to deactivate ```POLYGON_SC``` capability in preconnect, it never was implemented.

[2016-11-14 15:23] demarcop commented on #3596
yes.   so I'm doing a xfreerdp /d:domain /u:thatsme /p:'mypass' /size:1920x1025 /v:192.168.1.69
My current version is 1.1.0-beta1
I'm using my work computer as a server running windows.

and unfortunately, the usable screen is actually much smaller than the frame itself.    I'm sorry, but I don't know the prior version. but the command line prior was:
xfreerdp -d domain -u thatsme -p 'mypass' -g 1

[2016-11-14 17:06] akallabeth commented on #3596
1.1.0 is quite old, could you give our nightlies a try?
https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2016-11-14 17:51] demarcop commented on #3596
Works great again.   Thanks.

[2016-11-14 17:51] #3596 closed

[2016-11-14 18:22] danlsgiga commented on #2158
+1

[2016-11-15 07:48] timoc commented on #3300
I will thanks. BTW i am having the same/similar issue using RDP from the command line, with Windows Server 2012 R2 Standard without the gateway. I am still digging into it.

[2016-11-15 21:18] pitatus opened #3598 "Proper way to use .rdp file with gateway"
I am trying to use freerdp through a gateway.  I have built from a recent git clone:
`1.2.0-beta1+android9-3106-gea24c1f`
which is working fine.  I have been given the .rdp file to use, and it works except I am prompted for the gateway credentials on the console before it starts the GUI:
[code]
I have tried to pass these parameters on the command line:
[code]
but then I see a message that it is us

[2016-11-16 08:35] giox069 commented on #3595
It works, after disabling both NEG_POLYGON_SC_INDEX and NEG_POLYGON_CB_INDEX.
Thank you :)

[2016-11-16 08:35] #3595 closed

[2016-11-16 13:08] juniorcesar opened #3599 "RemoteApp mouse pointer doesn't appear"
Hello, I am using xfreerdp through terminal linux for open RemoteApp Application, but the mouse pointer appear with the X when I use the xfreerdp that I compiled.
When I use the xfreerdp downloaded from the repository debian, works correctly.

I tried to open the application with the following code:

xinit /usr/local/bin/xfreerdp  /v:MYSERVER /p:PASSWORDH /u:USER /rfx /f +fonts /cert-ignore /app:"

[2016-11-16 14:30] ccpp commented on #3300
@timoc can you state exactly which "local" problem was solved? my patch addresses gateway-http only!

[2016-11-16 18:27] akallabeth opened #3600 "Refactor HTTP Gateway code"
Currently http gateway code is blocking and does not check input data length before buffer allocation.
#3593 fixes #3300 #3479 but falls short on addressing these issues.

[2016-11-16 18:59] akallabeth commented on #3598
@pitatus 1.2.0 versions have some problems with that, you can try our nightlies for more recent versions. https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds

[2016-11-16 20:52] pitatus commented on #3598
Thanks.  I assume the PreBuilds are based on the most recent merges so getting more recent source should help?  (I need to build from source for an ARM platform).  I'll try the most recent git pull and build from that.

Should I be able to pass the gateway credentials on the command line like I was trying?

[2016-11-17 03:15] uplusplus opened #3601 "How to synchronize audio and video"
I have fixed multimedia redirection with tsmf_ffmpeg,but can not synchronize audio and video, any ideas?

cmdline:
[code]

[2016-11-17 03:59] pitatus commented on #3598
I pulled the recent code and built (`1.2.0-beta1+android9-3119-g1571669`) but still unable to use command line args for gateway credentials:
[code]
if I provide all user credentials on command line so that it doesn't try to guess the user I still get:
[code]
build version
[code]
is there any other unmerged code that may help with this, different build options, or other recommendations?

[2016-11-17 06:35] HenryJacques commented on #3598
@pitatus are you sure you can use `/u:theDomain\theUser` ?
Did you try with `/u:theUser /d:theDomain` ?

[2016-11-17 06:37] ccpp opened #3602 "Gateway connection blocks indefinitely with RDG (/gt:http, /gt:auto)"
There seems to be a timeout when connecting via TDG ("http")
Connection works with /gt:rpc

Here's a log without any /gt argument:

    Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
    [00:29:26:137] [23617:23617] [INFO][com.freerdp.utils] - Registering signal hook...
    [00:29:26:140] [23617:23618] [INFO][com.freerdp.client.common.cmdline] - loading channel clip

[2016-11-17 06:39] ccpp commented on #3602
Breaking usig `gdb`, there are two processes stuck in `WaitForSingleObject`

[2016-11-17 07:54] akallabeth commented on #3598
you should also try master branch, 1.2 is old.

[2016-11-17 10:36] ccpp commented on #3300
#3593 is merged. can this issue be closed? (please test current master branch)

[2016-11-17 14:41] #3576 closed

[2016-11-17 15:44] pitatus commented on #3598
@akallabeth I am using the master branch:
[code]

[2016-11-18 08:20] akallabeth commented on #3598
@pitatus Ah, ok. The base tag from git describe did confuse me. Just looked through the RDP parser, the passwords options are not supported. See ```client/common/file.c```. So this is indeed a bug still there.
As for passing in credentials via stdin, there is the ```/from-stdin``` easing reading from stdin in a script.

[2016-11-18 08:50] T3N4K4 commented on #3518
@akallabeth @bmiklautz still disconnecting with latest master. Is there anything else you need in order to be able to fix this ?

[2016-11-18 12:16] akallabeth commented on #3592
@giox069 Maybe there is another way to diagnose the issue. Could you add logging to the callbacks registered in ```gdi_register_update_callbacks``` and shortly connect to a screen where the color issue occurs? That could narrow down the issue.

[2016-11-18 16:08] jackmcmorrow opened #3604 "How to disable sound?"
Sorry if this is written somewhere else, but I have a problem where a certain program stops sound recording if I RDP into it with sound enabled (even Windows RDP does that). There's a console audio option in the help (-o) but not in the man page, so I searched the web and found no way to be certain sound is disabled in my rdp session.

Can anyone help a brother out?

[2016-11-20 06:36] ShaunMaher commented on #2158
Rail as advanced quite a lot since last I tested it.  Moving windows and menus popping up seems to work well.  Still being killed by lack of clipboard though.

So, +1 I guess.

[2016-11-22 01:41] uplusplus opened #3605 "Which timestamp is SampleStartTime?"
DTS（Decoding Time Stamp）
or
PTS（Presentation Time Stamp）

[2016-11-22 09:27] nebiun opened #3606 "Incomplete g_Subsystem_dummy initialization in libfreerdp/codec/h264.c"
Hi,
Missing value for field Compress in H264_CONTEXT_SUBSYSTEM g_Subsystem_dummy structure.
I suggest to add the new dummy subroutine:

`static int dummy_compress(H264_CONTEXT* h264, BYTE** ppDstData, UINT32* pDstSize,
UINT32 plane)   {  return -1; }`

and modify the initilization code as:

`static H264_CONTEXT_SUBSYSTEM g_Subsystem_dummy =
{
        "dummy",
        dummy_init,
        dummy_unin

[2016-11-22 09:55] nebiun opened #3607 "h264 add libavcodec encoding support"
Hi,
Missing value for field Compress in H264_CONTEXT_SUBSYSTEM g_Subsystem_libavcodec structure.
It is needs to add the code for the libavcodec_compress subroutine.

[2016-11-22 11:21] morphinz opened #3609 "High Network usage over 40 mbit!"
If network bandwidth is less than 40 mbit, xfreerdp dont work well.
I tried 2015-11, 2016-07 and latest versions. I dont know exactly git commit but both version doesn't work good under 40mbit.
The strange part is: i'm watching with network monitor it doesnt really use this much. Without Video & Audio Xfreerdp using under 1mbit for real!
But when i limit network to under 40 mbit, just doesnt work

[2016-11-22 19:23] akallabeth commented on #3609
you need to use gfx or h264 options, but they are currently software decoding only. this means 720p at most on a raspberry, maybe less with smooth video.

[2016-11-22 19:25] deblauwetom opened #3611 "How to exit xfreerdp when connection can not be established or disconnects?"
The subject says most of it :)
With xfreerdp from commit 17834af7bb378f85a3b3cc4dcadaa5125a337e16 which is present in the latest buildroot, I get a different behaviour when the connection is lost in comparison to version 1.0.2. In the old version the program would exit, and I would connect to another server as a backup solution. But now in the newer versions, the program xfreerdp just waits and do

[2016-11-22 19:26] #3605 closed

[2016-11-22 19:26] akallabeth commented on #3605
this is a bug tracker, please use the mailing list or irc for such questions!

[2016-11-23 06:24] akallabeth commented on #3611
the exit behavior should still be the same. which commandline are you using? with /log-level:trace you can also get additional debug output.

[2016-11-23 09:17] chandramouligoru commented on #3300
I am facing the same issue with aFreeRDP client on Android.

11-23 14:42:45.748 14804-16461/com.freerdp.afreerdp V/com.freerdp.core.gateway.ntlm: [pid=14804:tid=9d13a930] - InitializeSecurityContext status SEC_I_COMPLETE_NEEDED [00090313]
11-23 14:42:45.749 14804-16461/com.freerdp.afreerdp E/com.freerdp.core.gateway.rpc: [pid=14804:tid=9d13a930] - CLIENT_OUT_CHANNEL_STATE_NEGOTIATED
11-23 14:42:45

[2016-11-23 13:20] deblauwetom commented on #3611
Thanks for the clarification that it should still work like that! I found what the problem was... The problem was that I was using the feature under "advanced" in virtualbox whereby you can forward ports from the guest OS to the host OS. I was using that to forward port 3389 to 4389. So virtualbox always accepts  connections to 4389, even if the port on the guest OS(3389) is not open. So in other

[2016-11-23 13:20] #3611 closed

[2016-11-23 15:21] akallabeth commented on #3607
libavcodec encoding support is currently not implemented. Use OpenH264 for the time being.
Pull requests for a fix are welcome.

[2016-11-23 15:24] akallabeth commented on #3604
@jackmcmorrow This is an issue tracker, not a support forum. Please use the mailing list or IRC for that.

[2016-11-23 15:24] #3604 closed

[2016-11-23 17:02] nfedera opened #3616 "gfx channel: performance extremely decreased"
I don't have the exact numbers right now but with ```/gfx``` or ```/gfx /rfx``` or ```/gfx-h264``` xfreerdp is slower by a factor of 10 compared to a build from march this year.

Will bisect to find the culprit when I have time ...

[2016-11-23 17:41] nfedera commented on #3616
I quickly bisected only the merge commits and the extreme performance decrease started with the following pull request: https://github.com/FreeRDP/FreeRDP/pull/3500

[2016-11-23 19:55] nfedera opened #3617 "TestFreeRDPCodecPlanar needs too long"
over 7 minutes on the FreeRDP build bot is pretty long for a single ctest

[2016-11-23 19:56] nfedera commented on #3617
maybe TestGdiBitBlt  could be reduced too (15s)

[2016-11-24 07:55] akallabeth commented on #3098
Great news, @nfedera fixed it with #3615

[2016-11-24 08:16] akallabeth commented on #3616
@nfedera Found the culprit. ```freerdp_image_copy``` considers ```PIXEL_FORMAT_BGRX32``` and ```PIXEL_FORMAT_BGRA32``` distinct formats and uses the converting copy functions instead of ```memcpy```

[2016-11-24 09:41] akallabeth commented on #3609
@morphinz You may want to try #3619. It fixes some performance bottlenecks with ```/gfx``` related modes.

[2016-11-24 10:34] bmiklautz commented on #3606
See #3607  for details

[2016-11-24 10:34] #3606 closed

[2016-11-24 10:40] bmiklautz commented on #3609
@morphinz what server are you connecting too? - Depending on the codec and available bandwidth the server (tries) to choose a proper setting. If there is bandwidth available it will be used when required. However you can limit it by using the /network option (this might also influence the codec used from the server). The following options are available:
* modem
* broadband
* broadband-low
* broadb

[2016-11-24 11:09] #3617 closed

[2016-11-24 11:24] ropetry commented on #3616
@akallabeth  WOW.. If this works.. Verry fast .. can´t test at the moment..

[2016-11-24 19:38] xiamianyu commented on #3326
@BrianChangchien
i have the same issue with you, however, i apt-install realpath successfully and clone FreeRDP, run script `./scripts/android-build-freerdp.sh --ndk <ANDROID_NDK> --sdk <ANDROID_SDK>` ，this issue still happens.

**my develop environment configuration**
[code]

**the following is the error log**
[code]

could you tell me what reason is?

[2016-11-25 03:04] realjiangms commented on #3609
You can also try with /rfx. It has full quality image and should cost less than 20mbit

[2016-11-25 09:38] #3616 closed

[2016-11-25 13:05] ztesch opened #3627 "RDP settings are overwritten with unitialized values"
After reading rdp fájl user and gwUser variables are overwrites the settings->Username and settings->GatewayUsername parameters in client/common/cmdline.c:2454
I suggest to modify the code in the following way:
+        if(user) {
                free(settings->Username);

                if (!settings->Domain && user)
                {
                        BOOL ret;
                        fre

[2016-11-25 13:31] akallabeth commented on #3627
@ztesch Could you create a pull for these changes?

[2016-11-25 15:00] ropetry opened #3628 "Slow windows drawing/update if i move with the mouse a powerpoint box - some seconds lag"
Hello, i think i have found an odd behavior in freerdp.

Terminal Server 2008 R2
commandline:
xfreerdp -sec:rdp /f /multimon:force /v:servername

If i draw in Powerpoint an box with the mouse the box appears verry slowly on the screen. if i move the mouse ( still pressed ) and the box gets bigger and smaller i have a timelag of 2-5 seconds.

Same behavior in the freeplane mindmap manager.. moving

[2016-11-27 11:40] grawity commented on #1838
Update – it seems that `+glyph-cache` helps, and `+glyph-cache /gdi:sw` makes Server 2003 work well even with 32bpp (except for the occassional misplaced text).

[2016-11-27 13:26] akallabeth commented on #1838
@grawity good to hear, just to clarify: you're using the old version mentioned or something more recent?

[2016-11-27 13:32] grawity commented on #1838
I test both the distro package and current Git builds. With Arch's 1.2.0_20160606 package, just `/gdi:sw` is enough (it seems glyph-cache is on by default). With today's 2.0.0-dev (git 215fbe8446e9) build, I need to enable both manually. (I've seen the misplaced text already reported in other issues, so I don't mind that.)

[2016-11-27 13:34] akallabeth commented on #3628
@ropetry could you provide a command line to get an idea which operations may be at fault?

[2016-11-27 13:37] akallabeth commented on #3628
sorry, wrong issue, question for you was could you find out which operations are involved in your example? bitblt may have a debug print, but not sure and nowhere near a proper computer.

[2016-11-28 08:25] akallabeth commented on #3628
@ropetry Could you also check, if the issue persists when using ```/gdi:sw```?

[2016-11-28 11:51] ropetry commented on #3628
@akallabeth I will try it as soon as possible.. today no access to the system. But perhaps you could help me in the meantime by explaing your debug wish..
i searched for bitblt in the code and some log lines near it, but didn´t find something i can use.

[2016-11-28 14:02] akallabeth commented on #3628
@ropetry: You connect with 16bit color depth (default) and legacy GDI operations (no RFX/GFX/H264 modes active).
In this mode the drawing is done by ```gdi_BitBlt```, ```gdi_LineTo``` and a few others.
```gdi_BitBlt``` implements a whole lot of subfunctions, which are of different importance for different Windows Server versions.
The current implementation is falling back to a generic (slow) decod

[2016-11-28 14:04] akallabeth commented on #3628
@ropetry If you add a log line in ```BitBlt_process``` printing ```rop``` should be sufficient. Be aware that that will slow down the whole client and write a whole lot of logging.

[2016-11-28 18:57] ruben-herold opened #3630 "Ipv6 from http://pub.freerdp.com/repositories/deb/stretch timeout"
hi,

the Ipv6 from pub.freerdp.com  timeouted since weeks:

ruben@work:[~] > host pub.freerdp.com
pub.freerdp.com has address 212.232.26.215
pub.freerdp.com has IPv6 address 2a02:1b8:badc:ab1e::f8ee

ruben@work:[~] > mtr --report 2a02:1b8:badc:ab1e::f8ee
Start: Mon Nov 28 19:56:35 2016
HOST: work                        Loss%   Snt   Last   Avg  Best  Wrst StDev
  1.|-- kr-net-fw001-v100.dus.via  0

[2016-11-28 19:49] timoc commented on #3300
Cannot currently test with Ubuntu xenial nightly (below).

The last one i have access to at the moment is:

Which may be why i have not seen an improvement since the 11th of Nov? Can you poke someone to fix that and I'll try again?

[2016-11-29 08:40] bmiklautz commented on #3630
@ruben-herold thanks for the report. It is reachable from the other ipv6 hosts I tested from but I'll check with our provider.

[2016-11-29 13:51] ccpp commented on #3300
@timoc  What do you mean by "Cannot currently test"? The .deb files for xenial are there with a current timestamp of 29-Nov-2016 09:09... If it is really a "nightly issue" maybe @awakecoding or @bmiklautz can help?

However, you could download and build directly form github instead, as indicated at https://github.com/FreeRDP/FreeRDP/wiki/Compilation

Important: Do not forget to test wit command li

[2016-11-29 14:08] ccpp commented on #3600
Actually I think there is no place actually reading the response body parsed here. (`application/rpc` data is not read here).
Which would mean that
- The missing part of the HTTP body can be skipped instead of being read (Is this possible w/ OpenSSL BIOs?)
- Field `BodyContent` can be removed from `struct _http_response`

[2016-11-29 15:43] Infinality commented on #2707
Here is a really messy workaround that seems to work for me in KDE Plasma.

- Launch some lightweight X program of something you'll never use, like xclock:  xclock&
- Go to the System Settings / Window Rules and create a new rule for xclock.  Set it under "Size & Position" to "Force" to your multiple monitor setup's full width and height, "w,h".  Under "Appearance & Fixes" set "No titlebar and fra

[2016-11-29 17:34] timoc commented on #3300
Obvious race condition :)
I've just run an apt update, and got this package update:

Then i re-used a command from yesterday:

And **it worked**! thanks for all the good work!

So asked me for password for the Gateway, and for the first time, asked me for the password to the server. Then spun up the connection for a few minutes, and it all looks good.

FWIW, I think this issue is also related to t

[2016-11-30 07:10] MrCsabaToth opened #3631 "aFreeRDP: unable to connect because of negotiation problems"
I compiled aFreeRDP smoother than ever following the steps required.
When trying to connect to the test connection already listed from a debugged app I get:

http://pastebin.com/U7Lwbc4q

I set up an RDP provided by a VirtualBox VM (VirtualBox feature). Authentication method is set to null.

http://pastebin.com/HyX7kdGA

At the same time, if I install FreeRDP from the Android store, I can connect

[2016-11-30 07:57] akallabeth commented on #3300
good to know it works for you now.

[2016-11-30 07:57] #3300 closed

[2016-11-30 08:14] akallabeth commented on #3631
@MrCsabaToth Are you using the android emulator or are you using a device shipping OpenSSL? I've seen some broken library loading behavior just yesterday preferring system provided libraries over application provided ones when using ```dlopen```. Still investigating how that can be solved.

[2016-11-30 09:47] T3N4K4 commented on #3518
Still disconnecting with latest master (e60d0d529a3a436368b17915bab0ccbd648fe990)

[2016-11-30 13:19] ropetry commented on #3628
@akallabeth : spent some time this morning to answer your question but i think i can´t answer your questions deeper 8-(..for the moment. perhaps you can take me a little bit further..

i started with a fresh checkout from master ( last commit e60d0d5) and added some wlog debug stuff in the bitmap.c and gdi.c
gdi_bitBlt gets a new line with
WLog_INFO(TAG,  "DEBUGDH initialize gdi_BitBlt function");

[2016-11-30 14:03] ropetry commented on #3628
@akallabeth : sorry i have to re-edit this 3 times. now the comments and logs are valid.

[2016-11-30 14:40] akallabeth commented on #3628
@ropetry Please compile with some optimisations (just use Release build). This speeds things up a lot. As for your debug messages, better place is (as mentioned before)  ```BitBlt_process``` printing ```rop``` (which is already a string there) is sufficient.

As you mentioned that it is also quite slow when using default settings, you can try the following options:
* Different color depths ```/bpp

[2016-11-30 15:38] ropetry commented on #3628
@akallabeth : thanks again.. sorry i missed the old line with your hint to the right function to add the debug line. Did it now and i see this behavior:
I have to use the gdi:sw switch again to see the debugs..
here are the outputs with gdi:sw enabled and doing powerpoint box drawing.

[16:13:01:910] [29890:29892] [INFO][com.freerdp.gdi.bitmap] - DEBUGDH initialize BitBlt_processROP= DPx
[16:13:02

[2016-11-30 16:11] bmiklautz commented on #3630
@ruben-herold should work again. Sorry for the inconvenience.

[2016-11-30 16:11] #3630 closed

[2016-11-30 16:47] MrCsabaToth commented on #3631
@akallabeth I debugged on my Galaxy Note 3. Tonight I'll check how it runs in the emulator. I'll also look how well the OpenSSL compiled. I see the `ndk` lib (`com.freerdp.core.nego`) which spits the `SSL_CERT_NOT_ON_SERVER`. How can I check which OpenSSL is loaded? As I mention, the Android store FreeRDP works fine, I noticed though that it has a top menu bar while the compiled one doesn't.

I'm

[2016-11-30 17:58] bjcollins commented on #3412
I have done some research here and have some comments/opinions on workarounds/solutions:

1. I think the licensing code that @ondrejholy  is working around in the commits referenced here will be needed as the code will be hit whenever there is a need for a new/updated license. The problem is that freerdp relies on RC4/MD5 from openssl and these algorithms are disallowed in openssl on RHEL6/7 with

[2016-11-30 18:45] ondrejholy commented on #3412
Sorry, I had to stop working on that due to other issues, however, I will add a quick note. Yes, it is possible to use RC4/MD5 from OpenSSL even with fips=1 and I agree that it is ok for licensing code, because it is not relevant to security, and probably also the same for the certificate validation. It can be done over EVP_ functions (which needs to be used due to OpenSSL 1.1.0 anyway) thanks to

[2016-11-30 19:47] bjcollins commented on #3412
@ondrejholy Thanks for the info about the openssl override. It seems like overriding the particular cases deemed acceptable from a security standpoint would be the way to go. I would think freerdp should have a fips specific command-line argument to make sure openssl is in fips mode, force "/encryption-method:FIPS", force "-sec-nla" for now, and override crypto algorithms if absolutely necessary a

[2016-11-30 20:03] Nikita352 commented on #3588
Hello
Do you have solved your issue?
I have same issue and when I try to connect an session /f nothing happens. Full Screen Mode works only a session is opened without this option and push on Ctrl + Alt + Enter for put in Full Screen.

Many Thanks

[2016-12-01 01:29] sunweaver opened #3632 "wlog.1 man page: several issues"
I: libwinpr2: spelling-error-in-manpage usr/share/man/man1/wlog.1.gz informations information

Reported by Debian's lintian tool. The word information does not have a plural form in English.

[2016-12-01 01:29] sunweaver commented on #3632
and another one...

I: libwinpr2: spelling-error-in-manpage usr/share/man/man1/wlog.1.gz serie series

[2016-12-01 01:30] sunweaver commented on #3632
W: libwinpr2: manpage-section-mismatch usr/share/man/man1/wlog.1.gz:5 1 != 13
N:
N:    A man page usually should contain a .TH header, specifying the section.
N:    The section in this manpage doesn't match with the section in the
N:    filename.
N:
N:    Refer to the groff_man(7) manual page and the man(1) manual page for
N:    details.
N:
N:    Severity: normal, Certainty: certain
N:
N:    Check

[2016-12-01 01:31] sunweaver opened #3633 "spelling errors in libfreerdp / libfreerdp-client / libfreerdp-server"
I: libfreerdp-client2: spelling-error-in-binary usr/lib/x86_64-linux-gnu/libfreerdp-client.so.2.0.0 enought enough
I: libfreerdp-client2: spelling-error-in-binary usr/lib/x86_64-linux-gnu/libfreerdp-client.so.2.0.0 eror error

I: libfreerdp-server2: spelling-error-in-binary usr/lib/x86_64-linux-gnu/libfreerdp-server.so.2.0.0 enought enough

I: libfreerdp2: spelling-error-in-binary usr/lib/x86_64-l

[2016-12-01 05:25] MrCsabaToth commented on #3631
Here is my debug apk, simply renamed to apk.zip (so it's not double zipped, just renamed). You can see this way if internally things built and linked as expected.
[aFreeRDP-debug.apk.zip](https://github.com/FreeRDP/FreeRDP/files/623731/aFreeRDP-debug.apk.zip)

I'm trying to repro with an emulator, but apparently I cannot run an x86 AVD emulator instance while VirtualBox is running, which is a prob

[2016-12-01 05:38] MrCsabaToth commented on #3631
The emulator had similar problem with the test server:

http://pastebin.com/Cz8apm7v

Now I notice the library load error of libjpeg and openh264. This reminds me that I went with r10e-rc4 NDK, following the aFreeRDP recommendation so there would be H264 support. r10 NDK is kinda old, maybe H264 is not important for me, would you advise to update my NDK?

[2016-12-01 07:19] akallabeth commented on #3588
unfortunately raspberry pi packages are quite old. we currently do not provide builds for arm based systems, so the only way is compiling from source.
there is an update due for debian sid, so you can also build the source package.

[2016-12-01 07:27] akallabeth commented on #3631
your apk looks good. if you want to use h264, you just need to set the variable in scripts/something.conf to 1

[2016-12-01 07:28] akallabeth commented on #3631
you can use any ndk you like btw

[2016-12-01 07:36] MrCsabaToth commented on #3631
I was using r10e because of this: https://github.com/FreeRDP/FreeRDP/blob/master/docs/README.android#L17
I only followed this guide, `android-build-freerdp.sh` seemed to take care of everything. Should I install any `-dev` package mentioned in the desktop compilation docs? https://github.com/FreeRDP/FreeRDP/wiki/Compilation

[2016-12-01 08:02] akallabeth commented on #3631
Ah, ok ^^
That needs some update.

[2016-12-01 09:06] akallabeth commented on #3631
@MrCsabaToth Oh, and your question regarding OpenSSL: Currently there is no check implemented, but you can easily add a ```WLog_INFO(TAG, "OpenSSL_Version=%s", SSLeay_version())```

[2016-12-01 09:46] akallabeth commented on #3631
@MrCsabaToth Ok, tried it myself now. You need to disable ```async transport``` and ```async update``` in debug settings. Apart from that I was able to connect to VirtualBox provided RDP stuff.

[2016-12-01 10:01] akallabeth commented on #3628
@ropetry Ok, so it is not an issue with the ```BitBlt``` options. The one you posted in the logs is using X11 accelerated operation with ```/gdi:hw``` (default if ```/gdi:sw``` is not specified)
So to further debug this:
* Could you post the output of```xfreerdp /buildconfig```?
* Could you add debug options in ```gdi_opaque_rect```, ```gdi_multi_opaque_rect```, ```gdi_line_to```, ```gdi_polyline`

[2016-12-01 11:15] bmiklautz commented on #3599
@juniorcesar when compiling did you have the Xcursor development files installed (libxcursor-dev on Debian/Ubuntu). My guess would be that you miss those.

[2016-12-01 11:20] bentinata opened #3634 "What's "Property 347"?"
xfreerdp always log:
[code]

[2016-12-01 12:32] juniorcesar commented on #3599
@bmiklautz  Thanks for your help!

I installed the libxcursor-dev, I compiled and tested but doesn't works.

In the moment that I set the parameters, I received that libxCursor was found.

It is necessary set the same parameter for enable cursor?

![screen shot 2016-12-01 at 10 15 36](https://cloud.githubusercontent.com/assets/2955629/20794077/633a6998-b7b1-11e6-9d05-5a2a44150e7d.png)

[2016-12-01 13:10] ropetry commented on #3628
@akallabeth O.K. Thanks for those infos. If you want to see the problem have a look at //videobin.org/+ex4/iqu.html .
What do you want to add.. Just a info from the function ?like
WLog_INFO(TAG, "DEBUGDH initialize gdi_opaque_rect");
in the beginning of each function ?

The output of the /buildoptions and debug session is here: i hope pastebin is o.k..

http://pastebin.com/seRwN8nm

[2016-12-01 13:16] ilammy commented on #3634
347 is the value of an atom with the name of some X11 property. This warning is printed from `xf_GetWindowProperty()` in client/X11/xf_window.c. You can use something like this to print the actual name of the property:

[code]

Unfortunately, atom values are not fixed, they are specific to your client machine, so I have no idea what that property is :(

[2016-12-01 13:48] bmiklautz commented on #3599
@juniorcesar two questions:
* does it work if you run it within a regular window manager (in a already started X session not with xinit)
* does it work if you don't use remote app (just connect to a server)

[2016-12-01 13:56] juniorcesar commented on #3599
@bmiklautz  Yes, works in both cases;

Only doesn't works, if I use with xinit.

[2016-12-01 14:59] akallabeth commented on #3628
@ropetry Ok, that's it. No I know which functions are invoked. ```gdi_opaque_rect``` definitely needs some speedup, but you have the laggy behavior with ```/gdi:hw``` too? That is indeed buzzling, because the X11 version uses ```XFillRectangle``` which should be really fast...

[2016-12-01 15:29] juniorcesar commented on #3599
@bmiklautz I need to use the FreeRDP with xinit, because my devices doesn't have space in the disk to install window manager!

If I install the FreeRDP through repository Debian, works the mouse cursor. But the screen resolution doesn't works correctly.

If I compile works fine the resolution. Only the X cursor thats not working!

Do you have some sugestion than be?

[2016-12-01 20:22] MrCsabaToth commented on #3631
Oh, that sounds excellent. I'll try it tonight.

[2016-12-02 02:48] Okloks commented on #998
@bmiklautz, granting cmd to whitelist doesn't work.
Allowing launching all apps remotely is not secure solution.
Win server 2008 R2 x64

[2016-12-02 02:49] Okloks commented on #595
@sunds, publishing cmd doesn't work.
Allowing launching all apps remotely is not secure solution.
Win server 2008 R2 x64

[2016-12-02 04:35] uplusplus commented on #3601
fixed.

[2016-12-02 04:35] #3601 closed

[2016-12-02 07:14] bentinata commented on #3634
Thanks. That code location really help.

[2016-12-02 07:14] #3634 closed

[2016-12-02 07:33] MrCsabaToth commented on #3631
I tried, finally I turned the other two async option off also, and switched the DEBUG log level to TRACE. I still cannot connect to the RDP of my VirtualBox, although I can connect to it with Remmina or the Adnroid Store app. I'm running the VM on my localhost and doing a adb reverse proxy to my tethered debug phone.

http://pastebin.com/WZYksSS5

Does this part look fine?

The RDP of the VM is se

[2016-12-02 07:39] MrCsabaToth commented on #3631
Same with the freerdp test connection.
http://pastebin.com/wQz0UCsa

What am I doing wrong?

[2016-12-02 08:01] akallabeth commented on #3631
@MrCsabaToth The async modes are a bit flaky (#3238 and others) and the android client needs to cut some rough edges. As for your setup I have actually no further ideas. Did you check the OpenSSL version actually used?

[2016-12-02 08:04] #3632 closed

[2016-12-02 08:04] #3633 closed

[2016-12-02 08:31] akallabeth commented on #3518
@T3N4K4 Currently busy, will get back to this one soon. I've recreated a setup to reproduce. Need to narrow it down to a minimal command line otherwise the code paths to check is just too many.

[2016-12-02 08:37] ropetry commented on #3628
@akallabeth Glad to hear that you now know the place where the sloweness could appear in gdi:sw mode.. normally we don´t use this gdi:sw mode so you are right it should work via the faster XFillRectangle function.
Anything we can try to debug the gdi:hw mode ? if i use the old git version and gdi:hw it is fast. with the new git version it is slow.. same thinclient, same os.. just an other xfreerdp

[2016-12-02 09:27] akallabeth commented on #3628
@ropetry Yes, I know about the huge pull (that one is on me). With ```/gdi:hw``` nothing should have changed in regard to performance. ```/gdi:sw``` on the other hand has been (mostly) rewritten and therefore some issues were expected. So maybe we're missing something here.

[2016-12-02 10:42] akallabeth commented on #3588
Closing for now, reopen if the bug is still there on newer versions.

[2016-12-02 10:42] #3588 closed

[2016-12-02 13:42] ropetry commented on #3628
@akallabeth 2 hours later i have some news 8-).. I checked again several commits and i think i have found the issue for the /sw:hw lag.
i compiled the following commits and did my test:
267dea9
071b79a
06a04a0
f5a6645
All o.k . The bad thing happened with commit
a6f4117
it lags.. xfreerdp /sec:rdp /f /multimon:force /gdi:hw /v:servername
if i add this option -max-loop-time:1000 it´s better.
perhap

[2016-12-02 14:22] akallabeth commented on #3628
@ropetry Ouch, that hurts. So we have contradicting requirements, great :/

[2016-12-02 14:26] ropetry commented on #3628
@akallabeth yes.. perhaps someone will have a good idea over the wekend 8-).. at the moment my users use the /rfx and the max-loop-time:1000 options and i will see if i get complains next week.

[2016-12-02 17:07] martinvonwittich opened #3639 "Supplying passwords via command line argument (e.g. /p:<password>) is broken by design"
The currently recommended method to pass passwords to FreeRDP seem to be several command line arguments that take the respective password as an argument, as documented in the usage text:

<pre>
martin@dogmeat ~/src/FreeRDP % ./client/X11/xfreerdp | grep -i pass
    /pth:<password hash>        Pass the hash (restricted admin mode)
    /p:<password>               Password
    /gp:<password>

[2016-12-02 17:09] MrCsabaToth commented on #3631
This might be #3498 related, I have Galaxy Note 3 (my OnePlus 3t is on the way to me, it will be a salvation, my Note 3 is also Verizon, which has it's own added security policies and stuff). I'll keep you updated and check OpenSSL version too. The async transport is also a build configuration option? Maybe I should disable it there?

[2016-12-02 21:25] MrCsabaToth commented on #3498
@aildermi Do you think this is related? See `BIO_should_retry returned a system error 32: Broken pipe`
http://pastebin.com/wQz0UCsa
I have a Verizon Galaxy Note 3

[2016-12-02 21:30] hardening commented on #3628
Well I really think there's no contradiction that https://github.com/FreeRDP/FreeRDP/pull/3364 gives that behaviour. If we treat inputs at a higher rate but the client side rendering is too slow, then we see the observed behaviour. When treating inputs generates a lot of rendering then we get stuck (like in the video when dragging makes the server re-render), I'm not sure how we can deal with this

[2016-12-02 23:18] msillence opened #3641 "Seems to connect but have blank screen which exits after a few seconds"
Systems: debian stable to windows 10
I enter my password and it pops up a blank window for around 10 seconds and then the window closes.

It seems to work OK when I'm on the same network but not from a VPN.
I don't see anything wrong with the vpn network, I can telnet onto the port etc, works using windows via the similar vpn system (cisco openconnect client) - the vpn client runs on the OS.

Test

[2016-12-03 09:49] ccpp commented on #3300
@timoc What happens if you omit the `/gt:rpc` flag? If you run into something like a timeout, please help me getting some attention to issue #3602 by posting a comment... :)

[2016-12-04 07:09] msillence commented on #3641
Actually further testing and I see similar connection problems on other protocols, I'm guessing more of a network issue so I'll close this.

[2016-12-04 07:09] #3641 closed

[2016-12-04 16:23] ilammy commented on #3639
How environment variables are any different from sanitized command line arguments from the security standpoint? They are also (usually) readable from `/proc/pid/environ` by any process with the same EUID, they are also susceptible to the same race condition if they are unset at some later point, and the user also needs to consciously avoid spilling them into their shell history. The files with pla

[2016-12-04 21:16] timoc commented on #3300
Not sure if it timed out or not, but it did lock my system up and force me to hard shutdown. Will try again in a few more nightlies.

[2016-12-05 06:22] realjiangms commented on #3590
It might be the h264 issue. Try with mFreerdp on MAC without gfx-h264 option.
Last time when I play with 'Mac OS X Microsoft Remote Desktop' it had not supported h264 yet

[2016-12-05 08:17] T3N4K4 commented on #3518
The minimal line I've figured out is:
/opt/freerdp/bin/xfreerdp "/u:USER" "/p:PASSWORD" "/d:WINDOWS.LOCAL" /v:SERVER /rfx /sound:sys:pulse /cert-ignore

The latest error message is:
`[09:11:01:263] [20566:20567] [ERROR][com.freerdp.core.fastpath] - FASTPATH_UPDATETYPE_SURFCMDS - update_recv_surfcmds() - -1
[09:11:01:263] [20566:20567] [ERROR][com.freerdp.core.fastpath] - fastpath_recv_update_data:

[2016-12-05 08:19] akallabeth commented on #3639
@martinvonwittich The password handling from stdin is currently implemented for passwords (user and gateway) only. A pull extending that functionality to the other authentication tokens would have my vote for a merge.
To your suggestion with environment variables:
As @ilammy already pointed out from a security standpoint they can be considered the same as passing them via command line, aka VERY in

[2016-12-05 09:59] uplusplus opened #3642 "ClearCodec failed"
log:
[code]
sequence:

create clear context  0x00007f036101d9f0
udpate VBarStorage at 0,1,2 .... 90
delete clear context 0x00007f036101d9f0

create clear context  0x00007f0362e0e410
update VBarStorage at 0,1
use VBarStorage at 92  ---> wrong

The vBarIndex(92) is too large, perhaps from clear context 0x00007f036101d9f0,
while context 0x00007f036101d9f0 has been deleted...
@akallabeth

[2016-12-05 10:12] uplusplus commented on #3642
92=90+2 :--)
The VBarStorage should not be free in clear_context_free.

[2016-12-05 11:06] akallabeth commented on #3642
@uplusplus Did you find the solution for your problem or why did you close the issue?

[2016-12-05 11:19] uplusplus commented on #3642
I move VBarStorage into a new struct:
struct _CLEAR_CONTEXT_STORAGE{
	UINT32 VBarStorageCursor;
	CLEAR_VBAR_ENTRY VBarStorage[CLEARCODEC_VBAR_SIZE];
	UINT32 ShortVBarStorageCursor;
	CLEAR_VBAR_ENTRY ShortVBarStorage[CLEARCODEC_VBAR_SHORT_SIZE];
	CLEAR_GLYPH_ENTRY GlyphCache[4000];
};

Create a global var:
static CLEAR_CONTEXT_STORAGE gClearContextStorage={0};

struct _CLEAR_CONTEXT
{
	BOOL Compres

[2016-12-05 20:50] msillence commented on #3641
tracked it down to the MTU setting see:
https://bbs.archlinux.org/viewtopic.php?id=200183

[2016-12-06 10:19] hardening commented on #3628
Some thoughts about that bug: latency is the delay that is observed between an action and its feedback.
In our case we would like to have a measurable feedback of the mouse move action, in the ideal case we would render what is the consequence of the mouse move, and while doing this we would stop treating inputs (so not flooding the server with mouse moves, that generates frames that we don't want

[2016-12-06 11:02] uplusplus opened #3644 "ERRINFO_GRAPHICS_SUBSYSTEM_FAILED"
server: Hyper-V server with vGPU enabled.
client: ubuntu x64

command line:
xfreerdp /u:admin /p:123456 /w:1366 /h:768 /v:10.1.45.30:3389 /rfx /gfx-h264

log:
[18:15:44:349] [27065:27066] [INFO][com.freerdp.core] - ERRINFO_GRAPHICS_SUBSYSTEM_FAILED (0x0000112F):The server-side graphics subsystem is in an error state and unable to continue graphics encoding.
[18:15:44:349] [27065:27066] [ERROR][com

[2016-12-06 11:08] uplusplus commented on #3642
@akallabeth
Did you test my patch or do you have any ideas about the mosaic?

[2016-12-06 14:45] akallabeth commented on #3642
@uplusplus Didn't test but the bug is already registered here #3527

[2016-12-06 14:49] akallabeth commented on #3518
@T3N4K4 So ```/rfx``` and ```/sound``` are required? Does it also happen without sound?

[2016-12-06 15:10] akallabeth commented on #3644
@uplusplus looks like your server setup has issues. Does it work with other clients and H264?

[2016-12-06 15:45] akallabeth commented on #3642
@uplusplus Does https://github.com/akallabeth/FreeRDP/tree/codec_fix fix your issues?

[2016-12-06 23:46] sphaugh opened #3645 "Can't connect to a RHEL 7.3 host running Xrdp (protocol security negotiation failure)"
I checked that the DNS correctly resolves the hostname and the daemon is running on the host. I haven't seriously tried tinkering with the configuration yet but I did have `xfreerdp localhost` working. Please let me know what diagnostics I can provide.

[2016-12-06 23:55] sphaugh commented on #3645
[code]

[2016-12-07 07:59] akallabeth commented on #3645
@sphaugh You might want to try out different settings for ```/sec:<rdp|tls|nla|ext>```. If that does not help some info about your client version would be greatly appreciated ;)

[2016-12-07 08:03] akallabeth commented on #3631
@MrCsabaToth Async transport is badly broken as #3238 suggests ;)

[2016-12-07 08:16] akallabeth opened #3646 "OpenSSL library conflicts"
Current android builds ship OpenSSL but the android library loader always prefers system provided libraries.
This leads to undefined (outdated) versions of OpenSSL being used

[2016-12-07 11:36] trlopes1974 opened #3647 "Opened rdp session does not appear in taskbar"
Hi.
xfreeRdp Session is established but Connection Window does not appear in "Window List Buttons" on panel .
If you take another window in front of the RDP Window, you can only access it via ALT+TAB. Window Reference Button does not appear in panel "Open window button list"
see attached image for better understanding.
![axfreerdpmissing](https://cloud.githubusercontent.com/assets/16724800/2096630

[2016-12-07 12:31] akallabeth commented on #3647
@trlopes1974 Could you provide some basic information as which version of FreeRDP you're using, which OS, etc?

[2016-12-07 13:02] akallabeth commented on #1546
Any news on this one, is it still not working?

[2016-12-07 13:11] trlopes1974 commented on #3647
Latest version compiled from source on redhat 7.3

Em 07/12/2016 12:31 p.m., "akallabeth" <notifications@github.com> escreveu:

[2016-12-07 13:17] akallabeth commented on #3647
@trlopes1974 And your compile options? This looks like an issue with some source dependency.

[2016-12-07 13:20] akallabeth commented on #584
Closing due to being ancient. If you encounter this issue with current builds feel free to reopen.

[2016-12-07 13:20] #584 closed

[2016-12-07 16:25] juniorcesar opened #3649 "How to create installer .deb FreeRDP"
Hi, how to create an installer .deb of FreeRDP?
I already create with checkinstall on debian, but I can't create with libraries dependences!

Thanks!

[2016-12-07 16:32] bmiklautz commented on #3649
@juniorcesar that's not really something related to FreeRDP more on "howto build a .deb package".
However have a look to packaging/deb/freerdp-nightly. Those are the files we use for our nightly packages (https://ci.freerdp.com/job/freerdp-nightly-binaries/) we build.
You can also have a look to the package that might be integrated in Debian soon (https://anonscm.debian.org/cgit/pkg-remote/freerdp

[2016-12-07 16:32] #3649 closed

[2016-12-08 01:18] uplusplus commented on #3644
Do you know how to setup h264 option of mstsc?

[2016-12-08 09:26] akallabeth commented on #3644
@uplusplus Don't have a Hyper-V setup around, but the H264 options `` /gfx:avc420``` and ```/gfx:avc444``` work (where supported) with windows 8.1, 10 and the server variants. (your command line is a alias for ```/gfx:avc420```). From that I conclude that it is most likely missing support for something server side, but to be sure a test with a different client (mstsc?) would be required.

[2016-12-08 10:17] sbsa opened #3650 "auto-reconnect not work."
Client: Ubuntu 14.04 x64 FreeRDP version 2.0.0+0~20161207024949.319~1.gbpd1e0d4
Server: 2008 r2
[log.txt](https://github.com/FreeRDP/FreeRDP/files/639083/log.txt)

[2016-12-08 10:43] akallabeth commented on #3650
@sbsa authentication failure? Does the connection work at all? Please provide some basic information. The basics are explained here https://github.com/FreeRDP/FreeRDP/wiki/BugReporting

[2016-12-08 11:31] sbsa commented on #3650
xfrerdp running in terminal with params: /v:192.168.1.5 /u:Administrator +auto-reconnect /log-level:DEBUG
I test the auto-reconnection function using: iptables -A INPUT -s srv_ip_address. When xfreerdp ends timeout I allow connection via iptables -D INPUT -s srv_ip_address. Thereafter freerdp makes another attempt to reconnect and falls.
sorry for my English )

[2016-12-08 15:12] akallabeth commented on #3647
Just compiled freerdp on CentOS 7, working as expected. @trlopes1974 Have a look that the compile time dependencies are all there and rebuild your client. If you still have problems use the mailing list or IRC for support.

[2016-12-08 15:12] #3647 closed

[2016-12-08 15:24] kefir- commented on #455
This still appears to be an issue on Ubuntu 16.04. It'd be nice if there were some way to define and send special key combos. Most other similar software I've seen have that, like VirtualBox, other VNC clients, and other remote console applications.

[2016-12-08 20:54] sphaugh commented on #3645
@akallabeth No dice :(

Doesn't work, fails with log above:
[code]

Does work for localhost and FQDN:
[code]

[code]

Thoughts?

[2016-12-08 21:51] rctan commented on #107
Which first stable version after 0.7.3 of the FreeRDP will work with Smartcard, 1.0, 1.1? My customer is using FreeRDP 0.7.3. I know this version does not work with Smartcard after reading the mailing list. My platform is RHEL 5.2 (Linux kernel 2.6.18 32-bit) with Windows 7 Pro 64-bit. Thanks!

[2016-12-08 22:44] sphaugh commented on #3645
@akallabeth Had to do

[code]

Maybe y'all should consider adding this as a post-install hook if possible. Either way, I'll leave this for you to disposition and close.

[2016-12-08 22:46] #3645 closed

[2016-12-09 07:22] uplusplus commented on #3642
@akallabeth yes, great.

[2016-12-09 07:38] uplusplus commented on #3644
@akallabeth Does your server enable vGPU?
I dont kown how to setup h264 with mstsc,so how to test with mstsc....

And Chrome can not work on virtual desktop with vGPU enabled.
I have test with win7/8/10.
It seams that it is a bug of hyper-v server.

[2016-12-09 08:49] akallabeth commented on #3644
@uplusplus Ok, closing this issue since you're experiencing configuration issues. If this is a real bug, please reopen. For support questions use the mailing list or IRC channel.

[2016-12-09 08:49] #3644 closed

[2016-12-09 12:20] trlopes1974 commented on #3647
Working as expected??? I'm using RH, not CentOS I'm pretty sure it is not exactly the same.
Is this the proper way to followup a bug report?
I have sent-you the compile options and messages. If you are not going to follow up on this, just tell-me so I can raise another issue !

[2016-12-09 12:22] trlopes1974 commented on #3647
cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSE2=ON -DWITH_MBEDTLS=ON -DWITH_CUPS=ON -DWITH_DIRECTFB=OFF -DWITH_X264=OFF -DWITH_IPP=OFF -DWITH_XFIXES=ON -DWITH_XRENDER=ON -DWITH_XEXT=ON -DWITH_XCURSOR=ON -DWITH_X11=ON -DWITH_SERVER=ON -DWITH_XFIXES=ON -DWITH_XDAMAGE=ON -DWITH_XINERAMA=ON -DWITH_XRANDR=ON -DWITH_XEXT=ON
-- FreeRDP GIT
-- Git Revision n/a
-- GCC default symbol visibility: hidden
-- Skippi

[2016-12-09 13:39] akallabeth commented on #3647
@trlopes1974 CentOS is Redhat (without the copyrighted stuff). System and library versions match. Since it is working on a (newly) set up system it is probably a compile time issue and therefore this tracker is not the right place for it.

As a hint, try a build with a minimal set of custom CMake options and check what actually was detected by cmake (```ccmake``` is a very good tool for that)

[2016-12-09 13:46] bmiklautz commented on #3647
@trlopes1974 first of please be **more polite** @akallabeth spend his time to have a look at your issue! We don't have a Redhat installation for testing and until now CentOS did just fine for testing.

Secondly it would be great if you filed an proper bug report. It's great that you configuration and compilation time but it's not helping very much. Have a look to https://github.com/FreeRDP/FreeRDP

[2016-12-09 14:54] trlopes1974 commented on #3647
Great, that's a start, not closing just stating that is working

Em 09/12/2016 1:46 p.m., "Bernhard Miklautz" <notifications@github.com>
escreveu:

[2016-12-09 15:00] T3N4K4 commented on #3518
@akallabeth all of those tests are documented above I guess.
In my tests /rfx without sound worked and /sound without /rfx

[2016-12-09 15:51] trlopes1974 commented on #3647
[pt051840@oc1830252112 FreeRDP-master]$ uname -a
Linux oc1830252112 3.10.0-514.el7.x86_64 #1 SMP Wed Oct 19 11:24:13 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux
[pt051840@oc1830252112 FreeRDP-master]$ lsb_release
LSB Version:	:core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1-amd64:printing-4.1-noarch

[2016-12-09 19:23] ccpp commented on #3602
Hi again. Am I the only one?

I found a strange issue while trying to update my other pull request: all the `rdg_*_connect` functions have a parameter `hostname` but never actually read the that hostname for anything, let alone use it for establishing a connection. Is this on purpose or is this a bug?

[2016-12-11 08:17] MrCsabaToth commented on #3631
News: my OnePlus 3t also cannot connect to the test freerdp connection, but it can connect to my local VirtualBox VM RDP server (with async update and async transport off) . So there's something with the Note 3.

[2016-12-11 17:39] jcrespo-asg opened #3651 "Multiple remote apps not sharing session"
Hello,

When using the below rdp files on windows the sessions created on the server (windows server 2012 r2 native remote apps) are the same, so both applications run under the same session. But when using freerdp every connection creates a new session on the server. I am not sure if it is a bug or if I am doing something wrong, as per my understanding it should behave the same as native remoteAp

[2016-12-11 18:12] akallabeth commented on #3631
@MrCsabaToth Ok, good to know. As far as I know ```test.freerdp.com```` is no longer operating. As for success/failure on the devices it now is really down to the OpenSSL version used.
Therefore closing this issue and tracking the OpenSSL related stuff with #3646

[2016-12-11 18:12] #3631 closed

[2016-12-11 18:26] akallabeth commented on #3651
Duplicate of #3032

[2016-12-11 18:26] #3651 closed

[2016-12-12 06:05] aaroncowie commented on #1327
Is multitouch support still not available for the windows freerdp client?

[2016-12-12 08:05] MrCsabaToth commented on #3646
@akallabeth , where would you put the `WLog_INFO(TAG, "OpenSSL_Version=%s", SSLeay_version())`?

[2016-12-12 08:13] akallabeth commented on #3646
@MrCsabaToth Can be done anywhere in aFreeRDP native code, a good place called whenever a connection is created is ```jni_freerdp_new```